---
id: 1426
layout: page
date: 2022-10-16
---


<!-- s-body -->
        <div class="s-body">

            <!-- use header -->
            <!-- /use header -->

            <!-- Content -->
             <article class="b-singlepost hentry h-entry js-emojis  b-singlepost-mobileadaptive  b-singlepost-withbodybanner  ng-scope" role="main" ng-app="Entry"> <div class="b-singlepost-qrcode  ng-isolate-scope" lj-qrcode="https://lacinka.livejournal.com/1426.html" lj-qrcode-width="70" lj-qrcode-height="70"> <canvas width="70" height="70"></canvas></div> <div class="b-singlepost-about"> <dl class=" b-singlepost-author author vcard p-author h-card " ng-non-bindable=""> <dt class=" b-singlepost-author-userpic photo u-photo " lj:user="maratyszcza">  <img src="https://l-userpic.livejournal.com/38970488/2695958" width="75" height="96" align="absmiddle" title="Marat: pic#38970488" alt="">  </dt> <dd class="b-singlepost-author-userinfo"> <div class="b-singlepost-author-userinfo-screen"> <span class=" b-singlepost-author-user fn p-name "> <span class="b-singlepost-author-user-screen"> Marat (<span class="ljuser  i-ljuser  i-ljuser-type-P     " data-ljuser="maratyszcza" lj:user="maratyszcza"><a href="https://maratyszcza.livejournal.com/profile" target="_self" class="i-ljuser-profile"><img class="i-ljuser-userhead" src="https://l-stat.livejournal.net/img/userinfo_v8.svg?v=17080?v=657"></a><a href="https://maratyszcza.livejournal.com/" class="i-ljuser-username" target="_self"><b>maratyszcza</b></a></span>) wrote in <span class="ljuser  i-ljuser  i-ljuser-type-C     " data-ljuser="lacinka" lj:user="lacinka"><a href="https://lacinka.livejournal.com/profile" target="_self" class="i-ljuser-profile"><img class="i-ljuser-userhead" src="https://l-stat.livejournal.net/img/community.gif?v=556?v=657"></a><a href="https://lacinka.livejournal.com/" class="i-ljuser-username" target="_self"><b>lacinka</b></a></span>, </span> </span> <br> <time class=" b-singlepost-author-date published dt-published "><a href="https://lacinka.livejournal.com/2004/" target="_self">2004</a>-<a href="https://lacinka.livejournal.com/2004/07/" target="_self">07</a>-<a href="https://lacinka.livejournal.com/2004/07/14/" target="_self">14</a> 19:45:00</time>   </div> <div class="b-singlepost-author-userinfo-print"> <span class=" b-singlepost-author-user fn p-name "> Marat<br> <span class="ljuser  i-ljuser  i-ljuser-type-P     " data-ljuser="maratyszcza" lj:user="maratyszcza"><a href="https://maratyszcza.livejournal.com/profile" target="_self" class="i-ljuser-profile"><img class="i-ljuser-userhead" src="https://l-stat.livejournal.net/img/userinfo_v8.svg?v=17080?v=657"></a><a href="https://maratyszcza.livejournal.com/" class="i-ljuser-username" target="_self"><b>maratyszcza</b></a></span>  <br><span class="ljuser  i-ljuser  i-ljuser-type-C     " data-ljuser="lacinka" lj:user="lacinka"><a href="https://lacinka.livejournal.com/profile" target="_self" class="i-ljuser-profile"><img class="i-ljuser-userhead" src="https://l-stat.livejournal.net/img/community.gif?v=556?v=657"></a><a href="https://lacinka.livejournal.com/" class="i-ljuser-username" target="_self"><b>lacinka</b></a></span>  </span> <br> <time class=" b-singlepost-author-date published dt-published "><a href="https://lacinka.livejournal.com/2004/" target="_self">2004</a>-<a href="https://lacinka.livejournal.com/2004/07/" target="_self">07</a>-<a href="https://lacinka.livejournal.com/2004/07/14/" target="_self">14</a> 19:45:00</time> </div> </dd> </dl>  </div>    <div class="b-singlepost-wrapper">  ¤ <ul class="b-linkbar">  <li class="b-linkbar-item"><a href="https://www.livejournal.com/go.bml?journal=lacinka&amp;itemid=1426&amp;dir=prev" rel="nofollow" title="Previous" class="b-controls b-controls-prev" target="_self"><i class="b-controls-bg"></i>Previous</a></li>  <li class="b-linkbar-item ng-scope" lj-share="{ url: 'https://lacinka.livejournal.com/1426.html', title: '', text: '', hashtags: '', alwaysBottom: true }">
                <a href="javascript:void(0);" rel="nofollow" title="Share" class="b-controls b-controls-share js-lj-share" data-hashtags="" data-title="" data-url="https%3A%2F%2Flacinka.livejournal.com%2F1426.html" target="_self">
                    <i class="b-controls-bg"></i>Share
                </a>
            </li>  <li class="b-linkbar-item"><a href="https://www.livejournal.com/tools/content_flag.bml?user=lacinka&amp;itemid=1426" rel="nofollow" title="Flag" class="b-controls b-controls-flag" target="_self"><i class="b-controls-bg"></i>Flag</a></li>  <li class="b-linkbar-item"><a href="https://www.livejournal.com/go.bml?journal=lacinka&amp;itemid=1426&amp;dir=next" rel="nofollow" title="Next" class="b-controls b-controls-next" target="_self"><i class="b-controls-bg"></i>Next</a></li>  </ul> </div>      <div class="b-singlepost-bodywrapper">  <article class="b-singlepost-body entry-content e-content   ng-scope" lj-sale-entry="" lj-discovery-tags="" lj-embed-resizer=""> <table border="1">
<colgroup><col align="left"><col align="center" span="13">
</colgroup><tbody><tr><th rowspan="2">Unicode name</th><th rowspan="2">Symbol</th><th colspan="12">Code</th></tr>
<tr><th>Unicode</th><th>UTF-8</th><th>Latin-2</th><th>ISO 8859-2</th><th>ISO 8859-3</th><th>ISO 8859-4</th><th>ISO 8859-13</th><th>ISO 8859-15</th><th>ISO 8859-16</th><th>Apple (Central European)</th><th>Windows-1250</th><th>Windows-1257</th></tr>
<tr><td>Latin Capital Letter L with Stroke</td>	<td>Ł</td>	<td>0x0141</td><td>0xC581</td><td>0xFC</td><td>0xA3</td><td>none</td><td>none</td><td>0xD9</td><td>none</td><td>0xA3</td><td>0xFC</td><td>0xA3</td><td>0xD9</td></tr>
<tr><td>Latin Small Letter L with Stroke</td>	<td>ł</td>	<td>0x0142</td><td>0xC582</td><td>0xB8</td><td>0xB3</td><td>none</td><td>none</td><td>0xF9</td><td>none</td><td>0xB3</td><td>0xB8</td><td>0xB3</td><td>0xF9</td></tr>
<tr><td>Latin Capital Letter N with Acute</td>	<td>Ń</td>	<td>0x0143</td><td>0xC583</td><td>0xC1</td><td>0xD1</td><td>none</td><td>none</td><td>0xD1</td><td>none</td><td>0xD1</td><td>0xC1</td><td>0xD1</td><td>0xD1</td></tr>
<tr><td>Latin Small Letter N with Acute</td>	<td>ń</td>	<td>0x0144</td><td>0xC584</td><td>0xC4</td><td>0xF1</td><td>none</td><td>none</td><td>0xF1</td><td>none</td><td>0xF1</td><td>0xC4</td><td>0xF1</td><td>0xF1</td></tr>
<tr style="color:grey;"><td>Latin Capital Letter U with Macron</td>	<td>Ū</td>	<td>0x016A</td><td>0xC5AA</td><td>0xED</td><td>none</td><td>none</td><td>0xDE</td><td>0xDB</td><td>none</td><td>none</td><td>0xED</td><td>none</td><td>0xDB</td></tr>
<tr style="color:grey;"><td>Latin Small Letter U with Macron</td>	<td>ū</td>	<td>0x016B</td><td>0xC5AB</td><td>0xF0</td><td>none</td><td>none</td><td>0xFE</td><td>0xFB</td><td>none</td><td>none</td><td>0xF0</td><td>none</td><td>0xFB</td></tr>
<tr><td>Latin Capital Letter U with Breve</td>	<td>Ŭ</td>	<td>0x016C</td><td>0xC5AC</td><td>none</td><td>none</td><td>0xDD</td><td>none</td><td>none</td><td>none</td><td>none</td><td>none</td><td>none</td><td>none</td></tr>
<tr><td>Latin Small Letter U with Breve</td>	<td>ŭ</td>	<td>0x016D</td><td>0xC5AD</td><td>none</td><td>none</td><td>0xFD</td><td>none</td><td>none</td><td>none</td><td>none</td><td>none</td><td>none</td><td>none</td></tr>
<tr><td>Latin Capital Letter C with Caron</td>	<td>Č</td>	<td>0x010C</td><td>0xC48C</td><td>0x89</td><td>0xC8</td><td>none</td><td>0xC8</td><td>0xC8</td><td>none</td><td>0xA6</td><td>0x89</td><td>0xC8</td><td>0xC8</td></tr>
<tr><td>Latin Small Letter C with Caron</td>	<td>č</td>	<td>0x010D</td><td>0xC48D</td><td>0x8B</td><td>0xE8</td><td>none</td><td>0xE8</td><td>0xE8</td><td>none</td><td>0xA8</td><td>0x8B</td><td>0xE8</td><td>0xE8</td></tr>
<tr><td>Latin Capital Letter C with Acute</td>	<td>Ć</td>	<td>0x0106</td><td>0xC486</td><td>0x8C</td><td>0xC6</td><td>none</td><td>none</td><td>0xC3</td><td>none</td><td>0xC5</td><td>0x8C</td><td>0xC6</td><td>0xC3</td></tr>
<tr><td>Latin Small Letter C with Acute</td>	<td>ć</td>	<td>0x0107</td><td>0xC487</td><td>0x8D</td><td>0xE6</td><td>none</td><td>none</td><td>0xE3</td><td>none</td><td>0xE5</td><td>0x8D</td><td>0xE6</td><td>0xE3</td></tr>
<tr><td>Latin Capital Letter S with Caron</td>	<td>Š</td>	<td>0x0160</td><td>0xC5A0</td><td>0xE1</td><td>0xA9</td><td>none</td><td>0xA9</td><td>0xD0</td><td>0xA6</td><td>0xA6</td><td>0xE1</td><td>0x8A</td><td>0xD0</td></tr>
<tr><td>Latin Small Letter S with Caron</td>	<td>š</td>	<td>0x0161</td><td>0xC5A1</td><td>0xE4</td><td>0xB9</td><td>none</td><td>0xB9</td><td>0xF0</td><td>0xA8</td><td>0xA8</td><td>0xE4</td><td>0x9A</td><td>0xF0</td></tr>
<tr><td>Latin Capital Letter S with Acute</td>	<td>Ś</td>	<td>0x015A</td><td>0xC59A</td><td>0xE5</td><td>0xA6</td><td>none</td><td>none</td><td>0xDA</td><td>none</td><td>0xD7</td><td>0xE5</td><td>0x8C</td><td>0xDA</td></tr>
<tr><td>Latin Small Letter S with Acute</td>	<td>ś</td>	<td>0x015B</td><td>0xC59B</td><td>0xE6</td><td>0xB6</td><td>none</td><td>none</td><td>0xFA</td><td>none</td><td>0xF7</td><td>0xE6</td><td>0x9C</td><td>0xFA</td></tr>
<tr><td>Latin Capital Letter Z with Caron</td>	<td>Ž</td>	<td>0x017D</td><td>0xC5BD</td><td>0xEB</td><td>0xAE</td><td>none</td><td>0xAE</td><td>0xDE</td><td>0xB4</td><td>0xB4</td><td>0xEB</td><td>0x8E</td><td>0xDE</td></tr>
<tr><td>Latin Small Letter Z with Caron</td>	<td>ž</td>	<td>0x017E</td><td>0xC5BE</td><td>0xEC</td><td>0xBE</td><td>none</td><td>0xBE</td><td>0xFE</td><td>0xB8</td><td>0xB8</td><td>0xEC</td><td>0x9E</td><td>0xFE</td></tr>
<tr><td>Latin Capital Letter Z with Acute</td><td>Ź</td>		<td>0x0179</td><td>0xC5B9</td><td>0x8F</td><td>0xAC</td><td>none</td><td>none</td><td>0xCA</td><td>none</td><td>0xAC</td><td>0x8F</td><td>0x8F</td><td>0xCA</td></tr>
<tr><td>Latin Small Letter Z with Acute</td><td>ź</td>		<td>0x017A</td><td>0xC5BA</td><td>0x90</td><td>0xBC</td><td>none</td><td>none</td><td>0xEA</td><td>none</td><td>0xAE</td><td>0x90</td><td>0x9F</td><td>0xEA</td></tr>
<tr style="color:grey;"><td>Latin Capital Letter Z with Dot Above</td><td>Ż</td>	<td>0x017B</td><td>0xC5BB</td><td>0xFB</td><td>0xAF</td><td>0xAF</td><td>none</td><td>0xDD</td><td>none</td><td>0xAF</td><td>0xFB</td><td>0xAF</td><td>0xDD</td></tr>
<tr style="color:grey;"><td>Latin Small Letter Z with Dot Above</td><td>ż</td>	<td>0x017C</td><td>0xC5BC</td><td>0xFD</td><td>0xBF</td><td>0xBF</td><td>none</td><td>0xFD</td><td>none</td><td>0xBF</td><td>0xFD</td><td>0xBF</td><td>0xFD</td></tr>
</tbody></table><br>15.07.2004: "По просьбам трудящихся" (a mienavita <span class="ljuser  i-ljuser  i-ljuser-type-P     " data-ljuser="zedlik" lj:user="zedlik"><a href="https://zedlik.livejournal.com/profile" target="_self" class="i-ljuser-profile"><img class="i-ljuser-userhead" src="https://l-stat.livejournal.net/img/userinfo_v8.svg?v=17080?v=657"></a><a href="https://zedlik.livejournal.com/" class="i-ljuser-username" target="_self"><b>zedlik</b></a></span>) dadany kody ŭ UTF-8. Uvaha: ASCII-symbały (0x00-0x7F) ŭ UTF-8 kadyjujucca <b>adnym</b> bajtam.  </article>   </div>    </div> <div class="b-singlepost-video-wrap"> <div data-autoplay-dockable-video-mount=""></div> </div>
<div id="comments" class="b-grove" data-authtoken="c0:1682874000:195:86400:Bqqj1iNCQM-0-:ec236b3bfe0ea14c06d554c3c691be91"> <div class=" b-xylem  b-xylem-first  "> <ul class="b-xylem-cells">  <li class=" b-xylem-cell b-xylem-cell-amount ">   <span class="js-amount">  32 comments  </span>   </li>  </ul>  </div> <div class=" b-massaction-top ">  </div>    <div class=" b-tree b-tree-best ">  </div> <div class=" b-tree b-tree-promo " data-currentprice="">  </div>  <div class=" b-tree b-tree-root svgpreloader svgpreloader-pseudo svgpreloader-30 "><div class=" b-tree-twig  b-tree-twig-1 b-tree-twig-deep-0  " style="margin-left: 0px" data-tid="t5778">    <div id="t5778" class=" b-leaf            b-leaf-full   comment p-comment " data-username="rydel23" data-displayname="rydel23" data-updated-ts="1089799154" data-full="1"> <div class=" b-leaf-inner svgpreloader svgpreloader-pseudo svgpreloader-16 "> <div class="b-leaf-header"> <div class="b-leaf-userpic"> <a href="https://rydel23.livejournal.com/" target="_blank" class="b-leaf-userpic-inner" lj:user="rydel23">   <img src="https://l-userpic.livejournal.com/4245975/539615" alt="rydel23" loading="lazy" title="rydel23: Bukuroshe in Blue">  </a> </div> <div class="b-leaf-details">   <p class="b-leaf-username"><span class="b-leaf-username-name"><span class="ljuser  i-ljuser  i-ljuser-type-P     " data-ljuser="rydel23" lj:user="rydel23"><a href="https://rydel23.livejournal.com/profile" class="i-ljuser-profile" target="_self"><img class="i-ljuser-userhead" src="https://l-stat.livejournal.net/img/userinfo_v8.svg?v=17080?v=657"></a><a href="https://rydel23.livejournal.com/" class="i-ljuser-username" target="_self"><b>rydel23</b></a></span> </span>  </p> <p class="b-leaf-meta">  <a href="https://lacinka.livejournal.com/1426.html?thread=5778#t5778" class="b-leaf-permalink" target="_self"> <span class="b-leaf-createdtime">July 14 2004, 09:59:14 UTC</span> </a>   <span class="b-leaf-shorttime">18 years ago</span>   </p>   </ul>        </div> </div>  <div class="b-leaf-article"> Cudoŭna!<br><br>PS. Prykra bacyc, sto "Ŭŭ" mala jakoj kadyroŭkaj padtrymvajecca...<br> </div>   </div> </div>    </div><div class=" b-tree-twig  b-tree-twig-2 b-tree-twig-deep-0  " style="margin-left: 30px" data-tid="t7314">    <div id="t7314" class=" b-leaf        b-leaf-poster      b-leaf-full   comment p-comment " data-username="maratyszcza" data-displayname="maratyszcza" data-updated-ts="1089804763" data-full="1"> <div class=" b-leaf-inner svgpreloader svgpreloader-pseudo svgpreloader-16 "> <div class="b-leaf-header"> <div class="b-leaf-userpic"> <a href="https://maratyszcza.livejournal.com/" target="_blank" class="b-leaf-userpic-inner" lj:user="maratyszcza">   <img src="https://l-userpic.livejournal.com/38970488/2695958" alt="maratyszcza" loading="lazy" title="Marat: pic#38970488">  </a> </div> <div class="b-leaf-details">   <p class="b-leaf-username"><span class="b-leaf-username-name"><span class="ljuser  i-ljuser  i-ljuser-type-P     " data-ljuser="maratyszcza" lj:user="maratyszcza"><a href="https://maratyszcza.livejournal.com/profile" class="i-ljuser-profile" target="_self"><img class="i-ljuser-userhead" src="https://l-stat.livejournal.net/img/userinfo_v8.svg?v=17080?v=657"></a><a href="https://maratyszcza.livejournal.com/" class="i-ljuser-username" target="_self"><b>maratyszcza</b></a></span> </span>  </p> <p class="b-leaf-meta">  <a href="https://lacinka.livejournal.com/1426.html?thread=7314#t7314" class="b-leaf-permalink" target="_self"> <span class="b-leaf-createdtime">July 14 2004, 11:32:43 UTC</span> </a>   <span class="b-leaf-shorttime">18 years ago</span>   </p>   </ul>        </div> </div>  <div class="b-leaf-article"> A što kali vykarystoŭvać Ūū albo Ww zamiest Ŭŭ? </div>   </div> </div>    </div><div class=" b-tree-twig  b-tree-twig-3 b-tree-twig-deep-0  " style="margin-left: 60px" data-tid="t7570">    <div id="t7570" class=" b-leaf            b-leaf-full   comment p-comment " data-username="zolak" data-displayname="zolak" data-updated-ts="1089805714" data-full="1"> <div class=" b-leaf-inner svgpreloader svgpreloader-pseudo svgpreloader-16 "> <div class="b-leaf-header"> <div class="b-leaf-userpic"> <a href="https://zolak.livejournal.com/" target="_blank" class="b-leaf-userpic-inner" lj:user="zolak">   <img src="https://l-stat.livejournal.net/img/userpics/userpic-user.png?v=15821" alt="zolak" loading="lazy">  </a> </div> <div class="b-leaf-details">   <p class="b-leaf-username"><span class="b-leaf-username-name"><span class="ljuser  i-ljuser  i-ljuser-deleted  i-ljuser-type-P     " data-ljuser="zolak" lj:user="zolak"><a href="https://zolak.livejournal.com/profile" class="i-ljuser-profile" target="_self"><img class="i-ljuser-userhead" src="https://l-stat.livejournal.net/img/userinfo_v8.svg?v=17080?v=657"></a><a href="https://zolak.livejournal.com/" class="i-ljuser-username" target="_self"><b>zolak</b></a></span> </span>  </p> <p class="b-leaf-meta">  <a href="https://lacinka.livejournal.com/1426.html?thread=7570#t7570" class="b-leaf-permalink" target="_self"> <span class="b-leaf-createdtime">July 14 2004, 11:48:34 UTC</span> </a>   <span class="b-leaf-shorttime">18 years ago</span>   </p>   </ul>        </div> </div>  <div class="b-leaf-article"> Ha? Hmm...<br>A našto? </div>   </div> </div>    </div><div class=" b-tree-twig  b-tree-twig-4 b-tree-twig-deep-0  " style="margin-left: 90px" data-tid="t8338">    <div id="t8338" class=" b-leaf        b-leaf-poster      b-leaf-full   comment p-comment " data-username="maratyszcza" data-displayname="maratyszcza" data-updated-ts="1089807817" data-full="1"> <div class=" b-leaf-inner svgpreloader svgpreloader-pseudo svgpreloader-16 "> <div class="b-leaf-header"> <div class="b-leaf-userpic"> <a href="https://maratyszcza.livejournal.com/" target="_blank" class="b-leaf-userpic-inner" lj:user="maratyszcza">   <img src="https://l-userpic.livejournal.com/38970488/2695958" alt="maratyszcza" loading="lazy" title="Marat: pic#38970488">  </a> </div> <div class="b-leaf-details">   <p class="b-leaf-username"><span class="b-leaf-username-name"><span class="ljuser  i-ljuser  i-ljuser-type-P     " data-ljuser="maratyszcza" lj:user="maratyszcza"><a href="https://maratyszcza.livejournal.com/profile" class="i-ljuser-profile" target="_self"><img class="i-ljuser-userhead" src="https://l-stat.livejournal.net/img/userinfo_v8.svg?v=17080?v=657"></a><a href="https://maratyszcza.livejournal.com/" class="i-ljuser-username" target="_self"><b>maratyszcza</b></a></span> </span>  </p> <p class="b-leaf-meta">  <a href="https://lacinka.livejournal.com/1426.html?thread=8338#t8338" class="b-leaf-permalink" target="_self"> <span class="b-leaf-createdtime">July 14 2004, 12:23:37 UTC</span> </a>   <span class="b-leaf-shorttime">18 years ago</span>   </p>   </ul>        </div> </div>  <div class="b-leaf-article"> Bo jość kadyroŭki, što padtrymlivajuć usie litary biełaruskaj łacincy akramia Ŭŭ </div>   </div> </div>    </div><div class=" b-tree-twig  b-tree-twig-5 b-tree-twig-deep-0  " style="margin-left: 120px" data-tid="t9362">    <div id="t9362" class=" b-leaf            b-leaf-full   comment p-comment " data-username="zolak" data-displayname="zolak" data-updated-ts="1089807969" data-full="1"> <div class=" b-leaf-inner svgpreloader svgpreloader-pseudo svgpreloader-16 "> <div class="b-leaf-header"> <div class="b-leaf-userpic"> <a href="https://zolak.livejournal.com/" target="_blank" class="b-leaf-userpic-inner" lj:user="zolak">   <img src="https://l-stat.livejournal.net/img/userpics/userpic-user.png?v=15821" alt="zolak" loading="lazy">  </a> </div> <div class="b-leaf-details">   <p class="b-leaf-username"><span class="b-leaf-username-name"><span class="ljuser  i-ljuser  i-ljuser-deleted  i-ljuser-type-P     " data-ljuser="zolak" lj:user="zolak"><a href="https://zolak.livejournal.com/profile" class="i-ljuser-profile" target="_self"><img class="i-ljuser-userhead" src="https://l-stat.livejournal.net/img/userinfo_v8.svg?v=17080?v=657"></a><a href="https://zolak.livejournal.com/" class="i-ljuser-username" target="_self"><b>zolak</b></a></span> </span>  </p> <p class="b-leaf-meta">  <a href="https://lacinka.livejournal.com/1426.html?thread=9362#t9362" class="b-leaf-permalink" target="_self"> <span class="b-leaf-createdtime">July 14 2004, 12:26:09 UTC</span> </a>   <span class="b-leaf-shorttime">18 years ago</span>   </p>   </ul>        </div> </div>  <div class="b-leaf-article"> Hehe, dyk <b>usie litary</b>, ci nia ŭsie? ;) </div>   </div> </div>    </div><div class=" b-tree-twig  b-tree-twig-6 b-tree-twig-deep-0  " style="margin-left: 150px" data-tid="t9618">    <div id="t9618" class=" b-leaf        b-leaf-poster      b-leaf-full   comment p-comment " data-username="maratyszcza" data-displayname="maratyszcza" data-updated-ts="1089809800" data-full="1"> <div class=" b-leaf-inner svgpreloader svgpreloader-pseudo svgpreloader-16 "> <div class="b-leaf-header"> <div class="b-leaf-userpic"> <a href="https://maratyszcza.livejournal.com/" target="_blank" class="b-leaf-userpic-inner" lj:user="maratyszcza">   <img src="https://l-userpic.livejournal.com/38970488/2695958" alt="maratyszcza" loading="lazy" title="Marat: pic#38970488">  </a> </div> <div class="b-leaf-details">   <p class="b-leaf-username"><span class="b-leaf-username-name"><span class="ljuser  i-ljuser  i-ljuser-type-P     " data-ljuser="maratyszcza" lj:user="maratyszcza"><a href="https://maratyszcza.livejournal.com/profile" class="i-ljuser-profile" target="_self"><img class="i-ljuser-userhead" src="https://l-stat.livejournal.net/img/userinfo_v8.svg?v=17080?v=657"></a><a href="https://maratyszcza.livejournal.com/" class="i-ljuser-username" target="_self"><b>maratyszcza</b></a></span> </span>  </p> <p class="b-leaf-meta">  <a href="https://lacinka.livejournal.com/1426.html?thread=9618#t9618" class="b-leaf-permalink" target="_self"> <span class="b-leaf-createdtime">July 14 2004, 12:56:40 UTC</span> </a>   <span class="b-leaf-shorttime">18 years ago</span>   </p>   </ul>        </div> </div>  <div class="b-leaf-article"> Usie akramia Ŭŭ </div>   </div> </div>    </div><div class=" b-tree-twig  b-tree-twig-7 b-tree-twig-deep-0  " style="margin-left: 180px" data-tid="t9874">    <div id="t9874" class=" b-leaf            b-leaf-full   comment p-comment " data-username="zolak" data-displayname="zolak" data-updated-ts="1089810199" data-full="1"> <div class=" b-leaf-inner svgpreloader svgpreloader-pseudo svgpreloader-16 "> <div class="b-leaf-header"> <div class="b-leaf-userpic"> <a href="https://zolak.livejournal.com/" target="_blank" class="b-leaf-userpic-inner" lj:user="zolak">   <img src="https://l-stat.livejournal.net/img/userpics/userpic-user.png?v=15821" alt="zolak" loading="lazy">  </a> </div> <div class="b-leaf-details">   <p class="b-leaf-username"><span class="b-leaf-username-name"><span class="ljuser  i-ljuser  i-ljuser-deleted  i-ljuser-type-P     " data-ljuser="zolak" lj:user="zolak"><a href="https://zolak.livejournal.com/profile" class="i-ljuser-profile" target="_self"><img class="i-ljuser-userhead" src="https://l-stat.livejournal.net/img/userinfo_v8.svg?v=17080?v=657"></a><a href="https://zolak.livejournal.com/" class="i-ljuser-username" target="_self"><b>zolak</b></a></span> </span>  </p> <p class="b-leaf-meta">  <a href="https://lacinka.livejournal.com/1426.html?thread=9874#t9874" class="b-leaf-permalink" target="_self"> <span class="b-leaf-createdtime">July 14 2004, 13:03:19 UTC</span> </a>   <span class="b-leaf-shorttime">18 years ago</span>   </p>   </ul>        </div> </div>  <div class="b-leaf-article"> Viedaješ, naohuł heta systemy kadavańnia pavinny być dastasavanyja da nacyjanalnych pravapisaŭ, a nie naadvarot. I kali niejkaje kadavańnie nie padtrymvaje chacia b adnoj litary našaha alfabetu, značyć jano nia našaje. </div>   </div> </div>    </div><div class=" b-tree-twig  b-tree-twig-8 b-tree-twig-deep-0  " style="margin-left: 210px" data-tid="t11410">    <div id="t11410" class=" b-leaf        b-leaf-poster      b-leaf-full   comment p-comment " data-username="maratyszcza" data-displayname="maratyszcza" data-updated-ts="1089813842" data-full="1"> <div class=" b-leaf-inner svgpreloader svgpreloader-pseudo svgpreloader-16 "> <div class="b-leaf-header"> <div class="b-leaf-userpic"> <a href="https://maratyszcza.livejournal.com/" target="_blank" class="b-leaf-userpic-inner" lj:user="maratyszcza">   <img src="https://l-userpic.livejournal.com/38970488/2695958" alt="maratyszcza" loading="lazy" title="Marat: pic#38970488">  </a> </div> <div class="b-leaf-details">   <p class="b-leaf-username"><span class="b-leaf-username-name"><span class="ljuser  i-ljuser  i-ljuser-type-P     " data-ljuser="maratyszcza" lj:user="maratyszcza"><a href="https://maratyszcza.livejournal.com/profile" class="i-ljuser-profile" target="_self"><img class="i-ljuser-userhead" src="https://l-stat.livejournal.net/img/userinfo_v8.svg?v=17080?v=657"></a><a href="https://maratyszcza.livejournal.com/" class="i-ljuser-username" target="_self"><b>maratyszcza</b></a></span> </span>  </p> <p class="b-leaf-meta">  <a href="https://lacinka.livejournal.com/1426.html?thread=11410#t11410" class="b-leaf-permalink" target="_self"> <span class="b-leaf-createdtime">July 14 2004, 14:04:02 UTC</span> </a>   <span class="b-leaf-shorttime">18 years ago</span>   </p>   </ul>        </div> </div>  <div class="b-leaf-article"> Toje samaje možna skazać, naprykład, pra zakony. Jany taksama pavinny być dla narodu. I što, prapanuješ admovacca jich, bo jany "nie našyja"? </div>   </div> </div>    </div><div class=" b-tree-twig  b-tree-twig-9 b-tree-twig-deep-0  " style="margin-left: 240px" data-tid="t11666">    <div id="t11666" class=" b-leaf         b-leaf-withsubject     b-leaf-full   comment p-comment " data-username="zolak" data-displayname="zolak" data-updated-ts="1089814169" data-full="1" data-subject="Nie..."> <div class=" b-leaf-inner svgpreloader svgpreloader-pseudo svgpreloader-16 "> <div class="b-leaf-header"> <div class="b-leaf-userpic"> <a href="https://zolak.livejournal.com/" target="_blank" class="b-leaf-userpic-inner" lj:user="zolak">   <img src="https://l-stat.livejournal.net/img/userpics/userpic-user.png?v=15821" alt="zolak" loading="lazy">  </a> </div> <div class="b-leaf-details">   <h4 class="b-leaf-subject"><a href="https://lacinka.livejournal.com/1426.html?thread=11666#t11666" class="b-leaf-subject-link" target="_self">Nie...</a></h4>  <p class="b-leaf-username"><span class="b-leaf-username-name"><span class="ljuser  i-ljuser  i-ljuser-deleted  i-ljuser-type-P     " data-ljuser="zolak" lj:user="zolak"><a href="https://zolak.livejournal.com/profile" class="i-ljuser-profile" target="_self"><img class="i-ljuser-userhead" src="https://l-stat.livejournal.net/img/userinfo_v8.svg?v=17080?v=657"></a><a href="https://zolak.livejournal.com/" class="i-ljuser-username" target="_self"><b>zolak</b></a></span> </span>  </p> <p class="b-leaf-meta">  <a href="https://lacinka.livejournal.com/1426.html?thread=11666#t11666" class="b-leaf-permalink" target="_self"> <span class="b-leaf-createdtime">July 14 2004, 14:09:29 UTC</span> </a>   <span class="b-leaf-shorttime">18 years ago</span>   </p>   </ul>        </div> </div>  <div class="b-leaf-article"> Drennaje paraŭnańnie. Zakony niesupynna źmianiajuć i dastasoŭvajuć da źmiennych realijaŭ. Pa toje j patrebnyja parlamenty. </div>   </div> </div>    </div><div class=" b-tree-twig  b-tree-twig-10 b-tree-twig-deep-10  " style="margin-left: 270px" data-tid="t11922">    <div id="t11922" class=" b-leaf        b-leaf-poster   b-leaf-withsubject     b-leaf-full   comment p-comment " data-username="maratyszcza" data-displayname="maratyszcza" data-updated-ts="1089814721" data-full="1" data-subject="Re: Nie..."> <div class=" b-leaf-inner svgpreloader svgpreloader-pseudo svgpreloader-16 "> <div class="b-leaf-header"> <div class="b-leaf-userpic"> <a href="https://maratyszcza.livejournal.com/" target="_blank" class="b-leaf-userpic-inner" lj:user="maratyszcza">   <img src="https://l-userpic.livejournal.com/38970488/2695958" alt="maratyszcza" loading="lazy" title="Marat: pic#38970488">  </a> </div> <div class="b-leaf-details">   <h4 class="b-leaf-subject"><a href="https://lacinka.livejournal.com/1426.html?thread=11922#t11922" class="b-leaf-subject-link" target="_self">Re: Nie...</a></h4>  <p class="b-leaf-username"><span class="b-leaf-username-name"><span class="ljuser  i-ljuser  i-ljuser-type-P     " data-ljuser="maratyszcza" lj:user="maratyszcza"><a href="https://maratyszcza.livejournal.com/profile" class="i-ljuser-profile" target="_self"><img class="i-ljuser-userhead" src="https://l-stat.livejournal.net/img/userinfo_v8.svg?v=17080?v=657"></a><a href="https://maratyszcza.livejournal.com/" class="i-ljuser-username" target="_self"><b>maratyszcza</b></a></span> </span>  </p> <p class="b-leaf-meta">  <a href="https://lacinka.livejournal.com/1426.html?thread=11922#t11922" class="b-leaf-permalink" target="_self"> <span class="b-leaf-createdtime">July 14 2004, 14:18:41 UTC</span> </a>   <span class="b-leaf-shorttime">18 years ago</span>   </p>   </ul>        </div> </div>  <div class="b-leaf-article"> Kadyroŭki taksama źmianiajuć. A pakul jich nie prystasavali da biełaruskaj łacincy, mabyć usio ž padumajem, jak vykarystać toje, što jość? Bo Unicode ci UTF-8 možna vykarystać nie zaŭsiody </div>   </div> </div>    </div><div class=" b-tree-twig  b-tree-twig-11 b-tree-twig-deep-10  " style="margin-left: 300px" data-tid="t12178">    <div id="t12178" class=" b-leaf  b-leaf-collapsed         b-leaf-withsubject      comment p-comment " data-username="zolak" data-displayname="zolak" data-updated-ts="1089814961" data-subject="Re: Nie..."> <div class=" b-leaf-inner svgpreloader svgpreloader-pseudo svgpreloader-16 "> <div class="b-leaf-header"> <div class="b-leaf-userpic"> <a href="https://zolak.livejournal.com/" target="_blank" class="b-leaf-userpic-inner" lj:user="zolak">   <img src="https://l-stat.livejournal.net/img/userpics/userpic-user.png?v=15821" alt="zolak" loading="lazy">  </a> </div> <div class="b-leaf-details">   <h4 class="b-leaf-subject"><a href="https://lacinka.livejournal.com/1426.html?thread=12178#t12178" class="b-leaf-subject-link" target="_self">Re: Nie...</a></h4>  <p class="b-leaf-username"><span class="b-leaf-username-name"><span class="ljuser  i-ljuser  i-ljuser-deleted  i-ljuser-type-P     " data-ljuser="zolak" lj:user="zolak"><a href="https://zolak.livejournal.com/profile" class="i-ljuser-profile" target="_self"><img class="i-ljuser-userhead" src="https://l-stat.livejournal.net/img/userinfo_v8.svg?v=17080?v=657"></a><a href="https://zolak.livejournal.com/" class="i-ljuser-username" target="_self"><b>zolak</b></a></span> </span>  </p> <p class="b-leaf-meta">   <span class="b-leaf-shorttime">18 years ago</span>   </p>   </ul>    </div> </div>   </div> </div>    </div><div class=" b-tree-twig  b-tree-twig-12 b-tree-twig-deep-10  " style="margin-left: 330px" data-tid="t12946">    <div id="t12946" class=" b-leaf  b-leaf-collapsed        b-leaf-poster   b-leaf-withsubject      comment p-comment " data-username="maratyszcza" data-displayname="maratyszcza" data-updated-ts="1089832545" data-subject="Re: Nie..."> <div class=" b-leaf-inner svgpreloader svgpreloader-pseudo svgpreloader-16 "> <div class="b-leaf-header"> <div class="b-leaf-userpic"> <a href="https://maratyszcza.livejournal.com/" target="_blank" class="b-leaf-userpic-inner" lj:user="maratyszcza">   <img src="https://l-stat.livejournal.net/img/userpics/userpic-user.png?v=15821" alt="maratyszcza" loading="lazy">  </a> </div> <div class="b-leaf-details">   <h4 class="b-leaf-subject"><a href="https://lacinka.livejournal.com/1426.html?thread=12946#t12946" class="b-leaf-subject-link" target="_self">Re: Nie...</a></h4>  <p class="b-leaf-username"><span class="b-leaf-username-name"><span class="ljuser  i-ljuser  i-ljuser-type-P     " data-ljuser="maratyszcza" lj:user="maratyszcza"><a href="https://maratyszcza.livejournal.com/profile" class="i-ljuser-profile" target="_self"><img class="i-ljuser-userhead" src="https://l-stat.livejournal.net/img/userinfo_v8.svg?v=17080?v=657"></a><a href="https://maratyszcza.livejournal.com/" class="i-ljuser-username" target="_self"><b>maratyszcza</b></a></span> </span>  </p> <p class="b-leaf-meta">   <span class="b-leaf-shorttime">18 years ago</span>   </p>   </ul>    </div> </div>   </div> </div>    </div><div class=" b-tree-twig  b-tree-twig-13 b-tree-twig-deep-10  " style="margin-left: 360px" data-tid="t13202">    <div id="t13202" class=" b-leaf  b-leaf-collapsed         b-leaf-withsubject      comment p-comment " data-username="zolak" data-displayname="zolak" data-updated-ts="1089848200" data-subject="Re: Nie..."> <div class=" b-leaf-inner svgpreloader svgpreloader-pseudo svgpreloader-16 "> <div class="b-leaf-header"> <div class="b-leaf-userpic"> <a href="https://zolak.livejournal.com/" target="_blank" class="b-leaf-userpic-inner" lj:user="zolak">   <img src="https://l-stat.livejournal.net/img/userpics/userpic-user.png?v=15821" alt="zolak" loading="lazy">  </a> </div> <div class="b-leaf-details">   <h4 class="b-leaf-subject"><a href="https://lacinka.livejournal.com/1426.html?thread=13202#t13202" class="b-leaf-subject-link" target="_self">Re: Nie...</a></h4>  <p class="b-leaf-username"><span class="b-leaf-username-name"><span class="ljuser  i-ljuser  i-ljuser-deleted  i-ljuser-type-P     " data-ljuser="zolak" lj:user="zolak"><a href="https://zolak.livejournal.com/profile" class="i-ljuser-profile" target="_self"><img class="i-ljuser-userhead" src="https://l-stat.livejournal.net/img/userinfo_v8.svg?v=17080?v=657"></a><a href="https://zolak.livejournal.com/" class="i-ljuser-username" target="_self"><b>zolak</b></a></span> </span>  </p> <p class="b-leaf-meta">   <span class="b-leaf-shorttime">18 years ago</span>   </p>   </ul>    </div> </div>   </div> </div>    </div><div class=" b-tree-twig  b-tree-twig-14 b-tree-twig-deep-10  " style="margin-left: 390px" data-tid="t19858">    <div id="t19858" class=" b-leaf  b-leaf-collapsed        b-leaf-poster   b-leaf-withsubject      comment p-comment " data-username="maratyszcza" data-displayname="maratyszcza" data-updated-ts="1089884643" data-subject="Re: Nie..."> <div class=" b-leaf-inner svgpreloader svgpreloader-pseudo svgpreloader-16 "> <div class="b-leaf-header"> <div class="b-leaf-userpic"> <a href="https://maratyszcza.livejournal.com/" target="_blank" class="b-leaf-userpic-inner" lj:user="maratyszcza">   <img src="https://l-stat.livejournal.net/img/userpics/userpic-user.png?v=15821" alt="maratyszcza" loading="lazy">  </a> </div> <div class="b-leaf-details">   <h4 class="b-leaf-subject"><a href="https://lacinka.livejournal.com/1426.html?thread=19858#t19858" class="b-leaf-subject-link" target="_self">Re: Nie...</a></h4>  <p class="b-leaf-username"><span class="b-leaf-username-name"><span class="ljuser  i-ljuser  i-ljuser-type-P     " data-ljuser="maratyszcza" lj:user="maratyszcza"><a href="https://maratyszcza.livejournal.com/profile" class="i-ljuser-profile" target="_self"><img class="i-ljuser-userhead" src="https://l-stat.livejournal.net/img/userinfo_v8.svg?v=17080?v=657"></a><a href="https://maratyszcza.livejournal.com/" class="i-ljuser-username" target="_self"><b>maratyszcza</b></a></span> </span>  </p> <p class="b-leaf-meta">   <span class="b-leaf-shorttime">18 years ago</span>   </p>   </ul>    </div> </div>   </div> </div>    </div><div class=" b-tree-twig  b-tree-twig-15 b-tree-twig-deep-10  " style="margin-left: 420px" data-tid="t23442">    <div id="t23442" class=" b-leaf  b-leaf-collapsed         b-leaf-withsubject      comment p-comment " data-username="zolak" data-displayname="zolak" data-updated-ts="1089895928" data-subject="Re: Nie..."> <div class=" b-leaf-inner svgpreloader svgpreloader-pseudo svgpreloader-16 "> <div class="b-leaf-header"> <div class="b-leaf-userpic"> <a href="https://zolak.livejournal.com/" target="_blank" class="b-leaf-userpic-inner" lj:user="zolak">   <img src="https://l-stat.livejournal.net/img/userpics/userpic-user.png?v=15821" alt="zolak" loading="lazy">  </a> </div> <div class="b-leaf-details">   <h4 class="b-leaf-subject"><a href="https://lacinka.livejournal.com/1426.html?thread=23442#t23442" class="b-leaf-subject-link" target="_self">Re: Nie...</a></h4>  <p class="b-leaf-username"><span class="b-leaf-username-name"><span class="ljuser  i-ljuser  i-ljuser-deleted  i-ljuser-type-P     " data-ljuser="zolak" lj:user="zolak"><a href="https://zolak.livejournal.com/profile" class="i-ljuser-profile" target="_self"><img class="i-ljuser-userhead" src="https://l-stat.livejournal.net/img/userinfo_v8.svg?v=17080?v=657"></a><a href="https://zolak.livejournal.com/" class="i-ljuser-username" target="_self"><b>zolak</b></a></span> </span>  </p> <p class="b-leaf-meta">   <span class="b-leaf-shorttime">18 years ago</span>   </p>   </ul>    </div> </div>   </div> </div>    </div><div class=" b-tree-twig  b-tree-twig-16 b-tree-twig-deep-10  " style="margin-left: 450px" data-tid="t24210">    <div id="t24210" class=" b-leaf  b-leaf-collapsed        b-leaf-poster   b-leaf-withsubject      comment p-comment " data-username="maratyszcza" data-displayname="maratyszcza" data-updated-ts="1089897741" data-subject="Re: Nie..."> <div class=" b-leaf-inner svgpreloader svgpreloader-pseudo svgpreloader-16 "> <div class="b-leaf-header"> <div class="b-leaf-userpic"> <a href="https://maratyszcza.livejournal.com/" target="_blank" class="b-leaf-userpic-inner" lj:user="maratyszcza">   <img src="https://l-stat.livejournal.net/img/userpics/userpic-user.png?v=15821" alt="maratyszcza" loading="lazy">  </a> </div> <div class="b-leaf-details">   <h4 class="b-leaf-subject"><a href="https://lacinka.livejournal.com/1426.html?thread=24210#t24210" class="b-leaf-subject-link" target="_self">Re: Nie...</a></h4>  <p class="b-leaf-username"><span class="b-leaf-username-name"><span class="ljuser  i-ljuser  i-ljuser-type-P     " data-ljuser="maratyszcza" lj:user="maratyszcza"><a href="https://maratyszcza.livejournal.com/profile" class="i-ljuser-profile" target="_self"><img class="i-ljuser-userhead" src="https://l-stat.livejournal.net/img/userinfo_v8.svg?v=17080?v=657"></a><a href="https://maratyszcza.livejournal.com/" class="i-ljuser-username" target="_self"><b>maratyszcza</b></a></span> </span>  </p> <p class="b-leaf-meta">   <span class="b-leaf-shorttime">18 years ago</span>   </p>   </ul>    </div> </div>   </div> </div>    </div><div class=" b-tree-twig  b-tree-twig-17 b-tree-twig-deep-10  " style="margin-left: 480px" data-tid="t24722">    <div id="t24722" class=" b-leaf  b-leaf-collapsed         b-leaf-withsubject      comment p-comment " data-username="zolak" data-displayname="zolak" data-updated-ts="1089899080" data-subject="Re: Nie..."> <div class=" b-leaf-inner svgpreloader svgpreloader-pseudo svgpreloader-16 "> <div class="b-leaf-header"> <div class="b-leaf-userpic"> <a href="https://zolak.livejournal.com/" target="_blank" class="b-leaf-userpic-inner" lj:user="zolak">   <img src="https://l-stat.livejournal.net/img/userpics/userpic-user.png?v=15821" alt="zolak" loading="lazy">  </a> </div> <div class="b-leaf-details">   <h4 class="b-leaf-subject"><a href="https://lacinka.livejournal.com/1426.html?thread=24722#t24722" class="b-leaf-subject-link" target="_self">Re: Nie...</a></h4>  <p class="b-leaf-username"><span class="b-leaf-username-name"><span class="ljuser  i-ljuser  i-ljuser-deleted  i-ljuser-type-P     " data-ljuser="zolak" lj:user="zolak"><a href="https://zolak.livejournal.com/profile" class="i-ljuser-profile" target="_self"><img class="i-ljuser-userhead" src="https://l-stat.livejournal.net/img/userinfo_v8.svg?v=17080?v=657"></a><a href="https://zolak.livejournal.com/" class="i-ljuser-username" target="_self"><b>zolak</b></a></span> </span>  </p> <p class="b-leaf-meta">   <span class="b-leaf-shorttime">18 years ago</span>   </p>   </ul>    </div> </div>   </div> </div>    </div><div class=" b-tree-twig  b-tree-twig-18 b-tree-twig-deep-10  " style="margin-left: 510px" data-tid="t25234">    <div id="t25234" class=" b-leaf  b-leaf-collapsed        b-leaf-poster   b-leaf-withsubject      comment p-comment " data-username="maratyszcza" data-displayname="maratyszcza" data-updated-ts="1089911915" data-subject="Re: Nie..."> <div class=" b-leaf-inner svgpreloader svgpreloader-pseudo svgpreloader-16 "> <div class="b-leaf-header"> <div class="b-leaf-userpic"> <a href="https://maratyszcza.livejournal.com/" target="_blank" class="b-leaf-userpic-inner" lj:user="maratyszcza">   <img src="https://l-stat.livejournal.net/img/userpics/userpic-user.png?v=15821" alt="maratyszcza" loading="lazy">  </a> </div> <div class="b-leaf-details">   <h4 class="b-leaf-subject"><a href="https://lacinka.livejournal.com/1426.html?thread=25234#t25234" class="b-leaf-subject-link" target="_self">Re: Nie...</a></h4>  <p class="b-leaf-username"><span class="b-leaf-username-name"><span class="ljuser  i-ljuser  i-ljuser-type-P     " data-ljuser="maratyszcza" lj:user="maratyszcza"><a href="https://maratyszcza.livejournal.com/profile" class="i-ljuser-profile" target="_self"><img class="i-ljuser-userhead" src="https://l-stat.livejournal.net/img/userinfo_v8.svg?v=17080?v=657"></a><a href="https://maratyszcza.livejournal.com/" class="i-ljuser-username" target="_self"><b>maratyszcza</b></a></span> </span>  </p> <p class="b-leaf-meta">   <span class="b-leaf-shorttime">18 years ago</span>   </p>   </ul>    </div> </div>   </div> </div>    </div><div class=" b-tree-twig  b-tree-twig-19 b-tree-twig-deep-10  " style="margin-left: 540px" data-tid="t26514">    <div id="t26514" class=" b-leaf  b-leaf-collapsed         b-leaf-withsubject      comment p-comment " data-username="zolak" data-displayname="zolak" data-updated-ts="1089942121" data-subject="Re: Nie..."> <div class=" b-leaf-inner svgpreloader svgpreloader-pseudo svgpreloader-16 "> <div class="b-leaf-header"> <div class="b-leaf-userpic"> <a href="https://zolak.livejournal.com/" target="_blank" class="b-leaf-userpic-inner" lj:user="zolak">   <img src="https://l-stat.livejournal.net/img/userpics/userpic-user.png?v=15821" alt="zolak" loading="lazy">  </a> </div> <div class="b-leaf-details">   <h4 class="b-leaf-subject"><a href="https://lacinka.livejournal.com/1426.html?thread=26514#t26514" class="b-leaf-subject-link" target="_self">Re: Nie...</a></h4>  <p class="b-leaf-username"><span class="b-leaf-username-name"><span class="ljuser  i-ljuser  i-ljuser-deleted  i-ljuser-type-P     " data-ljuser="zolak" lj:user="zolak"><a href="https://zolak.livejournal.com/profile" class="i-ljuser-profile" target="_self"><img class="i-ljuser-userhead" src="https://l-stat.livejournal.net/img/userinfo_v8.svg?v=17080?v=657"></a><a href="https://zolak.livejournal.com/" class="i-ljuser-username" target="_self"><b>zolak</b></a></span> </span>  </p> <p class="b-leaf-meta">   <span class="b-leaf-shorttime">18 years ago</span>   </p>   </ul>    </div> </div>   </div> </div>    </div><div class=" b-tree-twig  b-tree-twig-13 b-tree-twig-deep-10  " style="margin-left: 360px" data-tid="t14482">    <div id="t14482" class=" b-leaf  b-leaf-collapsed         b-leaf-withsubject      comment p-comment " data-username="zedlik" data-displayname="zedlik" data-updated-ts="1089853767" data-subject="Re: Nie..."> <div class=" b-leaf-inner svgpreloader svgpreloader-pseudo svgpreloader-16 "> <div class="b-leaf-header"> <div class="b-leaf-userpic"> <a href="https://zedlik.livejournal.com/" target="_blank" class="b-leaf-userpic-inner" lj:user="zedlik">   <img src="https://l-stat.livejournal.net/img/userpics/userpic-user.png?v=15821" alt="zedlik" loading="lazy">  </a> </div> <div class="b-leaf-details">   <h4 class="b-leaf-subject"><a href="https://lacinka.livejournal.com/1426.html?thread=14482#t14482" class="b-leaf-subject-link" target="_self">Re: Nie...</a></h4>  <p class="b-leaf-username"><span class="b-leaf-username-name"><span class="ljuser  i-ljuser  i-ljuser-type-P     " data-ljuser="zedlik" lj:user="zedlik"><a href="https://zedlik.livejournal.com/profile" class="i-ljuser-profile" target="_self"><img class="i-ljuser-userhead" src="https://l-stat.livejournal.net/img/userinfo_v8.svg?v=17080?v=657"></a><a href="https://zedlik.livejournal.com/" class="i-ljuser-username" target="_self"><b>zedlik</b></a></span> </span>  </p> <p class="b-leaf-meta">   <span class="b-leaf-shorttime">18 years ago</span>   </p>   </ul>    </div> </div>   </div> </div>    </div><div class=" b-tree-twig  b-tree-twig-14 b-tree-twig-deep-10  " style="margin-left: 390px" data-tid="t15762">    <div id="t15762" class=" b-leaf  b-leaf-collapsed         b-leaf-withsubject      comment p-comment " data-username="zmila" data-displayname="zmila" data-updated-ts="1089857130" data-subject="Re: Nie..."> <div class=" b-leaf-inner svgpreloader svgpreloader-pseudo svgpreloader-16 "> <div class="b-leaf-header"> <div class="b-leaf-userpic"> <a href="https://zmila.livejournal.com/" target="_blank" class="b-leaf-userpic-inner" lj:user="zmila">   <img src="https://l-stat.livejournal.net/img/userpics/userpic-user.png?v=15821" alt="zmila" loading="lazy">  </a> </div> <div class="b-leaf-details">   <h4 class="b-leaf-subject"><a href="https://lacinka.livejournal.com/1426.html?thread=15762#t15762" class="b-leaf-subject-link" target="_self">Re: Nie...</a></h4>  <p class="b-leaf-username"><span class="b-leaf-username-name"><span class="ljuser  i-ljuser  i-ljuser-type-P     " data-ljuser="zmila" lj:user="zmila"><a href="https://zmila.livejournal.com/profile" class="i-ljuser-profile" target="_self"><img class="i-ljuser-userhead" src="https://l-stat.livejournal.net/img/userinfo_v8.svg?v=17080?v=657"></a><a href="https://zmila.livejournal.com/" class="i-ljuser-username" target="_self"><b>zmila</b></a></span> </span>  </p> <p class="b-leaf-meta">   <span class="b-leaf-shorttime">18 years ago</span>   </p>   </ul>    </div> </div>   </div> </div>    </div><div class=" b-tree-twig  b-tree-twig-15 b-tree-twig-deep-10  " style="margin-left: 420px" data-tid="t16274">    <div id="t16274" class=" b-leaf  b-leaf-collapsed         b-leaf-withsubject      comment p-comment " data-username="zedlik" data-displayname="zedlik" data-updated-ts="1089865440" data-subject="Re: Nie..."> <div class=" b-leaf-inner svgpreloader svgpreloader-pseudo svgpreloader-16 "> <div class="b-leaf-header"> <div class="b-leaf-userpic"> <a href="https://zedlik.livejournal.com/" target="_blank" class="b-leaf-userpic-inner" lj:user="zedlik">   <img src="https://l-stat.livejournal.net/img/userpics/userpic-user.png?v=15821" alt="zedlik" loading="lazy">  </a> </div> <div class="b-leaf-details">   <h4 class="b-leaf-subject"><a href="https://lacinka.livejournal.com/1426.html?thread=16274#t16274" class="b-leaf-subject-link" target="_self">Re: Nie...</a></h4>  <p class="b-leaf-username"><span class="b-leaf-username-name"><span class="ljuser  i-ljuser  i-ljuser-type-P     " data-ljuser="zedlik" lj:user="zedlik"><a href="https://zedlik.livejournal.com/profile" class="i-ljuser-profile" target="_self"><img class="i-ljuser-userhead" src="https://l-stat.livejournal.net/img/userinfo_v8.svg?v=17080?v=657"></a><a href="https://zedlik.livejournal.com/" class="i-ljuser-username" target="_self"><b>zedlik</b></a></span> </span>  </p> <p class="b-leaf-meta">   <span class="b-leaf-shorttime">18 years ago</span>   </p>   </ul>    </div> </div>   </div> </div>    </div><div class=" b-tree-twig  b-tree-twig-14 b-tree-twig-deep-10  " style="margin-left: 390px" data-tid="t19602">    <div id="t19602" class=" b-leaf  b-leaf-collapsed        b-leaf-poster   b-leaf-withsubject      comment p-comment " data-username="maratyszcza" data-displayname="maratyszcza" data-updated-ts="1089884544" data-subject="Re: Nie..."> <div class=" b-leaf-inner svgpreloader svgpreloader-pseudo svgpreloader-16 "> <div class="b-leaf-header"> <div class="b-leaf-userpic"> <a href="https://maratyszcza.livejournal.com/" target="_blank" class="b-leaf-userpic-inner" lj:user="maratyszcza">   <img src="https://l-stat.livejournal.net/img/userpics/userpic-user.png?v=15821" alt="maratyszcza" loading="lazy">  </a> </div> <div class="b-leaf-details">   <h4 class="b-leaf-subject"><a href="https://lacinka.livejournal.com/1426.html?thread=19602#t19602" class="b-leaf-subject-link" target="_self">Re: Nie...</a></h4>  <p class="b-leaf-username"><span class="b-leaf-username-name"><span class="ljuser  i-ljuser  i-ljuser-type-P     " data-ljuser="maratyszcza" lj:user="maratyszcza"><a href="https://maratyszcza.livejournal.com/profile" class="i-ljuser-profile" target="_self"><img class="i-ljuser-userhead" src="https://l-stat.livejournal.net/img/userinfo_v8.svg?v=17080?v=657"></a><a href="https://maratyszcza.livejournal.com/" class="i-ljuser-username" target="_self"><b>maratyszcza</b></a></span> </span>  </p> <p class="b-leaf-meta">   <span class="b-leaf-shorttime">18 years ago</span>   </p>   </ul>    </div> </div>   </div> </div>    </div><div class=" b-tree-twig  b-tree-twig-15 b-tree-twig-deep-10  " style="margin-left: 420px" data-tid="t20626">    <div id="t20626" class=" b-leaf  b-leaf-collapsed         b-leaf-withsubject      comment p-comment " data-username="zedlik" data-displayname="zedlik" data-updated-ts="1089888235" data-subject="Re: Nie..."> <div class=" b-leaf-inner svgpreloader svgpreloader-pseudo svgpreloader-16 "> <div class="b-leaf-header"> <div class="b-leaf-userpic"> <a href="https://zedlik.livejournal.com/" target="_blank" class="b-leaf-userpic-inner" lj:user="zedlik">   <img src="https://l-stat.livejournal.net/img/userpics/userpic-user.png?v=15821" alt="zedlik" loading="lazy">  </a> </div> <div class="b-leaf-details">   <h4 class="b-leaf-subject"><a href="https://lacinka.livejournal.com/1426.html?thread=20626#t20626" class="b-leaf-subject-link" target="_self">Re: Nie...</a></h4>  <p class="b-leaf-username"><span class="b-leaf-username-name"><span class="ljuser  i-ljuser  i-ljuser-type-P     " data-ljuser="zedlik" lj:user="zedlik"><a href="https://zedlik.livejournal.com/profile" class="i-ljuser-profile" target="_self"><img class="i-ljuser-userhead" src="https://l-stat.livejournal.net/img/userinfo_v8.svg?v=17080?v=657"></a><a href="https://zedlik.livejournal.com/" class="i-ljuser-username" target="_self"><b>zedlik</b></a></span> </span>  </p> <p class="b-leaf-meta">   <span class="b-leaf-shorttime">18 years ago</span>   </p>   </ul>    </div> </div>   </div> </div>    </div><div class=" b-tree-twig  b-tree-twig-16 b-tree-twig-deep-10  " style="margin-left: 450px" data-tid="t21650">    <div id="t21650" class=" b-leaf  b-leaf-collapsed        b-leaf-poster   b-leaf-withsubject      comment p-comment " data-username="maratyszcza" data-displayname="maratyszcza" data-updated-ts="1089891269" data-subject="Re: Nie..."> <div class=" b-leaf-inner svgpreloader svgpreloader-pseudo svgpreloader-16 "> <div class="b-leaf-header"> <div class="b-leaf-userpic"> <a href="https://maratyszcza.livejournal.com/" target="_blank" class="b-leaf-userpic-inner" lj:user="maratyszcza">   <img src="https://l-stat.livejournal.net/img/userpics/userpic-user.png?v=15821" alt="maratyszcza" loading="lazy">  </a> </div> <div class="b-leaf-details">   <h4 class="b-leaf-subject"><a href="https://lacinka.livejournal.com/1426.html?thread=21650#t21650" class="b-leaf-subject-link" target="_self">Re: Nie...</a></h4>  <p class="b-leaf-username"><span class="b-leaf-username-name"><span class="ljuser  i-ljuser  i-ljuser-type-P     " data-ljuser="maratyszcza" lj:user="maratyszcza"><a href="https://maratyszcza.livejournal.com/profile" class="i-ljuser-profile" target="_self"><img class="i-ljuser-userhead" src="https://l-stat.livejournal.net/img/userinfo_v8.svg?v=17080?v=657"></a><a href="https://maratyszcza.livejournal.com/" class="i-ljuser-username" target="_self"><b>maratyszcza</b></a></span> </span>  </p> <p class="b-leaf-meta">   <span class="b-leaf-shorttime">18 years ago</span>   </p>   </ul>    </div> </div>   </div> </div>    </div><div class=" b-tree-twig  b-tree-twig-17 b-tree-twig-deep-10  " style="margin-left: 480px" data-tid="t22674">    <div id="t22674" class=" b-leaf  b-leaf-collapsed         b-leaf-withsubject      comment p-comment " data-username="zedlik" data-displayname="zedlik" data-updated-ts="1089894483" data-subject="Re: Nie..."> <div class=" b-leaf-inner svgpreloader svgpreloader-pseudo svgpreloader-16 "> <div class="b-leaf-header"> <div class="b-leaf-userpic"> <a href="https://zedlik.livejournal.com/" target="_blank" class="b-leaf-userpic-inner" lj:user="zedlik">   <img src="https://l-stat.livejournal.net/img/userpics/userpic-user.png?v=15821" alt="zedlik" loading="lazy">  </a> </div> <div class="b-leaf-details">   <h4 class="b-leaf-subject"><a href="https://lacinka.livejournal.com/1426.html?thread=22674#t22674" class="b-leaf-subject-link" target="_self">Re: Nie...</a></h4>  <p class="b-leaf-username"><span class="b-leaf-username-name"><span class="ljuser  i-ljuser  i-ljuser-type-P     " data-ljuser="zedlik" lj:user="zedlik"><a href="https://zedlik.livejournal.com/profile" class="i-ljuser-profile" target="_self"><img class="i-ljuser-userhead" src="https://l-stat.livejournal.net/img/userinfo_v8.svg?v=17080?v=657"></a><a href="https://zedlik.livejournal.com/" class="i-ljuser-username" target="_self"><b>zedlik</b></a></span> </span>  </p> <p class="b-leaf-meta">   <span class="b-leaf-shorttime">18 years ago</span>   </p>   </ul>    </div> </div>   </div> </div>    </div><div class=" b-tree-twig  b-tree-twig-18 b-tree-twig-deep-10  " style="margin-left: 510px" data-tid="t23954">    <div id="t23954" class=" b-leaf  b-leaf-collapsed        b-leaf-poster   b-leaf-withsubject      comment p-comment " data-username="maratyszcza" data-displayname="maratyszcza" data-updated-ts="1089896233" data-subject="Re: Nie..."> <div class=" b-leaf-inner svgpreloader svgpreloader-pseudo svgpreloader-16 "> <div class="b-leaf-header"> <div class="b-leaf-userpic"> <a href="https://maratyszcza.livejournal.com/" target="_blank" class="b-leaf-userpic-inner" lj:user="maratyszcza">   <img src="https://l-stat.livejournal.net/img/userpics/userpic-user.png?v=15821" alt="maratyszcza" loading="lazy">  </a> </div> <div class="b-leaf-details">   <h4 class="b-leaf-subject"><a href="https://lacinka.livejournal.com/1426.html?thread=23954#t23954" class="b-leaf-subject-link" target="_self">Re: Nie...</a></h4>  <p class="b-leaf-username"><span class="b-leaf-username-name"><span class="ljuser  i-ljuser  i-ljuser-type-P     " data-ljuser="maratyszcza" lj:user="maratyszcza"><a href="https://maratyszcza.livejournal.com/profile" class="i-ljuser-profile" target="_self"><img class="i-ljuser-userhead" src="https://l-stat.livejournal.net/img/userinfo_v8.svg?v=17080?v=657"></a><a href="https://maratyszcza.livejournal.com/" class="i-ljuser-username" target="_self"><b>maratyszcza</b></a></span> </span>  </p> <p class="b-leaf-meta">   <span class="b-leaf-shorttime">18 years ago</span>   </p>   </ul>    </div> </div>   </div> </div>    </div><div class=" b-tree-twig  b-tree-twig-1 b-tree-twig-deep-0  " style="margin-left: 0px" data-tid="t6802">    <div id="t6802" class=" b-leaf            b-leaf-full   comment p-comment " data-username="zolak" data-displayname="zolak" data-updated-ts="1089800973" data-full="1"> <div class=" b-leaf-inner svgpreloader svgpreloader-pseudo svgpreloader-16 "> <div class="b-leaf-header"> <div class="b-leaf-userpic"> <a href="https://zolak.livejournal.com/" target="_blank" class="b-leaf-userpic-inner" lj:user="zolak">   <img src="https://l-stat.livejournal.net/img/userpics/userpic-user.png?v=15821" alt="zolak" loading="lazy">  </a> </div> <div class="b-leaf-details">   <p class="b-leaf-username"><span class="b-leaf-username-name"><span class="ljuser  i-ljuser  i-ljuser-deleted  i-ljuser-type-P     " data-ljuser="zolak" lj:user="zolak"><a href="https://zolak.livejournal.com/profile" class="i-ljuser-profile" target="_self"><img class="i-ljuser-userhead" src="https://l-stat.livejournal.net/img/userinfo_v8.svg?v=17080?v=657"></a><a href="https://zolak.livejournal.com/" class="i-ljuser-username" target="_self"><b>zolak</b></a></span> </span>  </p> <p class="b-leaf-meta">  <a href="https://lacinka.livejournal.com/1426.html?thread=6802#t6802" class="b-leaf-permalink" target="_self"> <span class="b-leaf-createdtime">July 14 2004, 10:29:33 UTC</span> </a>   <span class="b-leaf-shorttime">18 years ago</span>   </p>   </ul>        </div> </div>  <div class="b-leaf-article"> Dziakuj za tabličku! Niama alternatyvy dla unicode, jak bačna. </div>   </div> </div>    </div><div class=" b-tree-twig  b-tree-twig-2 b-tree-twig-deep-0  " style="margin-left: 30px" data-tid="t15506">    <div id="t15506" class=" b-leaf            b-leaf-full   comment p-comment " data-username="zmila" data-displayname="zmila" data-updated-ts="1089856799" data-full="1"> <div class=" b-leaf-inner svgpreloader svgpreloader-pseudo svgpreloader-16 "> <div class="b-leaf-header"> <div class="b-leaf-userpic"> <a href="https://zmila.livejournal.com/" target="_blank" class="b-leaf-userpic-inner" lj:user="zmila">   <img src="https://l-userpic.livejournal.com/59400445/1373896" alt="zmila" loading="lazy" title="Źmicier Łapcönak / Зьміцер Лапцёнак: 3kub">  </a> </div> <div class="b-leaf-details">   <p class="b-leaf-username"><span class="b-leaf-username-name"><span class="ljuser  i-ljuser  i-ljuser-type-P     " data-ljuser="zmila" lj:user="zmila"><a href="https://zmila.livejournal.com/profile" class="i-ljuser-profile" target="_self"><img class="i-ljuser-userhead" src="https://l-stat.livejournal.net/img/userinfo_v8.svg?v=17080?v=657"></a><a href="https://zmila.livejournal.com/" class="i-ljuser-username" target="_self"><b>zmila</b></a></span> </span>  </p> <p class="b-leaf-meta">  <a href="https://lacinka.livejournal.com/1426.html?thread=15506#t15506" class="b-leaf-permalink" target="_self"> <span class="b-leaf-createdtime">July 15 2004, 01:59:59 UTC</span> </a>   <span class="b-leaf-shorttime">18 years ago</span>   </p>   </ul>        </div> </div>  <div class="b-leaf-article"> znoŭ uspłyvaje paraŭnańnie z Esperanta :-) <br>tam taksama jo litarki z hačykami, kab ix pisać treba ŭžyvać roznyja suragaty (ĉ = "cx", "ch", "c^", ...) abo rabić vykruntasy i padładžvacca pad Latin-3 (adziny, što maje "ŭ") ci [ iści ŭ nahu z časam - užyvać unikod.  </div>   </div> </div>    </div><div class=" b-tree-twig  b-tree-twig-3 b-tree-twig-deep-0  " style="margin-left: 60px" data-tid="t18322">    <div id="t18322" class=" b-leaf            b-leaf-full   comment p-comment " data-username="zolak" data-displayname="zolak" data-updated-ts="1089874169" data-full="1"> <div class=" b-leaf-inner svgpreloader svgpreloader-pseudo svgpreloader-16 "> <div class="b-leaf-header"> <div class="b-leaf-userpic"> <a href="https://zolak.livejournal.com/" target="_blank" class="b-leaf-userpic-inner" lj:user="zolak">   <img src="https://l-stat.livejournal.net/img/userpics/userpic-user.png?v=15821" alt="zolak" loading="lazy">  </a> </div> <div class="b-leaf-details">   <p class="b-leaf-username"><span class="b-leaf-username-name"><span class="ljuser  i-ljuser  i-ljuser-deleted  i-ljuser-type-P     " data-ljuser="zolak" lj:user="zolak"><a href="https://zolak.livejournal.com/profile" class="i-ljuser-profile" target="_self"><img class="i-ljuser-userhead" src="https://l-stat.livejournal.net/img/userinfo_v8.svg?v=17080?v=657"></a><a href="https://zolak.livejournal.com/" class="i-ljuser-username" target="_self"><b>zolak</b></a></span> </span>  </p> <p class="b-leaf-meta">  <a href="https://lacinka.livejournal.com/1426.html?thread=18322#t18322" class="b-leaf-permalink" target="_self"> <span class="b-leaf-createdtime">July 15 2004, 06:49:29 UTC</span> </a>   <span class="b-leaf-shorttime">18 years ago</span>   </p>   </ul>        </div> </div>  <div class="b-leaf-article"> I ŭžyvajuć? Mnie zdajecca, što utf-8 heta najlepšaje kadavańnie dla esperanta. </div>   </div> </div>    </div><div class=" b-tree-twig  b-tree-twig-1 b-tree-twig-deep-0  " style="margin-left: 0px" data-tid="t11154">    <div id="t11154" class=" b-leaf            b-leaf-full   comment p-comment " data-username="ausvald" data-displayname="ausvald" data-updated-ts="1089813742" data-full="1"> <div class=" b-leaf-inner svgpreloader svgpreloader-pseudo svgpreloader-16 "> <div class="b-leaf-header"> <div class="b-leaf-userpic"> <a href="https://ausvald.livejournal.com/" target="_blank" class="b-leaf-userpic-inner" lj:user="ausvald">   <img src="https://l-userpic.livejournal.com/24027510/1048492" alt="ausvald" loading="lazy" title="Аўсвальд: kalihon">  </a> </div> <div class="b-leaf-details">   <p class="b-leaf-username"><span class="b-leaf-username-name"><span class="ljuser  i-ljuser  i-ljuser-type-P     " data-ljuser="ausvald" lj:user="ausvald"><a href="https://ausvald.livejournal.com/profile" class="i-ljuser-profile" target="_self"><img class="i-ljuser-userhead" src="https://l-stat.livejournal.net/img/userinfo_v8.svg?v=17080?v=657"></a><a href="https://ausvald.livejournal.com/" class="i-ljuser-username" target="_self"><b>ausvald</b></a></span> </span>  </p> <p class="b-leaf-meta">  <a href="https://lacinka.livejournal.com/1426.html?thread=11154#t11154" class="b-leaf-permalink" target="_self"> <span class="b-leaf-createdtime">July 14 2004, 14:02:22 UTC</span> </a>   <span class="b-leaf-shorttime">18 years ago</span>   </p>   </ul>        </div> </div>  <div class="b-leaf-article"> Måłåđiec! </div>   </div> </div>    </div><div class=" b-tree-twig  b-tree-twig-1 b-tree-twig-deep-0  " style="margin-left: 0px" data-tid="t48530">    <div id="t48530" class=" b-leaf         b-leaf-withsubject     b-leaf-full   comment p-comment " data-username="" data-displayname="" data-updated-ts="1090762956" data-full="1" data-subject="kody"> <div class=" b-leaf-inner svgpreloader svgpreloader-pseudo svgpreloader-16 "> <div class="b-leaf-header"> <div class="b-leaf-userpic"> <a href="" target="_blank" class="b-leaf-userpic-inner" lj:user="">   <img src="https://l-stat.livejournal.net/img/userpics/userpic-anonymous.png?v=15821" alt="" loading="lazy">  </a> </div> <div class="b-leaf-details">   <h4 class="b-leaf-subject"><a href="https://lacinka.livejournal.com/1426.html?thread=48530#t48530" class="b-leaf-subject-link" target="_self">kody</a></h4>  <p class="b-leaf-username"><span class="b-leaf-username-name">Anonymous</span>  </p> <p class="b-leaf-meta">  <a href="https://lacinka.livejournal.com/1426.html?thread=48530#t48530" class="b-leaf-permalink" target="_self"> <span class="b-leaf-createdtime">July 25 2004, 13:42:36 UTC</span> </a>   <span class="b-leaf-shorttime">18 years ago</span>   </p>   </ul>        </div> </div>  <div class="b-leaf-article"> A jakija kody taje prablematycnaje litary ǔ - ab jakoj ja pisau na http://www.livejournal.com/community/lacinka/407.html u "Zauvahi" i jakaja u html u UTF-8 u "simple text" vuhladaje jak kambinacyja Ç” - jana bo taksama prysutnaja u pasyranaj tablicy symbalau .ttf fantou? </div>   </div> </div>    </div></div>     <div prev-next-nav=""></div> <div suggestion-for-unlogged="" class="ng-isolate-scope"><!-- ngIf: directive.isBlockVisible --></div>   </div>         
