---
id: 15810
layout: page
date: 2022-10-16
---


<!-- s-body -->
        <div class="s-body">

            <!-- use header -->
            <!-- /use header -->

            <!-- Content -->
             <article class="b-singlepost hentry h-entry js-emojis  b-singlepost-mobileadaptive  b-singlepost-withbodybanner  ng-scope" role="main" ng-app="Entry"> <div class="b-singlepost-qrcode  ng-isolate-scope" lj-qrcode="https://lacinka.livejournal.com/15810.html" lj-qrcode-width="70" lj-qrcode-height="70"> <canvas width="70" height="70"></canvas></div> <div class="b-singlepost-about"> <dl class=" b-singlepost-author author vcard p-author h-card " ng-non-bindable=""> <dt class=" b-singlepost-author-userpic photo u-photo " lj:user="zolak">  <img src="https://l-userpic.livejournal.com/56724982/707281" width="" height="" align="absmiddle" title="Zołak: pic#56724982" alt="">  </dt> <dd class="b-singlepost-author-userinfo"> <div class="b-singlepost-author-userinfo-screen"> <span class=" b-singlepost-author-user fn p-name "> <span class="b-singlepost-author-user-screen"> Zołak (<span class="ljuser  i-ljuser  i-ljuser-deleted  i-ljuser-type-P     " data-ljuser="zolak" lj:user="zolak"><a href="https://zolak.livejournal.com/profile" target="_self" class="i-ljuser-profile"><img class="i-ljuser-userhead" src="https://l-stat.livejournal.net/img/userinfo_v8.svg?v=17080?v=657"></a><a href="https://zolak.livejournal.com/" class="i-ljuser-username" target="_self"><b>zolak</b></a></span>) wrote in <span class="ljuser  i-ljuser  i-ljuser-type-C     " data-ljuser="lacinka" lj:user="lacinka"><a href="https://lacinka.livejournal.com/profile" target="_self" class="i-ljuser-profile"><img class="i-ljuser-userhead" src="https://l-stat.livejournal.net/img/community.gif?v=556?v=657"></a><a href="https://lacinka.livejournal.com/" class="i-ljuser-username" target="_self"><b>lacinka</b></a></span>, </span> </span> <br> <time class=" b-singlepost-author-date published dt-published "><a href="https://lacinka.livejournal.com/2005/" target="_self">2005</a>-<a href="https://lacinka.livejournal.com/2005/08/" target="_self">08</a>-<a href="https://lacinka.livejournal.com/2005/08/30/" target="_self">30</a> 19:15:00</time>   </div> <div class="b-singlepost-author-userinfo-print"> <span class=" b-singlepost-author-user fn p-name "> Zołak<br> <span class="ljuser  i-ljuser  i-ljuser-deleted  i-ljuser-type-P     " data-ljuser="zolak" lj:user="zolak"><a href="https://zolak.livejournal.com/profile" target="_self" class="i-ljuser-profile"><img class="i-ljuser-userhead" src="https://l-stat.livejournal.net/img/userinfo_v8.svg?v=17080?v=657"></a><a href="https://zolak.livejournal.com/" class="i-ljuser-username" target="_self"><b>zolak</b></a></span>  <br><span class="ljuser  i-ljuser  i-ljuser-type-C     " data-ljuser="lacinka" lj:user="lacinka"><a href="https://lacinka.livejournal.com/profile" target="_self" class="i-ljuser-profile"><img class="i-ljuser-userhead" src="https://l-stat.livejournal.net/img/community.gif?v=556?v=657"></a><a href="https://lacinka.livejournal.com/" class="i-ljuser-username" target="_self"><b>lacinka</b></a></span>  </span> <br> <time class=" b-singlepost-author-date published dt-published "><a href="https://lacinka.livejournal.com/2005/" target="_self">2005</a>-<a href="https://lacinka.livejournal.com/2005/08/" target="_self">08</a>-<a href="https://lacinka.livejournal.com/2005/08/30/" target="_self">30</a> 19:15:00</time> </div> </dd> </dl>  </div>    <div class="b-singlepost-wrapper">  ¤ <ul class="b-linkbar">  <li class="b-linkbar-item"><a href="https://www.livejournal.com/go.bml?journal=lacinka&amp;itemid=15810&amp;dir=prev" rel="nofollow" title="Previous" class="b-controls b-controls-prev" target="_self"><i class="b-controls-bg"></i>Previous</a></li>  <li class="b-linkbar-item ng-scope" lj-share="{ url: 'https://lacinka.livejournal.com/15810.html', title: '', text: '', hashtags: '', alwaysBottom: true }">
                <a href="javascript:void(0);" rel="nofollow" title="Share" class="b-controls b-controls-share js-lj-share" data-hashtags="" data-title="" data-url="https%3A%2F%2Flacinka.livejournal.com%2F15810.html" target="_self">
                    <i class="b-controls-bg"></i>Share
                </a>
            </li>  <li class="b-linkbar-item"><a href="https://www.livejournal.com/tools/content_flag.bml?user=lacinka&amp;itemid=15810" rel="nofollow" title="Flag" class="b-controls b-controls-flag" target="_self"><i class="b-controls-bg"></i>Flag</a></li>  <li class="b-linkbar-item"><a href="https://www.livejournal.com/go.bml?journal=lacinka&amp;itemid=15810&amp;dir=next" rel="nofollow" title="Next" class="b-controls b-controls-next" target="_self"><i class="b-controls-bg"></i>Next</a></li>  </ul> </div>      <div class="b-singlepost-bodywrapper">  <article class="b-singlepost-body entry-content e-content   ng-scope" lj-sale-entry="" lj-discovery-tags="" lj-embed-resizer=""> +<span class="ljuser  i-ljuser  i-ljuser-type-P     " data-ljuser="predatorre" lj:user="predatorre"><a href="https://predatorre.livejournal.com/profile" target="_self" class="i-ljuser-profile"><img class="i-ljuser-userhead" src="https://l-stat.livejournal.net/img/userinfo_v8.svg?v=17080?v=657"></a><a href="https://predatorre.livejournal.com/" class="i-ljuser-username" target="_self"><b>predatorre</b></a></span>  </article>   </div>    </div> <div class="b-singlepost-video-wrap"> <div data-autoplay-dockable-video-mount=""></div> </div>
<div id="comments" class="b-grove  b-grove-3comments" data-authtoken="c0:1682874000:202:86400:kXNk9AiFZ6-0-:63fa3fa7c2b8bba40526091d61e056c0"> <div class=" b-xylem  b-xylem-first  "> <ul class="b-xylem-cells">  <li class=" b-xylem-cell b-xylem-cell-amount ">   <span class="js-amount">  0 comments  </span>   </li>  </ul>  </div> <div class=" b-massaction-top ">  </div>    <div class=" b-tree b-tree-best ">  </div> <div class=" b-tree b-tree-promo " data-currentprice="">  </div>  <div class=" b-tree b-tree-root svgpreloader svgpreloader-pseudo svgpreloader-30 "></div>     <div prev-next-nav=""></div> <div suggestion-for-unlogged="" class="ng-isolate-scope"><!-- ngIf: directive.isBlockVisible --></div>   </div>         