---
id: 19376
layout: page
date: 2022-10-16
---


<!-- s-body -->
        <div class="s-body">

            <!-- use header -->
            <!-- /use header -->

            <!-- Content -->
             <article class="b-singlepost hentry h-entry js-emojis  b-singlepost-mobileadaptive  b-singlepost-withbodybanner  ng-scope" role="main" ng-app="Entry"> <div class="b-singlepost-qrcode  ng-isolate-scope" lj-qrcode="https://lacinka.livejournal.com/19376.html" lj-qrcode-width="70" lj-qrcode-height="70"> <canvas width="70" height="70"></canvas></div> <div class="b-singlepost-about"> <dl class=" b-singlepost-author author vcard p-author h-card " ng-non-bindable=""> <dt class=" b-singlepost-author-userpic photo u-photo " lj:user="zolak">  <img src="https://l-userpic.livejournal.com/56724982/707281" width="" height="" align="absmiddle" title="Zołak: pic#56724982" alt="">  </dt> <dd class="b-singlepost-author-userinfo"> <div class="b-singlepost-author-userinfo-screen"> <span class=" b-singlepost-author-user fn p-name "> <span class="b-singlepost-author-user-screen"> Zołak (<span class="ljuser  i-ljuser  i-ljuser-deleted  i-ljuser-type-P     " data-ljuser="zolak" lj:user="zolak"><a href="https://zolak.livejournal.com/profile" target="_self" class="i-ljuser-profile"><img class="i-ljuser-userhead" src="https://l-stat.livejournal.net/img/userinfo_v8.svg?v=17080?v=657"></a><a href="https://zolak.livejournal.com/" class="i-ljuser-username" target="_self"><b>zolak</b></a></span>) wrote in <span class="ljuser  i-ljuser  i-ljuser-type-C     " data-ljuser="lacinka" lj:user="lacinka"><a href="https://lacinka.livejournal.com/profile" target="_self" class="i-ljuser-profile"><img class="i-ljuser-userhead" src="https://l-stat.livejournal.net/img/community.gif?v=556?v=657"></a><a href="https://lacinka.livejournal.com/" class="i-ljuser-username" target="_self"><b>lacinka</b></a></span>, </span> </span> <br> <time class=" b-singlepost-author-date published dt-published "><a href="https://lacinka.livejournal.com/2005/" target="_self">2005</a>-<a href="https://lacinka.livejournal.com/2005/10/" target="_self">10</a>-<a href="https://lacinka.livejournal.com/2005/10/24/" target="_self">24</a> 15:53:00</time>   </div> <div class="b-singlepost-author-userinfo-print"> <span class=" b-singlepost-author-user fn p-name "> Zołak<br> <span class="ljuser  i-ljuser  i-ljuser-deleted  i-ljuser-type-P     " data-ljuser="zolak" lj:user="zolak"><a href="https://zolak.livejournal.com/profile" target="_self" class="i-ljuser-profile"><img class="i-ljuser-userhead" src="https://l-stat.livejournal.net/img/userinfo_v8.svg?v=17080?v=657"></a><a href="https://zolak.livejournal.com/" class="i-ljuser-username" target="_self"><b>zolak</b></a></span>  <br><span class="ljuser  i-ljuser  i-ljuser-type-C     " data-ljuser="lacinka" lj:user="lacinka"><a href="https://lacinka.livejournal.com/profile" target="_self" class="i-ljuser-profile"><img class="i-ljuser-userhead" src="https://l-stat.livejournal.net/img/community.gif?v=556?v=657"></a><a href="https://lacinka.livejournal.com/" class="i-ljuser-username" target="_self"><b>lacinka</b></a></span>  </span> <br> <time class=" b-singlepost-author-date published dt-published "><a href="https://lacinka.livejournal.com/2005/" target="_self">2005</a>-<a href="https://lacinka.livejournal.com/2005/10/" target="_self">10</a>-<a href="https://lacinka.livejournal.com/2005/10/24/" target="_self">24</a> 15:53:00</time> </div> </dd> </dl>  </div>    <div class="b-singlepost-wrapper">  ¤ <ul class="b-linkbar">  <li class="b-linkbar-item"><a href="https://www.livejournal.com/go.bml?journal=lacinka&amp;itemid=19376&amp;dir=prev" rel="nofollow" title="Previous" class="b-controls b-controls-prev" target="_self"><i class="b-controls-bg"></i>Previous</a></li>  <li class="b-linkbar-item ng-scope" lj-share="{ url: 'https://lacinka.livejournal.com/19376.html', title: '', text: '', hashtags: '', alwaysBottom: true }">
                <a href="javascript:void(0);" rel="nofollow" title="Share" class="b-controls b-controls-share js-lj-share" data-hashtags="" data-title="" data-url="https%3A%2F%2Flacinka.livejournal.com%2F19376.html" target="_self">
                    <i class="b-controls-bg"></i>Share
                </a>
            </li>  <li class="b-linkbar-item"><a href="https://www.livejournal.com/tools/content_flag.bml?user=lacinka&amp;itemid=19376" rel="nofollow" title="Flag" class="b-controls b-controls-flag" target="_self"><i class="b-controls-bg"></i>Flag</a></li>  <li class="b-linkbar-item"><a href="https://www.livejournal.com/go.bml?journal=lacinka&amp;itemid=19376&amp;dir=next" rel="nofollow" title="Next" class="b-controls b-controls-next" target="_self"><i class="b-controls-bg"></i>Next</a></li>  </ul> </div>      <div class="b-singlepost-bodywrapper">  <article class="b-singlepost-body entry-content e-content   ng-scope" lj-sale-entry="" lj-discovery-tags="" lj-embed-resizer=""> <img border="1" src="https://imgprx.livejournal.net/fbba3664543b5a1c5b70a10187da426f82d3890f/u41LxRSKeYAa7-9O9jMSPni-2SEb5_8gXRRESJKX_cpF66knUHHEO6lRy_GT7k3IpMIB0on0qH6eDYsYKl_Yk4tAiGc5psm8W8ylzRQFU1E" hspace="5" vspace="5" style="float: right" loading="lazy">1. <b>Pacichu pačynajem pramocyju novaha damenu.</b> Dziakujučy ścipłamu karystalniku <span class="ljuser  i-ljuser  i-ljuser-type-P     " data-ljuser="nieformalnyi" lj:user="nieformalnyi"><a href="https://nieformalnyi.livejournal.com/profile" target="_self" class="i-ljuser-profile"><img class="i-ljuser-userhead" src="https://l-stat.livejournal.net/img/userinfo_v8.svg?v=17080?v=657"></a><a href="https://nieformalnyi.livejournal.com/" class="i-ljuser-username" target="_self"><b>nieformalnyi</b></a></span>, <a href="http://www.lacinka.org" rel="nofollow" target="_self">Łacinka.org</a>  — adzin sa sponsaraŭ festyvalu biełaruskaj aŭtarskaj pieśni u Bielsku Padlaskim „<a href="http://www.slonko.home.pl/bardy_2005.php" rel="nofollow" target="_self">Bardaŭskaja Vosień</a>”. <br><br>2. <b>Dadaŭ na sajcie novy kampanent.</b> Apošnija kamentary niezaležna ad taho pad jakim dopisam jany zroblenyja, dublujucca taksama na hałoŭnaj staroncy. Spadziajusia, Vam spadabajecca. <br><br><b>Rychtujucca taksama inšyja navinki.</b> Bolš hruntoŭnyja. <br><br>a) Łacinka.org budzie zarehistravanaj hramadzkaj arhanizacyjaj. <br><br>b) Na sajcie (mahčyma) pajaviacca:  <br><ol><b>naviny.lacinka.org</b> — z apošnimi navinami pisanymi biełaruskaj łacinkaj;</ol> <br><ol><b>mapa.lacinka.org</b> — elektronnaja mapa z hieahrafičnymi nazvami PRAVILNAJ łacinkaj;</ol><br><ol><b>krama.lacinka.org</b> — onlineavaja krama. Planujecca ŭ joj pradavać litaraturu, muzyku, inšyja fajnyja rečy;</ol><br><br>Prapanovy, krytyka, pytańni i ŭsio astatniaje vitajucca.  </article>   </div>    </div> <div class="b-singlepost-video-wrap"> <div data-autoplay-dockable-video-mount=""></div> </div>
<div id="comments" class="b-grove" data-authtoken="c0:1682874000:215:86400:RGHqy69r24-0-:8aa95755e5eb0706a3199000b90c4b45"> <div class=" b-xylem  b-xylem-first  "> <ul class="b-xylem-cells">  <li class=" b-xylem-cell b-xylem-cell-amount ">   <span class="js-amount">  4 comments  </span>   </li>  </ul>  </div> <div class=" b-massaction-top ">  </div>    <div class=" b-tree b-tree-best ">  </div> <div class=" b-tree b-tree-promo " data-currentprice="">  </div>  <div class=" b-tree b-tree-root svgpreloader svgpreloader-pseudo svgpreloader-30 "><div class=" b-tree-twig  b-tree-twig-1 b-tree-twig-deep-0  " style="margin-left: 0px" data-tid="t131504">    <div class=" b-leaf b-leaf-clipped b-leaf-deleted " id="t131504"> <div class=" b-leaf-inner svgpreloader svgpreloader-pseudo svgpreloader-16 "> <div class="b-leaf-cheader"> <p class="b-leaf-status">  Deleted comment  </p>   </div>  </div> </div>    </div><div class=" b-tree-twig  b-tree-twig-2 b-tree-twig-deep-0  " style="margin-left: 30px" data-tid="t132528">    <div id="t132528" class=" b-leaf            b-leaf-full   comment p-comment " data-username="nieformalnyi" data-displayname="nieformalnyi" data-updated-ts="1130181600" data-full="1"> <div class=" b-leaf-inner svgpreloader svgpreloader-pseudo svgpreloader-16 "> <div class="b-leaf-header"> <div class="b-leaf-userpic"> <a href="https://nieformalnyi.livejournal.com/" target="_blank" class="b-leaf-userpic-inner" lj:user="nieformalnyi">   <img src="https://l-userpic.livejournal.com/110798270/3950047" alt="nieformalnyi" loading="lazy" title="nieformalnyi: pic#110798270">  </a> </div> <div class="b-leaf-details">   <p class="b-leaf-username"><span class="b-leaf-username-name"><span class="ljuser  i-ljuser  i-ljuser-type-P     " data-ljuser="nieformalnyi" lj:user="nieformalnyi"><a href="https://nieformalnyi.livejournal.com/profile" class="i-ljuser-profile" target="_self"><img class="i-ljuser-userhead" src="https://l-stat.livejournal.net/img/userinfo_v8.svg?v=17080?v=657"></a><a href="https://nieformalnyi.livejournal.com/" class="i-ljuser-username" target="_self"><b>nieformalnyi</b></a></span> </span>  </p> <p class="b-leaf-meta">  <a href="https://lacinka.livejournal.com/19376.html?thread=132528#t132528" class="b-leaf-permalink" target="_self"> <span class="b-leaf-createdtime">October 24 2005, 19:20:00 UTC</span> </a>   <span class="b-leaf-shorttime">17 years ago</span>   </p>   </ul>        </div> </div>  <div class="b-leaf-article"> Možna :) Budzie zarehistravanaja ŭ Polščy. </div>   </div> </div>    </div><div class=" b-tree-twig  b-tree-twig-3 b-tree-twig-deep-0  " style="margin-left: 60px" data-tid="t132784">    <div class=" b-leaf b-leaf-clipped b-leaf-deleted " id="t132784"> <div class=" b-leaf-inner svgpreloader svgpreloader-pseudo svgpreloader-16 "> <div class="b-leaf-cheader"> <p class="b-leaf-status">  Deleted comment  </p>   </div>  </div> </div>    </div><div class=" b-tree-twig  b-tree-twig-4 b-tree-twig-deep-0  " style="margin-left: 90px" data-tid="t133296">    <div id="t133296" class=" b-leaf        b-leaf-poster      b-leaf-full   comment p-comment " data-username="zolak" data-displayname="zolak" data-updated-ts="1130183751" data-full="1"> <div class=" b-leaf-inner svgpreloader svgpreloader-pseudo svgpreloader-16 "> <div class="b-leaf-header"> <div class="b-leaf-userpic"> <a href="https://zolak.livejournal.com/" target="_blank" class="b-leaf-userpic-inner" lj:user="zolak">   <img src="https://l-stat.livejournal.net/img/userpics/userpic-user.png?v=15821" alt="zolak" loading="lazy">  </a> </div> <div class="b-leaf-details">   <p class="b-leaf-username"><span class="b-leaf-username-name"><span class="ljuser  i-ljuser  i-ljuser-deleted  i-ljuser-type-P     " data-ljuser="zolak" lj:user="zolak"><a href="https://zolak.livejournal.com/profile" class="i-ljuser-profile" target="_self"><img class="i-ljuser-userhead" src="https://l-stat.livejournal.net/img/userinfo_v8.svg?v=17080?v=657"></a><a href="https://zolak.livejournal.com/" class="i-ljuser-username" target="_self"><b>zolak</b></a></span> </span>  </p> <p class="b-leaf-meta">  <a href="https://lacinka.livejournal.com/19376.html?thread=133296#t133296" class="b-leaf-permalink" target="_self"> <span class="b-leaf-createdtime">October 24 2005, 19:55:51 UTC</span> </a>   <span class="b-leaf-shorttime">17 years ago</span>   </p>   </ul>        </div> </div>  <div class="b-leaf-article"> Takich „maskaloŭ” pryjmajem adnaznačna :) <br><br>Tolki ja nia viedaju, ci budzie u nas tam niejkaja fiksavanaje čalcoŭstva. Jašče šmat jakija momanty treba akreślić. Meta akreślenaja, i heta hałoŭnaje. Usio astatniaje — adno srodki dasiahnieńnia jaje.  </div>   </div> </div>    </div><div class=" b-tree-twig  b-tree-twig-1 b-tree-twig-deep-0  " style="margin-left: 0px" data-tid="t131760">    <div id="t131760" class=" b-leaf            b-leaf-full   comment p-comment " data-username="mirritil" data-displayname="mirritil" data-updated-ts="1130179384" data-full="1"> <div class=" b-leaf-inner svgpreloader svgpreloader-pseudo svgpreloader-16 "> <div class="b-leaf-header"> <div class="b-leaf-userpic"> <a href="https://mirritil.livejournal.com/" target="_blank" class="b-leaf-userpic-inner" lj:user="mirritil">   <img src="https://l-userpic.livejournal.com/28617092/6797174" alt="mirritil" loading="lazy" title="Mir'ritil: Mir'ritil">  </a> </div> <div class="b-leaf-details">   <p class="b-leaf-username"><span class="b-leaf-username-name"><span class="ljuser  i-ljuser  i-ljuser-type-P     " data-ljuser="mirritil" lj:user="mirritil"><a href="https://mirritil.livejournal.com/profile" class="i-ljuser-profile" target="_self"><img class="i-ljuser-userhead" src="https://l-stat.livejournal.net/img/userinfo_v8.svg?v=17080?v=657"></a><a href="https://mirritil.livejournal.com/" class="i-ljuser-username" target="_self"><b>mirritil</b></a></span> </span>  </p> <p class="b-leaf-meta">  <a href="https://lacinka.livejournal.com/19376.html?thread=131760#t131760" class="b-leaf-permalink" target="_self"> <span class="b-leaf-createdtime">October 24 2005, 18:43:04 UTC</span> </a>   <span class="b-leaf-shorttime">17 years ago</span>   </p>   </ul>        </div> </div>  <div class="b-leaf-article"> malajcy! tak trymac'! </div>   </div> </div>    </div><div class=" b-tree-twig  b-tree-twig-2 b-tree-twig-deep-0  " style="margin-left: 30px" data-tid="t133040">    <div id="t133040" class=" b-leaf            b-leaf-full   comment p-comment " data-username="" data-displayname="" data-updated-ts="1130182678" data-full="1"> <div class=" b-leaf-inner svgpreloader svgpreloader-pseudo svgpreloader-16 "> <div class="b-leaf-header"> <div class="b-leaf-userpic"> <a href="" target="_blank" class="b-leaf-userpic-inner" lj:user="">   <img src="https://l-stat.livejournal.net/img/userpics/userpic-anonymous.png?v=15821" alt="" loading="lazy">  </a> </div> <div class="b-leaf-details">   <p class="b-leaf-username"><span class="b-leaf-username-name">Anonymous</span>  </p> <p class="b-leaf-meta">  <a href="https://lacinka.livejournal.com/19376.html?thread=133040#t133040" class="b-leaf-permalink" target="_self"> <span class="b-leaf-createdtime">October 24 2005, 19:37:58 UTC</span> </a>   <span class="b-leaf-shorttime">17 years ago</span>   </p>   </ul>        </div> </div>  <div class="b-leaf-article"> :-) Starajemsia. </div>   </div> </div>    </div></div>     <div prev-next-nav=""></div> <div suggestion-for-unlogged="" class="ng-isolate-scope"><!-- ngIf: directive.isBlockVisible --></div>   </div>         