---
id: 20491
layout: page
date: 2022-10-16
---


<!-- s-body -->
        <div class="s-body">

            <!-- use header -->
            <!-- /use header -->

            <!-- Content -->
             <article class="b-singlepost hentry h-entry js-emojis  b-singlepost-mobileadaptive  b-singlepost-withbodybanner  ng-scope" role="main" ng-app="Entry"> <div class="b-singlepost-qrcode  ng-isolate-scope" lj-qrcode="https://lacinka.livejournal.com/20491.html" lj-qrcode-width="70" lj-qrcode-height="70"> <canvas width="70" height="70"></canvas></div> <div class="b-singlepost-about"> <dl class=" b-singlepost-author author vcard p-author h-card " ng-non-bindable=""> <dt class=" b-singlepost-author-userpic photo u-photo " lj:user="zolak">  <img src="https://l-userpic.livejournal.com/56724982/707281" width="" height="" align="absmiddle" title="Zołak: pic#56724982" alt="">  </dt> <dd class="b-singlepost-author-userinfo"> <div class="b-singlepost-author-userinfo-screen"> <span class=" b-singlepost-author-user fn p-name "> <span class="b-singlepost-author-user-screen"> Zołak (<span class="ljuser  i-ljuser  i-ljuser-deleted  i-ljuser-type-P     " data-ljuser="zolak" lj:user="zolak"><a href="https://zolak.livejournal.com/profile" target="_self" class="i-ljuser-profile"><img class="i-ljuser-userhead" src="https://l-stat.livejournal.net/img/userinfo_v8.svg?v=17080?v=657"></a><a href="https://zolak.livejournal.com/" class="i-ljuser-username" target="_self"><b>zolak</b></a></span>) wrote in <span class="ljuser  i-ljuser  i-ljuser-type-C     " data-ljuser="lacinka" lj:user="lacinka"><a href="https://lacinka.livejournal.com/profile" target="_self" class="i-ljuser-profile"><img class="i-ljuser-userhead" src="https://l-stat.livejournal.net/img/community.gif?v=556?v=657"></a><a href="https://lacinka.livejournal.com/" class="i-ljuser-username" target="_self"><b>lacinka</b></a></span>, </span> </span> <br> <time class=" b-singlepost-author-date published dt-published "><a href="https://lacinka.livejournal.com/2005/" target="_self">2005</a>-<a href="https://lacinka.livejournal.com/2005/12/" target="_self">12</a>-<a href="https://lacinka.livejournal.com/2005/12/03/" target="_self">03</a> 23:24:00</time>   </div> <div class="b-singlepost-author-userinfo-print"> <span class=" b-singlepost-author-user fn p-name "> Zołak<br> <span class="ljuser  i-ljuser  i-ljuser-deleted  i-ljuser-type-P     " data-ljuser="zolak" lj:user="zolak"><a href="https://zolak.livejournal.com/profile" target="_self" class="i-ljuser-profile"><img class="i-ljuser-userhead" src="https://l-stat.livejournal.net/img/userinfo_v8.svg?v=17080?v=657"></a><a href="https://zolak.livejournal.com/" class="i-ljuser-username" target="_self"><b>zolak</b></a></span>  <br><span class="ljuser  i-ljuser  i-ljuser-type-C     " data-ljuser="lacinka" lj:user="lacinka"><a href="https://lacinka.livejournal.com/profile" target="_self" class="i-ljuser-profile"><img class="i-ljuser-userhead" src="https://l-stat.livejournal.net/img/community.gif?v=556?v=657"></a><a href="https://lacinka.livejournal.com/" class="i-ljuser-username" target="_self"><b>lacinka</b></a></span>  </span> <br> <time class=" b-singlepost-author-date published dt-published "><a href="https://lacinka.livejournal.com/2005/" target="_self">2005</a>-<a href="https://lacinka.livejournal.com/2005/12/" target="_self">12</a>-<a href="https://lacinka.livejournal.com/2005/12/03/" target="_self">03</a> 23:24:00</time> </div> </dd> </dl>  </div>    <div class="b-singlepost-wrapper">  <h1 class=" b-singlepost-title entry-title p-name " ng-non-bindable="">      Apostraf. Pamyłka ci nieabchodnaść?  </h1>  <div class="b-singlepost-bodywrapper">  <article class="b-singlepost-body entry-content e-content   ng-scope" lj-sale-entry="" lj-discovery-tags="" lj-embed-resizer=""> Kali b ja byŭ dyzajneram nieba —<br>To zrabiŭ by fajnuju štuku:<br><br>Ja b azdobiŭ niabiosy by šyby<br>Inkrustacyjaj z chrustkich karunkaŭ.<br><br>A ŭnačy pad kožnym <b>suzor’em</b><br>Ja prybiŭ by šyldu ź ildu.<br><br><a href="http://pavel-ambiont.com/nocomments/2005/12/03/81" rel="nofollow" target="_self">(c)</a>  <div class="9pn3zh"></div></article> <div lj0sale0height="600" lj0sale0window0min="1200" lj0sale0window0max="9999" lj0sale0hide0cookie="s1_rightbanner_closed" class="ljsale ljsale--empty b-singlepost-bodybanner ng-isolate-scope" lj0sale0not0init="s1_right"><div class="ljsale__inner">

    <div class="allbanners ">

        <!-- ngIf: directive.customId -->
        <div id="">

          <!-- ngIf: directive.type -->
        
        </div>

        <!-- ngIf: directive.close -->

    </div>

    <!-- ngIf: directive.hideble -->

</div>
</div>  </div>    </div> <div class="b-singlepost-video-wrap"> <div data-autoplay-dockable-video-mount=""></div> </div>
<div id="comments" class="b-grove" data-authtoken="c0:1682874000:220:86400:LH6uNTDXvQ-0-:5d1c614fe31ea479a31af765c9fec6b5"> <div class=" b-xylem  b-xylem-first  "> <ul class="b-xylem-cells">  <li class=" b-xylem-cell b-xylem-cell-amount ">   <span class="js-amount">  12 comments  </span>   </li>  </ul>  </div> <div class=" b-massaction-top ">  </div>    <div class=" b-tree b-tree-best ">  </div> <div class=" b-tree b-tree-promo " data-currentprice="">  </div>  <div class=" b-tree b-tree-root svgpreloader svgpreloader-pseudo svgpreloader-30 "><div class=" b-tree-twig  b-tree-twig-1 b-tree-twig-deep-0  " style="margin-left: 0px" data-tid="t136971">    <div id="t136971" class=" b-leaf            b-leaf-full   comment p-comment " data-username="juras14" data-displayname="juras14" data-updated-ts="1133649778" data-full="1"> <div class=" b-leaf-inner svgpreloader svgpreloader-pseudo svgpreloader-16 "> <div class="b-leaf-header"> <div class="b-leaf-userpic"> <a href="https://juras14.livejournal.com/" target="_blank" class="b-leaf-userpic-inner" lj:user="juras14">   <img src="https://l-userpic.livejournal.com/35562195/1515112" alt="juras14" loading="lazy" title="Юрась Міхед: Юзерпик">  </a> </div> <div class="b-leaf-details">   <p class="b-leaf-username"><span class="b-leaf-username-name"><span class="ljuser  i-ljuser  i-ljuser-type-P     " data-ljuser="juras14" lj:user="juras14"><a href="https://juras14.livejournal.com/profile" class="i-ljuser-profile" target="_self"><img class="i-ljuser-userhead" src="https://l-stat.livejournal.net/img/userinfo_v8.svg?v=17080?v=657"></a><a href="https://juras14.livejournal.com/" class="i-ljuser-username" target="_self"><b>juras14</b></a></span> </span>  </p> <p class="b-leaf-meta">  <a href="https://lacinka.livejournal.com/20491.html?thread=136971#t136971" class="b-leaf-permalink" target="_self"> <span class="b-leaf-createdtime">December 3 2005, 22:42:58 UTC</span> </a>   <span class="b-leaf-shorttime">17 years ago</span>   </p>   </ul>        </div> </div>  <div class="b-leaf-article"> Ja by skazaŭ pamyłka. Aŭtar, chutčej za ŭsio, nia viedaŭ praviła, pavodle jakoha pišacca <b>«suzorjem»</b>.<br><br>Darečy, dumaju, apostraf u łacincy ŭsio ž tki patrebny. Całkam lagičnym było by pisać «ni’adkul» (kir. «ніадкуль») i inšyja padobnyja słovy, dzie prostaja tranśliteracyja nie pracyje. </div>   </div> </div>    </div><div class=" b-tree-twig  b-tree-twig-2 b-tree-twig-deep-0  " style="margin-left: 30px" data-tid="t137227">    <div id="t137227" class=" b-leaf        b-leaf-poster      b-leaf-full   comment p-comment " data-username="zolak" data-displayname="zolak" data-updated-ts="1133649983" data-full="1"> <div class=" b-leaf-inner svgpreloader svgpreloader-pseudo svgpreloader-16 "> <div class="b-leaf-header"> <div class="b-leaf-userpic"> <a href="https://zolak.livejournal.com/" target="_blank" class="b-leaf-userpic-inner" lj:user="zolak">   <img src="https://l-stat.livejournal.net/img/userpics/userpic-user.png?v=15821" alt="zolak" loading="lazy">  </a> </div> <div class="b-leaf-details">   <p class="b-leaf-username"><span class="b-leaf-username-name"><span class="ljuser  i-ljuser  i-ljuser-deleted  i-ljuser-type-P     " data-ljuser="zolak" lj:user="zolak"><a href="https://zolak.livejournal.com/profile" class="i-ljuser-profile" target="_self"><img class="i-ljuser-userhead" src="https://l-stat.livejournal.net/img/userinfo_v8.svg?v=17080?v=657"></a><a href="https://zolak.livejournal.com/" class="i-ljuser-username" target="_self"><b>zolak</b></a></span> </span>  </p> <p class="b-leaf-meta">  <a href="https://lacinka.livejournal.com/20491.html?thread=137227#t137227" class="b-leaf-permalink" target="_self"> <span class="b-leaf-createdtime">December 3 2005, 22:46:23 UTC</span> </a>   <span class="b-leaf-shorttime">17 years ago</span>   </p>   </ul>        </div> </div>  <div class="b-leaf-article"> Ja taksama tak dumaju. Apostraf nieabchodny, ale na ŭ dadzienym vypadku. </div>   </div> </div>    </div><div class=" b-tree-twig  b-tree-twig-2 b-tree-twig-deep-0  " style="margin-left: 30px" data-tid="t137483">    <div id="t137483" class=" b-leaf            b-leaf-full   comment p-comment " data-username="ambiont" data-displayname="ambiont" data-updated-ts="1133654506" data-full="1"> <div class=" b-leaf-inner svgpreloader svgpreloader-pseudo svgpreloader-16 "> <div class="b-leaf-header"> <div class="b-leaf-userpic"> <a href="https://ambiont.livejournal.com/" target="_blank" class="b-leaf-userpic-inner" lj:user="ambiont">   <img src="https://l-userpic.livejournal.com/73079433/4068425" alt="ambiont" loading="lazy" title="pavel: pic#73079433">  </a> </div> <div class="b-leaf-details">   <p class="b-leaf-username"><span class="b-leaf-username-name"><span class="ljuser  i-ljuser  i-ljuser-type-P     " data-ljuser="ambiont" lj:user="ambiont"><a href="https://ambiont.livejournal.com/profile" class="i-ljuser-profile" target="_self"><img class="i-ljuser-userhead" src="https://l-stat.livejournal.net/img/userinfo_v8.svg?v=17080?v=657"></a><a href="https://ambiont.livejournal.com/" class="i-ljuser-username" target="_self"><b>ambiont</b></a></span> </span>  </p> <p class="b-leaf-meta">  <a href="https://lacinka.livejournal.com/20491.html?thread=137483#t137483" class="b-leaf-permalink" target="_self"> <span class="b-leaf-createdtime">December 4 2005, 00:01:46 UTC</span> </a>   <span class="b-leaf-shorttime">17 years ago</span>   </p>   </ul>        </div> </div>  <div class="b-leaf-article"> Na samoj spravie, аффтару "suzor'e" z apostrafam čamuści padałosia pryhažejšym za "suzorje" :)  </div>   </div> </div>    </div><div class=" b-tree-twig  b-tree-twig-3 b-tree-twig-deep-0  " style="margin-left: 60px" data-tid="t137739">    <div id="t137739" class=" b-leaf        b-leaf-poster      b-leaf-full   comment p-comment " data-username="zolak" data-displayname="zolak" data-updated-ts="1133684680" data-full="1"> <div class=" b-leaf-inner svgpreloader svgpreloader-pseudo svgpreloader-16 "> <div class="b-leaf-header"> <div class="b-leaf-userpic"> <a href="https://zolak.livejournal.com/" target="_blank" class="b-leaf-userpic-inner" lj:user="zolak">   <img src="https://l-stat.livejournal.net/img/userpics/userpic-user.png?v=15821" alt="zolak" loading="lazy">  </a> </div> <div class="b-leaf-details">   <p class="b-leaf-username"><span class="b-leaf-username-name"><span class="ljuser  i-ljuser  i-ljuser-deleted  i-ljuser-type-P     " data-ljuser="zolak" lj:user="zolak"><a href="https://zolak.livejournal.com/profile" class="i-ljuser-profile" target="_self"><img class="i-ljuser-userhead" src="https://l-stat.livejournal.net/img/userinfo_v8.svg?v=17080?v=657"></a><a href="https://zolak.livejournal.com/" class="i-ljuser-username" target="_self"><b>zolak</b></a></span> </span>  </p> <p class="b-leaf-meta">  <a href="https://lacinka.livejournal.com/20491.html?thread=137739#t137739" class="b-leaf-permalink" target="_self"> <span class="b-leaf-createdtime">December 4 2005, 08:24:40 UTC</span> </a>   <span class="b-leaf-shorttime">17 years ago</span>   </p>   </ul>        </div> </div>  <div class="b-leaf-article"> :) </div>   </div> </div>    </div><div class=" b-tree-twig  b-tree-twig-3 b-tree-twig-deep-0  " style="margin-left: 60px" data-tid="t137995">    <div id="t137995" class=" b-leaf        b-leaf-poster      b-leaf-full   comment p-comment " data-username="zolak" data-displayname="zolak" data-updated-ts="1133684825" data-full="1"> <div class=" b-leaf-inner svgpreloader svgpreloader-pseudo svgpreloader-16 "> <div class="b-leaf-header"> <div class="b-leaf-userpic"> <a href="https://zolak.livejournal.com/" target="_blank" class="b-leaf-userpic-inner" lj:user="zolak">   <img src="https://l-stat.livejournal.net/img/userpics/userpic-user.png?v=15821" alt="zolak" loading="lazy">  </a> </div> <div class="b-leaf-details">   <p class="b-leaf-username"><span class="b-leaf-username-name"><span class="ljuser  i-ljuser  i-ljuser-deleted  i-ljuser-type-P     " data-ljuser="zolak" lj:user="zolak"><a href="https://zolak.livejournal.com/profile" class="i-ljuser-profile" target="_self"><img class="i-ljuser-userhead" src="https://l-stat.livejournal.net/img/userinfo_v8.svg?v=17080?v=657"></a><a href="https://zolak.livejournal.com/" class="i-ljuser-username" target="_self"><b>zolak</b></a></span> </span>  </p> <p class="b-leaf-meta">  <a href="https://lacinka.livejournal.com/20491.html?thread=137995#t137995" class="b-leaf-permalink" target="_self"> <span class="b-leaf-createdtime">December 4 2005, 08:27:05 UTC</span> </a>   <span class="b-leaf-shorttime">17 years ago</span>   </p>   </ul>        </div> </div>  <div class="b-leaf-article"> A vierš — fajny! </div>   </div> </div>    </div><div class=" b-tree-twig  b-tree-twig-3 b-tree-twig-deep-0  " style="margin-left: 60px" data-tid="t138507">    <div id="t138507" class=" b-leaf            b-leaf-full   comment p-comment " data-username="juras14" data-displayname="juras14" data-updated-ts="1133754414" data-full="1"> <div class=" b-leaf-inner svgpreloader svgpreloader-pseudo svgpreloader-16 "> <div class="b-leaf-header"> <div class="b-leaf-userpic"> <a href="https://juras14.livejournal.com/" target="_blank" class="b-leaf-userpic-inner" lj:user="juras14">   <img src="https://l-userpic.livejournal.com/35562195/1515112" alt="juras14" loading="lazy" title="Юрась Міхед: Юзерпик">  </a> </div> <div class="b-leaf-details">   <p class="b-leaf-username"><span class="b-leaf-username-name"><span class="ljuser  i-ljuser  i-ljuser-type-P     " data-ljuser="juras14" lj:user="juras14"><a href="https://juras14.livejournal.com/profile" class="i-ljuser-profile" target="_self"><img class="i-ljuser-userhead" src="https://l-stat.livejournal.net/img/userinfo_v8.svg?v=17080?v=657"></a><a href="https://juras14.livejournal.com/" class="i-ljuser-username" target="_self"><b>juras14</b></a></span> </span>  </p> <p class="b-leaf-meta">  <a href="https://lacinka.livejournal.com/20491.html?thread=138507#t138507" class="b-leaf-permalink" target="_self"> <span class="b-leaf-createdtime">December 5 2005, 03:46:54 UTC</span> </a>   <span class="b-leaf-shorttime">17 years ago</span>   </p>   </ul>        </div> </div>  <div class="b-leaf-article"> Afftar, scukonach, kavierkaje movu! </div>   </div> </div>    </div><div class=" b-tree-twig  b-tree-twig-4 b-tree-twig-deep-0  " style="margin-left: 90px" data-tid="t138763">    <div id="t138763" class=" b-leaf        b-leaf-poster      b-leaf-full   comment p-comment " data-username="zolak" data-displayname="zolak" data-updated-ts="1133773080" data-full="1"> <div class=" b-leaf-inner svgpreloader svgpreloader-pseudo svgpreloader-16 "> <div class="b-leaf-header"> <div class="b-leaf-userpic"> <a href="https://zolak.livejournal.com/" target="_blank" class="b-leaf-userpic-inner" lj:user="zolak">   <img src="https://l-stat.livejournal.net/img/userpics/userpic-user.png?v=15821" alt="zolak" loading="lazy">  </a> </div> <div class="b-leaf-details">   <p class="b-leaf-username"><span class="b-leaf-username-name"><span class="ljuser  i-ljuser  i-ljuser-deleted  i-ljuser-type-P     " data-ljuser="zolak" lj:user="zolak"><a href="https://zolak.livejournal.com/profile" class="i-ljuser-profile" target="_self"><img class="i-ljuser-userhead" src="https://l-stat.livejournal.net/img/userinfo_v8.svg?v=17080?v=657"></a><a href="https://zolak.livejournal.com/" class="i-ljuser-username" target="_self"><b>zolak</b></a></span> </span>  </p> <p class="b-leaf-meta">  <a href="https://lacinka.livejournal.com/20491.html?thread=138763#t138763" class="b-leaf-permalink" target="_self"> <span class="b-leaf-createdtime">December 5 2005, 08:58:00 UTC</span> </a>   <span class="b-leaf-shorttime">17 years ago</span>   </p>   </ul>        </div> </div>  <div class="b-leaf-article"> Heta pieršy vypadak „jazyka padonkaf” u łacinkavaj biełaruskaj versii, jaki ja sustreŭ.<br><br>Nia viedaju, ci radavacca.<br><br>  </div>   </div> </div>    </div><div class=" b-tree-twig  b-tree-twig-3 b-tree-twig-deep-0  " style="margin-left: 60px" data-tid="t139019">    <div id="t139019" class=" b-leaf            b-leaf-full   comment p-comment " data-username="redwingedduck" data-displayname="redwingedduck" data-updated-ts="1133777253" data-full="1"> <div class=" b-leaf-inner svgpreloader svgpreloader-pseudo svgpreloader-16 "> <div class="b-leaf-header"> <div class="b-leaf-userpic"> <a href="https://redwingedduck.livejournal.com/" target="_blank" class="b-leaf-userpic-inner" lj:user="redwingedduck">   <img src="https://l-userpic.livejournal.com/33227201/697964" alt="redwingedduck" loading="lazy" title="RWD: che_duck">  </a> </div> <div class="b-leaf-details">   <p class="b-leaf-username"><span class="b-leaf-username-name"><span class="ljuser  i-ljuser  i-ljuser-type-P     " data-ljuser="redwingedduck" lj:user="redwingedduck"><a href="https://redwingedduck.livejournal.com/profile" class="i-ljuser-profile" target="_self"><img class="i-ljuser-userhead" src="https://l-stat.livejournal.net/img/userinfo_v8.svg?v=17080?v=657"></a><a href="https://redwingedduck.livejournal.com/" class="i-ljuser-username" target="_self"><b>redwingedduck</b></a></span> </span>  </p> <p class="b-leaf-meta">  <a href="https://lacinka.livejournal.com/20491.html?thread=139019#t139019" class="b-leaf-permalink" target="_self"> <span class="b-leaf-createdtime">December 5 2005, 10:07:33 UTC</span> </a>   <span class="b-leaf-shorttime">17 years ago</span>   </p>   </ul>        </div> </div>  <div class="b-leaf-article"> cudoŭny vierš! </div>   </div> </div>    </div><div class=" b-tree-twig  b-tree-twig-4 b-tree-twig-deep-0  " style="margin-left: 90px" data-tid="t140811">    <div id="t140811" class=" b-leaf         b-leaf-withsubject     b-leaf-full   comment p-comment " data-username="ambiont" data-displayname="ambiont" data-updated-ts="1133834040" data-full="1" data-subject="dziakuj"> <div class=" b-leaf-inner svgpreloader svgpreloader-pseudo svgpreloader-16 "> <div class="b-leaf-header"> <div class="b-leaf-userpic"> <a href="https://ambiont.livejournal.com/" target="_blank" class="b-leaf-userpic-inner" lj:user="ambiont">   <img src="https://l-userpic.livejournal.com/73079433/4068425" alt="ambiont" loading="lazy" title="pavel: pic#73079433">  </a> </div> <div class="b-leaf-details">   <h4 class="b-leaf-subject"><a href="https://lacinka.livejournal.com/20491.html?thread=140811#t140811" class="b-leaf-subject-link" target="_self">dziakuj</a></h4>  <p class="b-leaf-username"><span class="b-leaf-username-name"><span class="ljuser  i-ljuser  i-ljuser-type-P     " data-ljuser="ambiont" lj:user="ambiont"><a href="https://ambiont.livejournal.com/profile" class="i-ljuser-profile" target="_self"><img class="i-ljuser-userhead" src="https://l-stat.livejournal.net/img/userinfo_v8.svg?v=17080?v=657"></a><a href="https://ambiont.livejournal.com/" class="i-ljuser-username" target="_self"><b>ambiont</b></a></span> </span>  </p> <p class="b-leaf-meta">  <a href="https://lacinka.livejournal.com/20491.html?thread=140811#t140811" class="b-leaf-permalink" target="_self"> <span class="b-leaf-createdtime">December 6 2005, 01:54:00 UTC</span> </a>   <span class="b-leaf-shorttime">17 years ago</span>   </p>   </ul>        </div> </div>  <div class="b-leaf-article"> Nakont vieršu – ja amal nie vinavaty. Duža ŭžo cudoŭny dzień byŭ. Adzinaje, čaho nie chapała “dziela poŭnaha ščaścia” — maroznych uzoraŭ na niebie. Pakul dajšoŭ z pracy dachaty (15 chv.) — usie słovy <em>pryjšli</em>. Hiba što pierš było nie “dyzajneram nieba”, a trochi bolš ambicyjnaje — “ŭładarom nieba” :) </div>   </div> </div>    </div><div class=" b-tree-twig  b-tree-twig-1 b-tree-twig-deep-0  " style="margin-left: 0px" data-tid="t138251">    <div id="t138251" class=" b-leaf            b-leaf-full   comment p-comment " data-username="zedlik" data-displayname="zedlik" data-updated-ts="1133689084" data-full="1"> <div class=" b-leaf-inner svgpreloader svgpreloader-pseudo svgpreloader-16 "> <div class="b-leaf-header"> <div class="b-leaf-userpic"> <a href="https://zedlik.livejournal.com/" target="_blank" class="b-leaf-userpic-inner" lj:user="zedlik">   <img src="https://l-userpic.livejournal.com/100856678/3643836" alt="zedlik" loading="lazy" title="zedlik: грын">  </a> </div> <div class="b-leaf-details">   <p class="b-leaf-username"><span class="b-leaf-username-name"><span class="ljuser  i-ljuser  i-ljuser-type-P     " data-ljuser="zedlik" lj:user="zedlik"><a href="https://zedlik.livejournal.com/profile" class="i-ljuser-profile" target="_self"><img class="i-ljuser-userhead" src="https://l-stat.livejournal.net/img/userinfo_v8.svg?v=17080?v=657"></a><a href="https://zedlik.livejournal.com/" class="i-ljuser-username" target="_self"><b>zedlik</b></a></span> </span>  </p> <p class="b-leaf-meta">  <a href="https://lacinka.livejournal.com/20491.html?thread=138251#t138251" class="b-leaf-permalink" target="_self"> <span class="b-leaf-createdtime">December 4 2005, 09:38:04 UTC</span> </a>   <span class="b-leaf-shorttime">17 years ago</span>   </p>   </ul>        </div> </div>  <div class="b-leaf-article"> BTW, <b>z</b> ildu. </div>   </div> </div>    </div><div class=" b-tree-twig  b-tree-twig-2 b-tree-twig-deep-0  " style="margin-left: 30px" data-tid="t140555">    <div id="t140555" class=" b-leaf            b-leaf-full   comment p-comment " data-username="ambiont" data-displayname="ambiont" data-updated-ts="1133833766" data-full="1"> <div class=" b-leaf-inner svgpreloader svgpreloader-pseudo svgpreloader-16 "> <div class="b-leaf-header"> <div class="b-leaf-userpic"> <a href="https://ambiont.livejournal.com/" target="_blank" class="b-leaf-userpic-inner" lj:user="ambiont">   <img src="https://l-userpic.livejournal.com/73079433/4068425" alt="ambiont" loading="lazy" title="pavel: pic#73079433">  </a> </div> <div class="b-leaf-details">   <p class="b-leaf-username"><span class="b-leaf-username-name"><span class="ljuser  i-ljuser  i-ljuser-type-P     " data-ljuser="ambiont" lj:user="ambiont"><a href="https://ambiont.livejournal.com/profile" class="i-ljuser-profile" target="_self"><img class="i-ljuser-userhead" src="https://l-stat.livejournal.net/img/userinfo_v8.svg?v=17080?v=657"></a><a href="https://ambiont.livejournal.com/" class="i-ljuser-username" target="_self"><b>ambiont</b></a></span> </span>  </p> <p class="b-leaf-meta">  <a href="https://lacinka.livejournal.com/20491.html?thread=140555#t140555" class="b-leaf-permalink" target="_self"> <span class="b-leaf-createdtime">December 6 2005, 01:49:26 UTC</span> </a>   <span class="b-leaf-shorttime">17 years ago</span>   </p>   </ul>        </div> </div>  <div class="b-leaf-article"> Nu što, pavažanyja tavaryšy kamentatary! Chočacca adznačyć, što vy majecie racyju — i z “suzor’e / suzorje”, i z “z ildu”. Ale, papraviŭ ja tolki “z ildu”, nachabnym čynam pakinuŭšy “suzor’e” z apostrafam – bo tak “rrrrr” bolš vyrazna vyhladaje.  </div>   </div> </div>    </div><div class=" b-tree-twig  b-tree-twig-3 b-tree-twig-deep-0  " style="margin-left: 60px" data-tid="t141067">    <div id="t141067" class=" b-leaf            b-leaf-full   comment p-comment " data-username="zedlik" data-displayname="zedlik" data-updated-ts="1133848505" data-full="1"> <div class=" b-leaf-inner svgpreloader svgpreloader-pseudo svgpreloader-16 "> <div class="b-leaf-header"> <div class="b-leaf-userpic"> <a href="https://zedlik.livejournal.com/" target="_blank" class="b-leaf-userpic-inner" lj:user="zedlik">   <img src="https://l-userpic.livejournal.com/100856678/3643836" alt="zedlik" loading="lazy" title="zedlik: грын">  </a> </div> <div class="b-leaf-details">   <p class="b-leaf-username"><span class="b-leaf-username-name"><span class="ljuser  i-ljuser  i-ljuser-type-P     " data-ljuser="zedlik" lj:user="zedlik"><a href="https://zedlik.livejournal.com/profile" class="i-ljuser-profile" target="_self"><img class="i-ljuser-userhead" src="https://l-stat.livejournal.net/img/userinfo_v8.svg?v=17080?v=657"></a><a href="https://zedlik.livejournal.com/" class="i-ljuser-username" target="_self"><b>zedlik</b></a></span> </span>  </p> <p class="b-leaf-meta">  <a href="https://lacinka.livejournal.com/20491.html?thread=141067#t141067" class="b-leaf-permalink" target="_self"> <span class="b-leaf-createdtime">December 6 2005, 05:55:05 UTC</span> </a>   <span class="b-leaf-shorttime">17 years ago</span>   </p>   </ul>        </div> </div>  <div class="b-leaf-article"> Nasamreč, heta prava aŭtara pisać tak, jak jon ličyć patrebnym. Sprava čytača zrazumieć aŭtara. A aŭtar zusim nie abaviazany padstrojvacca pad čytača, ale musić mieć svaju aŭtarskuju pazycyju, na jakuju čytač moža ŭździejničać, ale aŭtar zusim nie abaviazany jaje mianiać. Vybar za aŭtaram. </div>   </div> </div>    </div></div>     <div prev-next-nav=""></div> <div suggestion-for-unlogged="" class="ng-isolate-scope"><!-- ngIf: directive.isBlockVisible --></div>   </div>         
