---
id: 20960
layout: page
date: 2022-10-16
---


<!-- s-body -->
        <div class="s-body">

            <!-- use header -->
            <!-- /use header -->

            <!-- Content -->
             <article class="b-singlepost hentry h-entry js-emojis  b-singlepost-mobileadaptive  b-singlepost-withbodybanner  ng-scope" role="main" ng-app="Entry"> <div class="b-singlepost-qrcode  ng-isolate-scope" lj-qrcode="https://lacinka.livejournal.com/20960.html" lj-qrcode-width="70" lj-qrcode-height="70"> <canvas width="70" height="70"></canvas></div> <div class="b-singlepost-about"> <dl class=" b-singlepost-author author vcard p-author h-card " ng-non-bindable=""> <dt class=" b-singlepost-author-userpic photo u-photo " lj:user="zolak">  <img src="https://l-userpic.livejournal.com/56724982/707281" width="" height="" align="absmiddle" title="Zołak: pic#56724982" alt="">  </dt> <dd class="b-singlepost-author-userinfo"> <div class="b-singlepost-author-userinfo-screen"> <span class=" b-singlepost-author-user fn p-name "> <span class="b-singlepost-author-user-screen"> Zołak (<span class="ljuser  i-ljuser  i-ljuser-deleted  i-ljuser-type-P     " data-ljuser="zolak" lj:user="zolak"><a href="https://zolak.livejournal.com/profile" target="_self" class="i-ljuser-profile"><img class="i-ljuser-userhead" src="https://l-stat.livejournal.net/img/userinfo_v8.svg?v=17080?v=657"></a><a href="https://zolak.livejournal.com/" class="i-ljuser-username" target="_self"><b>zolak</b></a></span>) wrote in <span class="ljuser  i-ljuser  i-ljuser-type-C     " data-ljuser="lacinka" lj:user="lacinka"><a href="https://lacinka.livejournal.com/profile" target="_self" class="i-ljuser-profile"><img class="i-ljuser-userhead" src="https://l-stat.livejournal.net/img/community.gif?v=556?v=657"></a><a href="https://lacinka.livejournal.com/" class="i-ljuser-username" target="_self"><b>lacinka</b></a></span>, </span> </span> <br> <time class=" b-singlepost-author-date published dt-published "><a href="https://lacinka.livejournal.com/2005/" target="_self">2005</a>-<a href="https://lacinka.livejournal.com/2005/12/" target="_self">12</a>-<a href="https://lacinka.livejournal.com/2005/12/05/" target="_self">05</a> 13:28:00</time>   </div> <div class="b-singlepost-author-userinfo-print"> <span class=" b-singlepost-author-user fn p-name "> Zołak<br> <span class="ljuser  i-ljuser  i-ljuser-deleted  i-ljuser-type-P     " data-ljuser="zolak" lj:user="zolak"><a href="https://zolak.livejournal.com/profile" target="_self" class="i-ljuser-profile"><img class="i-ljuser-userhead" src="https://l-stat.livejournal.net/img/userinfo_v8.svg?v=17080?v=657"></a><a href="https://zolak.livejournal.com/" class="i-ljuser-username" target="_self"><b>zolak</b></a></span>  <br><span class="ljuser  i-ljuser  i-ljuser-type-C     " data-ljuser="lacinka" lj:user="lacinka"><a href="https://lacinka.livejournal.com/profile" target="_self" class="i-ljuser-profile"><img class="i-ljuser-userhead" src="https://l-stat.livejournal.net/img/community.gif?v=556?v=657"></a><a href="https://lacinka.livejournal.com/" class="i-ljuser-username" target="_self"><b>lacinka</b></a></span>  </span> <br> <time class=" b-singlepost-author-date published dt-published "><a href="https://lacinka.livejournal.com/2005/" target="_self">2005</a>-<a href="https://lacinka.livejournal.com/2005/12/" target="_self">12</a>-<a href="https://lacinka.livejournal.com/2005/12/05/" target="_self">05</a> 13:28:00</time> </div> </dd> </dl>  </div>    <div class="b-singlepost-wrapper">  ¤ <ul class="b-linkbar">  <li class="b-linkbar-item"><a href="https://www.livejournal.com/go.bml?journal=lacinka&amp;itemid=20960&amp;dir=prev" rel="nofollow" title="Previous" class="b-controls b-controls-prev" target="_self"><i class="b-controls-bg"></i>Previous</a></li>  <li class="b-linkbar-item ng-scope" lj-share="{ url: 'https://lacinka.livejournal.com/20960.html', title: '', text: '', hashtags: '', alwaysBottom: true }">
                <a href="javascript:void(0);" rel="nofollow" title="Share" class="b-controls b-controls-share js-lj-share" data-hashtags="" data-title="" data-url="https%3A%2F%2Flacinka.livejournal.com%2F20960.html" target="_self">
                    <i class="b-controls-bg"></i>Share
                </a>
            </li>  <li class="b-linkbar-item"><a href="https://www.livejournal.com/tools/content_flag.bml?user=lacinka&amp;itemid=20960" rel="nofollow" title="Flag" class="b-controls b-controls-flag" target="_self"><i class="b-controls-bg"></i>Flag</a></li>  <li class="b-linkbar-item"><a href="https://www.livejournal.com/go.bml?journal=lacinka&amp;itemid=20960&amp;dir=next" rel="nofollow" title="Next" class="b-controls b-controls-next" target="_self"><i class="b-controls-bg"></i>Next</a></li>  </ul> </div>      <div class="b-singlepost-bodywrapper">  <article class="b-singlepost-body entry-content e-content   ng-scope" lj-sale-entry="" lj-discovery-tags="" lj-embed-resizer=""> <b>br23 <a href="http://www.br23.net/be/2005/11/27/lacinka-and-belarusian-language/#comments" rel="nofollow" target="_self">pra łacinku</a>:</b> <br><br><font face="Arial" size="+1"><font face="Palatino Linotype"><i>„Ja nia baču nijakaj mocnaj pryčyny dla pierachodu na łacinku, aprača adnaho: vonkavaj eŭrapiejzacyi našaj movy”.</i></font></font>  </article>   </div>    </div> <div class="b-singlepost-video-wrap"> <div data-autoplay-dockable-video-mount=""></div> </div>
<div id="comments" class="b-grove" data-authtoken="c0:1682874000:221:86400:tEAopsVnVj-0-:41833b4cc4af3b721bdb782174551b4a"> <div class=" b-xylem  b-xylem-first  "> <ul class="b-xylem-cells">  <li class=" b-xylem-cell b-xylem-cell-amount ">   <span class="js-amount">  4 comments  </span>   </li>  </ul>  </div> <div class=" b-massaction-top ">  </div>    <div class=" b-tree b-tree-best ">  </div> <div class=" b-tree b-tree-promo " data-currentprice="">  </div>  <div class=" b-tree b-tree-root svgpreloader svgpreloader-pseudo svgpreloader-30 "><div class=" b-tree-twig  b-tree-twig-1 b-tree-twig-deep-0  " style="margin-left: 0px" data-tid="t139488">    <div id="t139488" class=" b-leaf            b-leaf-full   comment p-comment " data-username="" data-displayname="" data-updated-ts="1133787002" data-full="1"> <div class=" b-leaf-inner svgpreloader svgpreloader-pseudo svgpreloader-16 "> <div class="b-leaf-header"> <div class="b-leaf-userpic"> <a href="" target="_blank" class="b-leaf-userpic-inner" lj:user="">   <img src="https://l-stat.livejournal.net/img/userpics/userpic-anonymous.png?v=15821" alt="" loading="lazy">  </a> </div> <div class="b-leaf-details">   <p class="b-leaf-username"><span class="b-leaf-username-name">Anonymous</span>  </p> <p class="b-leaf-meta">  <a href="https://lacinka.livejournal.com/20960.html?thread=139488#t139488" class="b-leaf-permalink" target="_self"> <span class="b-leaf-createdtime">December 5 2005, 12:50:02 UTC</span> </a>   <span class="b-leaf-shorttime">17 years ago</span>   </p>   </ul>        </div> </div>  <div class="b-leaf-article"> А вось і рэакцыя прарасейскіх таварышаў з Масквы:<br><br>http://lj.rossia.org/users/boleslav/116275.html<br><br> </div>   </div> </div>    </div><div class=" b-tree-twig  b-tree-twig-2 b-tree-twig-deep-0  " style="margin-left: 30px" data-tid="t139744">    <div id="t139744" class=" b-leaf        b-leaf-poster      b-leaf-full   comment p-comment " data-username="zolak" data-displayname="zolak" data-updated-ts="1133788056" data-full="1"> <div class=" b-leaf-inner svgpreloader svgpreloader-pseudo svgpreloader-16 "> <div class="b-leaf-header"> <div class="b-leaf-userpic"> <a href="https://zolak.livejournal.com/" target="_blank" class="b-leaf-userpic-inner" lj:user="zolak">   <img src="https://l-stat.livejournal.net/img/userpics/userpic-user.png?v=15821" alt="zolak" loading="lazy">  </a> </div> <div class="b-leaf-details">   <p class="b-leaf-username"><span class="b-leaf-username-name"><span class="ljuser  i-ljuser  i-ljuser-deleted  i-ljuser-type-P     " data-ljuser="zolak" lj:user="zolak"><a href="https://zolak.livejournal.com/profile" class="i-ljuser-profile" target="_self"><img class="i-ljuser-userhead" src="https://l-stat.livejournal.net/img/userinfo_v8.svg?v=17080?v=657"></a><a href="https://zolak.livejournal.com/" class="i-ljuser-username" target="_self"><b>zolak</b></a></span> </span>  </p> <p class="b-leaf-meta">  <a href="https://lacinka.livejournal.com/20960.html?thread=139744#t139744" class="b-leaf-permalink" target="_self"> <span class="b-leaf-createdtime">December 5 2005, 13:07:36 UTC</span> </a>   <span class="b-leaf-shorttime">17 years ago</span>   </p>   </ul>        </div> </div>  <div class="b-leaf-article"> Hehe, dziakuj :-) <br><br>Blin, ja b zabaraniu idyjotam karystacca kamputarami, jej-bohu. <br>Nikoli nieviadoma, što z hetaha moža vyjści. Pakalečacca klavijaturaj, a prakuror va usim abvinavaćił biełaruskuju łacinku i <i>papu rymskava <u>lično</u></i>.<br><br>Samaje cikavaje, što boleslav pradstaŭlaje tajamničaha spadara pr23 jak prychilnika łacinki... </div>   </div> </div>    </div><div class=" b-tree-twig  b-tree-twig-3 b-tree-twig-deep-0  " style="margin-left: 60px" data-tid="t140000">    <div id="t140000" class=" b-leaf            b-leaf-full   comment p-comment " data-username="" data-displayname="" data-updated-ts="1133789253" data-full="1"> <div class=" b-leaf-inner svgpreloader svgpreloader-pseudo svgpreloader-16 "> <div class="b-leaf-header"> <div class="b-leaf-userpic"> <a href="" target="_blank" class="b-leaf-userpic-inner" lj:user="">   <img src="https://l-stat.livejournal.net/img/userpics/userpic-anonymous.png?v=15821" alt="" loading="lazy">  </a> </div> <div class="b-leaf-details">   <p class="b-leaf-username"><span class="b-leaf-username-name">Anonymous</span>  </p> <p class="b-leaf-meta">  <a href="https://lacinka.livejournal.com/20960.html?thread=140000#t140000" class="b-leaf-permalink" target="_self"> <span class="b-leaf-createdtime">December 5 2005, 13:27:33 UTC</span> </a>   <span class="b-leaf-shorttime">17 years ago</span>   </p>   </ul>        </div> </div>  <div class="b-leaf-article"> Nie pr23, a br ;)<br><br>Dyk ja - za Lacinku. Prosta ja pesemistycna staulusia da mahcymasciau jaje pasyrennia.<br><br>Na sionniasni dzien mnie najbols impanuje "madel NRM", tak by movic. Plakaty, CD afarmlajucca lacinkaj. A vialikaja kniha publikujecca kirylicaj. Tamu estetyka lacinki hraje na ich. A cytac knihu usim lohka. </div>   </div> </div>    </div><div class=" b-tree-twig  b-tree-twig-4 b-tree-twig-deep-0  " style="margin-left: 90px" data-tid="t140256">    <div id="t140256" class=" b-leaf        b-leaf-poster      b-leaf-full   comment p-comment " data-username="zolak" data-displayname="zolak" data-updated-ts="1133789797" data-full="1"> <div class=" b-leaf-inner svgpreloader svgpreloader-pseudo svgpreloader-16 "> <div class="b-leaf-header"> <div class="b-leaf-userpic"> <a href="https://zolak.livejournal.com/" target="_blank" class="b-leaf-userpic-inner" lj:user="zolak">   <img src="https://l-stat.livejournal.net/img/userpics/userpic-user.png?v=15821" alt="zolak" loading="lazy">  </a> </div> <div class="b-leaf-details">   <p class="b-leaf-username"><span class="b-leaf-username-name"><span class="ljuser  i-ljuser  i-ljuser-deleted  i-ljuser-type-P     " data-ljuser="zolak" lj:user="zolak"><a href="https://zolak.livejournal.com/profile" class="i-ljuser-profile" target="_self"><img class="i-ljuser-userhead" src="https://l-stat.livejournal.net/img/userinfo_v8.svg?v=17080?v=657"></a><a href="https://zolak.livejournal.com/" class="i-ljuser-username" target="_self"><b>zolak</b></a></span> </span>  </p> <p class="b-leaf-meta">  <a href="https://lacinka.livejournal.com/20960.html?thread=140256#t140256" class="b-leaf-permalink" target="_self"> <span class="b-leaf-createdtime">December 5 2005, 13:36:37 UTC</span> </a>   <span class="b-leaf-shorttime">17 years ago</span>   </p>   </ul>        </div> </div>  <div class="b-leaf-article"> Vybačaj, heta u mianie litarki aŭtamatam vyskokvajuć. :PR: heta skarot ad A.T. Polskaje radyjo, jaki ŭ mianie Word pierarablaje na poŭnuju frazu ;-) <br><br>&gt;Dyk ja - za Lacinku<br><br>A z pryviedzienaj cytaty vynikaje, što Ty nia bačyš nijakaj mocnaj pryčyny dla pierachodu na łacinku, aprača adnaho: vonkavaj eŭrapiejzacyi našaj movy. ;-) </div>   </div> </div>    </div></div>     <div prev-next-nav=""></div> <div suggestion-for-unlogged="" class="ng-isolate-scope"><!-- ngIf: directive.isBlockVisible --></div>   </div>         