---
id: 21675
layout: page
date: 2022-10-16
---


<!-- s-body -->
        <div class="s-body">

            <!-- use header -->
            <!-- /use header -->

            <!-- Content -->
             <article class="b-singlepost hentry h-entry js-emojis  b-singlepost-mobileadaptive  b-singlepost-withbodybanner  ng-scope" role="main" ng-app="Entry"> <div class="b-singlepost-qrcode  ng-isolate-scope" lj-qrcode="https://lacinka.livejournal.com/21675.html" lj-qrcode-width="70" lj-qrcode-height="70"> <canvas width="70" height="70"></canvas></div> <div class="b-singlepost-about"> <dl class=" b-singlepost-author author vcard p-author h-card " ng-non-bindable=""> <dt class=" b-singlepost-author-userpic photo u-photo " lj:user="zolak">  <img src="https://l-userpic.livejournal.com/56724982/707281" width="" height="" align="absmiddle" title="Zołak: pic#56724982" alt="">  </dt> <dd class="b-singlepost-author-userinfo"> <div class="b-singlepost-author-userinfo-screen"> <span class=" b-singlepost-author-user fn p-name "> <span class="b-singlepost-author-user-screen"> Zołak (<span class="ljuser  i-ljuser  i-ljuser-deleted  i-ljuser-type-P     " data-ljuser="zolak" lj:user="zolak"><a href="https://zolak.livejournal.com/profile" target="_self" class="i-ljuser-profile"><img class="i-ljuser-userhead" src="https://l-stat.livejournal.net/img/userinfo_v8.svg?v=17080?v=657"></a><a href="https://zolak.livejournal.com/" class="i-ljuser-username" target="_self"><b>zolak</b></a></span>) wrote in <span class="ljuser  i-ljuser  i-ljuser-type-C     " data-ljuser="lacinka" lj:user="lacinka"><a href="https://lacinka.livejournal.com/profile" target="_self" class="i-ljuser-profile"><img class="i-ljuser-userhead" src="https://l-stat.livejournal.net/img/community.gif?v=556?v=657"></a><a href="https://lacinka.livejournal.com/" class="i-ljuser-username" target="_self"><b>lacinka</b></a></span>, </span> </span> <br> <time class=" b-singlepost-author-date published dt-published "><a href="https://lacinka.livejournal.com/2005/" target="_self">2005</a>-<a href="https://lacinka.livejournal.com/2005/12/" target="_self">12</a>-<a href="https://lacinka.livejournal.com/2005/12/21/" target="_self">21</a> 14:14:00</time>   </div> <div class="b-singlepost-author-userinfo-print"> <span class=" b-singlepost-author-user fn p-name "> Zołak<br> <span class="ljuser  i-ljuser  i-ljuser-deleted  i-ljuser-type-P     " data-ljuser="zolak" lj:user="zolak"><a href="https://zolak.livejournal.com/profile" target="_self" class="i-ljuser-profile"><img class="i-ljuser-userhead" src="https://l-stat.livejournal.net/img/userinfo_v8.svg?v=17080?v=657"></a><a href="https://zolak.livejournal.com/" class="i-ljuser-username" target="_self"><b>zolak</b></a></span>  <br><span class="ljuser  i-ljuser  i-ljuser-type-C     " data-ljuser="lacinka" lj:user="lacinka"><a href="https://lacinka.livejournal.com/profile" target="_self" class="i-ljuser-profile"><img class="i-ljuser-userhead" src="https://l-stat.livejournal.net/img/community.gif?v=556?v=657"></a><a href="https://lacinka.livejournal.com/" class="i-ljuser-username" target="_self"><b>lacinka</b></a></span>  </span> <br> <time class=" b-singlepost-author-date published dt-published "><a href="https://lacinka.livejournal.com/2005/" target="_self">2005</a>-<a href="https://lacinka.livejournal.com/2005/12/" target="_self">12</a>-<a href="https://lacinka.livejournal.com/2005/12/21/" target="_self">21</a> 14:14:00</time> </div> </dd> </dl>  </div>    <div class="b-singlepost-wrapper">  <h1 class=" b-singlepost-title entry-title p-name " ng-non-bindable="">      Sa śviatami  </h1>  <div class="b-singlepost-bodywrapper">  <article class="b-singlepost-body entry-content e-content   ng-scope" lj-sale-entry="" lj-discovery-tags="" lj-embed-resizer=""> <a name="cutid1" target="_self"></a>

<img src="https://imgprx.livejournal.net/b5367c744add0f7029c89154bebc71e995b343a9/dBoGSaQXG0PlNQ8HD2bXs3ljMasJnjdCMLBU_PuH48iChNi-k5F6j_68kCDXbfrJQZNpVtXVwVqPExNuy1i11Nz1dNEj3cdeIUwdE8el1LI" loading="lazy"><a name="cutid1-end" target="_self"></a>  </article>   </div>    </div> <div class="b-singlepost-video-wrap"> <div data-autoplay-dockable-video-mount=""></div> </div>
<div id="comments" class="b-grove" data-authtoken="c0:1682874000:223:86400:tIou6kei8B-0-:494811ba4da2eac1649bb67ad25d34f8"> <div class=" b-xylem  b-xylem-first  "> <ul class="b-xylem-cells">  <li class=" b-xylem-cell b-xylem-cell-amount ">   <span class="js-amount">  5 comments  </span>   </li>  </ul>  </div> <div class=" b-massaction-top ">  </div>    <div class=" b-tree b-tree-best ">  </div> <div class=" b-tree b-tree-promo " data-currentprice="">  </div>  <div class=" b-tree b-tree-root svgpreloader svgpreloader-pseudo svgpreloader-30 "><div class=" b-tree-twig  b-tree-twig-1 b-tree-twig-deep-0  " style="margin-left: 0px" data-tid="t144299">    <div id="t144299" class=" b-leaf            b-leaf-full   comment p-comment " data-username="prof22" data-displayname="prof22" data-updated-ts="1135181631" data-full="1"> <div class=" b-leaf-inner svgpreloader svgpreloader-pseudo svgpreloader-16 "> <div class="b-leaf-header"> <div class="b-leaf-userpic"> <a href="https://prof22.livejournal.com/" target="_blank" class="b-leaf-userpic-inner" lj:user="prof22">   <img src="https://l-stat.livejournal.net/img/userpics/userpic-user.png?v=15821" alt="prof22" loading="lazy">  </a> </div> <div class="b-leaf-details">   <p class="b-leaf-username"><span class="b-leaf-username-name"><span class="ljuser  i-ljuser  i-ljuser-deleted  i-ljuser-type-P     " data-ljuser="prof22" lj:user="prof22"><a href="https://prof22.livejournal.com/profile" class="i-ljuser-profile" target="_self"><img class="i-ljuser-userhead" src="https://l-stat.livejournal.net/img/userinfo_v8.svg?v=17080?v=657"></a><a href="https://prof22.livejournal.com/" class="i-ljuser-username" target="_self"><b>prof22</b></a></span> </span>  </p> <p class="b-leaf-meta">  <a href="https://lacinka.livejournal.com/21675.html?thread=144299#t144299" class="b-leaf-permalink" target="_self"> <span class="b-leaf-createdtime">December 21 2005, 16:13:51 UTC</span> </a>   <span class="b-leaf-shorttime">17 years ago</span>   </p>   </ul>        </div> </div>  <div class="b-leaf-article"> A dzie kantent? 8-/ </div>   </div> </div>    </div><div class=" b-tree-twig  b-tree-twig-2 b-tree-twig-deep-0  " style="margin-left: 30px" data-tid="t144555">    <div id="t144555" class=" b-leaf            b-leaf-full   comment p-comment " data-username="" data-displayname="" data-updated-ts="1135191410" data-full="1"> <div class=" b-leaf-inner svgpreloader svgpreloader-pseudo svgpreloader-16 "> <div class="b-leaf-header"> <div class="b-leaf-userpic"> <a href="" target="_blank" class="b-leaf-userpic-inner" lj:user="">   <img src="https://l-stat.livejournal.net/img/userpics/userpic-anonymous.png?v=15821" alt="" loading="lazy">  </a> </div> <div class="b-leaf-details">   <p class="b-leaf-username"><span class="b-leaf-username-name">Anonymous</span>  </p> <p class="b-leaf-meta">  <a href="https://lacinka.livejournal.com/21675.html?thread=144555#t144555" class="b-leaf-permalink" target="_self"> <span class="b-leaf-createdtime">December 21 2005, 18:56:50 UTC</span> </a>   <span class="b-leaf-shorttime">17 years ago</span>   </p>   </ul>        </div> </div>  <div class="b-leaf-article"> Na miescy </div>   </div> </div>    </div><div class=" b-tree-twig  b-tree-twig-1 b-tree-twig-deep-0  " style="margin-left: 0px" data-tid="t144811">    <div id="t144811" class=" b-leaf            b-leaf-full   comment p-comment " data-username="fevra" data-displayname="fevra" data-updated-ts="1135210630" data-full="1"> <div class=" b-leaf-inner svgpreloader svgpreloader-pseudo svgpreloader-16 "> <div class="b-leaf-header"> <div class="b-leaf-userpic"> <a href="https://fevra.livejournal.com/" target="_blank" class="b-leaf-userpic-inner" lj:user="fevra">   <img src="https://l-userpic.livejournal.com/99890630/952960" alt="fevra" loading="lazy" title="The Eerie: Type O Negative">  </a> </div> <div class="b-leaf-details">   <p class="b-leaf-username"><span class="b-leaf-username-name"><span class="ljuser  i-ljuser  i-ljuser-type-P     " data-ljuser="fevra" lj:user="fevra"><a href="https://fevra.livejournal.com/profile" class="i-ljuser-profile" target="_self"><img class="i-ljuser-userhead" src="https://l-stat.livejournal.net/img/userinfo_v8.svg?v=17080?v=657"></a><a href="https://fevra.livejournal.com/" class="i-ljuser-username" target="_self"><b>fevra</b></a></span> </span>  </p> <p class="b-leaf-meta">  <a href="https://lacinka.livejournal.com/21675.html?thread=144811#t144811" class="b-leaf-permalink" target="_self"> <span class="b-leaf-createdtime">December 22 2005, 00:17:10 UTC</span> </a>   <span class="b-leaf-shorttime">17 years ago</span>   </p>   </ul>        </div> </div>  <div class="b-leaf-article"> ня бачу ((( </div>   </div> </div>    </div><div class=" b-tree-twig  b-tree-twig-2 b-tree-twig-deep-0  " style="margin-left: 30px" data-tid="t145067">    <div id="t145067" class=" b-leaf        b-leaf-poster      b-leaf-full   comment p-comment " data-username="zolak" data-displayname="zolak" data-updated-ts="1135236238" data-full="1"> <div class=" b-leaf-inner svgpreloader svgpreloader-pseudo svgpreloader-16 "> <div class="b-leaf-header"> <div class="b-leaf-userpic"> <a href="https://zolak.livejournal.com/" target="_blank" class="b-leaf-userpic-inner" lj:user="zolak">   <img src="https://l-stat.livejournal.net/img/userpics/userpic-user.png?v=15821" alt="zolak" loading="lazy">  </a> </div> <div class="b-leaf-details">   <p class="b-leaf-username"><span class="b-leaf-username-name"><span class="ljuser  i-ljuser  i-ljuser-deleted  i-ljuser-type-P     " data-ljuser="zolak" lj:user="zolak"><a href="https://zolak.livejournal.com/profile" class="i-ljuser-profile" target="_self"><img class="i-ljuser-userhead" src="https://l-stat.livejournal.net/img/userinfo_v8.svg?v=17080?v=657"></a><a href="https://zolak.livejournal.com/" class="i-ljuser-username" target="_self"><b>zolak</b></a></span> </span>  </p> <p class="b-leaf-meta">  <a href="https://lacinka.livejournal.com/21675.html?thread=145067#t145067" class="b-leaf-permalink" target="_self"> <span class="b-leaf-createdtime">December 22 2005, 07:23:58 UTC</span> </a>   <span class="b-leaf-shorttime">17 years ago</span>   </p>   </ul>        </div> </div>  <div class="b-leaf-article"> Hmm... Dziŭna. Mahšyma, što byŭ niejki pierapynak na servery... </div>   </div> </div>    </div><div class=" b-tree-twig  b-tree-twig-3 b-tree-twig-deep-0  " style="margin-left: 60px" data-tid="t145323">    <div id="t145323" class=" b-leaf            b-leaf-full   comment p-comment " data-username="fevra" data-displayname="fevra" data-updated-ts="1135259801" data-full="1"> <div class=" b-leaf-inner svgpreloader svgpreloader-pseudo svgpreloader-16 "> <div class="b-leaf-header"> <div class="b-leaf-userpic"> <a href="https://fevra.livejournal.com/" target="_blank" class="b-leaf-userpic-inner" lj:user="fevra">   <img src="https://l-userpic.livejournal.com/99890630/952960" alt="fevra" loading="lazy" title="The Eerie: Type O Negative">  </a> </div> <div class="b-leaf-details">   <p class="b-leaf-username"><span class="b-leaf-username-name"><span class="ljuser  i-ljuser  i-ljuser-type-P     " data-ljuser="fevra" lj:user="fevra"><a href="https://fevra.livejournal.com/profile" class="i-ljuser-profile" target="_self"><img class="i-ljuser-userhead" src="https://l-stat.livejournal.net/img/userinfo_v8.svg?v=17080?v=657"></a><a href="https://fevra.livejournal.com/" class="i-ljuser-username" target="_self"><b>fevra</b></a></span> </span>  </p> <p class="b-leaf-meta">  <a href="https://lacinka.livejournal.com/21675.html?thread=145323#t145323" class="b-leaf-permalink" target="_self"> <span class="b-leaf-createdtime">December 22 2005, 13:56:41 UTC</span> </a>   <span class="b-leaf-shorttime">17 years ago</span>   </p>   </ul>        </div> </div>  <div class="b-leaf-article"> ой, як прыгожа!!! ))) </div>   </div> </div>    </div></div>     <div prev-next-nav=""></div> <div suggestion-for-unlogged="" class="ng-isolate-scope"><!-- ngIf: directive.isBlockVisible --></div>   </div>         