---
id: 22779
layout: page
date: 2022-10-16
---


<!-- s-body -->
        <div class="s-body">

            <!-- use header -->
            <!-- /use header -->

            <!-- Content -->
             <article class="b-singlepost hentry h-entry js-emojis  b-singlepost-mobileadaptive  b-singlepost-withbodybanner  ng-scope" role="main" ng-app="Entry"> <div class="b-singlepost-qrcode  ng-isolate-scope" lj-qrcode="https://lacinka.livejournal.com/22779.html" lj-qrcode-width="70" lj-qrcode-height="70"> <canvas width="70" height="70"></canvas></div> <div class="b-singlepost-about"> <dl class=" b-singlepost-author author vcard p-author h-card " ng-non-bindable=""> <dt class=" b-singlepost-author-userpic photo u-photo " lj:user="zolak">  <img src="https://l-userpic.livejournal.com/56724982/707281" width="" height="" align="absmiddle" title="Zołak: pic#56724982" alt="">  </dt> <dd class="b-singlepost-author-userinfo"> <div class="b-singlepost-author-userinfo-screen"> <span class=" b-singlepost-author-user fn p-name "> <span class="b-singlepost-author-user-screen"> Zołak (<span class="ljuser  i-ljuser  i-ljuser-deleted  i-ljuser-type-P     " data-ljuser="zolak" lj:user="zolak"><a href="https://zolak.livejournal.com/profile" target="_self" class="i-ljuser-profile"><img class="i-ljuser-userhead" src="https://l-stat.livejournal.net/img/userinfo_v8.svg?v=17080?v=657"></a><a href="https://zolak.livejournal.com/" class="i-ljuser-username" target="_self"><b>zolak</b></a></span>) wrote in <span class="ljuser  i-ljuser  i-ljuser-type-C     " data-ljuser="lacinka" lj:user="lacinka"><a href="https://lacinka.livejournal.com/profile" target="_self" class="i-ljuser-profile"><img class="i-ljuser-userhead" src="https://l-stat.livejournal.net/img/community.gif?v=556?v=657"></a><a href="https://lacinka.livejournal.com/" class="i-ljuser-username" target="_self"><b>lacinka</b></a></span>, </span> </span> <br> <time class=" b-singlepost-author-date published dt-published "><a href="https://lacinka.livejournal.com/2006/" target="_self">2006</a>-<a href="https://lacinka.livejournal.com/2006/01/" target="_self">01</a>-<a href="https://lacinka.livejournal.com/2006/01/29/" target="_self">29</a> 11:40:00</time>   </div> <div class="b-singlepost-author-userinfo-print"> <span class=" b-singlepost-author-user fn p-name "> Zołak<br> <span class="ljuser  i-ljuser  i-ljuser-deleted  i-ljuser-type-P     " data-ljuser="zolak" lj:user="zolak"><a href="https://zolak.livejournal.com/profile" target="_self" class="i-ljuser-profile"><img class="i-ljuser-userhead" src="https://l-stat.livejournal.net/img/userinfo_v8.svg?v=17080?v=657"></a><a href="https://zolak.livejournal.com/" class="i-ljuser-username" target="_self"><b>zolak</b></a></span>  <br><span class="ljuser  i-ljuser  i-ljuser-type-C     " data-ljuser="lacinka" lj:user="lacinka"><a href="https://lacinka.livejournal.com/profile" target="_self" class="i-ljuser-profile"><img class="i-ljuser-userhead" src="https://l-stat.livejournal.net/img/community.gif?v=556?v=657"></a><a href="https://lacinka.livejournal.com/" class="i-ljuser-username" target="_self"><b>lacinka</b></a></span>  </span> <br> <time class=" b-singlepost-author-date published dt-published "><a href="https://lacinka.livejournal.com/2006/" target="_self">2006</a>-<a href="https://lacinka.livejournal.com/2006/01/" target="_self">01</a>-<a href="https://lacinka.livejournal.com/2006/01/29/" target="_self">29</a> 11:40:00</time> </div> </dd> </dl>  </div>    <div class="b-singlepost-wrapper">  <h1 class=" b-singlepost-title entry-title p-name " ng-non-bindable="">      Moŭnyja tagi i biełaruskaja łacinka  </h1>  <div class="b-singlepost-bodywrapper">  <article class="b-singlepost-body entry-content e-content   ng-scope" lj-sale-entry="" lj-discovery-tags="" lj-embed-resizer=""> <b>12 krasavika 2005 h. Internet Assigned Numbers Authority zarehistravała standartnaje aznačeńnie biełaruskaj łacinki: <font size="4" color="#FF0000">be-Latn</font></b>.<br><br> Ciapier našuju łacinku ciažka budzie ihnaravać. Padrabiaznaści ŭ artykule Jaśki Zedlika.
<br>
<br>
Ludzi na našaj planecie vykarystoŭvajuć vialikuju kolkaść roznych movaŭ. Tamu isnuje šmat pryčynaŭ identyfikacyi toj ci inšaj movy, na jakoj padadzienaja infarmacyja.
<br>
<br>
U peŭnych vypadkach infarmacyja moža być dastupnaja na niekalkich movach, tamu ŭźnikaje patreba adroźnivać movy adnu ad adnoj. Taksama šmatlikim pragramam apracoŭki dadzienych patrebnaje viedańnie movy, na jakoj padadzienyja dadzienyja dla ažyćciaŭleńnia mahčymaści ichnaj apracoŭki. Takimi pragramami mohuć być, skažam, słoŭniki, pragramy pravierki artagrafii abo pragramy kamputarnaha syntezu movy.<br>
<br>
Raźmierkavańnie moŭnych tagaŭ u internecie administrujecca arganizacyjaj Internet Assigned Numbers Authority (<a href="http://www.iana.org" rel="nofollow" target="_self">IANA</a>), reglamentujecca standartami <a href="http://www.iso.org" rel="nofollow" target="_self">ISO</a>, a mechanizm vyznačeńnia movaŭ, pracedura registracyi novych značeńniaŭ i algarytm razboru tagaŭ apisanyja ŭ <a href="http://www.rfc-editor.org/rfc/rfc3066.txt" rel="nofollow" target="_self">RFC 3066</a>.<br>
<br>
Moŭnyja tagi zaraz šyroka vykarystoŭvajucca ŭ paznačeńni movy dakumentaŭ raźmietki jak, naprykład, HTML (HyperText Markup Language) i XML (Extensible Markup Language), movy źmieściva peŭnych pratakołaŭ, adnym ź jakich źjaŭlajecca asnoŭny pratakoł pieradačy dadzienych u internecie — pratakoł HTTP (HyperText Transfer Protocol), a taksama šerahu inšych pragramaŭ i pratakołaŭ.<br>
<br>
Dla identyfikacyi biełaruskaj movy ŭ svoj čas byŭ stvorany tag “be”. Ale ŭ suviazi z tym, što biełaruskaja mova maje prynamsi dźvie alternatyŭnyja grafiki, chutka źjaviłasia nieabchodnaść adroźnivać łaciničnuju grafiku ad kiryličnaj. Mienavita dla hetaj mety byŭ zarehistravany moŭny tag “be-Latn”, dniom narodzinaŭ jakoha možna ličyć 12 krasavika. (A chrosnym baćkam treba ličyć Jaśku Zedlika, aŭtara hetaj publikacyi — <i>red.</i>) Ad hetaha dnia biełaruskaja łacinka zrabiłasia paŭnapraŭnaj movaj suśvietnaj internet-supolnaści.<br>
<br>
j.Zedlik



<br clear="all">

<p></p><a href="http://my.opera.com/lacinka/blog/show.dml/126130" rel="nofollow" target="_self">Čytaj dalej</a><div align="right"><small><a href="http://hiero.ru/rss2lj/" rel="nofollow" target="_self">rss2lj</a></small></div>  </article>   </div>    </div> <div class="b-singlepost-video-wrap"> <div data-autoplay-dockable-video-mount=""></div> </div>
<div id="comments" class="b-grove  b-grove-3comments" data-authtoken="c0:1682874000:225:86400:tbMoGH5B5X-0-:ebd58ec3e7f64a08ecfbe3cc38413ea9"> <div class=" b-xylem  b-xylem-first  "> <ul class="b-xylem-cells">  <li class=" b-xylem-cell b-xylem-cell-amount ">   <span class="js-amount">  0 comments  </span>   </li>  </ul>  </div> <div class=" b-massaction-top ">  </div>    <div class=" b-tree b-tree-best ">  </div> <div class=" b-tree b-tree-promo " data-currentprice="">  </div>  <div class=" b-tree b-tree-root svgpreloader svgpreloader-pseudo svgpreloader-30 "></div>     <div prev-next-nav=""></div> <div suggestion-for-unlogged="" class="ng-isolate-scope"><!-- ngIf: directive.isBlockVisible --></div>   </div>         