---
id: 23232
layout: page
date: 2022-10-16
---


<!-- s-body -->
        <div class="s-body">

            <!-- use header -->
            <!-- /use header -->

            <!-- Content -->
             <article class="b-singlepost hentry h-entry js-emojis  b-singlepost-mobileadaptive  b-singlepost-withbodybanner  ng-scope" role="main" ng-app="Entry"> <div class="b-singlepost-qrcode  ng-isolate-scope" lj-qrcode="https://lacinka.livejournal.com/23232.html" lj-qrcode-width="70" lj-qrcode-height="70"> <canvas width="70" height="70"></canvas></div> <div class="b-singlepost-about"> <dl class=" b-singlepost-author author vcard p-author h-card " ng-non-bindable=""> <dt class=" b-singlepost-author-userpic photo u-photo " lj:user="zolak">  <img src="https://l-userpic.livejournal.com/56724982/707281" width="" height="" align="absmiddle" title="Zołak: pic#56724982" alt="">  </dt> <dd class="b-singlepost-author-userinfo"> <div class="b-singlepost-author-userinfo-screen"> <span class=" b-singlepost-author-user fn p-name "> <span class="b-singlepost-author-user-screen"> Zołak (<span class="ljuser  i-ljuser  i-ljuser-deleted  i-ljuser-type-P     " data-ljuser="zolak" lj:user="zolak"><a href="https://zolak.livejournal.com/profile" target="_self" class="i-ljuser-profile"><img class="i-ljuser-userhead" src="https://l-stat.livejournal.net/img/userinfo_v8.svg?v=17080?v=657"></a><a href="https://zolak.livejournal.com/" class="i-ljuser-username" target="_self"><b>zolak</b></a></span>) wrote in <span class="ljuser  i-ljuser  i-ljuser-type-C     " data-ljuser="lacinka" lj:user="lacinka"><a href="https://lacinka.livejournal.com/profile" target="_self" class="i-ljuser-profile"><img class="i-ljuser-userhead" src="https://l-stat.livejournal.net/img/community.gif?v=556?v=657"></a><a href="https://lacinka.livejournal.com/" class="i-ljuser-username" target="_self"><b>lacinka</b></a></span>, </span> </span> <br> <time class=" b-singlepost-author-date published dt-published "><a href="https://lacinka.livejournal.com/2006/" target="_self">2006</a>-<a href="https://lacinka.livejournal.com/2006/01/" target="_self">01</a>-<a href="https://lacinka.livejournal.com/2006/01/29/" target="_self">29</a> 11:40:00</time>   </div> <div class="b-singlepost-author-userinfo-print"> <span class=" b-singlepost-author-user fn p-name "> Zołak<br> <span class="ljuser  i-ljuser  i-ljuser-deleted  i-ljuser-type-P     " data-ljuser="zolak" lj:user="zolak"><a href="https://zolak.livejournal.com/profile" target="_self" class="i-ljuser-profile"><img class="i-ljuser-userhead" src="https://l-stat.livejournal.net/img/userinfo_v8.svg?v=17080?v=657"></a><a href="https://zolak.livejournal.com/" class="i-ljuser-username" target="_self"><b>zolak</b></a></span>  <br><span class="ljuser  i-ljuser  i-ljuser-type-C     " data-ljuser="lacinka" lj:user="lacinka"><a href="https://lacinka.livejournal.com/profile" target="_self" class="i-ljuser-profile"><img class="i-ljuser-userhead" src="https://l-stat.livejournal.net/img/community.gif?v=556?v=657"></a><a href="https://lacinka.livejournal.com/" class="i-ljuser-username" target="_self"><b>lacinka</b></a></span>  </span> <br> <time class=" b-singlepost-author-date published dt-published "><a href="https://lacinka.livejournal.com/2006/" target="_self">2006</a>-<a href="https://lacinka.livejournal.com/2006/01/" target="_self">01</a>-<a href="https://lacinka.livejournal.com/2006/01/29/" target="_self">29</a> 11:40:00</time> </div> </dd> </dl>  </div>    <div class="b-singlepost-wrapper">  <h1 class=" b-singlepost-title entry-title p-name " ng-non-bindable="">      Pisati po-svojomu  </h1>  <div class="b-singlepost-bodywrapper">  <article class="b-singlepost-body entry-content e-content   ng-scope" lj-sale-entry="" lj-discovery-tags="" lj-embed-resizer=""> <img src="https://imgprx.livejournal.net/b65324000794fae43d8e1b0421480ea0aaeda8dc/uLHSOtgAsHNjkAT_JUleoVXY1En70PNPqRcnWtRjY_eSHTtpSa8yTPUFQx7Mz17fTCaBmPttdftMgtyex2ztmY2bH4ZxfYtdHKl-vLcclYgihp2z07Br25AaEdWQsqm2" align="right" hspace="6" alt="jan_maksimiuk.jpg" loading="lazy">Moj pastulat pisać „pa-svojmu” datyčyć movy, jakoj štodzionna pasłu- hoŭvajecca ŭsio jašče značnaja kolkaść biełarusaŭ – hetakzvanych pudlašôv – što žyvuć na Biełastoččynie pamiž Narvaj i Buham. Mova hetaja – a dakładniej kanhlamerat viaskovych havorak – nia maje ahulnapryniataj nazvy, tamu prapanuju pakul što nazvać jaje svajoj, prynamsi da času, kali ŭ hetym sensie budzie dasiahnuty choć jaki kansensus.<a name="cutid1" target="_self"></a>

Mahčyma, što hetaja mova pavinna nazyvacca padlaskaj/pudlaśkoj? Albo prosta ruskaj/ruśkoj, jak u Vialikim Kniastvie Litoŭskim nazyvali movu tahačasnych rusinaŭ – prodkaŭ siońniašnich biełarusaŭ u ŭkraincaŭ?<br>
<br>
Piśmovaja versija ruskaj movy, viadomaja sa Statutaŭ VKL z 16. st., vielmi padobnaja da siońniašniaj movy pudlašôv – hzn. padlaskich biełarusaŭ, jakich bačać jak dapaŭnieńnie  lićvinôv* siarod biełaruskaj nacyjanalnaj mienšaści na Biełastoččynie. Prablema nazvy kankretna pa hetym pytańni ciažkaja j supiarečnaja. Adnak kali vy zapytajecie kaho-niebudź ź vioskaŭ pamiž Narvaj i Buham, <i>po-jakomu vy hovoryte doma?</i> – vy pačujecie najčaściej adkazy: <i>po-našomu</i> albo <i>po-svojomu</i>. Niesumnienna, čas pryśpieŭ prydumać bolš aryhinalnuju nazvu, ale mnie asabista ničoha tahoka pakul što nie pryjšło ŭ hałavu. 
<br>
<br>
Z druhim pytańniem – dzie pisać po-svojomu? – dumaju, što najlepiej było b pačać u „Nivie” j „Czasopisie”. Ja niejak nie mahu ŭjavić sabie, što možna było b biez prablem rabić heta ŭ takich hazetach, jak „Kurier Poranny” albo „Gazeta Współczesna”. <br>
<br>
<b>A pa što ŭvohule pisać po-svojomu?</b><br>
<br>
Adkaz 1 (jaki najbolš zadavalniaje mianie): Bo heta vielmi pryjemna. I heta sapraŭdy cool. Bo nichto hetak nia piša ŭ zvyčajnym žyćci (ź viadomych mnie ludziej – tolki maja žonka j maładziejšy syn, jakija dasyłajuć adno adnamu SMS-y vyklučna po-svojomu; nu j ja sam, jaki akurat ciapier zakančvaju pierakład narveskaha ramanu na svoju movu; i jašče adna asoba, jakaja pierajechała ź Biełastoččyny ŭ Kanadu). <br>
<br>

Adkaz 2 (patryjatyčna-fatalistyčny): Bo jak biełarusy my nie pavinny dapuścić, kab adna z našych dźviuch matčynych (i baćkoŭskich) movaŭ – ja maju na ŭvazie nas jak biełastoskich lićvinôv i pudlašôv– źnikła voś tak, prosta ad lanoty hetakzvanaj biełaruskaj elity ŭ Polščy, jakaja navučyłasia pisać pa-biełarusku i/albo pa-polsku, ale nie dała rady navučycca pisać po-svojomu. (Ci viadoma vam, što kožnaha miesiaca na Ziamli niezvarotna źnikajuć dźvie movy (!!!) – zrazumieła, tyja, jakich nichto j nidzie nie pieranies na papieru?). <br>
<br>

Adkaz 3 (statystyčna-prahmatyčny): Bo hetaha vymahaje žyćciovy intares biełaruskaj nacyjanalnaj mienšaści na Biełastoččynie. Analiz vynikaŭ pierapisu nasielnictva 2002  h. ŭ padlaskim vajavodztvie ŭ paasobnych hminach pakazvaje, što z kala 46400 asobaŭ, jakija deklaravali biełaruskuju nacyjanalnaść, pryblizna 37000 (amal 80% biełastockich biełarusaŭ) heta biełarusy-pudlašê, abo ludzi, jakija ŭ svaim žyćci havorać po-svojomu. I chacia biełarusy z Haradka ci Naraŭki mohuć daskanała parazumiecca ź ludźmi z Čyžoŭ albo Klaščelaŭ biez pasrednictva polskaj ci alhielskaj movy, usio ž nielha tut nie zaŭvažyć peŭnaj davoli vidavočnaj niespraviadlivaści – lićviny mohuć pisać u svajoj „chatniaj” movie (chacia b u „Nivu” j „Czasopis”), a pudlašê ŭ svajoj – nie. Pa-druhoje, kali dahetulešni temp asymilacyi biełaruskaj mienšaści ŭ Polščy zachavajecca, nieŭzabavie bolš jak 90% biełarusaŭ Biełastoččyny j Polščy buduć składać mienavita pudlašê. Tearetyčna možna spadziavacca, što ŭzvyšeńnie ichniaj movy da ranhu druhoj pisanaj movy polskich biełarusaŭ moža jstotnym čynam pryčynicca da pasłableńnia asymilacyjnych pracesaŭ siarod usiaje mienšaści, a va ŭsiakim razie – stvaryć novaje pole litaraturnaj samarealizacyi tym biełarusam, jakija nie adčuvajuć siabie ŭpeŭniena ŭ litaraturnaj biełaruskaj movie, albo zusim nia mieli nahody vyvučyć hetuju movu, ale nadalej mohuć vyrazić svaju biełaruskuju dušu po-svojomu. Dyk navošta ž im zabaraniać? 
<br>
<br>
Adkaz 4 (misijny): Toje pakaleńnie 30- i 40-hadovych, jakoje siońnia zasiarodžanaje vakoł „Nivy” i „Czasopisu”, jašče nie zavieršyła svaje biełaruskaj misii ŭ Polščy. Naohuł, heta ludzi, jakija vyvodziacca z chvali studenckaha adradžeńnia 80-ch hadoŭ. Mienavita hetaje pakaleńnie polskich biełarusaŭ prydumała „Basovišča”, zasnavała „Czasopis”, uviało navučańnie biełaruskaj movy ŭ biełastockim sadku j pačatkovaj škole, viało „Radio Racja” i pryčyniłasia da kardynalnaj źmieny abličča biełaruskaj mienšaści ŭ Polščy ŭ 90-ch hadoch. Jano ŭžo, na dobry ład, pavinna spačyć na łaŭrach, kali b nie adno ale. Biełaruskija studenty 80-ch hadoŭ heta praktyčna apošniaje pakaleńnie „haradzkich", jakija jašče zdolnyja dosyć svabodna havaryć po-svojomu. Dla pakaleńnia ichnych dziaciej svoja mova – kali jaje nie zapisać u hazetach i knižkach, i, takim čynam „pryvieści ŭ harady” – moža stacca takim samym reliktam zabytaj minuŭščyny, jak sierp i žorny. Inakš kažučy, nacyjatvorčaja misija „adradženckaha” pakaleńnia biełaruskich studentaŭ 80-ch hadoŭ nasamreč budzie zavieršanaja tolki tady, kali jany pasprabujuć zachavać (prynamsi na papiery) adzin z najvažniejšych elementaŭ svaje duchovaj tojesnaści – svoju movu – dla palakeńnia svaich dziaciej i ŭnukaŭ. Kali nia my, to chto? 
<br>
<br>
<b>Ty nie adkryvaješ Ameryki...</b> 
<br>
<br>

Ja viedaju. Ale ja zusim i nie chaču być adkryŭcam ci pijanieram čaho-niebudź. Chaču spravakavać šyrejšy hramadzki vodhuk. <br>
<br>

Ja nie mahu skazać, chto pieršy zaprapanavaŭ pisać albo pisaŭ  po-svojomu naohuł, ale ja chutčej za ŭsio nia nadta pamylusia, kali skažu, što na Biełastoččynie – u adnaznačna biełaruskim kantekście, pra jaki tut viadziecca havorka – pisańnie po-svojomu pačałosia ŭ „Nivie" u 70-ja hady, kali vieršy na movie svajoj vioski (Volka, hmina Orla) pačała publikavać Zosia Sačko. Potym Litaraturnaje Tavarystva „Biełavieža” apublikavała try zborniki paezii Zosi Sačko ŭ svajoj movie. U 2002 hodzie pad šyldaj taho samaha tavarystva vyjšaŭ zbornik paezii Viktara Stachviuka po-svojomu (darečy, apublikavanyja vieršy Sačko j Stachviuka źjaŭlajucca klasnym dokazam taho, što j svoja mova, i  jaje karystalniki chavajuć pierad nami nadzvyčaj cikavyja tvorčyja mahčymaści). A ŭ Bielsku Padlaskim entuzijast i papularyzatar historyi j kultury svajoj małoj ajčyny, Daratej Fionik, užo badaj vośmy hod zapar vydaje časopis „Bielski Hostineć”, u jakim čas ad času pajaŭlajucca teksty po-svojomu. Pašana j chvała im za heta. Heta pieradusim jany mohuć pretendavać na rolu pijanieraŭ u hetym sensie. <br>
<br>
Adnak i zborniki paezii Sačko i Stachviuka, i časopis Fionika zastajucca na paboččy hałoŭnaha rečyšča vydaviecka-litaraturnaj aktyŭnaści biełastockich biełarusaŭ, jakija abirajuć litaraturnuju biełaruskuju (albo polskuju) movu dziela pieradačy infarmacyi dy estetyčnych kaštoŭnaściaŭ. Toje, što ja prapanuju ŭ hetym tekście, źjaŭlajecca zaklikam da tych, chto farmuje infarmacyjna-vydavieckuju palityku ŭ bielaruskim asiarodździ, kab dazvolili vykazvacca ŭ svaich medyjach (uklučjučy ŭ heta bielaruskamoŭnyja prahramy ŭ lakalnaj biełastockaj televizii j radyjo) tym, chto zachoča vykazvacca po-svojomu. Inačaj kažučy, pastaŭmasia da svojoj movu jak da treciaj raŭnapraŭnaj movy biełaruskaj mienšaści ŭ Polščy, kab zrabić ź jaje narmalnuju pryładu kamunikacyi ŭ asiarodździ, jak u vusnaj, hetak i ŭ piśmovaj versii. <br>
<br>
Ja zaklikaju, na dobry ład, nia prosta dazvolić publikavacca, a supolna stvarać i realizavać  metavuju prahramu pramocyi j raźvićcia svojeji movy ŭ medyjach biełaruskaj mienšaści. Z pryčynaŭ, vyłuščanych u čatyroch adkazach na adno j toje ž pytańnie, pastaŭlenaje vyšej. Čas, kali možna było skazać što čas pryśpieŭ zrabić heta, daŭno ŭžo minuŭ. Ale jašče nie zapozna kab zrabić heta. Nie azirajučysia na toje, što pra nas padumajuć palaki albo našyja padlaskija „ukraincy”. 
<br>
<br>
<b>Darečy, a ty heta nie pra ŭkrainizacyju?</b><br>
<br>
Nie. Jakraz pra biełarusizacyju. <br>
<br>
U pierapisie nasielnictva 2002 h. 39900 asobaŭ deklaravała, što jany karystajucca ŭ štodzionnym žyćci biełaruskaj movaj (86% ad usich, chto ličyć siabie na Biełastoččynie biełarusami). Kali padličyć, dyk kala 32000 asobaŭ z hetaj hrupy — pudlašê, jakija identyfikavali svaju chatniuju movu jak biełaruskuju. Hetaja identyfikacyja, navat kali jana nia całkam pravilnaja z navukova-linhvistyčnaha punktu pohladu, całkam zrazumiełaja na emacyjnym uzroŭni, i jana maje dla nas vielmi važnaje značeńnie. Bo jana aznačaje, što jak minimum 32000 pudlašôv u 2002 h. nia mieła namieru nijak identyfikavacca z ukrainskaściu, nie zvažajučy na toje, što ichniaja mova rašuča bližejšaja da standartaŭ ukrainskaj litaraturnaj movy, čym biełaruskaj, pra što z mańjakalnaj upartaściu paŭtaraje Źviaz ukraincaŭ Padlašša. Vynik dvaccacihadovaj ukrainizacyi Biełastoččyny – 1400 pierakananych Ukraińców (2,8% usich biełastockich biełarusaŭ) – dazvalaje nam zrabić dźvie istotnyja vysnovy. 
<br>
<br>
Pa-pieršaje, prablema ŭkrainizacyi nia budzie mieć nijakaha jstotnaha ŭpłyvu na dalejšaje raźvićcio biełaruskaj etničnaj tojesnaści na Biełastoččynie. Brutalna kažučy, nas u budučyni źniščyć palanizacyja, a nie ŭkrainizacyja. Našaj hałoŭnaj zadačaj źjaŭlajecca maksymalna addalić hetuju perspektyvu, a nie zmahacca z ukrainizacyjaj. Хай вам щастит, брати-українці, на Підляшши! 
<br><br>

Pa-druhoje, mahčymaje prydańnie svojeji movie statusu aficyjnaj movy mienšaści ŭ bielaruskim ruchu – a prama kažučy: stvareńnie ŭ našym mienšasnym maštabie jašče adnaje ŭschodniesłavianskaj movy pobač z rasiejskaj, biełaruskaj ukrainskaj i rusinskaj – moža vielmi dapamahčy ŭ nacyjanalnaj samaidentyfikacyi biełastockich biełarusaŭ u nastupnym pierapisie nasielnictva. Heta datyčyć jak pierakananych biełarusaŭ, tak i tych, jakija – mienavita z pryčyny ichniaj "nieviadoma jakoj” movy – nazvali siabie albo palakami, albo ŭkraincami.<br>
<br>
<b>Tłumačyć dalej, pra što ja, ci heta j tak dastatkova jasna?</b><br>
<br>
Dastatkova jasna.<br>
<br>
Tady ja patłumaču jašče. Kateharyčnaja etničnaja identyfikacyja vyklučna na padstavie lihvistyčnaj — „ja havaru padobna jak ukraincy ź Ilvova, dyk peŭna ja ŭkrainiec” — źjaŭlajecca razumovaj aberacyjaj, jakuju ŭ Polsčy padtrymvajuć bolš čym u jakoj inšaj krainie. Bo tolki Polšča — takaja vyklučnaja kraina Eŭropy, dzie amal usie (97-98% hramadzian) havorać adnoj movaj (jakaja nia maje ŭžo žyvych havorak i dyjalektaŭ), majuć adnolkavuju relihiju, i ahulna kažučy, u kulturnym dy cyvilizacyjnym sensie da bolu adnarodnyja. Eŭropa, i z zachodniaha, i z uschodniaha boku Polščy, zusim inšaja, kali zirnuć na dačynieńni pamiž dziaržavaj, narodam, nacyjanalnaściu, kulturaj i movaj. Jana bahaciejšaja j bolš składanaja.
<br>
<br>
Daloka nie šukajučy, voźmiem Biełaruś i Ŭkrainu. Ci tyja biełarusy j ukraincy, jakija ŭ čarhovym pakaleńni ŭ siemjach razmaŭlajuć pa-rasiejsku i pa šyju zanuranyja ŭ rasiejskaj kultury, ale nadalej identyfikujuć siabie ŭ jakaści biełarusaŭ i ŭkraincaŭ, niejkim abjektyŭnym arbitražom pavinny być abaviazkova zaličanyja da rasiejcaŭ? Pierakładajučy heta na svoju movu: ci čałaviek u Dubičach Carkoŭnych, jaki identyfikuje siabie jak biełarusa, pavinien być hurtova zaličany da ŭkraincaŭ, bo jon havoryć „chutčej pa-ukrinsku, čym pa-biełarusku”? Tłumačeńnie, što pudlašôv – ź linhvistyčnaha hledzišča „nieśviadomych ukraincaŭ” – biełarusami zrabiła bolš ci mienš prymusova kamunistyčnaja ŭłada ŭ Polščy paśla II ŭsiaśvietnaj vajny, źjaŭlajecca mienavita adnoj z prajavaŭ hetkaj razumovaj aberacyi. Darečy, jana nadzvyčaj abražaje samich hetych  „nieśviadomych ukraincaŭ”. 
<br>
<br>
Eŭropa pa zachodnim baku našych aharodžaŭ daje bahatuju palitru prykładaŭ, dzie nacyjanalnaja identyfikacyja abapirajecca nie na adnoj-adzinaj movie, a na niekalkich movach adnačasna, a taksama na inšych istotnych rečach: supolnaj historyi, kultury, relihii, albo palityčnaj ci ekanamičnaj łučnaści. Irlandcy nie pierastajuć być Irlandcami, chacia amal usie jany zabylisia ŭžo movu svaich kielckich prodkaŭ, i havorać na movie kolišnich vorahaŭ. Narvehi — adziny narod (i nacyjanalnaść), chacia ŭ ich dźvie movy: "nasadžanaja” datčanami bokmål i svoja mova – nynorsk. Padobna j švajcarcy, jakija źjaŭlajucca adnym narodam (i nacyjanalnaściu), chacia ŭ ich až čatyry nacyjanalnyja movy: niamieckaja, francuskaja, italjanskaja j retaramanskaja. I švajcarcy niejak dajuć rady, nie chvarejuć na nacyjanalnuju šyzafreniju. Ci my na Biełastoččynie nie damo rady dźvium nacyjanalnym movam? Što za pytańnie. 
<br>
<br>
<b>Retaramanskaja analohia</b><br>
<br>
Zatrymajmasia na chvilinku pry retaramanskamoŭnych švajcarcach. Analohija da ichniaj sytuacyi dazvolić mnie chutčej rastłumzčyć, što treba zrabić nam, niedapalanizavanym pudlašam. Ich kala 60000 u kantonie Graubünden, jaki miažuje z Aŭstryjaj dy Italijaj. Ichniaja mova, heta, pa sutnaści, piać dyjalektnych varyjantaŭ (Sursilvan, Sutsilvan, Surmiran, Puter, Vallader) i panadrehijanalnaja versija movy – Rumantsch Grischun (RG), štučna syntezavanaja ŭ 1982 h. na padstavie zhadanych piaci dyjalektaŭ. Kožny z hetych piaci dyjalektaŭ, jak i RG, maje svaju ŭnarmavanuju piśmovuju versiju i navučajecca ŭ škołach tych hminaŭ kantonu, na terytoryi jakich jon isnuje. Značyć: viadomaja nam adno z nazvy retaramanskaja heta nasamreč piać roznych naturalnych movaŭ i adna štučnaja, raspaŭsiudžanyja na terytoryi, jakaja pryblizna adpaviadaje abšaru našaj małoj ajčyny pamiž Buham i Narvaj. I švajcarcaŭ-retaramancaŭ pryblizna stolki ž, kolki biełarusaŭ na Biełastoččynie. I zachavańnie ichniaj movy – amalgamatu byłoj łaciny dy havorki hiermanaŭ – pad pahrozaj. Adnak jany nie zdajucca.<br>
<br>
A my što? U nas jość svoja mova, jakaja na pieršy pozirk źjaŭlajecca mazajkaj viaskovych havorak biaz składu j ładu. Ale i ŭ hetym „chaosie” jość svoj paradak. Usie našyja padlaskija havorki možna padzialić na try (albo maksimum čatyry) vyraznyja hrupy. Kryteryjaŭ padziełu šmat, ja dla prykładu padam adzin z najpraściejšych. Bieručy pad uvahu, jak etymalahičnyja zyčnyja d i t viaduć siabie pierad hałosnymi e i i, havorki svojeji movy možna padzialić na nastupnyja hrupy: 1) deń, teper, chodzici; 2) deń, teper, choďiťi; 3) deń, teper, choditi; 4) deń, teper, chodyty. Hetyja čatyry hrupy možna zredukavać da troch, uklučajučy havorki z vymaŭleńniem choditi (ćviordyja d i t, ale ale taksama vyrazna čutnoje paśla ich i) u 2 albo 4 hrupu. Voilá. U nas taksama jość svaje try ci čatyry „retaramanskija dyjalekty”. Švajcarcy dakazali nam, što možna dać rady navat u takoj mazajkavaj linhvistyčnaj sytuacyi. 
<br>
<br>
Što ja chaču hetym skazać? Pieradusim toje, što kali my ŭžo pačniem pisać po-svojomu – u što ja hłyboka vieru – to nie naležyć adrazu naviazvać niejkaha adzinaha hramatyčna-arfahrafičnaha standartu. Chaj u nas buduć hetyja try (čatyry) versii zvajoj movy, kožnaja ź jakich maje svaju ŭnutranuju fanetyčna-marfalahičnuju lohiku dy niepaŭtornaje charastvo. Chaj kožny piša ŭ takoj versii, jakoj jaho navučyli tata j mama. A potym pabačym, jak raźviniecca sytuacyja. Niavyklučana, što zusim nia treba budzie sklikvać suśvietnaha linhvistyčnaha kanhresu pudlašôv z udziełam delehataŭ AAN, EZ i ZBiRu, kab apracavać adziny standart svojeji movy. Prosta jon moža sfarmavacca sam. Tym bolš, što ŭsie čatyry hrupy havorak bazujuć na supolnaj leksicy j frazealohii. 
<br>
<br>
<b>Jašče tolki adno adstupleńnie pra rusinaŭ...</b> <br>
<br>
Naprykład rusinam (u Polščy bolš viadomym jak łemki; nia błytać z rusinami z VKL) u hetym sensie horš, bo leksika polskich, ukrainskich, słavackich i serbskich rusinaŭ časam dosyć značna adroźnivajecca miž saboj. Ale jany nie zdajucca – raźvivajuć adnačasova čatyry versii rusinskaj movy, jakija hruntujucca na žyvych havorkach zaležna ad krainy pražyvańnia. Jany pačali rabić heta pad kaniec 80-ch hadoŭ, kali j my pavinny byli pačać niešta rabić sa svajoj padlaskaj movaj. Ale ŭ nas na Biełastoččynie mahčymyja ruchi ŭ hetym napramku blakavaŭ „ukrainski sindrom”: usim u 80-ch i 90-ch hadoch zdavałasia, što pramocyja svojeji movy paspryjaje adno ŭkrainizacyi Padlašša, i ničoha nia daść biełaruskaj spravie. I ja hetak dumaŭ, za što va ŭsich zacikaŭlenych, i pieradusim u majoj siamji, sardečna j publična prašu prabačeńnia. Zhryšyv. Kajusia. Bolej hetak nie padumaju. I nia budu bolej stračvać času na dyskusii pra toje, „chto ž my **** takija ŭ sapraŭdnaści”: bieła- ci mała- ci prosta ruskija. 
<br>
<br>
<b>...nu, zaraz pačniecca</b><br>
<br>
Z prahmatyčnych pieradusim pierkavańniaŭ ja ŭvažaju, što my pavinny  adaptavać dziela zapisu svojeji movy łacinski alfabet. Hałoŭnaja pryčyna nieabvieržnaja: kolkaść realnych i patencyjnych karystalnikaŭ svojeji movy značna bolšaja za kolkaść tych, chto viedaje kirylicu. Heta pierš za ŭsio datyčyć maładych pakaleńniaŭ pudlašôv, jakija nia tolki nia chočuć vyvučać „dziaŭbanutyja bukvy”, ale čaściakom nia majuć navat i nahody, kab hetym zajmacca, ad času, kali sa škoł u masavym paradku „vysialili” rasiejskuju movu i ŭviali anhielskiju. Tamu kirylica ŭ Polščy nia maje navat adnaje dziesiataj takich šancaŭ zachavacca, jak łacinka. A ja nie chacieŭ by prapanavać rabić niešta, što ŭžo siońnia ŭsprymajecca, jak niešta nakanavanaje na parazu. 
<br>
<br>
Kali ja pradstaviŭ prajekt raźvićcia svojeji movy ŭ jakaści poŭnavartasnaje movy polskich biełarusaŭ traim VIB-am (VIB – Very Important Belarusian) u Biełastoku niejkija paŭtara hodu tamu, ź ichniaha boku było amal poŭnaje razumieńnie hetaj idei aprača... voś mienavita, uviadzieńnia łacinskaha alfabetu. Ja viedaju ŭsie arhumenty suprać. Ja nia budu ich tut ahavorvać, kab nie vyklikać admoŭnych emocyjaŭ jašče raz. Ja taksama nie nazavu inšych arhumentaŭ za – aprača zhadanaha vyšej prahmatyčnaha. Prosta pradstaŭlu stanoŭčuju prapanovu, nad jakoj varta zadumacca. 
<br>
<br>
Jašče kryšku i zakančvaju. Hety tekst, kaniešnie, zanadta doŭhi, kab stravić jaho ŭ adnym čytańni. 
<br>
<br>
<b>Jak pisati po-svojomu?
A voś tak:</b>
<blockquote>
  <p><i>Mokry Prohał, tak nazyvali siête miêśtie.<br>
<br>
Hallstein zatrymavsia poseredini.<br>
<br>
Prohał byv na schili horê, čerez kotory protikała vodianaja žyła. Zemla ode była syraja i čorna, i tut dikim poradkom rośli razny gatunki roślinuv. Čerez siêtu bujnu roślinnośť ode pachło inačej, niž na inšych schiłach. Trava i liśtianyje dereva, a v travie mnužêń kamiêńčykuv z nevelikich zabytych obsypuv. Zverchu navisav hrebeń hniłoji skały. V promižutkach mižy derevinoju rośli korčê vysokoho zajčoho kropu. To peredovsiêm dla joho Hallstein prychodiv siudy tak často čerez vsiê svojê chłopciôvśki lêta. Vôn ne môh by odkazati na pytanie, što joho zvezuvało z siêtym kropom, vôn tôlko odčuvav, što to byli čudny rośliny, kotory tut tak dikovato porozpuskali velizny korony svojich kviêtok.&amp;nbsp;<br>
<br>
Tekučoji vody ne było vidno, ale kamiênie tut čuť ne ciêły čas było vilhôtne. Vilhoť prosočuvałasia i vytikała prosto z zemlê i tiêniu.&amp;nbsp;<br>
</i></p>
</blockquote>
Heta frahment ramanu narveskaha piśmieńnika Tarjei Vesaasa Varnått (Veśnianaja nôč), jaki ja zhadvaŭ raniej.<br>
<br>
Biezumoŭna amal usio jasna j zrazumieła (dadatkova prapanuju čytačom „Czasopisu” karotkaje apaviadańnie Grahama Greene’a ŭ maim pierakładzie, kab asvoicca z našaj „novaj” movaj), tamu abmiažujusia tolki da niekalkich najbolš nieabchodnych kamentaroŭ. 
<br>
<br>
Alfabet vykarystany vyšej źjaŭlajecca kambinacyjaj hrafičnych znakaŭ, užyvanych u polskaj i českaj movie. Zrazumiełyja hrafičnyja adpaviedniki pamiž kirylicaj i łacinkaj ja aminaju, a padaju tyja, jakija vymahajuć niekalkich słovaŭ kamentara: š – ш, č – ч, ž – ж, ś – сь, ć – ць, ź – зь, ď – дь, ť – ть, ł – л, l – ль, v – в. 
<br>
<br>
Uviadzieńnie ś, ć i ź dazvalaje nam aščadzić miesca ŭ paraŭnańni da kirylicy – adpaviednyja im сь, ць і зь ŭ kirylicy vymahajuć dvuch znakaŭ. Toje samaje datyčyć dźviuch inšych paraŭ: ť – ть, ď – дь. Uvodziačy š, č i ž, my nie aščadžajem miesca ŭ paraŭnańni da kirylicy, ale ŭ paraŭnańni da polskaj versii łacinskaha alfabetu tak: tam sz i cz składajucca z dvuch znakaŭ. Uviadzieńnie adpaviednaści v – в pradyktavanaje važnym taktyčnym mierkavańniem. U niekatorych padlaskich havorkach etymalahičnaje v(в) na kancy słova i pry zamykańni składu ŭ siaredzinie słova źmianiajecca ŭ bolš ci mienš čutnuju napaŭhałosnuju „ŭ”, jakuju ŭ biełaruskaj kirylicy aznačajuć litaraj ў. Kali my vyrašajem zachavać na piśmie hetuju fanetyčnuju źjavu, tady w – zastajučysia ŭ „taktyčnym adychodzie” – źjaŭlajecca naturalnym kandydatam dziela vykanańnia hetaj roli: vyjšov/vyjšow; pôvdeń/pôwdeń; itp. 
<br>
<br>
Adpaviednaść pamiž hałosnymi taksama zdajecca zrazumiełaj, moža za vyklučeńniem dvuch našych dyftonhaŭ: ô – уо (kôń/куонь); ê – ыэ (orêch/орыэх). Plusam vykarystańnia łacinskaha alfabetu źjaŭlajecca elehantny sposab zapisu dyftonhaŭ, asabliva bačny ŭ palatelizavanaj pazycyi. Paraŭnajma, naprykład, łacinkavy j kiryličny zapis słovaŭ „nios” i „miech” po-svojomu: niôs – ніуос; miêch – міыэх. 
<br>
<br>
Vykarystanie „daškaŭ” dziela aznačeńnia dyftonhaŭ ô i ê źjaŭlajecca biezumoŭna „estetyčnym nastupstvam” uviadzieńnia š, č i ž (alfabet svojeji movy pavinien być nia tolki „erhanamičny”, ale j vyhladać pavinien pryhoža!). Pa-druhoje, dyftonh ô užo jsnuje ŭ piśmovym vyhladzie ŭ słavackaj movie. Słavaki kažuć môj (moj) dakładna tak jak pudlašê. I tamu chtości, chto ŭ žyćci kirujecca erhanamičnym filazafičnym pryncypam, što  nie naležyć stvarać bolej bytaŭ, čym patrebna, aznačeńnie našych dyftonhaŭ znakami ô i ê nie padasca nijakaj fanaberyjaj, a niepaźbiežnaj estetyčna-filazaficzna-linhvistyčnaj nieabchodnaściu. 
<br>
<br>
Pryviedzieny kavałačak ramanu Vesaasa, jak i apaviadańnie Greene’a, pierakładzienyja na movu, jakuju ja vyvučyŭ u rodnaj vioscy Lachi (hmina Naraŭ). Heta taja hrupa havorak (časam movaznaŭcy nazyvajuć ich zachodniepadlaskimi havorkami), dzie havorać „miakka”: choďiťi. U zapisie heta vypadaje jak „choditi”, što niesumnienna całkam pryjmalna taksama dla pudlasôv z paŭdniovaj častki Hajnaŭščyny j Bielščyny, dzie havorać krychu bolš ćviorda: choditi. 
<br>
<br>
Inšyja pryniatyja mnoj arfahrafičnyja kanvencyi ŭ peŭnaj stupieni subjektyŭnyja, ale zusim nie arbitralnyja. Urešcie svoja mova — uschodniesłavianskaja, dyk pryjmajučy kankretnyja rašeńni ja braŭ za ŭzor arfahrafičnyja padychody ź biełaruskaj dy ŭkrainskaj movaŭ. 
<br>
<br>
Nu što ž, voś i kaniec. Albo pačatak, jak chto choča. Žadajučy ŭsim pryjemnaha čytańnia, ja chacieŭ by vyrazić nadzieju, što hety artukuł ne bulkne <b><i>jak kameń v bołoto i ne propade nazusiêm</i></b>, a schilić čytača da šmatlikich karysnych rozdumaŭ. Kali b niechta sa spadarstva chacieŭ padzialicca imi sa mnoj, budu vielmi rady. Moj e-mail:  <a href="mailto:maksymiukj@rferl.org" rel="nofollow" target="_self">maksymiukj@rferl.org</a>
<p align="right">Jan Maksimiuk<br>
<br>
Praha, studzień 2005 h.<br>
<br>
Krynica: <a href="http://www.sonca.org/czasopis/" rel="nofollow" target="_self">Czasopis 2005-02-09</a><br>
<br>
Pierakład z polskaj: Zołak

</p>
___________<br>
*u dadzienym značeńni žychary tych terytoryjaŭ Padlašša, jakija ŭvachodzili ŭ skład VKL. [zaŭv.pierakł.]



<br clear="all">

<p></p><a href="http://my.opera.com/lacinka/blog/show.dml/126133" rel="nofollow" target="_self">Čytaj dalej</a><div align="right"><small><a href="http://hiero.ru/rss2lj/" rel="nofollow" target="_self">rss2lj</a></small></div><a name="cutid1-end" target="_self"></a>  </article>   </div>    </div> <div class="b-singlepost-video-wrap"> <div data-autoplay-dockable-video-mount=""></div> </div>
<div id="comments" class="b-grove  b-grove-3comments" data-authtoken="c0:1682874000:226:86400:h67F768bCE-0-:3e712e03ef8dbb0ad95b887886519e52"> <div class=" b-xylem  b-xylem-first  "> <ul class="b-xylem-cells">  <li class=" b-xylem-cell b-xylem-cell-amount ">   <span class="js-amount">  0 comments  </span>   </li>  </ul>  </div> <div class=" b-massaction-top ">  </div>    <div class=" b-tree b-tree-best ">  </div> <div class=" b-tree b-tree-promo " data-currentprice="">  </div>  <div class=" b-tree b-tree-root svgpreloader svgpreloader-pseudo svgpreloader-30 "></div>     <div prev-next-nav=""></div> <div suggestion-for-unlogged="" class="ng-isolate-scope"><!-- ngIf: directive.isBlockVisible --></div>   </div>         