---
id: 23376
layout: page
date: 2022-10-16
---


<!-- s-body -->
        <div class="s-body">

            <!-- use header -->
            <!-- /use header -->

            <!-- Content -->
             <article class="b-singlepost hentry h-entry js-emojis  b-singlepost-mobileadaptive  b-singlepost-withbodybanner  ng-scope" role="main" ng-app="Entry"> <div class="b-singlepost-qrcode  ng-isolate-scope" lj-qrcode="https://lacinka.livejournal.com/23376.html" lj-qrcode-width="70" lj-qrcode-height="70"> <canvas width="70" height="70"></canvas></div> <div class="b-singlepost-about"> <dl class=" b-singlepost-author author vcard p-author h-card " ng-non-bindable=""> <dt class=" b-singlepost-author-userpic photo u-photo " lj:user="zolak">  <img src="https://l-userpic.livejournal.com/56724982/707281" width="" height="" align="absmiddle" title="Zołak: pic#56724982" alt="">  </dt> <dd class="b-singlepost-author-userinfo"> <div class="b-singlepost-author-userinfo-screen"> <span class=" b-singlepost-author-user fn p-name "> <span class="b-singlepost-author-user-screen"> Zołak (<span class="ljuser  i-ljuser  i-ljuser-deleted  i-ljuser-type-P     " data-ljuser="zolak" lj:user="zolak"><a href="https://zolak.livejournal.com/profile" target="_self" class="i-ljuser-profile"><img class="i-ljuser-userhead" src="https://l-stat.livejournal.net/img/userinfo_v8.svg?v=17080?v=657"></a><a href="https://zolak.livejournal.com/" class="i-ljuser-username" target="_self"><b>zolak</b></a></span>) wrote in <span class="ljuser  i-ljuser  i-ljuser-type-C     " data-ljuser="lacinka" lj:user="lacinka"><a href="https://lacinka.livejournal.com/profile" target="_self" class="i-ljuser-profile"><img class="i-ljuser-userhead" src="https://l-stat.livejournal.net/img/community.gif?v=556?v=657"></a><a href="https://lacinka.livejournal.com/" class="i-ljuser-username" target="_self"><b>lacinka</b></a></span>, </span> </span> <br> <time class=" b-singlepost-author-date published dt-published "><a href="https://lacinka.livejournal.com/2006/" target="_self">2006</a>-<a href="https://lacinka.livejournal.com/2006/01/" target="_self">01</a>-<a href="https://lacinka.livejournal.com/2006/01/29/" target="_self">29</a> 11:40:00</time>   </div> <div class="b-singlepost-author-userinfo-print"> <span class=" b-singlepost-author-user fn p-name "> Zołak<br> <span class="ljuser  i-ljuser  i-ljuser-deleted  i-ljuser-type-P     " data-ljuser="zolak" lj:user="zolak"><a href="https://zolak.livejournal.com/profile" target="_self" class="i-ljuser-profile"><img class="i-ljuser-userhead" src="https://l-stat.livejournal.net/img/userinfo_v8.svg?v=17080?v=657"></a><a href="https://zolak.livejournal.com/" class="i-ljuser-username" target="_self"><b>zolak</b></a></span>  <br><span class="ljuser  i-ljuser  i-ljuser-type-C     " data-ljuser="lacinka" lj:user="lacinka"><a href="https://lacinka.livejournal.com/profile" target="_self" class="i-ljuser-profile"><img class="i-ljuser-userhead" src="https://l-stat.livejournal.net/img/community.gif?v=556?v=657"></a><a href="https://lacinka.livejournal.com/" class="i-ljuser-username" target="_self"><b>lacinka</b></a></span>  </span> <br> <time class=" b-singlepost-author-date published dt-published "><a href="https://lacinka.livejournal.com/2006/" target="_self">2006</a>-<a href="https://lacinka.livejournal.com/2006/01/" target="_self">01</a>-<a href="https://lacinka.livejournal.com/2006/01/29/" target="_self">29</a> 11:40:00</time> </div> </dd> </dl>  </div>    <div class="b-singlepost-wrapper">  <h1 class=" b-singlepost-title entry-title p-name " ng-non-bindable="">      Jak lohka i prosta pisać łacinkaj  </h1>  <div class="b-singlepost-bodywrapper">  <article class="b-singlepost-body entry-content e-content   ng-scope" lj-sale-entry="" lj-discovery-tags="" lj-embed-resizer=""> <b>Čas siamibitnaha ASCII daŭno minuŭ. Minuŭ i bolš nikoli nia vierniecca. Stupień vykarystańnia šmatbajtavych kadavańniaŭ znakaŭ pavialičvajecca z kožnym dniom. Heta robić mahčymym vykarystańnie alternytyŭnaj grafiki. I łacinki taksama.</b>
<p>
Doŭhi čas było niezrazumieła, jak roznyja razumnyja dziadźki pišuć łacinkaj, bo jany nikoli nie raskryvali svaich sakretaŭ. Nadyjšoŭ čas pahladzieć na vantroby tajamnicy. Vielmi chutka ty daviedaješsia, jak ža jany heta robiać, i što zdabyć symbali biełaruskaj łacinki našmat praściej, čym heta zdajecca niaŭzbrojenym mozgam. Usia sprava ŭ tym, što heta choć i prosta, ale nie zusim vidavočna. A voś zdabyvać łacinku my budziem pad Windows 2000/XP, jak pad najbolš raspaŭsiudžanyja i zručnyja dla hetaha systemy. Kali ŭ ciabie Windows 95/98, to raju adrazu ž pakinuć ideju pisać łacinkaj, bo narmalna tam rabić heta niemahčyma. I nienarmalna taksama. A kali ŭ ciabie lubaja inšaja systema, to, spadziajusia, tabie lohka budzie abahulnić pryviedzienyja tut idei.

</p><p>
Nasamreč, sposabaŭ šmat. Tamu prapanuju tabie ich, a tvaja zadača — vybrać najbolš zručny i prydatny. Pajechali!
</p><p>
<b>Sposab nul: kanvertavalnicki</b>
</p><p>
Našto łamać sabie hałavu, kali možna prosta napisać kirylicaj toje, što treba napisać łacinkaj, uziać jaki-niebudź <a target="_self">kanvertatar tekstu z kirylicy ŭ łacinku</a> i prosta pierahnać patrebny kavałak tekstu? Možna. Ale heta niecikava. Da taho ž, kali treba pisać łacinkaj čaściej za dva razy na hod, sposab robicca niazručnym. Tym bolš, kiryličnaj raskładki moža prosta nia być. I jašče adzin admoŭny momant: na siońniašni dzień nie isnuje ŭniversalnaha kanvertatara, jaki b nie naparoŭ pamyłak u jakoj-niebudź specyfičnaj kanstrukcyi, tamu paśla daviadziecca ŭsio praviarać uručnuju i vypraŭlać znojdzienyja pamyłki. Niachaj ich vielmi, vielmi niašmat, ale časam jany traplajucca. 
</p><p>
<b>Sposab adzin: tabličny</b>
</p><p>
Uklučaješ „Tablicu symbalaŭ” (Start › Run › „charmap”). Vybiraješ jaki-niebudź unicodeavy šryft (naprykład, Tahoma), a nabor symbalaŭ vyznačaješ jak „Unicode”. Paśladoŭna vyłučajučy patrebnyja symbali i naciskajučy „Vybrać” składaješ słova. Paśla ciśnieš „Kapijavać”, i składzienaje słova traplaje ŭ bufer abmienu. Ad hetaha momantu jaho možna ŭstavić u kožnuju pragramu praz Redagavańnie › Ustavić, abo prosta nacisnuŭšy Ctrl+V.
</p><p>
Taksama možna kapijavać z tablicy symbalaŭ nia ŭsie symbali, a tolki tyja, što majuć dyjakrytyčnyja znaki, a astatnija ŭvodzić z klavijatury. Heta nia tolki spraščaje ŭvod, ale i pryśpiešvaje jaho. 
</p><p>
<img src="https://imgprx.livejournal.net/80ef68588388c8a60ce137a58afc0cce9e95e46c/z7m_tdwcgtZYVcShh3Np9s1QPWXd6olygoBAXhgeyhtZdeUx1pR4UT5OBhobVaDQu6-7-VaKkvbrxWZlbDslzVojhjRH0gDuM0MzdJzOWZU" alt="sposab adzin: tabličny" border="0" width="447" height="510" loading="lazy">
</p><p>
<b>Sposab dva: aŭtazamienavy</b>
</p><p>
Dla hetaha spatrebicca MS Word. Chaj heta budzie Word XP. Filazofija nastupnaja: kali naciskaješ peŭnuju paśladoŭnaść klavišaŭ, Word jaje zamianiaje na inšuju. Skažam, chaj Word zamianiaje spałučeńni „s^” na „š”. Dla hetaha adkryvaješ akno Servis › Aŭtazamiena i dadaješ adpaviednaje praviła. I tak dla ŭsich litaraŭ łacinki, jakija niemahčyma ŭvieści z klavijatury. Symbali z dyjakrytyčnymi znakami možna kapijavać z „Tablicy symbalaŭ”. Registar litaraŭ Word karektuje aŭtamatyčna, tamu dastatkova ŭvodzić tolki praviły dla maleńkich litaraŭ. Varta zaznačyć, što dla kožnaj movy Word maje svoj słoŭnik aŭtazamieny. I praviły aŭtazamieny buduć pracavać tolki z tekstam toj movy, dla jakoj jany byli stvoranyja. Movu tekstu možna vyznačyć u dyjalogu Servis › Mova › Vyznačyć movu. Časam zamiena adbyvajecca nie adrazu: paśla ŭvodu nastupnaj litary abo paśla nacisku prahału. 
</p><p>
<img src="https://imgprx.livejournal.net/3ee3073f96f93cb86bde492c48665cbde4055327/z7m_tdwcgtZYVcShh3Np9s1QPWXd6olygoBAXhgeyhtZdeUx1pR4UT5OBhobVaDQu6-7-VaKkvbrxWZlbDslzTFWWiGKRttXNXXQXMw1_8I" alt="sposab dva: aŭtazamienavy" border="0" width="420" height="478" loading="lazy">
</p><p>
Taksama karystajučysia prahramaj MS Word možna ŭvodzić dyjakrytyčnyja znaki praz Ustavić › Symbal. Hety sposab vielmi padobny da pieršaha.
</p><p>
U inšuju pragramu tekst možna skapijavać, naprykład, praz bufer abmienu.
</p><p>
<b>Sposab dva z pałovaj: UniRedavy</b>
</p><p>
Pa sutnaści, heta taja samaja aŭtazamiena, ale sposab adroźnivajecca ad papiaredniaha tym, što realizujecca pry dapamozie nievialikaj biaspłatnaj pragramki UniRed. Apošniuju versiju pragramy možna ŭziać na staroncy <a href="http://www.sourceforge.net/projects/unired/" rel="nofollow" target="_self">http://www.sourceforge.net/projects/unired/</a>. Padrabiaznaja instrukcyja pa naładcy i vykarystańni łacinki ŭ pragramie pryviedjenaja ŭ <a target="_self">pieršakrynicach</a>. Da taho ž pieršyja siem punktaŭ raździełu „Padrychtoŭka” choć i zdajucca niezvyčajna składanymi, ich možna pračytać prosta dla aznajamleńnia, u tym liku i sa sposabami dadavańnia i redagavańnia ŭłasnych spałučeńniaŭ symbalaŭ.
</p><p>
<img src="https://imgprx.livejournal.net/d94f0097d1d8c99e0e8e13068eb66e190874a2b1/z7m_tdwcgtZYVcShh3Np9s1QPWXd6olygoBAXhgeyhtZdeUx1pR4UT5OBhobVaDQu6-7-VaKkvbrxWZlbDslzc_NjhRH8xWKDLBL5xsQpes" alt="sposab dva z pałovaj: juniredavy" border="0" width="435" height="328" loading="lazy">
</p><p>
<b>Sposab try: raskładkavy</b>
</p><p>
Ale jak pišuć narmalnyja ludzi? Naciskajuć na klavišu i atrymlivajuć litaru. I nijakich tablic, kapijavańniaŭ i kanvertavańniaŭ. Našto patrebnyja ŭsie hetyja vyčvareńni, kali možna prosta naciskać na klavišy?</p><p></p><p></p><p></p><p></p><p></p><p></p><p></p><p></p><p></p><p></p><p></p><p></p><p></p><p></p><p></p><p></p><p></p> 
<p>
Usio, što dla hetaha treba — raskładka klavijatury. I, jak ni dziŭna, jaje navat možna znajści. Pa adrasie <a href="http://www.zedlik.com/lacinka/pragramy/kbdbeltp/" rel="nofollow" target="_self">http://www.zedlik.com/lacinka/pragramy/kbdbeltp/</a> možna ŭziać raskładku biełaruskaj łacinki „Belarusian (Latin) Programmers”. Jana źjaŭlajecca zvarotna sumiaščalnaj z raskładkaj angielskaj movy, akramia dvuch akaličnaściaŭ: klavišy „`” i „~” źjaŭlajucca miortvymi, to bok pracujuć nastupnym čynam. Paśla nacisku na adnu z hetych klavišaŭ systema zapaminaje, jakaja klaviša była nacisnutaja, i čakaje nacisku nastupnaj. Spałučeńnie symbalaŭ, jakoje atrymajecca paśla nacisku dźviuch klavišaŭ, systema šukaje a admysłovaj tablicy symbalaŭ, jakaja adpaviadaje pieršaj nacisnutaj klavišy z pary. Peŭnym kambinacyjam adpaviadaje peŭnaja litara z dyjakrytyčnym znakam. Usie jany pryviedzienyja ŭ apisańni samoj raskładki. Kali spałučeńnie symbalaŭ u tablicy nia znojdziena, viartajucca abodva ŭviedzienyja symbali: toj, jaki adpaviadaje miortvaj klavišy, i toj, jaki adpaviadaje klavišy, nacisnutaj paśla jaje. Kab atrymać prosta symbal, jaki adpaviadaje miortvaj klavišy, treba paśla jejnaha nacisku nacisnuć na prahał. Litary biełaruskaj łacinki, jakija ŭtrymlivajuć dyjakrytyčnyja znaki, uvodziacca z vykarystańniem miortvych klavišaŭ. Choć na słovach heta vyhladaje składanym, u sapraŭdnaści ŭsio vielmi prosta. Dastatkova pierakanacca samomu.
</p><p>
Ale ŭ raskładcy praduhledžanyja dva sposaby ŭvodu litaraŭ, jakich nie chapaje na standartnaj klavijatury. Druhi sposab — adnačasovy nacisk spałučeńnia klavišaŭ AltGr i jakoj-niebudź jašče, jakoj adpaviadaje taja ci inšaja litara ci symbal. Schiemy pryviedzienyja ŭ apisańni raskładki.
</p><p>
Jašče adna alternatyŭnaja raskładka — <a href="http://www.zedlik.com/lacinka/pragramy/kbdbeltc/" rel="nofollow" target="_self">Belarusian (Latin) (Custom)</a> — maje litary biełaruskaj łacinki raźmieščanyja zamiest niačasta ŭžyvalnych symbalaŭ. Hetuju raskładku ŭžo našmat ciažej vykarystoŭvać u jakaści alternatyvy raskładcy angielskaj movy z mahčymaściu ŭvodu ŭsich litaraŭ biełaruskaj łacinki, ale choć heta zrabić i mahčyma, raskładka maje svaje plusy i minusy.
</p><p>
Takim čynam, kali ty vyrašyš spynicca na hetym sposabie ŭvodu litaraŭ, to možaš vybrać sabie raskładku pa svaim guście. Ustalavańnie raskładki ŭ systemu nie vyklikaje nijakich ciažkaściaŭ i padrabiazna raśpisanaje ŭ fajłach apisańnia, jakija možna znajści ŭ pakunku raskładki. A vykarystoŭvać jaje — jak i lubuju inšuju raskładku kłavijatury: naciskać na klavišy i atrymlivać vynik.

</p><p>
<b>Sposaby čatyry i piać</b>
</p><p>
Uvohule, pryviedzienaha tekstu ŭžo chopić, kab zrabić nialohki vybar. Ale jašče zastajucca dva varyjanty, jakija, biezumoŭna, možna vykarystoŭvać, ale stadyja ichnaj padrystoŭki da vykarystańnia krychu ciažejšaja za ŭsie razhledžanyja. Ale, mahčyma, tabie taksama varta ich pasprabavać.
</p><p>
Jość takaja fajnaja pragramka Parawin XP, jakaja paśla svajoj integracyi ŭ systemu dazvalaje stvarać ułasnyja raskładki, takija, jakija chočaš ty, ź lubymi znakami i symbalami. Nichto nie pieraškaždaje stvaryć sabie i raskładku dla łacinki. Adzinaja prablema — pragrama kamercyjnaja, i dzie jaje ŭziać ja nia viedaju. Tamu spasyłki nie pryvodžu.
</p><p>
I apošni sposab. Na staroncy <a href="http://www.pravapis.org/download_by.asp" rel="nofollow" target="_self">http://www.pravapis.org/download_by.asp</a> možna ŭziać jašče adnu raskładku łacinki dla Windows 2000/XP. Raskładka idzie ŭ vyhladzie dll-fajłu, jaki treba skapijavać u systemnuju tečku, abnavić śpis movaŭ u rejestry i dadać movu z novaj raskładkaj. Uvieś praces ustalavańnia padrabiazna raśpisany. Adzinaje, litary z dyjakrytyčnymi znakami raźmieščanyja na klavijatury nia vielmi lagična.
</p><p>

<b>Łyžka dziohciu</b>
</p><p>
Biezumoŭna, ŭsio heta było b vydatna, kali b nia toje, što na śviecie niama nivodnaha šyroka raspaŭsiudžanaha adnabajtavaha kadavańnia, jakoje b utrymlivała ŭsie litary biełaruskaj łacinki. A voś tut pačynajucca prablemy. Prablemy z tym, što chacia pierachod na Unicode na ŭzroŭni aperacyjnaj systemy adbyŭsia, jašče isnuje šerah pragramaŭ, nie raźličanych na šmatbajtavyja kadavańni. Mahu skazać, što vykarystoŭvać łacinku tam budzie prosta niemahčyma. Dobra toje, što papularnych siarod takich pragramaŭ vielmi mała. Ź inšaha boku, peŭnyja pragramy, jakija deklarujuć i padtrymlivajuć šmatbajtavyja kadavańni na ŭzroŭni kodu, nasamreč vykarystoŭvajuć sposab uvodu, jaki zaležyć ad kadavańnia. Adnabajtavaha kadavańnia, jakoje adpaviadaje peŭnaj movie. I heta ŭ pieršuju čarhu prablema mienavita kadavańniaŭ. Choć pragrama maje unicodeavy interface z boku kodu i vykarystoŭvajecca unicodeavy sposab uvodu, usie pieravahi Unicode hublajucca pry vykarystańni movazaležnaha ŭvodu. Symbali, adsutnyja ad symbalaŭ movy ŭvodu, ŭvieści pry dapamozie raskładki prosta niemahčyma. Ale byŭ vyjaŭleny sposab, jaki dazvalaje ŭ bolšaści vypadkaŭ abyjści heta abmiežavańnie. Kali patrebny tekst napisać u jakoj-niebudź pragramie, dzie Unicode całkam padtrymlivajecca (skažam, Notepad abo Word), a paśla skapijavać jaho praz bufer abmienu ŭ takuju pragramu, to tekst budzie pieradadzieny biez skažeńniaŭ.
</p><p>
Ja nia budu pryvodzić nazvy hetych pragramaŭ. Jany jość, i pra heta prosta treba viedać. Luboje nieadekvatnaje ŭsprymańnie łacinki jakoj-niebudź pragramaj — heta ŭ bolšaj stupieni prablema z apracoŭkaj Unicode ŭ hetaj pragramie. Pragramy abnaŭlajucca i pierapracoŭvajecca. I ŭsio idzie da taho, što karystacca lubym interfacem budzie adnolkava zručna: łacinkaj, kirylicaj ci arabicaj.
</p><p>
<b>Update ad 25 śniežnia 2006</b>
</p><p>
Z raskładkaj „Belarusian (Latin) Programmers” była zaŭvažanaja adna cikavaja akaličnaść. Pieršapačatkova jana technična hruntavałasia na biełaruskaj movie i ŭ systemu staviłasia jak dadatkovaja raskładka biełaruskaj. Ale kali pierakanać raskładku, što jana nasamreč źjaŭlajecca raskładkaj adnoj z centralnaeŭrapiejskich movaŭ, i, adpaviedna, pastavić u systemu pad adnoj z takich movaŭ (a heta vuhorskaja, polskaja, rumynskaja, słavienskaja, serbskaja łacina, charvackaja abo českaja), raskładka pačynaje vydatna pracavać u bolšaści prahramaŭ, jakija dahetul jaje nie razumieli. Prablema ŭźnikaje chiba što tolki ź litaraj «ŭ», zamiest jakoj možna vykarystoŭvać litaru «ú». Vialiki krok napierad, chacia prablemy jašče całkam nia vyklučanyja. Raskładka abnoŭlenaja da versii 1.1, ale dla jaje ŭstalavańnia ŭ systemu patrebna vydalić papiaredniuju versiju. 
</p><p>
Vialiki dziakuj <a href="http://www.nrm.art.pl" rel="nofollow" target="_self">Macieku Królu</a>, jaki heta zaŭvažyŭ.
</p><p>
j.Zedlik, <a href="http://www.zedlik.com/" rel="nofollow" target="_self">www.zedlik.com</a></p><p></p><p></p><p></p><p></p><p></p><p></p><p></p><p></p><p></p><p></p><p></p><p></p><p></p><p></p>



<br clear="all">

<p></p><a href="http://my.opera.com/lacinka/blog/show.dml/126134" rel="nofollow" target="_self">Čytaj dalej</a><div align="right"><small><a href="http://hiero.ru/rss2lj/" rel="nofollow" target="_self">rss2lj</a></small></div>  </article>   </div>    </div> <div class="b-singlepost-video-wrap"> <div data-autoplay-dockable-video-mount=""></div> </div>
<div id="comments" class="b-grove" data-authtoken="c0:1682874000:227:86400:zVI6PaidfV-0-:0c8729a05d35d2d0e5bde6dd22ff02f7"> <div class=" b-xylem  b-xylem-first  "> <ul class="b-xylem-cells">  <li class=" b-xylem-cell b-xylem-cell-amount ">   <span class="js-amount">  3 comments  </span>   </li>  </ul>  </div> <div class=" b-massaction-top ">  </div>    <div class=" b-tree b-tree-best ">  </div> <div class=" b-tree b-tree-promo " data-currentprice="">  </div>  <div class=" b-tree b-tree-root svgpreloader svgpreloader-pseudo svgpreloader-30 "><div class=" b-tree-twig  b-tree-twig-1 b-tree-twig-deep-0  " style="margin-left: 0px" data-tid="t148560">    <div id="t148560" class=" b-leaf            b-leaf-full   comment p-comment " data-username="fevra" data-displayname="fevra" data-updated-ts="1138547264" data-full="1"> <div class=" b-leaf-inner svgpreloader svgpreloader-pseudo svgpreloader-16 "> <div class="b-leaf-header"> <div class="b-leaf-userpic"> <a href="https://fevra.livejournal.com/" target="_blank" class="b-leaf-userpic-inner" lj:user="fevra">   <img src="https://l-userpic.livejournal.com/99890630/952960" alt="fevra" loading="lazy" title="The Eerie: Type O Negative">  </a> </div> <div class="b-leaf-details">   <p class="b-leaf-username"><span class="b-leaf-username-name"><span class="ljuser  i-ljuser  i-ljuser-type-P     " data-ljuser="fevra" lj:user="fevra"><a href="https://fevra.livejournal.com/profile" class="i-ljuser-profile" target="_self"><img class="i-ljuser-userhead" src="https://l-stat.livejournal.net/img/userinfo_v8.svg?v=17080?v=657"></a><a href="https://fevra.livejournal.com/" class="i-ljuser-username" target="_self"><b>fevra</b></a></span> </span>  </p> <p class="b-leaf-meta">  <a href="https://lacinka.livejournal.com/23376.html?thread=148560#t148560" class="b-leaf-permalink" target="_self"> <span class="b-leaf-createdtime">January 29 2006, 15:07:44 UTC</span> </a>   <span class="b-leaf-shorttime">17 years ago</span>   </p>   </ul>        </div> </div>  <div class="b-leaf-article"> дзякуй, будзем разьбірацца з „Belarusian (Latin) Programmers” </div>   </div> </div>    </div><div class=" b-tree-twig  b-tree-twig-1 b-tree-twig-deep-0  " style="margin-left: 0px" data-tid="t151632">    <div id="t151632" class=" b-leaf            b-leaf-full   comment p-comment " data-username="juras14" data-displayname="juras14" data-updated-ts="1138646398" data-full="1"> <div class=" b-leaf-inner svgpreloader svgpreloader-pseudo svgpreloader-16 "> <div class="b-leaf-header"> <div class="b-leaf-userpic"> <a href="https://juras14.livejournal.com/" target="_blank" class="b-leaf-userpic-inner" lj:user="juras14">   <img src="https://l-userpic.livejournal.com/35562195/1515112" alt="juras14" loading="lazy" title="Юрась Міхед: Юзерпик">  </a> </div> <div class="b-leaf-details">   <p class="b-leaf-username"><span class="b-leaf-username-name"><span class="ljuser  i-ljuser  i-ljuser-type-P     " data-ljuser="juras14" lj:user="juras14"><a href="https://juras14.livejournal.com/profile" class="i-ljuser-profile" target="_self"><img class="i-ljuser-userhead" src="https://l-stat.livejournal.net/img/userinfo_v8.svg?v=17080?v=657"></a><a href="https://juras14.livejournal.com/" class="i-ljuser-username" target="_self"><b>juras14</b></a></span> </span>  </p> <p class="b-leaf-meta">  <a href="https://lacinka.livejournal.com/23376.html?thread=151632#t151632" class="b-leaf-permalink" target="_self"> <span class="b-leaf-createdtime">January 30 2006, 18:39:58 UTC</span> </a>   <span class="b-leaf-shorttime">17 years ago</span>   </p>   </ul>        </div> </div>  <div class="b-leaf-article"> Ale ž veb-staronki my pa-raniejšamu zvyčajna robim vaśmibitnaj kadyroŭkaj. I heta, mnie zdajecca, technična značna praściej za ŭnikod. I mieśca mienš treba. </div>   </div> </div>    </div><div class=" b-tree-twig  b-tree-twig-2 b-tree-twig-deep-0  " style="margin-left: 30px" data-tid="t152144">    <div id="t152144" class=" b-leaf        b-leaf-poster      b-leaf-full   comment p-comment " data-username="zolak" data-displayname="zolak" data-updated-ts="1138694024" data-full="1"> <div class=" b-leaf-inner svgpreloader svgpreloader-pseudo svgpreloader-16 "> <div class="b-leaf-header"> <div class="b-leaf-userpic"> <a href="https://zolak.livejournal.com/" target="_blank" class="b-leaf-userpic-inner" lj:user="zolak">   <img src="https://l-stat.livejournal.net/img/userpics/userpic-user.png?v=15821" alt="zolak" loading="lazy">  </a> </div> <div class="b-leaf-details">   <p class="b-leaf-username"><span class="b-leaf-username-name"><span class="ljuser  i-ljuser  i-ljuser-deleted  i-ljuser-type-P     " data-ljuser="zolak" lj:user="zolak"><a href="https://zolak.livejournal.com/profile" class="i-ljuser-profile" target="_self"><img class="i-ljuser-userhead" src="https://l-stat.livejournal.net/img/userinfo_v8.svg?v=17080?v=657"></a><a href="https://zolak.livejournal.com/" class="i-ljuser-username" target="_self"><b>zolak</b></a></span> </span>  </p> <p class="b-leaf-meta">  <a href="https://lacinka.livejournal.com/23376.html?thread=152144#t152144" class="b-leaf-permalink" target="_self"> <span class="b-leaf-createdtime">January 31 2006, 07:53:44 UTC</span> </a>   <span class="b-leaf-shorttime">17 years ago</span>   </p>   </ul>        </div> </div>  <div class="b-leaf-article"> Nu, pra aščadnaść miesca siońnia ja b užo nie kazaŭ. Kali kaliści na sajt davali 1MB, ja razumieju, što treba było ličyc kožny bit, ale sionnia možna spakojna karystacca unicode. A voś ci praściej technična?  </div>   </div> </div>    </div></div>     <div prev-next-nav=""></div> <div suggestion-for-unlogged="" class="ng-isolate-scope"><!-- ngIf: directive.isBlockVisible --></div>   </div>         