---
id: 23767
layout: page
date: 2022-10-16
---


<!-- s-body -->
        <div class="s-body">

            <!-- use header -->
            <!-- /use header -->

            <!-- Content -->
             <article class="b-singlepost hentry h-entry js-emojis  b-singlepost-mobileadaptive  b-singlepost-withbodybanner  ng-scope" role="main" ng-app="Entry"> <div class="b-singlepost-qrcode  ng-isolate-scope" lj-qrcode="https://lacinka.livejournal.com/23767.html" lj-qrcode-width="70" lj-qrcode-height="70"> <canvas width="70" height="70"></canvas></div> <div class="b-singlepost-about"> <dl class=" b-singlepost-author author vcard p-author h-card " ng-non-bindable=""> <dt class=" b-singlepost-author-userpic photo u-photo " lj:user="zolak">  <img src="https://l-userpic.livejournal.com/56724982/707281" width="" height="" align="absmiddle" title="Zołak: pic#56724982" alt="">  </dt> <dd class="b-singlepost-author-userinfo"> <div class="b-singlepost-author-userinfo-screen"> <span class=" b-singlepost-author-user fn p-name "> <span class="b-singlepost-author-user-screen"> Zołak (<span class="ljuser  i-ljuser  i-ljuser-deleted  i-ljuser-type-P     " data-ljuser="zolak" lj:user="zolak"><a href="https://zolak.livejournal.com/profile" target="_self" class="i-ljuser-profile"><img class="i-ljuser-userhead" src="https://l-stat.livejournal.net/img/userinfo_v8.svg?v=17080?v=657"></a><a href="https://zolak.livejournal.com/" class="i-ljuser-username" target="_self"><b>zolak</b></a></span>) wrote in <span class="ljuser  i-ljuser  i-ljuser-type-C     " data-ljuser="lacinka" lj:user="lacinka"><a href="https://lacinka.livejournal.com/profile" target="_self" class="i-ljuser-profile"><img class="i-ljuser-userhead" src="https://l-stat.livejournal.net/img/community.gif?v=556?v=657"></a><a href="https://lacinka.livejournal.com/" class="i-ljuser-username" target="_self"><b>lacinka</b></a></span>, </span> </span> <br> <time class=" b-singlepost-author-date published dt-published "><a href="https://lacinka.livejournal.com/2006/" target="_self">2006</a>-<a href="https://lacinka.livejournal.com/2006/01/" target="_self">01</a>-<a href="https://lacinka.livejournal.com/2006/01/29/" target="_self">29</a> 11:40:00</time>   </div> <div class="b-singlepost-author-userinfo-print"> <span class=" b-singlepost-author-user fn p-name "> Zołak<br> <span class="ljuser  i-ljuser  i-ljuser-deleted  i-ljuser-type-P     " data-ljuser="zolak" lj:user="zolak"><a href="https://zolak.livejournal.com/profile" target="_self" class="i-ljuser-profile"><img class="i-ljuser-userhead" src="https://l-stat.livejournal.net/img/userinfo_v8.svg?v=17080?v=657"></a><a href="https://zolak.livejournal.com/" class="i-ljuser-username" target="_self"><b>zolak</b></a></span>  <br><span class="ljuser  i-ljuser  i-ljuser-type-C     " data-ljuser="lacinka" lj:user="lacinka"><a href="https://lacinka.livejournal.com/profile" target="_self" class="i-ljuser-profile"><img class="i-ljuser-userhead" src="https://l-stat.livejournal.net/img/community.gif?v=556?v=657"></a><a href="https://lacinka.livejournal.com/" class="i-ljuser-username" target="_self"><b>lacinka</b></a></span>  </span> <br> <time class=" b-singlepost-author-date published dt-published "><a href="https://lacinka.livejournal.com/2006/" target="_self">2006</a>-<a href="https://lacinka.livejournal.com/2006/01/" target="_self">01</a>-<a href="https://lacinka.livejournal.com/2006/01/29/" target="_self">29</a> 11:40:00</time> </div> </dd> </dl>  </div>    <div class="b-singlepost-wrapper">  <h1 class=" b-singlepost-title entry-title p-name " ng-non-bindable="">      Pišam łacinkaj z UniRedam  </h1>  <div class="b-singlepost-bodywrapper">  <article class="b-singlepost-body entry-content e-content   ng-scope" lj-sale-entry="" lj-discovery-tags="" lj-embed-resizer=""> <a name="cutid1" target="_self"></a>Nie abaviazkova instalavać u kamputary dadatkovyja klavijaturnyja raskładki. Možna karystacca vydatnaj prahramaj Unired i apisanymi u nas paradami.<br><br>

Aŭtar hetaha karotkaha artykułu krok za krokam tłumačyć jak "vydabyć" łacinku z papularnaha redaktara Unired.

<h3>Padrychtoŭka</h3>
<ol>
<li>Zahruzić redaktar <a href="http://sourceforge.net/projects/unired" rel="nofollow" target="_self">UniRed</a></li>
<li>Zainstalavać jaho</li>
<li>Adčynić fajł <tt>&lt;UniRed-install-folder&gt;/ini/<b>subst.ini</b></tt> (nie ŭ samim UniRedzie!)</li>
<li>Pahladzieć u sekcyju z nazvaj <b>[by]</b>. Tam možna ŭbačyć takija roŭnaści: 

<code>
C` = Č

c` = č

Č` = C`

č' = c`

</code>
Heta aznačaje: 

 kali nacisnuć <kbd>c</kbd> a zatym <kbd>`</kbd> — budzie napisanaja litara <kbd>č</kbd>
 
 kali nacisnuć <kbd>c</kbd>, <kbd>`</kbd> (ubačym <kbd>č</kbd>) i znoŭ nacisnuć <kbd>`</kbd> — budzie napisanaja <kbd>C`</kbd> — to bok paŭtorny ŭvod madyfikacyjnaj klavišy admianiaje madyfikacyju i źmiaščaje asnoŭny symbal. 
 
 Toje samaje vierna j dla vialikich litaraŭ. </li>
 <li>Hatovyja madyfikacyji (pastaŭlajucca ź instalacyjaj UniRed):

 <table border="0" cellpadding="5">
 <tbody><tr>  <td>c`</td> <td>č</td>  </tr>
 <tr>  <td>c'</td> <td>ć</td>  </tr>
 <tr>  <td>l'</td> <td>ł</td>  </tr>
 <tr>  <td>n'</td> <td>ń</td>  </tr>
 <tr>  <td>s`</td> <td>š</td>  </tr>
 <tr>  <td>s'</td> <td>ś</td>  </tr>
 <tr>  <td>u'</td> <td>ŭ</td>  </tr>
 <tr>  <td>z`</td> <td>ž</td>  </tr>
 <tr>  <td>z'</td> <td>ź</td>  </tr>
 </tbody></table> </li>
<li> Vy možacie źmianić ich (vybrać inšyja klavišy madyfikacyji), dadać novyja ci vydalić niepatrebnyja. Naprykład, dla biełaruskaj łacinki vielmi zručna było b uvieści nastupnyja:

 <kbd>nni</kbd> = <kbd>ńni</kbd>, <kbd>au</kbd> = <kbd>aŭ</kbd>, <kbd>cz</kbd> = <kbd>č</kbd>, ihd. 

 Padobnym čynam mahčyma stvaryć sekcyji (abo žmiaścić u biełaruskaj, kali nia buduć kanfliktavać kambinacyji) dla inšych moŭ i zapisać tam madyfikacyji dla nabora specyjalnych litaraŭ, jak <kbd>ą</kbd> dla polskaj, ci <kbd>ų</kbd> dla litoŭskaj. Karysna prahladzieć užo zroblenyja zamieny, napr. <kbd>---</kbd> = <kbd>—</kbd>, <kbd>&lt;&lt;</kbd> = <kbd>«</kbd>, ihd. 
 </li>
 <li>Zachavajcie fajł <b>subst.ini</b></li>
 <li>Uklučycie redaktar UniRed. U menu <tt>Options  File settings...</tt> abiarycie niejki typ fajłaŭ (albo ŭsie typy = <b>*</b>), na zakładcy <tt>Keyboard</tt>, u hrupie <tt>Groups of substitution</tt> pastaŭcie "ptušku" kala varyjantu <b>by</b>. </li>
 <li>Zachavajcie źmieny — naciśnicie <tt>Ok</tt>, začynicie redaktar.</li>
</ol>

<h3>Užyvańnie</h3>
<ol>
<li>Uklučyć redaktar</li>
<li>Adčynić fajł z typam, dla jakoha Vy naładzili biełaruskuju łacinku.</li>
<li>Dla napisańnia dyjakrytyčnych znakaŭ treba naciskać asnoŭnuju klavišu i adrazu paśla jaje — madyfikacyjnuju, napr. <kbd>C</kbd> i <kbd>'</kbd>. Kali ŭ hetym vypadku na ekranie nie zjavicca litara <kbd>Ć</kbd>, značyć Vy niešta nia tak naładzili (hl. <a href="#padrycht" rel="nofollow" target="_self">Padrychtoŭka</a>), abo biahučy šryft nia maje patrebnaha ŭnikodnaha symbalu.</li>
<li>Atrymany tekst možna skapijavać u padručnuju pamiać kamputara (clipboard) albo zachavać jak fajł. Pry hetym varta vybrać adpaviednaje kadavańnie, u jakoj prysutničajuć adpaviednyja znaki, rekamendujecca ŭžyvać kadyroŭku <b>utf-8</b> (ci inšuju unikodnuju). </li>
</ol>
<br><br>
<b>Taksama dastupny:</b> 
<a target="_self">biełaruski łacinkavy interfejs dla prahramy Unired</a>.



<br clear="all">

<p></p><a href="http://my.opera.com/lacinka/blog/show.dml/126206" rel="nofollow" target="_self">Čytaj dalej</a><div align="right"><small><a href="http://hiero.ru/rss2lj/" rel="nofollow" target="_self">rss2lj</a></small></div><a name="cutid1-end" target="_self"></a>  </article>   </div>    </div> <div class="b-singlepost-video-wrap"> <div data-autoplay-dockable-video-mount=""></div> </div>
<div id="comments" class="b-grove  b-grove-3comments" data-authtoken="c0:1682874000:228:86400:Tkwnomx2kB-0-:7840671ccfa3620c03dcdb52305ee519"> <div class=" b-xylem  b-xylem-first  "> <ul class="b-xylem-cells">  <li class=" b-xylem-cell b-xylem-cell-amount ">   <span class="js-amount">  0 comments  </span>   </li>  </ul>  </div> <div class=" b-massaction-top ">  </div>    <div class=" b-tree b-tree-best ">  </div> <div class=" b-tree b-tree-promo " data-currentprice="">  </div>  <div class=" b-tree b-tree-root svgpreloader svgpreloader-pseudo svgpreloader-30 "></div>     <div prev-next-nav=""></div> <div suggestion-for-unlogged="" class="ng-isolate-scope"><!-- ngIf: directive.isBlockVisible --></div>   </div>         