---
id: 24020
layout: page
date: 2022-10-16
---


<!-- s-body -->
        <div class="s-body">

            <!-- use header -->
            <!-- /use header -->

            <!-- Content -->
             <article class="b-singlepost hentry h-entry js-emojis  b-singlepost-mobileadaptive  b-singlepost-withbodybanner  ng-scope" role="main" ng-app="Entry"> <div class="b-singlepost-qrcode  ng-isolate-scope" lj-qrcode="https://lacinka.livejournal.com/24020.html" lj-qrcode-width="70" lj-qrcode-height="70"> <canvas width="70" height="70"></canvas></div> <div class="b-singlepost-about"> <dl class=" b-singlepost-author author vcard p-author h-card " ng-non-bindable=""> <dt class=" b-singlepost-author-userpic photo u-photo " lj:user="zolak">  <img src="https://l-userpic.livejournal.com/56724982/707281" width="" height="" align="absmiddle" title="Zołak: pic#56724982" alt="">  </dt> <dd class="b-singlepost-author-userinfo"> <div class="b-singlepost-author-userinfo-screen"> <span class=" b-singlepost-author-user fn p-name "> <span class="b-singlepost-author-user-screen"> Zołak (<span class="ljuser  i-ljuser  i-ljuser-deleted  i-ljuser-type-P     " data-ljuser="zolak" lj:user="zolak"><a href="https://zolak.livejournal.com/profile" target="_self" class="i-ljuser-profile"><img class="i-ljuser-userhead" src="https://l-stat.livejournal.net/img/userinfo_v8.svg?v=17080?v=657"></a><a href="https://zolak.livejournal.com/" class="i-ljuser-username" target="_self"><b>zolak</b></a></span>) wrote in <span class="ljuser  i-ljuser  i-ljuser-type-C     " data-ljuser="lacinka" lj:user="lacinka"><a href="https://lacinka.livejournal.com/profile" target="_self" class="i-ljuser-profile"><img class="i-ljuser-userhead" src="https://l-stat.livejournal.net/img/community.gif?v=556?v=657"></a><a href="https://lacinka.livejournal.com/" class="i-ljuser-username" target="_self"><b>lacinka</b></a></span>, </span> </span> <br> <time class=" b-singlepost-author-date published dt-published "><a href="https://lacinka.livejournal.com/2006/" target="_self">2006</a>-<a href="https://lacinka.livejournal.com/2006/01/" target="_self">01</a>-<a href="https://lacinka.livejournal.com/2006/01/29/" target="_self">29</a> 11:40:00</time>   </div> <div class="b-singlepost-author-userinfo-print"> <span class=" b-singlepost-author-user fn p-name "> Zołak<br> <span class="ljuser  i-ljuser  i-ljuser-deleted  i-ljuser-type-P     " data-ljuser="zolak" lj:user="zolak"><a href="https://zolak.livejournal.com/profile" target="_self" class="i-ljuser-profile"><img class="i-ljuser-userhead" src="https://l-stat.livejournal.net/img/userinfo_v8.svg?v=17080?v=657"></a><a href="https://zolak.livejournal.com/" class="i-ljuser-username" target="_self"><b>zolak</b></a></span>  <br><span class="ljuser  i-ljuser  i-ljuser-type-C     " data-ljuser="lacinka" lj:user="lacinka"><a href="https://lacinka.livejournal.com/profile" target="_self" class="i-ljuser-profile"><img class="i-ljuser-userhead" src="https://l-stat.livejournal.net/img/community.gif?v=556?v=657"></a><a href="https://lacinka.livejournal.com/" class="i-ljuser-username" target="_self"><b>lacinka</b></a></span>  </span> <br> <time class=" b-singlepost-author-date published dt-published "><a href="https://lacinka.livejournal.com/2006/" target="_self">2006</a>-<a href="https://lacinka.livejournal.com/2006/01/" target="_self">01</a>-<a href="https://lacinka.livejournal.com/2006/01/29/" target="_self">29</a> 11:40:00</time> </div> </dd> </dl>  </div>    <div class="b-singlepost-wrapper">  <h1 class=" b-singlepost-title entry-title p-name " ng-non-bindable="">      Łacinizatary ŭ siecivie  </h1>  <div class="b-singlepost-bodywrapper">  <article class="b-singlepost-body entry-content e-content   ng-scope" lj-sale-entry="" lj-discovery-tags="" lj-embed-resizer=""> <a name="cutid1" target="_self"></a>Całkam zrazumiełym i lahičnym źjaŭlajecca imknieńnie čałavieka  
spraścić sabie žyćcio. U svoj čas pragramisty darvalisia da łacinki i adrazu  
zrazumieli, što farmalna jana ad kirylicy adroźnivajecca  
chiba što tolki symbalami. Zrazumieli i adrazu stvaryli novuju  
prahramu &amp;mdash; pieršy łacinizatar.

Skazać, jakaja mienavita prahrama była pieršaj, ciažka, bo ŭ lubym vypadku znojdziecca  
aŭtar, jaki zakryčyć: «A ja jašče ŭ šaścidziasiatyja na  
perfakartach łacinizatary muciŭ». Mahčyma, tamu nia budziem  
vyśviatlać, chto byŭ pieršym, a zirniem na fakty, i paraŭnajem dastupnyja siońnia łacinizatary.<br><br> Kanvertataraŭ z kirylicy ŭ łacinku zaraz raźviałosia stolki,        
što vyłučyć adzin najlepšy z proćmy astatnich, nie pasprabavaŭšy        
karystacca kožnym, nadzvyčaj ciažka. Heta i źjaviłasia padstavaj        
dla praviadzieńnia adnosnaha paraŭnańnia łacinizataraŭ,        
dastupnych siońnia karystalniku. Takim čynam, u siońniašnim        
drive-teście udzieł biaruć: Biełazar&amp;nbsp;v3.6.2.2015,        
CyrLat-HTML&amp;nbsp;v1.1, Cyr/Lat Converter&amp;nbsp;v1.10, Cyr2Lat, kirlat,        
Moŭny Kanvertar&amp;nbsp;v2.3 i Kir2Lac&amp;nbsp;v2.0.2. Akramia hetaha        
makrasy dla Microsoft Word cyrlat i word2000, a taksama try        
online-łacinizatary.<br><br>


<b>Dva słovy pra abstalavańnie i praces testavańnia</b><br><br>

Testavańnie pravodziłasia na angielskaj WinXP Pro z        
vykarystańniem kodavaj tablicy windows-1251 dla nieunicodeavych        
prahramaŭ. Kanvertavałasia apovieść V.Bykava        
«Vaŭčynaja jama»&amp;nbsp;(130Kb).       
Rejtyng vyličaŭsia jak siaredniaja arytmetyčnaja punktaŭ,        
atrymanych łacinizataram za interfejs, chutkaść pracy, jakaść        
kanvertavańnia, najaŭnaść dadatkovych mahčymaściaŭ i        
zručnaść karystańnia vynikam pracy prahramy. Punkty        
adnosnyja i pryviedzienyja mienavita ŭ takoj paśladoŭnaści.        
Aceńvałasia tolki častka prahramy, źviazanaja z łacinizavańniem        
kiryličnaha tekstu. 

{mospagebreak title= Prahramy }<h3>Prahramy</h3>     

<b>Biełazar</b> v3.6.2.2015<br>       
Aŭtar: Aleh Azaroŭski<br>       
Staronka prahramy: <a href="http://belazar.belinter.net" rel="nofollow" target="_self">belazar.belinter.net</a><br>       
Pamier: 1,9Mb (razam sa słoŭnikam)<br><br>       
<a href="http://lacinka.org/images/stories/prylady/belazar.gif" rel="nofollow" target="_self"><img border="0" src="https://imgprx.livejournal.net/6f3b6bf796cd29f97f48e110f9c6094a384f8ff9/_BmJ-_PiITYxefOer96UMO3h2kUyPurD6npEEq5rhNEqVPIHoEtyPfEqeKq-V_fnaWnBAuiMzQqgVQPVE4yJR_k8d_wvV__bYcnJOGDDDN4" width="432" height="405" loading="lazy"></a>
<br><br>

Taki svojeasablivy kambajn, pra jaki ŭžo chodziać lehiendy.        
Niekatoryja ź jahonaj dapamohaj pišuć teksty svaich tvoraŭ, inšyja ž        
prosta abmiažoŭvajucca funkcyjaj pierakładu. I choć pierakład hety       
jašče nia vielmi daskanały, u apošnich versijach prahramy       
źjaviłasia funkcyja ekspartu ŭ łacinku, a mienavita jana nas        
jakraz i cikavić. prahrama moža zachoŭvać łacinku ŭ        
kadyroŭcy cp-1257 i ŭ farmacie HTML Unicode. U pieršym        
vypadku apovieść była kanvertavanaja ŭ łacinku za 1 sekundu,        
u druhim vypadku &amp;mdash; za 54 sekundy. Ale jakaść        
kanvertavańnia vielmi nizkaja: słova «вераб'і»        
kanvertujecca ŭ «vierab'i» u toj čas, kali apostrafa        
ŭ łacincy ŭvohule nie isnuje, «у&amp;nbsp;Балёньі» &amp;mdash;        
u&amp;nbsp;«u&amp;nbsp;Balońi», «Заслаўе»        
pierajšło ŭ&amp;nbsp;«Zasłaŭie».       
Fajna, što słova «ЯНКА» było łacinizavanaje ŭ        
«JANKA».       
Litara «g» uźnikaje ŭ vynikovym tekście ŭ tych i        
tolki tych vypadkach, kali prahrama sustrenie spałučeńnie litaraŭ        
«зг», što vielmi drenna, bo bolšaja častka        
«g» zastaniecca nieraspaznanaj, a taksama prahrama        
naŭtykaje lišnich «g» u słovach, dzie druhaja litara ŭ        
spałučeńni «зг» źjaŭlajecca frykatyŭnym hukam:        
naprykład, u spałučeńniach korania z prystaŭkaj. prahrama całkam        
ihnaruje litaru «ґ» i pieradaje jaje ŭ łacinku biez        
anijakich źmienaŭ.       
Było b dobra pry najaŭnaści ekspartu ŭ kadavańni HTML Unicode        
zrabić mahčymaść aŭtamatyčnaj ustaŭki HTML-farmatavańnia,        
prynamsi pieranosu na novy radok.       
Nia moža pracavać biez ustaloŭki, što taksama nie źjaŭlajecca        
plusam prahramy.<br>       
Rejtyng: 4.4 (8/2/2/5/5)       
<br><br>

<b>CyrLat-HTML</b> v1.1<br>       
Aŭtar: Źm. Hulecki<br>       
Staronka prahramy: <a href="http://www.geocities.com/belarus_coins/cyrlat.html" rel="nofollow" target="_self">www.geocities.com/belarus_coins/cyrlat.h<wbr>tml</a><br>       
Pamier: 1,1Mb (542Kb va ŭstalovačnym archivie)<br><br>       
<img border="0" src="https://imgprx.livejournal.net/4c6c7070f53ca6891f1527442f6febc48dd5d98f/_BmJ-_PiITYxefOer96UMO3h2kUyPurD6npEEq5rhNEqVPIHoEtyPfEqeKq-V_fnK_ThCePteBXX_6wVSw-K-PBF6nyCxQ4lL_l--ikC_lk" width="465" height="201" loading="lazy">
<br><br>

Prahrama, jak heta zrazumieła z nazvy pryznačanaja tolki dla        
kanvertavańnia kirylicy ŭ łacinku i zachavańnia vyniku ŭ vyhladzie        
HTML-staronki ŭ adpaviednym kadavańni. Moža kanvertavać tekst        
jak sa źniešniaha fajłu, tak i z admysłovaha pola, kudy jaho treba        
ŭvodzić. Apovieść z fajła kanvertavałasia krychu mienš za 3        
sekundy, z ekranu &amp;mdash; za 7. Adrazu kidajecca ŭ vočy, što        
prahrama zamiest litary «ŭ» uparta        
vykarystoŭvaje «ū»,        
choć u biełaruskaj łacincy vykarystoŭvajecca pieršaja, a Unicode        
dazvalaje vykarystoŭvać lubuju. Taksama nia vielmi spadabałasia,        
što praces ekspartu tekstu z pola na ekranie prahrama robić        
niapravilna z-za čaho ŭźnikajuć dadatkovyja pieranosy radkoŭ.        
Pra HTML-tagi prahrama taksama ničoha nia viedaje. Aproč taho,        
«вераб'і» byli pieratvoranyja ŭ «vierabi»,        
«у&amp;nbsp;Балёньі» &amp;mdash; va «u&amp;nbsp;Balońi»,        
«зь Я.Чачотам» pieratvaryłasia ŭ        
«ź JA. Čačotam» &amp;mdash; prablemy z        
registram litaraŭ. Cikava jašče toje, što słova        
«функцыі» prahrama kanvertuje ŭ        
«funkcyji», a «у&amp;nbsp;Заслаўі» &amp;mdash; u        
«u&amp;nbsp;Zasłaūi», choć praviła tut        
adno i toje ž. <br>       
/* Tut varta zaznačyć, što zaraz suisnujuć dva najbolš        
raspaŭsiudžanyja varyjanty klasyčnaj łacinki: taja, dzie huk [ji]        
pieradajecca jak «i» i taja, dzie jon pieradajecca jak        
«ji». Bolšaść łacinizataraŭ pabudavanyja pad pieršy        
varyjant, a hety, vidać, &amp;mdash; pad druhi. Uvohule, kali nie        
skazana advarotnaha, treba ličyć, što kanvertatar vykarystoŭvaje        
pieršy varyjant łacinki. */<br>       
Słova «ЯНКА» tut taksama kanvertujecca ŭ        
«JANKA», što niesumnienna źjaŭlajecca plusam.<br>       
Rejtyng: 5.8 (8/9/4/1/7)       
<br><br>
 
<b>Cyr/Lat Converter</b> v1.10<br>       
Aŭtar: Viktar Aŭtuška<br>       
Staronka prahramy: <a href="http://lng.belinter.net" rel="nofollow" target="_self">lng.belinter.net</a><br>       
Pamier: 479Kb (228Kb va ŭstalovačnym archivie)<br><br>       
<img border="0" src="https://imgprx.livejournal.net/26fefa698769da2121082eee79fcd5841d3ac504/_BmJ-_PiITYxefOer96UMO3h2kUyPurD6npEEq5rhNEqVPIHoEtyPfEqeKq-V_fnK_ThCePteBXX_6wVSw-K-OoPoxqbsZ79ZQRykG8NJ50BMUGuV-t5IkpRqgX_Pzh9" width="512" height="372" loading="lazy">
<br><br>

Vakno prahramy padzielenaje na dźvie častki: u adnoj kiryličny        
aryginał, u druhoj &amp;mdash; vyniki łacinizavańnia. Prahrama maje        
mahčymaść kanvertavańnia tekstu ŭ adno z troch kadavańniaŭ:        
CE, Baltic, ASCII. Uvohule, algarytm pracuje pravilna, ale,        
na žal, vynik vielmi zaležyć ad kadavańnia, pryčym karystacca        
im ciažka (kali navat uvohule mahčyma) biez najaŭnaści        
Baltic codepage, jakaja jość daloka nia ŭ kožnaha.        
U kožnym z kadavańniaŭ «Jama» była łacinizavanaja za        
kala 10 sekundaŭ.<br>       
Rejtyng: 5.4 (6/6/9/4/2)       
<br><br>

<b>Cyr2Lat</b><br>
Aŭtar: Marat Duchan<br>       
Spasyłka: <a href="http://dukhan.at.tut.by/latinka/Cyr2Lat.zip" rel="nofollow" target="_self">dukhan.at.tut.by/latinka/Cyr2Lat.zip</a><br>       
Pamier: 14Kb (niepasredna biblijateka - 2Kb)<br><br>       

Nasamreč heta nie samastojnaja prahrama, a tolki funkcyja        
kanvertavańnia, dastupnaja ŭ farmacie lib i ŭ vyhladzie        
dll-biblijateki. Tamu najbolš zručnaj jana budzie pry vykarystańni        
ŭ inšych prahramach u jakaści, naprykład, jadra łacinizatara abo        
funkcyi lakalizacyi interfejsu prahramy na łacinku ŭ        
realnym časie. Funkcyja prymaje 3 parametry: tekst dla        
kanveratvańnia, bufer dla vyniku i daŭžyniu buferu. Chutkaść        
kanveratvańnia vielmi vysokaja: apovieść była apracavanaja za        
ŭsiaho tolki 0,3 sekundy. Ale chiba z «u&amp;nbsp;Balońi»        
usio roŭna krychu sapsavała ahulnaje ŭražańnie.<br>       
Rejtyng: 5.25 (-/10/8/0/3)       
<br><br>

<b>Kirlat</b><br>
Aŭtar: Alexander Mikhailian<br>       
Spasyłka: &lt;nieviadomaja&gt;<br>       
Pamier: kala 50Kb<br><br>       
<img border="0" src="https://imgprx.livejournal.net/aa2234db05393f02c04ae290f8cc261883c9ced0/_BmJ-_PiITYxefOer96UMO3h2kUyPurD6npEEq5rhNEqVPIHoEtyPfEqeKq-V_fn0nMCLhCjQ2rq3Qy17n6ZcZBBpGfkvz_wp3oF_Y99mbA" width="104" height="140" loading="lazy">
<br><br>

Roznyja versii hetaj prahramy chodziać pa internecie, ale znajści        
sajt, na jakim by jany raźmiaščalisia, nie atrymałasia. Cikava taksama,        
što versii nie numarujucca, ale čas ad času dapracoŭvajucca.      
Raspaŭsiudžvajecca prahrama razam z zychodnym kodam, žyvie ŭ        
systemnym trai i maje niekalki kirunkaŭ kanvertavańnia, siarod        
jakich kanvertavańnie z kirylicy ŭ łacinku i nazad. Prahrama        
pracuje praz bufer abmienu, kanvertujučy tekst, jaki tam znachodzicca,        
i pierazapisvajučy jaho vynikam. Apovieść była łacinizavanaja za        
11 sekundaŭ, ale vyniki kanvertavańnia nia vielmi ŭrazili:        
«вераб'і» pieratvarylisia ŭ        
«vierab'i», «у&amp;nbsp;Балёньі» &amp;mdash; va        
«u&amp;nbsp;Balońi», «Заслаўе» &amp;mdash; u        
«Zasłaŭie», ignarujecca litara        
«ґ», niezrazumiełyja rečy adbyvajucca z adzinočnymi        
jotavanymi litarami (naprykład, kali heta inicyjały), taksama pa        
niezrazumiełych pryčynach jotavanyja litary ŭ niekatorych vypadkach        
pieradajucca z «i» u toj čas, kali musiać z        
«j».       
Zručnaja prahramka dla chutkaha kanvertavańnia nievialikich tekstaŭ,        
ale jana jašče musić być dapracavanaja.<br>       
Rejtyng: 5.0 (8/6/4/2/5)       
<br><br>

<b>Moŭny Kanvertar</b> v2.3<br>       
Aŭtar: Juraś Michied<br>       
Staronka prahramy: <a href="http://www.juras14.net/open.php?r=5" rel="nofollow" target="_self">www.juras14.net/open.php?r=5</a><br>       
Pamier: 43Kb (u archivie; mahčyma, spatrebicca dadatkovaja biblijateka: 58Kb u archivie)<br><br>       
<img border="0" src="https://imgprx.livejournal.net/1164da222d0e750b6f60eadcd20737821ccd4c25/_BmJ-_PiITYxefOer96UMO3h2kUyPurD6npEEq5rhNEqVPIHoEtyPfEqeKq-V_fnf9zPVzHArt94aXw4WtMnkttRtu_WOhy_eIFE6CeKgMU" width="450" height="315" loading="lazy">
<br><br>

Adna z najbolš daskanałych prahramak siońniašniaha ahladu. Maje        
tekstavaje pole, jakoje, vidać, pracuje ŭ kadavańni Unicode, dzie,        
ułasna, treba redagavać tekst i hladzieć na vyniki. Taksama        
prysutničaje ručny vybar naboru symbalaŭ dla ŭvodu. Takaja        
mahčymaść vielmi zručnaja pry adsutnaści kiryličnaj abo        
łacinkavaj raskładki: prahrama pieratvaraje symbali klavijatury        
ŭ symbali adpaviednaj raskładki i vyvodzić ich na ekran. Chacia        
krychu naziralisia chiby, kali byŭ vybrany punkt        
«systemnaja»: symbali, jakija źjaŭlalisia na ekranie nie        
adpaviadali symbalam nacisnutych klavišaŭ u systemnaj raskładcy.        
prahrama taksama maje zvyčku aŭtamatyčna pieraklučyć raskładku        
na, jak joj zdajecca, najbolš relevantnuju, ale heta bolš        
razdražniaje, bo pieraklučeńnie adbyvajecca ŭ bolšaści vypadkaŭ        
tady, kali rabić heta nia treba.       
Apovieść była łacinizavanaja za 2 chviliny 6 sekundaŭ. Davoli        
doŭha. Taksama tut prysutničaje taja ž chiba ŭ        
«u&amp;nbsp;Balońi», ale «у&amp;nbsp;Заслаўі»        
kanvertavałasia ŭ «u Zasłaŭi», choć        
vidavočna, što prahrama pieradaje huk [ji] praz        
«ji».       
Dalej karystalniku prapanujecca mahčymaść zachavać vynik u        
adnym ź piaci farmataŭ, siarod jakich jość i Unicode. Symbali,        
jakija nie prysutničajuć u kodavaj tablicy zachavańnia zachoŭvajucca        
ŭ h.zv. «HTML-Unicode». Cikava, što kali vybrać        
u meniu punkt «Zachoŭvać u Unicode (HTML)»,        
niekatoryja symbali zamiest Unicode-kodaŭ zachoŭvajucca ŭ adnoj        
z centralnaeŭrapiejskich kadyrovak, pryčym nie zrazumieła        
jakaja kankretna heta kadyroŭka.       
Aproč łacinizavańnia ŭ prahramie taksama prysutničajuć funkcyi        
kirylizavańnia i prymityŭnaha taraškievizavańnia.<br>       
Rejtyng: 6.2 (8/0/7/6/10)       
<br><br>

<b>Kir2Lac</b> v2.0.2<br>       
Aŭtar: j.Zedlik<br>       
Staronka prahramy: <a href="http://www.zedlik.com/prahramy/kir2lac/" rel="nofollow" target="_self">www.zedlik.com/prahramy/kir2lac/</a><br>       
Pamier: 263Kb (ustalovačny archiŭ)<br><br>       
<img border="0" src="https://imgprx.livejournal.net/214239e8b1b4fe26faebfa9f57a56e8e30e9f5ab/_BmJ-_PiITYxefOer96UMO3h2kUyPurD6npEEq5rhNEqVPIHoEtyPfEqeKq-V_fnsbYgbizUCIy06GIyDeJgPcxS6haHqU33GfkgW51t7w0" width="462" height="261" loading="lazy">
<br><br>

prahramka z prostym interfejsam na dva poli &amp;mdash; zychodny fajł,        
vychodny fajł &amp;mdash; i pola, u jakoje vyvodziacca ŭsie        
słužbovyja paviedamleńni adnosna kanveratvańnia padčas pracy        
prahramy. Uvachodnymi źviestkami źjaŭlajecca plain text u        
kadavańni cp-1251. Vynik prahrama moža zachavać jak taksama        
plain text u adnym z čatyroch režymaŭ: łacinkavyja symbali,        
jakija nie ŭvachodziać u kadavańnie ASCII zamianiajucca adpaviednymi        
biaz hačykaŭ, zamianajucca na pseŭdałacinku z ' i ^, zamianiajucca        
na HTML kody i zamianiajucca na lubyja symbali, vyznačanyja        
karystalnikam. Taksama prysutničaje mahčymaść ekspartu        
fajłu ŭ HTML-staronku z zachavańniem farmatavańnia, škada        
tolki, jano moža być vykananaje tolki razam z kanvertavańniem        
u tekstavy fajł. Z dadatkovych mahčymaściaŭ prapanujecca        
aŭtavyznačeńnie registru litaraŭ, jakija ŭ kirylicy pieradavalisia        
adnym symbalem, a ŭ łacincy &amp;mdash; dvuma. I varta zaznačyć,        
jana navat krychu pracuje.       
«Vaŭčynaja jama» była łacinizavanaja za 8, 9 i 11        
sekundaŭ u pieršych troch z vyšejzhadanych režymaŭ adpaviedna.        
Pamyłak kanvertavańnia nia vyjaŭlena. Vyrazy kštałtu        
«яНКА» i «ЯНКА» kanvertujucca ŭ,        
adpaviedna, «jANKA» i «JANKA».       
Darečy, isnuje onlinevaja versija hetaha łacinizatara        
(<a href="http://www.zedlik.com/prahramy/kir2lac-online/" rel="nofollow" target="_self">www.zedlik.com/prahramy/kir2lac-online/</a>),        
ale jon całkam adpaviadaje win32-prahramie, tamu jak asobny łacinizatar        
nie razhladaŭsia.<br>       
Rejtyng: 7.8 (9/6/9/8/7)    

{mospagebreak title= Makrasy i online-łacinizatary }<h3>Makrasy i online-łacinizatary</h3>    

Makrasy dla Word i tym bolš online-łacinizatary &amp;mdash; heta zusim inšaja        
vahavaja katehoryja i nia mohuć paraŭnoŭvacca z kampilavanymi        
binarnikami. Tamu ličby adnosna času kanvertavańnia pryviedzienyja        
chutčej dla paraŭnańnia adpaviednych kanvertavalnikaŭ pamiž        
saboj (to bok makrasaŭ z makrasami, a online-łacinizataraŭ &amp;mdash;        
z online-łacinizatarami). Ale heta nie vyzvalaje ich ad naležnaj        
jakaści łacinizavańnia.<br><br>       

<b>Cyrlat</b><br>
Aŭtar: Alaksiej Kazan<br>       
Staronka prahramy: <a href="http://www.geocities.com/alaksiej" rel="nofollow" target="_self">www.geocities.com/alaksiej</a> (nie pracuje)<br>       
Pamier: 34Kb (ustalovačny archiŭ)<br><br>       
<img border="0" src="https://imgprx.livejournal.net/0d4ddbe9aae99647f25815429753acf54a860cbd/_BmJ-_PiITYxefOer96UMO3h2kUyPurD6npEEq5rhNEqVPIHoEtyPfEqeKq-V_fnK_ThCePteBXX_6wVSw-K-LXvcs-4rRS3nvrzpTVHxRs" width="416" height="253" loading="lazy">
<br><br>

Uvohule, makrasami nia vielmi zručna kanvertavać vialikija teksty.        
Mahčyma, značnuju rolu ŭ hetaj subjektyŭnaj acency hraje chutkaść        
kanvertavańnia, jakaja adčuvalna našmat mienšaja. Časam zdarajucca        
cikavyja rečy. Voś i pry łacinizavańni apovieści taksama        
było. Nieviadoma, jakim čynam pracuje makras, ale, naprykład,        
čverć «Jamy» &amp;mdash; roŭna čaćviertaja častka &amp;mdash;        
była łacinizavanaja za 13 sekundaŭ, pałova &amp;mdash; užo za 51,        
a nie za 26, jak možna było b zdahadvacca. Całkam apovieść tak        
i nie była łacinizavanaja navat za čatyry z pałovaj chviliny.        
Pamyłka ź «vierab'i», z «u&amp;nbsp;Balońi»,        
«ґ» makrasu nie viadomaja, mahčymaść pieradačy dygrafaŭ        
dvuma litarami ŭ vierchnim registry taksama nie realizavanaja.        
Taki voś siaredniačok.<br>       
Rejtyng: 2.5 (-/0/6/0/4)       
<br><br>

<b>Word2000</b><br>
Aŭtar: nieviadomy<br>       
Staronka prahramy: nieviadomaja, jość na <a href="http://www.lacinka.org" rel="nofollow" target="_self">www.lacinka.org</a><br>       
Pamier: 40Kb (ustalovačny archiŭ)<br><br>       
<img border="0" src="https://imgprx.livejournal.net/28545b4795289ba5624507055dd06f22b6992e4e/_BmJ-_PiITYxefOer96UMO3h2kUyPurD6npEEq5rhNEqVPIHoEtyPfEqeKq-V_fngwWGmuqy_P_3kkCwaXd--YG4ZN8vXDNQ7ZvRezNvuHA" width="290" height="180" loading="lazy">
<br><br>

Makras ź nia samym lepšym algarytmam pastupovaj zamieny        
kožnaha symbala padčas šmatrazovaha prahladu ŭsiaho tekstu. Tym nia mienš,        
apovieść łacinizavanaja za 98 sekundaŭ, u «vierabjach»        
zastaŭsia apostraf, usie litary, jakija nie ŭvachodziać u kadyroŭku        
ASCII, aproč «ŭ», pieradajucca ŭ niapravilnaj kadyroŭcy,        
«ґ» ignarujecca, u niekatorych vypadkach jotavanyja        
pieradavalisia z «i», kali nasamreč musili być        
z «j».<br>       
Rejtyng: 2.75 (-/1/6/0/4)       
<br><br>

<b>Online-łacinizatar: <a href="http://www.knihi.com/lacinizatar/" rel="nofollow" target="_self">www.knihi.com/lacinizatar/</a></b><br><br>       

Napeŭna, samy viadomy i samy papularny online-łacinizatar.        
Moža łacinizavać nia tolki kavałki tekstu z fajłami, a navat        
sajty ŭ režymie realnaha času. Ale tut kryjecca pastka:        
łacinizatar „razumieje” tolki staronki ŭ kadavańni cp-1251.        
Staronka ŭ kožnym inšym kadavańni budzie łacinizavanaja niapravilna.        
Paśla zahruzki «Vaŭčynaj jamy» na server nazirałasia        
zatrymka ŭ 5 sekundaŭ, paśla jakoj pačaŭ vyvodzicca vynik.        
To bok apovieść była łacinizavanaja prykładna za čas, roŭny        
času zatrymki. Zrešty, kali čas zahruzki samoha fajła i        
atrymańnia vyniku našmat pieravyšaje čas kanvertavańnia,        
apošni nia hraje značnaj roli. Pamyłki: «vierabi»,        
«u&amp;nbsp;Balońi». Łacinizatar sprabuje aŭtamatyčna        
vyznačać registar dygrafaŭ, adpaviadajučych vialikim litaram, ale        
praskokvajuć chiby z inicyjałami. «ґ» ignarujecca,        
«ŭ» pieradajecca jak        
«ú».<br>
Rejtyng: 5.0 (4/7/6/4/4)       
<br><br>

<b>Online-łacinizatar: <a href="http://www.pravapis.org/latin.asp" rel="nofollow" target="_self">www.pravapis.org/latin.asp</a></b><br><br>       

Hety łacinizatar pabudavany na regularnych vyrazach i kanvertuje        
tekst šlacham šmatlikich prahladaŭ usiaho tekstu i zamieny pa adnoj        
i toj ža litary na jejny łacinkavy adpaviednik. U archivach        
<a href="http://www.livejournal.com" rel="nofollow" target="_self">www.livejournal.com</a> možna        
navat adšukać zychodny kod na ASP.       
Apovieść łacinizatar kanvertavać admoviŭsia, skazaŭšy        
«Request object error 'ASP 0107 : 80004005',        
Stack Overflow». Maleńkija teksty łacinizujucca, ale        
nia vielmi jakasna: «vierabi»,        
«u&amp;nbsp;Balońi». Nijakich dadatkovych mahčymaściaŭ,        
na žal, nie praduhledžana.<br>       
Rejtyng: 3.0 (5/0/6/0/4)       
<br><br>

<b>Online-łacinizatar: <a href="http://slounik.zolak.boo.pl" rel="nofollow" target="_self">slounik.zolak.boo.pl</a></b><br><br>       

Hety kanvertar moža apracoŭvać teksty ŭ niekalkich napramkach,        
adzin ź jakich łacinizavańnie. Dadzienyja pačynajuć vyvodzicca adrazu        
paśla skančeńnia zahruzki fajła. Chacia heta śviedčyć tolki pra        
toje, što funkcyja łacinizavańnia vyvodzić vynik adrazu ŭ płyń        
vychadu. Tamu padličyć čas kanvertavańnia možna tolki siedziačy        
na kanale z chutkaściu ŭ nia mienš za 256 KB/sek. Było zaŭvažana,        
što vialikaja kiryličnaja litara «Й» čamuści nie        
apracoŭvajecca zusim. Mahčyma heta vyklikanaje mierkavańniem,        
što ŭ zvyčajnym tekście jana nie sustrakajecca. Taksama        
«вераб'і» kanvertavalisia ŭ «vierab'i»,        
«у&amp;nbsp;Балёньі» &amp;mdash; va «u&amp;nbsp;Balońi»,        
«Заслаўе» &amp;mdash; u «Zasłaŭie».        
Litara «ґ» taksama ignarujecca.<br>       
Rejtyng: 4.0 (7/-/5/0/4)       
<br><br>


<b>Vyniki</b><br><br>

Što ž, čas zrabić peŭnyja vysnovy. Takim čynam:   

  <ul><li> Biełazar v3.6.2.2015     :star: :star: :star: :star: 
</li></ul>
  <ul><li> CyrLat-HTML v1.1       :star: :star: :star: :star: :star: :star: 
</li></ul>
  <ul><li> Cyr/Lat Converter v1.10     :star: :star: :star: :star: :star: 
</li></ul>
  <ul><li> Cyr2Lat  :star: :star: :star: :star: :star: 
</li></ul>
  <ul><li> Kirlat  :star: :star: :star: :star: :star: 
</li></ul>
  <ul><li> Moŭny Kanvertar v2.3  :star: :star: :star: :star: :star: :star: 
</li></ul>
  <ul><li> Kir2Lac v2.0.2  :star: :star: :star: :star: :star: :star: :star: 
</li></ul>
  <ul><li> Cyrlat   :star: :star: :star: 
</li></ul>
<ul><li> Word2000  :star: :star: :star: 
</li></ul>
 <ul><li> www.knihi.com/lacinizatar/  :star: :star: :star: :star: 
</li></ul>
 <ul><li> www.pravapis.org/latin.asp  :star: :star: :star: 
</li></ul>
 <ul><li> slounik.zolak.boo.pl  :star: :star: :star: :star: 
</li></ul>

<p><br>

Dobra, što prablema aŭtamatyčnaha kanvertavańnia kiryličnaha        
tekstu ŭ łacinku vyrašajecca i srodki jaje vyrašeńnia ŭžo        
jsnujuć. Dobra, što kožny moža lohka i prosta        
atrymać łacinkavy tekst z kiryličnaha aryhinału.        
Dobra, što karystalnik moža navat vybrać sabie        
kanvertavalnik pavodla ŭłasnaha hustu.<br><br>       

Razam z tym krychu žurbotna, što tolki adzinki        
prachodziać prostyja testy. I navat hetyja adzinki nia mohuć        
pakul zrabić z kirylicy łacinku takoj, jakoj jana        
musić być nasamreč. Kanvertavalnikaŭ jašče čakaje doŭhi šlach        
udaskanaleńnia, jaki jany abaviazkova projduć. Nia siońnia,        
nia zaŭtra, ale chutka. Prahres bačny.<br>  
</p>
Dla <a href="http://www.lacinka.org" rel="nofollow" target="_self">www.lacinka.org</a> j.Zedlik (<a href="http://www.zedlik.com" target="_blank" rel="nofollow">www.zedlik.com</a>)




<br clear="all">

<p></p><a href="http://my.opera.com/lacinka/blog/show.dml/126276" rel="nofollow" target="_self">Čytaj dalej</a><div align="right"><small><a href="http://hiero.ru/rss2lj/" rel="nofollow" target="_self">rss2lj</a></small></div><a name="cutid1-end" target="_self"></a>  </article>   </div>    </div> <div class="b-singlepost-video-wrap"> <div data-autoplay-dockable-video-mount=""></div> </div>
<div id="comments" class="b-grove" data-authtoken="c0:1682874000:229:86400:UnsbVhGCCV-0-:ece1d34e69f75d4c91320c4dc4459570"> <div class=" b-xylem  b-xylem-first  "> <ul class="b-xylem-cells">  <li class=" b-xylem-cell b-xylem-cell-amount ">   <span class="js-amount">  10 comments  </span>   </li>  </ul>  </div> <div class=" b-massaction-top ">  </div>    <div class=" b-tree b-tree-best ">  </div> <div class=" b-tree b-tree-promo " data-currentprice="">  </div>  <div class=" b-tree b-tree-root svgpreloader svgpreloader-pseudo svgpreloader-30 "><div class=" b-tree-twig  b-tree-twig-1 b-tree-twig-deep-0  " style="margin-left: 0px" data-tid="t148948">    <div id="t148948" class=" b-leaf            b-leaf-full   comment p-comment " data-username="fevra" data-displayname="fevra" data-updated-ts="1138547519" data-full="1"> <div class=" b-leaf-inner svgpreloader svgpreloader-pseudo svgpreloader-16 "> <div class="b-leaf-header"> <div class="b-leaf-userpic"> <a href="https://fevra.livejournal.com/" target="_blank" class="b-leaf-userpic-inner" lj:user="fevra">   <img src="https://l-userpic.livejournal.com/99890630/952960" alt="fevra" loading="lazy" title="The Eerie: Type O Negative">  </a> </div> <div class="b-leaf-details">   <p class="b-leaf-username"><span class="b-leaf-username-name"><span class="ljuser  i-ljuser  i-ljuser-type-P     " data-ljuser="fevra" lj:user="fevra"><a href="https://fevra.livejournal.com/profile" class="i-ljuser-profile" target="_self"><img class="i-ljuser-userhead" src="https://l-stat.livejournal.net/img/userinfo_v8.svg?v=17080?v=657"></a><a href="https://fevra.livejournal.com/" class="i-ljuser-username" target="_self"><b>fevra</b></a></span> </span>  </p> <p class="b-leaf-meta">  <a href="https://lacinka.livejournal.com/24020.html?thread=148948#t148948" class="b-leaf-permalink" target="_self"> <span class="b-leaf-createdtime">January 29 2006, 15:11:59 UTC</span> </a>   <span class="b-leaf-shorttime">17 years ago</span>   </p>   </ul>        </div> </div>  <div class="b-leaf-article"> спасылка www.geocities.com/belarus_coins/cyrlat.h<wbr>tml не працуе :( </div>   </div> </div>    </div><div class=" b-tree-twig  b-tree-twig-2 b-tree-twig-deep-0  " style="margin-left: 30px" data-tid="t149204">    <div id="t149204" class=" b-leaf        b-leaf-poster      b-leaf-full   comment p-comment " data-username="zolak" data-displayname="zolak" data-updated-ts="1138547616" data-full="1"> <div class=" b-leaf-inner svgpreloader svgpreloader-pseudo svgpreloader-16 "> <div class="b-leaf-header"> <div class="b-leaf-userpic"> <a href="https://zolak.livejournal.com/" target="_blank" class="b-leaf-userpic-inner" lj:user="zolak">   <img src="https://l-stat.livejournal.net/img/userpics/userpic-user.png?v=15821" alt="zolak" loading="lazy">  </a> </div> <div class="b-leaf-details">   <p class="b-leaf-username"><span class="b-leaf-username-name"><span class="ljuser  i-ljuser  i-ljuser-deleted  i-ljuser-type-P     " data-ljuser="zolak" lj:user="zolak"><a href="https://zolak.livejournal.com/profile" class="i-ljuser-profile" target="_self"><img class="i-ljuser-userhead" src="https://l-stat.livejournal.net/img/userinfo_v8.svg?v=17080?v=657"></a><a href="https://zolak.livejournal.com/" class="i-ljuser-username" target="_self"><b>zolak</b></a></span> </span>  </p> <p class="b-leaf-meta">  <a href="https://lacinka.livejournal.com/24020.html?thread=149204#t149204" class="b-leaf-permalink" target="_self"> <span class="b-leaf-createdtime">January 29 2006, 15:13:36 UTC</span> </a>   <span class="b-leaf-shorttime">17 years ago</span>   </p>   </ul>        </div> </div>  <div class="b-leaf-article"> Škada. Heta davoli staraja publikacyja. Vidavočna niešta paźmianiałasia...  </div>   </div> </div>    </div><div class=" b-tree-twig  b-tree-twig-1 b-tree-twig-deep-0  " style="margin-left: 0px" data-tid="t149460">    <div id="t149460" class=" b-leaf            b-leaf-full   comment p-comment " data-username="yarik" data-displayname="yarik" data-updated-ts="1138550831" data-full="1"> <div class=" b-leaf-inner svgpreloader svgpreloader-pseudo svgpreloader-16 "> <div class="b-leaf-header"> <div class="b-leaf-userpic"> <a href="https://yarik.livejournal.com/" target="_blank" class="b-leaf-userpic-inner" lj:user="yarik">   <img src="https://l-userpic.livejournal.com/75138200/430565" alt="yarik" loading="lazy" title="Yarik, Esq: ja">  </a> </div> <div class="b-leaf-details">   <p class="b-leaf-username"><span class="b-leaf-username-name"><span class="ljuser  i-ljuser  i-ljuser-type-P     " data-ljuser="yarik" lj:user="yarik"><a href="https://yarik.livejournal.com/profile" class="i-ljuser-profile" target="_self"><img class="i-ljuser-userhead" src="https://l-stat.livejournal.net/img/userinfo_v8.svg?v=17080?v=657"></a><a href="https://yarik.livejournal.com/" class="i-ljuser-username" target="_self"><b>yarik</b></a></span> </span>  </p> <p class="b-leaf-meta">  <a href="https://lacinka.livejournal.com/24020.html?thread=149460#t149460" class="b-leaf-permalink" target="_self"> <span class="b-leaf-createdtime">January 29 2006, 16:07:11 UTC</span> </a>   <span class="b-leaf-shorttime">17 years ago</span>   </p>   </ul>        </div> </div>  <div class="b-leaf-article"> Czamu b heta usio pad cut nie stavic'?  </div>   </div> </div>    </div><div class=" b-tree-twig  b-tree-twig-2 b-tree-twig-deep-0  " style="margin-left: 30px" data-tid="t149716">    <div id="t149716" class=" b-leaf            b-leaf-full   comment p-comment " data-username="slaver_be" data-displayname="slaver_be" data-updated-ts="1138559272" data-full="1"> <div class=" b-leaf-inner svgpreloader svgpreloader-pseudo svgpreloader-16 "> <div class="b-leaf-header"> <div class="b-leaf-userpic"> <a href="https://slaver-be.livejournal.com/" target="_blank" class="b-leaf-userpic-inner" lj:user="slaver_be">   <img src="https://l-userpic.livejournal.com/122568906/6849724" alt="slaver_be" loading="lazy" title="Slaver: while my guitar gently weeps">  </a> </div> <div class="b-leaf-details">   <p class="b-leaf-username"><span class="b-leaf-username-name"><span class="ljuser  i-ljuser  i-ljuser-type-P     " data-ljuser="slaver_be" lj:user="slaver_be"><a href="https://slaver-be.livejournal.com/profile" class="i-ljuser-profile" target="_self"><img class="i-ljuser-userhead" src="https://l-stat.livejournal.net/img/userinfo_v8.svg?v=17080?v=657"></a><a href="https://slaver-be.livejournal.com/" class="i-ljuser-username" target="_self"><b>slaver_be</b></a></span> </span>  </p> <p class="b-leaf-meta">  <a href="https://lacinka.livejournal.com/24020.html?thread=149716#t149716" class="b-leaf-permalink" target="_self"> <span class="b-leaf-createdtime">January 29 2006, 18:27:52 UTC</span> </a>   <span class="b-leaf-shorttime">17 years ago</span>   </p>   </ul>        </div> </div>  <div class="b-leaf-article"> +1! </div>   </div> </div>    </div><div class=" b-tree-twig  b-tree-twig-3 b-tree-twig-deep-0  " style="margin-left: 60px" data-tid="t149972">    <div id="t149972" class=" b-leaf        b-leaf-poster      b-leaf-full   comment p-comment " data-username="zolak" data-displayname="zolak" data-updated-ts="1138561178" data-full="1"> <div class=" b-leaf-inner svgpreloader svgpreloader-pseudo svgpreloader-16 "> <div class="b-leaf-header"> <div class="b-leaf-userpic"> <a href="https://zolak.livejournal.com/" target="_blank" class="b-leaf-userpic-inner" lj:user="zolak">   <img src="https://l-stat.livejournal.net/img/userpics/userpic-user.png?v=15821" alt="zolak" loading="lazy">  </a> </div> <div class="b-leaf-details">   <p class="b-leaf-username"><span class="b-leaf-username-name"><span class="ljuser  i-ljuser  i-ljuser-deleted  i-ljuser-type-P     " data-ljuser="zolak" lj:user="zolak"><a href="https://zolak.livejournal.com/profile" class="i-ljuser-profile" target="_self"><img class="i-ljuser-userhead" src="https://l-stat.livejournal.net/img/userinfo_v8.svg?v=17080?v=657"></a><a href="https://zolak.livejournal.com/" class="i-ljuser-username" target="_self"><b>zolak</b></a></span> </span>  </p> <p class="b-leaf-meta">  <a href="https://lacinka.livejournal.com/24020.html?thread=149972#t149972" class="b-leaf-permalink" target="_self"> <span class="b-leaf-createdtime">January 29 2006, 18:59:38 UTC</span> </a>   <span class="b-leaf-shorttime">17 years ago</span>   </p>   </ul>        </div> </div>  <div class="b-leaf-article"> A sens? </div>   </div> </div>    </div><div class=" b-tree-twig  b-tree-twig-4 b-tree-twig-deep-0  " style="margin-left: 90px" data-tid="t150228">    <div id="t150228" class=" b-leaf            b-leaf-full   comment p-comment " data-username="slaver_be" data-displayname="slaver_be" data-updated-ts="1138561746" data-full="1"> <div class=" b-leaf-inner svgpreloader svgpreloader-pseudo svgpreloader-16 "> <div class="b-leaf-header"> <div class="b-leaf-userpic"> <a href="https://slaver-be.livejournal.com/" target="_blank" class="b-leaf-userpic-inner" lj:user="slaver_be">   <img src="https://l-userpic.livejournal.com/122568906/6849724" alt="slaver_be" loading="lazy" title="Slaver: while my guitar gently weeps">  </a> </div> <div class="b-leaf-details">   <p class="b-leaf-username"><span class="b-leaf-username-name"><span class="ljuser  i-ljuser  i-ljuser-type-P     " data-ljuser="slaver_be" lj:user="slaver_be"><a href="https://slaver-be.livejournal.com/profile" class="i-ljuser-profile" target="_self"><img class="i-ljuser-userhead" src="https://l-stat.livejournal.net/img/userinfo_v8.svg?v=17080?v=657"></a><a href="https://slaver-be.livejournal.com/" class="i-ljuser-username" target="_self"><b>slaver_be</b></a></span> </span>  </p> <p class="b-leaf-meta">  <a href="https://lacinka.livejournal.com/24020.html?thread=150228#t150228" class="b-leaf-permalink" target="_self"> <span class="b-leaf-createdtime">January 29 2006, 19:09:06 UTC</span> </a>   <span class="b-leaf-shorttime">17 years ago</span>   </p>   </ul>        </div> </div>  <div class="b-leaf-article"> Такія правілы ЖЧшнага этыкету... Фрэнд-стужка павялічваецца з-за такіх вялізных паведамленьняў у два разы... </div>   </div> </div>    </div><div class=" b-tree-twig  b-tree-twig-5 b-tree-twig-deep-0  " style="margin-left: 120px" data-tid="t150484">    <div id="t150484" class=" b-leaf        b-leaf-poster      b-leaf-full   comment p-comment " data-username="zolak" data-displayname="zolak" data-updated-ts="1138562144" data-full="1"> <div class=" b-leaf-inner svgpreloader svgpreloader-pseudo svgpreloader-16 "> <div class="b-leaf-header"> <div class="b-leaf-userpic"> <a href="https://zolak.livejournal.com/" target="_blank" class="b-leaf-userpic-inner" lj:user="zolak">   <img src="https://l-stat.livejournal.net/img/userpics/userpic-user.png?v=15821" alt="zolak" loading="lazy">  </a> </div> <div class="b-leaf-details">   <p class="b-leaf-username"><span class="b-leaf-username-name"><span class="ljuser  i-ljuser  i-ljuser-deleted  i-ljuser-type-P     " data-ljuser="zolak" lj:user="zolak"><a href="https://zolak.livejournal.com/profile" class="i-ljuser-profile" target="_self"><img class="i-ljuser-userhead" src="https://l-stat.livejournal.net/img/userinfo_v8.svg?v=17080?v=657"></a><a href="https://zolak.livejournal.com/" class="i-ljuser-username" target="_self"><b>zolak</b></a></span> </span>  </p> <p class="b-leaf-meta">  <a href="https://lacinka.livejournal.com/24020.html?thread=150484#t150484" class="b-leaf-permalink" target="_self"> <span class="b-leaf-createdtime">January 29 2006, 19:15:44 UTC</span> </a>   <span class="b-leaf-shorttime">17 years ago</span>   </p>   </ul>        </div> </div>  <div class="b-leaf-article"> A, etykiet... Dziakuj za infarmacyju. Budziem dumać </div>   </div> </div>    </div><div class=" b-tree-twig  b-tree-twig-6 b-tree-twig-deep-0  " style="margin-left: 150px" data-tid="t150740">    <div id="t150740" class=" b-leaf            b-leaf-full   comment p-comment " data-username="slaver_be" data-displayname="slaver_be" data-updated-ts="1138562263" data-full="1"> <div class=" b-leaf-inner svgpreloader svgpreloader-pseudo svgpreloader-16 "> <div class="b-leaf-header"> <div class="b-leaf-userpic"> <a href="https://slaver-be.livejournal.com/" target="_blank" class="b-leaf-userpic-inner" lj:user="slaver_be">   <img src="https://l-userpic.livejournal.com/122568906/6849724" alt="slaver_be" loading="lazy" title="Slaver: while my guitar gently weeps">  </a> </div> <div class="b-leaf-details">   <p class="b-leaf-username"><span class="b-leaf-username-name"><span class="ljuser  i-ljuser  i-ljuser-type-P     " data-ljuser="slaver_be" lj:user="slaver_be"><a href="https://slaver-be.livejournal.com/profile" class="i-ljuser-profile" target="_self"><img class="i-ljuser-userhead" src="https://l-stat.livejournal.net/img/userinfo_v8.svg?v=17080?v=657"></a><a href="https://slaver-be.livejournal.com/" class="i-ljuser-username" target="_self"><b>slaver_be</b></a></span> </span>  </p> <p class="b-leaf-meta">  <a href="https://lacinka.livejournal.com/24020.html?thread=150740#t150740" class="b-leaf-permalink" target="_self"> <span class="b-leaf-createdtime">January 29 2006, 19:17:43 UTC</span> </a>   <span class="b-leaf-shorttime">17 years ago</span>   </p>   </ul>        </div> </div>  <div class="b-leaf-article"> :) </div>   </div> </div>    </div><div class=" b-tree-twig  b-tree-twig-1 b-tree-twig-deep-0  " style="margin-left: 0px" data-tid="t151508">    <div id="t151508" class=" b-leaf            b-leaf-full   comment p-comment " data-username="juras14" data-displayname="juras14" data-updated-ts="1138646216" data-full="1"> <div class=" b-leaf-inner svgpreloader svgpreloader-pseudo svgpreloader-16 "> <div class="b-leaf-header"> <div class="b-leaf-userpic"> <a href="https://juras14.livejournal.com/" target="_blank" class="b-leaf-userpic-inner" lj:user="juras14">   <img src="https://l-userpic.livejournal.com/35562195/1515112" alt="juras14" loading="lazy" title="Юрась Міхед: Юзерпик">  </a> </div> <div class="b-leaf-details">   <p class="b-leaf-username"><span class="b-leaf-username-name"><span class="ljuser  i-ljuser  i-ljuser-type-P     " data-ljuser="juras14" lj:user="juras14"><a href="https://juras14.livejournal.com/profile" class="i-ljuser-profile" target="_self"><img class="i-ljuser-userhead" src="https://l-stat.livejournal.net/img/userinfo_v8.svg?v=17080?v=657"></a><a href="https://juras14.livejournal.com/" class="i-ljuser-username" target="_self"><b>juras14</b></a></span> </span>  </p> <p class="b-leaf-meta">  <a href="https://lacinka.livejournal.com/24020.html?thread=151508#t151508" class="b-leaf-permalink" target="_self"> <span class="b-leaf-createdtime">January 30 2006, 18:36:56 UTC</span> </a>   <span class="b-leaf-shorttime">17 years ago</span>   </p>   </ul>        </div> </div>  <div class="b-leaf-article"> Maja proga nia skončanaja, funkcyju zachavańnia ja ŭvohule pisać tolki pačaŭ. Heta treba zaznačyć. Skonšu, kali źjavicca natchnieńnie — hady moža praz 2. </div>   </div> </div>    </div><div class=" b-tree-twig  b-tree-twig-2 b-tree-twig-deep-0  " style="margin-left: 30px" data-tid="t152020">    <div id="t152020" class=" b-leaf        b-leaf-poster      b-leaf-full   comment p-comment " data-username="zolak" data-displayname="zolak" data-updated-ts="1138693212" data-full="1"> <div class=" b-leaf-inner svgpreloader svgpreloader-pseudo svgpreloader-16 "> <div class="b-leaf-header"> <div class="b-leaf-userpic"> <a href="https://zolak.livejournal.com/" target="_blank" class="b-leaf-userpic-inner" lj:user="zolak">   <img src="https://l-stat.livejournal.net/img/userpics/userpic-user.png?v=15821" alt="zolak" loading="lazy">  </a> </div> <div class="b-leaf-details">   <p class="b-leaf-username"><span class="b-leaf-username-name"><span class="ljuser  i-ljuser  i-ljuser-deleted  i-ljuser-type-P     " data-ljuser="zolak" lj:user="zolak"><a href="https://zolak.livejournal.com/profile" class="i-ljuser-profile" target="_self"><img class="i-ljuser-userhead" src="https://l-stat.livejournal.net/img/userinfo_v8.svg?v=17080?v=657"></a><a href="https://zolak.livejournal.com/" class="i-ljuser-username" target="_self"><b>zolak</b></a></span> </span>  </p> <p class="b-leaf-meta">  <a href="https://lacinka.livejournal.com/24020.html?thread=152020#t152020" class="b-leaf-permalink" target="_self"> <span class="b-leaf-createdtime">January 31 2006, 07:40:12 UTC</span> </a>   <span class="b-leaf-shorttime">17 years ago</span>   </p>   </ul>        </div> </div>  <div class="b-leaf-article"> Dyk a Ty što pra hetuju publikacyju raniej nia viedaŭ? </div>   </div> </div>    </div></div>     <div prev-next-nav=""></div> <div suggestion-for-unlogged="" class="ng-isolate-scope"><!-- ngIf: directive.isBlockVisible --></div>   </div>         
