---
id: 24536
layout: page
date: 2022-10-16
---


<!-- s-body -->
        <div class="s-body">

            <!-- use header -->
            <!-- /use header -->

            <!-- Content -->
             <article class="b-singlepost hentry h-entry js-emojis  b-singlepost-mobileadaptive  b-singlepost-withbodybanner  ng-scope" role="main" ng-app="Entry"> <div class="b-singlepost-qrcode  ng-isolate-scope" lj-qrcode="https://lacinka.livejournal.com/24536.html" lj-qrcode-width="70" lj-qrcode-height="70"> <canvas width="70" height="70"></canvas></div> <div class="b-singlepost-about"> <dl class=" b-singlepost-author author vcard p-author h-card " ng-non-bindable=""> <dt class=" b-singlepost-author-userpic photo u-photo " lj:user="zolak">  <img src="https://l-userpic.livejournal.com/56724982/707281" width="" height="" align="absmiddle" title="Zołak: pic#56724982" alt="">  </dt> <dd class="b-singlepost-author-userinfo"> <div class="b-singlepost-author-userinfo-screen"> <span class=" b-singlepost-author-user fn p-name "> <span class="b-singlepost-author-user-screen"> Zołak (<span class="ljuser  i-ljuser  i-ljuser-deleted  i-ljuser-type-P     " data-ljuser="zolak" lj:user="zolak"><a href="https://zolak.livejournal.com/profile" target="_self" class="i-ljuser-profile"><img class="i-ljuser-userhead" src="https://l-stat.livejournal.net/img/userinfo_v8.svg?v=17080?v=657"></a><a href="https://zolak.livejournal.com/" class="i-ljuser-username" target="_self"><b>zolak</b></a></span>) wrote in <span class="ljuser  i-ljuser  i-ljuser-type-C     " data-ljuser="lacinka" lj:user="lacinka"><a href="https://lacinka.livejournal.com/profile" target="_self" class="i-ljuser-profile"><img class="i-ljuser-userhead" src="https://l-stat.livejournal.net/img/community.gif?v=556?v=657"></a><a href="https://lacinka.livejournal.com/" class="i-ljuser-username" target="_self"><b>lacinka</b></a></span>, </span> </span> <br> <time class=" b-singlepost-author-date published dt-published "><a href="https://lacinka.livejournal.com/2006/" target="_self">2006</a>-<a href="https://lacinka.livejournal.com/2006/02/" target="_self">02</a>-<a href="https://lacinka.livejournal.com/2006/02/10/" target="_self">10</a> 02:03:00</time>   </div> <div class="b-singlepost-author-userinfo-print"> <span class=" b-singlepost-author-user fn p-name "> Zołak<br> <span class="ljuser  i-ljuser  i-ljuser-deleted  i-ljuser-type-P     " data-ljuser="zolak" lj:user="zolak"><a href="https://zolak.livejournal.com/profile" target="_self" class="i-ljuser-profile"><img class="i-ljuser-userhead" src="https://l-stat.livejournal.net/img/userinfo_v8.svg?v=17080?v=657"></a><a href="https://zolak.livejournal.com/" class="i-ljuser-username" target="_self"><b>zolak</b></a></span>  <br><span class="ljuser  i-ljuser  i-ljuser-type-C     " data-ljuser="lacinka" lj:user="lacinka"><a href="https://lacinka.livejournal.com/profile" target="_self" class="i-ljuser-profile"><img class="i-ljuser-userhead" src="https://l-stat.livejournal.net/img/community.gif?v=556?v=657"></a><a href="https://lacinka.livejournal.com/" class="i-ljuser-username" target="_self"><b>lacinka</b></a></span>  </span> <br> <time class=" b-singlepost-author-date published dt-published "><a href="https://lacinka.livejournal.com/2006/" target="_self">2006</a>-<a href="https://lacinka.livejournal.com/2006/02/" target="_self">02</a>-<a href="https://lacinka.livejournal.com/2006/02/10/" target="_self">10</a> 02:03:00</time> </div> </dd> </dl>  </div>    <div class="b-singlepost-wrapper">  <h1 class=" b-singlepost-title entry-title p-name " ng-non-bindable="">      Biełaruskaja łacinka  </h1>  <div class="b-singlepost-bodywrapper">  <article class="b-singlepost-body entry-content e-content   ng-scope" lj-sale-entry="" lj-discovery-tags="" lj-embed-resizer=""> <blockquote class=""><strong>Sučasnaja biełaruskaja litaraturnaja mova, “nova-biełaruskaja” piśmovaść, litaratura j knihadrukavańnie, niesumnienna ŭźnikli j raźvivalisia ciaham pieršych 50 hadoŭ svajho jsnavańnia ŭ formie mienavita łacinskaha alfabetu</strong>  — miarkuje aŭtar hetaha artykułu, Mikoła Pačkajeŭ.</blockquote><a name="cutid1" target="_self"></a>

<br><br><strong>Łacinka</strong> (zvanaja časam taksama "łacinicaj" albo biełaruskaj abecedaj) - heta nazva biełaruskaha piśma łacinskim alfabetam. Chacia najstarejšaje dakumentalnaje śviedčańnie pra łacinskuju knižnaść u Biełarusi datujecca ХІ st., a łacinskaja piśmovaść u Biełarusi była charakternaja ludziam adukavanym ad časoŭ siarednieviečča i da ХІХ stahodździa (hl. napr. <a target="_self"> Мikoła Husoŭski</a>), adnak, nakolki viadoma, biełaruskaja (nie-łacinamoŭnaja) piśmovaść da XVI stahodździa jsnavała adno ŭ formie kiryličnaj hrafiki. Peravaha pravasłaŭnaj tradycyi chryścijanstva na bolšaj častcy terytoryi krainy da siaredziny XVI st. abumoŭlivała toje, što piśmovy standart "stara-biełaruskaj" movy (aficyjnaj movy Vialikaha Kniastva Litoŭskaha) doŭhi čas zastavaŭsia pad mocnym upłyvam carkoŭna-słavianskaj movy - śviatoj movy Biblii i litruhii ŭ słavianskim pravasłaŭi. <br><br>                                         

Adnak u siaredzinie XVI stahodździa na biełaruskich ziemlach chutka raźvivajucca kultura renesansu j <a target="_self">pracesy Refarmacyi</a>. Refarmacyja, kontrrefarmacyja, i raspaŭsiudžvańnie aśviety ŭ eŭrapiejskim styli, jakija hetym pracesam spadarožničali - usio heta było siarod najvažniejšych čyńnikaŭ, jakija pad kaniec XVI stahodździa značna “ačyścili” archaičnuju biełaruskuju piśmovuju movu ad rysaŭ carkoŭna-słavianskaj. Pačynajučy ad hetaj epoki, štoraz čaściej sustrakajucca j biełaruskija teksty, vykananyja łacinskaj hrafikaj.<br><br>                                         

<img src="https://imgprx.livejournal.net/22462a76b2c77827d77a0330af6057dc9c6c2b8a/9aWD1ZK2AH213bEDD2D_1T69TsNehQUZOwiKK6gNaIYb3uDGWwcQCxfjupCzcaMELDi84d51RFKS3aM6O542Hf3amq8LtOKlRdGFbWSd6yQ" align="left" hspace="6" alt="Zygmunt.jpg" width="131" height="200" loading="lazy">U ekspazycyi Nacyjanalnaha histaryčnaha muzeju ŭ Miensku možna pabačyć naprykład <a target="_self">Pryvilej karala j vialikaha kniazia Žygimonta III Vazy</a> (u Polščy viadomaha jak Sigismundus, Zygmunt III Waza), <a target="_self">dadzieny horadu Viciebsku na "Magdeburskaje prava" (h.zn. prava haradzkoha samakiravańnia), 1597 hodu.</a> Hety dakument ujaŭlaje saboj prykład archaičnaj, abo “stara-biełaruskaj” łacinki. Biełaruskaja łacinnka XVI-XVII st. šmat u čym nahadvała zachodnie-słavianskija (h.zn. stara-českuju dy stara-polskuju) systemy piśma: napr. jana vykarystoŭvała “cz” dla pieradačy [č], “sz” dla [š], “ż” dla [ž], “w” dla [v], a taksama “y” dziela pieradačy jak [y] tak i [j] (h.zn. napr. “moj” było b napisana jak “moy”).<br><br>                                         

Z druhoha boku, u adroźnieńni ad napr. polskaj movy, zvyčajna nie rabili roźnicy pamiž litarami "Ł" dy “L”, tak što kožnaje “L” ličyłasia takim samym ćviordym hukam, jak i (zredčas užyvanaje) “Ł”: napr. u zhadanym <u><a target="_self">Pryvilei</a></u> napisana "Inf<b>lia</b>nski" a nie "Inf<b>la</b>nski". Dalej, u adroźnieńni ad polskaj, miakkaje [t'] pieradavałasia jak “t” - a nie jak “c”: napr. "wolnosti" a nie "wolnosci". Padobnym ža čynam, miakkaje [d’] pisałasia как “d” - a nie “dz” (napr. “di” a nie “dzi”, "<b>de</b>dyczny" a nie "<b>dzie</b>dyczny"). Akramia taho, “stara-biełaruskaja” łacinka nie ŭžyvała litary “g”, a tolki “h” (i tut padabienstva da českaj piśmovaści). Kali ž była patreba adznačyć mienavita huk [g], jaho časta pieradavali na piśmie jak “kh”: napr. "<b>Kh</b>otski" (pa-polsku pisałasia "<b>G</b>otski") - idučy vierahodna za prykładam starabiełaruskaj kirylicy, dzie huk “g” j sapraŭdy adlustroŭvaŭsia jak “кг”: “кгродски”, “Кготски”, “Жыкгимонт”, “кгвалт”, i h.d. Paźniej, niekatoryja časta ŭžyvanyja zamiežnyja imiony, nazvy j terminy, jakija mieli ŭ sabie hety huk, pačali pisacca ź litaraj “g”, napr. "Ży<b>g</b>imont", "prawa Ma<b>g</b>deburska<b>h</b>o". U toj ža čas, šmatlikija kančatki, napr. takija jak. “ij” (“iy”) ŭ prymietnikach, iduć za carkoŭna-słavianskimi ŭzorami, chacia i ŭžyvajucca ŭ tyja časy ŭžo niepaśladoŭna. Litara “E” aznačaje jak [e] hetak i [je]. Naohuł, słušnaj zdajecca vysnova, što archaičnaja biełaruskaja łacinka pieršapačatkova farmavałasia čmat u čym jak svojeasablivaja transliteracyja z tahačasnaj systemy starabiełaruskaj kirylicy (hl. napr. takija elementy, jak užyvańnie “-ti-” dy “-kh-”).<br><br>                                         

{mospagebreak title=Zachavanyja prykłady}<img src="https://imgprx.livejournal.net/42b77ec5ad9ab59c7f2e94364d73d6679b86459e/9aWD1ZK2AH213bEDD2D_1T69TsNehQUZOwiKK6gNaIYb3uDGWwcQCxfjupCzcaMEui_XXXOErEgmFX9MnsiGDjETRi50Zt_mkEfmfEQ4jZQ" align="left" hspace="6" alt="Zvon1583.jpg" width="170" height="170" loading="lazy">Bolšaść zachavanych najstarejšych uzoraŭ archaičnaj biełaruskaj łacinki – heta jurydyčnyja dakumenty. Adnak varta adznačyć, što ŭžo na hetaj rańniaj stadyi svajho raźvićcia, starabiełaruskaja piśmovaść łacinskim alfabetam nie była abmiežavanaja adno da dakumentaŭ na papiery albo perhamencie, ale vykarystoŭvałasia taksama dziela šyrokaha spektru inšych aficyjnych i publičnych funkcyjaŭ. U jakaści prykładu možna pryvieści redki nadpis starabiełaruskaj łacinkaj z 1583 h., (na ilustracyi) zrobleny na zvanie, jaki naležyć carkvie ŭ vioscy Moładava, vystaŭlenym ciapier u Muzei Starabiełaruskaj kultury pry Akademii Navuk Biełarusi ŭ Miensku.<br><br>                                         

<img src="https://imgprx.livejournal.net/4f38642fdd321ec08991aed21138ca4e3f6a92d7/9aWD1ZK2AH213bEDD2D_1T69TsNehQUZOwiKK6gNaIYb3uDGWwcQCxfjupCzcaME9mpN0PJ1wORB-BFYvV40IxB550yhOfDaFnFIfJ7mPvU" align="right" hspace="6" alt="Bychaviec.gif" width="281" height="110" loading="lazy">Nie zvažajučy na pieravahu „kirylič- naj spadčyny”, u toj ža peryjad XVI-XVII st., kali mova (stara-) biełarus-kich dakumentaŭ štoraz vyraźniej prypadabniajecca da žyvoj biełaruskaj movy, mova hetaja ŭsio čaściej pryjmaje łacinkavuju pisanuju formu. Aprača šmatlikich jurydyčnych dakumentaŭ, dokazy hetaha možna znajści naprykład na „lehiendach” piačatkaŭ niekatorych biełaruskich haradoŭ. Toje samaje možna skazać i pra litaraturnuju movu, jak naprykład u „Kronicy Bychaŭca”, napisanaj taksama archaičnaj biełaruskaj łacinkaj (hl. ilustracyju). U toj čas, kali najstarejšy prykład „stara-biełaruskaha” knihadrukavańnia kirylicaj datujuć na 1517 h., vierahodna najraniejšy drukavanmy tekst starabiełaruskaj łacinkaj znachodzicca ŭ publikacyi 1642 h. pad zahałoŭkam <i>„Witanie na Pierwszy Wiazd z Krolowca do Kadlubka Saskiego Wilenskiego”</i> [Wilno] (jezuicki dy anty-luteranski pamflet).<br><br>                                         

Jak viadoma, dziesiacihadovy rasiejski napad u 1654-1667 hh. spustašyŭ biełaruskija harady, straty dasiahali 80% haradzkoha j 50% usiaho nasielnictva; za hetym išła (Druhaja) Paŭnočnaja vajna, jakaja pryniesła straty da 25% nasielnictva; tamu na pierałomie XVII-XVIII st. (stara-) biełaruskaja kurturnaja tradycyja akazałasia ŭ značnaj stupieni prosta fizyčna padarvanaj. Chacia da 1719 h. ad "stara-biełaruskaj" movy, u jakaści "movy sudovaj" paŭsiudna admovilisia na karyść polskaj, usio ž nielha śćviardžać, što biełaruskaja piśmovaja tradycyja ciaham jakoha-niebudź peryjadu była sucelna spynienaja. Zachavalisia šmatlikija dakumenty, napisanyja albo pierapisanyja pa-biełarusku (łacinkaj) i ŭ XVIII st., a vunijackaja Carkva drukavała niekatoryja svaje vydańni, naprykład zborniki himnaŭ pa-biełarusku łacinkaj. Havorka tut napr. pra takija publikacyi, jak zbornik biełaruskich himnaŭ “Wzory Doskonałości Panieńskiey…” (Supraśl, 1772) i niekalki biełaruskich vypuskaŭ hzv. "Kantyčak" łacinkaj u 1770-ch h. (vydadziena tamsama); a taksama “Kantyczka, abo nabożne pieśni w narzeczu Połockim” vydańnia Soc. Jes. u Połacku ŭ 1774 h. Malitvy, nadrukavanyja archaičnaj biełaruskaj łacinkaj, byli źmieščanyja napr. u knizie "Nauka Dobrey śmierci .. w kościele Societatis Jesu ... w Wilnie", 1754 h.. Cikavym faktam źjaŭlajecca j toje, što "stara-biełaruskaj" łacinkaj drukavali navat <b>hatyčnym</b> šryftam, napr. Symbol Viery ŭ "Wiara Prawosławna Pismem Świętym ..." Wilno, 1704 &amp; 1747, star. 9-14. Hl. taksama (ilustracyja sprava) prykład kalendara-Paschalii (uschodniaha abradu) za 1780 h., na sumiesi carkoŭna-słavianskaj i "stara-biełaruskaj" movaŭ, nadrukavanaha staroj biełaruskaj łacinkaj. Akramia taho, zachavałasia niekalki rukapisaŭ dramatyčnaha j paetyčnaha źmiestu, XVIII i pačatku XIX st., hl napr. (źleva) častku, napisanuju stara-biełaruskaj łacinkaj, z rukapisnaha zbornika (dramy) Marašeŭskaha (1770-ja - 1780-ja hh.). Miž tym, toje ž zakanadaŭstva, jakoje pad kaniec XVII st. zrabiła polskuju movu (aprača łaciny) aficyjnaj movaj usiaje Rečy Paspalitaj (pryniata kab abaranić spravavodztva Rečy Paspalitaj ad hiermanizacyi, u suviazi z abrańniem niemca (saksonca) polskim karalom i vialikim kniaziem litoŭskim), paćvierdziła adnak i jurydyčnuju moc usich raniejšych dakumentaŭ - na movie aryhinału. Takim čynam, u XVIII st. aficyjnaja kopija luboha dakumentu vydavałasia pa-biełarusku (naturalna, łacinkaj) - kali heta była mova aryhinału. Nižej hl. dva prykłady takoha rodu, sa zboraŭ Biełaruskaj Biblijateki j Muzeju imia F. Skaryny ŭ Londanie.                                         
<table border="0" width="53%" cellspacing="0" cellpadding="0"><tbody><tr><td width="50%" align="center"><img border="1" src="https://imgprx.livejournal.net/dd886046cc34ce93247d92d5f879bc2235702f95/9aWD1ZK2AH213bEDD2D_1T69TsNehQUZOwiKK6gNaIYb3uDGWwcQCxfjupCzcaMEcX9UrRjNKdVja96dF1Zuswc6qsb3OFgmsI62MKQ9DDg" width="234" height="236" loading="lazy"><br>Dakument, napisany "stara-biełaruskaj" łacinkaj, kopija 1741 h., adnosna majontkaŭ, pieradadzienych u spadčynu kniaziami Mienskaha kniastva.</td>                                         
<td width="50%" align="center" valign="top"><img border="1" src="https://imgprx.livejournal.net/3a76b205793ae4f759b74dbf00f3dc16ca436711/9aWD1ZK2AH213bEDD2D_1T69TsNehQUZOwiKK6gNaIYb3uDGWwcQCxfjupCzcaMEgNQSqBf4J2oGg0C-oHFicHLyllwZ1uGUPhQRjJy8V1A" width="227" height="236" loading="lazy"><br>Dakument, datyčny nieruchomaści, pieradadzienaj u spadčynu ad macieja Puškina, napisany “stara-biełaruskaj” łacinkaj, kopija 1785 h.</td></tr></tbody></table><br><br>                                         

Kažučy pra biełaruskuju piśmovaść, zvyčajna pryniata zasiarodžvacca tolki na prykładach rukapisnych i drukavanych tekstaŭ. Adnak isnujuć i źviestki, što jašče daloka da aficyjnaha prniaćcia polskaj movy ŭ jakaści adzinaj jurydyčnaj (aprača łaciny), stara-biełaruskaja piśmovaść faktyčna <img border="1" src="https://imgprx.livejournal.net/c6ddabad1954cec0389671fbeb6ae9d31185cd50/9aWD1ZK2AH213bEDD2D_1T69TsNehQUZOwiKK6gNaIYb3uDGWwcQCxfjupCzcaMEFMAw7eE7d8wxsskTj4fLjEr6Gvox1rqV8rVrnqc94s0" hspace="5" style="float: left" width="250" height="152" loading="lazy">zastavałasia ŭ svojeasablivym paŭaficyjnym užytku - h.zn. dziela inšych farmalnych patrebaŭ, čym jurydyčnyja - uklučna da apošniaha padziełu Rečy Paspalitaj abodvuch narodaŭ. U jakaści ilustracyi možna zhadać nahrobnyja nadpisy kanca XVIII st. Naprykład, hl. fotazymak nahrobka z (raniej pieravažna vunijackaha) miastečka ŭ centralna-uschodniaj Biełarusi. Na kamiani vysiečana: “1794 […] IHNATKAWA”. Vierahodna, što pa-polsku pavinna było b być "I<b>G</b>NATK<b>O</b>WA". Pradbaču, što niekatoryja ŭsio ž buduć nastojvać, što heta "polski" nadpis - “adno” ź dźvuma pamyłkami. Adnak ujaŭlajecca, što, tym bolej pry vykanańni hetaha dosyć hruntoŭnaha, nie aby-jakoha nahrobka (adzinaha tam z XVIII st.), było b naturanla spadziavacca, što majstry trymalisia b takoha varyjantu, jaki byŭ by pryniaty, i razhladaŭsia b jak słušny ŭ tych vakolicach u tuju epoku, <img border="1" src="https://imgprx.livejournal.net/9c0a284bae6471a9fd0affea600d790c37c6c008/9aWD1ZK2AH213bEDD2D_1T69TsNehQUZOwiKK6gNaIYb3uDGWwcQCxfjupCzcaMEKL5v83DIh7O5NfR7U5Q03kU3yjxqjSfPd7KsyRNb4wE" hspace="5" style="float: right" width="184" height="147" loading="lazy">tamu naŭrad ci takoje napisańnie možna było b adrazu "śpisać" na zvyčajnuju niepiśmiennaść. Akramia taho hety "niapravilny polski" nadpis na dziva adpaviadaje tamu, jak pavinien vyhladać pravilny nadpis biełaruskaj łacinkaj. Tamu, bieručy taksama pad uvahu paznačanaje vyšej ab užyvańni "stara-biełaruskaha" piśma ŭ XVIII st., zdajecca, što varta pryznać hety nadpis u jakaści prykładu biełaruskaj łacinki. (Chacia ŭ toj čas nie było b nazvanym "biełaruskim" - hl. "Nazoŭ Biełarusi" u seńsie historyi ŭžyvańnia nazvy). Na žal, na siońnia niama hruntoŭnych daśledvańniaŭ takich "napaŭaficyjnych" nadpisaŭ u Biełarusi hetaj epoki.<br><br>                                         

{mospagebreak title=Zabaronienaja mova}                                         
Važnaj transfarmacyjaj u systemie biełaruskaj piśmovaści na pierałomie XVIII - XIX st. (h.zn. u peryjad, kali biełaruskaja mova nia mieła aficyjnaha ŭžytku), byŭ pierachod ad etymalahičnaha da fanetyčnaha pryncypy ŭ napisańni. Fanetyčny pryncyp štoraz šyrej raspaŭsiudžvaŭsia siarod aŭtaraŭ, jakija pisali pa-biełarusku ŭ pieršaj pałovie XIX st. - asabliva tamu, što bolšaść biełaruskamoŭnych materyjałaŭ z taje epoki maje falklorny charaktar, albo pad falklor stylizavany. Tak, artahrafija ŭ biełaruskich vieršach <u><a href="http://www.cus.cam.ac.uk/~np214/cacot.htm" rel="nofollow" target="_self">Jana Čačota</a></u>, nadrukavanych u Vilni ŭ 1840-ch hh. užo vyrazna hruntujecca na fanetyčnym pryncypie (hl. ilustracyju, "Da miłych..."). <br><br>                                         

<img border="1" src="https://imgprx.livejournal.net/f1ac81dc3ce90ff9de3bd548316a15b3a9ecf7aa/9aWD1ZK2AH213bEDD2D_1T69TsNehQUZOwiKK6gNaIYb3uDGWwcQCxfjupCzcaMEzIuLkE_Pp3qUQcGf6dTpCFWfutc8uGEoPflQcCIUrFhcolVMEOWCg75gYRHkl6vj" hspace="5" style="float: right" width="197" height="142" loading="lazy">Inšym prykładam biełaruskaha piśma (łacinkaj) abapiertym pieravažna na fanetyčny pryncyp, źjaŭlajecca "Mužyckaja praŭda (hl. ilustacyju), drukavanaja ŭ 1863-64 hh. padčas antyrasiejskaha paŭstańnia, vydavańnie jakoj źviazvajecca ź imiem <u><a href="http://www.belarus-misc.org/writer/kalinouski.htm" rel="nofollow" target="_self">Kastusia Kalinoŭskaha</a></u>. Tuju ž systemu znachodzim i ŭ rukapisie "Lista z-pad šybienicy" Kalinoŭskaha (hl. ilustracyju).<br><br>                                         

Nie zvažajučy na niemahčymaśść lehalna drukavać u Rasiejskaj imperyi pa-biełarusku (lubym šryftam, a tym bolš łacinskim), mienavita łacincy addavali pieravahu pieršyja biełaruskija litaratary ŭ svajoj tvorčaści j sprobach danieści jaje da čytača - i zusim nia tolki z pryčyny blizkaha znajomstva z polskaj kulturaj. Pa-pieršaje, ułasnabiełaruskaj kiryličnaj systemy piśma na toj čas užo nie jsnavała ("starabiełaruskaja" kirylica daŭno skončyłasia). <img border="0" src="https://imgprx.livejournal.net/57b51a179d135ffbd86775b3b3ac6bdb75c9fd05/9aWD1ZK2AH213bEDD2D_1T69TsNehQUZOwiKK6gNaIYb3uDGWwcQCxfjupCzcaMEgE95iqpNt1ePaDv_zAlbHjLVdaNIBgmD4tGbFQ3Vh5E" hspace="5" vspace="3" style="float: left" width="229" height="355" loading="lazy">                                         
Pa-druhoje, naležyć pamiatać, što adzinym rodam šyroka dastupnych narodu publikacyjaŭ pa-biełarusku ŭ tyja časy byli staryja vunijackija zborniki biełaruskich relihijnych himnaŭ (hzv. "Kantyčki") jašče z kanca XVIII st. (u niekatorych addalenych miascovaściach Biełarusi viadomyja až da kanca XX st.); hetyja "Kantyčki" mahli być tady adzinaj krynicaj ułasnabiełaruskaj piśmiennaści ŭ narodzie. Tamu nie ździŭlaje, što, kali Vincent Dunin-Marcinkievič u kancy 1850-ch hadoŭ źviarnuŭsia da rasiejskich cenzurnych uładaŭ pa dazvoł na publikacyju svaich pracaŭ pa-biełarusku (łacinkaj), jon spasyłaŭsia na ahulnaviadomy ŭ tyja časy fakt, što bolšaść piśmiennych ludziej siarod prostaha ludu Biełarusi byli piśmiennyja mienavita ŭ sensie łacinskaha alfabetu - asabliva sialanie.                                         
Chacia Dunin-Marcinkievič dazvołu nie atrymaŭ (dy j rukapisaŭ jamu, zdajecca, nie viarnuli), u niekalkich vypadkach jamu ŭdałosia abyjści cenzuru, i nadrukavać u Miensku svaje tvory pa-biełarusku - ale pad polskimi zahałoŭkami, napr. “Dudarz Białoruski”, “Hapon” (hl. ilustracyi). Tym časam, biełaruski druk raźvivaŭsia hałoŭnym čynam u emihracyi; a polskamoŭnyja vokładki (i pradmovy) da biełaruskich tvoraŭ sustrakajucca i ŭ emihranckich publikacyjach, napr. Rypiński Alexander (1811-1900), "Niaczyścik. Ballada białoruska." Poznań 1853. 2-je vyd. s.l. 1853. 3-ja vyd., 1853., bo bolšaść čytačoŭ mieła pačatkovuju polskuju adukacyju.<br><br>                                         

<img border="1" src="https://imgprx.livejournal.net/13fa0044fc0cd2843a432512c1a9601a535fd974/9aWD1ZK2AH213bEDD2D_1T69TsNehQUZOwiKK6gNaIYb3uDGWwcQCxfjupCzcaMEGoUz4um1iNBnYctJzmgi4vTg1D8PoiGq87zqGSt4G-ORY0PbwXoJR8nlxwV9JUgZ" hspace="5" vspace="1" style="float: left" width="115" height="200" loading="lazy">Biełaruskaja łacinka siaredziny XIX st. zachavała tradycyjnyja rysy, jakija łučyli jaje z polskaj piśmovaściu. Adnak u druhoj pałovie XIX st., kali "ajcy zasnavalniki" biełaruskaj litaraturnaj movy dy litaratury publikavali svaje pracy, łacinka ŭžo štoraz bolš nabližałasia da svajho sučasnaha standartu.  <img border="o" src="https://imgprx.livejournal.net/f528b731fe403e15fa7dc8f6ac31d1f9f9a8c5be/9aWD1ZK2AH213bEDD2D_1T69TsNehQUZOwiKK6gNaIYb3uDGWwcQCxfjupCzcaME1fCO77mRe4kE1xnj1K0yGgehzisVqnMLlF6DNP747Qg" hspace="5" vspace="5" style="float: right" width="162" height="209" loading="lazy">Važnym punktam na hetym šlachu stalisia knihi, vydadzienyja ŭ Krakavie Franciškam Bahuševičam (hl. <u><a href="http://www.cus.cam.ac.uk/~np214/bahusz.htm" rel="nofollow" target="_self">bolej pra jahonuju knižku “Dudka Białaruskaja”</a></u>1891 h.), dzie (ŭśled za niekatorymi raniejšymi prykładami ŭ publikacyjach Jana Čačota j Dunina-Marcinkieviča) u biełaruskim piśmovym užytku było zamacavanaje "u-nieskładovaje" - litara “ŭ” (jakoje paźniej pierajšło ŭ kirylicu jak “ў”). Aprača hetaj novaj litary, tadycyjnyja hrafičnyja rysy, uklučajučy “cz”, “sz”, “ż”, zachavalisia da reformy 1900-ch hh; naturalna, “ć”, “ś”, “ź”, “ń” vykarystoŭvalisia dziela pieradačy miakkich “t”, “s”, “z” i “n” adpaviedna.<br><br>                                         

Ahułam, 38 nazvaŭ knih było vydadziena pa-biełarusku (łacinkaj, naturalna) ciaham XIX st. (paraŭn. da 191 u 1900-1916 hh.), pieravažna za miežami Rasiejskaj imperyi. Siarod hetych publikacyjaŭ byli: <br>                                         
- Staraja pryzkazka. Lwów 1887. <br>                                         
- Bahuszewicz F. Dudka białaruskaja Macieja Buraczka. Kraków 1891. 2-je vydańnie: Kraków 1896. <br>                                         
- Bahuszewicz F. Smyk biełaruski, Poznań 1894. <br>                                         
- Bahuszewicz F. Tralalonaczka. Kraków 1892. <br>                                         
- Hutarka staroha dzieda. Poznań (?), 1861. Paris, 1862. <br>                                         
- Dziadźka Anton, abo hutarka... Wilno (nasamreč, Tilzit), 1892. <br>                                         
- Pieśni nabožnyja. [Warszawa?] 1861. <br>                                         
- Pczycki F. Kryuda i prauda. Hutarka biełaruskaja. S.l. 1863. <br>                                         
- Krótkie zebranie nauki Chrześcijańskiej. Wilno, 1835. <br>                                         
- Pan Tadeusz. Dwanatcac szlacheckich bylic napisau Adam Mickiewicz. Pierawiarnuu na biełaruskuju haworku Wincenty Dunun-Marcinkiewicz. Wilno, 1859. <br>                                         
- Pan Tadeusz, poemat. Pierałażyu z polskaho na biełaruski jazyk A. Jelski. Lwów, 1893. <br><br>                                         

Rabilisia ŭ XIX st. taksama sproby vydavańnia biełaruskich peryjadyčnych vydańniaŭ (łacinkaj): <br>                                         
- Hutarka dwoch susiedou. Białystok, 1861-1862. (Vyjšłi 4 numary). <br>                                         
- Hutorka. Białystok, 1862-3. (Aŭtar i vydaviec. Kastuś Kalinoŭski). <br>                                         
- Mużyckaja Prauda. Białystok. 1862-3 (Kastuś Kalinoŭski, vyjšła 7 numaroŭ). <br>                                         
- Zmowa-kupis-susistarimas-hromadzki zhowor (abjava). Zurich. 1870. (Vyjšaŭ No.1, 15 lipienia 1870 h., pa-biełarusku, letuvisku j polsku). <br><br>                                         

Akramia hetaha, u 1893 h. u Krakavie drukavałasia ŭlotka-pamflet biełaruskaj łacinkaj, jakaja pačynałasia słovami "Haspadary, da was piszym heta apawiadańnie..."<br><br>                                         

<i>Takim čynam, kali kazać pra sučasnuju biełaruskuju litaraturnuju movu, “nova-biełaruskuju” piśmovaść, litaraturu j knihadrukavańnie, to jany niesumnienna ŭźnikli j raźvivalisia ciaham pieršych 50 hadoŭ svajho jsnavańnia ŭ formie mienavita łacinskaha alfabetu.</i><br><br>

Knihadrukavańnie pa-biełarusku było faktyčna zabaronienaja ŭ Rasiejskaj Imperyi, tym bolš paśla [paŭstańnia] 1863 h., aprača vuzkaha spektru navukovych metaŭ u halinie etnahrafii. Janka Stankievič zhadvaje tolki adzin vypadak, kali niechta abyjšoŭ hetuju zabaronu, nadrukavaŭšy zbornik biełaruskich pieśniaŭ u Sankt-Pieciarburzie ŭ 1890-ch hh., łacinkaj, zajaŭlajučy, adnak, što heta „baŭharskija” pieśni. Pad vyhladam „etnahrafičnaj” nadrukavaŭ rasiejskaj kirylicaj svaju vieršavanuju brašuru ŭ Pieciarburzie i Alaksandar Jelski (1895, hl. nižej). Hetki stan rečaŭ doŭžyŭsia da liberalizacyi rasiejskich zakonaŭ ab presie (paśla revalucyi 1905 h.), kali pajaviłasia mahčymaść zasnavać šerah biełaruskich vydaviectvaŭ.<br><br>                                         

{mospagebreak title=Adradžeńnie}                                         
Važnym momantam dla biełaruskaj łacinki stałasia ŭ 1907 h. apublikavańnie vydavieckaj kampanijaj „"Zahlanie słonca i w nasze wakienca" (u S-Pieciarburzie) novaj abecedy łacinkaj novaha lemantara (łacinkaj), u jakim aŭtary faktyčna ździejśnili madernizacyju biełaruskaj łacinskaj hrafiki. Tak, idučy ŭśled za padobnaj (značna raniejšaj) reformaj u českaj dy słavackaj piśmovaściach – aŭtary ŭviali litaru „č” zamiest raniejšaj „cz”, a taksama litary „š” i „ž” zamiest „sz” i „ż”. Zachavalisia litary „ł” dy „w” (apošniaja užyvałasia dziela pieradačy huku [v]). Adnak reforma hetaja była čysta hrafičnaj, tak što sama systema biełaruskaj łacinki zastałasia calkam zhodnaj z tradycyjaj, zamacavanaj Bahuševičam (1891).<br><br>                                         

<img style="border: none;" alt="alt" src="https://imgprx.livejournal.net/44dcb0849118b03b1d0566722d4b4cc42d377fed/9aWD1ZK2AH213bEDD2D_1T69TsNehQUZOwiKK6gNaIYb3uDGWwcQCxfjupCzcaMEDvuDhgaW7rfEAvgZI55XkiMnxfnpXgMTi55kZTxiMvc" width="335" height="28" loading="lazy"><br><br>

Inšyja biełaruskija vydaviectvy, ŭ Vilni, Miensku, i S-Pieciarburzie, taksama pajšli ŭśled za hetaj reformaj. Nižej pakazanyja niekatoryja prykłady publikacyjaŭ biełaruskaj łacinkaj 1906-1914 hh.<br><br>                                         
 
<img style="border: none;" alt="alt" src="https://imgprx.livejournal.net/fa20409abca9dacb0fec8e004fe0ed551f40d3dc/9aWD1ZK2AH213bEDD2D_1T69TsNehQUZOwiKK6gNaIYb3uDGWwcQCxfjupCzcaMEoVxJU5LwuGyoX4-rsupkkQOAHe0jQ8Y5BSE8w8Vbtis" width="367" height="378" loading="lazy"><br><br>

Jak vynik hetaj dastatkova ŭdałaj madernizacyi, hetkaja „abnoŭlenaja” łacinka składałasia ź mienšaj kolkaści litaraŭ, chacia j bolšaj kolkaści <a href="http://" rel="nofollow" target="_self">dyjakrytyčnych znakaŭ</a>. <img border="0" src="https://imgprx.livejournal.net/a18761311dc8e7375c2f5707a6d0fc94f6c7ad37/9aWD1ZK2AH213bEDD2D_1T69TsNehQUZOwiKK6gNaIYb3uDGWwcQCxfjupCzcaMEsnD9PF6ay_MHihwTW6J74dMi34o6GRkY18Z0xouuJGs" hspace="5" vspace="2" style="float: left" width="147" height="71" loading="lazy">Nieŭzabavie jana stałasia praktyčna ahulnapryniatym standartam druku, viadomym jak „<a href="http://" rel="nofollow" target="_self">Naša-Niŭskaja łacinka</a>” (bo jana stałasia papularnaj u tym liku dziakujučy vykarystańniu jaje gazetaj „Naša Niva”). Bolš za toje, nieŭzabavie ŭsie zaryjentavalisia, što pieravažnaja bolšaść usich dastupnych naohuł publikacyjaŭ biełaruskaj łacinkaj byli ŭžo nadrukavanyja mienavita hetak, i tamu „dyjakrytyčnaja” <img border="1" src="https://imgprx.livejournal.net/a6d597520691c6020be67b7ee730fadc3a6a4c50/9aWD1ZK2AH213bEDD2D_1T69TsNehQUZOwiKK6gNaIYb3uDGWwcQCxfjupCzcaMEfCNFQa9CKDICiR_GorqsjouFoFl9c215MTLZnC8xDuo" hspace="5" vspace="2" style="float: right" width="227" height="84" loading="lazy">systema łacinki nia tolki zamacavałasia ŭ druku, ale j pačała pieravažać u pryvatnych listavańniach, asabistych natatkach, užyvacca dziela ŭsich inšych patrebaŭ (hl. Aŭtohraf Janki Kupały, „Epihrama” 1910 h.) – uklučajučy taksama kamercyjnuju reklamu. (hl. Nižej prykład reklamy biełaruskaj łacinkaj z 1912 h.). Naohuł, hetaja systema dastatkova dobra słužyła patrebam biełaruskaj movy, i vykarystoŭvajecca dahetul ź minimalnymi papraŭkami (hl. nižej). <img border="1" src="https://imgprx.livejournal.net/293b5d7c39d35c45e55fa0a715af4460f6cbe609/9aWD1ZK2AH213bEDD2D_1T69TsNehQUZOwiKK6gNaIYb3uDGWwcQCxfjupCzcaMEpUGmcgZnr1_6qCCYKg-9oMbtR_XMVN_9Bn2ZyqsQk6M" hspace="5" vspace="2" style="float: left" width="304" height="85" loading="lazy">Starym sposabam (z „cz” dy „sz”) praciahvali vydavać tyja, chto nia mieŭ techničnaj mahčymaści drukavać zhodna z novym standartam. Reformu, jakaja ŭviała dyjakrytyčnyja znaki, nasamreč nie pryniali adno niekatoryja klerykalnyja vydaŭcy, takija, jak <a href="http://" rel="nofollow" target="_self">Balasłaŭ Pačobka</a> i inšyja z kołaŭ katalickaj gazety „Biełarus”. Hl. nižej prykład hetkaj pradukcyi.<br><br>                                         

<img border="0" src="https://imgprx.livejournal.net/94b057d0670175c80ac22341b31ac9484d7dc8f5/9aWD1ZK2AH213bEDD2D_1T69TsNehQUZOwiKK6gNaIYb3uDGWwcQCxfjupCzcaMEgJsxQh_wiG2oR166XEOgl4bxCVVuAhG9_BkqaqQmUNA" hspace="5" vspace="2" style="float: left" width="198" height="160" loading="lazy"> U hetuju ž epoku kanca XIX – pačatku XX st., biełaruskija aŭtary j vydaŭcy pačali eksperymentavać z kiryličnaj piśmovaściu dla biełaruskaj movy. Viedańnie rasiejskaj movy da taho času ŭžo istotna pašyryłasia ŭ Biełarusi (tym bolš, što i alternatyvaŭ nie było) – a vydaŭcy byli pieradusim zacikaŭlenyja tym, kab bielaruskija publikacyi dajšli da jak najšyrejšaha koła čytačoŭ. Tamu niekatoryja biełaruskija dziejačy bačyli nieabchodnaść stvareńnia biełaruskaj piśmovaści taksama j rasiejskim „гражданским” alfabetam – hzv. "гражданкой". Pieršyja prykłady druku biełaruskich tekstaŭ rasiejskimi litarami (naprykład vieršy Janki Łučyny ŭ rasiejskich gazetach) zvyčajna sucelna jšli ŭsled za rasiejskaj (etymalahičnaj) artahrafijaj praktyčna va ŭsim – uklučajučy navat charakternuju litaru "ять".                                         
Inšym svojeasablivym rańnim varyjantam dla biełaruskaj kirylicy stalisia try brašury, vydadzienyja ŭ 1902-3 hh. ŭ Londanie "Polskaj sacyjalistyčnaj partyjaj u Litvie". Adnak u hetych brašurach biełaruskija słovy pieradadzienyja tak, jak kali b ich spačatku napisać zhodna z polskaj etymalohijaj a potym prosta pierapisać rasiejskimi litarami. Nivodzin z takich sposabaŭ pieradačy biełaruskich tekstaŭ kirylicaj nia moža być pryznanym ułasna biełaruskaj kirylicaj.  Inšyja raniejšyja prykłady nova-biełaruskaj piśmovaści krylicaj, takija, jak brašura "Сынок" A. Jelskaha (1895), zbornik vieršaŭ J. Łučyny (SPb, 1903), dy kiryličnaja versija gazety "Naša Dola" ("Наша Доля")(1906), taksama paśladoŭna prytrymlivajucca rasiejskaha "hramadzianskaha" alfabetu - chacia ŭ samoj struktury pieradačy słovaŭ užo pajaŭlajecca vyrazny ŭpłyŭ  systemy tahačasnaj biełaruskaj łacinki. Hetak, jašče ŭ 1895 h. u S-Piecierburzie vyjšła (stylizavanaja pad falklor) vieršavanaja brašura A.J. [Alaksandar Jelski], "'Сынокъ!" Pазсказъ зъ праўдзиваго здарэння... 1895 року". U hetym vydańni znachodzim charakternyja dla rasiejskaj artahrafii "ятьи" dy "еры", a taksama litary "щ" dy "и", adnak va ŭsim astatnim vyrazna zaŭvažny ŭpłyu łacinki, i jość užo litara "ў".  U paśmiarotnym vydańni Janki Łučyny (Niesłuchoŭskaha) "Вязанка" SPb "1903 року", "ять"-aŭ užo niama, ale jość "ер"-y, "щ", "и"; chacia jość i biełaruskaja "ў". Naohuł, nie zvažajučy na nastolki razroźnienyja dośviedy z roznaha rodu prystasoŭvańniem rasiejskaha alfabetu da bielaruskaj movy, bielaruskaja kirylica ŭźnikła jak systema kala 1907 h., kali zhadanyja vyšej vydavieckija kampanii pačali drukavać (taksama) kirylicaj akreślenaha vyhladu. Adziny standart biełaruskaj kirylicy nadalej ciaham peŭnaha času zastavaŭsia prablemaj: adny ŭžyvali litaru "и" dla huku, inšyja karystalisia łacinskaj litaraj "i", a va ŭsim astatnim karystalisia tahačasnym rasiejskim alfabetam. Urešcie, da kanca 1900-ch hh. zamacavałasia svojeasablivaja źmiašanaja (ci možna navat skazać niepaśladoŭnaja) systema bielaruskaj kiryličnaj hrafiki, u jakoj hałosnaja "i" pišacca jak łacinskaja, a ŭ toj ža čas zyčny huk "j" pišacca rasiejskaj litaraj "и-краткое"; zamacavałasia ŭrešcie j rasiejskaja litara "ё", jakaja vyklikała šmatlikija sprečki. Hetaja systema jsnuje pa siońnia. <br><br>                                         

Varta padkreślić pry hetym, što kštałtavańnie hetaj biełaruskaj kirylicy praktyčna paŭtaryła historyju z uźniknieńniem "stara-biełaruskaj" łacinki - tolki naadvarot. <img border="1" src="https://imgprx.livejournal.net/fb19e9d952e192d1057a54f6c4566e6be7618974/9aWD1ZK2AH213bEDD2D_1T69TsNehQUZOwiKK6gNaIYb3uDGWwcQCxfjupCzcaMEGcI9jH-3UItfPwRy11_I1Rr63MJp8p8HWA383Ee2e4c" hspace="5" vspace="2" style="float: right" width="142" height="221" loading="lazy"> Jak niekali  archaičnaja biełaruskaja łacinka ŭźnikła šmat u čym jak transliteracyja sa "stara-biełaruskaha" kiryličnaha piśma, - hetak i "nova-bielaruskaja" kirylica na dobry ład skłałasia jak transliteracyja z systemy ("nova-") biełaruskaj łacinki - atrymaŭšy pry hetym u spadčynu ŭsie charakternyja dla jaje rysy. <br><br>                                         

Heta stajecca całkam zrazumiełym pry paraŭnańni naprykład taho, jak hetyja dźvie systemy pieradajuć miakkaść "d" i "t". Miakkaść ichnaja pieradajecca jnakš, čym miakkaść usich inšych hukaŭ - pryčym identyčna ŭ bielaruskaj łacincy i (idučy za joj uśled) u bielaruskaj kirylicy. A mienavita, u bielaruskaj łacincy XIX st. miakkaje "d" na piśmie pieradavałasia, padobna jak u polskaj movie, jak "dz" (dź). A ŭ ("nova-") biełaruskaj kirylicy heta było prosta translitaravana z łacinki, pieradajučy kožnuju miakkuju "д" jak "дз" (дзь) - i nikoli jak "дь". Padobnym čynam taksama napisańnie ŭ biełaruskaj łacincy miakkaha "t" paznačajecca praz "ć", i biełaruskaja kirylica zapazyčaje hetuju strukturu z łacinki, paznačajučy kožnaje miakkaje "т" jak "ць", i nikoli jak "ть". Sama nazva "łacinki" pišacca praź miakkuju "c", jakaja ŭ biełaruskaj kirylicy adpaviedna adlustroŭvajecca jak "ц": "лацінка". Dalej, ("nova-") biełaruskaja kirylica zapazyčyła "bahuševičavuju" "ŭ": adlustravańnie jakoj u bielaruskaj kirylicy vyhladaje jak "ў", što j stałasia, takim čynam, charakternaj rysaj biełaruskaj kirylicy (hetaj litary niama ŭ inšych systemach kirylicy, što j nie ździŭlaje). Aprača taho, u niekatorych raniejšych biełaruskich vydańniach kirylicaj nie vykarystoŭvali rasiejskaj "ё" (hetaj litary niama ŭ łacincy), a litara "o" jotujecca z "i" jak u łacincy. Śpisać naprykład hetyja "дзь", "ць" ci "ў" tolki na "fanetyčny pryncyp", hzn. na "dz-ekańnie", "c-ekańnie" dy "ŭ-kańnie" ŭ biełaruskim vymaŭleńni, niemahčyma: "klasyčnaja" biełaruskaja kirylica idzie ŭśled za "fanetyčnym pryncypam" tam, dzie hetkaja źjava nazirałasia ŭ łacincy, i adychodzić ad jaho tam, dzie ad jaho adychodziła łacinka; savieckaja biełaruskaja kirylica (1933 h.) pajšła, praŭda, krychu svajoj ściažynaj.<br><br>                                         

<u>Tak, što možna navat śćviardžać, što biełarusy pišuć, u sensie systemy, nadalej łacinkaj - navat kali jany karystajucca kiryličnymi litarami.</u> <br><br>                                         

<img border="1" src="https://imgprx.livejournal.net/30027d5c331eba916138f0ffec64b19d43dcaca0/9aWD1ZK2AH213bEDD2D_1T69TsNehQUZOwiKK6gNaIYb3uDGWwcQCxfjupCzcaMERX3pS7r3_DinQMooPN0RbWLOAyP_0Xfbpo82ItTvfD4" hspace="5" vspace="2" style="float: right" width="192" height="98" loading="lazy">Ciaham dvuch pieršych dzie- siacihodździaŭ XX st. łacinka j kirylica jsnavali ŭ biełaruskaj piśmovaści adnačasova. Šmatli- kija knihi navat drukavalisia ŭ dvuch varyjantach - častka nak- ładu łacinkaj, a častka kirylicaj. <br><br>                                         

Abiedźvie systemy vykarystoŭvalisia ŭ peryjadyčnych vydańniach. Zhadanyja vyšej "Naša Dola" j "Naša Niva" vydavali častku nakładu kožnaha numaru łacinkaj i častku kirylicaj. U 1910 h. ŭ suviazi z finansavymi ciažkaściami "Naša Niva" upieršyniu razhladała pytańnie ab pierachodzie na adzin z varyjantaŭ. Redakcyja praviała apytańnie padpiščykaŭ pa pytańni šryftu, da jakoha jany bolš schilnyja. Vyjaviłasia, što bolšaść padpiščykaŭ addała pieravahu kirylicy, chacia prychilnikaŭ łacinki było tolki nie niašmat mieniej.  Akramia taho apytańnie pakazała, što mnohija z tych, chto addavaŭ pieravahu łacincy, byli schilnyja čytać "Našu Nivu" navat i ŭ tym vypadku, kali b jana drukavałasia tolki kirylicaj; adnak siarod prychilnikaŭ kirylicy apynułasia zusim niašmat tych, chto byu by schilny čytać byełaruskuju gazetu tolki łacinkaj. "Naša Niva" praciahvała vydavacca ŭ dvuch varyjantach jašče da listapada 1912 h., kali novy finansavy kryzys prymusiŭ zrabić vybar. Redakcyja abvieściła, što jana vymušanaja albo začynić gazetu, albo drukavać tolki adzin varyjant, bo, maŭlaŭ, kožny numar mieŭ padvojny košt. Bieručy pad uvahu vyniki apytańnia 1910 h., vybar byŭ zrobleny na karyść kirylicy. Adnak kalandary j dadatki da "Našaj Nivy" nadalej drukavali łacinkaj i kirylicaj. <br><br>                                         

<img src="https://imgprx.livejournal.net/39bf1efec93f23cc0debc418acbc732659881787/9aWD1ZK2AH213bEDD2D_1T69TsNehQUZOwiKK6gNaIYb3uDGWwcQCxfjupCzcaMEpWVBbpTIbA_y3ma0ziaXRxrE3H_1CEB0NO5roDFbw6I" align="left" hspace="6" alt="Svajak.jpg" border="1" width="166" height="221" loading="lazy">Raspaŭsiudžanaje mierkavańnie, što vybar na karyść kirylicy albo łacinki - pry roŭnych astatnich momantach - hruntavaŭsia na relihijnaj prynaležnaści, hzn. rymskija kataliki schilalisia da łacinki, a pravasłaŭnyja da kirylicy. U niekatorych vypadkach heta mahło mieć uskosnaje značeńnie, bo pieršapačatkovaja piśmiennaść čytačoŭ mižvoli bazavała na polskaj albo rasiejskaj movie, i, kali piśmiennyja kataliki ŭ Biełarusi na pačatku XX st. praktyčna ŭsie byli znajomyja z kirylicaj, siarod piśmiennych pravasłaŭnych było značna mienšaje viedańnie łacinskaha alfabetu. Adnak zdajecca, što našmat bolšy ŭpłyu za vieravyznańnie mieła ahulnaja kulturnaja aryjentacyja: łacinka ž užyvałasia i ŭ niekatorych pravasłaŭnych publikacyjach, naprykład "Pieršyje malitwy i paznańnie chryścijanskaj prawasłaunaj wiery", vyd. 1918 h. (hl ilustracyju nižej.)<br><br>                                         

Aprača knih, niekalki biełaruskich peryjadyčnych vydańniaŭ taksama vydavałasia łacinkaj - albo łacinkaj drukavałasia adna z versijaŭ:<br><br>                                         

 - Biełarus. Tydniowaja katalickaja hazeta. Vilnia, 1913-1915: tolki łacinkaj. <br>                                         
 - Homan. Biełaruska-Wilenski czasopis. Vilnia, 1916-1918: tolki łacinkaj. <br>                                         
 - Kołas biełaruskaj niwy. Horadnia, 1913: tolki łacinkaj, nievialikim nakładam. <br>                                         
 - Krynica. Biełaruskaja hazeta. No. 1-6, 1917: tolki łacinkaj. <br>                                         
 - Nasza Dola. Vilnia. 6 numaroŭ u 1906 h. Vychodziła ŭ łacinkavym i kiryličnym varyjantach. Naprykład pieršy numar vyjšaŭ 6000 as. kirylicaj i 4000 łacinkaj. <br>                                         
 - Naša Niwa. Vilnia. Łacinkavaja j kiryličnaja versii vychodzili ad  1906 da 18/31 <br>kastryčnika 1912 h.; tolki kiryličnaja versija praciahvała vychodzić da zniŭnia 1915 h.                                           
 - Świetač. Biełaruskaja štotydniowaja hazeta. Pietrahrad, No. 1-7, 1916 - łacinkaj. <br><br>                                         

<img src="https://imgprx.livejournal.net/aad0672b7a14b25e1d3a9f61a562e1c261747a3e/9aWD1ZK2AH213bEDD2D_1T69TsNehQUZOwiKK6gNaIYb3uDGWwcQCxfjupCzcaME_zdA0LgtjSALwmGQk9qXwAQYnROJLOJ8oWEoly2-3Ms" align="right" hspace="6" alt="hinden.jpg" border="1" width="200" height="310" loading="lazy">Nie zvažajučy na supolnaje jsnavańnie kirylicy j łacinki ŭ tahačasnaj biełaruskaj piśmovaści, zdajecca, łacinskaja tradycyja razhladałasia ŭ tuju epoku jak bolš "lehitymnaja" (vierahodna ŭ jakaści pieršasnaj dla sučasnaj biełaruskaj movy). Naprykład, kali ŭ 1915 h., zaniaŭšy Vilniu feldmaršał Paul von Hindenburg pryznaŭ ad imia niamieckich imperatarskich uzbrojenych siłaŭ, aficyjny ststus za biełaruskaj movaj (upieršyniu paśla bolš jak 200-hadovaha pierapynku!) - jon pryznaŭ hety ststus mienavita za łacinkavaj versijaj biełaruskaj piśmovaści.  Tamu, kali pryśpieje čas pastavić za heta pomnik feldmaršału ŭ Biełarusi, spraviadliva było b napisać jahonaje imia mienavita łacinskimi litarami (žart). Padobnym čynam, adzin z pieršych (kali nia pieršy) mižnarodny słoŭnik, u jakim była j biełaruskaja mova - "Sieben-Sprachen Wörtbuch: Deutsch / Polnisch / Russisch / Weißruthenisch / Litauisch / Lettisch / Juddisch. Herausgeben in Auftrage des Oberbefehlshabers Ost. Verlag: Presseabteilung Oberbefehlshabers Ost" [1918] - taksama vyjaŭlaŭ biełaruskija słovy ŭ ich łacinkavym vyhladzie.Adsutnaść kiryličnych šryftoŭ ci nia viedańnie niemcami kirylicy nia moža tut być tłumačeńniem, bo rasiejskija słovy ŭ tym samym słoŭniku nadrukavanyja naturalna kirylicaj.  <br><br>                                         

Va ŭschodniaj častcy Biełarusi, jakaja ŭ 1921 h. adyjšła da SSSR, łacinka nikoli nie ŭžyvałasia va ŭsiakim razie aficyjna ci adkryta. Adnak aŭtaru nie viadoma pra jakuju-niebudź farmalnuju zabaronu łacinki ŭ pad-savieckaj Biełarusi. Bolš za toje, pytańnie taho, katoraja ź dźviuch systemaŭ bolš pasuje nadalej abmiarkoŭvałasia ŭ presie ŭ 1920-ja hady, i na jaho była źviernutaja značnaja ŭvaha na Akademičnaj Kanferencyi pa biełaruskaj movie ŭ Miensku ŭ 1926 h. Prychilnikam łacinki ŭ BSSR byŭ, miž inšym pieršy staršynia Saŭnarkamu BSSR Žyłunovič (Ciška Hartny). "Kančatkovym" ža arhumentam prychilnikaŭ kirylicy było toje, što kali Rasieja źjaŭlajecca lidaram usiaśvietnaj praletarskaj revalucyi, dyk i rasiejski kiryličny alfabet jość hruntam dziela piśmovaści ŭsiaśvietnaj pralatarskaj kultury budučyni, nia kažučy ŭžo pra bielarusaŭ.  U toj čas, jak prychilniki łacinki ŭ BSSR spasyłalisia naprykład na linhvistyčnuju metazhodnaść, jaje praciŭniki pryvodzili dokazy hałoŭnym čynam z haliny "klasavaj baraćby" dy kamunistyčnaj idealohii - tamu sprečka była sapraŭdy niaroŭnaja...<br><br>                                         

"Pieradusim nieabchodna vyrašyć, chto bolš zacikaŭleny reformaj alfabetaŭ na padstavie łacinki - praletaryjat ci buržuazija?..." - pytaŭsia, naprykład, viadomy tahačasny biełaruski litaratar i publicyst Uładzimier Duboŭka ŭ svajoj brašury 1926 h. "Kirylica ci łacinka?" Jon impetna vystupaŭ suprać łacinki ŭ biełaruskaj movie, i byŭ pierakanany, što łacinka  - heta niešta "buržuaznaje" dy "imperyjalistyčnaje", nieŭłaścivaje pralatarskaj kultury. I naohuł, poŭnaja niepatrebnaść łacinki dla biełarusaŭ, śćviardžaŭ Dubboŭka,  nahetulki ž vidavočnaja, jak i nieabchodnaść metro (jakoje tady tolki prajektavałasia) Maskvie. U toj ža čas jon vykazvaŭsia za madernizacyju biełaruskaj kirylicy, uvodziačy novyja litary dziela pieradačy hukaŭ, paznačanych siońnia jak "дзь" dy "дж".<br><br>                                         

Adnak padobnyja debaty (hetakža jak i vynachodžvańnie novych "niaruskich" značkoŭ u kirylicy) razhladalisia savieckim kamunistyčnym kiraŭnictvam naohuł jak dyversyjnaja dziejnaść, tamu jany nie mahli praciahvacca ŭ časy, kali razmachu nabiraŭ stalinski teror. Publikacyi ŭ pad-savieckaj Biełarusi paśla 1933 h. užo kateharyčna śćviardžali, što łacinka ŭjaŭlaje saboj ni što inšaje, jak najvyšejšaja stupień kontr-revalucyi, h.zn.:<br><br>                                      

<img src="https://imgprx.livejournal.net/c2dcce904081fd5c1cac1c873036bd342c4fdb6e/9aWD1ZK2AH213bEDD2D_1T69TsNehQUZOwiKK6gNaIYb3uDGWwcQCxfjupCzcaME98sCb4lGhtXtMZPRCW74I9cLGyaU4ENUKveLEmhM5fo" align="left" hspace="6" alt="cytata.jpg" width="425" height="44" loading="lazy">                           

... ihd. Ad pačatku 1930-ch hadoŭ udzielniki zhadanaj užo Akademičnaj kanferencyi byli represavanyja, i da 1938 h. byli praktyčna ŭsie rasstralanyja. A Ŭładzimir Duboŭka apynuŭsia ŭ stalinskich kataržnych lahierach u Sibiry, dzie pravioŭ dziesiać hadoŭ.  <br><br>                                         

<img src="https://imgprx.livejournal.net/8f624d65c29f7961fac321645b2a7fe448e0db0f/9aWD1ZK2AH213bEDD2D_1T69TsNehQUZOwiKK6gNaIYb3uDGWwcQCxfjupCzcaMEpdo08fhVEZPqz1yevp45BKYcpDL3HYYUt_gVtniqzzs" align="right" hspace="6" alt="Kalos.jpg" width="174" height="132" loading="lazy">U zachodniaj ža Biełarusi, jakaja ad 1921 h. stałasia častkaj Polščy, abodva alfabety praciahvali svabodna sujsnavać. Polskija ŭłady stavilisia da biełaruskaj kulturnaj dziejnaści biez spahady, i nie prajaŭlali zacikaŭleńnia biełaruskimi debatami pra alfabet. Pieršaje vydańnie Biełaruskaj Hramatyki dla Škoł Branisłava Taraškieviča (jašče ŭ 1918 h.) było vydadzienaje ŭ dvuch varyjantach - kirylicaj i łacinkaj. U "klasyčnym" vydańni Hramatyki (Vilnia 1929 h.), jakaja kadyfikavała hramatyku biełaruskaj litaraturnaj movy na toj momant, pradstaŭlenyja jak "беларускі альфабэт" tak i "biełaruskaja abeceda", chacia asnoŭnym šryftam dadzienaha vydańnia źjaŭlajecca kirylica. <br><br>                                         
 
{mospagebreak title=Drenny kaniec dobraha pačatku}                                          
Prablematyka dvuch alfabetaŭ abmiarkoŭvałasia taksama ŭ zachodnie-biełaruskaj presie. Adnak, u adroźnieńni ad BSSR z arhumentami pra "klasavuju baraćbu", jakija tam daminavali, zachodnie-biełaruskija debaty pa hetym pytańni zasiarodžvalisia hałoŭnym čynam na pytańniach vybaru pamiž metazhodnaściu vykarystańnia łacinki - jak alfabetu, jakim karystajecca Eŭropa i ŭvieś zachodni śviet, i žadańniem zachavać kirylicu jak rysu, jakaja dadatkova padkreślivaje adroźnieńnie biełaruskaj movy ad aficyjnaj polskaj.  Hetak, niekatoryja aŭtary, napr. Kanstancyja Skirmunt (u brašury Fascynacja nazwy i potęga litery, Wilno 1928) akcentavali, pa-pieršaje, što biełaruski narod naŭrad ci zmoža sucelna dałučycca da sučasnaj eŭrapiejskaj/zachodniaj cyvilizacyi i karystacca jaje dasiahnieńniami, kali pieradusim nia vyrviecca z hetaj rasiejska-eŭraazijskaj zony ŭpłyvaŭ (tym bolš kamunistyčnaj). Pa-druhoje, biełaruski narod naŭrad ci zdoleje vyzvalicca z-pad hetych upłyvaŭ, kali śpiarša nie admovicca ad błytaniny "dvuch-alfabetnaści" i nia pryjmie dla siabie łacinki ŭ jakaści asnoŭnaj systemy svajoj piśmovaści. Tamu, pisała Kanstancyja Skirmunt, dla biełaruskaha narodu sam kiryličny alfabet jak taki źjaŭlajecca ŭ hetym sensie "varožym dla jahonaj svabody"... Adnak asabliva naprykancy 30-ch hadoŭ - jak reakcyja na polskuju asymilacyjnuju rytoryku dy "endeckuju" palityku "sanacyi" - šmatlikija biełarusy ŭ pieradvajennaj Polščy pačali sapraŭdy razhladać kirylicu ŭ jakaści lepšaha alfabetu, i da pačatku II ŭsiaśvietnaj vajny (1939 h.) mienavita kiryličnaj piśmovaści pačali addavać palityčnuju pieravahu ŭ kołach zachodniebiełaruskaj intelihiencyi. <br><br>                                         

<img src="https://imgprx.livejournal.net/d8149edf90570f74b73ef9fed82a54cb04b0f763/9aWD1ZK2AH213bEDD2D_1T69TsNehQUZOwiKK6gNaIYb3uDGWwcQCxfjupCzcaME3mTg6TlB_g72fA2PwBNa1bQbHzT7bTjaXfBx9Hw2yHw" align="left" hspace="6" alt="Chrdum2.jpg" width="267" height="85" loading="lazy">Hetkim čynam, značnaja kolkaść roznych publikacyjaŭ u Zachodniaj Biełarusi praciahvała vychodzić biełaruskaj łacinkaj. Zasłuha ŭ hetym pieradusim naležyć namahańniam lideraŭ ruchu Biełaruskaj Chryścijanskaj Demakratyi, takich, jak ksiondz Adam Stankievič, ks. V. Hadleŭski i inš. Najbolš značnymi peryjadyčnymi vydańniami hetkaha rodu byli "Krynica" dy "Chryścijanskaja dumka". Abodva vydańni pieršapačatkova byli zasnavanyja jak katalickija publikacyi, ale ŭ 1930-ch byli vymušanyja transfarmavacca ŭ farmalna savieckija, pad naciskam peŭnych (niepryjazna nastaŭlenych) polskich kaścielnych uładaŭ. (Novaj rysaj biełaruskich peryjadyčnych publikacyjaŭ stałasia toje, što materyjały jak kirylicaj, hetak i łacinkaj čaściakom źmiaščalisia adny pobač druhich u adnym numary vydańnia (u adroźnieńni ad raniejšaj praktyki vydavańnia dvuch varyjantaŭ adnaho numaru): napr. "Krynica", "Šlach moładzi"). Hl. prykłady (abjavy z "Chryścijanskaj Dumki") na ilustracyjach:<img src="https://imgprx.livejournal.net/ec09203d8bd01d43c835eb48b4d25c27a2e5f046/9aWD1ZK2AH213bEDD2D_1T69TsNehQUZOwiKK6gNaIYb3uDGWwcQCxfjupCzcaMEcs1oiS77bzFWrCUhDNkRvayXRGqvZZWnWr21bzooFZ0" align="left" hspace="6" alt="Knizki.jpg" width="264" height="241" loading="lazy"><br><br>                                         

Taksama značnaja kolkaść knih z pieradvajennaj Zachodniaj Biełarusi drukavałasia biełaruskaj łacinkaj, hałoŭnym čynam u Vilni (akramia taho, takija vydańni vydavalisia napr. u Prazie). Jak vynikaje z statystyki, pryviedzienaj J. Turonkam "Książka białoruska w Drugiej RP" (Warszawa 2000) siarod usich biełaruskich knižnych tytułaŭ, vydadzienych u 1921-1939 hh. łacinkaj było vydadziena 35,5%.                                         
Znoŭ ža treba pryznać zasłuhu ŭ hetym Biełaruskaj Chryścijanskaj Demakratyi, jakaja zasnavała biełaruskaje vydaviectva imia Franciška Skaryny ŭ Vilni. U siviazi z tym, što takija aŭtary, jak ks. Adam Stankievič byli śviatarami, im nieabchodny byŭ dazvoł kaścielnych uładaŭ dziela publikavańnia šmatlikich svaich pracaŭ relihijnaha charaktaru; dazvoły im lahčej było atrymać u Lvovie, čym u Vilni,                                         

<img src="https://imgprx.livejournal.net/26e197c4b5b9e3f432d2e777177c92f7c9490326/9aWD1ZK2AH213bEDD2D_1T69TsNehQUZOwiKK6gNaIYb3uDGWwcQCxfjupCzcaMEYBXfpUzkj2JKXv0AbzfqeFf_FzXA3euNR9obHPrFCV0" align="right" hspace="6" alt="A-stank.jpg" width="272" height="382" loading="lazy"> i tamu ŭ niekatorych vypadkach Lvoŭ byŭ paznačany ŭ jakaści miesca publikacyi. Faktyčna ž Vilnia źjaŭlałasia miescam druku vierahodna ŭsich padobnych vydańniaŭ. <br><br>                                         

&amp;nbsp;Było b adnak niasłušna mierkavać, što łacinkaj karystalisia ŭ Zachodniaj Biełarusi adno rymskija kataliki, ci što kataliki pisali pa-biełarusku tolki łacinkaj. Pa-pieršaje, sami kataliki stavilisia da łacinki biez fanatyzmu. U 1929 h., naprykład, prablematyka šryftu abmiarkoŭvałasia na staronkach "Biełaruskaj Krynicy" (aficyjnaje vydańnie partyi Biełaruskaj Chryścijanskaj Demakratyi), i ad taho času bublikacyi BChD vydavalisia jak łacinkaj, hetak i kirylicaj (hl. pra heta ŭ  А. Stankievič. Biełaruski Chryścijanski Ruch).  Pa-druhoje, łacinkaj praciahvali drukavać šmatlikija pracy litaraturnaha dy inšaha źmiestu, jakija zusim nia mieli nijakaj relihijnaj skiravanaści. Urešcie, biełaruskaj łacinkaj, akramia rymska-katalickich vydańniaŭ, drukavalisia taksama vunijackija (naprykład časopis "Złučeńnie", 1938), pratestanckija i navat pravasłaŭnyja publikacyi - hl ilustracyi:   
<p><img src="https://imgprx.livejournal.net/14c321607ccd68b52d9deb6b685fdb1a75bf6428/9aWD1ZK2AH213bEDD2D_1T69TsNehQUZOwiKK6gNaIYb3uDGWwcQCxfjupCzcaME43loxrVnpSj5mYobN5at_L4RO4_g68OayB-EhdT49IM" alt="kanfesii.jpg" width="474" height="222" loading="lazy">  <br>Pravasłaŭnaje (1918), metadysckaje (1925) i katalickaje (1927) vydańni biełaruskaj łacinkaj.<br>                                        

<img src="https://imgprx.livejournal.net/5b58ba23ebf1f2e643a259fc26abd95637cd6cec/9aWD1ZK2AH213bEDD2D_1T69TsNehQUZOwiKK6gNaIYb3uDGWwcQCxfjupCzcaMEpViW1eg599WkV3m6pkvqdH30oqDN5216cp-Op0RwSSs" align="left" hspace="6" alt="Kryn1.jpg" width="173" height="156" loading="lazy">Naprykancy 1930-ch hadoŭ adbyłasia apošniaja hrafičnaja transfarmacyja ŭ biełaruskaj łacincy, źviazanaja z tym, što niekatoryja vydaŭcy, vierahodna imknučysia paźbiehčy davoli nienavisnych u tyja časy dla niekatorych biełarusaŭ prykmietaŭ "polskaści", pačali admaŭlacca ad histaryčnaha "w" na karyśc "v" što j stałasia pieravažnaj praktykaj u druhoj pałovie 1930-ch hh. Hety praces farmalna zavieršyŭsia, kali, užo ŭ časy Druhoj Usiaśvietnaj vajny, u łacinkavaj versii novaha padručnika arfahrafii (Biełaruski Pravapis) Jazepa Losika (Miensk, 1943; paźniej vydadzieny ŭ ZŠA) litara "w" užo całkam adsutničała. <br><br>                                         

Aŭtaru nieviadomyja jakija-niebudź biełaruskija publikacyi paślavajennaha peryjadu, dzie b "w" užyvałasia ŭ jakaści "v". A što datyčyć biełaruskich publikacyjaŭ paślavajennaha peryjadu, dyk pieravažnaja ich častka napisanaja kirylicaj, chacia j da łacinki stavilisia tady dosyć talerantna. Užyvańnie łacinki ŭ Biełarusi asabliva skaraciłasia ad 1943 h, bo ŭpłyvovaja ultra-pravasłaŭnaja hrupa siarod palityčnaha aktyvu imknułasia pierakanać niemcaŭ, što łacinka - heta "polskaja intryha".<br><br>                                         

Adnak hl abjavu, nadrukavanuju łacinkaj u 1944 h. u sucelna kirylicznaj (na toj čas) gazecie "Ranica" (biełaruskaja gazeta ŭ Berlinie).<br><br>                                         

Ad siaredziny 1940-ch hh. i da pačatku novaha biełaruskaha adradžeńnia naprykancy 1980-ch, druk biełaruskaj łacinkaj praciahvaŭsia tolki ŭ emihracyi.                                          
U šmatlikich sytuacyjach pryčynaj hetaha była adno adsutnaść techničnaj mahčymaści vydavańnia kirylicaj, adnak u niekatorych vypadkach, zdajecca, heta ŭsio ž było j pryncypovym pytańniem (napr. publikacyi Vacłava Panuceviča ŭ Čykaha). Značnaje biełaruskaje knihavydavańnie łacinkaj było razhornutaje ŭ Rymie ŭ 1940-ch hh., hałoŭnym čynam namahańniami ks. d-ra Piatra Tatarynoviča, dyrektara Biełaruskaj Słužby Radyjo Vatykana. Ad 1750 da 1975 hh. jon vydaŭ 120 numaroŭ biełaruskaha časopisu "Źnič". Siarod jahonych publikacyjaŭ biełaruskaj łacinkaj - akramia niekalkich pierakładaŭ Śv. Pisańnia, liturhičnych i tealahičnych publikacyjaŭ - byli taksama biełaruski pierakład "Quo Vadis?" Hienryka Sienkieviča (1956) (na ilustracyi) i paema "Kałychanka" Ryhora Krušyny (1963). Siarod publikacyjaŭ niakatorych inšych biełaruskich vydańniaŭ tych časoŭ taksama byli knihi jak całkam łacinkavyja, hetak i častkova kiryličnyja, napr. niekalki vydańniaŭ "Zaranka" u Niu Jorku (1960-70 hh., hl ilustr. "Krajovy słoŭnik Łahojščyny", vyšej).<br><br>                                         

{mospagebreak title=Časy SSSR}                                         
U paślavajennym SSSR užyvańnie biełaruskaj łacinki razhladałasia b jak niešta vielmi pravakacyjnaje, nacyjanalistyčnaje, hłyboka antysavieckaje. Tolki prybałtam zachavali hetki pryvilej. Tym nia mienš, cikavym źjaŭlajecca fakt, što časam biełaruskaja łacinka vykarystoŭvałasia i ŭ savieckaj Biełarusi. Ź viadomych aŭtaru paźniejšych nadpisaŭ źjaŭlajecca nadpis biełaruskaj łacinkaj na nahrobku ŭ vioscy Kluščany Astravieckaha r-nu, zroblenaja ŭ siaredzinie 1970-ch hh. (!)<br><br>                                         

Ad času adnaŭleńnia niezaležnaści Biełarusi ŭ 1991 h., niekatoryja zachady rabilisia taksama dziela adradžeńnia łacinki - hetaj pieršasnaj formy piśmovaści sučasnaj biełaruskaj movy. Naprykład, adrodžanaja gazeta "Naša Niva" vydała ŭ 1993 h. adzin numar sucelna łacinkaj (na ilustracyi nižej) - dzie łacinkaj byli nadrukavanyja nia tolki artykuły, ale navat całkam kamercyjnyja abviestki (na ilustracyi). Asobnyja artykuły łacinkaj pajaŭlalisia ŭ "Našaj Nivie" j paźniej. Try vydańni adrodžanaha časopisu "Chryścijanskaja Dumka" (na ilustracyi) taksama drukavali niekatoryja artykuły łacinkaj. <br><br>                                         

Na pačatku 1990-ch hh. kala dziasiatka brašuraŭ (łacinkaj) byli faksymilna pieradrukavanyja z vydańniaŭ 1920-ch - 1930-ch hh. Adnak adradžeńnie łacinki istotna zamarudziłasia paśla 1995 h., kali režym Łukašenki viarnuŭ rasiejskuju movu ŭ jakaści aficyjnaj i pačaŭ praktyčna vyciaśniać bielaruskuju movu u kožnaj jaje formie z usich halinaŭ dziaržaŭnaha j hramadzkaha žyćcia Biełarusi. Nie zvažajučy na heta, užo ŭ 1998-99 hh. niekalki artykułaŭ było nadrukavana łacinkaj u časopisie "Spadčyna" (na ilustracyi). Peŭnuja materyjały drukavalisia łacinkaj u časopisach "Arche" i "Arche-Skaryna". Łacinkaj ža drukavaŭsia šerah nierehularnych i małanakładnych vydańniaŭ (naprykład gazeta "Litva"). Inšym cikavym prykładam źjaŭlajucca raznastajnyja pryvatnyja abviestki łacinkaj, jakija pajaŭlalisia amal u kožnym numary "Našaj Nivy" (u 2000-2001). Urešcie, čaściakom možna sustreć publikacyi biełaruskaj łacinkaj u internecie. Pajaviłasia niekalki ahulnadastupnych onlineavych prahrama dla <a target="_self">kanvertavańnia biełaruskich tekstaŭ i internetnych sajtaŭ</a> z kirylicy ŭ łacinku.  <br><br>                                         

{mospagebreak title= Sproby vynajści rovar}                                         
Łacinkavaja piśmovaść, ci prynamsi hetki navyk, pastupova stajecca svojeasablivaj prykmietaj "dobraha hustu" ŭ asiarodździ maładych biełaruskich intelektuałaŭ. Adnak niekalki dziesiacihodździaŭ nieŭžyvańnia łacinki ŭ Biełarusi pryviali da taho, što prablemaj na sučasny momant stałasia j toje, jakoj łacinkaj karystacca. Supiarečnaści pa hetym pytańni akazalisia vielmi škodnyja. Naprykład, padčas arhanizacyjnaha źjezdu Maładoha Frontu (na toj čas moładzievaj arhanizacyi Biełaruskaha Narodnaha Frontu) u vieraśni 1997 h. było prapanavana pryniać łacinku ŭ jakaści adzinaj aficyjnaj hrafiki hetaj arhanizacyi. Prapanova była adchilenaja, miž inšym, z pryčyny sprečkaŭ na temu taho, jak pavinna vyhladać sučasnaja biełaruskaja łacinka. <br><br>                                         

Pa-pieršaje, zastajucca staryja roznahałośsi na temu pravapisu "i" paśla hałosnych. Tradycyjnaj artfahrafijaj źjaŭlajecca napr. "akademii", Rasiei", Racyi", "dla ich", adnak niekatoryja paślavajennyja vydaŭcy ŭ emihracyi pisali heta jak "akademiji", Rasieji", "racyji", "dla jich", i niekatoryja ŭ Biełarusi ličać heta słušnym. <br><br>                                         

Pa-druhoje, niekatoryja ŭ Biełarusi nastojvajuć na tym, kab "abnavić" łacinku z metaj zrabić jaje bolš prydatnaj dziela sučasnych patrebaŭ, albo spraścić jaje. U suviazi z hetym isnuje davoli aktyŭnaja hrupa, jakaja damahajecca zamieny litary "ŭ" na litaru "w" (maŭlaŭ jana j tak nie ŭžyvajecca ad kanca 1930-ch). Ichnim arhumentam było toje, što litary "ŭ" nie było ŭ standartnaj kamputarnaj tablicy znakaŭ, a heta ŭskładniała vydavieckuju dziejnaść, ihd. Adnak taki arhument adpaŭ paśla pajaŭleńnia šryftoŭ "unicode" i internetnaha kadavańnia utf-8. Ciapier chutčej za ŭsio vaš browser adlustroŭvaje ŭsie znaki biełaruskaj łacinki: <strong>Ćć-Čč-Łł-Ńń-Śś-Šš-Ŭŭ-Žž-Źź</strong>.<br><br>                                         

Akramia taho, kali b pravilnaje adlustravańnie litary "ŭ" nie było mahčymym, možna paŭsiul pisać "u", bo mienavita hetaja litara pierachodzić u biełaruskaj movie ŭ "ŭ" paśla hałosnych (akramia niekatorych vyklučeńniaŭ u zapazyčanych słovach).<br><br>                                         

Niekatoryja prapanujuć adyjści ad litary "ł", što mieła b spraścić i zrabić bolš adnalitaj pieradaču miakkaści zyčnych, chacia nie da kanca jasna, jak tady prapanujuć pieradavać roźnicu pamiž napr. "stoł" i "stol". Prapanujecca taksama pisać litaru "g" zamiest "h" va ŭsich biełaruskich słovach niezaležna ad roźnicy ŭ vymaŭleńni dvuch hukaŭ jakija hetyja litary ciapier aznačajuć - u kirylicy heta litary "ґ" dy "г".<br><br>                                         

Najbolš aryhinalnaj idejaj źjaŭlajecca, vierahodna, prapanova zamianić spałučeńnie "ch" u biełaruskaj łacincy kiryličnaj litaraj "x", bo padobnaja da jaje łacinskaja litara "iks" u biełaruskaj łacincy - za vyklučeńniem niekatorych zamiežnych nazvaŭ ułasnych - i tak nie ŭžyvajecca. <br><br>                                         

Viadoma, padobnyja razychodžańni i "aryhinalnyja jdei" chutčej za ŭsio adpaduć sami saboj jak tolki (i kali) budzie apublikavanaja dastatkovaja kolkaść tekstaŭ biełaruskaj łacinkaj akreślenaj versii, što, takim čynam, praktyčna adradziła b jaje publičny ŭžytak - i adnačasova stałasia b faktam isnavańnia peŭnaha standartu, jak heta adbyłosia na pačatku XX st.  Na siońnia ž možna paraić prytrymvacca "klasyčnaj" ("Našaniŭska-taraškievičnaj" biez "w") versii łacinki; prynamsi hetak robić aŭtar. <br><br>                                         

{mospagebreak title=Fanaberyja ci nieabchodnaść?}                                         
Kažučy ab vykarystańni j praktyčnych vyhodach ad łacinki, varta zhadać pieradusim toje, što jana moža (i navat pavinna) być vykarystanaja dziela pieradačy biełaruskich imionaŭ, nazvaŭ i słovaŭ, kali nieabchodna zrabić heta łacinskimi litarami, naprykład u inšamoŭnym tekście. Naturalna, što palaki, čechi, słavaki, charvaty, słavency, niemcy, francuzy, hišpancy i naohuł usie tyja, chto maje svaju nacyjanalnuju versiju łacinskaha alfabetu nikoli nie transliterujuć svaich nazvaŭ i imionaŭ, skažam, na anhielskuju movu, zhodna ź niejkaj tam "systemaj trasliteracyi Kanhresu ZŠA" - a zaŭždy pisuć ich tak, jak jany pišucca łacinskimi litarami na svajoj movie niezaležna ad taho, ci jość tam dyjakrytyčnyja znaki, ci ich niama. I kali biełarusy (u čym, spadziajusia, pierakonvaje hety tekst) majuć ułasnuju tradycyju j systemu łacinki, to j jany pavodle tych samych pryncypaŭ całkam mohuć i pavinny dziejničać hetakža. Naprykład BNF daŭno prytrymvajecca takoj praktyki pieradačy biełaruskich imionaŭ i nazvaŭ va ŭsich (nakolki aŭtaru viadoma) svaich dakumentach, vydavanych na zamiežnych movach. <br><br>                                         

Aficyjnaje vykarystańnie łacinki ŭ Biełarusi dla takich metaŭ mahło b stacca pieršym krokam da jaje aficyjnaha viartańnia/pryznańnia. Druhim krokam mahło b stacca pryznańnie łacinki ŭ jakaści paralelnaj adicyjna-dapuščalnaj systemy piśmovaści naohuł, kab tyja, chto chacieŭ by joj karystacca mieli takoje prava, a školnaja prahrama znajomiła b vučniaŭ u škołach z pryncypami bielaruskaj łacinki. Chacia, nakolki viadoma aŭtaru, łacinku aficyjna nichto j nie zabaraniaŭ, dapuščeńnie biełaruskaj łacinki ŭ školnyja prahramy a taksama pryznańnie zakonnaj siły za dakumentami, napisanymi biełaruskaj łacinkaj, vierahodna vymahaje pryniaćcia niejkaha jurydyčnaha aktu. A što da karyści, jakuju na šyrejšuju perspektyvu mahła b adčuć Biełaruś ad pryznańnia łacinki, dyk bližejšaje znajomstva nasielnictva z łacinkaj dapamoža biełarusam vyvučać eŭrapiejskija movy, kantaktavacca z rehijonami Eŭrapiejskaha Źviazu, spraścić dostup i pryśpiešyć znajomstva z usiaśvietnymi infarmacyjnymi płyniami, takim čynam usiebakova pryčyniajučysia da raźvićcia zdolnaści Biełarusaŭ być pamostam pamiž Eŭropaj i Rasiejaj, u šyrokim sensie zamacoŭvajučy svaju eŭrapiejskuju tojesnaść, ihd.<br><br>                                         

Zhodna z bolš radykalnymi, čym u aŭtara artykułu pierakanańniami, arhumenty, vykładzienyja Kanstancyjaj Skirmunt u 1928 h. (hl. vyšej) zastajucca nadalej aktualnymi.<br><br>                                         

Pajaŭlajucca niekatoryja syhnały, što navat pad režymam aficyjnaj łukašenkaŭskaj re-rusyfikacyi ŭzmacniajecca tendencyja, mahčyma, što i ŭ strukturach, nabližanych da ŭłady, da abmiežavanaha pryznavańnia łacinki: dziela metaŭ mižnarodnaha napisańnia biełaruskich imionaŭ i nazvaŭ. Zhodna ź infaracyjaj z knihi "Беларускія iмёны" (Минск 2001, словарь белорусских имен, представляющий их написание как кириллицей так и ["классической"] латинкой), respublikanskaja tapanimičnaja kamisija pry Nacyjanalnaj akademii navuk Biełarusi, supolna z kartahrafičnym hieahrafičnym fondam rychtuje słoŭnik nazvaŭ nasielenych punktaŭ, u jakim (niekatoraje?) łacinkavaje napisańnie biełaruskich nazvaŭ budzie pradstaŭlenaje pobač z kiryličnym.  Adnak dahetul słoŭnik hety nie apublikavany, zastajucca niekatoryja sumnievy adnosna taho, jakoje kankretna napisańnie łacinskim alfabetam tam budzie padadzienaje, bo naprykład na niekatorych mapach, vydadzienych u Bielarusi ŭ siaredzinie 1990-ch hadoŭ, nazvy byli napisanyja nie biełaruskaj łacinkaj, a dziŭnaj systemaj łacinskich litaraŭ, padabranaj, vierahodna, samimi vydaŭcami. <br><br>                                         

Pakul što ciažka pradbačyć, jakoje staŭleńnie da dvuch sposabaŭ biełaruskaj piśmovaści moža skłaścisia ŭ budučyni. Aŭtar adnak chacieŭ by spadziavacca, što i dla bielaruskaj łacinki mohuć pryjści lepšyja časy. U jakaści pieradumovy, adnak, nieabchodna damahčysia bolš śvietłych perspektyvaŭ dla samoj bielaruskaj movy jak takoj - i dla Biełarusi naohuł.<br><br>                                         

Mikoła Pačkajeŭ<br><br>                                         

<i>Pierakład z <a href="http://www.cus.cam.ac.uk/~np214/lacinru.htm" rel="nofollow" target="_self">rasiejskaj</a></i>.
</p>



<br clear="all">

<p></p><a href="http://my.opera.com/lacinka/blog/show.dml/127835" rel="nofollow" target="_self">@</a><div align="right"><small><a href="http://hiero.ru/rss2lj/" rel="nofollow" target="_self">rss2lj</a></small></div><a name="cutid1-end" target="_self"></a>  </article>   </div>    </div> <div class="b-singlepost-video-wrap"> <div data-autoplay-dockable-video-mount=""></div> </div>
<div id="comments" class="b-grove" data-authtoken="c0:1682874000:231:86400:Od1aCU2jDV-0-:b85d2cd536bc5dde0444df8ffd42da5b"> <div class=" b-xylem  b-xylem-first  "> <ul class="b-xylem-cells">  <li class=" b-xylem-cell b-xylem-cell-amount ">   <span class="js-amount">  8 comments  </span>   </li>  </ul>  </div> <div class=" b-massaction-top ">  </div>    <div class=" b-tree b-tree-best ">  </div> <div class=" b-tree b-tree-promo " data-currentprice="">  </div>  <div class=" b-tree b-tree-root svgpreloader svgpreloader-pseudo svgpreloader-30 "><div class=" b-tree-twig  b-tree-twig-1 b-tree-twig-deep-0  " style="margin-left: 0px" data-tid="t155096">    <div id="t155096" class=" b-leaf         b-leaf-withsubject     b-leaf-full   comment p-comment " data-username="slaver_be" data-displayname="slaver_be" data-updated-ts="1139548704" data-full="1" data-subject="lj-cut"> <div class=" b-leaf-inner svgpreloader svgpreloader-pseudo svgpreloader-16 "> <div class="b-leaf-header"> <div class="b-leaf-userpic"> <a href="https://slaver-be.livejournal.com/" target="_blank" class="b-leaf-userpic-inner" lj:user="slaver_be">   <img src="https://l-userpic.livejournal.com/122568906/6849724" alt="slaver_be" loading="lazy" title="Slaver: while my guitar gently weeps">  </a> </div> <div class="b-leaf-details">   <h4 class="b-leaf-subject"><a href="https://lacinka.livejournal.com/24536.html?thread=155096#t155096" class="b-leaf-subject-link" target="_self">lj-cut</a></h4>  <p class="b-leaf-username"><span class="b-leaf-username-name"><span class="ljuser  i-ljuser  i-ljuser-type-P     " data-ljuser="slaver_be" lj:user="slaver_be"><a href="https://slaver-be.livejournal.com/profile" class="i-ljuser-profile" target="_self"><img class="i-ljuser-userhead" src="https://l-stat.livejournal.net/img/userinfo_v8.svg?v=17080?v=657"></a><a href="https://slaver-be.livejournal.com/" class="i-ljuser-username" target="_self"><b>slaver_be</b></a></span> </span>  </p> <p class="b-leaf-meta">  <a href="https://lacinka.livejournal.com/24536.html?thread=155096#t155096" class="b-leaf-permalink" target="_self"> <span class="b-leaf-createdtime">February 10 2006, 05:18:24 UTC</span> </a>   <span class="b-leaf-shorttime">17 years ago</span>   </p>   </ul>        </div> </div>  <div class="b-leaf-article"> Блін, я разумею, што гэта трансляція каналу, але... амаль сотня залішніх кілябайтаў у стужцы! </div>   </div> </div>    </div><div class=" b-tree-twig  b-tree-twig-2 b-tree-twig-deep-0  " style="margin-left: 30px" data-tid="t155608">    <div id="t155608" class=" b-leaf        b-leaf-poster   b-leaf-withsubject     b-leaf-full   comment p-comment " data-username="zolak" data-displayname="zolak" data-updated-ts="1139561946" data-full="1" data-subject="Re: lj-cut"> <div class=" b-leaf-inner svgpreloader svgpreloader-pseudo svgpreloader-16 "> <div class="b-leaf-header"> <div class="b-leaf-userpic"> <a href="https://zolak.livejournal.com/" target="_blank" class="b-leaf-userpic-inner" lj:user="zolak">   <img src="https://l-stat.livejournal.net/img/userpics/userpic-user.png?v=15821" alt="zolak" loading="lazy">  </a> </div> <div class="b-leaf-details">   <h4 class="b-leaf-subject"><a href="https://lacinka.livejournal.com/24536.html?thread=155608#t155608" class="b-leaf-subject-link" target="_self">Re: lj-cut</a></h4>  <p class="b-leaf-username"><span class="b-leaf-username-name"><span class="ljuser  i-ljuser  i-ljuser-deleted  i-ljuser-type-P     " data-ljuser="zolak" lj:user="zolak"><a href="https://zolak.livejournal.com/profile" class="i-ljuser-profile" target="_self"><img class="i-ljuser-userhead" src="https://l-stat.livejournal.net/img/userinfo_v8.svg?v=17080?v=657"></a><a href="https://zolak.livejournal.com/" class="i-ljuser-username" target="_self"><b>zolak</b></a></span> </span>  </p> <p class="b-leaf-meta">  <a href="https://lacinka.livejournal.com/24536.html?thread=155608#t155608" class="b-leaf-permalink" target="_self"> <span class="b-leaf-createdtime">February 10 2006, 08:59:06 UTC</span> </a>   <span class="b-leaf-shorttime">17 years ago</span>   </p>   </ul>        </div> </div>  <div class="b-leaf-article"> Kupi lepšy kamputar,  100 KB dla jaho nia buduc prablemaj. ;) <br><br>OK, prybraŭ.  </div>   </div> </div>    </div><div class=" b-tree-twig  b-tree-twig-3 b-tree-twig-deep-0  " style="margin-left: 60px" data-tid="t156888">    <div id="t156888" class=" b-leaf         b-leaf-withsubject     b-leaf-full   comment p-comment " data-username="slaver_be" data-displayname="slaver_be" data-updated-ts="1139573523" data-full="1" data-subject="Re: lj-cut"> <div class=" b-leaf-inner svgpreloader svgpreloader-pseudo svgpreloader-16 "> <div class="b-leaf-header"> <div class="b-leaf-userpic"> <a href="https://slaver-be.livejournal.com/" target="_blank" class="b-leaf-userpic-inner" lj:user="slaver_be">   <img src="https://l-userpic.livejournal.com/122568906/6849724" alt="slaver_be" loading="lazy" title="Slaver: while my guitar gently weeps">  </a> </div> <div class="b-leaf-details">   <h4 class="b-leaf-subject"><a href="https://lacinka.livejournal.com/24536.html?thread=156888#t156888" class="b-leaf-subject-link" target="_self">Re: lj-cut</a></h4>  <p class="b-leaf-username"><span class="b-leaf-username-name"><span class="ljuser  i-ljuser  i-ljuser-type-P     " data-ljuser="slaver_be" lj:user="slaver_be"><a href="https://slaver-be.livejournal.com/profile" class="i-ljuser-profile" target="_self"><img class="i-ljuser-userhead" src="https://l-stat.livejournal.net/img/userinfo_v8.svg?v=17080?v=657"></a><a href="https://slaver-be.livejournal.com/" class="i-ljuser-username" target="_self"><b>slaver_be</b></a></span> </span>  </p> <p class="b-leaf-meta">  <a href="https://lacinka.livejournal.com/24536.html?thread=156888#t156888" class="b-leaf-permalink" target="_self"> <span class="b-leaf-createdtime">February 10 2006, 12:12:03 UTC</span> </a>   <span class="b-leaf-shorttime">17 years ago</span>   </p>   </ul>        </div> </div>  <div class="b-leaf-article"> Для майго кампутару не праблема 100 Кб, а вось жаданьне матаць стужку з такім паведамленьнем няма жаданьня! </div>   </div> </div>    </div><div class=" b-tree-twig  b-tree-twig-4 b-tree-twig-deep-0  " style="margin-left: 90px" data-tid="t157144">    <div id="t157144" class=" b-leaf        b-leaf-poster   b-leaf-withsubject     b-leaf-full   comment p-comment " data-username="zolak" data-displayname="zolak" data-updated-ts="1139573870" data-full="1" data-subject="Re: lj-cut"> <div class=" b-leaf-inner svgpreloader svgpreloader-pseudo svgpreloader-16 "> <div class="b-leaf-header"> <div class="b-leaf-userpic"> <a href="https://zolak.livejournal.com/" target="_blank" class="b-leaf-userpic-inner" lj:user="zolak">   <img src="https://l-stat.livejournal.net/img/userpics/userpic-user.png?v=15821" alt="zolak" loading="lazy">  </a> </div> <div class="b-leaf-details">   <h4 class="b-leaf-subject"><a href="https://lacinka.livejournal.com/24536.html?thread=157144#t157144" class="b-leaf-subject-link" target="_self">Re: lj-cut</a></h4>  <p class="b-leaf-username"><span class="b-leaf-username-name"><span class="ljuser  i-ljuser  i-ljuser-deleted  i-ljuser-type-P     " data-ljuser="zolak" lj:user="zolak"><a href="https://zolak.livejournal.com/profile" class="i-ljuser-profile" target="_self"><img class="i-ljuser-userhead" src="https://l-stat.livejournal.net/img/userinfo_v8.svg?v=17080?v=657"></a><a href="https://zolak.livejournal.com/" class="i-ljuser-username" target="_self"><b>zolak</b></a></span> </span>  </p> <p class="b-leaf-meta">  <a href="https://lacinka.livejournal.com/24536.html?thread=157144#t157144" class="b-leaf-permalink" target="_self"> <span class="b-leaf-createdtime">February 10 2006, 12:17:50 UTC</span> </a>   <span class="b-leaf-shorttime">17 years ago</span>   </p>   </ul>        </div> </div>  <div class="b-leaf-article"> Nie žurysia, ja prosta nia viedaŭ, što jano znoŭ palezie u takich kolkaściach... Na budučyniu pastarajusia ŭparadkavać systemu tranślacyi. Prosta jaje lah4rj paradkavac na žyvym arhaniźmie ;)  </div>   </div> </div>    </div><div class=" b-tree-twig  b-tree-twig-1 b-tree-twig-deep-0  " style="margin-left: 0px" data-tid="t155352">    <div id="t155352" class=" b-leaf            b-leaf-full   comment p-comment " data-username="slotoviepus" data-displayname="slotoviepus" data-updated-ts="1139553292" data-full="1"> <div class=" b-leaf-inner svgpreloader svgpreloader-pseudo svgpreloader-16 "> <div class="b-leaf-header"> <div class="b-leaf-userpic"> <a href="https://slotoviepus.livejournal.com/" target="_blank" class="b-leaf-userpic-inner" lj:user="slotoviepus">   <img src="https://l-userpic.livejournal.com/42832590/5643802" alt="slotoviepus" loading="lazy" title="Яўген / Jaŭhien: sundin">  </a> </div> <div class="b-leaf-details">   <p class="b-leaf-username"><span class="b-leaf-username-name"><span class="ljuser  i-ljuser  i-ljuser-type-P     " data-ljuser="slotoviepus" lj:user="slotoviepus"><a href="https://slotoviepus.livejournal.com/profile" class="i-ljuser-profile" target="_self"><img class="i-ljuser-userhead" src="https://l-stat.livejournal.net/img/userinfo_v8.svg?v=17080?v=657"></a><a href="https://slotoviepus.livejournal.com/" class="i-ljuser-username" target="_self"><b>slotoviepus</b></a></span> </span>  </p> <p class="b-leaf-meta">  <a href="https://lacinka.livejournal.com/24536.html?thread=155352#t155352" class="b-leaf-permalink" target="_self"> <span class="b-leaf-createdtime">February 10 2006, 06:34:52 UTC</span> </a>   <span class="b-leaf-shorttime">17 years ago</span>   </p>   </ul>        </div> </div>  <div class="b-leaf-article"> Нават я з маім бязьмерным каналам сувязі ледзь не ахрэнеў. :) Пакоцайце, калі ласка </div>   </div> </div>    </div><div class=" b-tree-twig  b-tree-twig-2 b-tree-twig-deep-0  " style="margin-left: 30px" data-tid="t155864">    <div id="t155864" class=" b-leaf        b-leaf-poster      b-leaf-full   comment p-comment " data-username="zolak" data-displayname="zolak" data-updated-ts="1139561963" data-full="1"> <div class=" b-leaf-inner svgpreloader svgpreloader-pseudo svgpreloader-16 "> <div class="b-leaf-header"> <div class="b-leaf-userpic"> <a href="https://zolak.livejournal.com/" target="_blank" class="b-leaf-userpic-inner" lj:user="zolak">   <img src="https://l-stat.livejournal.net/img/userpics/userpic-user.png?v=15821" alt="zolak" loading="lazy">  </a> </div> <div class="b-leaf-details">   <p class="b-leaf-username"><span class="b-leaf-username-name"><span class="ljuser  i-ljuser  i-ljuser-deleted  i-ljuser-type-P     " data-ljuser="zolak" lj:user="zolak"><a href="https://zolak.livejournal.com/profile" class="i-ljuser-profile" target="_self"><img class="i-ljuser-userhead" src="https://l-stat.livejournal.net/img/userinfo_v8.svg?v=17080?v=657"></a><a href="https://zolak.livejournal.com/" class="i-ljuser-username" target="_self"><b>zolak</b></a></span> </span>  </p> <p class="b-leaf-meta">  <a href="https://lacinka.livejournal.com/24536.html?thread=155864#t155864" class="b-leaf-permalink" target="_self"> <span class="b-leaf-createdtime">February 10 2006, 08:59:23 UTC</span> </a>   <span class="b-leaf-shorttime">17 years ago</span>   </p>   </ul>        </div> </div>  <div class="b-leaf-article"> Zroblena. </div>   </div> </div>    </div><div class=" b-tree-twig  b-tree-twig-1 b-tree-twig-deep-0  " style="margin-left: 0px" data-tid="t157656">    <div id="t157656" class=" b-leaf            b-leaf-full   comment p-comment " data-username="ak_93" data-displayname="ak_93" data-updated-ts="1139586428" data-full="1"> <div class=" b-leaf-inner svgpreloader svgpreloader-pseudo svgpreloader-16 "> <div class="b-leaf-header"> <div class="b-leaf-userpic"> <a href="https://ak-93.livejournal.com/" target="_blank" class="b-leaf-userpic-inner" lj:user="ak_93">   <img src="https://l-userpic.livejournal.com/45753357/8930299" alt="ak_93" loading="lazy" title="ak_93: мiнi">  </a> </div> <div class="b-leaf-details">   <p class="b-leaf-username"><span class="b-leaf-username-name"><span class="ljuser  i-ljuser  i-ljuser-type-P     " data-ljuser="ak_93" lj:user="ak_93"><a href="https://ak-93.livejournal.com/profile" class="i-ljuser-profile" target="_self"><img class="i-ljuser-userhead" src="https://l-stat.livejournal.net/img/userinfo_v8.svg?v=17080?v=657"></a><a href="https://ak-93.livejournal.com/" class="i-ljuser-username" target="_self"><b>ak_93</b></a></span> </span>  </p> <p class="b-leaf-meta">  <a href="https://lacinka.livejournal.com/24536.html?thread=157656#t157656" class="b-leaf-permalink" target="_self"> <span class="b-leaf-createdtime">February 10 2006, 15:47:08 UTC</span> </a>   <span class="b-leaf-shorttime">17 years ago</span>   </p>   </ul>        </div> </div>  <div class="b-leaf-article"> Ой, а красиво как зато!<br>(Oi, ale jak za prygoza!) </div>   </div> </div>    </div><div class=" b-tree-twig  b-tree-twig-2 b-tree-twig-deep-0  " style="margin-left: 30px" data-tid="t157912">    <div id="t157912" class=" b-leaf        b-leaf-poster      b-leaf-full   comment p-comment " data-username="zolak" data-displayname="zolak" data-updated-ts="1139601454" data-full="1"> <div class=" b-leaf-inner svgpreloader svgpreloader-pseudo svgpreloader-16 "> <div class="b-leaf-header"> <div class="b-leaf-userpic"> <a href="https://zolak.livejournal.com/" target="_blank" class="b-leaf-userpic-inner" lj:user="zolak">   <img src="https://l-stat.livejournal.net/img/userpics/userpic-user.png?v=15821" alt="zolak" loading="lazy">  </a> </div> <div class="b-leaf-details">   <p class="b-leaf-username"><span class="b-leaf-username-name"><span class="ljuser  i-ljuser  i-ljuser-deleted  i-ljuser-type-P     " data-ljuser="zolak" lj:user="zolak"><a href="https://zolak.livejournal.com/profile" class="i-ljuser-profile" target="_self"><img class="i-ljuser-userhead" src="https://l-stat.livejournal.net/img/userinfo_v8.svg?v=17080?v=657"></a><a href="https://zolak.livejournal.com/" class="i-ljuser-username" target="_self"><b>zolak</b></a></span> </span>  </p> <p class="b-leaf-meta">  <a href="https://lacinka.livejournal.com/24536.html?thread=157912#t157912" class="b-leaf-permalink" target="_self"> <span class="b-leaf-createdtime">February 10 2006, 19:57:34 UTC</span> </a>   <span class="b-leaf-shorttime">17 years ago</span>   </p>   </ul>        </div> </div>  <div class="b-leaf-article"> :) </div>   </div> </div>    </div></div>     <div prev-next-nav=""></div> <div suggestion-for-unlogged="" class="ng-isolate-scope"><!-- ngIf: directive.isBlockVisible --></div>   </div>         