---
id: 29023
layout: page
date: 2022-10-16
---


<!-- s-body -->
        <div class="s-body">

            <!-- use header -->
            <!-- /use header -->

            <!-- Content -->
             <article class="b-singlepost hentry h-entry js-emojis  b-singlepost-mobileadaptive  b-singlepost-withbodybanner  ng-scope" role="main" ng-app="Entry"> <div class="b-singlepost-qrcode  ng-isolate-scope" lj-qrcode="https://lacinka.livejournal.com/29023.html" lj-qrcode-width="70" lj-qrcode-height="70"> <canvas width="70" height="70"></canvas></div> <div class="b-singlepost-about"> <dl class=" b-singlepost-author author vcard p-author h-card " ng-non-bindable=""> <dt class=" b-singlepost-author-userpic photo u-photo " lj:user="zolak">  <img src="https://l-userpic.livejournal.com/56724982/707281" width="" height="" align="absmiddle" title="Zołak: pic#56724982" alt="">  </dt> <dd class="b-singlepost-author-userinfo"> <div class="b-singlepost-author-userinfo-screen"> <span class=" b-singlepost-author-user fn p-name "> <span class="b-singlepost-author-user-screen"> Zołak (<span class="ljuser  i-ljuser  i-ljuser-deleted  i-ljuser-type-P     " data-ljuser="zolak" lj:user="zolak"><a href="https://zolak.livejournal.com/profile" target="_self" class="i-ljuser-profile"><img class="i-ljuser-userhead" src="https://l-stat.livejournal.net/img/userinfo_v8.svg?v=17080?v=657"></a><a href="https://zolak.livejournal.com/" class="i-ljuser-username" target="_self"><b>zolak</b></a></span>) wrote in <span class="ljuser  i-ljuser  i-ljuser-type-C     " data-ljuser="lacinka" lj:user="lacinka"><a href="https://lacinka.livejournal.com/profile" target="_self" class="i-ljuser-profile"><img class="i-ljuser-userhead" src="https://l-stat.livejournal.net/img/community.gif?v=556?v=657"></a><a href="https://lacinka.livejournal.com/" class="i-ljuser-username" target="_self"><b>lacinka</b></a></span>, </span> </span> <br> <time class=" b-singlepost-author-date published dt-published "><a href="https://lacinka.livejournal.com/2006/" target="_self">2006</a>-<a href="https://lacinka.livejournal.com/2006/03/" target="_self">03</a>-<a href="https://lacinka.livejournal.com/2006/03/08/" target="_self">08</a> 15:40:00</time>   </div> <div class="b-singlepost-author-userinfo-print"> <span class=" b-singlepost-author-user fn p-name "> Zołak<br> <span class="ljuser  i-ljuser  i-ljuser-deleted  i-ljuser-type-P     " data-ljuser="zolak" lj:user="zolak"><a href="https://zolak.livejournal.com/profile" target="_self" class="i-ljuser-profile"><img class="i-ljuser-userhead" src="https://l-stat.livejournal.net/img/userinfo_v8.svg?v=17080?v=657"></a><a href="https://zolak.livejournal.com/" class="i-ljuser-username" target="_self"><b>zolak</b></a></span>  <br><span class="ljuser  i-ljuser  i-ljuser-type-C     " data-ljuser="lacinka" lj:user="lacinka"><a href="https://lacinka.livejournal.com/profile" target="_self" class="i-ljuser-profile"><img class="i-ljuser-userhead" src="https://l-stat.livejournal.net/img/community.gif?v=556?v=657"></a><a href="https://lacinka.livejournal.com/" class="i-ljuser-username" target="_self"><b>lacinka</b></a></span>  </span> <br> <time class=" b-singlepost-author-date published dt-published "><a href="https://lacinka.livejournal.com/2006/" target="_self">2006</a>-<a href="https://lacinka.livejournal.com/2006/03/" target="_self">03</a>-<a href="https://lacinka.livejournal.com/2006/03/08/" target="_self">08</a> 15:40:00</time> </div> </dd> </dl>  </div>    <div class="b-singlepost-wrapper">  <h1 class=" b-singlepost-title entry-title p-name " ng-non-bindable="">      Mapa Biełarusi  </h1>  <div class="b-singlepost-bodywrapper">  <article class="b-singlepost-body entry-content e-content   ng-scope" lj-sale-entry="" lj-discovery-tags="" lj-embed-resizer=""> <a target="_blank" href="http://lacinka.org/images/stories/palicka/mapa_bielarusi/19eo.jpg" rel="nofollow"><img border="1" src="https://imgprx.livejournal.net/98c7c0346d00afeb8fa9c47fae208825111555ce/V4sBSS9aPRTpWBS-vybPToPYA8j5XcJ4DuUPizoheh3kS5aZLhV1LiE1sKvP6IMV8MPSMKNGLduCrblzObz2rF4foUc94w4PC75O0qXH44dqLC1Um8Uj-b976qtVrvQR" align="left" hspace="6" alt="19eo.jpg" width="50" height="89"></a> 
 Šanavany nami Kamitet pa ziamielnych resursach, hieadeziji i kartahrafiji vydaŭ turysckuju mapu Biełarusi dla zamiežnikaŭ – na sučasnaj aficyjna pryniataj dla tranślitaracyji biełaruskich nazvaŭ nea-łacincy. Kaniečnie, heta pakul nia naša z vami łacinka – ale voka vielmi raduje.<a name="cutid1" target="_self"></a>

Na vyjaŭki možna klikać.

<table border="0" width="410">
  <tbody><tr>
    <td width="100%"><a target="_blank" href="http://lacinka.org/images/stories/palicka/mapa_bielarusi/21xt.jpg" rel="nofollow"><img border="1" src="https://imgprx.livejournal.net/49b24ad2dd60f824696a7faf3b9bdec31bfa93b9/V4sBSS9aPRTpWBS-vybPToPYA8j5XcJ4DuUPizoheh3kS5aZLhV1LiE1sKvP6IMV8MPSMKNGLduCrblzObz2rGQX6ex3g-lkjZBIR1tHlcuHXg2cIjeklfUPL-l4szPd" align="left" hspace="6" alt="21xt.jpg" width="400" height="550" loading="lazy"></a></td>
  </tr>
  <tr>
    <td width="100%"><a href="http://lacinka.org/images/stories/palicka/mapa_bielarusi/38lq.jpg" rel="nofollow" target="_self"><img border="1" src="https://imgprx.livejournal.net/f26030abb2a82a6707abffb6d39279e4885e83bd/V4sBSS9aPRTpWBS-vybPToPYA8j5XcJ4DuUPizoheh3kS5aZLhV1LiE1sKvP6IMV8MPSMKNGLduCrblzObz2rGq-xKSUi4EIeiaC1LpRGJSyl9hZaYf2sE9hobGjfTlo" align="left" hspace="6" alt="38lq.jpg" width="400" height="550" loading="lazy">
      </a></td>
  </tr>
  <tr>
    <td width="100%"><a href="http://lacinka.org/images/stories/palicka/mapa_bielarusi/44zo.jpg" rel="nofollow" target="_self"><img border="1" src="https://imgprx.livejournal.net/2af5306ac12a46a2270b9475e96ae3bfd4ef8bdd/V4sBSS9aPRTpWBS-vybPToPYA8j5XcJ4DuUPizoheh3kS5aZLhV1LiE1sKvP6IMV8MPSMKNGLduCrblzObz2rEaCz4ol3Qe5gsrE-4eoomJCvFV9dxQd5AHBx2AqoLgp" align="left" hspace="6" alt="44zo.jpg" width="400" height="550" loading="lazy"></a></td>
  </tr>
  <tr>
    <td width="100%"><a href="http://lacinka.org/images/stories/palicka/mapa_bielarusi/57bu.jpg" rel="nofollow" target="_self"><img border="1" src="https://imgprx.livejournal.net/6337072a6c4b55e4a89057e65afcc051c88bb6d8/V4sBSS9aPRTpWBS-vybPToPYA8j5XcJ4DuUPizoheh3kS5aZLhV1LiE1sKvP6IMV8MPSMKNGLduCrblzObz2rB-k5ErS4XD8s1S_SmJ4URIj5mkc0_vhe1QpSkgKyp82" align="left" hspace="6" alt="57bu.jpg" width="400" height="550" loading="lazy">
      </a></td>
  </tr>
</tbody></table>
<p> <b>Kolki mapaŭ haradoŭ:</b><br></p>        

<table border="0" width="400">
  <tbody><tr>
    <td width="50%"><a href="http://lacinka.org/images/stories/palicka/mapa_bielarusi/68pl.jpg" rel="nofollow" target="_self"><img border="1" src="https://imgprx.livejournal.net/455571e40033011dd2bd8568e090bf5db62b0881/V4sBSS9aPRTpWBS-vybPToPYA8j5XcJ4DuUPizoheh3kS5aZLhV1LiE1sKvP6IMV8MPSMKNGLduCrblzObz2rJfmp82V7zF1LYAfbaKWrS7bBlL6uIsajKHgp-d5ynFI" align="left" hspace="6" alt="68pl.jpg" width="165" height="128" loading="lazy"></a></td>
    <td width="50%"><a href="http://lacinka.org/images/stories/palicka/mapa_bielarusi/75uj.jpg" rel="nofollow" target="_self"><img border="1" src="https://imgprx.livejournal.net/c2fe8a469531901e14f27ca534fafcc4a795a78d/V4sBSS9aPRTpWBS-vybPToPYA8j5XcJ4DuUPizoheh3kS5aZLhV1LiE1sKvP6IMV8MPSMKNGLduCrblzObz2rD83KPU93LWQSawyyQAKOrNLZIEvNCm5iSYBBWJ3Pswh" align="left" hspace="6" alt="75uj.jpg" width="130" height="132" loading="lazy"></a></td>
  </tr>
</tbody></table>


<p> <b>Ciapier pra sumnaje.</b><br>Biełaruskaje movy, akramie ŭłasna mapy, nie praduhledžana. 
<i><a href="http://lacinka.org/images/stories/palicka/mapa_bielarusi/86io.gif" rel="nofollow" target="_self"> Turyscičaskaja ž karta,</a></i> sami panimajecie. 
Ja dazvolu sabie pak<b>и</b>nuć <a href="http://lacinka.org/images/stories/palicka/mapa_bielarusi/92ek.jpg" rel="nofollow" target="_self"> nastupnuju vyjavu</a> biez 
kamentara.<br></p>       

<p> Łacinka znajšła svajo miejsca i ŭ sučasnaj Biełarusi. Nahadaju vam, što hety standart tranślitaracyji – aficyjna pryniaty i abaviazkovy dla vykarystańnia. My možam źviartacca da vydaŭcoŭ mapaŭ ź Vitebsk’ami, Grodno’ami i Ploshchad Pobedy’ami z patrabavańniem prytrymlivacca aficyjnaha standartu tranślitaracyji – i zakon budzie na našym 
baku!</p>

<strong>Aleś Baŭtramiej Čajčyc</strong>



<br clear="all">

<p></p><a href="http://my.opera.com/lacinka/blog/show.dml/169880" rel="nofollow" target="_self">@</a><div align="right"><small><a href="http://hiero.ru/rss2lj/" rel="nofollow" target="_self">rss2lj</a></small></div><a name="cutid1-end" target="_self"></a>  </article>   </div>    </div> <div class="b-singlepost-video-wrap"> <div data-autoplay-dockable-video-mount=""></div> </div>
<div id="comments" class="b-grove" data-authtoken="c0:1682874000:241:86400:UYfxtawIEZ-0-:683fe6b2269cdf8a64f35af7e97f45ba"> <div class=" b-xylem  b-xylem-first  "> <ul class="b-xylem-cells">  <li class=" b-xylem-cell b-xylem-cell-amount ">   <span class="js-amount">  2 comments  </span>   </li>  </ul>  </div> <div class=" b-massaction-top ">  </div>    <div class=" b-tree b-tree-best ">  </div> <div class=" b-tree b-tree-promo " data-currentprice="">  </div>  <div class=" b-tree b-tree-root svgpreloader svgpreloader-pseudo svgpreloader-30 "><div class=" b-tree-twig  b-tree-twig-1 b-tree-twig-deep-0  " style="margin-left: 0px" data-tid="t170847">    <div id="t170847" class=" b-leaf            b-leaf-full   comment p-comment " data-username="juras14" data-displayname="juras14" data-updated-ts="1141849497" data-full="1"> <div class=" b-leaf-inner svgpreloader svgpreloader-pseudo svgpreloader-16 "> <div class="b-leaf-header"> <div class="b-leaf-userpic"> <a href="https://juras14.livejournal.com/" target="_blank" class="b-leaf-userpic-inner" lj:user="juras14">   <img src="https://l-userpic.livejournal.com/35562195/1515112" alt="juras14" loading="lazy" title="Юрась Міхед: Юзерпик">  </a> </div> <div class="b-leaf-details">   <p class="b-leaf-username"><span class="b-leaf-username-name"><span class="ljuser  i-ljuser  i-ljuser-type-P     " data-ljuser="juras14" lj:user="juras14"><a href="https://juras14.livejournal.com/profile" class="i-ljuser-profile" target="_self"><img class="i-ljuser-userhead" src="https://l-stat.livejournal.net/img/userinfo_v8.svg?v=17080?v=657"></a><a href="https://juras14.livejournal.com/" class="i-ljuser-username" target="_self"><b>juras14</b></a></span> </span>  </p> <p class="b-leaf-meta">  <a href="https://lacinka.livejournal.com/29023.html?thread=170847#t170847" class="b-leaf-permalink" target="_self"> <span class="b-leaf-createdtime">March 8 2006, 20:24:57 UTC</span> </a>   <span class="b-leaf-shorttime">17 years ago</span>   </p>   </ul>        </div> </div>  <div class="b-leaf-article"> Schavaj, kali łaska, pad kat. </div>   </div> </div>    </div><div class=" b-tree-twig  b-tree-twig-1 b-tree-twig-deep-0  " style="margin-left: 0px" data-tid="t171103">    <div class=" b-leaf b-leaf-clipped b-leaf-deleted " id="t171103"> <div class=" b-leaf-inner svgpreloader svgpreloader-pseudo svgpreloader-16 "> <div class="b-leaf-cheader"> <p class="b-leaf-status">  Deleted comment  </p>   </div>  </div> </div>    </div><div class=" b-tree-twig  b-tree-twig-2 b-tree-twig-deep-0  " style="margin-left: 30px" data-tid="t171359">    <div id="t171359" class=" b-leaf        b-leaf-poster      b-leaf-full   comment p-comment " data-username="zolak" data-displayname="zolak" data-updated-ts="1141854202" data-full="1"> <div class=" b-leaf-inner svgpreloader svgpreloader-pseudo svgpreloader-16 "> <div class="b-leaf-header"> <div class="b-leaf-userpic"> <a href="https://zolak.livejournal.com/" target="_blank" class="b-leaf-userpic-inner" lj:user="zolak">   <img src="https://l-stat.livejournal.net/img/userpics/userpic-user.png?v=15821" alt="zolak" loading="lazy">  </a> </div> <div class="b-leaf-details">   <p class="b-leaf-username"><span class="b-leaf-username-name"><span class="ljuser  i-ljuser  i-ljuser-deleted  i-ljuser-type-P     " data-ljuser="zolak" lj:user="zolak"><a href="https://zolak.livejournal.com/profile" class="i-ljuser-profile" target="_self"><img class="i-ljuser-userhead" src="https://l-stat.livejournal.net/img/userinfo_v8.svg?v=17080?v=657"></a><a href="https://zolak.livejournal.com/" class="i-ljuser-username" target="_self"><b>zolak</b></a></span> </span>  </p> <p class="b-leaf-meta">  <a href="https://lacinka.livejournal.com/29023.html?thread=171359#t171359" class="b-leaf-permalink" target="_self"> <span class="b-leaf-createdtime">March 8 2006, 21:43:22 UTC</span> </a>   <span class="b-leaf-shorttime">17 years ago</span>   </p>   </ul>        </div> </div>  <div class="b-leaf-article"> Pačynać? Praciahvać! :) <br><a href="http://my.opera.com/litaratura/" rel="nofollow" target="_self">http://my.opera.com/litaratura/</a><br> </div>   </div> </div>    </div></div>     <div prev-next-nav=""></div> <div suggestion-for-unlogged="" class="ng-isolate-scope"><!-- ngIf: directive.isBlockVisible --></div>   </div>         