---
id: 29640
layout: page
date: 2022-10-16
---


<!-- s-body -->
        <div class="s-body">

            <!-- use header -->
            <!-- /use header -->

            <!-- Content -->
             <article class="b-singlepost hentry h-entry js-emojis  b-singlepost-mobileadaptive  b-singlepost-withbodybanner  ng-scope" role="main" ng-app="Entry"> <div class="b-singlepost-qrcode  ng-isolate-scope" lj-qrcode="https://lacinka.livejournal.com/29640.html" lj-qrcode-width="70" lj-qrcode-height="70"> <canvas width="70" height="70"></canvas></div> <div class="b-singlepost-about"> <dl class=" b-singlepost-author author vcard p-author h-card " ng-non-bindable=""> <dt class=" b-singlepost-author-userpic photo u-photo " lj:user="zolak">  <img src="https://l-userpic.livejournal.com/56724982/707281" width="" height="" align="absmiddle" title="Zołak: pic#56724982" alt="">  </dt> <dd class="b-singlepost-author-userinfo"> <div class="b-singlepost-author-userinfo-screen"> <span class=" b-singlepost-author-user fn p-name "> <span class="b-singlepost-author-user-screen"> Zołak (<span class="ljuser  i-ljuser  i-ljuser-deleted  i-ljuser-type-P     " data-ljuser="zolak" lj:user="zolak"><a href="https://zolak.livejournal.com/profile" target="_self" class="i-ljuser-profile"><img class="i-ljuser-userhead" src="https://l-stat.livejournal.net/img/userinfo_v8.svg?v=17080?v=657"></a><a href="https://zolak.livejournal.com/" class="i-ljuser-username" target="_self"><b>zolak</b></a></span>) wrote in <span class="ljuser  i-ljuser  i-ljuser-type-C     " data-ljuser="lacinka" lj:user="lacinka"><a href="https://lacinka.livejournal.com/profile" target="_self" class="i-ljuser-profile"><img class="i-ljuser-userhead" src="https://l-stat.livejournal.net/img/community.gif?v=556?v=657"></a><a href="https://lacinka.livejournal.com/" class="i-ljuser-username" target="_self"><b>lacinka</b></a></span>, </span> </span> <br> <time class=" b-singlepost-author-date published dt-published "><a href="https://lacinka.livejournal.com/2006/" target="_self">2006</a>-<a href="https://lacinka.livejournal.com/2006/03/" target="_self">03</a>-<a href="https://lacinka.livejournal.com/2006/03/11/" target="_self">11</a> 00:00:00</time>   </div> <div class="b-singlepost-author-userinfo-print"> <span class=" b-singlepost-author-user fn p-name "> Zołak<br> <span class="ljuser  i-ljuser  i-ljuser-deleted  i-ljuser-type-P     " data-ljuser="zolak" lj:user="zolak"><a href="https://zolak.livejournal.com/profile" target="_self" class="i-ljuser-profile"><img class="i-ljuser-userhead" src="https://l-stat.livejournal.net/img/userinfo_v8.svg?v=17080?v=657"></a><a href="https://zolak.livejournal.com/" class="i-ljuser-username" target="_self"><b>zolak</b></a></span>  <br><span class="ljuser  i-ljuser  i-ljuser-type-C     " data-ljuser="lacinka" lj:user="lacinka"><a href="https://lacinka.livejournal.com/profile" target="_self" class="i-ljuser-profile"><img class="i-ljuser-userhead" src="https://l-stat.livejournal.net/img/community.gif?v=556?v=657"></a><a href="https://lacinka.livejournal.com/" class="i-ljuser-username" target="_self"><b>lacinka</b></a></span>  </span> <br> <time class=" b-singlepost-author-date published dt-published "><a href="https://lacinka.livejournal.com/2006/" target="_self">2006</a>-<a href="https://lacinka.livejournal.com/2006/03/" target="_self">03</a>-<a href="https://lacinka.livejournal.com/2006/03/11/" target="_self">11</a> 00:00:00</time> </div> </dd> </dl>  </div>    <div class="b-singlepost-wrapper">  <h1 class=" b-singlepost-title entry-title p-name " ng-non-bindable="">      Solidarni z Białorusią  </h1>  <div class="b-singlepost-bodywrapper">  <article class="b-singlepost-body entry-content e-content   ng-scope" lj-sale-entry="" lj-discovery-tags="" lj-embed-resizer=""> Peŭna mała chto z čytačoŭ zmoža pajści... Tym nia mienš. Kancert buduć translavać pa TVP1 u žyvym etery. Mahčyma, materyjał potym vykładziem. <strong>Łacinka.org</strong> siarod arhanizataraŭ. <br><br>Na kancercie budzie zaprezentavany novy "sakretny" supolny muzyčny prajekt biełarusaŭ.<a name="cutid1" target="_self"></a><br><br><a href="http://my.opera.com/Zolak/homes/albums/44665/kancert12sakavika.jpg" target="_blank" rel="nofollow"><span class=""><img alt="" src="https://imgprx.livejournal.net/16e09cbae48d42161e0bcd7d559ac098e97c41a5/zCZu73bpkGESOQieDaf3K9zxR6YNZUxZVyfCHh8qDYMtN6rQigEStmE21V-3GleA4d3kW1m1g6XhmNSaAHl0jblEmusCwK0koGwTKdbji7eiKmgctw3HrQIt6BQcwS3o" loading="lazy"></span></a>



<br clear="all">

<p></p><a href="http://my.opera.com/lacinka/blog/show.dml/172582" rel="nofollow" target="_self">@</a><div align="right"><small><a href="http://hiero.ru/rss2lj/" rel="nofollow" target="_self">rss2lj</a></small></div><a name="cutid1-end" target="_self"></a>  </article>   </div>    </div> <div class="b-singlepost-video-wrap"> <div data-autoplay-dockable-video-mount=""></div> </div>
<div id="comments" class="b-grove  b-grove-3comments" data-authtoken="c0:1682874000:242:86400:D1TlWr6pB8-0-:754f0819ec43cab652c5ae08796b5137"> <div class=" b-xylem  b-xylem-first  "> <ul class="b-xylem-cells">  <li class=" b-xylem-cell b-xylem-cell-amount ">   <span class="js-amount">  2 comments  </span>   </li>  </ul>  </div> <div class=" b-massaction-top ">  </div>    <div class=" b-tree b-tree-best ">  </div> <div class=" b-tree b-tree-promo " data-currentprice="">  </div>  <div class=" b-tree b-tree-root svgpreloader svgpreloader-pseudo svgpreloader-30 "><div class=" b-tree-twig  b-tree-twig-1 b-tree-twig-deep-0  " style="margin-left: 0px" data-tid="t171976">    <div id="t171976" class=" b-leaf            b-leaf-full   comment p-comment " data-username="volja" data-displayname="volja" data-updated-ts="1142073005" data-full="1"> <div class=" b-leaf-inner svgpreloader svgpreloader-pseudo svgpreloader-16 "> <div class="b-leaf-header"> <div class="b-leaf-userpic"> <a href="https://volja.livejournal.com/" target="_blank" class="b-leaf-userpic-inner" lj:user="volja">   <img src="https://l-userpic.livejournal.com/71901898/2444109" alt="volja" loading="lazy" title="В.: назіраньне">  </a> </div> <div class="b-leaf-details">   <p class="b-leaf-username"><span class="b-leaf-username-name"><span class="ljuser  i-ljuser  i-ljuser-type-P     " data-ljuser="volja" lj:user="volja"><a href="https://volja.livejournal.com/profile" class="i-ljuser-profile" target="_self"><img class="i-ljuser-userhead" src="https://l-stat.livejournal.net/img/userinfo_v8.svg?v=17080?v=657"></a><a href="https://volja.livejournal.com/" class="i-ljuser-username" target="_self"><b>volja</b></a></span> </span>  </p> <p class="b-leaf-meta">  <a href="https://lacinka.livejournal.com/29640.html?thread=171976#t171976" class="b-leaf-permalink" target="_self"> <span class="b-leaf-createdtime">March 11 2006, 10:30:05 UTC</span> </a>   <span class="b-leaf-shorttime">17 years ago</span>   </p>   </ul>        </div> </div>  <div class="b-leaf-article"> Fajny pljakat,z sensam... </div>   </div> </div>    </div><div class=" b-tree-twig  b-tree-twig-1 b-tree-twig-deep-0  " style="margin-left: 0px" data-tid="t172232">    <div id="t172232" class=" b-leaf            b-leaf-full   comment p-comment " data-username="fevra" data-displayname="fevra" data-updated-ts="1142074708" data-full="1"> <div class=" b-leaf-inner svgpreloader svgpreloader-pseudo svgpreloader-16 "> <div class="b-leaf-header"> <div class="b-leaf-userpic"> <a href="https://fevra.livejournal.com/" target="_blank" class="b-leaf-userpic-inner" lj:user="fevra">   <img src="https://l-userpic.livejournal.com/99890630/952960" alt="fevra" loading="lazy" title="The Eerie: Type O Negative">  </a> </div> <div class="b-leaf-details">   <p class="b-leaf-username"><span class="b-leaf-username-name"><span class="ljuser  i-ljuser  i-ljuser-type-P     " data-ljuser="fevra" lj:user="fevra"><a href="https://fevra.livejournal.com/profile" class="i-ljuser-profile" target="_self"><img class="i-ljuser-userhead" src="https://l-stat.livejournal.net/img/userinfo_v8.svg?v=17080?v=657"></a><a href="https://fevra.livejournal.com/" class="i-ljuser-username" target="_self"><b>fevra</b></a></span> </span>  </p> <p class="b-leaf-meta">  <a href="https://lacinka.livejournal.com/29640.html?thread=172232#t172232" class="b-leaf-permalink" target="_self"> <span class="b-leaf-createdtime">March 11 2006, 10:58:28 UTC</span> </a>   <span class="b-leaf-shorttime">17 years ago</span>   </p>   </ul>        </div> </div>  <div class="b-leaf-article"> ФАЙНА!!!! :) </div>   </div> </div>    </div></div>     <div prev-next-nav=""></div> <div suggestion-for-unlogged="" class="ng-isolate-scope"><!-- ngIf: directive.isBlockVisible --></div>   </div>         