---
id: 31583
layout: page
date: 2022-10-16
---


<!-- s-body -->
        <div class="s-body">

            <!-- use header -->
            <!-- /use header -->

            <!-- Content -->
             <article class="b-singlepost hentry h-entry js-emojis  b-singlepost-mobileadaptive  b-singlepost-withbodybanner  ng-scope" role="main" ng-app="Entry"> <div class="b-singlepost-qrcode  ng-isolate-scope" lj-qrcode="https://lacinka.livejournal.com/31583.html" lj-qrcode-width="70" lj-qrcode-height="70"> <canvas width="70" height="70"></canvas></div> <div class="b-singlepost-about"> <dl class=" b-singlepost-author author vcard p-author h-card " ng-non-bindable=""> <dt class=" b-singlepost-author-userpic photo u-photo " lj:user="redwingedduck">  <img src="https://l-userpic.livejournal.com/33227201/697964" width="100" height="100" align="absmiddle" title="RWD: che_duck" alt="">  </dt> <dd class="b-singlepost-author-userinfo"> <div class="b-singlepost-author-userinfo-screen"> <span class=" b-singlepost-author-user fn p-name "> <span class="b-singlepost-author-user-screen"> RWD (<span class="ljuser  i-ljuser  i-ljuser-type-P     " data-ljuser="redwingedduck" lj:user="redwingedduck"><a href="https://redwingedduck.livejournal.com/profile" target="_self" class="i-ljuser-profile"><img class="i-ljuser-userhead" src="https://l-stat.livejournal.net/img/userinfo_v8.svg?v=17080?v=657"></a><a href="https://redwingedduck.livejournal.com/" class="i-ljuser-username" target="_self"><b>redwingedduck</b></a></span>) wrote in <span class="ljuser  i-ljuser  i-ljuser-type-C     " data-ljuser="lacinka" lj:user="lacinka"><a href="https://lacinka.livejournal.com/profile" target="_self" class="i-ljuser-profile"><img class="i-ljuser-userhead" src="https://l-stat.livejournal.net/img/community.gif?v=556?v=657"></a><a href="https://lacinka.livejournal.com/" class="i-ljuser-username" target="_self"><b>lacinka</b></a></span>, </span> </span> <br> <time class=" b-singlepost-author-date published dt-published "><a href="https://lacinka.livejournal.com/2006/" target="_self">2006</a>-<a href="https://lacinka.livejournal.com/2006/05/" target="_self">05</a>-<a href="https://lacinka.livejournal.com/2006/05/31/" target="_self">31</a> 17:37:00</time>   </div> <div class="b-singlepost-author-userinfo-print"> <span class=" b-singlepost-author-user fn p-name "> RWD<br> <span class="ljuser  i-ljuser  i-ljuser-type-P     " data-ljuser="redwingedduck" lj:user="redwingedduck"><a href="https://redwingedduck.livejournal.com/profile" target="_self" class="i-ljuser-profile"><img class="i-ljuser-userhead" src="https://l-stat.livejournal.net/img/userinfo_v8.svg?v=17080?v=657"></a><a href="https://redwingedduck.livejournal.com/" class="i-ljuser-username" target="_self"><b>redwingedduck</b></a></span>  <br><span class="ljuser  i-ljuser  i-ljuser-type-C     " data-ljuser="lacinka" lj:user="lacinka"><a href="https://lacinka.livejournal.com/profile" target="_self" class="i-ljuser-profile"><img class="i-ljuser-userhead" src="https://l-stat.livejournal.net/img/community.gif?v=556?v=657"></a><a href="https://lacinka.livejournal.com/" class="i-ljuser-username" target="_self"><b>lacinka</b></a></span>  </span> <br> <time class=" b-singlepost-author-date published dt-published "><a href="https://lacinka.livejournal.com/2006/" target="_self">2006</a>-<a href="https://lacinka.livejournal.com/2006/05/" target="_self">05</a>-<a href="https://lacinka.livejournal.com/2006/05/31/" target="_self">31</a> 17:37:00</time> </div> </dd> </dl>  </div>    <div class="b-singlepost-wrapper">  <h1 class=" b-singlepost-title entry-title p-name " ng-non-bindable="">      Абараніць лацінку ў беларускіх назвах  </h1>  <div class="b-singlepost-bodywrapper">  <article class="b-singlepost-body entry-content e-content   ng-scope" lj-sale-entry="" lj-discovery-tags="" lj-embed-resizer=""> Чарговая спрэчка, дзе беларусаў не пытаюць, у асноўным пра лацінку:<br><a href="http://en.wikipedia.org/wiki/Wikipedia_talk:Naming_conventions_(Cyrillic)#Proposal_for_Belarusian" rel="nofollow" target="_self">http://en.wikipedia.org/wiki/Wikipedia_talk:Naming_conventions_(Cyrillic)#Proposal_for_Belarusian</a>  <div class="uo9dx"></div></article> <div lj0sale0height="600" lj0sale0window0min="1200" lj0sale0window0max="9999" lj0sale0hide0cookie="s1_rightbanner_closed" class="ljsale ljsale--empty b-singlepost-bodybanner ng-isolate-scope" lj0sale0not0init="s1_right"><div class="ljsale__inner">

    <div class="allbanners ">

        <!-- ngIf: directive.customId -->
        <div id="">

          <!-- ngIf: directive.type -->
        
        </div>

        <!-- ngIf: directive.close -->

    </div>

    <!-- ngIf: directive.hideble -->

</div>
</div>  </div>    </div> <div class="b-singlepost-video-wrap"> <div data-autoplay-dockable-video-mount=""></div> </div>
<div id="comments" class="b-grove" data-authtoken="c0:1682874000:248:86400:6eva6GHs1w-0-:1fee7d4c509b0d88f60494872e2fabfc"> <div class=" b-xylem  b-xylem-first  "> <ul class="b-xylem-cells">  <li class=" b-xylem-cell b-xylem-cell-amount ">   <span class="js-amount">  9 comments  </span>   </li>  </ul>  </div> <div class=" b-massaction-top ">  </div>    <div class=" b-tree b-tree-best ">  </div> <div class=" b-tree b-tree-promo " data-currentprice="">  </div>  <div class=" b-tree b-tree-root svgpreloader svgpreloader-pseudo svgpreloader-30 "><div class=" b-tree-twig  b-tree-twig-1 b-tree-twig-deep-0  " style="margin-left: 0px" data-tid="t176479">    <div id="t176479" class=" b-leaf            b-leaf-full   comment p-comment " data-username="zolak" data-displayname="zolak" data-updated-ts="1149087540" data-full="1"> <div class=" b-leaf-inner svgpreloader svgpreloader-pseudo svgpreloader-16 "> <div class="b-leaf-header"> <div class="b-leaf-userpic"> <a href="https://zolak.livejournal.com/" target="_blank" class="b-leaf-userpic-inner" lj:user="zolak">   <img src="https://l-stat.livejournal.net/img/userpics/userpic-user.png?v=15821" alt="zolak" loading="lazy">  </a> </div> <div class="b-leaf-details">   <p class="b-leaf-username"><span class="b-leaf-username-name"><span class="ljuser  i-ljuser  i-ljuser-deleted  i-ljuser-type-P     " data-ljuser="zolak" lj:user="zolak"><a href="https://zolak.livejournal.com/profile" class="i-ljuser-profile" target="_self"><img class="i-ljuser-userhead" src="https://l-stat.livejournal.net/img/userinfo_v8.svg?v=17080?v=657"></a><a href="https://zolak.livejournal.com/" class="i-ljuser-username" target="_self"><b>zolak</b></a></span> </span>  </p> <p class="b-leaf-meta">  <a href="https://lacinka.livejournal.com/31583.html?thread=176479#t176479" class="b-leaf-permalink" target="_self"> <span class="b-leaf-createdtime">May 31 2006, 14:59:00 UTC</span> </a>   <span class="b-leaf-shorttime">16 years ago</span>   </p>   </ul>        </div> </div>  <div class="b-leaf-article"> Dziakuj za infarmacyju. <br><br>Łacinku, IMO, treba baranić nie ŭ anhielskaj wiki (ty viedaješ majo staŭleńnie da hertaha prajektu naohuł), i nie ad niepiśmiennych vandałaŭ, a ŭ štodzionnym žyćci i ad biełarusaŭ. <br><br>Ale pačytać cikava było. :-)<br> </div>   </div> </div>    </div><div class=" b-tree-twig  b-tree-twig-1 b-tree-twig-deep-0  " style="margin-left: 0px" data-tid="t176735">    <div id="t176735" class=" b-leaf            b-leaf-full   comment p-comment " data-username="ambiont" data-displayname="ambiont" data-updated-ts="1149089044" data-full="1"> <div class=" b-leaf-inner svgpreloader svgpreloader-pseudo svgpreloader-16 "> <div class="b-leaf-header"> <div class="b-leaf-userpic"> <a href="https://ambiont.livejournal.com/" target="_blank" class="b-leaf-userpic-inner" lj:user="ambiont">   <img src="https://l-userpic.livejournal.com/73079433/4068425" alt="ambiont" loading="lazy" title="pavel: pic#73079433">  </a> </div> <div class="b-leaf-details">   <p class="b-leaf-username"><span class="b-leaf-username-name"><span class="ljuser  i-ljuser  i-ljuser-type-P     " data-ljuser="ambiont" lj:user="ambiont"><a href="https://ambiont.livejournal.com/profile" class="i-ljuser-profile" target="_self"><img class="i-ljuser-userhead" src="https://l-stat.livejournal.net/img/userinfo_v8.svg?v=17080?v=657"></a><a href="https://ambiont.livejournal.com/" class="i-ljuser-username" target="_self"><b>ambiont</b></a></span> </span>  </p> <p class="b-leaf-meta">  <a href="https://lacinka.livejournal.com/31583.html?thread=176735#t176735" class="b-leaf-permalink" target="_self"> <span class="b-leaf-createdtime">May 31 2006, 15:24:04 UTC</span> </a>   <span class="b-leaf-shorttime">16 years ago</span>   </p>   </ul>        </div> </div>  <div class="b-leaf-article"> не асіліл :( <br><br>Яны, ціпа, кажуць, што на Беларусі лацінка афіцыйна не прызнаная? А пастанову Камітэта картаграфіі пра лацінкавую транслітэрацыю ім паказвалі - <a href="http://community.livejournal.com/lacinka/12182.html" target="_self">http://community.livejournal.com/lacinka/12182.html</a> ? Там, канечне, крыху нягеглая сістэма - але ж хоць нейкая "легітымнасць". </div>   </div> </div>    </div><div class=" b-tree-twig  b-tree-twig-1 b-tree-twig-deep-0  " style="margin-left: 0px" data-tid="t176991">    <div id="t176991" class=" b-leaf            b-leaf-full   comment p-comment " data-username="hondurazian" data-displayname="hondurazian" data-updated-ts="1149089462" data-full="1"> <div class=" b-leaf-inner svgpreloader svgpreloader-pseudo svgpreloader-16 "> <div class="b-leaf-header"> <div class="b-leaf-userpic"> <a href="https://hondurazian.livejournal.com/" target="_blank" class="b-leaf-userpic-inner" lj:user="hondurazian">   <img src="https://l-userpic.livejournal.com/111319599/6011209" alt="hondurazian" loading="lazy" title="hondurazian: Bear Grylls">  </a> </div> <div class="b-leaf-details">   <p class="b-leaf-username"><span class="b-leaf-username-name"><span class="ljuser  i-ljuser  i-ljuser-type-P     " data-ljuser="hondurazian" lj:user="hondurazian"><a href="https://hondurazian.livejournal.com/profile" class="i-ljuser-profile" target="_self"><img class="i-ljuser-userhead" src="https://l-stat.livejournal.net/img/userinfo_v8.svg?v=17080?v=657"></a><a href="https://hondurazian.livejournal.com/" class="i-ljuser-username" target="_self"><b>hondurazian</b></a></span> </span>  </p> <p class="b-leaf-meta">  <a href="https://lacinka.livejournal.com/31583.html?thread=176991#t176991" class="b-leaf-permalink" target="_self"> <span class="b-leaf-createdtime">May 31 2006, 15:31:02 UTC</span> </a>   <span class="b-leaf-shorttime">16 years ago</span>   </p>   </ul>        </div> </div>  <div class="b-leaf-article"> Я хацеў было гэта вынесьці, а то задалбала біцца практычна ў самоце.<br><br>Кубанскі Казак - увогуле характэрная <i>руССкая сьвіньня</i>. Як зь ім змагацца? </div>   </div> </div>    </div><div class=" b-tree-twig  b-tree-twig-2 b-tree-twig-deep-0  " style="margin-left: 30px" data-tid="t177503">    <div class=" b-leaf b-leaf-clipped b-leaf-deleted " id="t177503"> <div class=" b-leaf-inner svgpreloader svgpreloader-pseudo svgpreloader-16 "> <div class="b-leaf-cheader"> <p class="b-leaf-status">  Deleted comment  </p>   </div>  </div> </div>    </div><div class=" b-tree-twig  b-tree-twig-3 b-tree-twig-deep-0  " style="margin-left: 60px" data-tid="t178271">    <div id="t178271" class=" b-leaf            b-leaf-full   comment p-comment " data-username="hondurazian" data-displayname="hondurazian" data-updated-ts="1149091636" data-full="1"> <div class=" b-leaf-inner svgpreloader svgpreloader-pseudo svgpreloader-16 "> <div class="b-leaf-header"> <div class="b-leaf-userpic"> <a href="https://hondurazian.livejournal.com/" target="_blank" class="b-leaf-userpic-inner" lj:user="hondurazian">   <img src="https://l-userpic.livejournal.com/111319599/6011209" alt="hondurazian" loading="lazy" title="hondurazian: Bear Grylls">  </a> </div> <div class="b-leaf-details">   <p class="b-leaf-username"><span class="b-leaf-username-name"><span class="ljuser  i-ljuser  i-ljuser-type-P     " data-ljuser="hondurazian" lj:user="hondurazian"><a href="https://hondurazian.livejournal.com/profile" class="i-ljuser-profile" target="_self"><img class="i-ljuser-userhead" src="https://l-stat.livejournal.net/img/userinfo_v8.svg?v=17080?v=657"></a><a href="https://hondurazian.livejournal.com/" class="i-ljuser-username" target="_self"><b>hondurazian</b></a></span> </span>  </p> <p class="b-leaf-meta">  <a href="https://lacinka.livejournal.com/31583.html?thread=178271#t178271" class="b-leaf-permalink" target="_self"> <span class="b-leaf-createdtime">May 31 2006, 16:07:16 UTC</span> </a>   <span class="b-leaf-shorttime">16 years ago</span>   </p>   </ul>        </div> </div>  <div class="b-leaf-article"> будзьма! </div>   </div> </div>    </div><div class=" b-tree-twig  b-tree-twig-3 b-tree-twig-deep-0  " style="margin-left: 60px" data-tid="t178527">    <div id="t178527" class=" b-leaf            b-leaf-full   comment p-comment " data-username="rydel23" data-displayname="rydel23" data-updated-ts="1149092237" data-full="1"> <div class=" b-leaf-inner svgpreloader svgpreloader-pseudo svgpreloader-16 "> <div class="b-leaf-header"> <div class="b-leaf-userpic"> <a href="https://rydel23.livejournal.com/" target="_blank" class="b-leaf-userpic-inner" lj:user="rydel23">   <img src="https://l-userpic.livejournal.com/4245975/539615" alt="rydel23" loading="lazy" title="rydel23: Bukuroshe in Blue">  </a> </div> <div class="b-leaf-details">   <p class="b-leaf-username"><span class="b-leaf-username-name"><span class="ljuser  i-ljuser  i-ljuser-type-P     " data-ljuser="rydel23" lj:user="rydel23"><a href="https://rydel23.livejournal.com/profile" class="i-ljuser-profile" target="_self"><img class="i-ljuser-userhead" src="https://l-stat.livejournal.net/img/userinfo_v8.svg?v=17080?v=657"></a><a href="https://rydel23.livejournal.com/" class="i-ljuser-username" target="_self"><b>rydel23</b></a></span> </span>  </p> <p class="b-leaf-meta">  <a href="https://lacinka.livejournal.com/31583.html?thread=178527#t178527" class="b-leaf-permalink" target="_self"> <span class="b-leaf-createdtime">May 31 2006, 16:17:17 UTC</span> </a>   <span class="b-leaf-shorttime">16 years ago</span>   </p>   </ul>        </div> </div>  <div class="b-leaf-article"> 90% гадасьцей і POV на беларускіх артыкулах ангельскай Вікіпэдыі ўсталяе менавіта ён, Кубан коССак. </div>   </div> </div>    </div><div class=" b-tree-twig  b-tree-twig-1 b-tree-twig-deep-0  " style="margin-left: 0px" data-tid="t177759">    <div id="t177759" class=" b-leaf         b-leaf-withsubject     b-leaf-full   comment p-comment " data-username="chhwe" data-displayname="chhwe" data-updated-ts="1149091412" data-full="1" data-subject="Chicier Źmicier, ale j..."> <div class=" b-leaf-inner svgpreloader svgpreloader-pseudo svgpreloader-16 "> <div class="b-leaf-header"> <div class="b-leaf-userpic"> <a href="https://chhwe.livejournal.com/" target="_blank" class="b-leaf-userpic-inner" lj:user="chhwe">   <img src="https://l-userpic.livejournal.com/8734377/1493947" alt="chhwe" loading="lazy" title="Chhwe: Chieftain">  </a> </div> <div class="b-leaf-details">   <h4 class="b-leaf-subject"><a href="https://lacinka.livejournal.com/31583.html?thread=177759#t177759" class="b-leaf-subject-link" target="_self">Chicier Źmicier, ale j...</a></h4>  <p class="b-leaf-username"><span class="b-leaf-username-name"><span class="ljuser  i-ljuser  i-ljuser-type-P     " data-ljuser="chhwe" lj:user="chhwe"><a href="https://chhwe.livejournal.com/profile" class="i-ljuser-profile" target="_self"><img class="i-ljuser-userhead" src="https://l-stat.livejournal.net/img/userinfo_v8.svg?v=17080?v=657"></a><a href="https://chhwe.livejournal.com/" class="i-ljuser-username" target="_self"><b>chhwe</b></a></span> </span>  </p> <p class="b-leaf-meta">  <a href="https://lacinka.livejournal.com/31583.html?thread=177759#t177759" class="b-leaf-permalink" target="_self"> <span class="b-leaf-createdtime">May 31 2006, 16:03:32 UTC</span> </a>   <span class="b-leaf-shorttime">16 years ago</span>   </p>   </ul>        </div> </div>  <div class="b-leaf-article"> Maładečna??? Čamy nie Maładziečna (čy ja pamylajusia?)? </div>   </div> </div>    </div><div class=" b-tree-twig  b-tree-twig-2 b-tree-twig-deep-0  " style="margin-left: 30px" data-tid="t178015">    <div id="t178015" class=" b-leaf         b-leaf-withsubject     b-leaf-full   comment p-comment " data-username="hondurazian" data-displayname="hondurazian" data-updated-ts="1149091618" data-full="1" data-subject="Re: Chicier Źmicier, ale j..."> <div class=" b-leaf-inner svgpreloader svgpreloader-pseudo svgpreloader-16 "> <div class="b-leaf-header"> <div class="b-leaf-userpic"> <a href="https://hondurazian.livejournal.com/" target="_blank" class="b-leaf-userpic-inner" lj:user="hondurazian">   <img src="https://l-userpic.livejournal.com/111319599/6011209" alt="hondurazian" loading="lazy" title="hondurazian: Bear Grylls">  </a> </div> <div class="b-leaf-details">   <h4 class="b-leaf-subject"><a href="https://lacinka.livejournal.com/31583.html?thread=178015#t178015" class="b-leaf-subject-link" target="_self">Re: Chicier Źmicier, ale j...</a></h4>  <p class="b-leaf-username"><span class="b-leaf-username-name"><span class="ljuser  i-ljuser  i-ljuser-type-P     " data-ljuser="hondurazian" lj:user="hondurazian"><a href="https://hondurazian.livejournal.com/profile" class="i-ljuser-profile" target="_self"><img class="i-ljuser-userhead" src="https://l-stat.livejournal.net/img/userinfo_v8.svg?v=17080?v=657"></a><a href="https://hondurazian.livejournal.com/" class="i-ljuser-username" target="_self"><b>hondurazian</b></a></span> </span>  </p> <p class="b-leaf-meta">  <a href="https://lacinka.livejournal.com/31583.html?thread=178015#t178015" class="b-leaf-permalink" target="_self"> <span class="b-leaf-createdtime">May 31 2006, 16:06:58 UTC</span> </a>   <span class="b-leaf-shorttime">16 years ago</span>   </p>   </ul>        </div> </div>  <div class="b-leaf-article"> можна і так, але не Maladzechna (Маладзэчна) </div>   </div> </div>    </div><div class=" b-tree-twig  b-tree-twig-1 b-tree-twig-deep-0  " style="margin-left: 0px" data-tid="t178783">    <div id="t178783" class=" b-leaf            b-leaf-full   comment p-comment " data-username="mirritil" data-displayname="mirritil" data-updated-ts="1149107530" data-full="1"> <div class=" b-leaf-inner svgpreloader svgpreloader-pseudo svgpreloader-16 "> <div class="b-leaf-header"> <div class="b-leaf-userpic"> <a href="https://mirritil.livejournal.com/" target="_blank" class="b-leaf-userpic-inner" lj:user="mirritil">   <img src="https://l-userpic.livejournal.com/28617092/6797174" alt="mirritil" loading="lazy" title="Mir'ritil: Mir'ritil">  </a> </div> <div class="b-leaf-details">   <p class="b-leaf-username"><span class="b-leaf-username-name"><span class="ljuser  i-ljuser  i-ljuser-type-P     " data-ljuser="mirritil" lj:user="mirritil"><a href="https://mirritil.livejournal.com/profile" class="i-ljuser-profile" target="_self"><img class="i-ljuser-userhead" src="https://l-stat.livejournal.net/img/userinfo_v8.svg?v=17080?v=657"></a><a href="https://mirritil.livejournal.com/" class="i-ljuser-username" target="_self"><b>mirritil</b></a></span> </span>  </p> <p class="b-leaf-meta">  <a href="https://lacinka.livejournal.com/31583.html?thread=178783#t178783" class="b-leaf-permalink" target="_self"> <span class="b-leaf-createdtime">May 31 2006, 20:32:10 UTC</span> </a>   <span class="b-leaf-shorttime">16 years ago</span>   </p>   </ul>        </div> </div>  <div class="b-leaf-article"> мяне ўжо дастала з гэтымі казакамі і іншымі шавіністамі змагацца :( </div>   </div> </div>    </div><div class=" b-tree-twig  b-tree-twig-2 b-tree-twig-deep-0  " style="margin-left: 30px" data-tid="t179039">    <div id="t179039" class=" b-leaf            b-leaf-full   comment p-comment " data-username="juras14" data-displayname="juras14" data-updated-ts="1149129556" data-full="1"> <div class=" b-leaf-inner svgpreloader svgpreloader-pseudo svgpreloader-16 "> <div class="b-leaf-header"> <div class="b-leaf-userpic"> <a href="https://juras14.livejournal.com/" target="_blank" class="b-leaf-userpic-inner" lj:user="juras14">   <img src="https://l-userpic.livejournal.com/35562195/1515112" alt="juras14" loading="lazy" title="Юрась Міхед: Юзерпик">  </a> </div> <div class="b-leaf-details">   <p class="b-leaf-username"><span class="b-leaf-username-name"><span class="ljuser  i-ljuser  i-ljuser-type-P     " data-ljuser="juras14" lj:user="juras14"><a href="https://juras14.livejournal.com/profile" class="i-ljuser-profile" target="_self"><img class="i-ljuser-userhead" src="https://l-stat.livejournal.net/img/userinfo_v8.svg?v=17080?v=657"></a><a href="https://juras14.livejournal.com/" class="i-ljuser-username" target="_self"><b>juras14</b></a></span> </span>  </p> <p class="b-leaf-meta">  <a href="https://lacinka.livejournal.com/31583.html?thread=179039#t179039" class="b-leaf-permalink" target="_self"> <span class="b-leaf-createdtime">June 1 2006, 02:39:16 UTC</span> </a>   <span class="b-leaf-shorttime">16 years ago</span>   </p>   </ul>        </div> </div>  <div class="b-leaf-article"> Так, "рюсский поцреотъ" - гэта дыягназ. </div>   </div> </div>    </div></div>     <div prev-next-nav=""></div> <div suggestion-for-unlogged="" class="ng-isolate-scope"><!-- ngIf: directive.isBlockVisible --></div>   </div>         