---
id: 33881
layout: page
date: 2022-10-16
---


<!-- s-body -->
        <div class="s-body">

            <!-- use header -->
            <!-- /use header -->

            <!-- Content -->
             <article class="b-singlepost hentry h-entry js-emojis  b-singlepost-mobileadaptive  b-singlepost-withbodybanner  ng-scope" role="main" ng-app="Entry"> <div class="b-singlepost-qrcode  ng-isolate-scope" lj-qrcode="https://lacinka.livejournal.com/33881.html" lj-qrcode-width="70" lj-qrcode-height="70"> <canvas width="70" height="70"></canvas></div> <div class="b-singlepost-about"> <dl class=" b-singlepost-author author vcard p-author h-card " ng-non-bindable=""> <dt class=" b-singlepost-author-userpic photo u-photo " lj:user="coipish">  <img src="https://l-userpic.livejournal.com/74177303/8579748" width="100" height="100" align="absmiddle" title="Kojpiš Anton // Койпиш Антон: a" alt="">  </dt> <dd class="b-singlepost-author-userinfo"> <div class="b-singlepost-author-userinfo-screen"> <span class=" b-singlepost-author-user fn p-name "> <span class="b-singlepost-author-user-screen"> Kojpiš Anton // Койпиш Антон (<span class="ljuser  i-ljuser  i-ljuser-type-P     " data-ljuser="coipish" lj:user="coipish"><a href="https://coipish.livejournal.com/profile" target="_self" class="i-ljuser-profile"><img class="i-ljuser-userhead" src="https://l-stat.livejournal.net/img/userinfo_v8.svg?v=17080?v=657"></a><a href="https://coipish.livejournal.com/" class="i-ljuser-username" target="_self"><b>coipish</b></a></span>) wrote in <span class="ljuser  i-ljuser  i-ljuser-type-C     " data-ljuser="lacinka" lj:user="lacinka"><a href="https://lacinka.livejournal.com/profile" target="_self" class="i-ljuser-profile"><img class="i-ljuser-userhead" src="https://l-stat.livejournal.net/img/community.gif?v=556?v=657"></a><a href="https://lacinka.livejournal.com/" class="i-ljuser-username" target="_self"><b>lacinka</b></a></span>, </span> </span> <br> <time class=" b-singlepost-author-date published dt-published "><a href="https://lacinka.livejournal.com/2006/" target="_self">2006</a>-<a href="https://lacinka.livejournal.com/2006/08/" target="_self">08</a>-<a href="https://lacinka.livejournal.com/2006/08/20/" target="_self">20</a> 08:56:00</time>   </div> <div class="b-singlepost-author-userinfo-print"> <span class=" b-singlepost-author-user fn p-name "> Kojpiš Anton // Койпиш Антон<br> <span class="ljuser  i-ljuser  i-ljuser-type-P     " data-ljuser="coipish" lj:user="coipish"><a href="https://coipish.livejournal.com/profile" target="_self" class="i-ljuser-profile"><img class="i-ljuser-userhead" src="https://l-stat.livejournal.net/img/userinfo_v8.svg?v=17080?v=657"></a><a href="https://coipish.livejournal.com/" class="i-ljuser-username" target="_self"><b>coipish</b></a></span>  <br><span class="ljuser  i-ljuser  i-ljuser-type-C     " data-ljuser="lacinka" lj:user="lacinka"><a href="https://lacinka.livejournal.com/profile" target="_self" class="i-ljuser-profile"><img class="i-ljuser-userhead" src="https://l-stat.livejournal.net/img/community.gif?v=556?v=657"></a><a href="https://lacinka.livejournal.com/" class="i-ljuser-username" target="_self"><b>lacinka</b></a></span>  </span> <br> <time class=" b-singlepost-author-date published dt-published "><a href="https://lacinka.livejournal.com/2006/" target="_self">2006</a>-<a href="https://lacinka.livejournal.com/2006/08/" target="_self">08</a>-<a href="https://lacinka.livejournal.com/2006/08/20/" target="_self">20</a> 08:56:00</time> </div> </dd> </dl>  </div>    <div class="b-singlepost-wrapper">  <h1 class=" b-singlepost-title entry-title p-name " ng-non-bindable="">      Jak pastavić nacisk?  </h1>  <div class="b-singlepost-bodywrapper">  <article class="b-singlepost-body entry-content e-content   ng-scope" lj-sale-entry="" lj-discovery-tags="" lj-embed-resizer=""> Pavažanaje spadarstva, jak pryniata stavić nacisk u łacincy, jakim nadstročnym symbalam? Spačatku zdajecca, lagična było b stavić tak (áéíóúý), ale mianie niekalki biantežyć padabienstva da nadstročnaha symbalu litar (ćńśźdź). Minavita ja miarkuju aptymalnym varyjant (àèìòùỳ). Ale, mo ŭžo jo jakojata-pahadžeńnie na hety kont? Nakštałt, viedaje chto, jak heta robicca ŭ polskaj movie?<br>Dziakuj.  <div class="9o59sl"></div></article> <div lj0sale0height="600" lj0sale0window0min="1200" lj0sale0window0max="9999" lj0sale0hide0cookie="s1_rightbanner_closed" class="ljsale ljsale--empty b-singlepost-bodybanner ng-isolate-scope" lj0sale0not0init="s1_right"><div class="ljsale__inner">

    <div class="allbanners ">

        <!-- ngIf: directive.customId -->
        <div id="">

          <!-- ngIf: directive.type -->
        
        </div>

        <!-- ngIf: directive.close -->

    </div>

    <!-- ngIf: directive.hideble -->

</div>
</div>  </div>    </div> <div class="b-singlepost-video-wrap"> <div data-autoplay-dockable-video-mount=""></div> </div>
<div id="comments" class="b-grove" data-authtoken="c0:1682874000:258:86400:vuWlveg7QQ-0-:9dae78bef0f02e19128d91690deee1a9"> <div class=" b-xylem  b-xylem-first  "> <ul class="b-xylem-cells">  <li class=" b-xylem-cell b-xylem-cell-amount ">   <span class="js-amount">  9 comments  </span>   </li>  </ul>  </div> <div class=" b-massaction-top ">  </div>    <div class=" b-tree b-tree-best ">  </div> <div class=" b-tree b-tree-promo " data-currentprice="">  </div>  <div class=" b-tree b-tree-root svgpreloader svgpreloader-pseudo svgpreloader-30 "><div class=" b-tree-twig  b-tree-twig-1 b-tree-twig-deep-0  " style="margin-left: 0px" data-tid="t184921">    <div id="t184921" class=" b-leaf            b-leaf-full   comment p-comment " data-username="zolak" data-displayname="zolak" data-updated-ts="1156058023" data-full="1"> <div class=" b-leaf-inner svgpreloader svgpreloader-pseudo svgpreloader-16 "> <div class="b-leaf-header"> <div class="b-leaf-userpic"> <a href="https://zolak.livejournal.com/" target="_blank" class="b-leaf-userpic-inner" lj:user="zolak">   <img src="https://l-stat.livejournal.net/img/userpics/userpic-user.png?v=15821" alt="zolak" loading="lazy">  </a> </div> <div class="b-leaf-details">   <p class="b-leaf-username"><span class="b-leaf-username-name"><span class="ljuser  i-ljuser  i-ljuser-deleted  i-ljuser-type-P     " data-ljuser="zolak" lj:user="zolak"><a href="https://zolak.livejournal.com/profile" class="i-ljuser-profile" target="_self"><img class="i-ljuser-userhead" src="https://l-stat.livejournal.net/img/userinfo_v8.svg?v=17080?v=657"></a><a href="https://zolak.livejournal.com/" class="i-ljuser-username" target="_self"><b>zolak</b></a></span> </span>  </p> <p class="b-leaf-meta">  <a href="https://lacinka.livejournal.com/33881.html?thread=184921#t184921" class="b-leaf-permalink" target="_self"> <span class="b-leaf-createdtime">August 20 2006, 07:13:43 UTC</span> </a>   <span class="b-leaf-shorttime">16 years ago</span>   </p>   </ul>        </div> </div>  <div class="b-leaf-article"> Dumaju, prablema nadumanaja. Nacisk zaŭždy robicca na hałosnyja, tamu śćź nie pieraškadžajuć nijak. <br><br>U polskaj nijakich naciskaŭ na piśmie nichto nie paznačaje. Kali treba, kažuć apisalna, što nacisk tut na takuju j takuju litaru. </div>   </div> </div>    </div><div class=" b-tree-twig  b-tree-twig-2 b-tree-twig-deep-0  " style="margin-left: 30px" data-tid="t185177">    <div id="t185177" class=" b-leaf        b-leaf-poster      b-leaf-full   comment p-comment " data-username="coipish" data-displayname="coipish" data-updated-ts="1156059452" data-full="1"> <div class=" b-leaf-inner svgpreloader svgpreloader-pseudo svgpreloader-16 "> <div class="b-leaf-header"> <div class="b-leaf-userpic"> <a href="https://coipish.livejournal.com/" target="_blank" class="b-leaf-userpic-inner" lj:user="coipish">   <img src="https://l-userpic.livejournal.com/74177303/8579748" alt="coipish" loading="lazy" title="Kojpiš Anton // Койпиш Антон: a">  </a> </div> <div class="b-leaf-details">   <p class="b-leaf-username"><span class="b-leaf-username-name"><span class="ljuser  i-ljuser  i-ljuser-type-P     " data-ljuser="coipish" lj:user="coipish"><a href="https://coipish.livejournal.com/profile" class="i-ljuser-profile" target="_self"><img class="i-ljuser-userhead" src="https://l-stat.livejournal.net/img/userinfo_v8.svg?v=17080?v=657"></a><a href="https://coipish.livejournal.com/" class="i-ljuser-username" target="_self"><b>coipish</b></a></span> </span>  </p> <p class="b-leaf-meta">  <a href="https://lacinka.livejournal.com/33881.html?thread=185177#t185177" class="b-leaf-permalink" target="_self"> <span class="b-leaf-createdtime">August 20 2006, 07:37:32 UTC</span> </a>   <span class="b-leaf-shorttime">16 years ago</span>   </p>   </ul>        </div> </div>  <div class="b-leaf-article"> <i>Dumaju, prablema nadumanaja. Nacisk zaŭždy robicca na hałosnyja, tamu śćź nie pieraškadžajuć nijak. </i><br>Nu ja ž kažu, što mnie prost nie padabajecca paznačeńnie roznych rečaŭ (miakkaści j nacisku) adnym i tym ža symbalam.<br><br><i>U polskaj nijakich naciskaŭ na piśmie nichto nie paznačaje. Kali treba, kažuć apisalna, što nacisk tut na takuju j takuju litaru.</i><br>Nu, naprykład, kali ŭ vieršy chočaš paznačyć niestandartny nacisk u jakimści słovie, heta nie prakanaje. </div>   </div> </div>    </div><div class=" b-tree-twig  b-tree-twig-3 b-tree-twig-deep-0  " style="margin-left: 60px" data-tid="t185689">    <div id="t185689" class=" b-leaf            b-leaf-full   comment p-comment " data-username="zolak" data-displayname="zolak" data-updated-ts="1156071793" data-full="1"> <div class=" b-leaf-inner svgpreloader svgpreloader-pseudo svgpreloader-16 "> <div class="b-leaf-header"> <div class="b-leaf-userpic"> <a href="https://zolak.livejournal.com/" target="_blank" class="b-leaf-userpic-inner" lj:user="zolak">   <img src="https://l-stat.livejournal.net/img/userpics/userpic-user.png?v=15821" alt="zolak" loading="lazy">  </a> </div> <div class="b-leaf-details">   <p class="b-leaf-username"><span class="b-leaf-username-name"><span class="ljuser  i-ljuser  i-ljuser-deleted  i-ljuser-type-P     " data-ljuser="zolak" lj:user="zolak"><a href="https://zolak.livejournal.com/profile" class="i-ljuser-profile" target="_self"><img class="i-ljuser-userhead" src="https://l-stat.livejournal.net/img/userinfo_v8.svg?v=17080?v=657"></a><a href="https://zolak.livejournal.com/" class="i-ljuser-username" target="_self"><b>zolak</b></a></span> </span>  </p> <p class="b-leaf-meta">  <a href="https://lacinka.livejournal.com/33881.html?thread=185689#t185689" class="b-leaf-permalink" target="_self"> <span class="b-leaf-createdtime">August 20 2006, 11:03:13 UTC</span> </a>   <span class="b-leaf-shorttime">16 years ago</span>   </p>   </ul>        </div> </div>  <div class="b-leaf-article"> U polskaj nacisk <b>zaŭždy</b> na pieradapošni skład, jak u esperanta. A takija rysački nad hałosnymi u niekatorych movach, nakolki mnie viadoma, aznačajuć chutčej daŭžyniu huku, čym nacisk<br>.<br>A navošta nam heta? </div>   </div> </div>    </div><div class=" b-tree-twig  b-tree-twig-4 b-tree-twig-deep-0  " style="margin-left: 90px" data-tid="t186201">    <div id="t186201" class=" b-leaf        b-leaf-poster      b-leaf-full   comment p-comment " data-username="coipish" data-displayname="coipish" data-updated-ts="1156220512" data-full="1"> <div class=" b-leaf-inner svgpreloader svgpreloader-pseudo svgpreloader-16 "> <div class="b-leaf-header"> <div class="b-leaf-userpic"> <a href="https://coipish.livejournal.com/" target="_blank" class="b-leaf-userpic-inner" lj:user="coipish">   <img src="https://l-userpic.livejournal.com/74177303/8579748" alt="coipish" loading="lazy" title="Kojpiš Anton // Койпиш Антон: a">  </a> </div> <div class="b-leaf-details">   <p class="b-leaf-username"><span class="b-leaf-username-name"><span class="ljuser  i-ljuser  i-ljuser-type-P     " data-ljuser="coipish" lj:user="coipish"><a href="https://coipish.livejournal.com/profile" class="i-ljuser-profile" target="_self"><img class="i-ljuser-userhead" src="https://l-stat.livejournal.net/img/userinfo_v8.svg?v=17080?v=657"></a><a href="https://coipish.livejournal.com/" class="i-ljuser-username" target="_self"><b>coipish</b></a></span> </span>  </p> <p class="b-leaf-meta">  <a href="https://lacinka.livejournal.com/33881.html?thread=186201#t186201" class="b-leaf-permalink" target="_self"> <span class="b-leaf-createdtime">August 22 2006, 04:21:52 UTC</span> </a>   <span class="b-leaf-shorttime">16 years ago</span>   </p>   </ul>        </div> </div>  <div class="b-leaf-article"> <i>U polskaj nacisk zaŭždy na pieradapošni skład, jak u esperanta. </i><br>Ja nia viedaŭ hetaha.<br><i>A takija rysački nad hałosnymi u niekatorych movach, nakolki mnie viadoma, aznačajuć chutčej daŭžyniu huku, čym nacisk</i><br>A heta viedaŭ :) Ale nacisk čaściej.<br><i>A navošta nam heta?</i><br>Nu, ja ž kažu, u vieršach, naprykład, časam vykarystoŭvajecca słova z niestandartnym naciskam. Ci, naprykład, kali niejkaje redkaje ci zamiežnaje słova. Naprykład vioska "Vyraŭščycy" - kali dakładna nia viedaje, čałaviek, jaki ab joj štości čytaje, moža pastavić jak na pieršy, tak i na druhi j na treci słohi nacisk. </div>   </div> </div>    </div><div class=" b-tree-twig  b-tree-twig-5 b-tree-twig-deep-0  " style="margin-left: 120px" data-tid="t186457">    <div id="t186457" class=" b-leaf            b-leaf-full   comment p-comment " data-username="zolak" data-displayname="zolak" data-updated-ts="1156231306" data-full="1"> <div class=" b-leaf-inner svgpreloader svgpreloader-pseudo svgpreloader-16 "> <div class="b-leaf-header"> <div class="b-leaf-userpic"> <a href="https://zolak.livejournal.com/" target="_blank" class="b-leaf-userpic-inner" lj:user="zolak">   <img src="https://l-stat.livejournal.net/img/userpics/userpic-user.png?v=15821" alt="zolak" loading="lazy">  </a> </div> <div class="b-leaf-details">   <p class="b-leaf-username"><span class="b-leaf-username-name"><span class="ljuser  i-ljuser  i-ljuser-deleted  i-ljuser-type-P     " data-ljuser="zolak" lj:user="zolak"><a href="https://zolak.livejournal.com/profile" class="i-ljuser-profile" target="_self"><img class="i-ljuser-userhead" src="https://l-stat.livejournal.net/img/userinfo_v8.svg?v=17080?v=657"></a><a href="https://zolak.livejournal.com/" class="i-ljuser-username" target="_self"><b>zolak</b></a></span> </span>  </p> <p class="b-leaf-meta">  <a href="https://lacinka.livejournal.com/33881.html?thread=186457#t186457" class="b-leaf-permalink" target="_self"> <span class="b-leaf-createdtime">August 22 2006, 07:21:46 UTC</span> </a>   <span class="b-leaf-shorttime">16 years ago</span>   </p>   </ul>        </div> </div>  <div class="b-leaf-article"> Nu, kali niechta śviadoma vykarystoŭvaje ŭ movie niejkaje słova, pra jakoje viadoma, što nieviadoma dzie stavić nacisk, dyk jon, zdajecca, pavinien pakłapacicca, kab apisać dzie tam nacisk.<br><br>Ale naohuł mnie nie pieraškadžali b baciski takija jak nad śćź. Budzie <i>biezobrazno zato odnoobrazno</i>. A jašče lepiej vydzialać litary boldam albo kursivam. Kali heta vyklučeńnie. Heta dazvolić nie duryć hałavy čytačom dla jakich łacinka -- novaja źjava -- dadatkovymi rysačkami ź jakimi nieviadoma što rabić. </div>   </div> </div>    </div><div class=" b-tree-twig  b-tree-twig-6 b-tree-twig-deep-0  " style="margin-left: 150px" data-tid="t186969">    <div id="t186969" class=" b-leaf        b-leaf-poster      b-leaf-full   comment p-comment " data-username="coipish" data-displayname="coipish" data-updated-ts="1156249680" data-full="1"> <div class=" b-leaf-inner svgpreloader svgpreloader-pseudo svgpreloader-16 "> <div class="b-leaf-header"> <div class="b-leaf-userpic"> <a href="https://coipish.livejournal.com/" target="_blank" class="b-leaf-userpic-inner" lj:user="coipish">   <img src="https://l-userpic.livejournal.com/74177303/8579748" alt="coipish" loading="lazy" title="Kojpiš Anton // Койпиш Антон: a">  </a> </div> <div class="b-leaf-details">   <p class="b-leaf-username"><span class="b-leaf-username-name"><span class="ljuser  i-ljuser  i-ljuser-type-P     " data-ljuser="coipish" lj:user="coipish"><a href="https://coipish.livejournal.com/profile" class="i-ljuser-profile" target="_self"><img class="i-ljuser-userhead" src="https://l-stat.livejournal.net/img/userinfo_v8.svg?v=17080?v=657"></a><a href="https://coipish.livejournal.com/" class="i-ljuser-username" target="_self"><b>coipish</b></a></span> </span>  </p> <p class="b-leaf-meta">  <a href="https://lacinka.livejournal.com/33881.html?thread=186969#t186969" class="b-leaf-permalink" target="_self"> <span class="b-leaf-createdtime">August 22 2006, 12:28:00 UTC</span> </a>   <span class="b-leaf-shorttime">16 years ago</span>   </p>   </ul>        </div> </div>  <div class="b-leaf-article"> <i>Nu, kali niechta śviadoma vykarystoŭvaje ŭ movie niejkaje słova, pra jakoje viadoma, što nieviadoma dzie stavić nacisk, dyk jon, zdajecca, pavinien pakłapacicca, kab apisać dzie tam nacisk.</i><br>Uhu, naprykład, pastaviŭ rysku nad patrebnaj litaraj. :)<br><br><i>A jašče lepiej vydzialać litary boldam albo kursivam. </i><br>Ja zhodzien. Ale, raptam vyrašyć jaki-nibudź Zołak text u mianie pierakapiravać, naprykład vykarystoŭvajučy Cntrl+C/Cntrl+V i nia źviernie uvahu na vydzialeńnie, Voś i zhubicca nacisk...<br><br><i>Heta dazvolić nie duryć hałavy čytačom dla jakich łacinka -- novaja źjava -- dadatkovymi rysačkami ź jakimi nieviadoma što rabić.</i><br>Voś na hety kont nie chvalujciesia. Pa-pieršaje, nacisk davoli mała dzie patrabujecca. I pa-druhoje, ja miarkuju, kali čytač raptam sustrecić jaho (jaki b nakłon u ryski nie byŭ), jon zdahadajecca. </div>   </div> </div>    </div><div class=" b-tree-twig  b-tree-twig-5 b-tree-twig-deep-0  " style="margin-left: 120px" data-tid="t186713">    <div id="t186713" class=" b-leaf            b-leaf-full   comment p-comment " data-username="zolak" data-displayname="zolak" data-updated-ts="1156232219" data-full="1"> <div class=" b-leaf-inner svgpreloader svgpreloader-pseudo svgpreloader-16 "> <div class="b-leaf-header"> <div class="b-leaf-userpic"> <a href="https://zolak.livejournal.com/" target="_blank" class="b-leaf-userpic-inner" lj:user="zolak">   <img src="https://l-stat.livejournal.net/img/userpics/userpic-user.png?v=15821" alt="zolak" loading="lazy">  </a> </div> <div class="b-leaf-details">   <p class="b-leaf-username"><span class="b-leaf-username-name"><span class="ljuser  i-ljuser  i-ljuser-deleted  i-ljuser-type-P     " data-ljuser="zolak" lj:user="zolak"><a href="https://zolak.livejournal.com/profile" class="i-ljuser-profile" target="_self"><img class="i-ljuser-userhead" src="https://l-stat.livejournal.net/img/userinfo_v8.svg?v=17080?v=657"></a><a href="https://zolak.livejournal.com/" class="i-ljuser-username" target="_self"><b>zolak</b></a></span> </span>  </p> <p class="b-leaf-meta">  <a href="https://lacinka.livejournal.com/33881.html?thread=186713#t186713" class="b-leaf-permalink" target="_self"> <span class="b-leaf-createdtime">August 22 2006, 07:36:59 UTC</span> </a>   <span class="b-leaf-shorttime">16 years ago</span>   </p>   </ul>        </div> </div>  <div class="b-leaf-article"> Polskaje ó aznačaje huk "u".  </div>   </div> </div>    </div><div class=" b-tree-twig  b-tree-twig-6 b-tree-twig-deep-0  " style="margin-left: 150px" data-tid="t187225">    <div id="t187225" class=" b-leaf        b-leaf-poster      b-leaf-full   comment p-comment " data-username="coipish" data-displayname="coipish" data-updated-ts="1156249753" data-full="1"> <div class=" b-leaf-inner svgpreloader svgpreloader-pseudo svgpreloader-16 "> <div class="b-leaf-header"> <div class="b-leaf-userpic"> <a href="https://coipish.livejournal.com/" target="_blank" class="b-leaf-userpic-inner" lj:user="coipish">   <img src="https://l-userpic.livejournal.com/74177303/8579748" alt="coipish" loading="lazy" title="Kojpiš Anton // Койпиш Антон: a">  </a> </div> <div class="b-leaf-details">   <p class="b-leaf-username"><span class="b-leaf-username-name"><span class="ljuser  i-ljuser  i-ljuser-type-P     " data-ljuser="coipish" lj:user="coipish"><a href="https://coipish.livejournal.com/profile" class="i-ljuser-profile" target="_self"><img class="i-ljuser-userhead" src="https://l-stat.livejournal.net/img/userinfo_v8.svg?v=17080?v=657"></a><a href="https://coipish.livejournal.com/" class="i-ljuser-username" target="_self"><b>coipish</b></a></span> </span>  </p> <p class="b-leaf-meta">  <a href="https://lacinka.livejournal.com/33881.html?thread=187225#t187225" class="b-leaf-permalink" target="_self"> <span class="b-leaf-createdtime">August 22 2006, 12:29:13 UTC</span> </a>   <span class="b-leaf-shorttime">16 years ago</span>   </p>   </ul>        </div> </div>  <div class="b-leaf-article"> Voś heta viedaŭ, tamu j ličuŭ, što davoli małavierahodna, kab nacisk paznačaŭsia takim ža nadstročnym symbalam. </div>   </div> </div>    </div><div class=" b-tree-twig  b-tree-twig-1 b-tree-twig-deep-0  " style="margin-left: 0px" data-tid="t185433">    <div class=" b-leaf b-leaf-clipped b-leaf-deleted " id="t185433"> <div class=" b-leaf-inner svgpreloader svgpreloader-pseudo svgpreloader-16 "> <div class="b-leaf-cheader"> <p class="b-leaf-status">  Deleted comment  </p>   </div>  </div> </div>    </div><div class=" b-tree-twig  b-tree-twig-2 b-tree-twig-deep-0  " style="margin-left: 30px" data-tid="t185945">    <div id="t185945" class=" b-leaf        b-leaf-poster      b-leaf-full   comment p-comment " data-username="coipish" data-displayname="coipish" data-updated-ts="1156219008" data-full="1"> <div class=" b-leaf-inner svgpreloader svgpreloader-pseudo svgpreloader-16 "> <div class="b-leaf-header"> <div class="b-leaf-userpic"> <a href="https://coipish.livejournal.com/" target="_blank" class="b-leaf-userpic-inner" lj:user="coipish">   <img src="https://l-userpic.livejournal.com/74177303/8579748" alt="coipish" loading="lazy" title="Kojpiš Anton // Койпиш Антон: a">  </a> </div> <div class="b-leaf-details">   <p class="b-leaf-username"><span class="b-leaf-username-name"><span class="ljuser  i-ljuser  i-ljuser-type-P     " data-ljuser="coipish" lj:user="coipish"><a href="https://coipish.livejournal.com/profile" class="i-ljuser-profile" target="_self"><img class="i-ljuser-userhead" src="https://l-stat.livejournal.net/img/userinfo_v8.svg?v=17080?v=657"></a><a href="https://coipish.livejournal.com/" class="i-ljuser-username" target="_self"><b>coipish</b></a></span> </span>  </p> <p class="b-leaf-meta">  <a href="https://lacinka.livejournal.com/33881.html?thread=185945#t185945" class="b-leaf-permalink" target="_self"> <span class="b-leaf-createdtime">August 22 2006, 03:56:48 UTC</span> </a>   <span class="b-leaf-shorttime">16 years ago</span>   </p>   </ul>        </div> </div>  <div class="b-leaf-article"> Mnie zdajecca, lepiej rysku, ale ja j pytajusia, jakuju. U kiryłki vykarystoŭvajecca (áéíóúý) i ja b pieranies jaje, kali b takaja ž ryska nia mieła zusim jinšy sens u łacinki, chacia j tolki nad zyčnymi. Tam, mnie zdajecca najlepšym varyjantam (àèìòùỳ), nakštałt, ja bačyŭ, jak u angielskaj minavita tak paznačaŭsia nacisk. </div>   </div> </div>    </div></div>     <div prev-next-nav=""></div> <div suggestion-for-unlogged="" class="ng-isolate-scope"><!-- ngIf: directive.isBlockVisible --></div>   </div>         