---
id: 34658
layout: page
date: 2022-10-16
---


<!-- s-body -->
        <div class="s-body">

            <!-- use header -->
            <!-- /use header -->

            <!-- Content -->
             <article class="b-singlepost hentry h-entry js-emojis  b-singlepost-mobileadaptive  b-singlepost-withbodybanner  ng-scope" role="main" ng-app="Entry"> <div class="b-singlepost-qrcode  ng-isolate-scope" lj-qrcode="https://lacinka.livejournal.com/34658.html" lj-qrcode-width="70" lj-qrcode-height="70"> <canvas width="70" height="70"></canvas></div> <div class="b-singlepost-about"> <dl class=" b-singlepost-author author vcard p-author h-card " ng-non-bindable=""> <dt class=" b-singlepost-author-userpic photo u-photo " lj:user="prof22">  <img src="https://l-userpic.livejournal.com/74708290/3723791" width="" height="" align="absmiddle" title="Глеб П. Патапёнак: pic#74708290" alt="">  </dt> <dd class="b-singlepost-author-userinfo"> <div class="b-singlepost-author-userinfo-screen"> <span class=" b-singlepost-author-user fn p-name "> <span class="b-singlepost-author-user-screen"> Глеб П. Патапёнак (<span class="ljuser  i-ljuser  i-ljuser-deleted  i-ljuser-type-P     " data-ljuser="prof22" lj:user="prof22"><a href="https://prof22.livejournal.com/profile" target="_self" class="i-ljuser-profile"><img class="i-ljuser-userhead" src="https://l-stat.livejournal.net/img/userinfo_v8.svg?v=17080?v=657"></a><a href="https://prof22.livejournal.com/" class="i-ljuser-username" target="_self"><b>prof22</b></a></span>) wrote in <span class="ljuser  i-ljuser  i-ljuser-type-C     " data-ljuser="lacinka" lj:user="lacinka"><a href="https://lacinka.livejournal.com/profile" target="_self" class="i-ljuser-profile"><img class="i-ljuser-userhead" src="https://l-stat.livejournal.net/img/community.gif?v=556?v=657"></a><a href="https://lacinka.livejournal.com/" class="i-ljuser-username" target="_self"><b>lacinka</b></a></span>, </span> </span> <br> <time class=" b-singlepost-author-date published dt-published "><a href="https://lacinka.livejournal.com/2006/" target="_self">2006</a>-<a href="https://lacinka.livejournal.com/2006/08/" target="_self">08</a>-<a href="https://lacinka.livejournal.com/2006/08/29/" target="_self">29</a> 18:39:00</time>   </div> <div class="b-singlepost-author-userinfo-print"> <span class=" b-singlepost-author-user fn p-name "> Глеб П. Патапёнак<br> <span class="ljuser  i-ljuser  i-ljuser-deleted  i-ljuser-type-P     " data-ljuser="prof22" lj:user="prof22"><a href="https://prof22.livejournal.com/profile" target="_self" class="i-ljuser-profile"><img class="i-ljuser-userhead" src="https://l-stat.livejournal.net/img/userinfo_v8.svg?v=17080?v=657"></a><a href="https://prof22.livejournal.com/" class="i-ljuser-username" target="_self"><b>prof22</b></a></span>  <br><span class="ljuser  i-ljuser  i-ljuser-type-C     " data-ljuser="lacinka" lj:user="lacinka"><a href="https://lacinka.livejournal.com/profile" target="_self" class="i-ljuser-profile"><img class="i-ljuser-userhead" src="https://l-stat.livejournal.net/img/community.gif?v=556?v=657"></a><a href="https://lacinka.livejournal.com/" class="i-ljuser-username" target="_self"><b>lacinka</b></a></span>  </span> <br> <time class=" b-singlepost-author-date published dt-published "><a href="https://lacinka.livejournal.com/2006/" target="_self">2006</a>-<a href="https://lacinka.livejournal.com/2006/08/" target="_self">08</a>-<a href="https://lacinka.livejournal.com/2006/08/29/" target="_self">29</a> 18:39:00</time> </div> </dd> </dl>  </div>    <div class="b-singlepost-wrapper">  <h1 class=" b-singlepost-title entry-title p-name " ng-non-bindable="">      Prapanova  </h1>  <div class="b-singlepost-bodywrapper">  <article class="b-singlepost-body entry-content e-content   ng-scope" lj-sale-entry="" lj-discovery-tags="" lj-embed-resizer=""> Voś jakaja sprava: kali pišu na łacincy, to vielmi dakučna stajecca ŭvieś čas pisać, naprykład "nasieńnIE", "bIEły", "udzIAčny" i h. d. Čamu b nie paznačać miakkaść prosta jašče adnej miakkaj litaraj -"nasieńńe" - zamiž taho kab uvieś čas pisać "ie", "ia"?  <div class="mxe03g"></div></article> <div lj0sale0height="600" lj0sale0window0min="1200" lj0sale0window0max="9999" lj0sale0hide0cookie="s1_rightbanner_closed" class="ljsale ljsale--empty b-singlepost-bodybanner ng-isolate-scope" lj0sale0not0init="s1_right"><div class="ljsale__inner">

    <div class="allbanners ">

        <!-- ngIf: directive.customId -->
        <div id="">

          <!-- ngIf: directive.type -->
        
        </div>

        <!-- ngIf: directive.close -->

    </div>

    <!-- ngIf: directive.hideble -->

</div>
</div>  </div>    </div> <div class="b-singlepost-video-wrap"> <div data-autoplay-dockable-video-mount=""></div> </div>
<div id="comments" class="b-grove" data-authtoken="c0:1682874000:261:86400:FMw7wxgOfZ-0-:0f1cc6e58288eeab00fdd70f2e363f9a"> <div class=" b-xylem  b-xylem-first  "> <ul class="b-xylem-cells">  <li class=" b-xylem-cell b-xylem-cell-amount ">   <span class="js-amount">  11 comments  </span>   </li>  </ul>  </div> <div class=" b-massaction-top ">  </div>    <div class=" b-tree b-tree-best ">  </div> <div class=" b-tree b-tree-promo " data-currentprice="">  </div>  <div class=" b-tree b-tree-root svgpreloader svgpreloader-pseudo svgpreloader-30 "><div class=" b-tree-twig  b-tree-twig-1 b-tree-twig-deep-0  " style="margin-left: 0px" data-tid="t189282">    <div id="t189282" class=" b-leaf            b-leaf-full   comment p-comment " data-username="coipish" data-displayname="coipish" data-updated-ts="1156867054" data-full="1"> <div class=" b-leaf-inner svgpreloader svgpreloader-pseudo svgpreloader-16 "> <div class="b-leaf-header"> <div class="b-leaf-userpic"> <a href="https://coipish.livejournal.com/" target="_blank" class="b-leaf-userpic-inner" lj:user="coipish">   <img src="https://l-userpic.livejournal.com/74177303/8579748" alt="coipish" loading="lazy" title="Kojpiš Anton // Койпиш Антон: a">  </a> </div> <div class="b-leaf-details">   <p class="b-leaf-username"><span class="b-leaf-username-name"><span class="ljuser  i-ljuser  i-ljuser-type-P     " data-ljuser="coipish" lj:user="coipish"><a href="https://coipish.livejournal.com/profile" class="i-ljuser-profile" target="_self"><img class="i-ljuser-userhead" src="https://l-stat.livejournal.net/img/userinfo_v8.svg?v=17080?v=657"></a><a href="https://coipish.livejournal.com/" class="i-ljuser-username" target="_self"><b>coipish</b></a></span> </span>  </p> <p class="b-leaf-meta">  <a href="https://lacinka.livejournal.com/34658.html?thread=189282#t189282" class="b-leaf-permalink" target="_self"> <span class="b-leaf-createdtime">August 29 2006, 15:57:34 UTC</span> </a>   <span class="b-leaf-shorttime">16 years ago</span>   </p>   </ul>        </div> </div>  <div class="b-leaf-article"> Nu vy skazanuli!<br>A moža prapanavać niemcam pisać zamiest "sch" (<b>vielmi</b> časta ŭ jim hetaje litarazłučeńnie sustrakajecca) pisać "š" naprykład? Jak vy miarkujecie, kali niechta surjozna źviarniecca na jakom-ta filalagičnam niamieckam blogie z takoj prapanovaj, jaho padtrymajuć? </div>   </div> </div>    </div><div class=" b-tree-twig  b-tree-twig-2 b-tree-twig-deep-0  " style="margin-left: 30px" data-tid="t189538">    <div id="t189538" class=" b-leaf            b-leaf-full   comment p-comment " data-username="zolak" data-displayname="zolak" data-updated-ts="1156872576" data-full="1"> <div class=" b-leaf-inner svgpreloader svgpreloader-pseudo svgpreloader-16 "> <div class="b-leaf-header"> <div class="b-leaf-userpic"> <a href="https://zolak.livejournal.com/" target="_blank" class="b-leaf-userpic-inner" lj:user="zolak">   <img src="https://l-stat.livejournal.net/img/userpics/userpic-user.png?v=15821" alt="zolak" loading="lazy">  </a> </div> <div class="b-leaf-details">   <p class="b-leaf-username"><span class="b-leaf-username-name"><span class="ljuser  i-ljuser  i-ljuser-deleted  i-ljuser-type-P     " data-ljuser="zolak" lj:user="zolak"><a href="https://zolak.livejournal.com/profile" class="i-ljuser-profile" target="_self"><img class="i-ljuser-userhead" src="https://l-stat.livejournal.net/img/userinfo_v8.svg?v=17080?v=657"></a><a href="https://zolak.livejournal.com/" class="i-ljuser-username" target="_self"><b>zolak</b></a></span> </span>  </p> <p class="b-leaf-meta">  <a href="https://lacinka.livejournal.com/34658.html?thread=189538#t189538" class="b-leaf-permalink" target="_self"> <span class="b-leaf-createdtime">August 29 2006, 17:29:36 UTC</span> </a>   <span class="b-leaf-shorttime">16 years ago</span>   </p>   </ul>        </div> </div>  <div class="b-leaf-article"> Racyja.  </div>   </div> </div>    </div><div class=" b-tree-twig  b-tree-twig-3 b-tree-twig-deep-0  " style="margin-left: 60px" data-tid="t189794">    <div id="t189794" class=" b-leaf            b-leaf-full   comment p-comment " data-username="coipish" data-displayname="coipish" data-updated-ts="1156872892" data-full="1"> <div class=" b-leaf-inner svgpreloader svgpreloader-pseudo svgpreloader-16 "> <div class="b-leaf-header"> <div class="b-leaf-userpic"> <a href="https://coipish.livejournal.com/" target="_blank" class="b-leaf-userpic-inner" lj:user="coipish">   <img src="https://l-userpic.livejournal.com/74177303/8579748" alt="coipish" loading="lazy" title="Kojpiš Anton // Койпиш Антон: a">  </a> </div> <div class="b-leaf-details">   <p class="b-leaf-username"><span class="b-leaf-username-name"><span class="ljuser  i-ljuser  i-ljuser-type-P     " data-ljuser="coipish" lj:user="coipish"><a href="https://coipish.livejournal.com/profile" class="i-ljuser-profile" target="_self"><img class="i-ljuser-userhead" src="https://l-stat.livejournal.net/img/userinfo_v8.svg?v=17080?v=657"></a><a href="https://coipish.livejournal.com/" class="i-ljuser-username" target="_self"><b>coipish</b></a></span> </span>  </p> <p class="b-leaf-meta">  <a href="https://lacinka.livejournal.com/34658.html?thread=189794#t189794" class="b-leaf-permalink" target="_self"> <span class="b-leaf-createdtime">August 29 2006, 17:34:52 UTC</span> </a>   <span class="b-leaf-shorttime">16 years ago</span>   </p>   </ul>        </div> </div>  <div class="b-leaf-article"> Sprechst du Deutsch? </div>   </div> </div>    </div><div class=" b-tree-twig  b-tree-twig-4 b-tree-twig-deep-0  " style="margin-left: 90px" data-tid="t190306">    <div id="t190306" class=" b-leaf            b-leaf-full   comment p-comment " data-username="zolak" data-displayname="zolak" data-updated-ts="1156874872" data-full="1"> <div class=" b-leaf-inner svgpreloader svgpreloader-pseudo svgpreloader-16 "> <div class="b-leaf-header"> <div class="b-leaf-userpic"> <a href="https://zolak.livejournal.com/" target="_blank" class="b-leaf-userpic-inner" lj:user="zolak">   <img src="https://l-stat.livejournal.net/img/userpics/userpic-user.png?v=15821" alt="zolak" loading="lazy">  </a> </div> <div class="b-leaf-details">   <p class="b-leaf-username"><span class="b-leaf-username-name"><span class="ljuser  i-ljuser  i-ljuser-deleted  i-ljuser-type-P     " data-ljuser="zolak" lj:user="zolak"><a href="https://zolak.livejournal.com/profile" class="i-ljuser-profile" target="_self"><img class="i-ljuser-userhead" src="https://l-stat.livejournal.net/img/userinfo_v8.svg?v=17080?v=657"></a><a href="https://zolak.livejournal.com/" class="i-ljuser-username" target="_self"><b>zolak</b></a></span> </span>  </p> <p class="b-leaf-meta">  <a href="https://lacinka.livejournal.com/34658.html?thread=190306#t190306" class="b-leaf-permalink" target="_self"> <span class="b-leaf-createdtime">August 29 2006, 18:07:52 UTC</span> </a>   <span class="b-leaf-shorttime">16 years ago</span>   </p>   </ul>        </div> </div>  <div class="b-leaf-article"> Nein. :) </div>   </div> </div>    </div><div class=" b-tree-twig  b-tree-twig-5 b-tree-twig-deep-0  " style="margin-left: 120px" data-tid="t190562">    <div id="t190562" class=" b-leaf            b-leaf-full   comment p-comment " data-username="coipish" data-displayname="coipish" data-updated-ts="1156875519" data-full="1"> <div class=" b-leaf-inner svgpreloader svgpreloader-pseudo svgpreloader-16 "> <div class="b-leaf-header"> <div class="b-leaf-userpic"> <a href="https://coipish.livejournal.com/" target="_blank" class="b-leaf-userpic-inner" lj:user="coipish">   <img src="https://l-userpic.livejournal.com/74177303/8579748" alt="coipish" loading="lazy" title="Kojpiš Anton // Койпиш Антон: a">  </a> </div> <div class="b-leaf-details">   <p class="b-leaf-username"><span class="b-leaf-username-name"><span class="ljuser  i-ljuser  i-ljuser-type-P     " data-ljuser="coipish" lj:user="coipish"><a href="https://coipish.livejournal.com/profile" class="i-ljuser-profile" target="_self"><img class="i-ljuser-userhead" src="https://l-stat.livejournal.net/img/userinfo_v8.svg?v=17080?v=657"></a><a href="https://coipish.livejournal.com/" class="i-ljuser-username" target="_self"><b>coipish</b></a></span> </span>  </p> <p class="b-leaf-meta">  <a href="https://lacinka.livejournal.com/34658.html?thread=190562#t190562" class="b-leaf-permalink" target="_self"> <span class="b-leaf-createdtime">August 29 2006, 18:18:39 UTC</span> </a>   <span class="b-leaf-shorttime">16 years ago</span>   </p>   </ul>        </div> </div>  <div class="b-leaf-article"> O-o, tady ty nie aceniš usiu raspaŭsiudžannaść "sch" i "ch" u niamieckaj movie :)<br>Kali ja pačynaŭ jaje vučyć, mnie zdavałasia, što tam navohuł adny "ch". :)<br>Naprykład "nachttischchen" - načny stoik, "tschechische" - česki, ih.d. </div>   </div> </div>    </div><div class=" b-tree-twig  b-tree-twig-1 b-tree-twig-deep-0  " style="margin-left: 0px" data-tid="t190050">    <div id="t190050" class=" b-leaf            b-leaf-full   comment p-comment " data-username="zolak" data-displayname="zolak" data-updated-ts="1156874760" data-full="1"> <div class=" b-leaf-inner svgpreloader svgpreloader-pseudo svgpreloader-16 "> <div class="b-leaf-header"> <div class="b-leaf-userpic"> <a href="https://zolak.livejournal.com/" target="_blank" class="b-leaf-userpic-inner" lj:user="zolak">   <img src="https://l-stat.livejournal.net/img/userpics/userpic-user.png?v=15821" alt="zolak" loading="lazy">  </a> </div> <div class="b-leaf-details">   <p class="b-leaf-username"><span class="b-leaf-username-name"><span class="ljuser  i-ljuser  i-ljuser-deleted  i-ljuser-type-P     " data-ljuser="zolak" lj:user="zolak"><a href="https://zolak.livejournal.com/profile" class="i-ljuser-profile" target="_self"><img class="i-ljuser-userhead" src="https://l-stat.livejournal.net/img/userinfo_v8.svg?v=17080?v=657"></a><a href="https://zolak.livejournal.com/" class="i-ljuser-username" target="_self"><b>zolak</b></a></span> </span>  </p> <p class="b-leaf-meta">  <a href="https://lacinka.livejournal.com/34658.html?thread=190050#t190050" class="b-leaf-permalink" target="_self"> <span class="b-leaf-createdtime">August 29 2006, 18:06:00 UTC</span> </a>   <span class="b-leaf-shorttime">16 years ago</span>   </p>   </ul>        </div> </div>  <div class="b-leaf-article"> Heta tamu, što ty hladziš na łacinku praz kiryličnuju pryzmu. A tabie nikoli nie pieraškadžała zamiest adnoj małoj rysački nad "s" pisać s+miakki_znak? ;)<br><br>Lj-user-ausvald kaliści stvaryŭ łasinkavy alfabet, u jakim amal kožnamu huku adpaviadaŭ znak. Mianie jon niejak nie pierakanaŭ. Navošta vynachodzić rovar, kali na im daŭno i niabłaha mozna jeździć?<br> <br>Paczytaj: <a href="http://ausvald.livejournal.com/492.html" target="_self">http://ausvald.livejournal.com/492.html</a>  </div>   </div> </div>    </div><div class=" b-tree-twig  b-tree-twig-1 b-tree-twig-deep-0  " style="margin-left: 0px" data-tid="t190818">    <div id="t190818" class=" b-leaf            b-leaf-full   comment p-comment " data-username="czyk" data-displayname="czyk" data-updated-ts="1156884531" data-full="1"> <div class=" b-leaf-inner svgpreloader svgpreloader-pseudo svgpreloader-16 "> <div class="b-leaf-header"> <div class="b-leaf-userpic"> <a href="https://czyk.livejournal.com/" target="_blank" class="b-leaf-userpic-inner" lj:user="czyk">   <img src="https://l-userpic.livejournal.com/63268369/8108068" alt="czyk" loading="lazy" title="czyk: park">  </a> </div> <div class="b-leaf-details">   <p class="b-leaf-username"><span class="b-leaf-username-name"><span class="ljuser  i-ljuser  i-ljuser-type-P     " data-ljuser="czyk" lj:user="czyk"><a href="https://czyk.livejournal.com/profile" class="i-ljuser-profile" target="_self"><img class="i-ljuser-userhead" src="https://l-stat.livejournal.net/img/userinfo_v8.svg?v=17080?v=657"></a><a href="https://czyk.livejournal.com/" class="i-ljuser-username" target="_self"><b>czyk</b></a></span> </span>  </p> <p class="b-leaf-meta">  <a href="https://lacinka.livejournal.com/34658.html?thread=190818#t190818" class="b-leaf-permalink" target="_self"> <span class="b-leaf-createdtime">August 29 2006, 20:48:51 UTC</span> </a>   <span class="b-leaf-shorttime">16 years ago</span>   </p>   </ul>        </div> </div>  <div class="b-leaf-article"> была колісь такая дыскусія
http://czyk.livejournal.com/19438.html?thread=39662#t39662

гэта будзе яшчэ большае парушэньне, дакладней папросту зьнішчэньне пазыцыйнага прынцыпу графічнага ладу. тады ўжо , калі быць пасьлядоўным, давядзецца пісаць: piaćora, b́ahu, ḿatu, śv́et, F́aduta, ṕal'ostak, ḱefir, ch́eruvim, Ńaḿeččyna.
думаю, такі варыянт ня мае шанцаў, бо стварае беспрэцэдэнтны разнабой як у беларускім, так і ў агульналацінкавым ладзе.
Зьяўляецца збыткоўнае пазначэньне мяккасьці - і надрадковікамі, і пазыцыйна. </div>   </div> </div>    </div><div class=" b-tree-twig  b-tree-twig-2 b-tree-twig-deep-0  " style="margin-left: 30px" data-tid="t191074">    <div id="t191074" class=" b-leaf            b-leaf-full   comment p-comment " data-username="zolak" data-displayname="zolak" data-updated-ts="1156887328" data-full="1"> <div class=" b-leaf-inner svgpreloader svgpreloader-pseudo svgpreloader-16 "> <div class="b-leaf-header"> <div class="b-leaf-userpic"> <a href="https://zolak.livejournal.com/" target="_blank" class="b-leaf-userpic-inner" lj:user="zolak">   <img src="https://l-stat.livejournal.net/img/userpics/userpic-user.png?v=15821" alt="zolak" loading="lazy">  </a> </div> <div class="b-leaf-details">   <p class="b-leaf-username"><span class="b-leaf-username-name"><span class="ljuser  i-ljuser  i-ljuser-deleted  i-ljuser-type-P     " data-ljuser="zolak" lj:user="zolak"><a href="https://zolak.livejournal.com/profile" class="i-ljuser-profile" target="_self"><img class="i-ljuser-userhead" src="https://l-stat.livejournal.net/img/userinfo_v8.svg?v=17080?v=657"></a><a href="https://zolak.livejournal.com/" class="i-ljuser-username" target="_self"><b>zolak</b></a></span> </span>  </p> <p class="b-leaf-meta">  <a href="https://lacinka.livejournal.com/34658.html?thread=191074#t191074" class="b-leaf-permalink" target="_self"> <span class="b-leaf-createdtime">August 29 2006, 21:35:28 UTC</span> </a>   <span class="b-leaf-shorttime">16 years ago</span>   </p>   </ul>        </div> </div>  <div class="b-leaf-article"> Dziakuj za spasyłku. Cikava. Kali nie skazać macniej: V-memories :+)  </div>   </div> </div>    </div><div class=" b-tree-twig  b-tree-twig-3 b-tree-twig-deep-0  " style="margin-left: 60px" data-tid="t191586">    <div id="t191586" class=" b-leaf            b-leaf-full   comment p-comment " data-username="czyk" data-displayname="czyk" data-updated-ts="1156922320" data-full="1"> <div class=" b-leaf-inner svgpreloader svgpreloader-pseudo svgpreloader-16 "> <div class="b-leaf-header"> <div class="b-leaf-userpic"> <a href="https://czyk.livejournal.com/" target="_blank" class="b-leaf-userpic-inner" lj:user="czyk">   <img src="https://l-userpic.livejournal.com/63268369/8108068" alt="czyk" loading="lazy" title="czyk: park">  </a> </div> <div class="b-leaf-details">   <p class="b-leaf-username"><span class="b-leaf-username-name"><span class="ljuser  i-ljuser  i-ljuser-type-P     " data-ljuser="czyk" lj:user="czyk"><a href="https://czyk.livejournal.com/profile" class="i-ljuser-profile" target="_self"><img class="i-ljuser-userhead" src="https://l-stat.livejournal.net/img/userinfo_v8.svg?v=17080?v=657"></a><a href="https://czyk.livejournal.com/" class="i-ljuser-username" target="_self"><b>czyk</b></a></span> </span>  </p> <p class="b-leaf-meta">  <a href="https://lacinka.livejournal.com/34658.html?thread=191586#t191586" class="b-leaf-permalink" target="_self"> <span class="b-leaf-createdtime">August 30 2006, 07:18:40 UTC</span> </a>   <span class="b-leaf-shorttime">16 years ago</span>   </p>   </ul>        </div> </div>  <div class="b-leaf-article"> prykłady karektna pakazvajucca tolki pa spasyłcy i tolki ŭ opery, prynamsi ŭ mianie. <br>Niama času raźbiracca. <br>Sens taki, što nadradkoviki stajać u prykładach usiudy nad zyčnymi.  </div>   </div> </div>    </div><div class=" b-tree-twig  b-tree-twig-4 b-tree-twig-deep-0  " style="margin-left: 90px" data-tid="t191842">    <div id="t191842" class=" b-leaf            b-leaf-full   comment p-comment " data-username="zolak" data-displayname="zolak" data-updated-ts="1156925241" data-full="1"> <div class=" b-leaf-inner svgpreloader svgpreloader-pseudo svgpreloader-16 "> <div class="b-leaf-header"> <div class="b-leaf-userpic"> <a href="https://zolak.livejournal.com/" target="_blank" class="b-leaf-userpic-inner" lj:user="zolak">   <img src="https://l-stat.livejournal.net/img/userpics/userpic-user.png?v=15821" alt="zolak" loading="lazy">  </a> </div> <div class="b-leaf-details">   <p class="b-leaf-username"><span class="b-leaf-username-name"><span class="ljuser  i-ljuser  i-ljuser-deleted  i-ljuser-type-P     " data-ljuser="zolak" lj:user="zolak"><a href="https://zolak.livejournal.com/profile" class="i-ljuser-profile" target="_self"><img class="i-ljuser-userhead" src="https://l-stat.livejournal.net/img/userinfo_v8.svg?v=17080?v=657"></a><a href="https://zolak.livejournal.com/" class="i-ljuser-username" target="_self"><b>zolak</b></a></span> </span>  </p> <p class="b-leaf-meta">  <a href="https://lacinka.livejournal.com/34658.html?thread=191842#t191842" class="b-leaf-permalink" target="_self"> <span class="b-leaf-createdtime">August 30 2006, 08:07:21 UTC</span> </a>   <span class="b-leaf-shorttime">16 years ago</span>   </p>   </ul>        </div> </div>  <div class="b-leaf-article"> A ja j tak karystajusia Operaj :) </div>   </div> </div>    </div><div class=" b-tree-twig  b-tree-twig-1 b-tree-twig-deep-0  " style="margin-left: 0px" data-tid="t191330">    <div id="t191330" class=" b-leaf            b-leaf-full   comment p-comment " data-username="dryhva" data-displayname="dryhva" data-updated-ts="1156918967" data-full="1"> <div class=" b-leaf-inner svgpreloader svgpreloader-pseudo svgpreloader-16 "> <div class="b-leaf-header"> <div class="b-leaf-userpic"> <a href="https://dryhva.livejournal.com/" target="_blank" class="b-leaf-userpic-inner" lj:user="dryhva">   <img src="https://l-userpic.livejournal.com/22630600/886024" alt="dryhva" loading="lazy" title="dryhva: kasula">  </a> </div> <div class="b-leaf-details">   <p class="b-leaf-username"><span class="b-leaf-username-name"><span class="ljuser  i-ljuser  i-ljuser-type-P     " data-ljuser="dryhva" lj:user="dryhva"><a href="https://dryhva.livejournal.com/profile" class="i-ljuser-profile" target="_self"><img class="i-ljuser-userhead" src="https://l-stat.livejournal.net/img/userinfo_v8.svg?v=17080?v=657"></a><a href="https://dryhva.livejournal.com/" class="i-ljuser-username" target="_self"><b>dryhva</b></a></span> </span>  </p> <p class="b-leaf-meta">  <a href="https://lacinka.livejournal.com/34658.html?thread=191330#t191330" class="b-leaf-permalink" target="_self"> <span class="b-leaf-createdtime">August 30 2006, 06:22:47 UTC</span> </a>   <span class="b-leaf-shorttime">16 years ago</span>   </p>   </ul>        </div> </div>  <div class="b-leaf-article"> Nia maje anijakaha sensu pierakidac' adzin huk z dyptonu halosnaj litary na zyc^nuju. Taksama usladniaje movu u 1000 razou. Ujavi s^to ty nia umiejes^ c^ytac' i jak lohka bylo b zrabic' sens i zapamiatac' hetkaje niesensounaje pravila. Movu tre palahc^ac', a ni uskladniac'. </div>   </div> </div>    </div></div>     <div prev-next-nav=""></div> <div suggestion-for-unlogged="" class="ng-isolate-scope"><!-- ngIf: directive.isBlockVisible --></div>   </div>         
