---
id: 35051
layout: page
date: 2022-10-16
---


<!-- s-body -->
        <div class="s-body">

            <!-- use header -->
            <!-- /use header -->

            <!-- Content -->
             <article class="b-singlepost hentry h-entry js-emojis  b-singlepost-mobileadaptive  b-singlepost-withbodybanner  ng-scope" role="main" ng-app="Entry"> <div class="b-singlepost-qrcode  ng-isolate-scope" lj-qrcode="https://lacinka.livejournal.com/35051.html" lj-qrcode-width="70" lj-qrcode-height="70"> <canvas width="70" height="70"></canvas></div> <div class="b-singlepost-about"> <dl class=" b-singlepost-author author vcard p-author h-card " ng-non-bindable=""> <dt class=" b-singlepost-author-userpic photo u-photo " lj:user="zolak">  <img src="https://l-userpic.livejournal.com/56724982/707281" width="" height="" align="absmiddle" title="Zołak: pic#56724982" alt="">  </dt> <dd class="b-singlepost-author-userinfo"> <div class="b-singlepost-author-userinfo-screen"> <span class=" b-singlepost-author-user fn p-name "> <span class="b-singlepost-author-user-screen"> Zołak (<span class="ljuser  i-ljuser  i-ljuser-deleted  i-ljuser-type-P     " data-ljuser="zolak" lj:user="zolak"><a href="https://zolak.livejournal.com/profile" target="_self" class="i-ljuser-profile"><img class="i-ljuser-userhead" src="https://l-stat.livejournal.net/img/userinfo_v8.svg?v=17080?v=657"></a><a href="https://zolak.livejournal.com/" class="i-ljuser-username" target="_self"><b>zolak</b></a></span>) wrote in <span class="ljuser  i-ljuser  i-ljuser-type-C     " data-ljuser="lacinka" lj:user="lacinka"><a href="https://lacinka.livejournal.com/profile" target="_self" class="i-ljuser-profile"><img class="i-ljuser-userhead" src="https://l-stat.livejournal.net/img/community.gif?v=556?v=657"></a><a href="https://lacinka.livejournal.com/" class="i-ljuser-username" target="_self"><b>lacinka</b></a></span>, </span> </span> <br> <time class=" b-singlepost-author-date published dt-published "><a href="https://lacinka.livejournal.com/2006/" target="_self">2006</a>-<a href="https://lacinka.livejournal.com/2006/08/" target="_self">08</a>-<a href="https://lacinka.livejournal.com/2006/08/30/" target="_self">30</a> 08:24:00</time>   </div> <div class="b-singlepost-author-userinfo-print"> <span class=" b-singlepost-author-user fn p-name "> Zołak<br> <span class="ljuser  i-ljuser  i-ljuser-deleted  i-ljuser-type-P     " data-ljuser="zolak" lj:user="zolak"><a href="https://zolak.livejournal.com/profile" target="_self" class="i-ljuser-profile"><img class="i-ljuser-userhead" src="https://l-stat.livejournal.net/img/userinfo_v8.svg?v=17080?v=657"></a><a href="https://zolak.livejournal.com/" class="i-ljuser-username" target="_self"><b>zolak</b></a></span>  <br><span class="ljuser  i-ljuser  i-ljuser-type-C     " data-ljuser="lacinka" lj:user="lacinka"><a href="https://lacinka.livejournal.com/profile" target="_self" class="i-ljuser-profile"><img class="i-ljuser-userhead" src="https://l-stat.livejournal.net/img/community.gif?v=556?v=657"></a><a href="https://lacinka.livejournal.com/" class="i-ljuser-username" target="_self"><b>lacinka</b></a></span>  </span> <br> <time class=" b-singlepost-author-date published dt-published "><a href="https://lacinka.livejournal.com/2006/" target="_self">2006</a>-<a href="https://lacinka.livejournal.com/2006/08/" target="_self">08</a>-<a href="https://lacinka.livejournal.com/2006/08/30/" target="_self">30</a> 08:24:00</time> </div> </dd> </dl>  </div>    <div class="b-singlepost-wrapper">  <h1 class=" b-singlepost-title entry-title p-name " ng-non-bindable="">      Ankieta  </h1>  <div class="b-singlepost-bodywrapper">  <article class="b-singlepost-body entry-content e-content   ng-scope" lj-sale-entry="" lj-discovery-tags="" lj-embed-resizer=""> Pytańnie da tych, chto piša łacinkaj. Jak vy heta NAJČAŚCIEJ robicie?<br><br><div class="
        ljpoll
        ljpoll-viewanswers
        
        ">

    <div class="ljpoll-meta">

    <div class="ljpoll-meta-poll">
        <a href="https://www.livejournal.com/poll/?id=810052" class="ljpoll-meta-pollid" target="_self"><!--
            --><b>Poll #810052</b><!--
        --></a>

        
            <i class="ljpoll-meta-pollname">Jak my pišam łacinkaj?</i>
        

        <br>
    </div>

    

    
        <div class="ljpoll-meta-data"><!--
            --><span class="ljpoll-meta-data-who"><!--
                -->Open to: <b>All</b>, detailed results viewable to: <b>All</b>. <!--
            --></span><!--
            --><span class="ljpoll-meta-data-participants"><!--
                --><!--
                    -->Participants: 16<!--
                --><!--
            --></span>
            <br>
        </div>
    

    

</div>

    

    

        <div class="ljpoll-questionbox">

            <p class="ljpoll-question">Ja pišu łacinkaj...</p>

            <div id="LJ_Poll_810052_1" class="
                    b-ljpoll-results
                    ljpoll-items
                    ">

                
                    <div class="ljpoll-answers">
                        <a href="https://www.livejournal.com/poll/?id=810052&amp;qid=1&amp;mode=ans" class="
                                LJ_PollAnswerLink
                                ljpoll-answers-link
                                " lj_posterid="707281" onclick="return LiveJournal.pollAnswerClick(event, {pollid:810052,pollqid:1,page:0,pagesize:2000})" target="_self">View Answers</a>
                        <br>
                    </div>
                

                

                <div class="ljpoll-results">

                    

                        

                            <div class="ljpoll-results-item">

                                <div class="ljpoll-results-aswer"><!--
                                    -->... pry dapamozie raskładki (u kamentary pišu jakoj)<!--
                                --></div>

                                <div class="ljpoll-results-result"><!--

                                    --><!--

                                        --><span class="ljpoll-results-line" style="width:66%;"></span><!--

                                    --><!--

                                    --><b class="ljpoll-results-count">12</b><!--

                                    --><span class="ljpoll-results-leftbracket">(</span><!--

                                        --><span class="ljpoll-results-percents"><!--
                                            --><span class="ljpoll-results-percent">66.7</span><!--
                                            --><span class="ljpoll-results-symbol">%</span><!--
                                        --></span><!--

                                    --><span class="ljpoll-results-rightbracket">)</span><!--

                                    --><!--

                                --></div><!-- /results-result -->

                            </div><!-- /results-item -->

                        

                    

                        

                            <div class="ljpoll-results-item">

                                <div class="ljpoll-results-aswer"><!--
                                    -->... kanvertujuczy z kirylicy (u kamentary pišu jakoj pryładaj)<!--
                                --></div>

                                <div class="ljpoll-results-result"><!--

                                    --><!--

                                        --><span class="ljpoll-results-line" style="width:27%;"></span><!--

                                    --><!--

                                    --><b class="ljpoll-results-count">5</b><!--

                                    --><span class="ljpoll-results-leftbracket">(</span><!--

                                        --><span class="ljpoll-results-percents"><!--
                                            --><span class="ljpoll-results-percent">27.8</span><!--
                                            --><span class="ljpoll-results-symbol">%</span><!--
                                        --></span><!--

                                    --><span class="ljpoll-results-rightbracket">)</span><!--

                                    --><!--

                                --></div><!-- /results-result -->

                            </div><!-- /results-item -->

                        

                    

                        

                            <div class="ljpoll-results-item">

                                <div class="ljpoll-results-aswer"><!--
                                    -->... sproscanaha typu, i mnie nie patrebnyja dadatkovyja prylady<!--
                                --></div>

                                <div class="ljpoll-results-result"><!--

                                    --><!--

                                        --><span class="ljpoll-results-line" style="width:5%;"></span><!--

                                    --><!--

                                    --><b class="ljpoll-results-count">1</b><!--

                                    --><span class="ljpoll-results-leftbracket">(</span><!--

                                        --><span class="ljpoll-results-percents"><!--
                                            --><span class="ljpoll-results-percent">5.6</span><!--
                                            --><span class="ljpoll-results-symbol">%</span><!--
                                        --></span><!--

                                    --><span class="ljpoll-results-rightbracket">)</span><!--

                                    --><!--

                                --></div><!-- /results-result -->

                            </div><!-- /results-item -->

                        

                    

                </div><!-- /ljpoll-results -->

            </div><!-- /ljpoll-items -->

        </div><!-- /questionbox -->

    



</div>  </article>   </div>    </div> <div class="b-singlepost-video-wrap"> <div data-autoplay-dockable-video-mount=""></div> </div>
<div id="comments" class="b-grove" data-authtoken="c0:1682874000:262:86400:UFFMtwn7Ey-0-:68ca308a26737eb4861f297aa746d9a5"> <div class=" b-xylem  b-xylem-first  "> <ul class="b-xylem-cells">  <li class=" b-xylem-cell b-xylem-cell-amount ">   <span class="js-amount">  12 comments  </span>   </li>  </ul>  </div> <div class=" b-massaction-top ">  </div>    <div class=" b-tree b-tree-best ">  </div> <div class=" b-tree b-tree-promo " data-currentprice="">  </div>  <div class=" b-tree b-tree-root svgpreloader svgpreloader-pseudo svgpreloader-30 "><div class=" b-tree-twig  b-tree-twig-1 b-tree-twig-deep-0  " style="margin-left: 0px" data-tid="t192235">    <div id="t192235" class=" b-leaf        b-leaf-poster      b-leaf-full   comment p-comment " data-username="zolak" data-displayname="zolak" data-updated-ts="1156930303" data-full="1"> <div class=" b-leaf-inner svgpreloader svgpreloader-pseudo svgpreloader-16 "> <div class="b-leaf-header"> <div class="b-leaf-userpic"> <a href="https://zolak.livejournal.com/" target="_blank" class="b-leaf-userpic-inner" lj:user="zolak">   <img src="https://l-stat.livejournal.net/img/userpics/userpic-user.png?v=15821" alt="zolak" loading="lazy">  </a> </div> <div class="b-leaf-details">   <p class="b-leaf-username"><span class="b-leaf-username-name"><span class="ljuser  i-ljuser  i-ljuser-deleted  i-ljuser-type-P     " data-ljuser="zolak" lj:user="zolak"><a href="https://zolak.livejournal.com/profile" class="i-ljuser-profile" target="_self"><img class="i-ljuser-userhead" src="https://l-stat.livejournal.net/img/userinfo_v8.svg?v=17080?v=657"></a><a href="https://zolak.livejournal.com/" class="i-ljuser-username" target="_self"><b>zolak</b></a></span> </span>  </p> <p class="b-leaf-meta">  <a href="https://lacinka.livejournal.com/35051.html?thread=192235#t192235" class="b-leaf-permalink" target="_self"> <span class="b-leaf-createdtime">August 30 2006, 09:31:43 UTC</span> </a>   <span class="b-leaf-shorttime">16 years ago</span>   </p>   </ul>        </div> </div>  <div class="b-leaf-article"> Karaciej, u mianie ŭsio zaležyć ad kamputara, pry jakim ja znachodžusia.<br><br>Kali siadžu na svaim ulubionym <a href="http://www.ubuntu.com/desktop" rel="nofollow" target="_self">Ubuntu</a>, karystajusia prosta pisałkaj, jakoj dastatkova dla karotkich dopisaŭ u siecivie. Toje samaje kali ja špacyruju z synam, i nia maju ničoha aprača Pocket PC: pišu sproščanaj łacinkaj, jakuju prapuščaju praz <a href="http://xn--zoak-11a.net/?page_id=860" rel="nofollow" target="_self">pierarablatar</a><br>. Na špacyrach ja časta, i bolšaść tekstaŭ apošnim časam paŭstaje tam. <br><br>Kali heta nie Ubuntu, a žončyn Windows, to ŭ im staić vydatnaja <a href="http://my.opera.com/Zolak/homes/files/kbdbeltz.zip" rel="nofollow" target="_self">zedlikavaja raskładka</a>, zroblenaja admysłova dla mianie (za što ja pa hrob budu ŭdziačny) ź jakoj lohka nabirać i biełaruskaj łacinkaj i pa-polsku, i vyhodna raźmieščanyja mnohija dadatkovyja znaki. Ciapier voś zadumoŭvajusia, jak stvaryć takuju dla Linuxa. (Pieršaja sproba skončyłasia pierainstalacyjaj systemy :D)  </div>   </div> </div>    </div><div class=" b-tree-twig  b-tree-twig-1 b-tree-twig-deep-0  " style="margin-left: 0px" data-tid="t192491">    <div id="t192491" class=" b-leaf            b-leaf-full   comment p-comment " data-username="darkgreen_wolf" data-displayname="darkgreen_wolf" data-updated-ts="1156930305" data-full="1"> <div class=" b-leaf-inner svgpreloader svgpreloader-pseudo svgpreloader-16 "> <div class="b-leaf-header"> <div class="b-leaf-userpic"> <a href="https://darkgreen-wolf.livejournal.com/" target="_blank" class="b-leaf-userpic-inner" lj:user="darkgreen_wolf">   <img src="https://l-stat.livejournal.net/img/userpics/userpic-user.png?v=15821" alt="darkgreen_wolf" loading="lazy">  </a> </div> <div class="b-leaf-details">   <p class="b-leaf-username"><span class="b-leaf-username-name"><span class="ljuser  i-ljuser  i-ljuser-deleted  i-ljuser-type-P     " data-ljuser="darkgreen_wolf" lj:user="darkgreen_wolf"><a href="https://darkgreen-wolf.livejournal.com/profile" class="i-ljuser-profile" target="_self"><img class="i-ljuser-userhead" src="https://l-stat.livejournal.net/img/userinfo_v8.svg?v=17080?v=657"></a><a href="https://darkgreen-wolf.livejournal.com/" class="i-ljuser-username" target="_self"><b>darkgreen_wolf</b></a></span> </span>  </p> <p class="b-leaf-meta">  <a href="https://lacinka.livejournal.com/35051.html?thread=192491#t192491" class="b-leaf-permalink" target="_self"> <span class="b-leaf-createdtime">August 30 2006, 09:31:45 UTC</span> </a>   <span class="b-leaf-shorttime">16 years ago</span>   </p>   </ul>        </div> </div>  <div class="b-leaf-article"> Doma - raskładka <span class="ljuser  i-ljuser  i-ljuser-type-P     " data-ljuser="zedlik" lj:user="zedlik"><a href="https://zedlik.livejournal.com/profile" target="_self" class="i-ljuser-profile"><img class="i-ljuser-userhead" src="https://l-stat.livejournal.net/img/userinfo_v8.svg?v=17080?v=657"></a><a href="https://zedlik.livejournal.com/" class="i-ljuser-username" target="_self"><b>zedlik</b></a></span>a dla ludziej(nie prahramistych),<br>na pracy - moŭny kanvertar <span class="ljuser  i-ljuser  i-ljuser-type-P     " data-ljuser="juras14" lj:user="juras14"><a href="https://juras14.livejournal.com/profile" target="_self" class="i-ljuser-profile"><img class="i-ljuser-userhead" src="https://l-stat.livejournal.net/img/userinfo_v8.svg?v=17080?v=657"></a><a href="https://juras14.livejournal.com/" class="i-ljuser-username" target="_self"><b>juras14</b></a></span>.<br>  </div>   </div> </div>    </div><div class=" b-tree-twig  b-tree-twig-1 b-tree-twig-deep-0  " style="margin-left: 0px" data-tid="t192747">    <div id="t192747" class=" b-leaf         b-leaf-withsubject     b-leaf-full   comment p-comment " data-username="nicolaev" data-displayname="nicolaev" data-updated-ts="1156930673" data-full="1" data-subject="Kir2Lac"> <div class=" b-leaf-inner svgpreloader svgpreloader-pseudo svgpreloader-16 "> <div class="b-leaf-header"> <div class="b-leaf-userpic"> <a href="https://nicolaev.livejournal.com/" target="_blank" class="b-leaf-userpic-inner" lj:user="nicolaev">   <img src="https://l-userpic.livejournal.com/117371542/7772678" alt="nicolaev" loading="lazy" title="Andrej Ludwik Mikałajeŭ OPs (Wojsza): AndReika Tibet Belarus Bielarus">  </a> </div> <div class="b-leaf-details">   <h4 class="b-leaf-subject"><a href="https://lacinka.livejournal.com/35051.html?thread=192747#t192747" class="b-leaf-subject-link" target="_self">Kir2Lac</a></h4>  <p class="b-leaf-username"><span class="b-leaf-username-name"><span class="ljuser  i-ljuser  i-ljuser-type-P     " data-ljuser="nicolaev" lj:user="nicolaev"><a href="https://nicolaev.livejournal.com/profile" class="i-ljuser-profile" target="_self"><img class="i-ljuser-userhead" src="https://l-stat.livejournal.net/img/userinfo_v8.svg?v=17080?v=657"></a><a href="https://nicolaev.livejournal.com/" class="i-ljuser-username" target="_self"><b>nicolaev</b></a></span> </span>  </p> <p class="b-leaf-meta">  <a href="https://lacinka.livejournal.com/35051.html?thread=192747#t192747" class="b-leaf-permalink" target="_self"> <span class="b-leaf-createdtime">August 30 2006, 09:37:53 UTC</span> </a>   <span class="b-leaf-shorttime">16 years ago</span>   </p>   </ul>        </div> </div>  <div class="b-leaf-article"> kanvertujuczy z kirylicy </div>   </div> </div>    </div><div class=" b-tree-twig  b-tree-twig-1 b-tree-twig-deep-0  " style="margin-left: 0px" data-tid="t193003">    <div id="t193003" class=" b-leaf            b-leaf-full   comment p-comment " data-username="redwingedduck" data-displayname="redwingedduck" data-updated-ts="1156938665" data-full="1"> <div class=" b-leaf-inner svgpreloader svgpreloader-pseudo svgpreloader-16 "> <div class="b-leaf-header"> <div class="b-leaf-userpic"> <a href="https://redwingedduck.livejournal.com/" target="_blank" class="b-leaf-userpic-inner" lj:user="redwingedduck">   <img src="https://l-userpic.livejournal.com/33227201/697964" alt="redwingedduck" loading="lazy" title="RWD: che_duck">  </a> </div> <div class="b-leaf-details">   <p class="b-leaf-username"><span class="b-leaf-username-name"><span class="ljuser  i-ljuser  i-ljuser-type-P     " data-ljuser="redwingedduck" lj:user="redwingedduck"><a href="https://redwingedduck.livejournal.com/profile" class="i-ljuser-profile" target="_self"><img class="i-ljuser-userhead" src="https://l-stat.livejournal.net/img/userinfo_v8.svg?v=17080?v=657"></a><a href="https://redwingedduck.livejournal.com/" class="i-ljuser-username" target="_self"><b>redwingedduck</b></a></span> </span>  </p> <p class="b-leaf-meta">  <a href="https://lacinka.livejournal.com/35051.html?thread=193003#t193003" class="b-leaf-permalink" target="_self"> <span class="b-leaf-createdtime">August 30 2006, 11:51:05 UTC</span> </a>   <span class="b-leaf-shorttime">16 years ago</span>   </p>   </ul>        </div> </div>  <div class="b-leaf-article"> звычайна з дапамогай Зэдлікавай праграмерскай раскладкі (хаця часам яна мне і не падабаецца) :) </div>   </div> </div>    </div><div class=" b-tree-twig  b-tree-twig-1 b-tree-twig-deep-0  " style="margin-left: 0px" data-tid="t193259">    <div id="t193259" class=" b-leaf            b-leaf-full   comment p-comment " data-username="ex_kiryla" data-displayname="ex_kiryla" data-updated-ts="1156939254" data-full="1"> <div class=" b-leaf-inner svgpreloader svgpreloader-pseudo svgpreloader-16 "> <div class="b-leaf-header"> <div class="b-leaf-userpic"> <a href="https://ex-kiryla.livejournal.com/" target="_blank" class="b-leaf-userpic-inner" lj:user="ex_kiryla">   <img src="https://l-stat.livejournal.net/img/userpics/userpic-user.png?v=15821" alt="ex_kiryla" loading="lazy">  </a> </div> <div class="b-leaf-details">   <p class="b-leaf-username"><span class="b-leaf-username-name"><span class="ljuser  i-ljuser  i-ljuser-deleted  i-ljuser-type-P     " data-ljuser="ex_kiryla" lj:user="ex_kiryla"><a href="https://ex-kiryla.livejournal.com/profile" class="i-ljuser-profile" target="_self"><img class="i-ljuser-userhead" src="https://l-stat.livejournal.net/img/userinfo_v8.svg?v=17080?v=657"></a><a href="https://ex-kiryla.livejournal.com/" class="i-ljuser-username" target="_self"><b>ex_kiryla</b></a></span> </span>  </p> <p class="b-leaf-meta">  <a href="https://lacinka.livejournal.com/35051.html?thread=193259#t193259" class="b-leaf-permalink" target="_self"> <span class="b-leaf-createdtime">August 30 2006, 12:00:54 UTC</span> </a>   <span class="b-leaf-shorttime">16 years ago</span>   </p>   </ul>        </div> </div>  <div class="b-leaf-article"> Пішу лацінкай асабістыя нататкі, асадкай. На кампе пішу кірыліцай. </div>   </div> </div>    </div><div class=" b-tree-twig  b-tree-twig-2 b-tree-twig-deep-0  " style="margin-left: 30px" data-tid="t193771">    <div id="t193771" class=" b-leaf        b-leaf-poster      b-leaf-full   comment p-comment " data-username="zolak" data-displayname="zolak" data-updated-ts="1156942312" data-full="1"> <div class=" b-leaf-inner svgpreloader svgpreloader-pseudo svgpreloader-16 "> <div class="b-leaf-header"> <div class="b-leaf-userpic"> <a href="https://zolak.livejournal.com/" target="_blank" class="b-leaf-userpic-inner" lj:user="zolak">   <img src="https://l-stat.livejournal.net/img/userpics/userpic-user.png?v=15821" alt="zolak" loading="lazy">  </a> </div> <div class="b-leaf-details">   <p class="b-leaf-username"><span class="b-leaf-username-name"><span class="ljuser  i-ljuser  i-ljuser-deleted  i-ljuser-type-P     " data-ljuser="zolak" lj:user="zolak"><a href="https://zolak.livejournal.com/profile" class="i-ljuser-profile" target="_self"><img class="i-ljuser-userhead" src="https://l-stat.livejournal.net/img/userinfo_v8.svg?v=17080?v=657"></a><a href="https://zolak.livejournal.com/" class="i-ljuser-username" target="_self"><b>zolak</b></a></span> </span>  </p> <p class="b-leaf-meta">  <a href="https://lacinka.livejournal.com/35051.html?thread=193771#t193771" class="b-leaf-permalink" target="_self"> <span class="b-leaf-createdtime">August 30 2006, 12:51:52 UTC</span> </a>   <span class="b-leaf-shorttime">16 years ago</span>   </p>   </ul>        </div> </div>  <div class="b-leaf-article"> Ekstremist :)  </div>   </div> </div>    </div><div class=" b-tree-twig  b-tree-twig-2 b-tree-twig-deep-0  " style="margin-left: 30px" data-tid="t194539">    <div id="t194539" class=" b-leaf         b-leaf-withsubject     b-leaf-full   comment p-comment " data-username="slotoviepus" data-displayname="slotoviepus" data-updated-ts="1156960385" data-full="1" data-subject="rablu toje samaje zvyčajna"> <div class=" b-leaf-inner svgpreloader svgpreloader-pseudo svgpreloader-16 "> <div class="b-leaf-header"> <div class="b-leaf-userpic"> <a href="https://slotoviepus.livejournal.com/" target="_blank" class="b-leaf-userpic-inner" lj:user="slotoviepus">   <img src="https://l-userpic.livejournal.com/44978631/5643802" alt="slotoviepus" loading="lazy" title="Яўген / Jaŭhien: dzied">  </a> </div> <div class="b-leaf-details">   <h4 class="b-leaf-subject"><a href="https://lacinka.livejournal.com/35051.html?thread=194539#t194539" class="b-leaf-subject-link" target="_self">rablu toje samaje zvyčajna</a></h4>  <p class="b-leaf-username"><span class="b-leaf-username-name"><span class="ljuser  i-ljuser  i-ljuser-type-P     " data-ljuser="slotoviepus" lj:user="slotoviepus"><a href="https://slotoviepus.livejournal.com/profile" class="i-ljuser-profile" target="_self"><img class="i-ljuser-userhead" src="https://l-stat.livejournal.net/img/userinfo_v8.svg?v=17080?v=657"></a><a href="https://slotoviepus.livejournal.com/" class="i-ljuser-username" target="_self"><b>slotoviepus</b></a></span> </span>  </p> <p class="b-leaf-meta">  <a href="https://lacinka.livejournal.com/35051.html?thread=194539#t194539" class="b-leaf-permalink" target="_self"> <span class="b-leaf-createdtime">August 30 2006, 17:53:05 UTC</span> </a>   <span class="b-leaf-shorttime">16 years ago</span>   </p>   </ul>        </div> </div>  <div class="b-leaf-article"> +1 <br><br> </div>   </div> </div>    </div><div class=" b-tree-twig  b-tree-twig-1 b-tree-twig-deep-0  " style="margin-left: 0px" data-tid="t193515">    <div id="t193515" class=" b-leaf            b-leaf-full   comment p-comment " data-username="slaver_be" data-displayname="slaver_be" data-updated-ts="1156940695" data-full="1"> <div class=" b-leaf-inner svgpreloader svgpreloader-pseudo svgpreloader-16 "> <div class="b-leaf-header"> <div class="b-leaf-userpic"> <a href="https://slaver-be.livejournal.com/" target="_blank" class="b-leaf-userpic-inner" lj:user="slaver_be">   <img src="https://l-userpic.livejournal.com/122568906/6849724" alt="slaver_be" loading="lazy" title="Slaver: while my guitar gently weeps">  </a> </div> <div class="b-leaf-details">   <p class="b-leaf-username"><span class="b-leaf-username-name"><span class="ljuser  i-ljuser  i-ljuser-type-P     " data-ljuser="slaver_be" lj:user="slaver_be"><a href="https://slaver-be.livejournal.com/profile" class="i-ljuser-profile" target="_self"><img class="i-ljuser-userhead" src="https://l-stat.livejournal.net/img/userinfo_v8.svg?v=17080?v=657"></a><a href="https://slaver-be.livejournal.com/" class="i-ljuser-username" target="_self"><b>slaver_be</b></a></span> </span>  </p> <p class="b-leaf-meta">  <a href="https://lacinka.livejournal.com/35051.html?thread=193515#t193515" class="b-leaf-permalink" target="_self"> <span class="b-leaf-createdtime">August 30 2006, 12:24:55 UTC</span> </a>   <span class="b-leaf-shorttime">16 years ago</span>   </p>   </ul>        </div> </div>  <div class="b-leaf-article"> Redka vielmi karystajusia łacinkaj, tamu praściej praz kanvertar <a href="http://www.zedlik.com/pragramy/kir2lac/" rel="nofollow" target="_self">Kir2Lac</a>.<br> </div>   </div> </div>    </div><div class="ljsale
    ljsale--empty
    
     ng-scope ng-isolate-scope" lj0sale0on0scroll="true" lj0sale0window0min="1001" lj0sale0window0max="9999" lj0sale0not0init="adfox_comments"><div class="ljsale__inner">

    <div class="allbanners ">

        <!-- ngIf: directive.customId -->
        <div id="">

          <!-- ngIf: directive.type -->
        
        </div>

        <!-- ngIf: directive.close -->

    </div>

    <!-- ngIf: directive.hideble -->

</div>
</div><div class="ljsale
    ljsale--empty
    
     ng-scope ng-isolate-scope" lj0sale0window0min="320" lj0sale0window0max="1000" lj0sale0on0scroll="true" lj0sale0init="adfox_comments_mobile_1683423387592"><div class="ljsale__inner">

    <div class="allbanners false">

        <!-- ngIf: directive.customId -->
        <div id="adfox_comments_mobile_1683423387592">

          <!-- ngIf: directive.type -->
        
        </div>

        <!-- ngIf: directive.close -->

    </div>

    <!-- ngIf: directive.hideble -->

</div>
</div><div class=" b-tree-twig  b-tree-twig-1 b-tree-twig-deep-0  " style="margin-left: 0px" data-tid="t194027">    <div id="t194027" class=" b-leaf            b-leaf-full   comment p-comment " data-username="macie3k" data-displayname="macie3k" data-updated-ts="1156944221" data-full="1"> <div class=" b-leaf-inner svgpreloader svgpreloader-pseudo svgpreloader-16 "> <div class="b-leaf-header"> <div class="b-leaf-userpic"> <a href="https://macie3k.livejournal.com/" target="_blank" class="b-leaf-userpic-inner" lj:user="macie3k">   <img src="https://l-userpic.livejournal.com/106865239/8866674" alt="macie3k" loading="lazy" title="macie3k: pic#106865239">  </a> </div> <div class="b-leaf-details">   <p class="b-leaf-username"><span class="b-leaf-username-name"><span class="ljuser  i-ljuser  i-ljuser-type-P     " data-ljuser="macie3k" lj:user="macie3k"><a href="https://macie3k.livejournal.com/profile" class="i-ljuser-profile" target="_self"><img class="i-ljuser-userhead" src="https://l-stat.livejournal.net/img/userinfo_v8.svg?v=17080?v=657"></a><a href="https://macie3k.livejournal.com/" class="i-ljuser-username" target="_self"><b>macie3k</b></a></span> </span>  </p> <p class="b-leaf-meta">  <a href="https://lacinka.livejournal.com/35051.html?thread=194027#t194027" class="b-leaf-permalink" target="_self"> <span class="b-leaf-createdtime">August 30 2006, 13:23:41 UTC</span> </a>   <span class="b-leaf-shorttime">16 years ago</span>   </p>   </ul>        </div> </div>  <div class="b-leaf-article"> zrabiŭ sabie polskuju raskładku, dzie "českija" hački atrymuju:<br>~ + c = č<br>~ + s = š<br>~ + ž = ž<br>~ + u = ú (dla nie-unikodavych pragramaŭ)<br>ŭ - uklučaju Zedlikavuju raskładku<br><br>kali nie doma - karystujusia kodami na numaryčnaj klavijatury (alt + 0154 = š etc) </div>   </div> </div>    </div><div class=" b-tree-twig  b-tree-twig-1 b-tree-twig-deep-0  " style="margin-left: 0px" data-tid="t194283">    <div id="t194283" class=" b-leaf            b-leaf-full   comment p-comment " data-username="nieformalnyi" data-displayname="nieformalnyi" data-updated-ts="1156956587" data-full="1"> <div class=" b-leaf-inner svgpreloader svgpreloader-pseudo svgpreloader-16 "> <div class="b-leaf-header"> <div class="b-leaf-userpic"> <a href="https://nieformalnyi.livejournal.com/" target="_blank" class="b-leaf-userpic-inner" lj:user="nieformalnyi">   <img src="https://l-userpic.livejournal.com/110798270/3950047" alt="nieformalnyi" loading="lazy" title="nieformalnyi: pic#110798270">  </a> </div> <div class="b-leaf-details">   <p class="b-leaf-username"><span class="b-leaf-username-name"><span class="ljuser  i-ljuser  i-ljuser-type-P     " data-ljuser="nieformalnyi" lj:user="nieformalnyi"><a href="https://nieformalnyi.livejournal.com/profile" class="i-ljuser-profile" target="_self"><img class="i-ljuser-userhead" src="https://l-stat.livejournal.net/img/userinfo_v8.svg?v=17080?v=657"></a><a href="https://nieformalnyi.livejournal.com/" class="i-ljuser-username" target="_self"><b>nieformalnyi</b></a></span> </span>  </p> <p class="b-leaf-meta">  <a href="https://lacinka.livejournal.com/35051.html?thread=194283#t194283" class="b-leaf-permalink" target="_self"> <span class="b-leaf-createdtime">August 30 2006, 16:49:47 UTC</span> </a>   <span class="b-leaf-shorttime">16 years ago</span>   </p>   </ul>        </div> </div>  <div class="b-leaf-article"> zedlikavaj raskładkaj zołak edition, a kali na cužym kompie kanvertaram na <a href="http://slounik.zolak.boo.pl/" rel="nofollow" target="_self">http://slounik.zolak.boo.pl/</a> </div>   </div> </div>    </div><div class=" b-tree-twig  b-tree-twig-1 b-tree-twig-deep-0  " style="margin-left: 0px" data-tid="t194795">    <div id="t194795" class=" b-leaf            b-leaf-full   comment p-comment " data-username="slotoviepus" data-displayname="slotoviepus" data-updated-ts="1156960464" data-full="1"> <div class=" b-leaf-inner svgpreloader svgpreloader-pseudo svgpreloader-16 "> <div class="b-leaf-header"> <div class="b-leaf-userpic"> <a href="https://slotoviepus.livejournal.com/" target="_blank" class="b-leaf-userpic-inner" lj:user="slotoviepus">   <img src="https://l-userpic.livejournal.com/44978631/5643802" alt="slotoviepus" loading="lazy" title="Яўген / Jaŭhien: dzied">  </a> </div> <div class="b-leaf-details">   <p class="b-leaf-username"><span class="b-leaf-username-name"><span class="ljuser  i-ljuser  i-ljuser-type-P     " data-ljuser="slotoviepus" lj:user="slotoviepus"><a href="https://slotoviepus.livejournal.com/profile" class="i-ljuser-profile" target="_self"><img class="i-ljuser-userhead" src="https://l-stat.livejournal.net/img/userinfo_v8.svg?v=17080?v=657"></a><a href="https://slotoviepus.livejournal.com/" class="i-ljuser-username" target="_self"><b>slotoviepus</b></a></span> </span>  </p> <p class="b-leaf-meta">  <a href="https://lacinka.livejournal.com/35051.html?thread=194795#t194795" class="b-leaf-permalink" target="_self"> <span class="b-leaf-createdtime">August 30 2006, 17:54:24 UTC</span> </a>   <span class="b-leaf-shorttime">16 years ago</span>   </p>   </ul>        </div> </div>  <div class="b-leaf-article"> uziaŭ na pravapis.org, zdajecca. </div>   </div> </div>    </div><div class=" b-tree-twig  b-tree-twig-1 b-tree-twig-deep-0  " style="margin-left: 0px" data-tid="t195307">    <div id="t195307" class=" b-leaf            b-leaf-full   comment p-comment " data-username="coipish" data-displayname="coipish" data-updated-ts="1157009268" data-full="1"> <div class=" b-leaf-inner svgpreloader svgpreloader-pseudo svgpreloader-16 "> <div class="b-leaf-header"> <div class="b-leaf-userpic"> <a href="https://coipish.livejournal.com/" target="_blank" class="b-leaf-userpic-inner" lj:user="coipish">   <img src="https://l-userpic.livejournal.com/74177303/8579748" alt="coipish" loading="lazy" title="Kojpiš Anton // Койпиш Антон: a">  </a> </div> <div class="b-leaf-details">   <p class="b-leaf-username"><span class="b-leaf-username-name"><span class="ljuser  i-ljuser  i-ljuser-type-P     " data-ljuser="coipish" lj:user="coipish"><a href="https://coipish.livejournal.com/profile" class="i-ljuser-profile" target="_self"><img class="i-ljuser-userhead" src="https://l-stat.livejournal.net/img/userinfo_v8.svg?v=17080?v=657"></a><a href="https://coipish.livejournal.com/" class="i-ljuser-username" target="_self"><b>coipish</b></a></span> </span>  </p> <p class="b-leaf-meta">  <a href="https://lacinka.livejournal.com/35051.html?thread=195307#t195307" class="b-leaf-permalink" target="_self"> <span class="b-leaf-createdtime">August 31 2006, 07:27:48 UTC</span> </a>   <span class="b-leaf-shorttime">16 years ago</span>   </p>   </ul>        </div> </div>  <div class="b-leaf-article"> Zedlikavaj raskładkaj.<br>Ale, ščyra kažučy, ja b zrabiŭ klavišu dziela napisańnia "`~" nie ŭ vuhłu, a dzieści pasiaredzinie klavy - naprykład zamiest "g", jakuju b pieranios u vuhał. </div>   </div> </div>    </div></div>     <div prev-next-nav=""></div> <div suggestion-for-unlogged="" class="ng-isolate-scope"><!-- ngIf: directive.isBlockVisible --></div>   </div>         
