---
id: 35118
layout: page
date: 2022-10-16
---


<!-- s-body -->
        <div class="s-body">

            <!-- use header -->
            <!-- /use header -->

            <!-- Content -->
             <article class="b-singlepost hentry h-entry js-emojis  b-singlepost-mobileadaptive  b-singlepost-withbodybanner  ng-scope" role="main" ng-app="Entry"> <div class="b-singlepost-qrcode  ng-isolate-scope" lj-qrcode="https://lacinka.livejournal.com/35118.html" lj-qrcode-width="70" lj-qrcode-height="70"> <canvas width="70" height="70"></canvas></div> <div class="b-singlepost-about"> <dl class=" b-singlepost-author author vcard p-author h-card " ng-non-bindable=""> <dt class=" b-singlepost-author-userpic photo u-photo " lj:user="darkgreen_wolf">  <img src="https://l-userpic.livejournal.com/40765591/9342947" width="" height="" align="absmiddle" title="Vik: pic#40765591" alt="">  </dt> <dd class="b-singlepost-author-userinfo"> <div class="b-singlepost-author-userinfo-screen"> <span class=" b-singlepost-author-user fn p-name "> <span class="b-singlepost-author-user-screen"> Vik (<span class="ljuser  i-ljuser  i-ljuser-deleted  i-ljuser-type-P     " data-ljuser="darkgreen_wolf" lj:user="darkgreen_wolf"><a href="https://darkgreen-wolf.livejournal.com/profile" target="_self" class="i-ljuser-profile"><img class="i-ljuser-userhead" src="https://l-stat.livejournal.net/img/userinfo_v8.svg?v=17080?v=657"></a><a href="https://darkgreen-wolf.livejournal.com/" class="i-ljuser-username" target="_self"><b>darkgreen_wolf</b></a></span>) wrote in <span class="ljuser  i-ljuser  i-ljuser-type-C     " data-ljuser="lacinka" lj:user="lacinka"><a href="https://lacinka.livejournal.com/profile" target="_self" class="i-ljuser-profile"><img class="i-ljuser-userhead" src="https://l-stat.livejournal.net/img/community.gif?v=556?v=657"></a><a href="https://lacinka.livejournal.com/" class="i-ljuser-username" target="_self"><b>lacinka</b></a></span>, </span> </span> <br> <time class=" b-singlepost-author-date published dt-published "><a href="https://lacinka.livejournal.com/2006/" target="_self">2006</a>-<a href="https://lacinka.livejournal.com/2006/09/" target="_self">09</a>-<a href="https://lacinka.livejournal.com/2006/09/17/" target="_self">17</a> 19:14:00</time>   </div> <div class="b-singlepost-author-userinfo-print"> <span class=" b-singlepost-author-user fn p-name "> Vik<br> <span class="ljuser  i-ljuser  i-ljuser-deleted  i-ljuser-type-P     " data-ljuser="darkgreen_wolf" lj:user="darkgreen_wolf"><a href="https://darkgreen-wolf.livejournal.com/profile" target="_self" class="i-ljuser-profile"><img class="i-ljuser-userhead" src="https://l-stat.livejournal.net/img/userinfo_v8.svg?v=17080?v=657"></a><a href="https://darkgreen-wolf.livejournal.com/" class="i-ljuser-username" target="_self"><b>darkgreen_wolf</b></a></span>  <br><span class="ljuser  i-ljuser  i-ljuser-type-C     " data-ljuser="lacinka" lj:user="lacinka"><a href="https://lacinka.livejournal.com/profile" target="_self" class="i-ljuser-profile"><img class="i-ljuser-userhead" src="https://l-stat.livejournal.net/img/community.gif?v=556?v=657"></a><a href="https://lacinka.livejournal.com/" class="i-ljuser-username" target="_self"><b>lacinka</b></a></span>  </span> <br> <time class=" b-singlepost-author-date published dt-published "><a href="https://lacinka.livejournal.com/2006/" target="_self">2006</a>-<a href="https://lacinka.livejournal.com/2006/09/" target="_self">09</a>-<a href="https://lacinka.livejournal.com/2006/09/17/" target="_self">17</a> 19:14:00</time> </div> </dd> </dl>  </div>    <div class="b-singlepost-wrapper">  ¤ <ul class="b-linkbar">  <li class="b-linkbar-item"><a href="https://www.livejournal.com/go.bml?journal=lacinka&amp;itemid=35118&amp;dir=prev" rel="nofollow" title="Previous" class="b-controls b-controls-prev" target="_self"><i class="b-controls-bg"></i>Previous</a></li>  <li class="b-linkbar-item ng-scope" lj-share="{ url: 'https://lacinka.livejournal.com/35118.html', title: '', text: '', hashtags: '', alwaysBottom: true }">
                <a href="javascript:void(0);" rel="nofollow" title="Share" class="b-controls b-controls-share js-lj-share" data-hashtags="" data-title="" data-url="https%3A%2F%2Flacinka.livejournal.com%2F35118.html" target="_self">
                    <i class="b-controls-bg"></i>Share
                </a>
            </li>  <li class="b-linkbar-item"><a href="https://www.livejournal.com/tools/content_flag.bml?user=lacinka&amp;itemid=35118" rel="nofollow" title="Flag" class="b-controls b-controls-flag" target="_self"><i class="b-controls-bg"></i>Flag</a></li>  <li class="b-linkbar-item"><a href="https://www.livejournal.com/go.bml?journal=lacinka&amp;itemid=35118&amp;dir=next" rel="nofollow" title="Next" class="b-controls b-controls-next" target="_self"><i class="b-controls-bg"></i>Next</a></li>  </ul> </div>      <div class="b-singlepost-bodywrapper">  <article class="b-singlepost-body entry-content e-content   ng-scope" lj-sale-entry="" lj-discovery-tags="" lj-embed-resizer=""> hulnia ad Zołka<br>1) Biarem adzin sa svaich ulubionych tvoraŭ biełaruskaj litaratury**.<br>2) Kanvertujem na łacinku pry dapamozie luboha dastupnaha kanvertera.<br>3) Publikujem <s>u siabie ŭ blogu razam z hetaj instrukcyjaj.<br>4) Dajem spasyłku da svajho dopisu tut.</s><br><a name="cutid1" target="_self"></a><br><br>Uładzimier Karatkievič <br><br><b>ŽABKI I ČARAPACHA</b><br><div style="background-color:#ffffcc;color:#336600">  	Na bierazie maleńkaha lasnoha voziera-bałotca razharłalisia, razyšlisia i naładzili kancert žaby. Cierušyŭ na ichnija hałoŭki ciopły doždžyk, śviaciła praz jaho sonca. Viesieła było žabkam – voś jany i śpiavali.<br>     	I tut prypłyła pratokaj z takoha samaha susiedniaha bałotca-voziera vialikaja bałotnaja Čarapacha. Žyła jana adna, pačuła viasiołyja śpievy i voś prypłyła, vynyrnuła, napałovu vylezła na bierah i ŭsia až zmorščyłasia ad asałody. Nadta dobra śpiavali žabki.<br>	– Žabki, žabki, dzień dobry.<br>	– A ty što za cuda-juda? – spytali žabki.<br>	– Ja Čarapacha.<br>	– Bačyć takoje nie bačyli, čuć hetkaje nie čuli. Značyć, nie moža ciabie być.<br>	– Dy jość ža ja, – sumna skazała Čarapacha. – I jak ža vy dobra śpiavajecie! Paŭtarycie, kali łaska. Prosta sałaŭi.<br>	– Možam, – skazali ŭleščanyja žabki.<br>Ku-ma, kuma<br>Bor-rščyk var-ryła.<br>	– Vydatna,  – skazała Čarapacha. – Vyklučna. Žabki-žabki, prymicie mianie ŭ svoj chor.<br>	– A ty śpiavać umieješ?<br>	– Nie. Ja słuchać lublu.<br>	– Dyk słuchaj. Zdalok. Ci pryviadzi siastru, jakaja ŭmieje.<br>	– I jana nie ŭmieje, – sumna skazała Čarapacha. – My, čarapachi, nie ŭmiejem śpiavać. Hołasu nam nie dadziena.<br>	– Dyk našto ty nam tady? – spytali žabki.<br>	– A słuchać vas chto budzie? Chvalić?<br>	– Nas i tak usie čujuć. I ŭsie chvalać<br>	– Nu i ja cichieńka siadzieła b dy chvaliła, – skazała dobraja i razumnaja Čarapacha.<br>	– Dyk ty, moža, jašče niešta ŭmieješ? – spytała Hałoŭnaja Žaba ŭ chory, jakaja až dźmułasia ad važnaści.<br>	– Płavać umieju. Nyrać.<br>	– Heta j my ŭmiejem. A skakać umieješ?<br>	– Nie, – uzdychnuła Čarapacha.<br>	– Ničoha ty nie ŭmieješ… A my jašče niasiom ikru. Žaburyńnie.<br>	– Ja zamiest jaje jajki niasu, – skazała Čarapacha. – Vialikija.<br>	– F-fu, – skazała Hałoŭnaja, – jajki… Nu, pasprabuj usio ž zaśpiavać.<br>     	I Čarapacha zarypieła: <br>		Śviecić miesiačyk z hary	<br>		Na hłybokija viry.	<br>	          Na ščytach u čarapach  <br>	          Siniaje śviatło haryć.<br>	– Słovy ništo sabie, – skazali žaby, – ale ž hołas? Br-r-r!<br>	– Dyk ja b vam – słovy, a vy b – śpiavali.<br>	– Słovy ŭ nas nie horšyja. Sami prydumali:<br>Što var-ryła, kum-ma, kum-ma?<br>Borš, bor-ršč, bur-raki.<br>	– Dobryja słovy, – skazała Čarapacha, – ale hałasy ŭ vas lepšyja.<br>	– I što heta za “ščyty ŭ čarapach”? – spytała Hałoŭnaja Žaba.<br>	– A voś toje, što na mnie.<br>	– Heta karyčnievaje? – uschvalavalisia žaby. – Heta brydkaje? Nu nie. My voś takija pryhožyja. Zialonyja. Bliskučyja. Jak łakiravanyja.<br>	– Žyvyja, – skazała Čarapacha, – usie pryhožyja.<br>	– A čamu heta bryda zaviecca ščytom? – spytała Maładzieńkaja Žabka.<br>	– Jana ćviordaja.<br>	– Niaŭžo-o? Vo-oj! Być nie moža.<br>     Samaja śmiełaja z žabak padpłyła aściarožna i dakranułasia da pancyra łapkaj.<br>	– Voj! Jana ž jak žaleznaja!<br>	– Nu i što? – skazała Čarapacha.<br>	– Ćviordaja!.. Hołasu nie maje!<br>	– Usio roŭna vy mnie padabajeciesia. Śpiavajecie pryhoža. Mnie adnoj sumna.<br>     	Ale žaby ŭžo razyšlisia:<br>	– Žaleznaja žaba, – zarahatała samaja naśmiešlivaja.<br>	– A my miakkija žabki. Zialonyja.<br>	– Žaleznaja! Hy-hy-hy!<br>     	Čarapacha pačała kryŭdavać:<br>	– Kožnaja žyvioła – roznaja. A ja – karysnaja.<br>	– I my kar-rysnyja… A ŭ ciabie hołasu niama… Kar-ryčnievaja…<br>	– Žaba ŭ tanku, – pažartavała naśmiešnica.<br>     	Pakryŭdziłasia biednaja Čarapacha, nyrnuła i papłyła ŭ pratoku, a paśla ŭ svaju aziarynku. A žaby, hledziačy na jaje burbałki, znoŭ zaviali svaju vałynku z katrynkaj:<br>Bur-rakoŭ nie było – <br>Br-ručki navar-ryła…<br>     	…Nu i što? I ci dobra heta atrymałasia? Tut sabie žabki viesieła śpiavajuć durnyja słovy dobrymi hałasami. A tam Čarapacha, što nie maje hołasu, ale viedaje dobryja słovy, lažyć sabie pad vadoj, pad śviatłom miesiaca, pakryŭdžanaja i adna-adziniusieńkaja.<br>     	I našto, kali ty zialony i miakki, łajać taho, chto karyčnievy i ćviordy? Ty voś chodziš na dźviuch nahach, a kot – na čatyroch. I niachaj sabie.<br>     	Drenna vy zrabili, žaby. Anu, marš adrazu ž u Čarapachi prabačeńnia prasić, pieraprašać jaje.<br><br><div class="c1m9ad"></div></div> <br><br><a name="cutid1-end" target="_self"></a>  <div class="c1m9ad"></div></article> <div lj0sale0height="600" lj0sale0window0min="1200" lj0sale0window0max="9999" lj0sale0hide0cookie="s1_rightbanner_closed" class="ljsale ljsale--empty b-singlepost-bodybanner ng-isolate-scope" lj0sale0not0init="s1_right"><div class="ljsale__inner">

    <div class="allbanners ">

        <!-- ngIf: directive.customId -->
        <div id="">

          <!-- ngIf: directive.type -->
        
        </div>

        <!-- ngIf: directive.close -->

    </div>

    <!-- ngIf: directive.hideble -->

</div>
</div>  </div>    </div> <div class="b-singlepost-video-wrap"> <div data-autoplay-dockable-video-mount=""></div> </div>
<div id="comments" class="b-grove" data-authtoken="c0:1682874000:263:86400:inTqNChgYH-0-:3e9b6ffe617df0b1c2872a53a54e6cd4"> <div class=" b-xylem  b-xylem-first  "> <ul class="b-xylem-cells">  <li class=" b-xylem-cell b-xylem-cell-amount ">   <span class="js-amount">  8 comments  </span>   </li>  </ul>  </div> <div class=" b-massaction-top ">  </div>    <div class=" b-tree b-tree-best ">  </div> <div class=" b-tree b-tree-promo " data-currentprice="">  </div>  <div class=" b-tree b-tree-root svgpreloader svgpreloader-pseudo svgpreloader-30 "><div class=" b-tree-twig  b-tree-twig-1 b-tree-twig-deep-0  " style="margin-left: 0px" data-tid="t195374">    <div id="t195374" class=" b-leaf            b-leaf-full   comment p-comment " data-username="zolak" data-displayname="zolak" data-updated-ts="1158516479" data-full="1"> <div class=" b-leaf-inner svgpreloader svgpreloader-pseudo svgpreloader-16 "> <div class="b-leaf-header"> <div class="b-leaf-userpic"> <a href="https://zolak.livejournal.com/" target="_blank" class="b-leaf-userpic-inner" lj:user="zolak">   <img src="https://l-stat.livejournal.net/img/userpics/userpic-user.png?v=15821" alt="zolak" loading="lazy">  </a> </div> <div class="b-leaf-details">   <p class="b-leaf-username"><span class="b-leaf-username-name"><span class="ljuser  i-ljuser  i-ljuser-deleted  i-ljuser-type-P     " data-ljuser="zolak" lj:user="zolak"><a href="https://zolak.livejournal.com/profile" class="i-ljuser-profile" target="_self"><img class="i-ljuser-userhead" src="https://l-stat.livejournal.net/img/userinfo_v8.svg?v=17080?v=657"></a><a href="https://zolak.livejournal.com/" class="i-ljuser-username" target="_self"><b>zolak</b></a></span> </span>  </p> <p class="b-leaf-meta">  <a href="https://lacinka.livejournal.com/35118.html?thread=195374#t195374" class="b-leaf-permalink" target="_self"> <span class="b-leaf-createdtime">September 17 2006, 18:07:59 UTC</span> </a>   <span class="b-leaf-shorttime">16 years ago</span>   </p>   </ul>        </div> </div>  <div class="b-leaf-article"> Tak, heta ideja, kab pościć siudy. <br> </div>   </div> </div>    </div><div class=" b-tree-twig  b-tree-twig-1 b-tree-twig-deep-0  " style="margin-left: 0px" data-tid="t195630">    <div id="t195630" class=" b-leaf            b-leaf-full   comment p-comment " data-username="coipish" data-displayname="coipish" data-updated-ts="1158519495" data-full="1"> <div class=" b-leaf-inner svgpreloader svgpreloader-pseudo svgpreloader-16 "> <div class="b-leaf-header"> <div class="b-leaf-userpic"> <a href="https://coipish.livejournal.com/" target="_blank" class="b-leaf-userpic-inner" lj:user="coipish">   <img src="https://l-userpic.livejournal.com/74177303/8579748" alt="coipish" loading="lazy" title="Kojpiš Anton // Койпиш Антон: a">  </a> </div> <div class="b-leaf-details">   <p class="b-leaf-username"><span class="b-leaf-username-name"><span class="ljuser  i-ljuser  i-ljuser-type-P     " data-ljuser="coipish" lj:user="coipish"><a href="https://coipish.livejournal.com/profile" class="i-ljuser-profile" target="_self"><img class="i-ljuser-userhead" src="https://l-stat.livejournal.net/img/userinfo_v8.svg?v=17080?v=657"></a><a href="https://coipish.livejournal.com/" class="i-ljuser-username" target="_self"><b>coipish</b></a></span> </span>  </p> <p class="b-leaf-meta">  <a href="https://lacinka.livejournal.com/35118.html?thread=195630#t195630" class="b-leaf-permalink" target="_self"> <span class="b-leaf-createdtime">September 17 2006, 18:58:15 UTC</span> </a>   <span class="b-leaf-shorttime">16 years ago</span>   </p>   </ul>        </div> </div>  <div class="b-leaf-article"> Ja ŭ heta hulajusia ŭžo druhi miesiac, voś tut: <a href="http://litrturlacinkaj.livejournal.com" target="_self">http://litrturlacinkaj.livejournal.com</a><br>I, nakštałt, u niezaležnaści ad kanvektaru, "nie" pierad słovam z naciskam na pieršy słoh, lepiej źmianiać na "nia". </div>   </div> </div>    </div><div class=" b-tree-twig  b-tree-twig-2 b-tree-twig-deep-0  " style="margin-left: 30px" data-tid="t195886">    <div id="t195886" class=" b-leaf        b-leaf-poster      b-leaf-full   comment p-comment " data-username="darkgreen_wolf" data-displayname="darkgreen_wolf" data-updated-ts="1158522130" data-full="1"> <div class=" b-leaf-inner svgpreloader svgpreloader-pseudo svgpreloader-16 "> <div class="b-leaf-header"> <div class="b-leaf-userpic"> <a href="https://darkgreen-wolf.livejournal.com/" target="_blank" class="b-leaf-userpic-inner" lj:user="darkgreen_wolf">   <img src="https://l-stat.livejournal.net/img/userpics/userpic-user.png?v=15821" alt="darkgreen_wolf" loading="lazy">  </a> </div> <div class="b-leaf-details">   <p class="b-leaf-username"><span class="b-leaf-username-name"><span class="ljuser  i-ljuser  i-ljuser-deleted  i-ljuser-type-P     " data-ljuser="darkgreen_wolf" lj:user="darkgreen_wolf"><a href="https://darkgreen-wolf.livejournal.com/profile" class="i-ljuser-profile" target="_self"><img class="i-ljuser-userhead" src="https://l-stat.livejournal.net/img/userinfo_v8.svg?v=17080?v=657"></a><a href="https://darkgreen-wolf.livejournal.com/" class="i-ljuser-username" target="_self"><b>darkgreen_wolf</b></a></span> </span>  </p> <p class="b-leaf-meta">  <a href="https://lacinka.livejournal.com/35118.html?thread=195886#t195886" class="b-leaf-permalink" target="_self"> <span class="b-leaf-createdtime">September 17 2006, 19:42:10 UTC</span> </a>   <span class="b-leaf-shorttime">16 years ago</span>   </p>   </ul>        </div> </div>  <div class="b-leaf-article"> 1. tam nie supołka - hulajci tam adzin<br>2. " słoh"? skład <br>3. pieraprašaju za niaŭvažlivaść, pierahladžu-padpraŭlu "nia" </div>   </div> </div>    </div><div class=" b-tree-twig  b-tree-twig-3 b-tree-twig-deep-0  " style="margin-left: 60px" data-tid="t196142">    <div id="t196142" class=" b-leaf            b-leaf-full   comment p-comment " data-username="coipish" data-displayname="coipish" data-updated-ts="1158522957" data-full="1"> <div class=" b-leaf-inner svgpreloader svgpreloader-pseudo svgpreloader-16 "> <div class="b-leaf-header"> <div class="b-leaf-userpic"> <a href="https://coipish.livejournal.com/" target="_blank" class="b-leaf-userpic-inner" lj:user="coipish">   <img src="https://l-userpic.livejournal.com/74177303/8579748" alt="coipish" loading="lazy" title="Kojpiš Anton // Койпиш Антон: a">  </a> </div> <div class="b-leaf-details">   <p class="b-leaf-username"><span class="b-leaf-username-name"><span class="ljuser  i-ljuser  i-ljuser-type-P     " data-ljuser="coipish" lj:user="coipish"><a href="https://coipish.livejournal.com/profile" class="i-ljuser-profile" target="_self"><img class="i-ljuser-userhead" src="https://l-stat.livejournal.net/img/userinfo_v8.svg?v=17080?v=657"></a><a href="https://coipish.livejournal.com/" class="i-ljuser-username" target="_self"><b>coipish</b></a></span> </span>  </p> <p class="b-leaf-meta">  <a href="https://lacinka.livejournal.com/35118.html?thread=196142#t196142" class="b-leaf-permalink" target="_self"> <span class="b-leaf-createdtime">September 17 2006, 19:55:57 UTC</span> </a>   <span class="b-leaf-shorttime">16 years ago</span>   </p>   </ul>        </div> </div>  <div class="b-leaf-article"> 1. A ja nikomu j nie žadaju dazvalać hulać tam, akramia mianie. :)<br>2. Uhu.<br>3. Prahladzicie, kali łaska, nia tolki na kont "nia" Usio ž taraškievica ad narkomaŭki nia tolki miakkimi znakami adroźnivajecca.<br> </div>   </div> </div>    </div><div class=" b-tree-twig  b-tree-twig-3 b-tree-twig-deep-0  " style="margin-left: 60px" data-tid="t196398">    <div id="t196398" class=" b-leaf            b-leaf-full   comment p-comment " data-username="coipish" data-displayname="coipish" data-updated-ts="1158523073" data-full="1"> <div class=" b-leaf-inner svgpreloader svgpreloader-pseudo svgpreloader-16 "> <div class="b-leaf-header"> <div class="b-leaf-userpic"> <a href="https://coipish.livejournal.com/" target="_blank" class="b-leaf-userpic-inner" lj:user="coipish">   <img src="https://l-userpic.livejournal.com/74177303/8579748" alt="coipish" loading="lazy" title="Kojpiš Anton // Койпиш Антон: a">  </a> </div> <div class="b-leaf-details">   <p class="b-leaf-username"><span class="b-leaf-username-name"><span class="ljuser  i-ljuser  i-ljuser-type-P     " data-ljuser="coipish" lj:user="coipish"><a href="https://coipish.livejournal.com/profile" class="i-ljuser-profile" target="_self"><img class="i-ljuser-userhead" src="https://l-stat.livejournal.net/img/userinfo_v8.svg?v=17080?v=657"></a><a href="https://coipish.livejournal.com/" class="i-ljuser-username" target="_self"><b>coipish</b></a></span> </span>  </p> <p class="b-leaf-meta">  <a href="https://lacinka.livejournal.com/35118.html?thread=196398#t196398" class="b-leaf-permalink" target="_self"> <span class="b-leaf-createdtime">September 17 2006, 19:57:53 UTC</span> </a>   <span class="b-leaf-shorttime">16 years ago</span>   </p>   </ul>        </div> </div>  <div class="b-leaf-article"> 3 (praciah) Voś <a href="http://txt.knihi.com/nn/1998/18/04.htm" rel="nofollow" target="_self">tut</a> pačytajcie ab asnoŭnych adroźnivańniach, kali łaska. </div>   </div> </div>    </div><div class=" b-tree-twig  b-tree-twig-4 b-tree-twig-deep-0  " style="margin-left: 90px" data-tid="t196654">    <div id="t196654" class=" b-leaf        b-leaf-poster      b-leaf-full   comment p-comment " data-username="darkgreen_wolf" data-displayname="darkgreen_wolf" data-updated-ts="1158524549" data-full="1"> <div class=" b-leaf-inner svgpreloader svgpreloader-pseudo svgpreloader-16 "> <div class="b-leaf-header"> <div class="b-leaf-userpic"> <a href="https://darkgreen-wolf.livejournal.com/" target="_blank" class="b-leaf-userpic-inner" lj:user="darkgreen_wolf">   <img src="https://l-stat.livejournal.net/img/userpics/userpic-user.png?v=15821" alt="darkgreen_wolf" loading="lazy">  </a> </div> <div class="b-leaf-details">   <p class="b-leaf-username"><span class="b-leaf-username-name"><span class="ljuser  i-ljuser  i-ljuser-deleted  i-ljuser-type-P     " data-ljuser="darkgreen_wolf" lj:user="darkgreen_wolf"><a href="https://darkgreen-wolf.livejournal.com/profile" class="i-ljuser-profile" target="_self"><img class="i-ljuser-userhead" src="https://l-stat.livejournal.net/img/userinfo_v8.svg?v=17080?v=657"></a><a href="https://darkgreen-wolf.livejournal.com/" class="i-ljuser-username" target="_self"><b>darkgreen_wolf</b></a></span> </span>  </p> <p class="b-leaf-meta">  <a href="https://lacinka.livejournal.com/35118.html?thread=196654#t196654" class="b-leaf-permalink" target="_self"> <span class="b-leaf-createdtime">September 17 2006, 20:22:29 UTC</span> </a>   <span class="b-leaf-shorttime">16 years ago</span>   </p>   </ul>        </div> </div>  <div class="b-leaf-article"> m-da, dzietačka, kali teks syry j ja nia mnieŭ času ŭvažliva jaho prahledzić, to heta šče nia značyć, što ja nia viedaju "asnoŭnych adroźnivańniaŭ".<br>:( </div>   </div> </div>    </div><div class=" b-tree-twig  b-tree-twig-5 b-tree-twig-deep-0  " style="margin-left: 120px" data-tid="t196910">    <div id="t196910" class=" b-leaf            b-leaf-full   comment p-comment " data-username="coipish" data-displayname="coipish" data-updated-ts="1158524857" data-full="1"> <div class=" b-leaf-inner svgpreloader svgpreloader-pseudo svgpreloader-16 "> <div class="b-leaf-header"> <div class="b-leaf-userpic"> <a href="https://coipish.livejournal.com/" target="_blank" class="b-leaf-userpic-inner" lj:user="coipish">   <img src="https://l-userpic.livejournal.com/74177303/8579748" alt="coipish" loading="lazy" title="Kojpiš Anton // Койпиш Антон: a">  </a> </div> <div class="b-leaf-details">   <p class="b-leaf-username"><span class="b-leaf-username-name"><span class="ljuser  i-ljuser  i-ljuser-type-P     " data-ljuser="coipish" lj:user="coipish"><a href="https://coipish.livejournal.com/profile" class="i-ljuser-profile" target="_self"><img class="i-ljuser-userhead" src="https://l-stat.livejournal.net/img/userinfo_v8.svg?v=17080?v=657"></a><a href="https://coipish.livejournal.com/" class="i-ljuser-username" target="_self"><b>coipish</b></a></span> </span>  </p> <p class="b-leaf-meta">  <a href="https://lacinka.livejournal.com/35118.html?thread=196910#t196910" class="b-leaf-permalink" target="_self"> <span class="b-leaf-createdtime">September 17 2006, 20:27:37 UTC</span> </a>   <span class="b-leaf-shorttime">16 years ago</span>   </p>   </ul>        </div> </div>  <div class="b-leaf-article"> Ja tabie nie "dzietačka", dziedušku. Kali viedaješ - dobra. Ale moža spačatku treba było prahladzieć, a potym vykładać? </div>   </div> </div>    </div><div class=" b-tree-twig  b-tree-twig-6 b-tree-twig-deep-0  " style="margin-left: 150px" data-tid="t197166">    <div id="t197166" class=" b-leaf            b-leaf-full   comment p-comment " data-username="zolak" data-displayname="zolak" data-updated-ts="1158561176" data-full="1"> <div class=" b-leaf-inner svgpreloader svgpreloader-pseudo svgpreloader-16 "> <div class="b-leaf-header"> <div class="b-leaf-userpic"> <a href="https://zolak.livejournal.com/" target="_blank" class="b-leaf-userpic-inner" lj:user="zolak">   <img src="https://l-stat.livejournal.net/img/userpics/userpic-user.png?v=15821" alt="zolak" loading="lazy">  </a> </div> <div class="b-leaf-details">   <p class="b-leaf-username"><span class="b-leaf-username-name"><span class="ljuser  i-ljuser  i-ljuser-deleted  i-ljuser-type-P     " data-ljuser="zolak" lj:user="zolak"><a href="https://zolak.livejournal.com/profile" class="i-ljuser-profile" target="_self"><img class="i-ljuser-userhead" src="https://l-stat.livejournal.net/img/userinfo_v8.svg?v=17080?v=657"></a><a href="https://zolak.livejournal.com/" class="i-ljuser-username" target="_self"><b>zolak</b></a></span> </span>  </p> <p class="b-leaf-meta">  <a href="https://lacinka.livejournal.com/35118.html?thread=197166#t197166" class="b-leaf-permalink" target="_self"> <span class="b-leaf-createdtime">September 18 2006, 06:32:56 UTC</span> </a>   <span class="b-leaf-shorttime">16 years ago</span>   </p>   </ul>        </div> </div>  <div class="b-leaf-article"> Heta tolki hulnia. </div>   </div> </div>    </div></div>     <div prev-next-nav=""></div> <div suggestion-for-unlogged="" class="ng-isolate-scope"><!-- ngIf: directive.isBlockVisible --></div>   </div>         