---
id: 35724
layout: page
date: 2022-10-16
---


<!-- s-body -->
        <div class="s-body">

            <!-- use header -->
            <!-- /use header -->

            <!-- Content -->
             <article class="b-singlepost hentry h-entry js-emojis  b-singlepost-mobileadaptive  b-singlepost-withbodybanner  ng-scope" role="main" ng-app="Entry"> <div class="b-singlepost-qrcode  ng-isolate-scope" lj-qrcode="https://lacinka.livejournal.com/35724.html" lj-qrcode-width="70" lj-qrcode-height="70"> <canvas width="70" height="70"></canvas></div> <div class="b-singlepost-about"> <dl class=" b-singlepost-author author vcard p-author h-card " ng-non-bindable=""> <dt class=" b-singlepost-author-userpic photo u-photo " lj:user="coipish">  <img src="https://l-userpic.livejournal.com/74177303/8579748" width="100" height="100" align="absmiddle" title="Kojpiš Anton // Койпиш Антон: a" alt="">  </dt> <dd class="b-singlepost-author-userinfo"> <div class="b-singlepost-author-userinfo-screen"> <span class=" b-singlepost-author-user fn p-name "> <span class="b-singlepost-author-user-screen"> Kojpiš Anton // Койпиш Антон (<span class="ljuser  i-ljuser  i-ljuser-type-P     " data-ljuser="coipish" lj:user="coipish"><a href="https://coipish.livejournal.com/profile" target="_self" class="i-ljuser-profile"><img class="i-ljuser-userhead" src="https://l-stat.livejournal.net/img/userinfo_v8.svg?v=17080?v=657"></a><a href="https://coipish.livejournal.com/" class="i-ljuser-username" target="_self"><b>coipish</b></a></span>) wrote in <span class="ljuser  i-ljuser  i-ljuser-type-C     " data-ljuser="lacinka" lj:user="lacinka"><a href="https://lacinka.livejournal.com/profile" target="_self" class="i-ljuser-profile"><img class="i-ljuser-userhead" src="https://l-stat.livejournal.net/img/community.gif?v=556?v=657"></a><a href="https://lacinka.livejournal.com/" class="i-ljuser-username" target="_self"><b>lacinka</b></a></span>, </span> </span> <br> <time class=" b-singlepost-author-date published dt-published "><a href="https://lacinka.livejournal.com/2006/" target="_self">2006</a>-<a href="https://lacinka.livejournal.com/2006/09/" target="_self">09</a>-<a href="https://lacinka.livejournal.com/2006/09/27/" target="_self">27</a> 19:49:00</time>   </div> <div class="b-singlepost-author-userinfo-print"> <span class=" b-singlepost-author-user fn p-name "> Kojpiš Anton // Койпиш Антон<br> <span class="ljuser  i-ljuser  i-ljuser-type-P     " data-ljuser="coipish" lj:user="coipish"><a href="https://coipish.livejournal.com/profile" target="_self" class="i-ljuser-profile"><img class="i-ljuser-userhead" src="https://l-stat.livejournal.net/img/userinfo_v8.svg?v=17080?v=657"></a><a href="https://coipish.livejournal.com/" class="i-ljuser-username" target="_self"><b>coipish</b></a></span>  <br><span class="ljuser  i-ljuser  i-ljuser-type-C     " data-ljuser="lacinka" lj:user="lacinka"><a href="https://lacinka.livejournal.com/profile" target="_self" class="i-ljuser-profile"><img class="i-ljuser-userhead" src="https://l-stat.livejournal.net/img/community.gif?v=556?v=657"></a><a href="https://lacinka.livejournal.com/" class="i-ljuser-username" target="_self"><b>lacinka</b></a></span>  </span> <br> <time class=" b-singlepost-author-date published dt-published "><a href="https://lacinka.livejournal.com/2006/" target="_self">2006</a>-<a href="https://lacinka.livejournal.com/2006/09/" target="_self">09</a>-<a href="https://lacinka.livejournal.com/2006/09/27/" target="_self">27</a> 19:49:00</time> </div> </dd> </dl>  </div>    <div class="b-singlepost-wrapper">  ¤ <ul class="b-linkbar">  <li class="b-linkbar-item"><a href="https://www.livejournal.com/go.bml?journal=lacinka&amp;itemid=35724&amp;dir=prev" rel="nofollow" title="Previous" class="b-controls b-controls-prev" target="_self"><i class="b-controls-bg"></i>Previous</a></li>  <li class="b-linkbar-item ng-scope" lj-share="{ url: 'https://lacinka.livejournal.com/35724.html', title: '', text: '', hashtags: '', alwaysBottom: true }">
                <a href="javascript:void(0);" rel="nofollow" title="Share" class="b-controls b-controls-share js-lj-share" data-hashtags="" data-title="" data-url="https%3A%2F%2Flacinka.livejournal.com%2F35724.html" target="_self">
                    <i class="b-controls-bg"></i>Share
                </a>
            </li>  <li class="b-linkbar-item"><a href="https://www.livejournal.com/tools/content_flag.bml?user=lacinka&amp;itemid=35724" rel="nofollow" title="Flag" class="b-controls b-controls-flag" target="_self"><i class="b-controls-bg"></i>Flag</a></li>  <li class="b-linkbar-item"><a href="https://www.livejournal.com/go.bml?journal=lacinka&amp;itemid=35724&amp;dir=next" rel="nofollow" title="Next" class="b-controls b-controls-next" target="_self"><i class="b-controls-bg"></i>Next</a></li>  </ul> </div>      <div class="b-singlepost-bodywrapper">  <article class="b-singlepost-body entry-content e-content   ng-scope" lj-sale-entry="" lj-discovery-tags="" lj-embed-resizer=""> Voś zaraz pierakłaŭ <a href="http://litrturlacinkaj.livejournal.com/14878.html" rel="nofollow" target="_self"><font color="#330066">“Čorny Zamak Alšanski”</font></a> I ŭ mianie da vas pytańnie, pavažanaje spadarstva:<br>Moža mnie chto paraje, što mnie dalej pierakładać? :)<br>Prymajucca lubyja pažadańni na lubyja teksty biełaruskaj klasyčnaj litaratury, jakija jość u siecivie na narkomaŭcy, ale niama na taraškievicy.<br>I jašče adna vialikaja prośba. Kali łaska, nia treba rajić apaviadańni pra Druhuju Suśvietnuju (Vialikuju Ajčynnuju) Vajnu. Nažal, ja vielmi nie lublu radovyja mastackija tvory pra jaje. Prosta nie pieravarvaju. :(<br>Budu ŭdziačny kožnamu kamentu. :)  </article>   </div>    </div> <div class="b-singlepost-video-wrap"> <div data-autoplay-dockable-video-mount=""></div> </div>
<div id="comments" class="b-grove" data-authtoken="c0:1682874000:265:86400:ucJu5YmV1E-0-:a87d6afc89539c7679aabd5b0dba7096"> <div class=" b-xylem  b-xylem-first  "> <ul class="b-xylem-cells">  <li class=" b-xylem-cell b-xylem-cell-amount ">   <span class="js-amount">  8 comments  </span>   </li>  </ul>  </div> <div class=" b-massaction-top ">  </div>    <div class=" b-tree b-tree-best ">  </div> <div class=" b-tree b-tree-promo " data-currentprice="">  </div>  <div class=" b-tree b-tree-root svgpreloader svgpreloader-pseudo svgpreloader-30 "><div class=" b-tree-twig  b-tree-twig-1 b-tree-twig-deep-0  " style="margin-left: 0px" data-tid="t198284">    <div id="t198284" class=" b-leaf            b-leaf-full   comment p-comment " data-username="ausvald" data-displayname="ausvald" data-updated-ts="1159396025" data-full="1"> <div class=" b-leaf-inner svgpreloader svgpreloader-pseudo svgpreloader-16 "> <div class="b-leaf-header"> <div class="b-leaf-userpic"> <a href="https://ausvald.livejournal.com/" target="_blank" class="b-leaf-userpic-inner" lj:user="ausvald">   <img src="https://l-userpic.livejournal.com/24027510/1048492" alt="ausvald" loading="lazy" title="Аўсвальд: kalihon">  </a> </div> <div class="b-leaf-details">   <p class="b-leaf-username"><span class="b-leaf-username-name"><span class="ljuser  i-ljuser  i-ljuser-type-P     " data-ljuser="ausvald" lj:user="ausvald"><a href="https://ausvald.livejournal.com/profile" class="i-ljuser-profile" target="_self"><img class="i-ljuser-userhead" src="https://l-stat.livejournal.net/img/userinfo_v8.svg?v=17080?v=657"></a><a href="https://ausvald.livejournal.com/" class="i-ljuser-username" target="_self"><b>ausvald</b></a></span> </span>  </p> <p class="b-leaf-meta">  <a href="https://lacinka.livejournal.com/35724.html?thread=198284#t198284" class="b-leaf-permalink" target="_self"> <span class="b-leaf-createdtime">September 27 2006, 22:27:05 UTC</span> </a>   <span class="b-leaf-shorttime">16 years ago</span>   </p>   </ul>        </div> </div>  <div class="b-leaf-article"> Voś zaraz pierakłaŭ “Čorny Zamak Alšanski” I ŭ mianie da vas pytańnie, pavažanaje spadarstva:<br>Moža mnie chto paraj<s>e</s><u>іць</u>, što mnie dalej pierakładać? :)<br>Prymajucca lubyja pažadańni na lubyja teksty biełaruskaj klas<s>i</s><u>ы</u>čnaj litaratury, jakija jość u siecivie na narkomaŭ<s>ki</s><u>цы</u>, ale niama na taraškievicy.<br>I jašče adna vialikaja prośba. Kali łaska, nia treba rajić apaviadańni pra Druhuju Suśvietnuju (Vialikuju Ajčynnuj<u>ю</u>) Vajnu. Na_žal, ja vielmi nie lublu <s>radovyja</s><u>?</u> mastackija tvory pra jaje. Prosta nie <s>pieravarvaju</s><u>?</u>. :(<br>Budu ŭdziačny kožnamu kament<u>ар</u>u. :)<br><br>А мо дзеля пачатку вывучыць беларускую мову, а тады перакладамі займацца? </div>   </div> </div>    </div><div class=" b-tree-twig  b-tree-twig-2 b-tree-twig-deep-0  " style="margin-left: 30px" data-tid="t198796">    <div id="t198796" class=" b-leaf        b-leaf-poster      b-leaf-full   comment p-comment " data-username="coipish" data-displayname="coipish" data-updated-ts="1159439210" data-full="1"> <div class=" b-leaf-inner svgpreloader svgpreloader-pseudo svgpreloader-16 "> <div class="b-leaf-header"> <div class="b-leaf-userpic"> <a href="https://coipish.livejournal.com/" target="_blank" class="b-leaf-userpic-inner" lj:user="coipish">   <img src="https://l-userpic.livejournal.com/74177303/8579748" alt="coipish" loading="lazy" title="Kojpiš Anton // Койпиш Антон: a">  </a> </div> <div class="b-leaf-details">   <p class="b-leaf-username"><span class="b-leaf-username-name"><span class="ljuser  i-ljuser  i-ljuser-type-P     " data-ljuser="coipish" lj:user="coipish"><a href="https://coipish.livejournal.com/profile" class="i-ljuser-profile" target="_self"><img class="i-ljuser-userhead" src="https://l-stat.livejournal.net/img/userinfo_v8.svg?v=17080?v=657"></a><a href="https://coipish.livejournal.com/" class="i-ljuser-username" target="_self"><b>coipish</b></a></span> </span>  </p> <p class="b-leaf-meta">  <a href="https://lacinka.livejournal.com/35724.html?thread=198796#t198796" class="b-leaf-permalink" target="_self"> <span class="b-leaf-createdtime">September 28 2006, 10:26:50 UTC</span> </a>   <span class="b-leaf-shorttime">16 years ago</span>   </p>   </ul>        </div> </div>  <div class="b-leaf-article"> <i>pieravarvaju</i><br>Słova ŭziata sa słoŭnika "Biełazar"<br><i>radovyja</i><br>"советские" pa-rasiejsku<br><i>Ajčynnujю</i><br>apiska<br><i>Na_žal, klasiыčnaj </i><br>zhodny, prosta ŭ Karatkieviča zaŭsiody było minavita "na žal"<br><i>parajeіць, kamentарu</i><br>zdajecca, zvyčajna ŭsie pišuć kamentar, -e (sučasny čas, treciaja asoba)<br><br>Kali b pierakładaŭ niechta, chto lapiej za mianie viedaje biełaruskiju movu, było b fajna, ale pakul takich niama. </div>   </div> </div>    </div><div class=" b-tree-twig  b-tree-twig-3 b-tree-twig-deep-0  " style="margin-left: 60px" data-tid="t199308">    <div id="t199308" class=" b-leaf            b-leaf-full   comment p-comment " data-username="ausvald" data-displayname="ausvald" data-updated-ts="1159440019" data-full="1"> <div class=" b-leaf-inner svgpreloader svgpreloader-pseudo svgpreloader-16 "> <div class="b-leaf-header"> <div class="b-leaf-userpic"> <a href="https://ausvald.livejournal.com/" target="_blank" class="b-leaf-userpic-inner" lj:user="ausvald">   <img src="https://l-userpic.livejournal.com/24027510/1048492" alt="ausvald" loading="lazy" title="Аўсвальд: kalihon">  </a> </div> <div class="b-leaf-details">   <p class="b-leaf-username"><span class="b-leaf-username-name"><span class="ljuser  i-ljuser  i-ljuser-type-P     " data-ljuser="ausvald" lj:user="ausvald"><a href="https://ausvald.livejournal.com/profile" class="i-ljuser-profile" target="_self"><img class="i-ljuser-userhead" src="https://l-stat.livejournal.net/img/userinfo_v8.svg?v=17080?v=657"></a><a href="https://ausvald.livejournal.com/" class="i-ljuser-username" target="_self"><b>ausvald</b></a></span> </span>  </p> <p class="b-leaf-meta">  <a href="https://lacinka.livejournal.com/35724.html?thread=199308#t199308" class="b-leaf-permalink" target="_self"> <span class="b-leaf-createdtime">September 28 2006, 10:40:19 UTC</span> </a>   <span class="b-leaf-shorttime">16 years ago</span>   </p>   </ul>        </div> </div>  <div class="b-leaf-article"> Ого! Бачу ў цябе праблемы ня толькі з моваю, але яшчэй й дыслексія.<br><br>Жадаю посьпехаў. </div>   </div> </div>    </div><div class=" b-tree-twig  b-tree-twig-4 b-tree-twig-deep-0  " style="margin-left: 90px" data-tid="t199564">    <div id="t199564" class=" b-leaf        b-leaf-poster      b-leaf-full   comment p-comment " data-username="coipish" data-displayname="coipish" data-updated-ts="1159442776" data-full="1"> <div class=" b-leaf-inner svgpreloader svgpreloader-pseudo svgpreloader-16 "> <div class="b-leaf-header"> <div class="b-leaf-userpic"> <a href="https://coipish.livejournal.com/" target="_blank" class="b-leaf-userpic-inner" lj:user="coipish">   <img src="https://l-userpic.livejournal.com/74177303/8579748" alt="coipish" loading="lazy" title="Kojpiš Anton // Койпиш Антон: a">  </a> </div> <div class="b-leaf-details">   <p class="b-leaf-username"><span class="b-leaf-username-name"><span class="ljuser  i-ljuser  i-ljuser-type-P     " data-ljuser="coipish" lj:user="coipish"><a href="https://coipish.livejournal.com/profile" class="i-ljuser-profile" target="_self"><img class="i-ljuser-userhead" src="https://l-stat.livejournal.net/img/userinfo_v8.svg?v=17080?v=657"></a><a href="https://coipish.livejournal.com/" class="i-ljuser-username" target="_self"><b>coipish</b></a></span> </span>  </p> <p class="b-leaf-meta">  <a href="https://lacinka.livejournal.com/35724.html?thread=199564#t199564" class="b-leaf-permalink" target="_self"> <span class="b-leaf-createdtime">September 28 2006, 11:26:16 UTC</span> </a>   <span class="b-leaf-shorttime">16 years ago</span>   </p>   </ul>        </div> </div>  <div class="b-leaf-article"> Dziakuj za krytyku. :) </div>   </div> </div>    </div><div class=" b-tree-twig  b-tree-twig-2 b-tree-twig-deep-0  " style="margin-left: 30px" data-tid="t200076">    <div id="t200076" class=" b-leaf            b-leaf-full   comment p-comment " data-username="" data-displayname="" data-updated-ts="1160304345" data-full="1"> <div class=" b-leaf-inner svgpreloader svgpreloader-pseudo svgpreloader-16 "> <div class="b-leaf-header"> <div class="b-leaf-userpic"> <a href="" target="_blank" class="b-leaf-userpic-inner" lj:user="">   <img src="https://l-stat.livejournal.net/img/userpics/userpic-anonymous.png?v=15821" alt="" loading="lazy">  </a> </div> <div class="b-leaf-details">   <p class="b-leaf-username"><span class="b-leaf-username-name">Anonymous</span>  </p> <p class="b-leaf-meta">  <a href="https://lacinka.livejournal.com/35724.html?thread=200076#t200076" class="b-leaf-permalink" target="_self"> <span class="b-leaf-createdtime">October 8 2006, 10:45:45 UTC</span> </a>   <span class="b-leaf-shorttime">16 years ago</span>   </p>   </ul>        </div> </div>  <div class="b-leaf-article"> +1 Toje samaje źbiraŭsia napisać. </div>   </div> </div>    </div><div class=" b-tree-twig  b-tree-twig-3 b-tree-twig-deep-0  " style="margin-left: 60px" data-tid="t200332">    <div id="t200332" class=" b-leaf        b-leaf-poster      b-leaf-full   comment p-comment " data-username="coipish" data-displayname="coipish" data-updated-ts="1160305024" data-full="1"> <div class=" b-leaf-inner svgpreloader svgpreloader-pseudo svgpreloader-16 "> <div class="b-leaf-header"> <div class="b-leaf-userpic"> <a href="https://coipish.livejournal.com/" target="_blank" class="b-leaf-userpic-inner" lj:user="coipish">   <img src="https://l-userpic.livejournal.com/74177303/8579748" alt="coipish" loading="lazy" title="Kojpiš Anton // Койпиш Антон: a">  </a> </div> <div class="b-leaf-details">   <p class="b-leaf-username"><span class="b-leaf-username-name"><span class="ljuser  i-ljuser  i-ljuser-type-P     " data-ljuser="coipish" lj:user="coipish"><a href="https://coipish.livejournal.com/profile" class="i-ljuser-profile" target="_self"><img class="i-ljuser-userhead" src="https://l-stat.livejournal.net/img/userinfo_v8.svg?v=17080?v=657"></a><a href="https://coipish.livejournal.com/" class="i-ljuser-username" target="_self"><b>coipish</b></a></span> </span>  </p> <p class="b-leaf-meta">  <a href="https://lacinka.livejournal.com/35724.html?thread=200332#t200332" class="b-leaf-permalink" target="_self"> <span class="b-leaf-createdtime">October 8 2006, 10:57:04 UTC</span> </a>   <span class="b-leaf-shorttime">16 years ago</span>   </p>   </ul>        </div> </div>  <div class="b-leaf-article"> A ty chto? </div>   </div> </div>    </div><div class=" b-tree-twig  b-tree-twig-1 b-tree-twig-deep-0  " style="margin-left: 0px" data-tid="t198540">    <div id="t198540" class=" b-leaf            b-leaf-full   comment p-comment " data-username="hondurazian" data-displayname="hondurazian" data-updated-ts="1159426726" data-full="1"> <div class=" b-leaf-inner svgpreloader svgpreloader-pseudo svgpreloader-16 "> <div class="b-leaf-header"> <div class="b-leaf-userpic"> <a href="https://hondurazian.livejournal.com/" target="_blank" class="b-leaf-userpic-inner" lj:user="hondurazian">   <img src="https://l-userpic.livejournal.com/111319599/6011209" alt="hondurazian" loading="lazy" title="hondurazian: Bear Grylls">  </a> </div> <div class="b-leaf-details">   <p class="b-leaf-username"><span class="b-leaf-username-name"><span class="ljuser  i-ljuser  i-ljuser-type-P     " data-ljuser="hondurazian" lj:user="hondurazian"><a href="https://hondurazian.livejournal.com/profile" class="i-ljuser-profile" target="_self"><img class="i-ljuser-userhead" src="https://l-stat.livejournal.net/img/userinfo_v8.svg?v=17080?v=657"></a><a href="https://hondurazian.livejournal.com/" class="i-ljuser-username" target="_self"><b>hondurazian</b></a></span> </span>  </p> <p class="b-leaf-meta">  <a href="https://lacinka.livejournal.com/35724.html?thread=198540#t198540" class="b-leaf-permalink" target="_self"> <span class="b-leaf-createdtime">September 28 2006, 06:58:46 UTC</span> </a>   <span class="b-leaf-shorttime">16 years ago</span>   </p>   </ul>        </div> </div>  <div class="b-leaf-article"> a jak ža Bykaŭ?! "Znak biady"?! </div>   </div> </div>    </div><div class=" b-tree-twig  b-tree-twig-2 b-tree-twig-deep-0  " style="margin-left: 30px" data-tid="t199052">    <div id="t199052" class=" b-leaf        b-leaf-poster      b-leaf-full   comment p-comment " data-username="coipish" data-displayname="coipish" data-updated-ts="1159439230" data-full="1"> <div class=" b-leaf-inner svgpreloader svgpreloader-pseudo svgpreloader-16 "> <div class="b-leaf-header"> <div class="b-leaf-userpic"> <a href="https://coipish.livejournal.com/" target="_blank" class="b-leaf-userpic-inner" lj:user="coipish">   <img src="https://l-userpic.livejournal.com/74177303/8579748" alt="coipish" loading="lazy" title="Kojpiš Anton // Койпиш Антон: a">  </a> </div> <div class="b-leaf-details">   <p class="b-leaf-username"><span class="b-leaf-username-name"><span class="ljuser  i-ljuser  i-ljuser-type-P     " data-ljuser="coipish" lj:user="coipish"><a href="https://coipish.livejournal.com/profile" class="i-ljuser-profile" target="_self"><img class="i-ljuser-userhead" src="https://l-stat.livejournal.net/img/userinfo_v8.svg?v=17080?v=657"></a><a href="https://coipish.livejournal.com/" class="i-ljuser-username" target="_self"><b>coipish</b></a></span> </span>  </p> <p class="b-leaf-meta">  <a href="https://lacinka.livejournal.com/35724.html?thread=199052#t199052" class="b-leaf-permalink" target="_self"> <span class="b-leaf-createdtime">September 28 2006, 10:27:10 UTC</span> </a>   <span class="b-leaf-shorttime">16 years ago</span>   </p>   </ul>        </div> </div>  <div class="b-leaf-article"> Hata nie pra vajnu? </div>   </div> </div>    </div></div>     <div prev-next-nav=""></div> <div suggestion-for-unlogged="" class="ng-isolate-scope"><!-- ngIf: directive.isBlockVisible --></div>   </div>         