---
id: 36290
layout: page
date: 2022-10-16
---


<!-- s-body -->
        <div class="s-body">

            <!-- use header -->
            <!-- /use header -->

            <!-- Content -->
             <article class="b-singlepost hentry h-entry js-emojis  b-singlepost-mobileadaptive  b-singlepost-withbodybanner  ng-scope" role="main" ng-app="Entry"> <div class="b-singlepost-qrcode  ng-isolate-scope" lj-qrcode="https://lacinka.livejournal.com/36290.html" lj-qrcode-width="70" lj-qrcode-height="70"> <canvas width="70" height="70"></canvas></div> <div class="b-singlepost-about"> <dl class=" b-singlepost-author author vcard p-author h-card " ng-non-bindable=""> <dt class=" b-singlepost-author-userpic photo u-photo " lj:user="coipish">  <img src="https://l-userpic.livejournal.com/74177303/8579748" width="100" height="100" align="absmiddle" title="Kojpiš Anton // Койпиш Антон: a" alt="">  </dt> <dd class="b-singlepost-author-userinfo"> <div class="b-singlepost-author-userinfo-screen"> <span class=" b-singlepost-author-user fn p-name "> <span class="b-singlepost-author-user-screen"> Kojpiš Anton // Койпиш Антон (<span class="ljuser  i-ljuser  i-ljuser-type-P     " data-ljuser="coipish" lj:user="coipish"><a href="https://coipish.livejournal.com/profile" target="_self" class="i-ljuser-profile"><img class="i-ljuser-userhead" src="https://l-stat.livejournal.net/img/userinfo_v8.svg?v=17080?v=657"></a><a href="https://coipish.livejournal.com/" class="i-ljuser-username" target="_self"><b>coipish</b></a></span>) wrote in <span class="ljuser  i-ljuser  i-ljuser-type-C     " data-ljuser="lacinka" lj:user="lacinka"><a href="https://lacinka.livejournal.com/profile" target="_self" class="i-ljuser-profile"><img class="i-ljuser-userhead" src="https://l-stat.livejournal.net/img/community.gif?v=556?v=657"></a><a href="https://lacinka.livejournal.com/" class="i-ljuser-username" target="_self"><b>lacinka</b></a></span>, </span> </span> <br> <time class=" b-singlepost-author-date published dt-published "><a href="https://lacinka.livejournal.com/2006/" target="_self">2006</a>-<a href="https://lacinka.livejournal.com/2006/10/" target="_self">10</a>-<a href="https://lacinka.livejournal.com/2006/10/11/" target="_self">11</a> 22:07:00</time>   </div> <div class="b-singlepost-author-userinfo-print"> <span class=" b-singlepost-author-user fn p-name "> Kojpiš Anton // Койпиш Антон<br> <span class="ljuser  i-ljuser  i-ljuser-type-P     " data-ljuser="coipish" lj:user="coipish"><a href="https://coipish.livejournal.com/profile" target="_self" class="i-ljuser-profile"><img class="i-ljuser-userhead" src="https://l-stat.livejournal.net/img/userinfo_v8.svg?v=17080?v=657"></a><a href="https://coipish.livejournal.com/" class="i-ljuser-username" target="_self"><b>coipish</b></a></span>  <br><span class="ljuser  i-ljuser  i-ljuser-type-C     " data-ljuser="lacinka" lj:user="lacinka"><a href="https://lacinka.livejournal.com/profile" target="_self" class="i-ljuser-profile"><img class="i-ljuser-userhead" src="https://l-stat.livejournal.net/img/community.gif?v=556?v=657"></a><a href="https://lacinka.livejournal.com/" class="i-ljuser-username" target="_self"><b>lacinka</b></a></span>  </span> <br> <time class=" b-singlepost-author-date published dt-published "><a href="https://lacinka.livejournal.com/2006/" target="_self">2006</a>-<a href="https://lacinka.livejournal.com/2006/10/" target="_self">10</a>-<a href="https://lacinka.livejournal.com/2006/10/11/" target="_self">11</a> 22:07:00</time> </div> </dd> </dl>  </div>    <div class="b-singlepost-wrapper">  ¤ <ul class="b-linkbar">  <li class="b-linkbar-item"><a href="https://www.livejournal.com/go.bml?journal=lacinka&amp;itemid=36290&amp;dir=prev" rel="nofollow" title="Previous" class="b-controls b-controls-prev" target="_self"><i class="b-controls-bg"></i>Previous</a></li>  <li class="b-linkbar-item ng-scope" lj-share="{ url: 'https://lacinka.livejournal.com/36290.html', title: '', text: '', hashtags: '', alwaysBottom: true }">
                <a href="javascript:void(0);" rel="nofollow" title="Share" class="b-controls b-controls-share js-lj-share" data-hashtags="" data-title="" data-url="https%3A%2F%2Flacinka.livejournal.com%2F36290.html" target="_self">
                    <i class="b-controls-bg"></i>Share
                </a>
            </li>  <li class="b-linkbar-item"><a href="https://www.livejournal.com/tools/content_flag.bml?user=lacinka&amp;itemid=36290" rel="nofollow" title="Flag" class="b-controls b-controls-flag" target="_self"><i class="b-controls-bg"></i>Flag</a></li>  <li class="b-linkbar-item"><a href="https://www.livejournal.com/go.bml?journal=lacinka&amp;itemid=36290&amp;dir=next" rel="nofollow" title="Next" class="b-controls b-controls-next" target="_self"><i class="b-controls-bg"></i>Next</a></li>  </ul> </div>      <div class="b-singlepost-bodywrapper">  <article class="b-singlepost-body entry-content e-content   ng-scope" lj-sale-entry="" lj-discovery-tags="" lj-embed-resizer=""> <p>Vaŭ! <strike>Braty našyja mieńšyja</strike> ukrajincy taksama majuć <a href="http://en.wikipedia.org/wiki/%C5%81atynka" rel="nofollow" target="_self">łatynku</a>! Chto-niebudź tut heta ŭžo viedaŭ?<br></p><a name="cutid1" target="_self"></a><div class="ljcut" text="Łatynka wkrajinśka"><br><table cellpadding="0" border="0"><tbody><tr style="HEIGHT: 30pt"><td style="PADDING-RIGHT: 0.75pt; PADDING-LEFT: 0.75pt; BORDER-LEFT-COLOR: #ece9d8; BORDER-BOTTOM-COLOR: #ece9d8; PADDING-BOTTOM: 0.75pt; WIDTH: 30pt; BORDER-TOP-COLOR: #ece9d8; PADDING-TOP: 0.75pt; HEIGHT: 30pt; BACKGROUND-COLOR: transparent; BORDER-RIGHT-COLOR: #ece9d8" width="40"><div align="center"><span style="FONT-SIZE: 21.5pt">Aa</span></div></td><td style="PADDING-RIGHT: 0.75pt; PADDING-LEFT: 0.75pt; BORDER-LEFT-COLOR: #ece9d8; BORDER-BOTTOM-COLOR: #ece9d8; PADDING-BOTTOM: 0.75pt; WIDTH: 30pt; BORDER-TOP-COLOR: #ece9d8; PADDING-TOP: 0.75pt; HEIGHT: 30pt; BACKGROUND-COLOR: transparent; BORDER-RIGHT-COLOR: #ece9d8" width="40"><div align="center"><span style="FONT-SIZE: 21.5pt">Bb</span></div></td><td style="PADDING-RIGHT: 0.75pt; PADDING-LEFT: 0.75pt; BORDER-LEFT-COLOR: #ece9d8; BORDER-BOTTOM-COLOR: #ece9d8; PADDING-BOTTOM: 0.75pt; WIDTH: 36.95pt; BORDER-TOP-COLOR: #ece9d8; PADDING-TOP: 0.75pt; HEIGHT: 30pt; BACKGROUND-COLOR: transparent; BORDER-RIGHT-COLOR: #ece9d8" width="49"><div align="center"><span style="FONT-SIZE: 21.5pt">Cc</span></div></td><td style="PADDING-RIGHT: 0.75pt; PADDING-LEFT: 0.75pt; BORDER-LEFT-COLOR: #ece9d8; BORDER-BOTTOM-COLOR: #ece9d8; PADDING-BOTTOM: 0.75pt; WIDTH: 40.55pt; BORDER-TOP-COLOR: #ece9d8; PADDING-TOP: 0.75pt; HEIGHT: 30pt; BACKGROUND-COLOR: transparent; BORDER-RIGHT-COLOR: #ece9d8" width="54"><div align="center"><span style="FONT-SIZE: 21.5pt">Ćć</span></div></td><td style="PADDING-RIGHT: 0.75pt; PADDING-LEFT: 0.75pt; BORDER-LEFT-COLOR: #ece9d8; BORDER-BOTTOM-COLOR: #ece9d8; PADDING-BOTTOM: 0.75pt; WIDTH: 44.5pt; BORDER-TOP-COLOR: #ece9d8; PADDING-TOP: 0.75pt; HEIGHT: 30pt; BACKGROUND-COLOR: transparent; BORDER-RIGHT-COLOR: #ece9d8" width="59"><div align="center"><span style="FONT-SIZE: 21.5pt">Czcz</span></div></td><td style="PADDING-RIGHT: 0.75pt; PADDING-LEFT: 0.75pt; BORDER-LEFT-COLOR: #ece9d8; BORDER-BOTTOM-COLOR: #ece9d8; PADDING-BOTTOM: 0.75pt; WIDTH: 40.95pt; BORDER-TOP-COLOR: #ece9d8; PADDING-TOP: 0.75pt; HEIGHT: 30pt; BACKGROUND-COLOR: transparent; BORDER-RIGHT-COLOR: #ece9d8" width="55"><div align="center"><span style="FONT-SIZE: 21.5pt">Dd</span></div></td><td style="PADDING-RIGHT: 0.75pt; PADDING-LEFT: 0.75pt; BORDER-LEFT-COLOR: #ece9d8; BORDER-BOTTOM-COLOR: #ece9d8; PADDING-BOTTOM: 0.75pt; WIDTH: 39.4pt; BORDER-TOP-COLOR: #ece9d8; PADDING-TOP: 0.75pt; HEIGHT: 30pt; BACKGROUND-COLOR: transparent; BORDER-RIGHT-COLOR: #ece9d8" width="53"><div align="center"><span style="FONT-SIZE: 21.5pt">Ďď</span></div></td><td style="PADDING-RIGHT: 0.75pt; PADDING-LEFT: 0.75pt; BORDER-LEFT-COLOR: #ece9d8; BORDER-BOTTOM-COLOR: #ece9d8; PADDING-BOTTOM: 0.75pt; WIDTH: 36.8pt; BORDER-TOP-COLOR: #ece9d8; PADDING-TOP: 0.75pt; HEIGHT: 30pt; BACKGROUND-COLOR: transparent; BORDER-RIGHT-COLOR: #ece9d8" width="49"><div align="center"><span style="FONT-SIZE: 21.5pt">Ee</span></div></td><td style="PADDING-RIGHT: 0.75pt; PADDING-LEFT: 0.75pt; BORDER-LEFT-COLOR: #ece9d8; BORDER-BOTTOM-COLOR: #ece9d8; PADDING-BOTTOM: 0.75pt; WIDTH: 40.55pt; BORDER-TOP-COLOR: #ece9d8; PADDING-TOP: 0.75pt; HEIGHT: 30pt; BACKGROUND-COLOR: transparent; BORDER-RIGHT-COLOR: #ece9d8" width="54"><div align="center"><span style="FONT-SIZE: 21.5pt">Ff</span></div></td><td style="PADDING-RIGHT: 0.75pt; PADDING-LEFT: 0.75pt; BORDER-LEFT-COLOR: #ece9d8; BORDER-BOTTOM-COLOR: #ece9d8; PADDING-BOTTOM: 0.75pt; WIDTH: 37.35pt; BORDER-TOP-COLOR: #ece9d8; PADDING-TOP: 0.75pt; HEIGHT: 30pt; BACKGROUND-COLOR: transparent; BORDER-RIGHT-COLOR: #ece9d8" width="50"><div align="center"><span style="FONT-SIZE: 21.5pt">Gg</span></div></td></tr><tr style="HEIGHT: 30pt"><td style="PADDING-RIGHT: 0.75pt; PADDING-LEFT: 0.75pt; BORDER-LEFT-COLOR: #ece9d8; BORDER-BOTTOM-COLOR: #ece9d8; PADDING-BOTTOM: 0.75pt; WIDTH: 30pt; BORDER-TOP-COLOR: #ece9d8; PADDING-TOP: 0.75pt; HEIGHT: 30pt; BACKGROUND-COLOR: transparent; BORDER-RIGHT-COLOR: #ece9d8" width="40"><div align="center"><span style="FONT-SIZE: 18pt">Aa</span></div></td><td style="PADDING-RIGHT: 0.75pt; PADDING-LEFT: 0.75pt; BORDER-LEFT-COLOR: #ece9d8; BORDER-BOTTOM-COLOR: #ece9d8; PADDING-BOTTOM: 0.75pt; WIDTH: 30pt; BORDER-TOP-COLOR: #ece9d8; PADDING-TOP: 0.75pt; HEIGHT: 30pt; BACKGROUND-COLOR: transparent; BORDER-RIGHT-COLOR: #ece9d8" width="40"><div align="center"><span style="FONT-SIZE: 18pt">Бб</span></div></td><td style="PADDING-RIGHT: 0.75pt; PADDING-LEFT: 0.75pt; BORDER-LEFT-COLOR: #ece9d8; BORDER-BOTTOM-COLOR: #ece9d8; PADDING-BOTTOM: 0.75pt; WIDTH: 36.95pt; BORDER-TOP-COLOR: #ece9d8; PADDING-TOP: 0.75pt; HEIGHT: 30pt; BACKGROUND-COLOR: transparent; BORDER-RIGHT-COLOR: #ece9d8" width="49"><div align="center"><span style="FONT-SIZE: 18pt">Цц</span></div></td><td style="PADDING-RIGHT: 0.75pt; PADDING-LEFT: 0.75pt; BORDER-LEFT-COLOR: #ece9d8; BORDER-BOTTOM-COLOR: #ece9d8; PADDING-BOTTOM: 0.75pt; WIDTH: 40.55pt; BORDER-TOP-COLOR: #ece9d8; PADDING-TOP: 0.75pt; HEIGHT: 30pt; BACKGROUND-COLOR: transparent; BORDER-RIGHT-COLOR: #ece9d8" width="54"><div align="center"><span style="FONT-SIZE: 18pt">Цьць</span></div></td><td style="PADDING-RIGHT: 0.75pt; PADDING-LEFT: 0.75pt; BORDER-LEFT-COLOR: #ece9d8; BORDER-BOTTOM-COLOR: #ece9d8; PADDING-BOTTOM: 0.75pt; WIDTH: 44.5pt; BORDER-TOP-COLOR: #ece9d8; PADDING-TOP: 0.75pt; HEIGHT: 30pt; BACKGROUND-COLOR: transparent; BORDER-RIGHT-COLOR: #ece9d8" width="59"><div align="center"><span style="FONT-SIZE: 18pt">Чч</span></div></td><td style="PADDING-RIGHT: 0.75pt; PADDING-LEFT: 0.75pt; BORDER-LEFT-COLOR: #ece9d8; BORDER-BOTTOM-COLOR: #ece9d8; PADDING-BOTTOM: 0.75pt; WIDTH: 40.95pt; BORDER-TOP-COLOR: #ece9d8; PADDING-TOP: 0.75pt; HEIGHT: 30pt; BACKGROUND-COLOR: transparent; BORDER-RIGHT-COLOR: #ece9d8" width="55"><div align="center"><span style="FONT-SIZE: 18pt">Дд</span></div></td><td style="PADDING-RIGHT: 0.75pt; PADDING-LEFT: 0.75pt; BORDER-LEFT-COLOR: #ece9d8; BORDER-BOTTOM-COLOR: #ece9d8; PADDING-BOTTOM: 0.75pt; WIDTH: 39.4pt; BORDER-TOP-COLOR: #ece9d8; PADDING-TOP: 0.75pt; HEIGHT: 30pt; BACKGROUND-COLOR: transparent; BORDER-RIGHT-COLOR: #ece9d8" width="53"><div align="center"><span style="FONT-SIZE: 18pt">Дьдь</span></div></td><td style="PADDING-RIGHT: 0.75pt; PADDING-LEFT: 0.75pt; BORDER-LEFT-COLOR: #ece9d8; BORDER-BOTTOM-COLOR: #ece9d8; PADDING-BOTTOM: 0.75pt; WIDTH: 36.8pt; BORDER-TOP-COLOR: #ece9d8; PADDING-TOP: 0.75pt; HEIGHT: 30pt; BACKGROUND-COLOR: transparent; BORDER-RIGHT-COLOR: #ece9d8" width="49"><div align="center"><span style="FONT-SIZE: 18pt">Ee</span></div></td><td style="PADDING-RIGHT: 0.75pt; PADDING-LEFT: 0.75pt; BORDER-LEFT-COLOR: #ece9d8; BORDER-BOTTOM-COLOR: #ece9d8; PADDING-BOTTOM: 0.75pt; WIDTH: 40.55pt; BORDER-TOP-COLOR: #ece9d8; PADDING-TOP: 0.75pt; HEIGHT: 30pt; BACKGROUND-COLOR: transparent; BORDER-RIGHT-COLOR: #ece9d8" width="54"><div align="center"><span style="FONT-SIZE: 18pt">Фф</span></div></td><td style="PADDING-RIGHT: 0.75pt; PADDING-LEFT: 0.75pt; BORDER-LEFT-COLOR: #ece9d8; BORDER-BOTTOM-COLOR: #ece9d8; PADDING-BOTTOM: 0.75pt; WIDTH: 37.35pt; BORDER-TOP-COLOR: #ece9d8; PADDING-TOP: 0.75pt; HEIGHT: 30pt; BACKGROUND-COLOR: transparent; BORDER-RIGHT-COLOR: #ece9d8" width="50"><div align="center"><span style="FONT-SIZE: 18pt">Ґґ</span></div></td></tr><tr style="HEIGHT: 30pt"><td style="PADDING-RIGHT: 0.75pt; PADDING-LEFT: 0.75pt; BORDER-LEFT-COLOR: #ece9d8; BORDER-BOTTOM-COLOR: #ece9d8; PADDING-BOTTOM: 0.75pt; WIDTH: 30pt; BORDER-TOP-COLOR: #ece9d8; PADDING-TOP: 0.75pt; HEIGHT: 30pt; BACKGROUND-COLOR: transparent; BORDER-RIGHT-COLOR: #ece9d8" width="40"><div align="center"><span style="FONT-SIZE: 21.5pt">Hh</span></div></td><td style="PADDING-RIGHT: 0.75pt; PADDING-LEFT: 0.75pt; BORDER-LEFT-COLOR: #ece9d8; BORDER-BOTTOM-COLOR: #ece9d8; PADDING-BOTTOM: 0.75pt; WIDTH: 30pt; BORDER-TOP-COLOR: #ece9d8; PADDING-TOP: 0.75pt; HEIGHT: 30pt; BACKGROUND-COLOR: transparent; BORDER-RIGHT-COLOR: #ece9d8" width="40"><div align="center"><span style="FONT-SIZE: 21.5pt">Ii</span></div></td><td style="PADDING-RIGHT: 0.75pt; PADDING-LEFT: 0.75pt; BORDER-LEFT-COLOR: #ece9d8; BORDER-BOTTOM-COLOR: #ece9d8; PADDING-BOTTOM: 0.75pt; WIDTH: 36.95pt; BORDER-TOP-COLOR: #ece9d8; PADDING-TOP: 0.75pt; HEIGHT: 30pt; BACKGROUND-COLOR: transparent; BORDER-RIGHT-COLOR: #ece9d8" width="49"><div align="center"><span style="FONT-SIZE: 21.5pt">Jj</span></div></td><td style="PADDING-RIGHT: 0.75pt; PADDING-LEFT: 0.75pt; BORDER-LEFT-COLOR: #ece9d8; BORDER-BOTTOM-COLOR: #ece9d8; PADDING-BOTTOM: 0.75pt; WIDTH: 40.55pt; BORDER-TOP-COLOR: #ece9d8; PADDING-TOP: 0.75pt; HEIGHT: 30pt; BACKGROUND-COLOR: transparent; BORDER-RIGHT-COLOR: #ece9d8" width="54"><div align="center"><span style="FONT-SIZE: 21.5pt">Kk</span></div></td><td style="PADDING-RIGHT: 0.75pt; PADDING-LEFT: 0.75pt; BORDER-LEFT-COLOR: #ece9d8; BORDER-BOTTOM-COLOR: #ece9d8; PADDING-BOTTOM: 0.75pt; WIDTH: 44.5pt; BORDER-TOP-COLOR: #ece9d8; PADDING-TOP: 0.75pt; HEIGHT: 30pt; BACKGROUND-COLOR: transparent; BORDER-RIGHT-COLOR: #ece9d8" width="59"><div align="center"><span style="FONT-SIZE: 21.5pt">Ll</span></div></td><td style="PADDING-RIGHT: 0.75pt; PADDING-LEFT: 0.75pt; BORDER-LEFT-COLOR: #ece9d8; BORDER-BOTTOM-COLOR: #ece9d8; PADDING-BOTTOM: 0.75pt; WIDTH: 40.95pt; BORDER-TOP-COLOR: #ece9d8; PADDING-TOP: 0.75pt; HEIGHT: 30pt; BACKGROUND-COLOR: transparent; BORDER-RIGHT-COLOR: #ece9d8" width="55"><div align="center"><span style="FONT-SIZE: 21.5pt">Łł</span></div></td><td style="PADDING-RIGHT: 0.75pt; PADDING-LEFT: 0.75pt; BORDER-LEFT-COLOR: #ece9d8; BORDER-BOTTOM-COLOR: #ece9d8; PADDING-BOTTOM: 0.75pt; WIDTH: 39.4pt; BORDER-TOP-COLOR: #ece9d8; PADDING-TOP: 0.75pt; HEIGHT: 30pt; BACKGROUND-COLOR: transparent; BORDER-RIGHT-COLOR: #ece9d8" width="53"><div align="center"><span style="FONT-SIZE: 21.5pt">Mm</span></div></td><td style="PADDING-RIGHT: 0.75pt; PADDING-LEFT: 0.75pt; BORDER-LEFT-COLOR: #ece9d8; BORDER-BOTTOM-COLOR: #ece9d8; PADDING-BOTTOM: 0.75pt; WIDTH: 36.8pt; BORDER-TOP-COLOR: #ece9d8; PADDING-TOP: 0.75pt; HEIGHT: 30pt; BACKGROUND-COLOR: transparent; BORDER-RIGHT-COLOR: #ece9d8" width="49"><div align="center"><span style="FONT-SIZE: 21.5pt">Nn</span></div></td><td style="PADDING-RIGHT: 0.75pt; PADDING-LEFT: 0.75pt; BORDER-LEFT-COLOR: #ece9d8; BORDER-BOTTOM-COLOR: #ece9d8; PADDING-BOTTOM: 0.75pt; WIDTH: 40.55pt; BORDER-TOP-COLOR: #ece9d8; PADDING-TOP: 0.75pt; HEIGHT: 30pt; BACKGROUND-COLOR: transparent; BORDER-RIGHT-COLOR: #ece9d8" width="54"><div align="center"><span style="FONT-SIZE: 21.5pt">Ńń</span></div></td><td style="PADDING-RIGHT: 0.75pt; PADDING-LEFT: 0.75pt; BORDER-LEFT-COLOR: #ece9d8; BORDER-BOTTOM-COLOR: #ece9d8; PADDING-BOTTOM: 0.75pt; WIDTH: 37.35pt; BORDER-TOP-COLOR: #ece9d8; PADDING-TOP: 0.75pt; HEIGHT: 30pt; BACKGROUND-COLOR: transparent; BORDER-RIGHT-COLOR: #ece9d8" width="50"><div align="center"><span style="FONT-SIZE: 21.5pt">Oo</span></div></td></tr><tr style="HEIGHT: 30pt"><td style="PADDING-RIGHT: 0.75pt; PADDING-LEFT: 0.75pt; BORDER-LEFT-COLOR: #ece9d8; BORDER-BOTTOM-COLOR: #ece9d8; PADDING-BOTTOM: 0.75pt; WIDTH: 30pt; BORDER-TOP-COLOR: #ece9d8; PADDING-TOP: 0.75pt; HEIGHT: 30pt; BACKGROUND-COLOR: transparent; BORDER-RIGHT-COLOR: #ece9d8" width="40"><div align="center"><span style="FONT-SIZE: 18pt">Гг</span></div></td><td style="PADDING-RIGHT: 0.75pt; PADDING-LEFT: 0.75pt; BORDER-LEFT-COLOR: #ece9d8; BORDER-BOTTOM-COLOR: #ece9d8; PADDING-BOTTOM: 0.75pt; WIDTH: 30pt; BORDER-TOP-COLOR: #ece9d8; PADDING-TOP: 0.75pt; HEIGHT: 30pt; BACKGROUND-COLOR: transparent; BORDER-RIGHT-COLOR: #ece9d8" width="40"><div align="center"><span style="FONT-SIZE: 18pt">Ii</span></div></td><td style="PADDING-RIGHT: 0.75pt; PADDING-LEFT: 0.75pt; BORDER-LEFT-COLOR: #ece9d8; BORDER-BOTTOM-COLOR: #ece9d8; PADDING-BOTTOM: 0.75pt; WIDTH: 36.95pt; BORDER-TOP-COLOR: #ece9d8; PADDING-TOP: 0.75pt; HEIGHT: 30pt; BACKGROUND-COLOR: transparent; BORDER-RIGHT-COLOR: #ece9d8" width="49"><div align="center"><span style="FONT-SIZE: 18pt">Йй</span></div></td><td style="PADDING-RIGHT: 0.75pt; PADDING-LEFT: 0.75pt; BORDER-LEFT-COLOR: #ece9d8; BORDER-BOTTOM-COLOR: #ece9d8; PADDING-BOTTOM: 0.75pt; WIDTH: 40.55pt; BORDER-TOP-COLOR: #ece9d8; PADDING-TOP: 0.75pt; HEIGHT: 30pt; BACKGROUND-COLOR: transparent; BORDER-RIGHT-COLOR: #ece9d8" width="54"><div align="center"><span style="FONT-SIZE: 18pt">Кк</span></div></td><td style="PADDING-RIGHT: 0.75pt; PADDING-LEFT: 0.75pt; BORDER-LEFT-COLOR: #ece9d8; BORDER-BOTTOM-COLOR: #ece9d8; PADDING-BOTTOM: 0.75pt; WIDTH: 44.5pt; BORDER-TOP-COLOR: #ece9d8; PADDING-TOP: 0.75pt; HEIGHT: 30pt; BACKGROUND-COLOR: transparent; BORDER-RIGHT-COLOR: #ece9d8" width="59"><div align="center"><span style="FONT-SIZE: 18pt">Льль</span></div></td><td style="PADDING-RIGHT: 0.75pt; PADDING-LEFT: 0.75pt; BORDER-LEFT-COLOR: #ece9d8; BORDER-BOTTOM-COLOR: #ece9d8; PADDING-BOTTOM: 0.75pt; WIDTH: 40.95pt; BORDER-TOP-COLOR: #ece9d8; PADDING-TOP: 0.75pt; HEIGHT: 30pt; BACKGROUND-COLOR: transparent; BORDER-RIGHT-COLOR: #ece9d8" width="55"><div align="center"><span style="FONT-SIZE: 18pt">Лл</span></div></td><td style="PADDING-RIGHT: 0.75pt; PADDING-LEFT: 0.75pt; BORDER-LEFT-COLOR: #ece9d8; BORDER-BOTTOM-COLOR: #ece9d8; PADDING-BOTTOM: 0.75pt; WIDTH: 39.4pt; BORDER-TOP-COLOR: #ece9d8; PADDING-TOP: 0.75pt; HEIGHT: 30pt; BACKGROUND-COLOR: transparent; BORDER-RIGHT-COLOR: #ece9d8" width="53"><div align="center"><span style="FONT-SIZE: 18pt">Мм</span></div></td><td style="PADDING-RIGHT: 0.75pt; PADDING-LEFT: 0.75pt; BORDER-LEFT-COLOR: #ece9d8; BORDER-BOTTOM-COLOR: #ece9d8; PADDING-BOTTOM: 0.75pt; WIDTH: 36.8pt; BORDER-TOP-COLOR: #ece9d8; PADDING-TOP: 0.75pt; HEIGHT: 30pt; BACKGROUND-COLOR: transparent; BORDER-RIGHT-COLOR: #ece9d8" width="49"><div align="center"><span style="FONT-SIZE: 18pt">Нн</span></div></td><td style="PADDING-RIGHT: 0.75pt; PADDING-LEFT: 0.75pt; BORDER-LEFT-COLOR: #ece9d8; BORDER-BOTTOM-COLOR: #ece9d8; PADDING-BOTTOM: 0.75pt; WIDTH: 40.55pt; BORDER-TOP-COLOR: #ece9d8; PADDING-TOP: 0.75pt; HEIGHT: 30pt; BACKGROUND-COLOR: transparent; BORDER-RIGHT-COLOR: #ece9d8" width="54"><div align="center"><span style="FONT-SIZE: 18pt">Ньнь</span></div></td><td style="PADDING-RIGHT: 0.75pt; PADDING-LEFT: 0.75pt; BORDER-LEFT-COLOR: #ece9d8; BORDER-BOTTOM-COLOR: #ece9d8; PADDING-BOTTOM: 0.75pt; WIDTH: 37.35pt; BORDER-TOP-COLOR: #ece9d8; PADDING-TOP: 0.75pt; HEIGHT: 30pt; BACKGROUND-COLOR: transparent; BORDER-RIGHT-COLOR: #ece9d8" width="50"><div align="center"><span style="FONT-SIZE: 18pt">Oo</span></div></td></tr><tr style="HEIGHT: 30pt"><td style="PADDING-RIGHT: 0.75pt; PADDING-LEFT: 0.75pt; BORDER-LEFT-COLOR: #ece9d8; BORDER-BOTTOM-COLOR: #ece9d8; PADDING-BOTTOM: 0.75pt; WIDTH: 30pt; BORDER-TOP-COLOR: #ece9d8; PADDING-TOP: 0.75pt; HEIGHT: 30pt; BACKGROUND-COLOR: transparent; BORDER-RIGHT-COLOR: #ece9d8" width="40"><div align="center"><span style="FONT-SIZE: 21.5pt">Pp</span></div></td><td style="PADDING-RIGHT: 0.75pt; PADDING-LEFT: 0.75pt; BORDER-LEFT-COLOR: #ece9d8; BORDER-BOTTOM-COLOR: #ece9d8; PADDING-BOTTOM: 0.75pt; WIDTH: 30pt; BORDER-TOP-COLOR: #ece9d8; PADDING-TOP: 0.75pt; HEIGHT: 30pt; BACKGROUND-COLOR: transparent; BORDER-RIGHT-COLOR: #ece9d8" width="40"><div align="center"><span style="FONT-SIZE: 21.5pt">Rr</span></div></td><td style="PADDING-RIGHT: 0.75pt; PADDING-LEFT: 0.75pt; BORDER-LEFT-COLOR: #ece9d8; BORDER-BOTTOM-COLOR: #ece9d8; PADDING-BOTTOM: 0.75pt; WIDTH: 36.95pt; BORDER-TOP-COLOR: #ece9d8; PADDING-TOP: 0.75pt; HEIGHT: 30pt; BACKGROUND-COLOR: transparent; BORDER-RIGHT-COLOR: #ece9d8" width="49"><div align="center"><span style="FONT-SIZE: 21.5pt">Ŕŕ</span></div></td><td style="PADDING-RIGHT: 0.75pt; PADDING-LEFT: 0.75pt; BORDER-LEFT-COLOR: #ece9d8; BORDER-BOTTOM-COLOR: #ece9d8; PADDING-BOTTOM: 0.75pt; WIDTH: 40.55pt; BORDER-TOP-COLOR: #ece9d8; PADDING-TOP: 0.75pt; HEIGHT: 30pt; BACKGROUND-COLOR: transparent; BORDER-RIGHT-COLOR: #ece9d8" width="54"><div align="center"><span style="FONT-SIZE: 21.5pt">Ss</span></div></td><td style="PADDING-RIGHT: 0.75pt; PADDING-LEFT: 0.75pt; BORDER-LEFT-COLOR: #ece9d8; BORDER-BOTTOM-COLOR: #ece9d8; PADDING-BOTTOM: 0.75pt; WIDTH: 44.5pt; BORDER-TOP-COLOR: #ece9d8; PADDING-TOP: 0.75pt; HEIGHT: 30pt; BACKGROUND-COLOR: transparent; BORDER-RIGHT-COLOR: #ece9d8" width="59"><div align="center"><span style="FONT-SIZE: 21.5pt">Śś</span></div></td><td style="PADDING-RIGHT: 0.75pt; PADDING-LEFT: 0.75pt; BORDER-LEFT-COLOR: #ece9d8; BORDER-BOTTOM-COLOR: #ece9d8; PADDING-BOTTOM: 0.75pt; WIDTH: 40.95pt; BORDER-TOP-COLOR: #ece9d8; PADDING-TOP: 0.75pt; HEIGHT: 30pt; BACKGROUND-COLOR: transparent; BORDER-RIGHT-COLOR: #ece9d8" width="55"><div align="center"><span style="FONT-SIZE: 21.5pt">Szsz</span></div></td><td style="PADDING-RIGHT: 0.75pt; PADDING-LEFT: 0.75pt; BORDER-LEFT-COLOR: #ece9d8; BORDER-BOTTOM-COLOR: #ece9d8; PADDING-BOTTOM: 0.75pt; WIDTH: 39.4pt; BORDER-TOP-COLOR: #ece9d8; PADDING-TOP: 0.75pt; HEIGHT: 30pt; BACKGROUND-COLOR: transparent; BORDER-RIGHT-COLOR: #ece9d8" width="53"><div align="center"><span style="FONT-SIZE: 21.5pt">Tt</span></div></td><td style="PADDING-RIGHT: 0.75pt; PADDING-LEFT: 0.75pt; BORDER-LEFT-COLOR: #ece9d8; BORDER-BOTTOM-COLOR: #ece9d8; PADDING-BOTTOM: 0.75pt; WIDTH: 36.8pt; BORDER-TOP-COLOR: #ece9d8; PADDING-TOP: 0.75pt; HEIGHT: 30pt; BACKGROUND-COLOR: transparent; BORDER-RIGHT-COLOR: #ece9d8" width="49"><div align="center"><span style="FONT-SIZE: 21.5pt">Ťť</span></div></td><td style="PADDING-RIGHT: 0.75pt; PADDING-LEFT: 0.75pt; BORDER-LEFT-COLOR: #ece9d8; BORDER-BOTTOM-COLOR: #ece9d8; PADDING-BOTTOM: 0.75pt; WIDTH: 40.55pt; BORDER-TOP-COLOR: #ece9d8; PADDING-TOP: 0.75pt; HEIGHT: 30pt; BACKGROUND-COLOR: transparent; BORDER-RIGHT-COLOR: #ece9d8" width="54"><div align="center"><span style="FONT-SIZE: 21.5pt">Uu</span></div></td><td style="PADDING-RIGHT: 0.75pt; PADDING-LEFT: 0.75pt; BORDER-LEFT-COLOR: #ece9d8; BORDER-BOTTOM-COLOR: #ece9d8; PADDING-BOTTOM: 0.75pt; WIDTH: 37.35pt; BORDER-TOP-COLOR: #ece9d8; PADDING-TOP: 0.75pt; HEIGHT: 30pt; BACKGROUND-COLOR: transparent; BORDER-RIGHT-COLOR: #ece9d8" width="50"><div align="center"><span style="FONT-SIZE: 21.5pt">Ww</span></div></td></tr><tr style="HEIGHT: 30pt"><td style="PADDING-RIGHT: 0.75pt; PADDING-LEFT: 0.75pt; BORDER-LEFT-COLOR: #ece9d8; BORDER-BOTTOM-COLOR: #ece9d8; PADDING-BOTTOM: 0.75pt; WIDTH: 30pt; BORDER-TOP-COLOR: #ece9d8; PADDING-TOP: 0.75pt; HEIGHT: 30pt; BACKGROUND-COLOR: transparent; BORDER-RIGHT-COLOR: #ece9d8" width="40"><div align="center"><span style="FONT-SIZE: 18pt">Пп</span></div></td><td style="PADDING-RIGHT: 0.75pt; PADDING-LEFT: 0.75pt; BORDER-LEFT-COLOR: #ece9d8; BORDER-BOTTOM-COLOR: #ece9d8; PADDING-BOTTOM: 0.75pt; WIDTH: 30pt; BORDER-TOP-COLOR: #ece9d8; PADDING-TOP: 0.75pt; HEIGHT: 30pt; BACKGROUND-COLOR: transparent; BORDER-RIGHT-COLOR: #ece9d8" width="40"><div align="center"><span style="FONT-SIZE: 18pt">Рр</span></div></td><td style="PADDING-RIGHT: 0.75pt; PADDING-LEFT: 0.75pt; BORDER-LEFT-COLOR: #ece9d8; BORDER-BOTTOM-COLOR: #ece9d8; PADDING-BOTTOM: 0.75pt; WIDTH: 36.95pt; BORDER-TOP-COLOR: #ece9d8; PADDING-TOP: 0.75pt; HEIGHT: 30pt; BACKGROUND-COLOR: transparent; BORDER-RIGHT-COLOR: #ece9d8" width="49"><div align="center"><span style="FONT-SIZE: 18pt">Рьрь</span></div></td><td style="PADDING-RIGHT: 0.75pt; PADDING-LEFT: 0.75pt; BORDER-LEFT-COLOR: #ece9d8; BORDER-BOTTOM-COLOR: #ece9d8; PADDING-BOTTOM: 0.75pt; WIDTH: 40.55pt; BORDER-TOP-COLOR: #ece9d8; PADDING-TOP: 0.75pt; HEIGHT: 30pt; BACKGROUND-COLOR: transparent; BORDER-RIGHT-COLOR: #ece9d8" width="54"><div align="center"><span style="FONT-SIZE: 18pt">Сс</span></div></td><td style="PADDING-RIGHT: 0.75pt; PADDING-LEFT: 0.75pt; BORDER-LEFT-COLOR: #ece9d8; BORDER-BOTTOM-COLOR: #ece9d8; PADDING-BOTTOM: 0.75pt; WIDTH: 44.5pt; BORDER-TOP-COLOR: #ece9d8; PADDING-TOP: 0.75pt; HEIGHT: 30pt; BACKGROUND-COLOR: transparent; BORDER-RIGHT-COLOR: #ece9d8" width="59"><div align="center"><span style="FONT-SIZE: 18pt">Сьсь</span></div></td><td style="PADDING-RIGHT: 0.75pt; PADDING-LEFT: 0.75pt; BORDER-LEFT-COLOR: #ece9d8; BORDER-BOTTOM-COLOR: #ece9d8; PADDING-BOTTOM: 0.75pt; WIDTH: 40.95pt; BORDER-TOP-COLOR: #ece9d8; PADDING-TOP: 0.75pt; HEIGHT: 30pt; BACKGROUND-COLOR: transparent; BORDER-RIGHT-COLOR: #ece9d8" width="55"><div align="center"><span style="FONT-SIZE: 18pt">Шш</span></div></td><td style="PADDING-RIGHT: 0.75pt; PADDING-LEFT: 0.75pt; BORDER-LEFT-COLOR: #ece9d8; BORDER-BOTTOM-COLOR: #ece9d8; PADDING-BOTTOM: 0.75pt; WIDTH: 39.4pt; BORDER-TOP-COLOR: #ece9d8; PADDING-TOP: 0.75pt; HEIGHT: 30pt; BACKGROUND-COLOR: transparent; BORDER-RIGHT-COLOR: #ece9d8" width="53"><div align="center"><span style="FONT-SIZE: 18pt">Тт</span></div></td><td style="PADDING-RIGHT: 0.75pt; PADDING-LEFT: 0.75pt; BORDER-LEFT-COLOR: #ece9d8; BORDER-BOTTOM-COLOR: #ece9d8; PADDING-BOTTOM: 0.75pt; WIDTH: 36.8pt; BORDER-TOP-COLOR: #ece9d8; PADDING-TOP: 0.75pt; HEIGHT: 30pt; BACKGROUND-COLOR: transparent; BORDER-RIGHT-COLOR: #ece9d8" width="49"><div align="center"><span style="FONT-SIZE: 18pt">Тьть</span></div></td><td style="PADDING-RIGHT: 0.75pt; PADDING-LEFT: 0.75pt; BORDER-LEFT-COLOR: #ece9d8; BORDER-BOTTOM-COLOR: #ece9d8; PADDING-BOTTOM: 0.75pt; WIDTH: 40.55pt; BORDER-TOP-COLOR: #ece9d8; PADDING-TOP: 0.75pt; HEIGHT: 30pt; BACKGROUND-COLOR: transparent; BORDER-RIGHT-COLOR: #ece9d8" width="54"><div align="center"><span style="FONT-SIZE: 18pt">Уу</span></div></td><td style="PADDING-RIGHT: 0.75pt; PADDING-LEFT: 0.75pt; BORDER-LEFT-COLOR: #ece9d8; BORDER-BOTTOM-COLOR: #ece9d8; PADDING-BOTTOM: 0.75pt; WIDTH: 37.35pt; BORDER-TOP-COLOR: #ece9d8; PADDING-TOP: 0.75pt; HEIGHT: 30pt; BACKGROUND-COLOR: transparent; BORDER-RIGHT-COLOR: #ece9d8" width="50"><div align="center"><span style="FONT-SIZE: 18pt">Вв</span></div></td></tr><tr style="HEIGHT: 30pt"><td style="PADDING-RIGHT: 0.75pt; PADDING-LEFT: 0.75pt; BORDER-LEFT-COLOR: #ece9d8; BORDER-BOTTOM-COLOR: #ece9d8; PADDING-BOTTOM: 0.75pt; WIDTH: 30pt; BORDER-TOP-COLOR: #ece9d8; PADDING-TOP: 0.75pt; HEIGHT: 30pt; BACKGROUND-COLOR: transparent; BORDER-RIGHT-COLOR: #ece9d8" width="40"><div align="center"><span style="FONT-SIZE: 21.5pt">Yy</span></div></td><td style="PADDING-RIGHT: 0.75pt; PADDING-LEFT: 0.75pt; BORDER-LEFT-COLOR: #ece9d8; BORDER-BOTTOM-COLOR: #ece9d8; PADDING-BOTTOM: 0.75pt; WIDTH: 30pt; BORDER-TOP-COLOR: #ece9d8; PADDING-TOP: 0.75pt; HEIGHT: 30pt; BACKGROUND-COLOR: transparent; BORDER-RIGHT-COLOR: #ece9d8" width="40"><div align="center"><span style="FONT-SIZE: 21.5pt">Zz</span></div></td><td style="PADDING-RIGHT: 0.75pt; PADDING-LEFT: 0.75pt; BORDER-LEFT-COLOR: #ece9d8; BORDER-BOTTOM-COLOR: #ece9d8; PADDING-BOTTOM: 0.75pt; WIDTH: 36.95pt; BORDER-TOP-COLOR: #ece9d8; PADDING-TOP: 0.75pt; HEIGHT: 30pt; BACKGROUND-COLOR: transparent; BORDER-RIGHT-COLOR: #ece9d8" width="49"><div align="center"><span style="FONT-SIZE: 21.5pt">Źź</span></div></td><td style="PADDING-RIGHT: 0.75pt; PADDING-LEFT: 0.75pt; BORDER-LEFT-COLOR: #ece9d8; BORDER-BOTTOM-COLOR: #ece9d8; PADDING-BOTTOM: 0.75pt; WIDTH: 40.55pt; BORDER-TOP-COLOR: #ece9d8; PADDING-TOP: 0.75pt; HEIGHT: 30pt; BACKGROUND-COLOR: transparent; BORDER-RIGHT-COLOR: #ece9d8" width="54"><div align="center"><span style="FONT-SIZE: 21.5pt">Žž</span></div></td><td style="PADDING-RIGHT: 0.75pt; PADDING-LEFT: 0.75pt; BORDER-LEFT-COLOR: #ece9d8; BORDER-BOTTOM-COLOR: #ece9d8; PADDING-BOTTOM: 0.75pt; BORDER-TOP-COLOR: #ece9d8; PADDING-TOP: 0.75pt; HEIGHT: 30pt; BACKGROUND-COLOR: transparent; BORDER-RIGHT-COLOR: #ece9d8"><div>&nbsp;</div></td><td style="PADDING-RIGHT: 0.75pt; PADDING-LEFT: 0.75pt; BORDER-LEFT-COLOR: #ece9d8; BORDER-BOTTOM-COLOR: #ece9d8; PADDING-BOTTOM: 0.75pt; BORDER-TOP-COLOR: #ece9d8; PADDING-TOP: 0.75pt; HEIGHT: 30pt; BACKGROUND-COLOR: transparent; BORDER-RIGHT-COLOR: #ece9d8"><div>&nbsp;</div></td><td style="PADDING-RIGHT: 0.75pt; PADDING-LEFT: 0.75pt; BORDER-LEFT-COLOR: #ece9d8; BORDER-BOTTOM-COLOR: #ece9d8; PADDING-BOTTOM: 0.75pt; BORDER-TOP-COLOR: #ece9d8; PADDING-TOP: 0.75pt; HEIGHT: 30pt; BACKGROUND-COLOR: transparent; BORDER-RIGHT-COLOR: #ece9d8"><div>&nbsp;</div></td><td style="PADDING-RIGHT: 0.75pt; PADDING-LEFT: 0.75pt; BORDER-LEFT-COLOR: #ece9d8; BORDER-BOTTOM-COLOR: #ece9d8; PADDING-BOTTOM: 0.75pt; BORDER-TOP-COLOR: #ece9d8; PADDING-TOP: 0.75pt; HEIGHT: 30pt; BACKGROUND-COLOR: transparent; BORDER-RIGHT-COLOR: #ece9d8"><div>&nbsp;</div></td><td style="PADDING-RIGHT: 0.75pt; PADDING-LEFT: 0.75pt; BORDER-LEFT-COLOR: #ece9d8; BORDER-BOTTOM-COLOR: #ece9d8; PADDING-BOTTOM: 0.75pt; BORDER-TOP-COLOR: #ece9d8; PADDING-TOP: 0.75pt; HEIGHT: 30pt; BACKGROUND-COLOR: transparent; BORDER-RIGHT-COLOR: #ece9d8"><div>&nbsp;</div></td><td style="PADDING-RIGHT: 0.75pt; PADDING-LEFT: 0.75pt; BORDER-LEFT-COLOR: #ece9d8; BORDER-BOTTOM-COLOR: #ece9d8; PADDING-BOTTOM: 0.75pt; BORDER-TOP-COLOR: #ece9d8; PADDING-TOP: 0.75pt; HEIGHT: 30pt; BACKGROUND-COLOR: transparent; BORDER-RIGHT-COLOR: #ece9d8"><div>&nbsp;</div></td></tr><tr style="HEIGHT: 30pt"><td style="PADDING-RIGHT: 0.75pt; PADDING-LEFT: 0.75pt; BORDER-LEFT-COLOR: #ece9d8; BORDER-BOTTOM-COLOR: #ece9d8; PADDING-BOTTOM: 0.75pt; WIDTH: 30pt; BORDER-TOP-COLOR: #ece9d8; PADDING-TOP: 0.75pt; HEIGHT: 30pt; BACKGROUND-COLOR: transparent; BORDER-RIGHT-COLOR: #ece9d8" width="40"><div align="center"><span style="FONT-SIZE: 18pt">Ии</span></div></td><td style="PADDING-RIGHT: 0.75pt; PADDING-LEFT: 0.75pt; BORDER-LEFT-COLOR: #ece9d8; BORDER-BOTTOM-COLOR: #ece9d8; PADDING-BOTTOM: 0.75pt; WIDTH: 30pt; BORDER-TOP-COLOR: #ece9d8; PADDING-TOP: 0.75pt; HEIGHT: 30pt; BACKGROUND-COLOR: transparent; BORDER-RIGHT-COLOR: #ece9d8" width="40"><div align="center"><span style="FONT-SIZE: 18pt">Зз</span></div></td><td style="PADDING-RIGHT: 0.75pt; PADDING-LEFT: 0.75pt; BORDER-LEFT-COLOR: #ece9d8; BORDER-BOTTOM-COLOR: #ece9d8; PADDING-BOTTOM: 0.75pt; WIDTH: 36.95pt; BORDER-TOP-COLOR: #ece9d8; PADDING-TOP: 0.75pt; HEIGHT: 30pt; BACKGROUND-COLOR: transparent; BORDER-RIGHT-COLOR: #ece9d8" width="49"><div align="center"><span style="FONT-SIZE: 18pt">Зьзь</span></div></td><td style="PADDING-RIGHT: 0.75pt; PADDING-LEFT: 0.75pt; BORDER-LEFT-COLOR: #ece9d8; BORDER-BOTTOM-COLOR: #ece9d8; PADDING-BOTTOM: 0.75pt; WIDTH: 40.55pt; BORDER-TOP-COLOR: #ece9d8; PADDING-TOP: 0.75pt; HEIGHT: 30pt; BACKGROUND-COLOR: transparent; BORDER-RIGHT-COLOR: #ece9d8" width="54"><div align="center"><span style="FONT-SIZE: 18pt">Жж</span></div></td><td style="PADDING-RIGHT: 0.75pt; PADDING-LEFT: 0.75pt; BORDER-LEFT-COLOR: #ece9d8; BORDER-BOTTOM-COLOR: #ece9d8; PADDING-BOTTOM: 0.75pt; BORDER-TOP-COLOR: #ece9d8; PADDING-TOP: 0.75pt; HEIGHT: 30pt; BACKGROUND-COLOR: transparent; BORDER-RIGHT-COLOR: #ece9d8"><div>&nbsp;</div></td></tr></tbody></table><br></div>  </article>   </div>    </div> <div class="b-singlepost-video-wrap"> <div data-autoplay-dockable-video-mount=""></div> </div>
<div id="comments" class="b-grove" data-authtoken="c0:1682874000:267:86400:xulKsHLO1T-0-:a9d395e3aaf87d09aad77191aa51e6bc"> <div class=" b-xylem  b-xylem-first  "> <ul class="b-xylem-cells">  <li class=" b-xylem-cell b-xylem-cell-amount ">   <span class="js-amount">  5 comments  </span>   </li>  </ul>  </div> <div class=" b-massaction-top ">  </div>    <div class=" b-tree b-tree-best ">  </div> <div class=" b-tree b-tree-promo " data-currentprice="">  </div>  <div class=" b-tree b-tree-root svgpreloader svgpreloader-pseudo svgpreloader-30 "><div class=" b-tree-twig  b-tree-twig-1 b-tree-twig-deep-0  " style="margin-left: 0px" data-tid="t201666">    <div id="t201666" class=" b-leaf            b-leaf-full   comment p-comment " data-username="nicolaev" data-displayname="nicolaev" data-updated-ts="1160630193" data-full="1"> <div class=" b-leaf-inner svgpreloader svgpreloader-pseudo svgpreloader-16 "> <div class="b-leaf-header"> <div class="b-leaf-userpic"> <a href="https://nicolaev.livejournal.com/" target="_blank" class="b-leaf-userpic-inner" lj:user="nicolaev">   <img src="https://l-userpic.livejournal.com/117371542/7772678" alt="nicolaev" loading="lazy" title="Andrej Ludwik Mikałajeŭ OPs (Wojsza): AndReika Tibet Belarus Bielarus">  </a> </div> <div class="b-leaf-details">   <p class="b-leaf-username"><span class="b-leaf-username-name"><span class="ljuser  i-ljuser  i-ljuser-type-P     " data-ljuser="nicolaev" lj:user="nicolaev"><a href="https://nicolaev.livejournal.com/profile" class="i-ljuser-profile" target="_self"><img class="i-ljuser-userhead" src="https://l-stat.livejournal.net/img/userinfo_v8.svg?v=17080?v=657"></a><a href="https://nicolaev.livejournal.com/" class="i-ljuser-username" target="_self"><b>nicolaev</b></a></span> </span>  </p> <p class="b-leaf-meta">  <a href="https://lacinka.livejournal.com/36290.html?thread=201666#t201666" class="b-leaf-permalink" target="_self"> <span class="b-leaf-createdtime">October 12 2006, 05:16:33 UTC</span> </a>   <span class="b-leaf-shorttime">16 years ago</span>   </p>   </ul>        </div> </div>  <div class="b-leaf-article"> Сучасная беларуская лацінка падаецца мне больш удасканаленай. Прыкладам, не зразумела, чаму мяккасьць зычных азначаецца то "націскам", то "галачкай", то ўвогуле і тым, і тым. А ў выпадку з "Ж" галачка ўвогуле азначае не мяккасьць, а іншы гук. </div>   </div> </div>    </div><div class=" b-tree-twig  b-tree-twig-2 b-tree-twig-deep-0  " style="margin-left: 30px" data-tid="t201922">    <div id="t201922" class=" b-leaf        b-leaf-poster      b-leaf-full   comment p-comment " data-username="coipish" data-displayname="coipish" data-updated-ts="1160631669" data-full="1"> <div class=" b-leaf-inner svgpreloader svgpreloader-pseudo svgpreloader-16 "> <div class="b-leaf-header"> <div class="b-leaf-userpic"> <a href="https://coipish.livejournal.com/" target="_blank" class="b-leaf-userpic-inner" lj:user="coipish">   <img src="https://l-userpic.livejournal.com/74177303/8579748" alt="coipish" loading="lazy" title="Kojpiš Anton // Койпиш Антон: a">  </a> </div> <div class="b-leaf-details">   <p class="b-leaf-username"><span class="b-leaf-username-name"><span class="ljuser  i-ljuser  i-ljuser-type-P     " data-ljuser="coipish" lj:user="coipish"><a href="https://coipish.livejournal.com/profile" class="i-ljuser-profile" target="_self"><img class="i-ljuser-userhead" src="https://l-stat.livejournal.net/img/userinfo_v8.svg?v=17080?v=657"></a><a href="https://coipish.livejournal.com/" class="i-ljuser-username" target="_self"><b>coipish</b></a></span> </span>  </p> <p class="b-leaf-meta">  <a href="https://lacinka.livejournal.com/36290.html?thread=201922#t201922" class="b-leaf-permalink" target="_self"> <span class="b-leaf-createdtime">October 12 2006, 05:41:09 UTC</span> </a>   <span class="b-leaf-shorttime">16 years ago</span>   </p>   </ul>        </div> </div>  <div class="b-leaf-article"> Ťť, Ďď chutčej za ŭsio z českaj uziali. Tam taksama takija ž litary jość... Ale ja tabie bolš skažu: nia viedaju, jak u łatynkie, ale ŭ jichniaj kiryłkie, u adroźnieńni ad biełaruskaj, miakki znak moža być amal paśla luboj zyčnaj. Vierahodna, jany paznačajuć miakkaść paśla astatnich litar jašče j zvyčajnym apastrofam. </div>   </div> </div>    </div><div class=" b-tree-twig  b-tree-twig-1 b-tree-twig-deep-0  " style="margin-left: 0px" data-tid="t202178">    <div id="t202178" class=" b-leaf            b-leaf-full   comment p-comment " data-username="macie3k" data-displayname="macie3k" data-updated-ts="1160638253" data-full="1"> <div class=" b-leaf-inner svgpreloader svgpreloader-pseudo svgpreloader-16 "> <div class="b-leaf-header"> <div class="b-leaf-userpic"> <a href="https://macie3k.livejournal.com/" target="_blank" class="b-leaf-userpic-inner" lj:user="macie3k">   <img src="https://l-userpic.livejournal.com/106865239/8866674" alt="macie3k" loading="lazy" title="macie3k: pic#106865239">  </a> </div> <div class="b-leaf-details">   <p class="b-leaf-username"><span class="b-leaf-username-name"><span class="ljuser  i-ljuser  i-ljuser-type-P     " data-ljuser="macie3k" lj:user="macie3k"><a href="https://macie3k.livejournal.com/profile" class="i-ljuser-profile" target="_self"><img class="i-ljuser-userhead" src="https://l-stat.livejournal.net/img/userinfo_v8.svg?v=17080?v=657"></a><a href="https://macie3k.livejournal.com/" class="i-ljuser-username" target="_self"><b>macie3k</b></a></span> </span>  </p> <p class="b-leaf-meta">  <a href="https://lacinka.livejournal.com/36290.html?thread=202178#t202178" class="b-leaf-permalink" target="_self"> <span class="b-leaf-createdtime">October 12 2006, 07:30:53 UTC</span> </a>   <span class="b-leaf-shorttime">16 years ago</span>   </p>   </ul>        </div> </div>  <div class="b-leaf-article"> Я нават дзесьці зпайшоў <i>Український Правопис</i> лацінкаю, але крыху іншаю. </div>   </div> </div>    </div><div class=" b-tree-twig  b-tree-twig-1 b-tree-twig-deep-0  " style="margin-left: 0px" data-tid="t209602">    <div id="t209602" class=" b-leaf            b-leaf-full   comment p-comment " data-username="dunaj" data-displayname="dunaj" data-updated-ts="1162139829" data-full="1"> <div class=" b-leaf-inner svgpreloader svgpreloader-pseudo svgpreloader-16 "> <div class="b-leaf-header"> <div class="b-leaf-userpic"> <a href="https://dunaj.livejournal.com/" target="_blank" class="b-leaf-userpic-inner" lj:user="dunaj">   <img src="https://l-userpic.livejournal.com/60940800/10057959" alt="dunaj" loading="lazy" title="Paŭluk: sfakusujsia">  </a> </div> <div class="b-leaf-details">   <p class="b-leaf-username"><span class="b-leaf-username-name"><span class="ljuser  i-ljuser  i-ljuser-type-P     " data-ljuser="dunaj" lj:user="dunaj"><a href="https://dunaj.livejournal.com/profile" class="i-ljuser-profile" target="_self"><img class="i-ljuser-userhead" src="https://l-stat.livejournal.net/img/userinfo_v8.svg?v=17080?v=657"></a><a href="https://dunaj.livejournal.com/" class="i-ljuser-username" target="_self"><b>dunaj</b></a></span> </span>  </p> <p class="b-leaf-meta">  <a href="https://lacinka.livejournal.com/36290.html?thread=209602#t209602" class="b-leaf-permalink" target="_self"> <span class="b-leaf-createdtime">October 29 2006, 16:37:09 UTC</span> </a>   <span class="b-leaf-shorttime">16 years ago</span>   </p>   </ul>        </div> </div>  <div class="b-leaf-article"> a Щ dzie, :-\ </div>   </div> </div>    </div><div class=" b-tree-twig  b-tree-twig-2 b-tree-twig-deep-0  " style="margin-left: 30px" data-tid="t209858">    <div id="t209858" class=" b-leaf        b-leaf-poster      b-leaf-full   comment p-comment " data-username="coipish" data-displayname="coipish" data-updated-ts="1162142730" data-full="1"> <div class=" b-leaf-inner svgpreloader svgpreloader-pseudo svgpreloader-16 "> <div class="b-leaf-header"> <div class="b-leaf-userpic"> <a href="https://coipish.livejournal.com/" target="_blank" class="b-leaf-userpic-inner" lj:user="coipish">   <img src="https://l-userpic.livejournal.com/74177303/8579748" alt="coipish" loading="lazy" title="Kojpiš Anton // Койпиш Антон: a">  </a> </div> <div class="b-leaf-details">   <p class="b-leaf-username"><span class="b-leaf-username-name"><span class="ljuser  i-ljuser  i-ljuser-type-P     " data-ljuser="coipish" lj:user="coipish"><a href="https://coipish.livejournal.com/profile" class="i-ljuser-profile" target="_self"><img class="i-ljuser-userhead" src="https://l-stat.livejournal.net/img/userinfo_v8.svg?v=17080?v=657"></a><a href="https://coipish.livejournal.com/" class="i-ljuser-username" target="_self"><b>coipish</b></a></span> </span>  </p> <p class="b-leaf-meta">  <a href="https://lacinka.livejournal.com/36290.html?thread=209858#t209858" class="b-leaf-permalink" target="_self"> <span class="b-leaf-createdtime">October 29 2006, 17:25:30 UTC</span> </a>   <span class="b-leaf-shorttime">16 years ago</span>   </p>   </ul>        </div> </div>  <div class="b-leaf-article"> Ja tak razumieju, što Щ heta - szcz. </div>   </div> </div>    </div></div>     <div prev-next-nav=""></div> <div suggestion-for-unlogged="" class="ng-isolate-scope"><!-- ngIf: directive.isBlockVisible --></div>   </div>         