---
id: 38144
layout: page
date: 2022-10-16
---


<!-- s-body -->
        <div class="s-body">

            <!-- use header -->
            <!-- /use header -->

            <!-- Content -->
             <article class="b-singlepost hentry h-entry js-emojis  b-singlepost-mobileadaptive  b-singlepost-withbodybanner  ng-scope" role="main" ng-app="Entry"> <div class="b-singlepost-qrcode  ng-isolate-scope" lj-qrcode="https://lacinka.livejournal.com/38144.html" lj-qrcode-width="70" lj-qrcode-height="70"> <canvas width="70" height="70"></canvas></div> <div class="b-singlepost-about"> <dl class=" b-singlepost-author author vcard p-author h-card " ng-non-bindable=""> <dt class=" b-singlepost-author-userpic photo u-photo " lj:user="pc">  <img src="https://l-userpic.livejournal.com/120364981/8576997" width="100" height="100" align="absmiddle" title="P.C. Живой дневник: PC" alt="">  </dt> <dd class="b-singlepost-author-userinfo"> <div class="b-singlepost-author-userinfo-screen"> <span class=" b-singlepost-author-user fn p-name "> <span class="b-singlepost-author-user-screen"> P.C. Живой дневник (<span class="ljuser  i-ljuser  i-ljuser-type-P     " data-ljuser="pc" lj:user="pc"><a href="https://pc.livejournal.com/profile" target="_self" class="i-ljuser-profile"><img class="i-ljuser-userhead" src="https://l-stat.livejournal.net/img/userinfo_v8.svg?v=17080?v=657"></a><a href="https://pc.livejournal.com/" class="i-ljuser-username" target="_self"><b>pc</b></a></span>) wrote in <span class="ljuser  i-ljuser  i-ljuser-type-C     " data-ljuser="lacinka" lj:user="lacinka"><a href="https://lacinka.livejournal.com/profile" target="_self" class="i-ljuser-profile"><img class="i-ljuser-userhead" src="https://l-stat.livejournal.net/img/community.gif?v=556?v=657"></a><a href="https://lacinka.livejournal.com/" class="i-ljuser-username" target="_self"><b>lacinka</b></a></span>, </span> </span> <br> <time class=" b-singlepost-author-date published dt-published "><a href="https://lacinka.livejournal.com/2006/" target="_self">2006</a>-<a href="https://lacinka.livejournal.com/2006/11/" target="_self">11</a>-<a href="https://lacinka.livejournal.com/2006/11/06/" target="_self">06</a> 15:07:00</time>   </div> <div class="b-singlepost-author-userinfo-print"> <span class=" b-singlepost-author-user fn p-name "> P.C. Живой дневник<br> <span class="ljuser  i-ljuser  i-ljuser-type-P     " data-ljuser="pc" lj:user="pc"><a href="https://pc.livejournal.com/profile" target="_self" class="i-ljuser-profile"><img class="i-ljuser-userhead" src="https://l-stat.livejournal.net/img/userinfo_v8.svg?v=17080?v=657"></a><a href="https://pc.livejournal.com/" class="i-ljuser-username" target="_self"><b>pc</b></a></span>  <br><span class="ljuser  i-ljuser  i-ljuser-type-C     " data-ljuser="lacinka" lj:user="lacinka"><a href="https://lacinka.livejournal.com/profile" target="_self" class="i-ljuser-profile"><img class="i-ljuser-userhead" src="https://l-stat.livejournal.net/img/community.gif?v=556?v=657"></a><a href="https://lacinka.livejournal.com/" class="i-ljuser-username" target="_self"><b>lacinka</b></a></span>  </span> <br> <time class=" b-singlepost-author-date published dt-published "><a href="https://lacinka.livejournal.com/2006/" target="_self">2006</a>-<a href="https://lacinka.livejournal.com/2006/11/" target="_self">11</a>-<a href="https://lacinka.livejournal.com/2006/11/06/" target="_self">06</a> 15:07:00</time> </div> </dd> </dl>  </div>    <div class="b-singlepost-wrapper">  ¤ <ul class="b-linkbar">  <li class="b-linkbar-item"><a href="https://www.livejournal.com/go.bml?journal=lacinka&amp;itemid=38144&amp;dir=prev" rel="nofollow" title="Previous" class="b-controls b-controls-prev" target="_self"><i class="b-controls-bg"></i>Previous</a></li>  <li class="b-linkbar-item ng-scope" lj-share="{ url: 'https://lacinka.livejournal.com/38144.html', title: '', text: '', hashtags: '', alwaysBottom: true }">
                <a href="javascript:void(0);" rel="nofollow" title="Share" class="b-controls b-controls-share js-lj-share" data-hashtags="" data-title="" data-url="https%3A%2F%2Flacinka.livejournal.com%2F38144.html" target="_self">
                    <i class="b-controls-bg"></i>Share
                </a>
            </li>  <li class="b-linkbar-item"><a href="https://www.livejournal.com/tools/content_flag.bml?user=lacinka&amp;itemid=38144" rel="nofollow" title="Flag" class="b-controls b-controls-flag" target="_self"><i class="b-controls-bg"></i>Flag</a></li>  <li class="b-linkbar-item"><a href="https://www.livejournal.com/go.bml?journal=lacinka&amp;itemid=38144&amp;dir=next" rel="nofollow" title="Next" class="b-controls b-controls-next" target="_self"><i class="b-controls-bg"></i>Next</a></li>  </ul> </div>      <div class="b-singlepost-bodywrapper">  <article class="b-singlepost-body entry-content e-content   ng-scope" lj-sale-entry="" lj-discovery-tags="" lj-embed-resizer=""> Як правільна на лацінцы напісаць імя "Пётр"  </article>   </div>    </div> <div class="b-singlepost-video-wrap"> <div data-autoplay-dockable-video-mount=""></div> </div>
<div id="comments" class="b-grove" data-authtoken="c0:1682874000:275:86400:jYWndN9AKr-0-:4f898acce9a75aed43110e533aaaa02a"> <div class=" b-xylem  b-xylem-first  "> <ul class="b-xylem-cells">  <li class=" b-xylem-cell b-xylem-cell-amount ">   <span class="js-amount">  6 comments  </span>   </li>  </ul>  </div> <div class=" b-massaction-top ">  </div>    <div class=" b-tree b-tree-best ">  </div> <div class=" b-tree b-tree-promo " data-currentprice="">  </div>  <div class=" b-tree b-tree-root svgpreloader svgpreloader-pseudo svgpreloader-30 "><div class=" b-tree-twig  b-tree-twig-1 b-tree-twig-deep-0  " style="margin-left: 0px" data-tid="t215552">    <div id="t215552" class=" b-leaf            b-leaf-full   comment p-comment " data-username="darkgreen_wolf" data-displayname="darkgreen_wolf" data-updated-ts="1162819651" data-full="1"> <div class=" b-leaf-inner svgpreloader svgpreloader-pseudo svgpreloader-16 "> <div class="b-leaf-header"> <div class="b-leaf-userpic"> <a href="https://darkgreen-wolf.livejournal.com/" target="_blank" class="b-leaf-userpic-inner" lj:user="darkgreen_wolf">   <img src="https://l-stat.livejournal.net/img/userpics/userpic-user.png?v=15821" alt="darkgreen_wolf" loading="lazy">  </a> </div> <div class="b-leaf-details">   <p class="b-leaf-username"><span class="b-leaf-username-name"><span class="ljuser  i-ljuser  i-ljuser-deleted  i-ljuser-type-P     " data-ljuser="darkgreen_wolf" lj:user="darkgreen_wolf"><a href="https://darkgreen-wolf.livejournal.com/profile" class="i-ljuser-profile" target="_self"><img class="i-ljuser-userhead" src="https://l-stat.livejournal.net/img/userinfo_v8.svg?v=17080?v=657"></a><a href="https://darkgreen-wolf.livejournal.com/" class="i-ljuser-username" target="_self"><b>darkgreen_wolf</b></a></span> </span>  </p> <p class="b-leaf-meta">  <a href="https://lacinka.livejournal.com/38144.html?thread=215552#t215552" class="b-leaf-permalink" target="_self"> <span class="b-leaf-createdtime">November 6 2006, 13:27:31 UTC</span> </a>   <span class="b-leaf-shorttime">16 years ago</span>   </p>   </ul>        </div> </div>  <div class="b-leaf-article"> Piotr </div>   </div> </div>    </div><div class=" b-tree-twig  b-tree-twig-1 b-tree-twig-deep-0  " style="margin-left: 0px" data-tid="t215808">    <div id="t215808" class=" b-leaf            b-leaf-full   comment p-comment " data-username="coipish" data-displayname="coipish" data-updated-ts="1162828360" data-full="1"> <div class=" b-leaf-inner svgpreloader svgpreloader-pseudo svgpreloader-16 "> <div class="b-leaf-header"> <div class="b-leaf-userpic"> <a href="https://coipish.livejournal.com/" target="_blank" class="b-leaf-userpic-inner" lj:user="coipish">   <img src="https://l-userpic.livejournal.com/74177303/8579748" alt="coipish" loading="lazy" title="Kojpiš Anton // Койпиш Антон: a">  </a> </div> <div class="b-leaf-details">   <p class="b-leaf-username"><span class="b-leaf-username-name"><span class="ljuser  i-ljuser  i-ljuser-type-P     " data-ljuser="coipish" lj:user="coipish"><a href="https://coipish.livejournal.com/profile" class="i-ljuser-profile" target="_self"><img class="i-ljuser-userhead" src="https://l-stat.livejournal.net/img/userinfo_v8.svg?v=17080?v=657"></a><a href="https://coipish.livejournal.com/" class="i-ljuser-username" target="_self"><b>coipish</b></a></span> </span>  </p> <p class="b-leaf-meta">  <a href="https://lacinka.livejournal.com/38144.html?thread=215808#t215808" class="b-leaf-permalink" target="_self"> <span class="b-leaf-createdtime">November 6 2006, 15:52:40 UTC</span> </a>   <span class="b-leaf-shorttime">16 years ago</span>   </p>   </ul>        </div> </div>  <div class="b-leaf-article"> "Piotr", а лепей "Piotar" - усё ж "Пётр" - гэта наркамаўскі варыянт, а згодна клясычнага правапісу калі р на канцы слова й пасьля зычнай, тады перад гэтай р устаўляюць "а": "тэатар", "цэнтар", "Пётар" - іг.д. </div>   </div> </div>    </div><div class=" b-tree-twig  b-tree-twig-2 b-tree-twig-deep-0  " style="margin-left: 30px" data-tid="t216832">    <div id="t216832" class=" b-leaf            b-leaf-full   comment p-comment " data-username="kachanak" data-displayname="kachanak" data-updated-ts="1164883839" data-full="1"> <div class=" b-leaf-inner svgpreloader svgpreloader-pseudo svgpreloader-16 "> <div class="b-leaf-header"> <div class="b-leaf-userpic"> <a href="https://kachanak.livejournal.com/" target="_blank" class="b-leaf-userpic-inner" lj:user="kachanak">   <img src="https://l-stat.livejournal.net/img/userpics/userpic-user.png?v=15821" alt="kachanak" loading="lazy">  </a> </div> <div class="b-leaf-details">   <p class="b-leaf-username"><span class="b-leaf-username-name"><span class="ljuser  i-ljuser  i-ljuser-deleted  i-ljuser-type-P     " data-ljuser="kachanak" lj:user="kachanak"><a href="https://kachanak.livejournal.com/profile" class="i-ljuser-profile" target="_self"><img class="i-ljuser-userhead" src="https://l-stat.livejournal.net/img/userinfo_v8.svg?v=17080?v=657"></a><a href="https://kachanak.livejournal.com/" class="i-ljuser-username" target="_self"><b>kachanak</b></a></span> </span>  </p> <p class="b-leaf-meta">  <a href="https://lacinka.livejournal.com/38144.html?thread=216832#t216832" class="b-leaf-permalink" target="_self"> <span class="b-leaf-createdtime">November 30 2006, 10:50:39 UTC</span> </a>   <span class="b-leaf-shorttime">16 years ago</span>   </p>   </ul>        </div> </div>  <div class="b-leaf-article"> Не заўсёды ("Сартр"), у тым ліку ў імёнах. </div>   </div> </div>    </div><div class=" b-tree-twig  b-tree-twig-3 b-tree-twig-deep-0  " style="margin-left: 60px" data-tid="t217088">    <div id="t217088" class=" b-leaf            b-leaf-full   comment p-comment " data-username="coipish" data-displayname="coipish" data-updated-ts="1164886330" data-full="1"> <div class=" b-leaf-inner svgpreloader svgpreloader-pseudo svgpreloader-16 "> <div class="b-leaf-header"> <div class="b-leaf-userpic"> <a href="https://coipish.livejournal.com/" target="_blank" class="b-leaf-userpic-inner" lj:user="coipish">   <img src="https://l-userpic.livejournal.com/74177303/8579748" alt="coipish" loading="lazy" title="Kojpiš Anton // Койпиш Антон: a">  </a> </div> <div class="b-leaf-details">   <p class="b-leaf-username"><span class="b-leaf-username-name"><span class="ljuser  i-ljuser  i-ljuser-type-P     " data-ljuser="coipish" lj:user="coipish"><a href="https://coipish.livejournal.com/profile" class="i-ljuser-profile" target="_self"><img class="i-ljuser-userhead" src="https://l-stat.livejournal.net/img/userinfo_v8.svg?v=17080?v=657"></a><a href="https://coipish.livejournal.com/" class="i-ljuser-username" target="_self"><b>coipish</b></a></span> </span>  </p> <p class="b-leaf-meta">  <a href="https://lacinka.livejournal.com/38144.html?thread=217088#t217088" class="b-leaf-permalink" target="_self"> <span class="b-leaf-createdtime">November 30 2006, 11:32:10 UTC</span> </a>   <span class="b-leaf-shorttime">16 years ago</span>   </p>   </ul>        </div> </div>  <div class="b-leaf-article"> Можа быць.<br>Але шчыра кажучы, у мяне не атрымліваецца сказаць "Сартр" аднім складам. :) </div>   </div> </div>    </div><div class=" b-tree-twig  b-tree-twig-3 b-tree-twig-deep-0  " style="margin-left: 60px" data-tid="t217344">    <div id="t217344" class=" b-leaf            b-leaf-full   comment p-comment " data-username="coipish" data-displayname="coipish" data-updated-ts="1164886507" data-full="1"> <div class=" b-leaf-inner svgpreloader svgpreloader-pseudo svgpreloader-16 "> <div class="b-leaf-header"> <div class="b-leaf-userpic"> <a href="https://coipish.livejournal.com/" target="_blank" class="b-leaf-userpic-inner" lj:user="coipish">   <img src="https://l-userpic.livejournal.com/74177303/8579748" alt="coipish" loading="lazy" title="Kojpiš Anton // Койпиш Антон: a">  </a> </div> <div class="b-leaf-details">   <p class="b-leaf-username"><span class="b-leaf-username-name"><span class="ljuser  i-ljuser  i-ljuser-type-P     " data-ljuser="coipish" lj:user="coipish"><a href="https://coipish.livejournal.com/profile" class="i-ljuser-profile" target="_self"><img class="i-ljuser-userhead" src="https://l-stat.livejournal.net/img/userinfo_v8.svg?v=17080?v=657"></a><a href="https://coipish.livejournal.com/" class="i-ljuser-username" target="_self"><b>coipish</b></a></span> </span>  </p> <p class="b-leaf-meta">  <a href="https://lacinka.livejournal.com/38144.html?thread=217344#t217344" class="b-leaf-permalink" target="_self"> <span class="b-leaf-createdtime">November 30 2006, 11:35:07 UTC</span> </a>   <span class="b-leaf-shorttime">16 years ago</span>   </p>   </ul>        </div> </div>  <div class="b-leaf-article"> Паглядзеў - сапраўды слоўніка Нашай Нівы раіць "Сартр" пісаць. </div>   </div> </div>    </div><div class=" b-tree-twig  b-tree-twig-4 b-tree-twig-deep-0  " style="margin-left: 90px" data-tid="t217600">    <div id="t217600" class=" b-leaf            b-leaf-full   comment p-comment " data-username="kachanak" data-displayname="kachanak" data-updated-ts="1164887888" data-full="1"> <div class=" b-leaf-inner svgpreloader svgpreloader-pseudo svgpreloader-16 "> <div class="b-leaf-header"> <div class="b-leaf-userpic"> <a href="https://kachanak.livejournal.com/" target="_blank" class="b-leaf-userpic-inner" lj:user="kachanak">   <img src="https://l-stat.livejournal.net/img/userpics/userpic-user.png?v=15821" alt="kachanak" loading="lazy">  </a> </div> <div class="b-leaf-details">   <p class="b-leaf-username"><span class="b-leaf-username-name"><span class="ljuser  i-ljuser  i-ljuser-deleted  i-ljuser-type-P     " data-ljuser="kachanak" lj:user="kachanak"><a href="https://kachanak.livejournal.com/profile" class="i-ljuser-profile" target="_self"><img class="i-ljuser-userhead" src="https://l-stat.livejournal.net/img/userinfo_v8.svg?v=17080?v=657"></a><a href="https://kachanak.livejournal.com/" class="i-ljuser-username" target="_self"><b>kachanak</b></a></span> </span>  </p> <p class="b-leaf-meta">  <a href="https://lacinka.livejournal.com/38144.html?thread=217600#t217600" class="b-leaf-permalink" target="_self"> <span class="b-leaf-createdtime">November 30 2006, 11:58:08 UTC</span> </a>   <span class="b-leaf-shorttime">16 years ago</span>   </p>   </ul>        </div> </div>  <div class="b-leaf-article"> Pra heta ž jość i adpaviednaja zaŭvaha ŭ rev2005. </div>   </div> </div>    </div></div>     <div prev-next-nav=""></div> <div suggestion-for-unlogged="" class="ng-isolate-scope"><!-- ngIf: directive.isBlockVisible --></div>   </div>         