---
id: 40978
layout: page
date: 2022-10-16
---


<!-- s-body -->
        <div class="s-body">

            <!-- use header -->
            <!-- /use header -->

            <!-- Content -->
             <article class="b-singlepost hentry h-entry js-emojis  b-singlepost-mobileadaptive  b-singlepost-withbodybanner  ng-scope" role="main" ng-app="Entry"> <div class="b-singlepost-qrcode  ng-isolate-scope" lj-qrcode="https://lacinka.livejournal.com/40978.html" lj-qrcode-width="70" lj-qrcode-height="70"> <canvas width="70" height="70"></canvas></div> <div class="b-singlepost-about"> <dl class=" b-singlepost-author author vcard p-author h-card " ng-non-bindable=""> <dt class=" b-singlepost-author-userpic photo u-photo " lj:user="cgem">  <img src="https://l-userpic.livejournal.com/54866244/5491637" width="100" height="93" align="absmiddle" title="marsalkka: win-opec" alt="">  </dt> <dd class="b-singlepost-author-userinfo"> <div class="b-singlepost-author-userinfo-screen"> <span class=" b-singlepost-author-user fn p-name "> <span class="b-singlepost-author-user-screen"> marsalkka (<span class="ljuser  i-ljuser  i-ljuser-type-P     " data-ljuser="cgem" lj:user="cgem"><a href="https://cgem.livejournal.com/profile" target="_self" class="i-ljuser-profile"><img class="i-ljuser-userhead" src="https://l-stat.livejournal.net/img/userinfo_v8.svg?v=17080?v=657"></a><a href="https://cgem.livejournal.com/" class="i-ljuser-username" target="_self"><b>cgem</b></a></span>) wrote in <span class="ljuser  i-ljuser  i-ljuser-type-C     " data-ljuser="lacinka" lj:user="lacinka"><a href="https://lacinka.livejournal.com/profile" target="_self" class="i-ljuser-profile"><img class="i-ljuser-userhead" src="https://l-stat.livejournal.net/img/community.gif?v=556?v=657"></a><a href="https://lacinka.livejournal.com/" class="i-ljuser-username" target="_self"><b>lacinka</b></a></span>, </span> </span> <br> <time class=" b-singlepost-author-date published dt-published "><a href="https://lacinka.livejournal.com/2007/" target="_self">2007</a>-<a href="https://lacinka.livejournal.com/2007/03/" target="_self">03</a>-<a href="https://lacinka.livejournal.com/2007/03/25/" target="_self">25</a> 21:34:00</time>   </div> <div class="b-singlepost-author-userinfo-print"> <span class=" b-singlepost-author-user fn p-name "> marsalkka<br> <span class="ljuser  i-ljuser  i-ljuser-type-P     " data-ljuser="cgem" lj:user="cgem"><a href="https://cgem.livejournal.com/profile" target="_self" class="i-ljuser-profile"><img class="i-ljuser-userhead" src="https://l-stat.livejournal.net/img/userinfo_v8.svg?v=17080?v=657"></a><a href="https://cgem.livejournal.com/" class="i-ljuser-username" target="_self"><b>cgem</b></a></span>  <br><span class="ljuser  i-ljuser  i-ljuser-type-C     " data-ljuser="lacinka" lj:user="lacinka"><a href="https://lacinka.livejournal.com/profile" target="_self" class="i-ljuser-profile"><img class="i-ljuser-userhead" src="https://l-stat.livejournal.net/img/community.gif?v=556?v=657"></a><a href="https://lacinka.livejournal.com/" class="i-ljuser-username" target="_self"><b>lacinka</b></a></span>  </span> <br> <time class=" b-singlepost-author-date published dt-published "><a href="https://lacinka.livejournal.com/2007/" target="_self">2007</a>-<a href="https://lacinka.livejournal.com/2007/03/" target="_self">03</a>-<a href="https://lacinka.livejournal.com/2007/03/25/" target="_self">25</a> 21:34:00</time> </div> </dd> </dl>  </div>    <div class="b-singlepost-wrapper">  ¤ <ul class="b-linkbar">  <li class="b-linkbar-item"><a href="https://www.livejournal.com/go.bml?journal=lacinka&amp;itemid=40978&amp;dir=prev" rel="nofollow" title="Previous" class="b-controls b-controls-prev" target="_self"><i class="b-controls-bg"></i>Previous</a></li>  <li class="b-linkbar-item ng-scope" lj-share="{ url: 'https://lacinka.livejournal.com/40978.html', title: '', text: '', hashtags: '', alwaysBottom: true }">
                <a href="javascript:void(0);" rel="nofollow" title="Share" class="b-controls b-controls-share js-lj-share" data-hashtags="" data-title="" data-url="https%3A%2F%2Flacinka.livejournal.com%2F40978.html" target="_self">
                    <i class="b-controls-bg"></i>Share
                </a>
            </li>  <li class="b-linkbar-item"><a href="https://www.livejournal.com/tools/content_flag.bml?user=lacinka&amp;itemid=40978" rel="nofollow" title="Flag" class="b-controls b-controls-flag" target="_self"><i class="b-controls-bg"></i>Flag</a></li>  <li class="b-linkbar-item"><a href="https://www.livejournal.com/go.bml?journal=lacinka&amp;itemid=40978&amp;dir=next" rel="nofollow" title="Next" class="b-controls b-controls-next" target="_self"><i class="b-controls-bg"></i>Next</a></li>  </ul> </div>   <section class="category-panel category-panel--innner-content" nglj-cat-suggester="" ng-show="catSuggester.isShown()"> <span class="category-panel__caption">Categories:</span> <ul class="category-panel__list">  <li class="category-panel__item js--cat-item" ng-show="catSuggester.catIsShown({ humanName: 'фантастика' })" data-human-name="фантастика"> <span class="tag"> <a class="tag__link" href="https://www.livejournal.com/category/fantastika?utm_source=post" target="_self">Фантастика</a>  </span> </li>  <li class="category-panel__item js--cat-item" ng-show="catSuggester.catIsShown({ humanName: 'кино' })" data-human-name="кино"> <span class="tag"> <a class="tag__link" href="https://www.livejournal.com/category/kino?utm_source=post" target="_self">Кино</a>  </span> </li>  <li class="category-panel__item js--cat-item" ng-show="catSuggester.catIsShown({ humanName: 'компьютеры' })" data-human-name="компьютеры"> <span class="tag"> <a class="tag__link" href="https://www.livejournal.com/category/kompyutery?utm_source=post" target="_self">Компьютеры</a>  </span> </li>  <li class="category-panel__item js--cat-item" ng-show="catSuggester.catIsShown({ humanName: 'общество' })" data-human-name="общество"> <span class="tag"> <a class="tag__link" href="https://www.livejournal.com/category/obschestvo?utm_source=post" target="_self">Общество</a>  </span> </li>  <li class="category-panel__item ng-hide" ng-show="catSuggester.getCancelledCats().length > 0" ng-click="catSuggester.reacceptAll()"> <a class="category-panel__link" href="" target="_self">Cancel</a> </li> </ul>  </section>     <div class="b-singlepost-bodywrapper">  <article class="b-singlepost-body entry-content e-content   ng-scope" lj-sale-entry="" lj-discovery-tags="" lj-embed-resizer=""> Привет, меня послали сюда из <span class="ljuser  i-ljuser  i-ljuser-type-C     " data-ljuser="by" lj:user="by"><a href="https://by.livejournal.com/profile" target="_self" class="i-ljuser-profile"><img class="i-ljuser-userhead" src="https://l-stat.livejournal.net/img/community.gif?v=556?v=657"></a><a href="https://by.livejournal.com/" class="i-ljuser-username" target="_self"><b>by</b></a></span>. Было бы супер,<br>если б вы посмотрели белорусскую <a href="http://people.jyu.fi/~divanov/Belarusian-Translit.txt.in" rel="nofollow" target="_self">транслитерацию</a><br>(файл в кодировке Unicode (UTF-8)).<br>это таблица для open-source проекта проекта SCIM <a href="http://www.scim-im.org/" rel="nofollow" target="_self">http://www.scim-im.org/</a><br>SCIM позволяет вводить нелатинские символы, используя в основном только<br>26 латинских букв. Особенно это ценно людям, не имеющим белорусской<br>клавиатуры.  <div class="qlluen"></div></article> <div lj0sale0height="600" lj0sale0window0min="1200" lj0sale0window0max="9999" lj0sale0hide0cookie="s1_rightbanner_closed" class="ljsale ljsale--empty b-singlepost-bodybanner ng-isolate-scope" lj0sale0not0init="s1_right"><div class="ljsale__inner">

    <div class="allbanners ">

        <!-- ngIf: directive.customId -->
        <div id="">

          <!-- ngIf: directive.type -->
        
        </div>

        <!-- ngIf: directive.close -->

    </div>

    <!-- ngIf: directive.hideble -->

</div>
</div>  </div>    </div> <div class="b-singlepost-video-wrap"> <div data-autoplay-dockable-video-mount=""></div> </div>
<div id="comments" class="b-grove" data-authtoken="c0:1682874000:286:86400:hbBe03QDpT-0-:33e8a6ffd0eeb2bb5e6677903beb10df"> <div class=" b-xylem  b-xylem-first  "> <ul class="b-xylem-cells">  <li class=" b-xylem-cell b-xylem-cell-amount ">   <span class="js-amount">  37 comments  </span>   </li>  </ul>  </div> <div class=" b-massaction-top ">  </div>    <div class=" b-tree b-tree-best ">  </div> <div class=" b-tree b-tree-promo " data-currentprice="">  </div>  <div class=" b-tree b-tree-root svgpreloader svgpreloader-pseudo svgpreloader-30 "><div class=" b-tree-twig  b-tree-twig-1 b-tree-twig-deep-0  " style="margin-left: 0px" data-tid="t229906">    <div id="t229906" class=" b-leaf            b-leaf-full   comment p-comment " data-username="maratyszcza" data-displayname="maratyszcza" data-updated-ts="1174850125" data-full="1"> <div class=" b-leaf-inner svgpreloader svgpreloader-pseudo svgpreloader-16 "> <div class="b-leaf-header"> <div class="b-leaf-userpic"> <a href="https://maratyszcza.livejournal.com/" target="_blank" class="b-leaf-userpic-inner" lj:user="maratyszcza">   <img src="https://l-userpic.livejournal.com/38970488/2695958" alt="maratyszcza" loading="lazy" title="Marat: pic#38970488">  </a> </div> <div class="b-leaf-details">   <p class="b-leaf-username"><span class="b-leaf-username-name"><span class="ljuser  i-ljuser  i-ljuser-type-P     " data-ljuser="maratyszcza" lj:user="maratyszcza"><a href="https://maratyszcza.livejournal.com/profile" class="i-ljuser-profile" target="_self"><img class="i-ljuser-userhead" src="https://l-stat.livejournal.net/img/userinfo_v8.svg?v=17080?v=657"></a><a href="https://maratyszcza.livejournal.com/" class="i-ljuser-username" target="_self"><b>maratyszcza</b></a></span> </span>  </p> <p class="b-leaf-meta">  <a href="https://lacinka.livejournal.com/40978.html?thread=229906#t229906" class="b-leaf-permalink" target="_self"> <span class="b-leaf-createdtime">March 25 2007, 19:15:25 UTC</span> </a>   <span class="b-leaf-shorttime">16 years ago</span>   </p>           </div> </div>  <div class="b-leaf-article"> В белорусском часто используют для транслитерации польские диграфы<br>г = h<br>ґ = g<br>х = ch<br>ч = cz (либо с^ = č)<br>ш = sz (либо s^ = š)<br>ж = rz (редко) (либо z^ = ž)<br>ў пишется вместо обычного у после гласных<br>е, ё, ю, я = ie после согласных, je в начале слова и после гласных<br>кроме того, в белорусском ' (апостроф) имеет то же значение, что и ъ в русском (например, аб'езд (объезд)) </div>   </div> </div>    </div><div class=" b-tree-twig  b-tree-twig-2 b-tree-twig-deep-0  " style="margin-left: 30px" data-tid="t230162">    <div class=" b-leaf b-leaf-clipped b-leaf-deleted " id="t230162"> <div class=" b-leaf-inner svgpreloader svgpreloader-pseudo svgpreloader-16 "> <div class="b-leaf-cheader"> <p class="b-leaf-status">  Deleted comment  </p>   </div>  </div> </div>    </div><div class=" b-tree-twig  b-tree-twig-3 b-tree-twig-deep-0  " style="margin-left: 60px" data-tid="t230930">    <div id="t230930" class=" b-leaf            b-leaf-full   comment p-comment " data-username="maratyszcza" data-displayname="maratyszcza" data-updated-ts="1174854630" data-full="1"> <div class=" b-leaf-inner svgpreloader svgpreloader-pseudo svgpreloader-16 "> <div class="b-leaf-header"> <div class="b-leaf-userpic"> <a href="https://maratyszcza.livejournal.com/" target="_blank" class="b-leaf-userpic-inner" lj:user="maratyszcza">   <img src="https://l-userpic.livejournal.com/38970488/2695958" alt="maratyszcza" loading="lazy" title="Marat: pic#38970488">  </a> </div> <div class="b-leaf-details">   <p class="b-leaf-username"><span class="b-leaf-username-name"><span class="ljuser  i-ljuser  i-ljuser-type-P     " data-ljuser="maratyszcza" lj:user="maratyszcza"><a href="https://maratyszcza.livejournal.com/profile" class="i-ljuser-profile" target="_self"><img class="i-ljuser-userhead" src="https://l-stat.livejournal.net/img/userinfo_v8.svg?v=17080?v=657"></a><a href="https://maratyszcza.livejournal.com/" class="i-ljuser-username" target="_self"><b>maratyszcza</b></a></span> </span>  </p> <p class="b-leaf-meta">  <a href="https://lacinka.livejournal.com/40978.html?thread=230930#t230930" class="b-leaf-permalink" target="_self"> <span class="b-leaf-createdtime">March 25 2007, 20:30:30 UTC</span> </a>   <span class="b-leaf-shorttime">16 years ago</span>   </p>           </div> </div>  <div class="b-leaf-article"> Удобно ли, вопрос не ко мне, я пишу латинкой Š, Č через Alt Gr + специальную раскладку клавиатуры (Win). Ґ есть в классическом правописании (тарашкевице), хотя не все используют эту букву. Она используется только в немногих заимстованных словах. Ў в начале слова может быть, если предыдущее слово оканчивалось на гласную (есть какие-то правила касательно знаков препинания, но я их не помню) </div>   </div> </div>    </div><div class=" b-tree-twig  b-tree-twig-2 b-tree-twig-deep-0  " style="margin-left: 30px" data-tid="t231442">    <div id="t231442" class=" b-leaf        b-leaf-poster      b-leaf-full   comment p-comment " data-username="cgem" data-displayname="cgem" data-updated-ts="1174855150" data-full="1"> <div class=" b-leaf-inner svgpreloader svgpreloader-pseudo svgpreloader-16 "> <div class="b-leaf-header"> <div class="b-leaf-userpic"> <a href="https://cgem.livejournal.com/" target="_blank" class="b-leaf-userpic-inner" lj:user="cgem">   <img src="https://l-userpic.livejournal.com/54866244/5491637" alt="cgem" loading="lazy" title="marsalkka: win-opec">  </a> </div> <div class="b-leaf-details">   <p class="b-leaf-username"><span class="b-leaf-username-name"><span class="ljuser  i-ljuser  i-ljuser-type-P     " data-ljuser="cgem" lj:user="cgem"><a href="https://cgem.livejournal.com/profile" class="i-ljuser-profile" target="_self"><img class="i-ljuser-userhead" src="https://l-stat.livejournal.net/img/userinfo_v8.svg?v=17080?v=657"></a><a href="https://cgem.livejournal.com/" class="i-ljuser-username" target="_self"><b>cgem</b></a></span> </span>  </p> <p class="b-leaf-meta">  <a href="https://lacinka.livejournal.com/40978.html?thread=231442#t231442" class="b-leaf-permalink" target="_self"> <span class="b-leaf-createdtime">March 25 2007, 20:39:10 UTC</span> </a>   <span class="b-leaf-shorttime">16 years ago</span>   </p>           </div> </div>  <div class="b-leaf-article"> Обновил. Вопрос с ў пока открыт. </div>   </div> </div>    </div><div class=" b-tree-twig  b-tree-twig-1 b-tree-twig-deep-0  " style="margin-left: 0px" data-tid="t242194">    <div id="t242194" class=" b-leaf            b-leaf-full   comment p-comment " data-username="" data-displayname="" data-updated-ts="1180551577" data-full="1"> <div class=" b-leaf-inner svgpreloader svgpreloader-pseudo svgpreloader-16 "> <div class="b-leaf-header"> <div class="b-leaf-userpic"> <a href="" target="_blank" class="b-leaf-userpic-inner" lj:user="">   <img src="https://l-stat.livejournal.net/img/userpics/userpic-anonymous.png?v=15821" alt="" loading="lazy">  </a> </div> <div class="b-leaf-details">   <p class="b-leaf-username"><span class="b-leaf-username-name">Anonymous</span>  </p> <p class="b-leaf-meta">  <a href="https://lacinka.livejournal.com/40978.html?thread=242194#t242194" class="b-leaf-permalink" target="_self"> <span class="b-leaf-createdtime">May 30 2007, 18:59:37 UTC</span> </a>   <span class="b-leaf-shorttime">15 years ago</span>   </p>           </div> </div>  <div class="b-leaf-article"> Słuchajcie, pytańnie...<br>Ci možna zrabić kanvertar nia tolki z ASCII?<br><br>Heta vielmi treba biełarusam. Ja naprykład pišu łacinkaj (nie tranślitam), a kali jość patreba ŭ kirylicy, chadžu siudy: http://www.zedlik.com/lacinka/pragramy/kirylaca/ <br><br>Dumaju, varta zrabić 2 varyjanty - tranślit i łacinku. <br>Belarusian Localization Team GNOME vielmi prasiła. :)<br><br>P.S. Vy ŭ kursie, što biełaruskaja łacinka maje tysiačahadovuju tradycyju? ;) </div>   </div> </div>    </div><div class=" b-tree-twig  b-tree-twig-2 b-tree-twig-deep-0  " style="margin-left: 30px" data-tid="t242450">    <div id="t242450" class=" b-leaf            b-leaf-full   comment p-comment " data-username="ext_33113" data-displayname="Zołak [openid.pl]" data-updated-ts="1180551676" data-full="1"> <div class=" b-leaf-inner svgpreloader svgpreloader-pseudo svgpreloader-16 "> <div class="b-leaf-header"> <div class="b-leaf-userpic"> <a href="https://ext-33113.livejournal.com/" target="_blank" class="b-leaf-userpic-inner" lj:user="ext_33113">   <img src="https://l-stat.livejournal.net/img/userpics/userpic-user.png?v=15821" alt="ext_33113" loading="lazy">  </a> </div> <div class="b-leaf-details">   <p class="b-leaf-username"><span class="b-leaf-username-name"><span class="ljuser  i-ljuser  i-ljuser-deleted  i-ljuser-type-I     " data-ljuser="ext_33113" lj:user="ext_33113"><a href="https://www.livejournal.com/profile?userid=12305238&amp;t=I" class="i-ljuser-profile" target="_self"><img class="i-ljuser-userhead" src="https://l-stat.livejournal.net/img/social-icons/colored/openid.svg?v=5044?v=657"></a><a href="https://ext-33113.livejournal.com/" class="i-ljuser-username" target="_self"><b>ext_33113</b></a></span> </span>  </p> <p class="b-leaf-meta">  <a href="https://lacinka.livejournal.com/40978.html?thread=242450#t242450" class="b-leaf-permalink" target="_self"> <span class="b-leaf-createdtime">May 30 2007, 19:01:16 UTC</span> </a>   <span class="b-leaf-shorttime">15 years ago</span>   </p>           </div> </div>  <div class="b-leaf-article"> Oj, heta ja byŭ taki ananimny, sorry.<br> </div>   </div> </div>    </div><div class=" b-tree-twig  b-tree-twig-2 b-tree-twig-deep-0  " style="margin-left: 30px" data-tid="t242706">    <div id="t242706" class=" b-leaf            b-leaf-full   comment p-comment " data-username="ext_33113" data-displayname="Zołak [openid.pl]" data-updated-ts="1180552590" data-full="1"> <div class=" b-leaf-inner svgpreloader svgpreloader-pseudo svgpreloader-16 "> <div class="b-leaf-header"> <div class="b-leaf-userpic"> <a href="https://ext-33113.livejournal.com/" target="_blank" class="b-leaf-userpic-inner" lj:user="ext_33113">   <img src="https://l-stat.livejournal.net/img/userpics/userpic-user.png?v=15821" alt="ext_33113" loading="lazy">  </a> </div> <div class="b-leaf-details">   <p class="b-leaf-username"><span class="b-leaf-username-name"><span class="ljuser  i-ljuser  i-ljuser-deleted  i-ljuser-type-I     " data-ljuser="ext_33113" lj:user="ext_33113"><a href="https://www.livejournal.com/profile?userid=12305238&amp;t=I" class="i-ljuser-profile" target="_self"><img class="i-ljuser-userhead" src="https://l-stat.livejournal.net/img/social-icons/colored/openid.svg?v=5044?v=657"></a><a href="https://ext-33113.livejournal.com/" class="i-ljuser-username" target="_self"><b>ext_33113</b></a></span> </span>  </p> <p class="b-leaf-meta">  <a href="https://lacinka.livejournal.com/40978.html?thread=242706#t242706" class="b-leaf-permalink" target="_self"> <span class="b-leaf-createdtime">May 30 2007, 19:16:30 UTC</span> </a>   <span class="b-leaf-shorttime">15 years ago</span>   </p>           </div> </div>  <div class="b-leaf-article"> А нельзя ли сделать конвертер не только с ASCII?<br><br>Это очень надо беларусам. Вот я, к примеру, пишу по-беларусски латиницей (в комментарии выше это видно)  но не транслитом, а если мне нужна кирилица, я захожу сюда: http://www.zedlik.com/lacinka/pragramy/kirylaca/<br><br>Наверное, стоит сделать сразу 2 варианта: и транслит и полноценную латиницу, ведь есть в Линуксе и соответствующая раскладка для правильной белорусской латиницы.<br><br>Belarusian Localization Team GNOME будет очень вам признательна. :) </div>   </div> </div>    </div><div class=" b-tree-twig  b-tree-twig-3 b-tree-twig-deep-0  " style="margin-left: 60px" data-tid="t242962">    <div id="t242962" class=" b-leaf        b-leaf-poster      b-leaf-full   comment p-comment " data-username="cgem" data-displayname="cgem" data-updated-ts="1180554645" data-full="1"> <div class=" b-leaf-inner svgpreloader svgpreloader-pseudo svgpreloader-16 "> <div class="b-leaf-header"> <div class="b-leaf-userpic"> <a href="https://cgem.livejournal.com/" target="_blank" class="b-leaf-userpic-inner" lj:user="cgem">   <img src="https://l-userpic.livejournal.com/54866244/5491637" alt="cgem" loading="lazy" title="marsalkka: win-opec">  </a> </div> <div class="b-leaf-details">   <p class="b-leaf-username"><span class="b-leaf-username-name"><span class="ljuser  i-ljuser  i-ljuser-type-P     " data-ljuser="cgem" lj:user="cgem"><a href="https://cgem.livejournal.com/profile" class="i-ljuser-profile" target="_self"><img class="i-ljuser-userhead" src="https://l-stat.livejournal.net/img/userinfo_v8.svg?v=17080?v=657"></a><a href="https://cgem.livejournal.com/" class="i-ljuser-username" target="_self"><b>cgem</b></a></span> </span>  </p> <p class="b-leaf-meta">  <a href="https://lacinka.livejournal.com/40978.html?thread=242962#t242962" class="b-leaf-permalink" target="_self"> <span class="b-leaf-createdtime">May 30 2007, 19:50:45 UTC</span> </a>   <span class="b-leaf-shorttime">15 years ago</span>   </p>           </div> </div>  <div class="b-leaf-article"> может на выходных сделаю. но в целом диакритические знаки можно и в английской раскладке набирать. а разраборчики scim приняли решение маленькие алфавиты помещать в m17n. </div>   </div> </div>    </div><div class=" b-tree-twig  b-tree-twig-4 b-tree-twig-deep-0  " style="margin-left: 90px" data-tid="t243218">    <div id="t243218" class=" b-leaf            b-leaf-full   comment p-comment " data-username="ext_33113" data-displayname="Zołak [openid.pl]" data-updated-ts="1180557401" data-full="1"> <div class=" b-leaf-inner svgpreloader svgpreloader-pseudo svgpreloader-16 "> <div class="b-leaf-header"> <div class="b-leaf-userpic"> <a href="https://ext-33113.livejournal.com/" target="_blank" class="b-leaf-userpic-inner" lj:user="ext_33113">   <img src="https://l-stat.livejournal.net/img/userpics/userpic-user.png?v=15821" alt="ext_33113" loading="lazy">  </a> </div> <div class="b-leaf-details">   <p class="b-leaf-username"><span class="b-leaf-username-name"><span class="ljuser  i-ljuser  i-ljuser-deleted  i-ljuser-type-I     " data-ljuser="ext_33113" lj:user="ext_33113"><a href="https://www.livejournal.com/profile?userid=12305238&amp;t=I" class="i-ljuser-profile" target="_self"><img class="i-ljuser-userhead" src="https://l-stat.livejournal.net/img/social-icons/colored/openid.svg?v=5044?v=657"></a><a href="https://ext-33113.livejournal.com/" class="i-ljuser-username" target="_self"><b>ext_33113</b></a></span> </span>  </p> <p class="b-leaf-meta">  <a href="https://lacinka.livejournal.com/40978.html?thread=243218#t243218" class="b-leaf-permalink" target="_self"> <span class="b-leaf-createdtime">May 30 2007, 20:36:41 UTC</span> </a>   <span class="b-leaf-shorttime">15 years ago</span>   </p>           </div> </div>  <div class="b-leaf-article"> Спасибо. </div>   </div> </div>    </div><div class=" b-tree-twig  b-tree-twig-4 b-tree-twig-deep-0  " style="margin-left: 90px" data-tid="t243474">    <div id="t243474" class=" b-leaf            b-leaf-full   comment p-comment " data-username="ext_33113" data-displayname="Zołak [openid.pl]" data-updated-ts="1180591865" data-full="1"> <div class=" b-leaf-inner svgpreloader svgpreloader-pseudo svgpreloader-16 "> <div class="b-leaf-header"> <div class="b-leaf-userpic"> <a href="https://ext-33113.livejournal.com/" target="_blank" class="b-leaf-userpic-inner" lj:user="ext_33113">   <img src="https://l-stat.livejournal.net/img/userpics/userpic-user.png?v=15821" alt="ext_33113" loading="lazy">  </a> </div> <div class="b-leaf-details">   <p class="b-leaf-username"><span class="b-leaf-username-name"><span class="ljuser  i-ljuser  i-ljuser-deleted  i-ljuser-type-I     " data-ljuser="ext_33113" lj:user="ext_33113"><a href="https://www.livejournal.com/profile?userid=12305238&amp;t=I" class="i-ljuser-profile" target="_self"><img class="i-ljuser-userhead" src="https://l-stat.livejournal.net/img/social-icons/colored/openid.svg?v=5044?v=657"></a><a href="https://ext-33113.livejournal.com/" class="i-ljuser-username" target="_self"><b>ext_33113</b></a></span> </span>  </p> <p class="b-leaf-meta">  <a href="https://lacinka.livejournal.com/40978.html?thread=243474#t243474" class="b-leaf-permalink" target="_self"> <span class="b-leaf-createdtime">May 31 2007, 06:11:05 UTC</span> </a>   <span class="b-leaf-shorttime">15 years ago</span>   </p>           </div> </div>  <div class="b-leaf-article"> Кстати, правила можна прямо отсюда взять, это отлично работает, <br>http://www.zedlik.com/pragramy/kirylaca/export/kirylaca_export.js </div>   </div> </div>    </div><div class=" b-tree-twig  b-tree-twig-5 b-tree-twig-deep-0  " style="margin-left: 120px" data-tid="t243730">    <div id="t243730" class=" b-leaf        b-leaf-poster      b-leaf-full   comment p-comment " data-username="cgem" data-displayname="cgem" data-updated-ts="1180592508" data-full="1"> <div class=" b-leaf-inner svgpreloader svgpreloader-pseudo svgpreloader-16 "> <div class="b-leaf-header"> <div class="b-leaf-userpic"> <a href="https://cgem.livejournal.com/" target="_blank" class="b-leaf-userpic-inner" lj:user="cgem">   <img src="https://l-userpic.livejournal.com/54866244/5491637" alt="cgem" loading="lazy" title="marsalkka: win-opec">  </a> </div> <div class="b-leaf-details">   <p class="b-leaf-username"><span class="b-leaf-username-name"><span class="ljuser  i-ljuser  i-ljuser-type-P     " data-ljuser="cgem" lj:user="cgem"><a href="https://cgem.livejournal.com/profile" class="i-ljuser-profile" target="_self"><img class="i-ljuser-userhead" src="https://l-stat.livejournal.net/img/userinfo_v8.svg?v=17080?v=657"></a><a href="https://cgem.livejournal.com/" class="i-ljuser-username" target="_self"><b>cgem</b></a></span> </span>  </p> <p class="b-leaf-meta">  <a href="https://lacinka.livejournal.com/40978.html?thread=243730#t243730" class="b-leaf-permalink" target="_self"> <span class="b-leaf-createdtime">May 31 2007, 06:21:48 UTC</span> </a>   <span class="b-leaf-shorttime">15 years ago</span>   </p>           </div> </div>  <div class="b-leaf-article"> использовать знаки препинания для ввода букв нехорошо и неправильно. </div>   </div> </div>    </div><div class=" b-tree-twig  b-tree-twig-6 b-tree-twig-deep-0  " style="margin-left: 150px" data-tid="t244754">    <div id="t244754" class=" b-leaf            b-leaf-full   comment p-comment " data-username="ext_33113" data-displayname="Zołak [openid.pl]" data-updated-ts="1183813350" data-full="1"> <div class=" b-leaf-inner svgpreloader svgpreloader-pseudo svgpreloader-16 "> <div class="b-leaf-header"> <div class="b-leaf-userpic"> <a href="https://ext-33113.livejournal.com/" target="_blank" class="b-leaf-userpic-inner" lj:user="ext_33113">   <img src="https://l-stat.livejournal.net/img/userpics/userpic-user.png?v=15821" alt="ext_33113" loading="lazy">  </a> </div> <div class="b-leaf-details">   <p class="b-leaf-username"><span class="b-leaf-username-name"><span class="ljuser  i-ljuser  i-ljuser-deleted  i-ljuser-type-I     " data-ljuser="ext_33113" lj:user="ext_33113"><a href="https://www.livejournal.com/profile?userid=12305238&amp;t=I" class="i-ljuser-profile" target="_self"><img class="i-ljuser-userhead" src="https://l-stat.livejournal.net/img/social-icons/colored/openid.svg?v=5044?v=657"></a><a href="https://ext-33113.livejournal.com/" class="i-ljuser-username" target="_self"><b>ext_33113</b></a></span> </span>  </p> <p class="b-leaf-meta">  <a href="https://lacinka.livejournal.com/40978.html?thread=244754#t244754" class="b-leaf-permalink" target="_self"> <span class="b-leaf-createdtime">July 7 2007, 13:02:30 UTC</span> </a>   <span class="b-leaf-shorttime">15 years ago</span>   </p>           </div> </div>  <div class="b-leaf-article"> В смысле? </div>   </div> </div>    </div><div class=" b-tree-twig  b-tree-twig-7 b-tree-twig-deep-0  " style="margin-left: 180px" data-tid="t245010">    <div id="t245010" class=" b-leaf  b-leaf-collapsed        b-leaf-poster       comment p-comment " data-username="cgem" data-displayname="cgem" data-updated-ts="1183819659"> <div class=" b-leaf-inner svgpreloader svgpreloader-pseudo svgpreloader-16 "> <div class="b-leaf-header"> <div class="b-leaf-userpic"> <a href="https://cgem.livejournal.com/" target="_blank" class="b-leaf-userpic-inner" lj:user="cgem">   <img src="https://l-stat.livejournal.net/img/userpics/userpic-user.png?v=15821" alt="cgem" loading="lazy">  </a> </div> <div class="b-leaf-details">   <p class="b-leaf-username"><span class="b-leaf-username-name"><span class="ljuser  i-ljuser  i-ljuser-type-P     " data-ljuser="cgem" lj:user="cgem"><a href="https://cgem.livejournal.com/profile" class="i-ljuser-profile" target="_self"><img class="i-ljuser-userhead" src="https://l-stat.livejournal.net/img/userinfo_v8.svg?v=17080?v=657"></a><a href="https://cgem.livejournal.com/" class="i-ljuser-username" target="_self"><b>cgem</b></a></span> </span>  </p> <p class="b-leaf-meta">   <span class="b-leaf-shorttime">15 years ago</span>   </p>   </ul>    </div> </div>   </div> </div>    </div><div class=" b-tree-twig  b-tree-twig-4 b-tree-twig-deep-0  " style="margin-left: 90px" data-tid="t245266">    <div id="t245266" class=" b-leaf            b-leaf-full   comment p-comment " data-username="ext_33113" data-displayname="Zołak [openid.pl]" data-updated-ts="1183820999" data-full="1"> <div class=" b-leaf-inner svgpreloader svgpreloader-pseudo svgpreloader-16 "> <div class="b-leaf-header"> <div class="b-leaf-userpic"> <a href="https://ext-33113.livejournal.com/" target="_blank" class="b-leaf-userpic-inner" lj:user="ext_33113">   <img src="https://l-stat.livejournal.net/img/userpics/userpic-user.png?v=15821" alt="ext_33113" loading="lazy">  </a> </div> <div class="b-leaf-details">   <p class="b-leaf-username"><span class="b-leaf-username-name"><span class="ljuser  i-ljuser  i-ljuser-deleted  i-ljuser-type-I     " data-ljuser="ext_33113" lj:user="ext_33113"><a href="https://www.livejournal.com/profile?userid=12305238&amp;t=I" class="i-ljuser-profile" target="_self"><img class="i-ljuser-userhead" src="https://l-stat.livejournal.net/img/social-icons/colored/openid.svg?v=5044?v=657"></a><a href="https://ext-33113.livejournal.com/" class="i-ljuser-username" target="_self"><b>ext_33113</b></a></span> </span>  </p> <p class="b-leaf-meta">  <a href="https://lacinka.livejournal.com/40978.html?thread=245266#t245266" class="b-leaf-permalink" target="_self"> <span class="b-leaf-createdtime">July 7 2007, 15:09:59 UTC</span> </a>   <span class="b-leaf-shorttime">15 years ago</span>   </p>           </div> </div>  <div class="b-leaf-article"> Я извиняюсь, в m17n я не особо разбираюсь. У вас ничего тогда не вышло?  </div>   </div> </div>    </div><div class=" b-tree-twig  b-tree-twig-5 b-tree-twig-deep-0  " style="margin-left: 120px" data-tid="t245522">    <div id="t245522" class=" b-leaf        b-leaf-poster      b-leaf-full   comment p-comment " data-username="cgem" data-displayname="cgem" data-updated-ts="1183827381" data-full="1"> <div class=" b-leaf-inner svgpreloader svgpreloader-pseudo svgpreloader-16 "> <div class="b-leaf-header"> <div class="b-leaf-userpic"> <a href="https://cgem.livejournal.com/" target="_blank" class="b-leaf-userpic-inner" lj:user="cgem">   <img src="https://l-userpic.livejournal.com/54866244/5491637" alt="cgem" loading="lazy" title="marsalkka: win-opec">  </a> </div> <div class="b-leaf-details">   <p class="b-leaf-username"><span class="b-leaf-username-name"><span class="ljuser  i-ljuser  i-ljuser-type-P     " data-ljuser="cgem" lj:user="cgem"><a href="https://cgem.livejournal.com/profile" class="i-ljuser-profile" target="_self"><img class="i-ljuser-userhead" src="https://l-stat.livejournal.net/img/userinfo_v8.svg?v=17080?v=657"></a><a href="https://cgem.livejournal.com/" class="i-ljuser-username" target="_self"><b>cgem</b></a></span> </span>  </p> <p class="b-leaf-meta">  <a href="https://lacinka.livejournal.com/40978.html?thread=245522#t245522" class="b-leaf-permalink" target="_self"> <span class="b-leaf-createdtime">July 7 2007, 16:56:21 UTC</span> </a>   <span class="b-leaf-shorttime">15 years ago</span>   </p>           </div> </div>  <div class="b-leaf-article"> Я был очень бизи. Кстати, тот JavaScript нифига не работает. В финской раскладке, для того чтобы ввести ~ нужно нажать [AltGrey] + [~] и потом пробел, а чтобы левый апостроф [Shift] + [´] и потом пробел. Поэтому я бы охарактеризовал такую транслитерацию как весьма сомнительную. </div>   </div> </div>    </div><div class=" b-tree-twig  b-tree-twig-6 b-tree-twig-deep-0  " style="margin-left: 150px" data-tid="t250386">    <div id="t250386" class=" b-leaf  b-leaf-collapsed             comment p-comment " data-username="ext_33113" data-displayname="Zołak [openid.pl]" data-updated-ts="1183925604"> <div class=" b-leaf-inner svgpreloader svgpreloader-pseudo svgpreloader-16 "> <div class="b-leaf-header"> <div class="b-leaf-userpic"> <a href="https://ext-33113.livejournal.com/" target="_blank" class="b-leaf-userpic-inner" lj:user="ext_33113">   <img src="https://l-stat.livejournal.net/img/userpics/userpic-user.png?v=15821" alt="ext_33113" loading="lazy">  </a> </div> <div class="b-leaf-details">   <p class="b-leaf-username"><span class="b-leaf-username-name"><span class="ljuser  i-ljuser  i-ljuser-deleted  i-ljuser-type-I     " data-ljuser="ext_33113" lj:user="ext_33113"><a href="https://www.livejournal.com/profile?userid=12305238&amp;t=I" class="i-ljuser-profile" target="_self"><img class="i-ljuser-userhead" src="https://l-stat.livejournal.net/img/social-icons/colored/openid.svg?v=5044?v=657"></a><a href="https://ext-33113.livejournal.com/" class="i-ljuser-username" target="_self"><b>ext_33113</b></a></span> </span>  </p> <p class="b-leaf-meta">   <span class="b-leaf-shorttime">15 years ago</span>   </p>   </ul>    </div> </div>   </div> </div>    </div><div class=" b-tree-twig  b-tree-twig-5 b-tree-twig-deep-0  " style="margin-left: 120px" data-tid="t245778">    <div id="t245778" class=" b-leaf        b-leaf-poster      b-leaf-full   comment p-comment " data-username="cgem" data-displayname="cgem" data-updated-ts="1183827871" data-full="1"> <div class=" b-leaf-inner svgpreloader svgpreloader-pseudo svgpreloader-16 "> <div class="b-leaf-header"> <div class="b-leaf-userpic"> <a href="https://cgem.livejournal.com/" target="_blank" class="b-leaf-userpic-inner" lj:user="cgem">   <img src="https://l-userpic.livejournal.com/54866244/5491637" alt="cgem" loading="lazy" title="marsalkka: win-opec">  </a> </div> <div class="b-leaf-details">   <p class="b-leaf-username"><span class="b-leaf-username-name"><span class="ljuser  i-ljuser  i-ljuser-type-P     " data-ljuser="cgem" lj:user="cgem"><a href="https://cgem.livejournal.com/profile" class="i-ljuser-profile" target="_self"><img class="i-ljuser-userhead" src="https://l-stat.livejournal.net/img/userinfo_v8.svg?v=17080?v=657"></a><a href="https://cgem.livejournal.com/" class="i-ljuser-username" target="_self"><b>cgem</b></a></span> </span>  </p> <p class="b-leaf-meta">  <a href="https://lacinka.livejournal.com/40978.html?thread=245778#t245778" class="b-leaf-permalink" target="_self"> <span class="b-leaf-createdtime">July 7 2007, 17:04:31 UTC</span> </a>   <span class="b-leaf-shorttime">15 years ago</span>   </p>           </div> </div>  <div class="b-leaf-article"> в общем я сделал такую версию для m17n<br><a href="http://people.jyu.fi/~divanov/be-transliteration.mim" rel="nofollow" target="_self">http://people.jyu.fi/~divanov/be-transliteration.mim</a><br>она удобная и хорошо работает. </div>   </div> </div>    </div><div class=" b-tree-twig  b-tree-twig-6 b-tree-twig-deep-0  " style="margin-left: 150px" data-tid="t246034">    <div id="t246034" class=" b-leaf  b-leaf-collapsed             comment p-comment " data-username="ext_33113" data-displayname="Zołak [openid.pl]" data-updated-ts="1183830758"> <div class=" b-leaf-inner svgpreloader svgpreloader-pseudo svgpreloader-16 "> <div class="b-leaf-header"> <div class="b-leaf-userpic"> <a href="https://ext-33113.livejournal.com/" target="_blank" class="b-leaf-userpic-inner" lj:user="ext_33113">   <img src="https://l-stat.livejournal.net/img/userpics/userpic-user.png?v=15821" alt="ext_33113" loading="lazy">  </a> </div> <div class="b-leaf-details">   <p class="b-leaf-username"><span class="b-leaf-username-name"><span class="ljuser  i-ljuser  i-ljuser-deleted  i-ljuser-type-I     " data-ljuser="ext_33113" lj:user="ext_33113"><a href="https://www.livejournal.com/profile?userid=12305238&amp;t=I" class="i-ljuser-profile" target="_self"><img class="i-ljuser-userhead" src="https://l-stat.livejournal.net/img/social-icons/colored/openid.svg?v=5044?v=657"></a><a href="https://ext-33113.livejournal.com/" class="i-ljuser-username" target="_self"><b>ext_33113</b></a></span> </span>  </p> <p class="b-leaf-meta">   <span class="b-leaf-shorttime">15 years ago</span>   </p>   </ul>    </div> </div>   </div> </div>    </div><div class=" b-tree-twig  b-tree-twig-7 b-tree-twig-deep-0  " style="margin-left: 180px" data-tid="t246290">    <div id="t246290" class=" b-leaf  b-leaf-collapsed        b-leaf-poster       comment p-comment " data-username="cgem" data-displayname="cgem" data-updated-ts="1183894109"> <div class=" b-leaf-inner svgpreloader svgpreloader-pseudo svgpreloader-16 "> <div class="b-leaf-header"> <div class="b-leaf-userpic"> <a href="https://cgem.livejournal.com/" target="_blank" class="b-leaf-userpic-inner" lj:user="cgem">   <img src="https://l-stat.livejournal.net/img/userpics/userpic-user.png?v=15821" alt="cgem" loading="lazy">  </a> </div> <div class="b-leaf-details">   <p class="b-leaf-username"><span class="b-leaf-username-name"><span class="ljuser  i-ljuser  i-ljuser-type-P     " data-ljuser="cgem" lj:user="cgem"><a href="https://cgem.livejournal.com/profile" class="i-ljuser-profile" target="_self"><img class="i-ljuser-userhead" src="https://l-stat.livejournal.net/img/userinfo_v8.svg?v=17080?v=657"></a><a href="https://cgem.livejournal.com/" class="i-ljuser-username" target="_self"><b>cgem</b></a></span> </span>  </p> <p class="b-leaf-meta">   <span class="b-leaf-shorttime">15 years ago</span>   </p>   </ul>    </div> </div>   </div> </div>    </div><div class=" b-tree-twig  b-tree-twig-8 b-tree-twig-deep-0  " style="margin-left: 210px" data-tid="t246546">    <div id="t246546" class=" b-leaf  b-leaf-collapsed             comment p-comment " data-username="ext_33113" data-displayname="Zołak [openid.pl]" data-updated-ts="1183895733"> <div class=" b-leaf-inner svgpreloader svgpreloader-pseudo svgpreloader-16 "> <div class="b-leaf-header"> <div class="b-leaf-userpic"> <a href="https://ext-33113.livejournal.com/" target="_blank" class="b-leaf-userpic-inner" lj:user="ext_33113">   <img src="https://l-stat.livejournal.net/img/userpics/userpic-user.png?v=15821" alt="ext_33113" loading="lazy">  </a> </div> <div class="b-leaf-details">   <p class="b-leaf-username"><span class="b-leaf-username-name"><span class="ljuser  i-ljuser  i-ljuser-deleted  i-ljuser-type-I     " data-ljuser="ext_33113" lj:user="ext_33113"><a href="https://www.livejournal.com/profile?userid=12305238&amp;t=I" class="i-ljuser-profile" target="_self"><img class="i-ljuser-userhead" src="https://l-stat.livejournal.net/img/social-icons/colored/openid.svg?v=5044?v=657"></a><a href="https://ext-33113.livejournal.com/" class="i-ljuser-username" target="_self"><b>ext_33113</b></a></span> </span>  </p> <p class="b-leaf-meta">   <span class="b-leaf-shorttime">15 years ago</span>   </p>   </ul>    </div> </div>   </div> </div>    </div><div class=" b-tree-twig  b-tree-twig-8 b-tree-twig-deep-0  " style="margin-left: 210px" data-tid="t246802">    <div id="t246802" class=" b-leaf  b-leaf-collapsed             comment p-comment " data-username="ext_33113" data-displayname="Zołak [openid.pl]" data-updated-ts="1183896241"> <div class=" b-leaf-inner svgpreloader svgpreloader-pseudo svgpreloader-16 "> <div class="b-leaf-header"> <div class="b-leaf-userpic"> <a href="https://ext-33113.livejournal.com/" target="_blank" class="b-leaf-userpic-inner" lj:user="ext_33113">   <img src="https://l-stat.livejournal.net/img/userpics/userpic-user.png?v=15821" alt="ext_33113" loading="lazy">  </a> </div> <div class="b-leaf-details">   <p class="b-leaf-username"><span class="b-leaf-username-name"><span class="ljuser  i-ljuser  i-ljuser-deleted  i-ljuser-type-I     " data-ljuser="ext_33113" lj:user="ext_33113"><a href="https://www.livejournal.com/profile?userid=12305238&amp;t=I" class="i-ljuser-profile" target="_self"><img class="i-ljuser-userhead" src="https://l-stat.livejournal.net/img/social-icons/colored/openid.svg?v=5044?v=657"></a><a href="https://ext-33113.livejournal.com/" class="i-ljuser-username" target="_self"><b>ext_33113</b></a></span> </span>  </p> <p class="b-leaf-meta">   <span class="b-leaf-shorttime">15 years ago</span>   </p>   </ul>    </div> </div>   </div> </div>    </div><div class=" b-tree-twig  b-tree-twig-9 b-tree-twig-deep-0  " style="margin-left: 240px" data-tid="t247058">    <div id="t247058" class=" b-leaf  b-leaf-collapsed        b-leaf-poster       comment p-comment " data-username="cgem" data-displayname="cgem" data-updated-ts="1183896567"> <div class=" b-leaf-inner svgpreloader svgpreloader-pseudo svgpreloader-16 "> <div class="b-leaf-header"> <div class="b-leaf-userpic"> <a href="https://cgem.livejournal.com/" target="_blank" class="b-leaf-userpic-inner" lj:user="cgem">   <img src="https://l-stat.livejournal.net/img/userpics/userpic-user.png?v=15821" alt="cgem" loading="lazy">  </a> </div> <div class="b-leaf-details">   <p class="b-leaf-username"><span class="b-leaf-username-name"><span class="ljuser  i-ljuser  i-ljuser-type-P     " data-ljuser="cgem" lj:user="cgem"><a href="https://cgem.livejournal.com/profile" class="i-ljuser-profile" target="_self"><img class="i-ljuser-userhead" src="https://l-stat.livejournal.net/img/userinfo_v8.svg?v=17080?v=657"></a><a href="https://cgem.livejournal.com/" class="i-ljuser-username" target="_self"><b>cgem</b></a></span> </span>  </p> <p class="b-leaf-meta">   <span class="b-leaf-shorttime">15 years ago</span>   </p>   </ul>    </div> </div>   </div> </div>    </div><div class=" b-tree-twig  b-tree-twig-10 b-tree-twig-deep-10  " style="margin-left: 270px" data-tid="t247314">    <div id="t247314" class=" b-leaf  b-leaf-collapsed             comment p-comment " data-username="ext_33113" data-displayname="Zołak [openid.pl]" data-updated-ts="1183902320"> <div class=" b-leaf-inner svgpreloader svgpreloader-pseudo svgpreloader-16 "> <div class="b-leaf-header"> <div class="b-leaf-userpic"> <a href="https://ext-33113.livejournal.com/" target="_blank" class="b-leaf-userpic-inner" lj:user="ext_33113">   <img src="https://l-stat.livejournal.net/img/userpics/userpic-user.png?v=15821" alt="ext_33113" loading="lazy">  </a> </div> <div class="b-leaf-details">   <p class="b-leaf-username"><span class="b-leaf-username-name"><span class="ljuser  i-ljuser  i-ljuser-deleted  i-ljuser-type-I     " data-ljuser="ext_33113" lj:user="ext_33113"><a href="https://www.livejournal.com/profile?userid=12305238&amp;t=I" class="i-ljuser-profile" target="_self"><img class="i-ljuser-userhead" src="https://l-stat.livejournal.net/img/social-icons/colored/openid.svg?v=5044?v=657"></a><a href="https://ext-33113.livejournal.com/" class="i-ljuser-username" target="_self"><b>ext_33113</b></a></span> </span>  </p> <p class="b-leaf-meta">   <span class="b-leaf-shorttime">15 years ago</span>   </p>   </ul>    </div> </div>   </div> </div>    </div><div class=" b-tree-twig  b-tree-twig-11 b-tree-twig-deep-10  " style="margin-left: 300px" data-tid="t247570">    <div id="t247570" class=" b-leaf  b-leaf-collapsed             comment p-comment " data-username="ex_biespart" data-displayname="ex_biespart" data-updated-ts="1183902526"> <div class=" b-leaf-inner svgpreloader svgpreloader-pseudo svgpreloader-16 "> <div class="b-leaf-header"> <div class="b-leaf-userpic"> <a href="https://ex-biespart.livejournal.com/" target="_blank" class="b-leaf-userpic-inner" lj:user="ex_biespart">   <img src="https://l-stat.livejournal.net/img/userpics/userpic-user.png?v=15821" alt="ex_biespart" loading="lazy">  </a> </div> <div class="b-leaf-details">   <p class="b-leaf-username"><span class="b-leaf-username-name"><span class="ljuser  i-ljuser  i-ljuser-deleted  i-ljuser-type-P     " data-ljuser="ex_biespart" lj:user="ex_biespart"><a href="https://ex-biespart.livejournal.com/profile" class="i-ljuser-profile" target="_self"><img class="i-ljuser-userhead" src="https://l-stat.livejournal.net/img/userinfo_v8.svg?v=17080?v=657"></a><a href="https://ex-biespart.livejournal.com/" class="i-ljuser-username" target="_self"><b>ex_biespart</b></a></span> </span>  </p> <p class="b-leaf-meta">   <span class="b-leaf-shorttime">15 years ago</span>   </p>   </ul>    </div> </div>   </div> </div>    </div><div class=" b-tree-twig  b-tree-twig-12 b-tree-twig-deep-10  " style="margin-left: 330px" data-tid="t247826">    <div id="t247826" class=" b-leaf  b-leaf-collapsed             comment p-comment " data-username="ext_33113" data-displayname="Zołak [openid.pl]" data-updated-ts="1183904026"> <div class=" b-leaf-inner svgpreloader svgpreloader-pseudo svgpreloader-16 "> <div class="b-leaf-header"> <div class="b-leaf-userpic"> <a href="https://ext-33113.livejournal.com/" target="_blank" class="b-leaf-userpic-inner" lj:user="ext_33113">   <img src="https://l-stat.livejournal.net/img/userpics/userpic-user.png?v=15821" alt="ext_33113" loading="lazy">  </a> </div> <div class="b-leaf-details">   <p class="b-leaf-username"><span class="b-leaf-username-name"><span class="ljuser  i-ljuser  i-ljuser-deleted  i-ljuser-type-I     " data-ljuser="ext_33113" lj:user="ext_33113"><a href="https://www.livejournal.com/profile?userid=12305238&amp;t=I" class="i-ljuser-profile" target="_self"><img class="i-ljuser-userhead" src="https://l-stat.livejournal.net/img/social-icons/colored/openid.svg?v=5044?v=657"></a><a href="https://ext-33113.livejournal.com/" class="i-ljuser-username" target="_self"><b>ext_33113</b></a></span> </span>  </p> <p class="b-leaf-meta">   <span class="b-leaf-shorttime">15 years ago</span>   </p>   </ul>    </div> </div>   </div> </div>    </div><div class=" b-tree-twig  b-tree-twig-13 b-tree-twig-deep-10  " style="margin-left: 360px" data-tid="t248082">    <div id="t248082" class=" b-leaf  b-leaf-collapsed             comment p-comment " data-username="ex_biespart" data-displayname="ex_biespart" data-updated-ts="1183904399"> <div class=" b-leaf-inner svgpreloader svgpreloader-pseudo svgpreloader-16 "> <div class="b-leaf-header"> <div class="b-leaf-userpic"> <a href="https://ex-biespart.livejournal.com/" target="_blank" class="b-leaf-userpic-inner" lj:user="ex_biespart">   <img src="https://l-stat.livejournal.net/img/userpics/userpic-user.png?v=15821" alt="ex_biespart" loading="lazy">  </a> </div> <div class="b-leaf-details">   <p class="b-leaf-username"><span class="b-leaf-username-name"><span class="ljuser  i-ljuser  i-ljuser-deleted  i-ljuser-type-P     " data-ljuser="ex_biespart" lj:user="ex_biespart"><a href="https://ex-biespart.livejournal.com/profile" class="i-ljuser-profile" target="_self"><img class="i-ljuser-userhead" src="https://l-stat.livejournal.net/img/userinfo_v8.svg?v=17080?v=657"></a><a href="https://ex-biespart.livejournal.com/" class="i-ljuser-username" target="_self"><b>ex_biespart</b></a></span> </span>  </p> <p class="b-leaf-meta">   <span class="b-leaf-shorttime">15 years ago</span>   </p>   </ul>    </div> </div>   </div> </div>    </div><div class=" b-tree-twig  b-tree-twig-11 b-tree-twig-deep-10  " style="margin-left: 300px" data-tid="t248338">    <div id="t248338" class=" b-leaf  b-leaf-collapsed        b-leaf-poster       comment p-comment " data-username="cgem" data-displayname="cgem" data-updated-ts="1183906333"> <div class=" b-leaf-inner svgpreloader svgpreloader-pseudo svgpreloader-16 "> <div class="b-leaf-header"> <div class="b-leaf-userpic"> <a href="https://cgem.livejournal.com/" target="_blank" class="b-leaf-userpic-inner" lj:user="cgem">   <img src="https://l-stat.livejournal.net/img/userpics/userpic-user.png?v=15821" alt="cgem" loading="lazy">  </a> </div> <div class="b-leaf-details">   <p class="b-leaf-username"><span class="b-leaf-username-name"><span class="ljuser  i-ljuser  i-ljuser-type-P     " data-ljuser="cgem" lj:user="cgem"><a href="https://cgem.livejournal.com/profile" class="i-ljuser-profile" target="_self"><img class="i-ljuser-userhead" src="https://l-stat.livejournal.net/img/userinfo_v8.svg?v=17080?v=657"></a><a href="https://cgem.livejournal.com/" class="i-ljuser-username" target="_self"><b>cgem</b></a></span> </span>  </p> <p class="b-leaf-meta">   <span class="b-leaf-shorttime">15 years ago</span>   </p>   </ul>    </div> </div>   </div> </div>    </div><div class=" b-tree-twig  b-tree-twig-12 b-tree-twig-deep-10  " style="margin-left: 330px" data-tid="t248594">    <div id="t248594" class=" b-leaf  b-leaf-collapsed             comment p-comment " data-username="ext_33113" data-displayname="Zołak [openid.pl]" data-updated-ts="1183908204"> <div class=" b-leaf-inner svgpreloader svgpreloader-pseudo svgpreloader-16 "> <div class="b-leaf-header"> <div class="b-leaf-userpic"> <a href="https://ext-33113.livejournal.com/" target="_blank" class="b-leaf-userpic-inner" lj:user="ext_33113">   <img src="https://l-stat.livejournal.net/img/userpics/userpic-user.png?v=15821" alt="ext_33113" loading="lazy">  </a> </div> <div class="b-leaf-details">   <p class="b-leaf-username"><span class="b-leaf-username-name"><span class="ljuser  i-ljuser  i-ljuser-deleted  i-ljuser-type-I     " data-ljuser="ext_33113" lj:user="ext_33113"><a href="https://www.livejournal.com/profile?userid=12305238&amp;t=I" class="i-ljuser-profile" target="_self"><img class="i-ljuser-userhead" src="https://l-stat.livejournal.net/img/social-icons/colored/openid.svg?v=5044?v=657"></a><a href="https://ext-33113.livejournal.com/" class="i-ljuser-username" target="_self"><b>ext_33113</b></a></span> </span>  </p> <p class="b-leaf-meta">   <span class="b-leaf-shorttime">15 years ago</span>   </p>   </ul>    </div> </div>   </div> </div>    </div><div class=" b-tree-twig  b-tree-twig-13 b-tree-twig-deep-10  " style="margin-left: 360px" data-tid="t248850">    <div id="t248850" class=" b-leaf  b-leaf-collapsed        b-leaf-poster       comment p-comment " data-username="cgem" data-displayname="cgem" data-updated-ts="1183908738"> <div class=" b-leaf-inner svgpreloader svgpreloader-pseudo svgpreloader-16 "> <div class="b-leaf-header"> <div class="b-leaf-userpic"> <a href="https://cgem.livejournal.com/" target="_blank" class="b-leaf-userpic-inner" lj:user="cgem">   <img src="https://l-stat.livejournal.net/img/userpics/userpic-user.png?v=15821" alt="cgem" loading="lazy">  </a> </div> <div class="b-leaf-details">   <p class="b-leaf-username"><span class="b-leaf-username-name"><span class="ljuser  i-ljuser  i-ljuser-type-P     " data-ljuser="cgem" lj:user="cgem"><a href="https://cgem.livejournal.com/profile" class="i-ljuser-profile" target="_self"><img class="i-ljuser-userhead" src="https://l-stat.livejournal.net/img/userinfo_v8.svg?v=17080?v=657"></a><a href="https://cgem.livejournal.com/" class="i-ljuser-username" target="_self"><b>cgem</b></a></span> </span>  </p> <p class="b-leaf-meta">   <span class="b-leaf-shorttime">15 years ago</span>   </p>   </ul>    </div> </div>   </div> </div>    </div><div class=" b-tree-twig  b-tree-twig-14 b-tree-twig-deep-10  " style="margin-left: 390px" data-tid="t249106">    <div id="t249106" class=" b-leaf  b-leaf-collapsed             comment p-comment " data-username="ext_33113" data-displayname="Zołak [openid.pl]" data-updated-ts="1183909102"> <div class=" b-leaf-inner svgpreloader svgpreloader-pseudo svgpreloader-16 "> <div class="b-leaf-header"> <div class="b-leaf-userpic"> <a href="https://ext-33113.livejournal.com/" target="_blank" class="b-leaf-userpic-inner" lj:user="ext_33113">   <img src="https://l-stat.livejournal.net/img/userpics/userpic-user.png?v=15821" alt="ext_33113" loading="lazy">  </a> </div> <div class="b-leaf-details">   <p class="b-leaf-username"><span class="b-leaf-username-name"><span class="ljuser  i-ljuser  i-ljuser-deleted  i-ljuser-type-I     " data-ljuser="ext_33113" lj:user="ext_33113"><a href="https://www.livejournal.com/profile?userid=12305238&amp;t=I" class="i-ljuser-profile" target="_self"><img class="i-ljuser-userhead" src="https://l-stat.livejournal.net/img/social-icons/colored/openid.svg?v=5044?v=657"></a><a href="https://ext-33113.livejournal.com/" class="i-ljuser-username" target="_self"><b>ext_33113</b></a></span> </span>  </p> <p class="b-leaf-meta">   <span class="b-leaf-shorttime">15 years ago</span>   </p>   </ul>    </div> </div>   </div> </div>    </div><div class=" b-tree-twig  b-tree-twig-15 b-tree-twig-deep-10  " style="margin-left: 420px" data-tid="t249362">    <div id="t249362" class=" b-leaf  b-leaf-collapsed        b-leaf-poster       comment p-comment " data-username="cgem" data-displayname="cgem" data-updated-ts="1183914295"> <div class=" b-leaf-inner svgpreloader svgpreloader-pseudo svgpreloader-16 "> <div class="b-leaf-header"> <div class="b-leaf-userpic"> <a href="https://cgem.livejournal.com/" target="_blank" class="b-leaf-userpic-inner" lj:user="cgem">   <img src="https://l-stat.livejournal.net/img/userpics/userpic-user.png?v=15821" alt="cgem" loading="lazy">  </a> </div> <div class="b-leaf-details">   <p class="b-leaf-username"><span class="b-leaf-username-name"><span class="ljuser  i-ljuser  i-ljuser-type-P     " data-ljuser="cgem" lj:user="cgem"><a href="https://cgem.livejournal.com/profile" class="i-ljuser-profile" target="_self"><img class="i-ljuser-userhead" src="https://l-stat.livejournal.net/img/userinfo_v8.svg?v=17080?v=657"></a><a href="https://cgem.livejournal.com/" class="i-ljuser-username" target="_self"><b>cgem</b></a></span> </span>  </p> <p class="b-leaf-meta">   <span class="b-leaf-shorttime">15 years ago</span>   </p>   </ul>    </div> </div>   </div> </div>    </div><div class=" b-tree-twig  b-tree-twig-16 b-tree-twig-deep-10  " style="margin-left: 450px" data-tid="t249618">    <div id="t249618" class=" b-leaf  b-leaf-collapsed        b-leaf-poster       comment p-comment " data-username="cgem" data-displayname="cgem" data-updated-ts="1183914378"> <div class=" b-leaf-inner svgpreloader svgpreloader-pseudo svgpreloader-16 "> <div class="b-leaf-header"> <div class="b-leaf-userpic"> <a href="https://cgem.livejournal.com/" target="_blank" class="b-leaf-userpic-inner" lj:user="cgem">   <img src="https://l-stat.livejournal.net/img/userpics/userpic-user.png?v=15821" alt="cgem" loading="lazy">  </a> </div> <div class="b-leaf-details">   <p class="b-leaf-username"><span class="b-leaf-username-name"><span class="ljuser  i-ljuser  i-ljuser-type-P     " data-ljuser="cgem" lj:user="cgem"><a href="https://cgem.livejournal.com/profile" class="i-ljuser-profile" target="_self"><img class="i-ljuser-userhead" src="https://l-stat.livejournal.net/img/userinfo_v8.svg?v=17080?v=657"></a><a href="https://cgem.livejournal.com/" class="i-ljuser-username" target="_self"><b>cgem</b></a></span> </span>  </p> <p class="b-leaf-meta">   <span class="b-leaf-shorttime">15 years ago</span>   </p>   </ul>    </div> </div>   </div> </div>    </div><div class=" b-tree-twig  b-tree-twig-17 b-tree-twig-deep-10  " style="margin-left: 480px" data-tid="t249874">    <div id="t249874" class=" b-leaf  b-leaf-collapsed             comment p-comment " data-username="ex_biespart" data-displayname="ex_biespart" data-updated-ts="1183914972"> <div class=" b-leaf-inner svgpreloader svgpreloader-pseudo svgpreloader-16 "> <div class="b-leaf-header"> <div class="b-leaf-userpic"> <a href="https://ex-biespart.livejournal.com/" target="_blank" class="b-leaf-userpic-inner" lj:user="ex_biespart">   <img src="https://l-stat.livejournal.net/img/userpics/userpic-user.png?v=15821" alt="ex_biespart" loading="lazy">  </a> </div> <div class="b-leaf-details">   <p class="b-leaf-username"><span class="b-leaf-username-name"><span class="ljuser  i-ljuser  i-ljuser-deleted  i-ljuser-type-P     " data-ljuser="ex_biespart" lj:user="ex_biespart"><a href="https://ex-biespart.livejournal.com/profile" class="i-ljuser-profile" target="_self"><img class="i-ljuser-userhead" src="https://l-stat.livejournal.net/img/userinfo_v8.svg?v=17080?v=657"></a><a href="https://ex-biespart.livejournal.com/" class="i-ljuser-username" target="_self"><b>ex_biespart</b></a></span> </span>  </p> <p class="b-leaf-meta">   <span class="b-leaf-shorttime">15 years ago</span>   </p>   </ul>    </div> </div>   </div> </div>    </div><div class=" b-tree-twig  b-tree-twig-18 b-tree-twig-deep-10  " style="margin-left: 510px" data-tid="t250642">    <div id="t250642" class=" b-leaf  b-leaf-collapsed        b-leaf-poster       comment p-comment " data-username="cgem" data-displayname="cgem" data-updated-ts="1183961490"> <div class=" b-leaf-inner svgpreloader svgpreloader-pseudo svgpreloader-16 "> <div class="b-leaf-header"> <div class="b-leaf-userpic"> <a href="https://cgem.livejournal.com/" target="_blank" class="b-leaf-userpic-inner" lj:user="cgem">   <img src="https://l-stat.livejournal.net/img/userpics/userpic-user.png?v=15821" alt="cgem" loading="lazy">  </a> </div> <div class="b-leaf-details">   <p class="b-leaf-username"><span class="b-leaf-username-name"><span class="ljuser  i-ljuser  i-ljuser-type-P     " data-ljuser="cgem" lj:user="cgem"><a href="https://cgem.livejournal.com/profile" class="i-ljuser-profile" target="_self"><img class="i-ljuser-userhead" src="https://l-stat.livejournal.net/img/userinfo_v8.svg?v=17080?v=657"></a><a href="https://cgem.livejournal.com/" class="i-ljuser-username" target="_self"><b>cgem</b></a></span> </span>  </p> <p class="b-leaf-meta">   <span class="b-leaf-shorttime">15 years ago</span>   </p>   </ul>    </div> </div>   </div> </div>    </div><div class=" b-tree-twig  b-tree-twig-19 b-tree-twig-deep-10  " style="margin-left: 540px" data-tid="t250898">    <div id="t250898" class=" b-leaf  b-leaf-collapsed             comment p-comment " data-username="ex_biespart" data-displayname="ex_biespart" data-updated-ts="1183968767"> <div class=" b-leaf-inner svgpreloader svgpreloader-pseudo svgpreloader-16 "> <div class="b-leaf-header"> <div class="b-leaf-userpic"> <a href="https://ex-biespart.livejournal.com/" target="_blank" class="b-leaf-userpic-inner" lj:user="ex_biespart">   <img src="https://l-stat.livejournal.net/img/userpics/userpic-user.png?v=15821" alt="ex_biespart" loading="lazy">  </a> </div> <div class="b-leaf-details">   <p class="b-leaf-username"><span class="b-leaf-username-name"><span class="ljuser  i-ljuser  i-ljuser-deleted  i-ljuser-type-P     " data-ljuser="ex_biespart" lj:user="ex_biespart"><a href="https://ex-biespart.livejournal.com/profile" class="i-ljuser-profile" target="_self"><img class="i-ljuser-userhead" src="https://l-stat.livejournal.net/img/userinfo_v8.svg?v=17080?v=657"></a><a href="https://ex-biespart.livejournal.com/" class="i-ljuser-username" target="_self"><b>ex_biespart</b></a></span> </span>  </p> <p class="b-leaf-meta">   <span class="b-leaf-shorttime">15 years ago</span>   </p>   </ul>    </div> </div>   </div> </div>    </div><div class=" b-tree-twig  b-tree-twig-20 b-tree-twig-deep-20  " style="margin-left: 570px" data-tid="t251154">    <div id="t251154" class=" b-leaf  b-leaf-collapsed        b-leaf-poster       comment p-comment " data-username="cgem" data-displayname="cgem" data-updated-ts="1183970083"> <div class=" b-leaf-inner svgpreloader svgpreloader-pseudo svgpreloader-16 "> <div class="b-leaf-header"> <div class="b-leaf-userpic"> <a href="https://cgem.livejournal.com/" target="_blank" class="b-leaf-userpic-inner" lj:user="cgem">   <img src="https://l-stat.livejournal.net/img/userpics/userpic-user.png?v=15821" alt="cgem" loading="lazy">  </a> </div> <div class="b-leaf-details">   <p class="b-leaf-username"><span class="b-leaf-username-name"><span class="ljuser  i-ljuser  i-ljuser-type-P     " data-ljuser="cgem" lj:user="cgem"><a href="https://cgem.livejournal.com/profile" class="i-ljuser-profile" target="_self"><img class="i-ljuser-userhead" src="https://l-stat.livejournal.net/img/userinfo_v8.svg?v=17080?v=657"></a><a href="https://cgem.livejournal.com/" class="i-ljuser-username" target="_self"><b>cgem</b></a></span> </span>  </p> <p class="b-leaf-meta">   <span class="b-leaf-shorttime">15 years ago</span>   </p>   </ul>    </div> </div>   </div> </div>    </div><div class=" b-tree-twig  b-tree-twig-21 b-tree-twig-deep-20  " style="margin-left: 600px" data-tid="t251410">    <div id="t251410" class=" b-leaf  b-leaf-collapsed             comment p-comment " data-username="ex_biespart" data-displayname="ex_biespart" data-updated-ts="1183978352"> <div class=" b-leaf-inner svgpreloader svgpreloader-pseudo svgpreloader-16 "> <div class="b-leaf-header"> <div class="b-leaf-userpic"> <a href="https://ex-biespart.livejournal.com/" target="_blank" class="b-leaf-userpic-inner" lj:user="ex_biespart">   <img src="https://l-stat.livejournal.net/img/userpics/userpic-user.png?v=15821" alt="ex_biespart" loading="lazy">  </a> </div> <div class="b-leaf-details">   <p class="b-leaf-username"><span class="b-leaf-username-name"><span class="ljuser  i-ljuser  i-ljuser-deleted  i-ljuser-type-P     " data-ljuser="ex_biespart" lj:user="ex_biespart"><a href="https://ex-biespart.livejournal.com/profile" class="i-ljuser-profile" target="_self"><img class="i-ljuser-userhead" src="https://l-stat.livejournal.net/img/userinfo_v8.svg?v=17080?v=657"></a><a href="https://ex-biespart.livejournal.com/" class="i-ljuser-username" target="_self"><b>ex_biespart</b></a></span> </span>  </p> <p class="b-leaf-meta">   <span class="b-leaf-shorttime">15 years ago</span>   </p>   </ul>    </div> </div>   </div> </div>    </div><div class=" b-tree-twig  b-tree-twig-17 b-tree-twig-deep-10  " style="margin-left: 480px" data-tid="t250130">    <div id="t250130" class=" b-leaf  b-leaf-collapsed             comment p-comment " data-username="ext_33113" data-displayname="Zołak [openid.pl]" data-updated-ts="1183915850"> <div class=" b-leaf-inner svgpreloader svgpreloader-pseudo svgpreloader-16 "> <div class="b-leaf-header"> <div class="b-leaf-userpic"> <a href="https://ext-33113.livejournal.com/" target="_blank" class="b-leaf-userpic-inner" lj:user="ext_33113">   <img src="https://l-stat.livejournal.net/img/userpics/userpic-user.png?v=15821" alt="ext_33113" loading="lazy">  </a> </div> <div class="b-leaf-details">   <p class="b-leaf-username"><span class="b-leaf-username-name"><span class="ljuser  i-ljuser  i-ljuser-deleted  i-ljuser-type-I     " data-ljuser="ext_33113" lj:user="ext_33113"><a href="https://www.livejournal.com/profile?userid=12305238&amp;t=I" class="i-ljuser-profile" target="_self"><img class="i-ljuser-userhead" src="https://l-stat.livejournal.net/img/social-icons/colored/openid.svg?v=5044?v=657"></a><a href="https://ext-33113.livejournal.com/" class="i-ljuser-username" target="_self"><b>ext_33113</b></a></span> </span>  </p> <p class="b-leaf-meta">   <span class="b-leaf-shorttime">15 years ago</span>   </p>   </ul>    </div> </div>   </div> </div>    </div></div>     <div prev-next-nav=""></div> <div suggestion-for-unlogged="" class="ng-isolate-scope"><!-- ngIf: directive.isBlockVisible --></div>   </div>         
