---
id: 41778
layout: page
date: 2022-10-16
---


<!-- s-body -->
        <div class="s-body">

            <!-- use header -->
            <!-- /use header -->

            <!-- Content -->
             <article class="b-singlepost hentry h-entry js-emojis  b-singlepost-mobileadaptive  b-singlepost-withbodybanner  ng-scope" role="main" ng-app="Entry"> <div class="b-singlepost-qrcode  ng-isolate-scope" lj-qrcode="https://lacinka.livejournal.com/41778.html" lj-qrcode-width="70" lj-qrcode-height="70"> <canvas width="70" height="70"></canvas></div> <div class="b-singlepost-about"> <dl class=" b-singlepost-author author vcard p-author h-card " ng-non-bindable=""> <dt class=" b-singlepost-author-userpic photo u-photo " lj:user="zedlik">  <img src="https://l-userpic.livejournal.com/100856678/3643836" width="100" height="100" align="absmiddle" title="zedlik: грын" alt="">  </dt> <dd class="b-singlepost-author-userinfo"> <div class="b-singlepost-author-userinfo-screen"> <span class=" b-singlepost-author-user fn p-name "> <span class="b-singlepost-author-user-screen"> zedlik (<span class="ljuser  i-ljuser  i-ljuser-type-P     " data-ljuser="zedlik" lj:user="zedlik"><a href="https://zedlik.livejournal.com/profile" target="_self" class="i-ljuser-profile"><img class="i-ljuser-userhead" src="https://l-stat.livejournal.net/img/userinfo_v8.svg?v=17080?v=657"></a><a href="https://zedlik.livejournal.com/" class="i-ljuser-username" target="_self"><b>zedlik</b></a></span>) wrote in <span class="ljuser  i-ljuser  i-ljuser-type-C     " data-ljuser="lacinka" lj:user="lacinka"><a href="https://lacinka.livejournal.com/profile" target="_self" class="i-ljuser-profile"><img class="i-ljuser-userhead" src="https://l-stat.livejournal.net/img/community.gif?v=556?v=657"></a><a href="https://lacinka.livejournal.com/" class="i-ljuser-username" target="_self"><b>lacinka</b></a></span>, </span> </span> <br> <time class=" b-singlepost-author-date published dt-published "><a href="https://lacinka.livejournal.com/2007/" target="_self">2007</a>-<a href="https://lacinka.livejournal.com/2007/05/" target="_self">05</a>-<a href="https://lacinka.livejournal.com/2007/05/24/" target="_self">24</a> 16:53:00</time>   </div> <div class="b-singlepost-author-userinfo-print"> <span class=" b-singlepost-author-user fn p-name "> zedlik<br> <span class="ljuser  i-ljuser  i-ljuser-type-P     " data-ljuser="zedlik" lj:user="zedlik"><a href="https://zedlik.livejournal.com/profile" target="_self" class="i-ljuser-profile"><img class="i-ljuser-userhead" src="https://l-stat.livejournal.net/img/userinfo_v8.svg?v=17080?v=657"></a><a href="https://zedlik.livejournal.com/" class="i-ljuser-username" target="_self"><b>zedlik</b></a></span>  <br><span class="ljuser  i-ljuser  i-ljuser-type-C     " data-ljuser="lacinka" lj:user="lacinka"><a href="https://lacinka.livejournal.com/profile" target="_self" class="i-ljuser-profile"><img class="i-ljuser-userhead" src="https://l-stat.livejournal.net/img/community.gif?v=556?v=657"></a><a href="https://lacinka.livejournal.com/" class="i-ljuser-username" target="_self"><b>lacinka</b></a></span>  </span> <br> <time class=" b-singlepost-author-date published dt-published "><a href="https://lacinka.livejournal.com/2007/" target="_self">2007</a>-<a href="https://lacinka.livejournal.com/2007/05/" target="_self">05</a>-<a href="https://lacinka.livejournal.com/2007/05/24/" target="_self">24</a> 16:53:00</time> </div> </dd> </dl>  </div>    <div class="b-singlepost-wrapper">  <h1 class=" b-singlepost-title entry-title p-name " ng-non-bindable="">      Biełaruski alfabet  </h1>  <div class="b-singlepost-bodywrapper">  <article class="b-singlepost-body entry-content e-content   ng-scope" lj-sale-entry="" lj-discovery-tags="" lj-embed-resizer=""> Metadam paraŭnalnaha analizu filolahami byŭ vyznačany śpis litaraŭ, jakija musiać uvachodzić u biełaruskuju abecedu. Biełaruski alfabet pavinien składacca z 28 litaraŭ:<br><br><b>Aa Bb Cc Čč Dd Ee Ff Gg Hh Ii Jj Kk Ll Łł Mm Nn Oo Pr Rr Ss Šš Tt Uu Ŭŭ Vv Yy Zz Žž</b><br><br>Dadatkova jsnujuć:<br><b>Ć</b>, <b>Ś</b>, <b>Ń</b>, <b>Ź</b> – miakkija varyjanty asnoŭnych litar;<br><b>Dz</b>, <b>Dź</b>, <b>Dž</b> – afrykaty, pieradavanyja dyhfaram;<br><b>Ch</b> – huk, pieradavany dyhrafam.<br><br><a href="http://my.opera.com/Zołak/blog/abeceda" rel="nofollow" target="_self">http://my.opera.com/Zołak/blog/abeceda</a>  <div class="l0qq2c"></div></article> <div lj0sale0height="600" lj0sale0window0min="1200" lj0sale0window0max="9999" lj0sale0hide0cookie="s1_rightbanner_closed" class="ljsale ljsale--empty b-singlepost-bodybanner ng-isolate-scope" lj0sale0not0init="s1_right"><div class="ljsale__inner">

    <div class="allbanners ">

        <!-- ngIf: directive.customId -->
        <div id="">

          <!-- ngIf: directive.type -->
        
        </div>

        <!-- ngIf: directive.close -->

    </div>

    <!-- ngIf: directive.hideble -->

</div>
</div>  </div>    </div> <div class="b-singlepost-video-wrap"> <div data-autoplay-dockable-video-mount=""></div> </div>
<div id="comments" class="b-grove" data-authtoken="c0:1682874000:288:86400:QayM5bdS56-0-:000e3ca248d238a93342db50100e0b43"> <div class=" b-xylem  b-xylem-first  "> <ul class="b-xylem-cells">  <li class=" b-xylem-cell b-xylem-cell-amount ">   <span class="js-amount">  29 comments  </span>   </li>  </ul>  </div> <div class=" b-massaction-top ">  </div>    <div class=" b-tree b-tree-best ">  </div> <div class=" b-tree b-tree-promo " data-currentprice="">  </div>  <div class=" b-tree b-tree-root svgpreloader svgpreloader-pseudo svgpreloader-30 "><div class=" b-tree-twig  b-tree-twig-1 b-tree-twig-deep-0  " style="margin-left: 0px" data-tid="t233522">    <div id="t233522" class=" b-leaf            b-leaf-full   comment p-comment " data-username="thelaidback" data-displayname="thelaidback" data-updated-ts="1180015345" data-full="1"> <div class=" b-leaf-inner svgpreloader svgpreloader-pseudo svgpreloader-16 "> <div class="b-leaf-header"> <div class="b-leaf-userpic"> <a href="https://thelaidback.livejournal.com/" target="_blank" class="b-leaf-userpic-inner" lj:user="thelaidback">   <img src="https://l-userpic.livejournal.com/59968795/9827056" alt="thelaidback" loading="lazy" title="laidback: high">  </a> </div> <div class="b-leaf-details">   <p class="b-leaf-username"><span class="b-leaf-username-name"><span class="ljuser  i-ljuser  i-ljuser-type-P     " data-ljuser="thelaidback" lj:user="thelaidback"><a href="https://thelaidback.livejournal.com/profile" class="i-ljuser-profile" target="_self"><img class="i-ljuser-userhead" src="https://l-stat.livejournal.net/img/userinfo_v8.svg?v=17080?v=657"></a><a href="https://thelaidback.livejournal.com/" class="i-ljuser-username" target="_self"><b>thelaidback</b></a></span> </span>  </p> <p class="b-leaf-meta">  <a href="https://lacinka.livejournal.com/41778.html?thread=233522#t233522" class="b-leaf-permalink" target="_self"> <span class="b-leaf-createdtime">May 24 2007, 14:02:25 UTC</span> </a>   <span class="b-leaf-shorttime">15 years ago</span>   </p>   </ul>        </div> </div>  <div class="b-leaf-article"> &nbsp;&nbsp;&nbsp;dobra, a što-ž tutaka hetkaha pryncypova novaha ci sprečnaha? standart, na pieršy pohlad, hetkim i jość... </div>   </div> </div>    </div><div class=" b-tree-twig  b-tree-twig-2 b-tree-twig-deep-0  " style="margin-left: 30px" data-tid="t233778">    <div id="t233778" class=" b-leaf        b-leaf-poster      b-leaf-full   comment p-comment " data-username="zedlik" data-displayname="zedlik" data-updated-ts="1180017254" data-full="1"> <div class=" b-leaf-inner svgpreloader svgpreloader-pseudo svgpreloader-16 "> <div class="b-leaf-header"> <div class="b-leaf-userpic"> <a href="https://zedlik.livejournal.com/" target="_blank" class="b-leaf-userpic-inner" lj:user="zedlik">   <img src="https://l-userpic.livejournal.com/100856678/3643836" alt="zedlik" loading="lazy" title="zedlik: грын">  </a> </div> <div class="b-leaf-details">   <p class="b-leaf-username"><span class="b-leaf-username-name"><span class="ljuser  i-ljuser  i-ljuser-type-P     " data-ljuser="zedlik" lj:user="zedlik"><a href="https://zedlik.livejournal.com/profile" class="i-ljuser-profile" target="_self"><img class="i-ljuser-userhead" src="https://l-stat.livejournal.net/img/userinfo_v8.svg?v=17080?v=657"></a><a href="https://zedlik.livejournal.com/" class="i-ljuser-username" target="_self"><b>zedlik</b></a></span> </span>  </p> <p class="b-leaf-meta">  <a href="https://lacinka.livejournal.com/41778.html?thread=233778#t233778" class="b-leaf-permalink" target="_self"> <span class="b-leaf-createdtime">May 24 2007, 14:34:14 UTC</span> </a>   <span class="b-leaf-shorttime">15 years ago</span>   </p>   </ul>        </div> </div>  <div class="b-leaf-article"> toje, što heta pieršy raz, kali biełaruski alfabet raspracoŭvajecca prafesijanałami, a nie zaŭziatarami.<br>i jašče toje, što ŭ <i>takim</i> vyhladzie alfabetu jašče nikoli nie było. </div>   </div> </div>    </div><div class=" b-tree-twig  b-tree-twig-3 b-tree-twig-deep-0  " style="margin-left: 60px" data-tid="t234034">    <div id="t234034" class=" b-leaf            b-leaf-full   comment p-comment " data-username="czyk" data-displayname="czyk" data-updated-ts="1180031362" data-full="1"> <div class=" b-leaf-inner svgpreloader svgpreloader-pseudo svgpreloader-16 "> <div class="b-leaf-header"> <div class="b-leaf-userpic"> <a href="https://czyk.livejournal.com/" target="_blank" class="b-leaf-userpic-inner" lj:user="czyk">   <img src="https://l-userpic.livejournal.com/63268369/8108068" alt="czyk" loading="lazy" title="czyk: park">  </a> </div> <div class="b-leaf-details">   <p class="b-leaf-username"><span class="b-leaf-username-name"><span class="ljuser  i-ljuser  i-ljuser-type-P     " data-ljuser="czyk" lj:user="czyk"><a href="https://czyk.livejournal.com/profile" class="i-ljuser-profile" target="_self"><img class="i-ljuser-userhead" src="https://l-stat.livejournal.net/img/userinfo_v8.svg?v=17080?v=657"></a><a href="https://czyk.livejournal.com/" class="i-ljuser-username" target="_self"><b>czyk</b></a></span> </span>  </p> <p class="b-leaf-meta">  <a href="https://lacinka.livejournal.com/41778.html?thread=234034#t234034" class="b-leaf-permalink" target="_self"> <span class="b-leaf-createdtime">May 24 2007, 18:29:22 UTC</span> </a>   <span class="b-leaf-shorttime">15 years ago</span>   </p>   </ul>        </div> </div>  <div class="b-leaf-article"> heta ŭžo nie aľfabet, a abeceda :)<br>litary miakkimi nie byvajuć<br>huki i abeceda — roznyja rečy<br>musić być pašyrany varyjant abecedy kštaltu: …V (W) (X) (Y) Z. <br><br>Ł must die :) </div>   </div> </div>    </div><div class=" b-tree-twig  b-tree-twig-4 b-tree-twig-deep-0  " style="margin-left: 90px" data-tid="t234546">    <div id="t234546" class=" b-leaf        b-leaf-poster      b-leaf-full   comment p-comment " data-username="zedlik" data-displayname="zedlik" data-updated-ts="1180049247" data-full="1"> <div class=" b-leaf-inner svgpreloader svgpreloader-pseudo svgpreloader-16 "> <div class="b-leaf-header"> <div class="b-leaf-userpic"> <a href="https://zedlik.livejournal.com/" target="_blank" class="b-leaf-userpic-inner" lj:user="zedlik">   <img src="https://l-userpic.livejournal.com/100856678/3643836" alt="zedlik" loading="lazy" title="zedlik: грын">  </a> </div> <div class="b-leaf-details">   <p class="b-leaf-username"><span class="b-leaf-username-name"><span class="ljuser  i-ljuser  i-ljuser-type-P     " data-ljuser="zedlik" lj:user="zedlik"><a href="https://zedlik.livejournal.com/profile" class="i-ljuser-profile" target="_self"><img class="i-ljuser-userhead" src="https://l-stat.livejournal.net/img/userinfo_v8.svg?v=17080?v=657"></a><a href="https://zedlik.livejournal.com/" class="i-ljuser-username" target="_self"><b>zedlik</b></a></span> </span>  </p> <p class="b-leaf-meta">  <a href="https://lacinka.livejournal.com/41778.html?thread=234546#t234546" class="b-leaf-permalink" target="_self"> <span class="b-leaf-createdtime">May 24 2007, 23:27:27 UTC</span> </a>   <span class="b-leaf-shorttime">15 years ago</span>   </p>   </ul>        </div> </div>  <div class="b-leaf-article"> nu, maped, kakhrycca, nia moj ;)<br><br>a ŭvohule, što, jość roźnica pamiž alfabetam i abecedaj? tobo abeceda — heta litary, a alfabet — heta abeceda z hukami? :)<br><br>a pašyrany varyjant — dyk načorta jon treba, kali słovaŭ z hetymi litarami ŭ łacincy niama, a pazyčanni možna pieradavać i biaz uvodu litar u abecedu. nichto ž naprykład nia maje u abecedzie ø ci ß, a zamiežnyja słova ź imi spakojna pieradajuć: usie razumiejuć.<br><br>nu z ł'am jasna :)<br><br> </div>   </div> </div>    </div><div class=" b-tree-twig  b-tree-twig-5 b-tree-twig-deep-0  " style="margin-left: 120px" data-tid="t235570">    <div id="t235570" class=" b-leaf            b-leaf-full   comment p-comment " data-username="coipish" data-displayname="coipish" data-updated-ts="1180055762" data-full="1"> <div class=" b-leaf-inner svgpreloader svgpreloader-pseudo svgpreloader-16 "> <div class="b-leaf-header"> <div class="b-leaf-userpic"> <a href="https://coipish.livejournal.com/" target="_blank" class="b-leaf-userpic-inner" lj:user="coipish">   <img src="https://l-userpic.livejournal.com/74177303/8579748" alt="coipish" loading="lazy" title="Kojpiš Anton // Койпиш Антон: a">  </a> </div> <div class="b-leaf-details">   <p class="b-leaf-username"><span class="b-leaf-username-name"><span class="ljuser  i-ljuser  i-ljuser-type-P     " data-ljuser="coipish" lj:user="coipish"><a href="https://coipish.livejournal.com/profile" class="i-ljuser-profile" target="_self"><img class="i-ljuser-userhead" src="https://l-stat.livejournal.net/img/userinfo_v8.svg?v=17080?v=657"></a><a href="https://coipish.livejournal.com/" class="i-ljuser-username" target="_self"><b>coipish</b></a></span> </span>  </p> <p class="b-leaf-meta">  <a href="https://lacinka.livejournal.com/41778.html?thread=235570#t235570" class="b-leaf-permalink" target="_self"> <span class="b-leaf-createdtime">May 25 2007, 01:16:02 UTC</span> </a>   <span class="b-leaf-shorttime">15 years ago</span>   </p>   </ul>        </div> </div>  <div class="b-leaf-article"> ø jość jak minimum u dackam i narveskam. </div>   </div> </div>    </div><div class=" b-tree-twig  b-tree-twig-6 b-tree-twig-deep-0  " style="margin-left: 150px" data-tid="t237618">    <div id="t237618" class=" b-leaf  b-leaf-collapsed        b-leaf-poster       comment p-comment " data-username="zedlik" data-displayname="zedlik" data-updated-ts="1180122265"> <div class=" b-leaf-inner svgpreloader svgpreloader-pseudo svgpreloader-16 "> <div class="b-leaf-header"> <div class="b-leaf-userpic"> <a href="https://zedlik.livejournal.com/" target="_blank" class="b-leaf-userpic-inner" lj:user="zedlik">   <img src="https://l-stat.livejournal.net/img/userpics/userpic-user.png?v=15821" alt="zedlik" loading="lazy">  </a> </div> <div class="b-leaf-details">   <p class="b-leaf-username"><span class="b-leaf-username-name"><span class="ljuser  i-ljuser  i-ljuser-type-P     " data-ljuser="zedlik" lj:user="zedlik"><a href="https://zedlik.livejournal.com/profile" class="i-ljuser-profile" target="_self"><img class="i-ljuser-userhead" src="https://l-stat.livejournal.net/img/userinfo_v8.svg?v=17080?v=657"></a><a href="https://zedlik.livejournal.com/" class="i-ljuser-username" target="_self"><b>zedlik</b></a></span> </span>  </p> <p class="b-leaf-meta">   <span class="b-leaf-shorttime">15 years ago</span>   </p>   </ul>    </div> </div>   </div> </div>    </div><div class=" b-tree-twig  b-tree-twig-7 b-tree-twig-deep-0  " style="margin-left: 180px" data-tid="t238130">    <div id="t238130" class=" b-leaf  b-leaf-collapsed             comment p-comment " data-username="coipish" data-displayname="coipish" data-updated-ts="1180123022"> <div class=" b-leaf-inner svgpreloader svgpreloader-pseudo svgpreloader-16 "> <div class="b-leaf-header"> <div class="b-leaf-userpic"> <a href="https://coipish.livejournal.com/" target="_blank" class="b-leaf-userpic-inner" lj:user="coipish">   <img src="https://l-stat.livejournal.net/img/userpics/userpic-user.png?v=15821" alt="coipish" loading="lazy">  </a> </div> <div class="b-leaf-details">   <p class="b-leaf-username"><span class="b-leaf-username-name"><span class="ljuser  i-ljuser  i-ljuser-type-P     " data-ljuser="coipish" lj:user="coipish"><a href="https://coipish.livejournal.com/profile" class="i-ljuser-profile" target="_self"><img class="i-ljuser-userhead" src="https://l-stat.livejournal.net/img/userinfo_v8.svg?v=17080?v=657"></a><a href="https://coipish.livejournal.com/" class="i-ljuser-username" target="_self"><b>coipish</b></a></span> </span>  </p> <p class="b-leaf-meta">   <span class="b-leaf-shorttime">15 years ago</span>   </p>   </ul>    </div> </div>   </div> </div>    </div><div class=" b-tree-twig  b-tree-twig-5 b-tree-twig-deep-0  " style="margin-left: 120px" data-tid="t235826">    <div id="t235826" class=" b-leaf  b-leaf-collapsed         b-leaf-withsubject      comment p-comment " data-username="czyk" data-displayname="czyk" data-updated-ts="1180073956" data-subject="maped nia kacić"> <div class=" b-leaf-inner svgpreloader svgpreloader-pseudo svgpreloader-16 "> <div class="b-leaf-header"> <div class="b-leaf-userpic"> <a href="https://czyk.livejournal.com/" target="_blank" class="b-leaf-userpic-inner" lj:user="czyk">   <img src="https://l-stat.livejournal.net/img/userpics/userpic-user.png?v=15821" alt="czyk" loading="lazy">  </a> </div> <div class="b-leaf-details">   <h4 class="b-leaf-subject"><a href="https://lacinka.livejournal.com/41778.html?thread=235826#t235826" class="b-leaf-subject-link" target="_self">maped nia kacić</a></h4>  <p class="b-leaf-username"><span class="b-leaf-username-name"><span class="ljuser  i-ljuser  i-ljuser-type-P     " data-ljuser="czyk" lj:user="czyk"><a href="https://czyk.livejournal.com/profile" class="i-ljuser-profile" target="_self"><img class="i-ljuser-userhead" src="https://l-stat.livejournal.net/img/userinfo_v8.svg?v=17080?v=657"></a><a href="https://czyk.livejournal.com/" class="i-ljuser-username" target="_self"><b>czyk</b></a></span> </span>  </p> <p class="b-leaf-meta">   <span class="b-leaf-shorttime">15 years ago</span>   </p>   </ul>    </div> </div>   </div> </div>    </div><div class=" b-tree-twig  b-tree-twig-6 b-tree-twig-deep-0  " style="margin-left: 150px" data-tid="t237874">    <div id="t237874" class=" b-leaf  b-leaf-collapsed        b-leaf-poster   b-leaf-withsubject      comment p-comment " data-username="zedlik" data-displayname="zedlik" data-updated-ts="1180122558" data-subject="Re: maped nia kacić"> <div class=" b-leaf-inner svgpreloader svgpreloader-pseudo svgpreloader-16 "> <div class="b-leaf-header"> <div class="b-leaf-userpic"> <a href="https://zedlik.livejournal.com/" target="_blank" class="b-leaf-userpic-inner" lj:user="zedlik">   <img src="https://l-stat.livejournal.net/img/userpics/userpic-user.png?v=15821" alt="zedlik" loading="lazy">  </a> </div> <div class="b-leaf-details">   <h4 class="b-leaf-subject"><a href="https://lacinka.livejournal.com/41778.html?thread=237874#t237874" class="b-leaf-subject-link" target="_self">Re: maped nia kacić</a></h4>  <p class="b-leaf-username"><span class="b-leaf-username-name"><span class="ljuser  i-ljuser  i-ljuser-type-P     " data-ljuser="zedlik" lj:user="zedlik"><a href="https://zedlik.livejournal.com/profile" class="i-ljuser-profile" target="_self"><img class="i-ljuser-userhead" src="https://l-stat.livejournal.net/img/userinfo_v8.svg?v=17080?v=657"></a><a href="https://zedlik.livejournal.com/" class="i-ljuser-username" target="_self"><b>zedlik</b></a></span> </span>  </p> <p class="b-leaf-meta">   <span class="b-leaf-shorttime">15 years ago</span>   </p>   </ul>    </div> </div>   </div> </div>    </div><div class=" b-tree-twig  b-tree-twig-4 b-tree-twig-deep-0  " style="margin-left: 90px" data-tid="t236082">    <div id="t236082" class=" b-leaf            b-leaf-full   comment p-comment " data-username="ext_33113" data-displayname="Zołak [openid.pl]" data-updated-ts="1180075648" data-full="1"> <div class=" b-leaf-inner svgpreloader svgpreloader-pseudo svgpreloader-16 "> <div class="b-leaf-header"> <div class="b-leaf-userpic"> <a href="https://ext-33113.livejournal.com/" target="_blank" class="b-leaf-userpic-inner" lj:user="ext_33113">   <img src="https://l-stat.livejournal.net/img/userpics/userpic-user.png?v=15821" alt="ext_33113" loading="lazy">  </a> </div> <div class="b-leaf-details">   <p class="b-leaf-username"><span class="b-leaf-username-name"><span class="ljuser  i-ljuser  i-ljuser-deleted  i-ljuser-type-I     " data-ljuser="ext_33113" lj:user="ext_33113"><a href="https://www.livejournal.com/profile?userid=12305238&amp;t=I" class="i-ljuser-profile" target="_self"><img class="i-ljuser-userhead" src="https://l-stat.livejournal.net/img/social-icons/colored/openid.svg?v=5044?v=657"></a><a href="https://ext-33113.livejournal.com/" class="i-ljuser-username" target="_self"><b>ext_33113</b></a></span> </span>  </p> <p class="b-leaf-meta">  <a href="https://lacinka.livejournal.com/41778.html?thread=236082#t236082" class="b-leaf-permalink" target="_self"> <span class="b-leaf-createdtime">May 25 2007, 06:47:28 UTC</span> </a>   <span class="b-leaf-shorttime">15 years ago</span>   </p>   </ul>        </div> </div>  <div class="b-leaf-article"> Tak, heta "asnoŭny alfabet". Varyjanty litar (u słoŭnikach, abecedach, padručnikach, itp.) razhladajucca razam z asnoŭnaj litaraj. <br><br>Ł zastaniecca jak histaryzm, bo my nie esperantu kanstrujujem. </div>   </div> </div>    </div><div class=" b-tree-twig  b-tree-twig-1 b-tree-twig-deep-0  " style="margin-left: 0px" data-tid="t234290">    <div id="t234290" class=" b-leaf            b-leaf-full   comment p-comment " data-username="coipish" data-displayname="coipish" data-updated-ts="1180031582" data-full="1"> <div class=" b-leaf-inner svgpreloader svgpreloader-pseudo svgpreloader-16 "> <div class="b-leaf-header"> <div class="b-leaf-userpic"> <a href="https://coipish.livejournal.com/" target="_blank" class="b-leaf-userpic-inner" lj:user="coipish">   <img src="https://l-userpic.livejournal.com/74177303/8579748" alt="coipish" loading="lazy" title="Kojpiš Anton // Койпиш Антон: a">  </a> </div> <div class="b-leaf-details">   <p class="b-leaf-username"><span class="b-leaf-username-name"><span class="ljuser  i-ljuser  i-ljuser-type-P     " data-ljuser="coipish" lj:user="coipish"><a href="https://coipish.livejournal.com/profile" class="i-ljuser-profile" target="_self"><img class="i-ljuser-userhead" src="https://l-stat.livejournal.net/img/userinfo_v8.svg?v=17080?v=657"></a><a href="https://coipish.livejournal.com/" class="i-ljuser-username" target="_self"><b>coipish</b></a></span> </span>  </p> <p class="b-leaf-meta">  <a href="https://lacinka.livejournal.com/41778.html?thread=234290#t234290" class="b-leaf-permalink" target="_self"> <span class="b-leaf-createdtime">May 24 2007, 18:33:02 UTC</span> </a>   <span class="b-leaf-shorttime">15 years ago</span>   </p>   </ul>        </div> </div>  <div class="b-leaf-article"> A vy z čym paraŭnoŭvali ŭ vašym analizu? Ci mo siarod jinšych słavianskich moŭ jość vypadki, kali niejki symbal regularna vykarystoŭvajecca, ale nia ŭchodzić u alfabet?<br>Prosta ŭ mianie takoje ŭražańnie, što heta minavita z patałka ŭziata... </div>   </div> </div>    </div><div class=" b-tree-twig  b-tree-twig-2 b-tree-twig-deep-0  " style="margin-left: 30px" data-tid="t234802">    <div id="t234802" class=" b-leaf        b-leaf-poster      b-leaf-full   comment p-comment " data-username="zedlik" data-displayname="zedlik" data-updated-ts="1180049539" data-full="1"> <div class=" b-leaf-inner svgpreloader svgpreloader-pseudo svgpreloader-16 "> <div class="b-leaf-header"> <div class="b-leaf-userpic"> <a href="https://zedlik.livejournal.com/" target="_blank" class="b-leaf-userpic-inner" lj:user="zedlik">   <img src="https://l-userpic.livejournal.com/100856678/3643836" alt="zedlik" loading="lazy" title="zedlik: грын">  </a> </div> <div class="b-leaf-details">   <p class="b-leaf-username"><span class="b-leaf-username-name"><span class="ljuser  i-ljuser  i-ljuser-type-P     " data-ljuser="zedlik" lj:user="zedlik"><a href="https://zedlik.livejournal.com/profile" class="i-ljuser-profile" target="_self"><img class="i-ljuser-userhead" src="https://l-stat.livejournal.net/img/userinfo_v8.svg?v=17080?v=657"></a><a href="https://zedlik.livejournal.com/" class="i-ljuser-username" target="_self"><b>zedlik</b></a></span> </span>  </p> <p class="b-leaf-meta">  <a href="https://lacinka.livejournal.com/41778.html?thread=234802#t234802" class="b-leaf-permalink" target="_self"> <span class="b-leaf-createdtime">May 24 2007, 23:32:19 UTC</span> </a>   <span class="b-leaf-shorttime">15 years ago</span>   </p>   </ul>        </div> </div>  <div class="b-leaf-article"> Analiz nia ja rabiŭ, a tamu usich padrabiaznaściaŭ nia viedaju. Datyčna inšych movaŭ: za słavianskija nie skažu, ale naprykład dastatkova časta ŭžyvanyja niamieckija ŭmlaŭty — ä, ö, ü — jakija, darečy, utrymlivaje pałova niamieckich słovaŭ, — nie ŭvachodziać u niameckuju abecedu. </div>   </div> </div>    </div><div class=" b-tree-twig  b-tree-twig-3 b-tree-twig-deep-0  " style="margin-left: 60px" data-tid="t235314">    <div id="t235314" class=" b-leaf            b-leaf-full   comment p-comment " data-username="coipish" data-displayname="coipish" data-updated-ts="1180055496" data-full="1"> <div class=" b-leaf-inner svgpreloader svgpreloader-pseudo svgpreloader-16 "> <div class="b-leaf-header"> <div class="b-leaf-userpic"> <a href="https://coipish.livejournal.com/" target="_blank" class="b-leaf-userpic-inner" lj:user="coipish">   <img src="https://l-userpic.livejournal.com/74177303/8579748" alt="coipish" loading="lazy" title="Kojpiš Anton // Койпиш Антон: a">  </a> </div> <div class="b-leaf-details">   <p class="b-leaf-username"><span class="b-leaf-username-name"><span class="ljuser  i-ljuser  i-ljuser-type-P     " data-ljuser="coipish" lj:user="coipish"><a href="https://coipish.livejournal.com/profile" class="i-ljuser-profile" target="_self"><img class="i-ljuser-userhead" src="https://l-stat.livejournal.net/img/userinfo_v8.svg?v=17080?v=657"></a><a href="https://coipish.livejournal.com/" class="i-ljuser-username" target="_self"><b>coipish</b></a></span> </span>  </p> <p class="b-leaf-meta">  <a href="https://lacinka.livejournal.com/41778.html?thread=235314#t235314" class="b-leaf-permalink" target="_self"> <span class="b-leaf-createdtime">May 25 2007, 01:11:36 UTC</span> </a>   <span class="b-leaf-shorttime">15 years ago</span>   </p>   </ul>        </div> </div>  <div class="b-leaf-article"> Tak. A jašče ŭ niamieckaj jość ß - eszet (<i>niam.</i> - "eszett").<br>A ŭ ramanskich vielmi časta prysutničajuć naciski nad litarami - à, á, â i hetyja varyjanty litar nie ŭvachodzić u alfabet. U francuzkaj jašče jość æ, ç, œ. Heta charakterna dla ramanskich movaŭ.<br>U giermanskich movach časta sustrakajucca symbali æ, å, ø, ä, ö, ü. Ale jany čaściej usio ž ŭvachodziać u alfabet.<br>Ale kali havorka jdzie pra słavianskija movy - niama nivodnaha takoha vypadku. Bolš taho, siarod usich uschodnieeŭrapiejskich moŭ, zdajecca, tolki ŭ lituviskaj i greckaj (ale apošniaja navat i nie łacinkavaja) movach byli symbali, jakija nie ŭvachodziać u alfabet. A pra raspaŭsiudžannaść spravy nadańnia svajim dygrafam statusu litar va Ŭschodniaj eŭropie - uvohule maŭču.<br>Ale zaŭvaž, ja z hetymi nadstročnymi hałačkami kazaŭ tolki pra hałosnyja. A na kont zyčnych, ja pry ŭsiom žadańnie tolki ramansuju ç mahu ŭzhadać... </div>   </div> </div>    </div><div class=" b-tree-twig  b-tree-twig-4 b-tree-twig-deep-0  " style="margin-left: 90px" data-tid="t236594">    <div id="t236594" class=" b-leaf            b-leaf-full   comment p-comment " data-username="ext_33113" data-displayname="Zołak [openid.pl]" data-updated-ts="1180075896" data-full="1"> <div class=" b-leaf-inner svgpreloader svgpreloader-pseudo svgpreloader-16 "> <div class="b-leaf-header"> <div class="b-leaf-userpic"> <a href="https://ext-33113.livejournal.com/" target="_blank" class="b-leaf-userpic-inner" lj:user="ext_33113">   <img src="https://l-stat.livejournal.net/img/userpics/userpic-user.png?v=15821" alt="ext_33113" loading="lazy">  </a> </div> <div class="b-leaf-details">   <p class="b-leaf-username"><span class="b-leaf-username-name"><span class="ljuser  i-ljuser  i-ljuser-deleted  i-ljuser-type-I     " data-ljuser="ext_33113" lj:user="ext_33113"><a href="https://www.livejournal.com/profile?userid=12305238&amp;t=I" class="i-ljuser-profile" target="_self"><img class="i-ljuser-userhead" src="https://l-stat.livejournal.net/img/social-icons/colored/openid.svg?v=5044?v=657"></a><a href="https://ext-33113.livejournal.com/" class="i-ljuser-username" target="_self"><b>ext_33113</b></a></span> </span>  </p> <p class="b-leaf-meta">  <a href="https://lacinka.livejournal.com/41778.html?thread=236594#t236594" class="b-leaf-permalink" target="_self"> <span class="b-leaf-createdtime">May 25 2007, 06:51:36 UTC</span> </a>   <span class="b-leaf-shorttime">15 years ago</span>   </p>   </ul>        </div> </div>  <div class="b-leaf-article"> &gt;Ale kali havorka jdzie pra słavianskija movy - niama nivodnaha takoha vypadku.<br>Upeŭnieny? </div>   </div> </div>    </div><div class=" b-tree-twig  b-tree-twig-5 b-tree-twig-deep-0  " style="margin-left: 120px" data-tid="t236850">    <div id="t236850" class=" b-leaf  b-leaf-collapsed             comment p-comment " data-username="coipish" data-displayname="coipish" data-updated-ts="1180098035"> <div class=" b-leaf-inner svgpreloader svgpreloader-pseudo svgpreloader-16 "> <div class="b-leaf-header"> <div class="b-leaf-userpic"> <a href="https://coipish.livejournal.com/" target="_blank" class="b-leaf-userpic-inner" lj:user="coipish">   <img src="https://l-stat.livejournal.net/img/userpics/userpic-user.png?v=15821" alt="coipish" loading="lazy">  </a> </div> <div class="b-leaf-details">   <p class="b-leaf-username"><span class="b-leaf-username-name"><span class="ljuser  i-ljuser  i-ljuser-type-P     " data-ljuser="coipish" lj:user="coipish"><a href="https://coipish.livejournal.com/profile" class="i-ljuser-profile" target="_self"><img class="i-ljuser-userhead" src="https://l-stat.livejournal.net/img/userinfo_v8.svg?v=17080?v=657"></a><a href="https://coipish.livejournal.com/" class="i-ljuser-username" target="_self"><b>coipish</b></a></span> </span>  </p> <p class="b-leaf-meta">   <span class="b-leaf-shorttime">15 years ago</span>   </p>   </ul>    </div> </div>   </div> </div>    </div><div class=" b-tree-twig  b-tree-twig-6 b-tree-twig-deep-0  " style="margin-left: 150px" data-tid="t237362">    <div id="t237362" class=" b-leaf  b-leaf-collapsed             comment p-comment " data-username="ext_33113" data-displayname="Zołak [openid.pl]" data-updated-ts="1180107334"> <div class=" b-leaf-inner svgpreloader svgpreloader-pseudo svgpreloader-16 "> <div class="b-leaf-header"> <div class="b-leaf-userpic"> <a href="https://ext-33113.livejournal.com/" target="_blank" class="b-leaf-userpic-inner" lj:user="ext_33113">   <img src="https://l-stat.livejournal.net/img/userpics/userpic-user.png?v=15821" alt="ext_33113" loading="lazy">  </a> </div> <div class="b-leaf-details">   <p class="b-leaf-username"><span class="b-leaf-username-name"><span class="ljuser  i-ljuser  i-ljuser-deleted  i-ljuser-type-I     " data-ljuser="ext_33113" lj:user="ext_33113"><a href="https://www.livejournal.com/profile?userid=12305238&amp;t=I" class="i-ljuser-profile" target="_self"><img class="i-ljuser-userhead" src="https://l-stat.livejournal.net/img/social-icons/colored/openid.svg?v=5044?v=657"></a><a href="https://ext-33113.livejournal.com/" class="i-ljuser-username" target="_self"><b>ext_33113</b></a></span> </span>  </p> <p class="b-leaf-meta">   <span class="b-leaf-shorttime">15 years ago</span>   </p>   </ul>    </div> </div>   </div> </div>    </div><div class=" b-tree-twig  b-tree-twig-7 b-tree-twig-deep-0  " style="margin-left: 180px" data-tid="t238386">    <div id="t238386" class=" b-leaf  b-leaf-collapsed             comment p-comment " data-username="coipish" data-displayname="coipish" data-updated-ts="1180123679"> <div class=" b-leaf-inner svgpreloader svgpreloader-pseudo svgpreloader-16 "> <div class="b-leaf-header"> <div class="b-leaf-userpic"> <a href="https://coipish.livejournal.com/" target="_blank" class="b-leaf-userpic-inner" lj:user="coipish">   <img src="https://l-stat.livejournal.net/img/userpics/userpic-user.png?v=15821" alt="coipish" loading="lazy">  </a> </div> <div class="b-leaf-details">   <p class="b-leaf-username"><span class="b-leaf-username-name"><span class="ljuser  i-ljuser  i-ljuser-type-P     " data-ljuser="coipish" lj:user="coipish"><a href="https://coipish.livejournal.com/profile" class="i-ljuser-profile" target="_self"><img class="i-ljuser-userhead" src="https://l-stat.livejournal.net/img/userinfo_v8.svg?v=17080?v=657"></a><a href="https://coipish.livejournal.com/" class="i-ljuser-username" target="_self"><b>coipish</b></a></span> </span>  </p> <p class="b-leaf-meta">   <span class="b-leaf-shorttime">15 years ago</span>   </p>   </ul>    </div> </div>   </div> </div>    </div><div class=" b-tree-twig  b-tree-twig-8 b-tree-twig-deep-0  " style="margin-left: 210px" data-tid="t238642">    <div id="t238642" class=" b-leaf  b-leaf-collapsed         b-leaf-withsubject      comment p-comment " data-username="ext_33113" data-displayname="Zołak [openid.pl]" data-updated-ts="1180125436" data-subject="Re: maped nia kacić"> <div class=" b-leaf-inner svgpreloader svgpreloader-pseudo svgpreloader-16 "> <div class="b-leaf-header"> <div class="b-leaf-userpic"> <a href="https://ext-33113.livejournal.com/" target="_blank" class="b-leaf-userpic-inner" lj:user="ext_33113">   <img src="https://l-stat.livejournal.net/img/userpics/userpic-user.png?v=15821" alt="ext_33113" loading="lazy">  </a> </div> <div class="b-leaf-details">   <h4 class="b-leaf-subject"><a href="https://lacinka.livejournal.com/41778.html?thread=238642#t238642" class="b-leaf-subject-link" target="_self">Re: maped nia kacić</a></h4>  <p class="b-leaf-username"><span class="b-leaf-username-name"><span class="ljuser  i-ljuser  i-ljuser-deleted  i-ljuser-type-I     " data-ljuser="ext_33113" lj:user="ext_33113"><a href="https://www.livejournal.com/profile?userid=12305238&amp;t=I" class="i-ljuser-profile" target="_self"><img class="i-ljuser-userhead" src="https://l-stat.livejournal.net/img/social-icons/colored/openid.svg?v=5044?v=657"></a><a href="https://ext-33113.livejournal.com/" class="i-ljuser-username" target="_self"><b>ext_33113</b></a></span> </span>  </p> <p class="b-leaf-meta">   <span class="b-leaf-shorttime">15 years ago</span>   </p>   </ul>    </div> </div>   </div> </div>    </div><div class=" b-tree-twig  b-tree-twig-9 b-tree-twig-deep-0  " style="margin-left: 240px" data-tid="t238898">    <div id="t238898" class=" b-leaf  b-leaf-collapsed         b-leaf-withsubject      comment p-comment " data-username="coipish" data-displayname="coipish" data-updated-ts="1180126033" data-subject="Re: maped nia kacić"> <div class=" b-leaf-inner svgpreloader svgpreloader-pseudo svgpreloader-16 "> <div class="b-leaf-header"> <div class="b-leaf-userpic"> <a href="https://coipish.livejournal.com/" target="_blank" class="b-leaf-userpic-inner" lj:user="coipish">   <img src="https://l-stat.livejournal.net/img/userpics/userpic-user.png?v=15821" alt="coipish" loading="lazy">  </a> </div> <div class="b-leaf-details">   <h4 class="b-leaf-subject"><a href="https://lacinka.livejournal.com/41778.html?thread=238898#t238898" class="b-leaf-subject-link" target="_self">Re: maped nia kacić</a></h4>  <p class="b-leaf-username"><span class="b-leaf-username-name"><span class="ljuser  i-ljuser  i-ljuser-type-P     " data-ljuser="coipish" lj:user="coipish"><a href="https://coipish.livejournal.com/profile" class="i-ljuser-profile" target="_self"><img class="i-ljuser-userhead" src="https://l-stat.livejournal.net/img/userinfo_v8.svg?v=17080?v=657"></a><a href="https://coipish.livejournal.com/" class="i-ljuser-username" target="_self"><b>coipish</b></a></span> </span>  </p> <p class="b-leaf-meta">   <span class="b-leaf-shorttime">15 years ago</span>   </p>   </ul>    </div> </div>   </div> </div>    </div><div class=" b-tree-twig  b-tree-twig-10 b-tree-twig-deep-10  " style="margin-left: 270px" data-tid="t239154">    <div id="t239154" class=" b-leaf  b-leaf-collapsed         b-leaf-withsubject      comment p-comment " data-username="ext_33113" data-displayname="Zołak [openid.pl]" data-updated-ts="1180127734" data-subject="Re: maped nia kacić"> <div class=" b-leaf-inner svgpreloader svgpreloader-pseudo svgpreloader-16 "> <div class="b-leaf-header"> <div class="b-leaf-userpic"> <a href="https://ext-33113.livejournal.com/" target="_blank" class="b-leaf-userpic-inner" lj:user="ext_33113">   <img src="https://l-stat.livejournal.net/img/userpics/userpic-user.png?v=15821" alt="ext_33113" loading="lazy">  </a> </div> <div class="b-leaf-details">   <h4 class="b-leaf-subject"><a href="https://lacinka.livejournal.com/41778.html?thread=239154#t239154" class="b-leaf-subject-link" target="_self">Re: maped nia kacić</a></h4>  <p class="b-leaf-username"><span class="b-leaf-username-name"><span class="ljuser  i-ljuser  i-ljuser-deleted  i-ljuser-type-I     " data-ljuser="ext_33113" lj:user="ext_33113"><a href="https://www.livejournal.com/profile?userid=12305238&amp;t=I" class="i-ljuser-profile" target="_self"><img class="i-ljuser-userhead" src="https://l-stat.livejournal.net/img/social-icons/colored/openid.svg?v=5044?v=657"></a><a href="https://ext-33113.livejournal.com/" class="i-ljuser-username" target="_self"><b>ext_33113</b></a></span> </span>  </p> <p class="b-leaf-meta">   <span class="b-leaf-shorttime">15 years ago</span>   </p>   </ul>    </div> </div>   </div> </div>    </div><div class=" b-tree-twig  b-tree-twig-11 b-tree-twig-deep-10  " style="margin-left: 300px" data-tid="t240690">    <div id="t240690" class=" b-leaf  b-leaf-collapsed         b-leaf-withsubject      comment p-comment " data-username="coipish" data-displayname="coipish" data-updated-ts="1180141053" data-subject="Re: maped nia kacić"> <div class=" b-leaf-inner svgpreloader svgpreloader-pseudo svgpreloader-16 "> <div class="b-leaf-header"> <div class="b-leaf-userpic"> <a href="https://coipish.livejournal.com/" target="_blank" class="b-leaf-userpic-inner" lj:user="coipish">   <img src="https://l-stat.livejournal.net/img/userpics/userpic-user.png?v=15821" alt="coipish" loading="lazy">  </a> </div> <div class="b-leaf-details">   <h4 class="b-leaf-subject"><a href="https://lacinka.livejournal.com/41778.html?thread=240690#t240690" class="b-leaf-subject-link" target="_self">Re: maped nia kacić</a></h4>  <p class="b-leaf-username"><span class="b-leaf-username-name"><span class="ljuser  i-ljuser  i-ljuser-type-P     " data-ljuser="coipish" lj:user="coipish"><a href="https://coipish.livejournal.com/profile" class="i-ljuser-profile" target="_self"><img class="i-ljuser-userhead" src="https://l-stat.livejournal.net/img/userinfo_v8.svg?v=17080?v=657"></a><a href="https://coipish.livejournal.com/" class="i-ljuser-username" target="_self"><b>coipish</b></a></span> </span>  </p> <p class="b-leaf-meta">   <span class="b-leaf-shorttime">15 years ago</span>   </p>   </ul>    </div> </div>   </div> </div>    </div><div class=" b-tree-twig  b-tree-twig-12 b-tree-twig-deep-10  " style="margin-left: 330px" data-tid="t240946">    <div id="t240946" class=" b-leaf  b-leaf-collapsed             comment p-comment " data-username="ext_33113" data-displayname="Zołak [openid.pl]" data-updated-ts="1180161284"> <div class=" b-leaf-inner svgpreloader svgpreloader-pseudo svgpreloader-16 "> <div class="b-leaf-header"> <div class="b-leaf-userpic"> <a href="https://ext-33113.livejournal.com/" target="_blank" class="b-leaf-userpic-inner" lj:user="ext_33113">   <img src="https://l-stat.livejournal.net/img/userpics/userpic-user.png?v=15821" alt="ext_33113" loading="lazy">  </a> </div> <div class="b-leaf-details">   <p class="b-leaf-username"><span class="b-leaf-username-name"><span class="ljuser  i-ljuser  i-ljuser-deleted  i-ljuser-type-I     " data-ljuser="ext_33113" lj:user="ext_33113"><a href="https://www.livejournal.com/profile?userid=12305238&amp;t=I" class="i-ljuser-profile" target="_self"><img class="i-ljuser-userhead" src="https://l-stat.livejournal.net/img/social-icons/colored/openid.svg?v=5044?v=657"></a><a href="https://ext-33113.livejournal.com/" class="i-ljuser-username" target="_self"><b>ext_33113</b></a></span> </span>  </p> <p class="b-leaf-meta">   <span class="b-leaf-shorttime">15 years ago</span>   </p>   </ul>    </div> </div>   </div> </div>    </div><div class=" b-tree-twig  b-tree-twig-13 b-tree-twig-deep-10  " style="margin-left: 360px" data-tid="t241202">    <div id="t241202" class=" b-leaf  b-leaf-collapsed             comment p-comment " data-username="coipish" data-displayname="coipish" data-updated-ts="1180181959"> <div class=" b-leaf-inner svgpreloader svgpreloader-pseudo svgpreloader-16 "> <div class="b-leaf-header"> <div class="b-leaf-userpic"> <a href="https://coipish.livejournal.com/" target="_blank" class="b-leaf-userpic-inner" lj:user="coipish">   <img src="https://l-stat.livejournal.net/img/userpics/userpic-user.png?v=15821" alt="coipish" loading="lazy">  </a> </div> <div class="b-leaf-details">   <p class="b-leaf-username"><span class="b-leaf-username-name"><span class="ljuser  i-ljuser  i-ljuser-type-P     " data-ljuser="coipish" lj:user="coipish"><a href="https://coipish.livejournal.com/profile" class="i-ljuser-profile" target="_self"><img class="i-ljuser-userhead" src="https://l-stat.livejournal.net/img/userinfo_v8.svg?v=17080?v=657"></a><a href="https://coipish.livejournal.com/" class="i-ljuser-username" target="_self"><b>coipish</b></a></span> </span>  </p> <p class="b-leaf-meta">   <span class="b-leaf-shorttime">15 years ago</span>   </p>   </ul>    </div> </div>   </div> </div>    </div><div class=" b-tree-twig  b-tree-twig-14 b-tree-twig-deep-10  " style="margin-left: 390px" data-tid="t241458">    <div id="t241458" class=" b-leaf  b-leaf-collapsed             comment p-comment " data-username="ext_33113" data-displayname="Zołak [openid.pl]" data-updated-ts="1180182608"> <div class=" b-leaf-inner svgpreloader svgpreloader-pseudo svgpreloader-16 "> <div class="b-leaf-header"> <div class="b-leaf-userpic"> <a href="https://ext-33113.livejournal.com/" target="_blank" class="b-leaf-userpic-inner" lj:user="ext_33113">   <img src="https://l-stat.livejournal.net/img/userpics/userpic-user.png?v=15821" alt="ext_33113" loading="lazy">  </a> </div> <div class="b-leaf-details">   <p class="b-leaf-username"><span class="b-leaf-username-name"><span class="ljuser  i-ljuser  i-ljuser-deleted  i-ljuser-type-I     " data-ljuser="ext_33113" lj:user="ext_33113"><a href="https://www.livejournal.com/profile?userid=12305238&amp;t=I" class="i-ljuser-profile" target="_self"><img class="i-ljuser-userhead" src="https://l-stat.livejournal.net/img/social-icons/colored/openid.svg?v=5044?v=657"></a><a href="https://ext-33113.livejournal.com/" class="i-ljuser-username" target="_self"><b>ext_33113</b></a></span> </span>  </p> <p class="b-leaf-meta">   <span class="b-leaf-shorttime">15 years ago</span>   </p>   </ul>    </div> </div>   </div> </div>    </div><div class=" b-tree-twig  b-tree-twig-15 b-tree-twig-deep-10  " style="margin-left: 420px" data-tid="t241714">    <div id="t241714" class=" b-leaf  b-leaf-collapsed             comment p-comment " data-username="coipish" data-displayname="coipish" data-updated-ts="1180183307"> <div class=" b-leaf-inner svgpreloader svgpreloader-pseudo svgpreloader-16 "> <div class="b-leaf-header"> <div class="b-leaf-userpic"> <a href="https://coipish.livejournal.com/" target="_blank" class="b-leaf-userpic-inner" lj:user="coipish">   <img src="https://l-stat.livejournal.net/img/userpics/userpic-user.png?v=15821" alt="coipish" loading="lazy">  </a> </div> <div class="b-leaf-details">   <p class="b-leaf-username"><span class="b-leaf-username-name"><span class="ljuser  i-ljuser  i-ljuser-type-P     " data-ljuser="coipish" lj:user="coipish"><a href="https://coipish.livejournal.com/profile" class="i-ljuser-profile" target="_self"><img class="i-ljuser-userhead" src="https://l-stat.livejournal.net/img/userinfo_v8.svg?v=17080?v=657"></a><a href="https://coipish.livejournal.com/" class="i-ljuser-username" target="_self"><b>coipish</b></a></span> </span>  </p> <p class="b-leaf-meta">   <span class="b-leaf-shorttime">15 years ago</span>   </p>   </ul>    </div> </div>   </div> </div>    </div><div class=" b-tree-twig  b-tree-twig-16 b-tree-twig-deep-10  " style="margin-left: 450px" data-tid="t241970">    <div id="t241970" class=" b-leaf  b-leaf-collapsed             comment p-comment " data-username="ext_33113" data-displayname="Zołak [openid.pl]" data-updated-ts="1180185724"> <div class=" b-leaf-inner svgpreloader svgpreloader-pseudo svgpreloader-16 "> <div class="b-leaf-header"> <div class="b-leaf-userpic"> <a href="https://ext-33113.livejournal.com/" target="_blank" class="b-leaf-userpic-inner" lj:user="ext_33113">   <img src="https://l-stat.livejournal.net/img/userpics/userpic-user.png?v=15821" alt="ext_33113" loading="lazy">  </a> </div> <div class="b-leaf-details">   <p class="b-leaf-username"><span class="b-leaf-username-name"><span class="ljuser  i-ljuser  i-ljuser-deleted  i-ljuser-type-I     " data-ljuser="ext_33113" lj:user="ext_33113"><a href="https://www.livejournal.com/profile?userid=12305238&amp;t=I" class="i-ljuser-profile" target="_self"><img class="i-ljuser-userhead" src="https://l-stat.livejournal.net/img/social-icons/colored/openid.svg?v=5044?v=657"></a><a href="https://ext-33113.livejournal.com/" class="i-ljuser-username" target="_self"><b>ext_33113</b></a></span> </span>  </p> <p class="b-leaf-meta">   <span class="b-leaf-shorttime">15 years ago</span>   </p>   </ul>    </div> </div>   </div> </div>    </div><div class=" b-tree-twig  b-tree-twig-2 b-tree-twig-deep-0  " style="margin-left: 30px" data-tid="t236338">    <div id="t236338" class=" b-leaf            b-leaf-full   comment p-comment " data-username="ext_33113" data-displayname="Zołak [openid.pl]" data-updated-ts="1180075808" data-full="1"> <div class=" b-leaf-inner svgpreloader svgpreloader-pseudo svgpreloader-16 "> <div class="b-leaf-header"> <div class="b-leaf-userpic"> <a href="https://ext-33113.livejournal.com/" target="_blank" class="b-leaf-userpic-inner" lj:user="ext_33113">   <img src="https://l-stat.livejournal.net/img/userpics/userpic-user.png?v=15821" alt="ext_33113" loading="lazy">  </a> </div> <div class="b-leaf-details">   <p class="b-leaf-username"><span class="b-leaf-username-name"><span class="ljuser  i-ljuser  i-ljuser-deleted  i-ljuser-type-I     " data-ljuser="ext_33113" lj:user="ext_33113"><a href="https://www.livejournal.com/profile?userid=12305238&amp;t=I" class="i-ljuser-profile" target="_self"><img class="i-ljuser-userhead" src="https://l-stat.livejournal.net/img/social-icons/colored/openid.svg?v=5044?v=657"></a><a href="https://ext-33113.livejournal.com/" class="i-ljuser-username" target="_self"><b>ext_33113</b></a></span> </span>  </p> <p class="b-leaf-meta">  <a href="https://lacinka.livejournal.com/41778.html?thread=236338#t236338" class="b-leaf-permalink" target="_self"> <span class="b-leaf-createdtime">May 25 2007, 06:50:08 UTC</span> </a>   <span class="b-leaf-shorttime">15 years ago</span>   </p>   </ul>        </div> </div>  <div class="b-leaf-article"> Z praktykaj u słavianskich movach.<br>Naturalna. </div>   </div> </div>    </div><div class=" b-tree-twig  b-tree-twig-1 b-tree-twig-deep-0  " style="margin-left: 0px" data-tid="t239410">    <div class=" b-leaf b-leaf-clipped b-leaf-deleted " id="t239410"> <div class=" b-leaf-inner svgpreloader svgpreloader-pseudo svgpreloader-16 "> <div class="b-leaf-cheader"> <p class="b-leaf-status">  Deleted comment  </p>   </div>  </div> </div>    </div><div class=" b-tree-twig  b-tree-twig-2 b-tree-twig-deep-0  " style="margin-left: 30px" data-tid="t239666">    <div id="t239666" class=" b-leaf         b-leaf-withsubject     b-leaf-full   comment p-comment " data-username="ext_33113" data-displayname="Zołak [openid.pl]" data-updated-ts="1180128681" data-full="1" data-subject="&quot;Staryny nia rušyć, novaha nia ŭvodzić&quot;"> <div class=" b-leaf-inner svgpreloader svgpreloader-pseudo svgpreloader-16 "> <div class="b-leaf-header"> <div class="b-leaf-userpic"> <a href="https://ext-33113.livejournal.com/" target="_blank" class="b-leaf-userpic-inner" lj:user="ext_33113">   <img src="https://l-stat.livejournal.net/img/userpics/userpic-user.png?v=15821" alt="ext_33113" loading="lazy">  </a> </div> <div class="b-leaf-details">   <h4 class="b-leaf-subject"><a href="https://lacinka.livejournal.com/41778.html?thread=239666#t239666" class="b-leaf-subject-link" target="_self">"Staryny nia rušyć, novaha nia ŭvodzić"</a></h4>  <p class="b-leaf-username"><span class="b-leaf-username-name"><span class="ljuser  i-ljuser  i-ljuser-deleted  i-ljuser-type-I     " data-ljuser="ext_33113" lj:user="ext_33113"><a href="https://www.livejournal.com/profile?userid=12305238&amp;t=I" class="i-ljuser-profile" target="_self"><img class="i-ljuser-userhead" src="https://l-stat.livejournal.net/img/social-icons/colored/openid.svg?v=5044?v=657"></a><a href="https://ext-33113.livejournal.com/" class="i-ljuser-username" target="_self"><b>ext_33113</b></a></span> </span>  </p> <p class="b-leaf-meta">  <a href="https://lacinka.livejournal.com/41778.html?thread=239666#t239666" class="b-leaf-permalink" target="_self"> <span class="b-leaf-createdtime">May 25 2007, 21:31:21 UTC</span> </a>   <span class="b-leaf-shorttime">15 years ago</span>   </p>   </ul>        </div> </div>  <div class="b-leaf-article"> Takich idejaŭ było j jość šmat, adnak my da łacinki nie padychodzim jak da cacki.<br> </div>   </div> </div>    </div><div class=" b-tree-twig  b-tree-twig-3 b-tree-twig-deep-0  " style="margin-left: 60px" data-tid="t239922">    <div class=" b-leaf b-leaf-clipped b-leaf-deleted " id="t239922"> <div class=" b-leaf-inner svgpreloader svgpreloader-pseudo svgpreloader-16 "> <div class="b-leaf-cheader"> <p class="b-leaf-status">  Deleted comment  </p>   </div>  </div> </div>    </div><div class=" b-tree-twig  b-tree-twig-4 b-tree-twig-deep-0  " style="margin-left: 90px" data-tid="t240178">    <div id="t240178" class=" b-leaf        b-leaf-poster   b-leaf-withsubject     b-leaf-full   comment p-comment " data-username="zedlik" data-displayname="zedlik" data-updated-ts="1180130017" data-full="1" data-subject="Re: &quot;Staryny nia rušyć, novaha nia ŭvodzić&quot;"> <div class=" b-leaf-inner svgpreloader svgpreloader-pseudo svgpreloader-16 "> <div class="b-leaf-header"> <div class="b-leaf-userpic"> <a href="https://zedlik.livejournal.com/" target="_blank" class="b-leaf-userpic-inner" lj:user="zedlik">   <img src="https://l-userpic.livejournal.com/100856678/3643836" alt="zedlik" loading="lazy" title="zedlik: грын">  </a> </div> <div class="b-leaf-details">   <h4 class="b-leaf-subject"><a href="https://lacinka.livejournal.com/41778.html?thread=240178#t240178" class="b-leaf-subject-link" target="_self">Re: "Staryny nia rušyć, novaha nia ŭvodzić"</a></h4>  <p class="b-leaf-username"><span class="b-leaf-username-name"><span class="ljuser  i-ljuser  i-ljuser-type-P     " data-ljuser="zedlik" lj:user="zedlik"><a href="https://zedlik.livejournal.com/profile" class="i-ljuser-profile" target="_self"><img class="i-ljuser-userhead" src="https://l-stat.livejournal.net/img/userinfo_v8.svg?v=17080?v=657"></a><a href="https://zedlik.livejournal.com/" class="i-ljuser-username" target="_self"><b>zedlik</b></a></span> </span>  </p> <p class="b-leaf-meta">  <a href="https://lacinka.livejournal.com/41778.html?thread=240178#t240178" class="b-leaf-permalink" target="_self"> <span class="b-leaf-createdtime">May 25 2007, 21:53:37 UTC</span> </a>   <span class="b-leaf-shorttime">15 years ago</span>   </p>   </ul>        </div> </div>  <div class="b-leaf-article"> Davajcie sapraŭdy pakiniem litary ŭ spakoi i nia budziem vycvaracca, zamianiajučy dz na đ, a ńnie na ńńe. Pravapis u hetych miescach užo sfarmavany jak 150 hadoŭ. Nia varta imknucca prydumac tut niešta inšaje prosta «kab było». </div>   </div> </div>    </div></div>     <div prev-next-nav=""></div> <div suggestion-for-unlogged="" class="ng-isolate-scope"><!-- ngIf: directive.isBlockVisible --></div>   </div>         
