---
id: 42462
layout: page
date: 2022-10-16
---


<!-- s-body -->
        <div class="s-body">

            <!-- use header -->
            <!-- /use header -->

            <!-- Content -->
             <article class="b-singlepost hentry h-entry js-emojis  b-singlepost-mobileadaptive  b-singlepost-withbodybanner  ng-scope" role="main" ng-app="Entry"> <div class="b-singlepost-qrcode  ng-isolate-scope" lj-qrcode="https://lacinka.livejournal.com/42462.html" lj-qrcode-width="70" lj-qrcode-height="70"> <canvas width="70" height="70"></canvas></div> <div class="b-singlepost-about"> <dl class=" b-singlepost-author author vcard p-author h-card " ng-non-bindable=""> <dt class=" b-singlepost-author-userpic photo u-photo " lj:user="vic_v_r">  <img src="https://l-userpic.livejournal.com/26109072/5915701" width="" height="" align="absmiddle" title="Viktar Albert: pic#26109072" alt="">  </dt> <dd class="b-singlepost-author-userinfo"> <div class="b-singlepost-author-userinfo-screen"> <span class=" b-singlepost-author-user fn p-name "> <span class="b-singlepost-author-user-screen"> Viktar Albert (<span class="ljuser  i-ljuser  i-ljuser-deleted  i-ljuser-type-P     " data-ljuser="vic_v_r" lj:user="vic_v_r"><a href="https://vic-v-r.livejournal.com/profile" target="_self" class="i-ljuser-profile"><img class="i-ljuser-userhead" src="https://l-stat.livejournal.net/img/userinfo_v8.svg?v=17080?v=657"></a><a href="https://vic-v-r.livejournal.com/" class="i-ljuser-username" target="_self"><b>vic_v_r</b></a></span>) wrote in <span class="ljuser  i-ljuser  i-ljuser-type-C     " data-ljuser="lacinka" lj:user="lacinka"><a href="https://lacinka.livejournal.com/profile" target="_self" class="i-ljuser-profile"><img class="i-ljuser-userhead" src="https://l-stat.livejournal.net/img/community.gif?v=556?v=657"></a><a href="https://lacinka.livejournal.com/" class="i-ljuser-username" target="_self"><b>lacinka</b></a></span>, </span> </span> <br> <time class=" b-singlepost-author-date published dt-published "><a href="https://lacinka.livejournal.com/2007/" target="_self">2007</a>-<a href="https://lacinka.livejournal.com/2007/06/" target="_self">06</a>-<a href="https://lacinka.livejournal.com/2007/06/20/" target="_self">20</a> 19:20:00</time>   </div> <div class="b-singlepost-author-userinfo-print"> <span class=" b-singlepost-author-user fn p-name "> Viktar Albert<br> <span class="ljuser  i-ljuser  i-ljuser-deleted  i-ljuser-type-P     " data-ljuser="vic_v_r" lj:user="vic_v_r"><a href="https://vic-v-r.livejournal.com/profile" target="_self" class="i-ljuser-profile"><img class="i-ljuser-userhead" src="https://l-stat.livejournal.net/img/userinfo_v8.svg?v=17080?v=657"></a><a href="https://vic-v-r.livejournal.com/" class="i-ljuser-username" target="_self"><b>vic_v_r</b></a></span>  <br><span class="ljuser  i-ljuser  i-ljuser-type-C     " data-ljuser="lacinka" lj:user="lacinka"><a href="https://lacinka.livejournal.com/profile" target="_self" class="i-ljuser-profile"><img class="i-ljuser-userhead" src="https://l-stat.livejournal.net/img/community.gif?v=556?v=657"></a><a href="https://lacinka.livejournal.com/" class="i-ljuser-username" target="_self"><b>lacinka</b></a></span>  </span> <br> <time class=" b-singlepost-author-date published dt-published "><a href="https://lacinka.livejournal.com/2007/" target="_self">2007</a>-<a href="https://lacinka.livejournal.com/2007/06/" target="_self">06</a>-<a href="https://lacinka.livejournal.com/2007/06/20/" target="_self">20</a> 19:20:00</time> </div> </dd> </dl>  </div>    <div class="b-singlepost-wrapper">  ¤ <ul class="b-linkbar">  <li class="b-linkbar-item"><a href="https://www.livejournal.com/go.bml?journal=lacinka&amp;itemid=42462&amp;dir=prev" rel="nofollow" title="Previous" class="b-controls b-controls-prev" target="_self"><i class="b-controls-bg"></i>Previous</a></li>  <li class="b-linkbar-item ng-scope" lj-share="{ url: 'https://lacinka.livejournal.com/42462.html', title: '', text: '', hashtags: '', alwaysBottom: true }">
                <a href="javascript:void(0);" rel="nofollow" title="Share" class="b-controls b-controls-share js-lj-share" data-hashtags="" data-title="" data-url="https%3A%2F%2Flacinka.livejournal.com%2F42462.html" target="_self">
                    <i class="b-controls-bg"></i>Share
                </a>
            </li>  <li class="b-linkbar-item"><a href="https://www.livejournal.com/tools/content_flag.bml?user=lacinka&amp;itemid=42462" rel="nofollow" title="Flag" class="b-controls b-controls-flag" target="_self"><i class="b-controls-bg"></i>Flag</a></li>  <li class="b-linkbar-item"><a href="https://www.livejournal.com/go.bml?journal=lacinka&amp;itemid=42462&amp;dir=next" rel="nofollow" title="Next" class="b-controls b-controls-next" target="_self"><i class="b-controls-bg"></i>Next</a></li>  </ul> </div>      <div class="b-singlepost-bodywrapper">  <article class="b-singlepost-body entry-content e-content   ng-scope" lj-sale-entry="" lj-discovery-tags="" lj-embed-resizer=""> <img src="https://imgprx.livejournal.net/d06e5faa7848cea1b2193f6a8ea275b96361861b/BhIN8zpJdLi-qtyXxM83x0FLyI0ej56n_z9dsiXhdYWixLcTt9_WDURcne5wen_mbPImFVoeheb83IaDi1EuPBBdejkYkZMwkQZSFF_QR4H5oTst3YOh9U-i4LQTKK_neolg3-wVU9k_XxgOmf2v99DIc4KFG6hUcEaOdfcZIMk" loading="lazy">  </article>   </div>    </div> <div class="b-singlepost-video-wrap"> <div data-autoplay-dockable-video-mount=""></div> </div>
<div id="comments" class="b-grove  b-grove-3comments" data-authtoken="c0:1682874000:290:86400:kVd1WaC7U3-0-:789f8b1113965f0f06b76e3faf9532c9"> <div class=" b-xylem  b-xylem-first  "> <ul class="b-xylem-cells">  <li class=" b-xylem-cell b-xylem-cell-amount ">   <span class="js-amount">  2 comments  </span>   </li>  </ul>  </div> <div class=" b-massaction-top ">  </div>    <div class=" b-tree b-tree-best ">  </div> <div class=" b-tree b-tree-promo " data-currentprice="">  </div>  <div class=" b-tree b-tree-root svgpreloader svgpreloader-pseudo svgpreloader-30 "><div class=" b-tree-twig  b-tree-twig-1 b-tree-twig-deep-0  " style="margin-left: 0px" data-tid="t244446">    <div id="t244446" class=" b-leaf            b-leaf-full   comment p-comment " data-username="ext_33113" data-displayname="Zołak [openid.pl]" data-updated-ts="1182362831" data-full="1"> <div class=" b-leaf-inner svgpreloader svgpreloader-pseudo svgpreloader-16 "> <div class="b-leaf-header"> <div class="b-leaf-userpic"> <a href="https://ext-33113.livejournal.com/" target="_blank" class="b-leaf-userpic-inner" lj:user="ext_33113">   <img src="https://l-stat.livejournal.net/img/userpics/userpic-user.png?v=15821" alt="ext_33113" loading="lazy">  </a> </div> <div class="b-leaf-details">   <p class="b-leaf-username"><span class="b-leaf-username-name"><span class="ljuser  i-ljuser  i-ljuser-deleted  i-ljuser-type-I     " data-ljuser="ext_33113" lj:user="ext_33113"><a href="https://www.livejournal.com/profile?userid=12305238&amp;t=I" class="i-ljuser-profile" target="_self"><img class="i-ljuser-userhead" src="https://l-stat.livejournal.net/img/social-icons/colored/openid.svg?v=5044?v=657"></a><a href="https://ext-33113.livejournal.com/" class="i-ljuser-username" target="_self"><b>ext_33113</b></a></span> </span>  </p> <p class="b-leaf-meta">  <a href="https://lacinka.livejournal.com/42462.html?thread=244446#t244446" class="b-leaf-permalink" target="_self"> <span class="b-leaf-createdtime">June 20 2007, 18:07:11 UTC</span> </a>   <span class="b-leaf-shorttime">15 years ago</span>   </p>   </ul>        </div> </div>  <div class="b-leaf-article"> Dziakuj. Zaŭždy hladžu na takija rečy z realu i dumaju, jak by heta mahło być, kali b... </div>   </div> </div>    </div><div class=" b-tree-twig  b-tree-twig-1 b-tree-twig-deep-0  " style="margin-left: 0px" data-tid="t244702">    <div id="t244702" class=" b-leaf            b-leaf-full   comment p-comment " data-username="ex_biespart" data-displayname="ex_biespart" data-updated-ts="1182377723" data-full="1"> <div class=" b-leaf-inner svgpreloader svgpreloader-pseudo svgpreloader-16 "> <div class="b-leaf-header"> <div class="b-leaf-userpic"> <a href="https://ex-biespart.livejournal.com/" target="_blank" class="b-leaf-userpic-inner" lj:user="ex_biespart">   <img src="https://l-stat.livejournal.net/img/userpics/userpic-user.png?v=15821" alt="ex_biespart" loading="lazy">  </a> </div> <div class="b-leaf-details">   <p class="b-leaf-username"><span class="b-leaf-username-name"><span class="ljuser  i-ljuser  i-ljuser-deleted  i-ljuser-type-P     " data-ljuser="ex_biespart" lj:user="ex_biespart"><a href="https://ex-biespart.livejournal.com/profile" class="i-ljuser-profile" target="_self"><img class="i-ljuser-userhead" src="https://l-stat.livejournal.net/img/userinfo_v8.svg?v=17080?v=657"></a><a href="https://ex-biespart.livejournal.com/" class="i-ljuser-username" target="_self"><b>ex_biespart</b></a></span> </span>  </p> <p class="b-leaf-meta">  <a href="https://lacinka.livejournal.com/42462.html?thread=244702#t244702" class="b-leaf-permalink" target="_self"> <span class="b-leaf-createdtime">June 20 2007, 22:15:23 UTC</span> </a>   <span class="b-leaf-shorttime">15 years ago</span>   </p>   </ul>        </div> </div>  <div class="b-leaf-article"> Niešta ničoha nia bačna. </div>   </div> </div>    </div></div>     <div prev-next-nav=""></div> <div suggestion-for-unlogged="" class="ng-isolate-scope"><!-- ngIf: directive.isBlockVisible --></div>   </div>         