---
id: 43702
layout: page
date: 2022-10-16
---


<!-- s-body -->
        <div class="s-body">

            <!-- use header -->
            <!-- /use header -->

            <!-- Content -->
             <article class="b-singlepost hentry h-entry js-emojis  b-singlepost-mobileadaptive  b-singlepost-withbodybanner  ng-scope" role="main" ng-app="Entry"> <div class="b-singlepost-qrcode  ng-isolate-scope" lj-qrcode="https://lacinka.livejournal.com/43702.html" lj-qrcode-width="70" lj-qrcode-height="70"> <canvas width="70" height="70"></canvas></div> <div class="b-singlepost-about"> <dl class=" b-singlepost-author author vcard p-author h-card " ng-non-bindable=""> <dt class=" b-singlepost-author-userpic photo u-photo " lj:user="dunaj">  <img src="https://l-userpic.livejournal.com/60940800/10057959" width="100" height="65" align="absmiddle" title="Paŭluk: sfakusujsia" alt="">  </dt> <dd class="b-singlepost-author-userinfo"> <div class="b-singlepost-author-userinfo-screen"> <span class=" b-singlepost-author-user fn p-name "> <span class="b-singlepost-author-user-screen"> Paŭluk (<span class="ljuser  i-ljuser  i-ljuser-type-P     " data-ljuser="dunaj" lj:user="dunaj"><a href="https://dunaj.livejournal.com/profile" target="_self" class="i-ljuser-profile"><img class="i-ljuser-userhead" src="https://l-stat.livejournal.net/img/userinfo_v8.svg?v=17080?v=657"></a><a href="https://dunaj.livejournal.com/" class="i-ljuser-username" target="_self"><b>dunaj</b></a></span>) wrote in <span class="ljuser  i-ljuser  i-ljuser-type-C     " data-ljuser="lacinka" lj:user="lacinka"><a href="https://lacinka.livejournal.com/profile" target="_self" class="i-ljuser-profile"><img class="i-ljuser-userhead" src="https://l-stat.livejournal.net/img/community.gif?v=556?v=657"></a><a href="https://lacinka.livejournal.com/" class="i-ljuser-username" target="_self"><b>lacinka</b></a></span>, </span> </span> <br> <time class=" b-singlepost-author-date published dt-published "><a href="https://lacinka.livejournal.com/2007/" target="_self">2007</a>-<a href="https://lacinka.livejournal.com/2007/11/" target="_self">11</a>-<a href="https://lacinka.livejournal.com/2007/11/23/" target="_self">23</a> 00:22:00</time>   </div> <div class="b-singlepost-author-userinfo-print"> <span class=" b-singlepost-author-user fn p-name "> Paŭluk<br> <span class="ljuser  i-ljuser  i-ljuser-type-P     " data-ljuser="dunaj" lj:user="dunaj"><a href="https://dunaj.livejournal.com/profile" target="_self" class="i-ljuser-profile"><img class="i-ljuser-userhead" src="https://l-stat.livejournal.net/img/userinfo_v8.svg?v=17080?v=657"></a><a href="https://dunaj.livejournal.com/" class="i-ljuser-username" target="_self"><b>dunaj</b></a></span>  <br><span class="ljuser  i-ljuser  i-ljuser-type-C     " data-ljuser="lacinka" lj:user="lacinka"><a href="https://lacinka.livejournal.com/profile" target="_self" class="i-ljuser-profile"><img class="i-ljuser-userhead" src="https://l-stat.livejournal.net/img/community.gif?v=556?v=657"></a><a href="https://lacinka.livejournal.com/" class="i-ljuser-username" target="_self"><b>lacinka</b></a></span>  </span> <br> <time class=" b-singlepost-author-date published dt-published "><a href="https://lacinka.livejournal.com/2007/" target="_self">2007</a>-<a href="https://lacinka.livejournal.com/2007/11/" target="_self">11</a>-<a href="https://lacinka.livejournal.com/2007/11/23/" target="_self">23</a> 00:22:00</time> </div> </dd> </dl>  </div>    <div class="b-singlepost-wrapper">  ¤ <ul class="b-linkbar">  <li class="b-linkbar-item"><a href="https://www.livejournal.com/go.bml?journal=lacinka&amp;itemid=43702&amp;dir=prev" rel="nofollow" title="Previous" class="b-controls b-controls-prev" target="_self"><i class="b-controls-bg"></i>Previous</a></li>  <li class="b-linkbar-item ng-scope" lj-share="{ url: 'https://lacinka.livejournal.com/43702.html', title: '', text: '', hashtags: '', alwaysBottom: true }">
                <a href="javascript:void(0);" rel="nofollow" title="Share" class="b-controls b-controls-share js-lj-share" data-hashtags="" data-title="" data-url="https%3A%2F%2Flacinka.livejournal.com%2F43702.html" target="_self">
                    <i class="b-controls-bg"></i>Share
                </a>
            </li>  <li class="b-linkbar-item"><a href="https://www.livejournal.com/tools/content_flag.bml?user=lacinka&amp;itemid=43702" rel="nofollow" title="Flag" class="b-controls b-controls-flag" target="_self"><i class="b-controls-bg"></i>Flag</a></li>  <li class="b-linkbar-item"><a href="https://www.livejournal.com/go.bml?journal=lacinka&amp;itemid=43702&amp;dir=next" rel="nofollow" title="Next" class="b-controls b-controls-next" target="_self"><i class="b-controls-bg"></i>Next</a></li>  </ul> </div>      <div class="b-singlepost-bodywrapper">  <article class="b-singlepost-body entry-content e-content   ng-scope" lj-sale-entry="" lj-discovery-tags="" lj-embed-resizer=""> Spadarstva, chaču źviarnuć vašuju ŭvahu na nastupny dakument: <a href="http://www.pravo.by/pdf/2007-159/2007-159(027-028).pdf" rel="nofollow" target="_self">http://www.pravo.by/pdf/2007-159/2007-159(027-028).pdf</a> – “Ab uniasieńni źmienaŭ i dapaŭnieńniaŭ u Instrukcyju pa tranśliteracyji gieagrafičnych nazvaŭ Respubliki Biełaruś litarami łacinskaj abecedy”. Ci znajomyja vy ź jim?<br><br>Taksama trochi infarmacyji ad <span class="ljuser  i-ljuser  i-ljuser-type-P     " data-ljuser="dassax" lj:user="dassax"><a href="https://dassax.livejournal.com/profile" target="_self" class="i-ljuser-profile"><img class="i-ljuser-userhead" src="https://l-stat.livejournal.net/img/userinfo_v8.svg?v=17080?v=657"></a><a href="https://dassax.livejournal.com/" class="i-ljuser-username" target="_self"><b>dassax</b></a></span>'a ŭ hetaj halinie: <a href="http://community.livejournal.com/by_mova/309280.html?thread=3379232#t3379232" target="_self">http://community.livejournal.com/by_mova/309280.html?thread=3379232#t3379232</a><br><br>Z hetymi źmienami adroźnieńni miž najbolš raspaŭsiudžanaj formaj łacinki i tym, čym musiać karystacca dziaržaŭnyja organy (byccam by i nia tolki dla gieagrafičnych nazvaŭ, ale i dla imionaŭ u pašpartach u niedalokaj budučyni), zvodziacca da minimumu: zamiest pary «Ł - L» uvodzicca para «L - Ĺ».<br><br>Mnie zdajecca, što kali takaja praktyka sapraŭdy budzie mieć miesca, to słušnym krokam byŭ by pierachod i ŭsich tych, chto karystajecca łacinkaj u asabistym paradku ŭ toj ci jinšaj formie, mienavita da apisanaj jaje versiji. Tym bolš, što svaje sympatyji datyčna pierachodu da pary «L - Ĺ» vykazvalisia mnohimi i raniej – z tym ža Źmitrom Saŭkam ułučna. Takaja “infarmacyjnaja padtrymka” mieła b plon.<br><br>Ci zhodnyja vy?  <div class="etn0wi"></div></article> <div lj0sale0height="600" lj0sale0window0min="1200" lj0sale0window0max="9999" lj0sale0hide0cookie="s1_rightbanner_closed" class="ljsale ljsale--empty b-singlepost-bodybanner ng-isolate-scope" lj0sale0not0init="s1_right"><div class="ljsale__inner">

    <div class="allbanners ">

        <!-- ngIf: directive.customId -->
        <div id="">

          <!-- ngIf: directive.type -->
        
        </div>

        <!-- ngIf: directive.close -->

    </div>

    <!-- ngIf: directive.hideble -->

</div>
</div>  </div>    </div> <div class="b-singlepost-video-wrap"> <div data-autoplay-dockable-video-mount=""></div> </div>
<div id="comments" class="b-grove" data-authtoken="c0:1682874000:294:86400:UG1G8Df0yq-0-:998312666238adceace967dcc67ccd71"> <div class=" b-xylem  b-xylem-first  "> <ul class="b-xylem-cells">  <li class=" b-xylem-cell b-xylem-cell-amount ">   <span class="js-amount">  37 comments  </span>   </li>  </ul>  </div> <div class=" b-massaction-top ">  </div>    <div class=" b-tree b-tree-best ">  </div> <div class=" b-tree b-tree-promo " data-currentprice="">  </div>  <div class=" b-tree b-tree-root svgpreloader svgpreloader-pseudo svgpreloader-30 "><div class=" b-tree-twig  b-tree-twig-1 b-tree-twig-deep-0  " style="margin-left: 0px" data-tid="t257462">    <div id="t257462" class=" b-leaf            b-leaf-full   comment p-comment " data-username="ex_biespart" data-displayname="ex_biespart" data-updated-ts="1195771739" data-full="1"> <div class=" b-leaf-inner svgpreloader svgpreloader-pseudo svgpreloader-16 "> <div class="b-leaf-header"> <div class="b-leaf-userpic"> <a href="https://ex-biespart.livejournal.com/" target="_blank" class="b-leaf-userpic-inner" lj:user="ex_biespart">   <img src="https://l-stat.livejournal.net/img/userpics/userpic-user.png?v=15821" alt="ex_biespart" loading="lazy">  </a> </div> <div class="b-leaf-details">   <p class="b-leaf-username"><span class="b-leaf-username-name"><span class="ljuser  i-ljuser  i-ljuser-deleted  i-ljuser-type-P     " data-ljuser="ex_biespart" lj:user="ex_biespart"><a href="https://ex-biespart.livejournal.com/profile" class="i-ljuser-profile" target="_self"><img class="i-ljuser-userhead" src="https://l-stat.livejournal.net/img/userinfo_v8.svg?v=17080?v=657"></a><a href="https://ex-biespart.livejournal.com/" class="i-ljuser-username" target="_self"><b>ex_biespart</b></a></span> </span>  </p> <p class="b-leaf-meta">  <a href="https://lacinka.livejournal.com/43702.html?thread=257462#t257462" class="b-leaf-permalink" target="_self"> <span class="b-leaf-createdtime">November 22 2007, 22:48:59 UTC</span> </a>   <span class="b-leaf-shorttime">15 years ago</span>   </p>   </ul>        </div> </div>  <div class="b-leaf-article"> Pakul dziaržaŭnaja łacinka maje status tranśliteracyi, a nie alternatyŭnaha biełaruskaha alfabetu, tamu niama pra što i havaryć. Kali ž dziaržava Biełaruś aficyjna pryznaje dvajakaść biełaruskaha piśma NIA TOLKI dla hieahrafičnych nazvaŭ dy proźviščaŭ, tady j budzie plon u mahčymaj zhodzie. </div>   </div> </div>    </div><div class=" b-tree-twig  b-tree-twig-2 b-tree-twig-deep-0  " style="margin-left: 30px" data-tid="t257718">    <div id="t257718" class=" b-leaf        b-leaf-poster      b-leaf-full   comment p-comment " data-username="dunaj" data-displayname="dunaj" data-updated-ts="1195772477" data-full="1"> <div class=" b-leaf-inner svgpreloader svgpreloader-pseudo svgpreloader-16 "> <div class="b-leaf-header"> <div class="b-leaf-userpic"> <a href="https://dunaj.livejournal.com/" target="_blank" class="b-leaf-userpic-inner" lj:user="dunaj">   <img src="https://l-userpic.livejournal.com/60940800/10057959" alt="dunaj" loading="lazy" title="Paŭluk: sfakusujsia">  </a> </div> <div class="b-leaf-details">   <p class="b-leaf-username"><span class="b-leaf-username-name"><span class="ljuser  i-ljuser  i-ljuser-type-P     " data-ljuser="dunaj" lj:user="dunaj"><a href="https://dunaj.livejournal.com/profile" class="i-ljuser-profile" target="_self"><img class="i-ljuser-userhead" src="https://l-stat.livejournal.net/img/userinfo_v8.svg?v=17080?v=657"></a><a href="https://dunaj.livejournal.com/" class="i-ljuser-username" target="_self"><b>dunaj</b></a></span> </span>  </p> <p class="b-leaf-meta">  <a href="https://lacinka.livejournal.com/43702.html?thread=257718#t257718" class="b-leaf-permalink" target="_self"> <span class="b-leaf-createdtime">November 22 2007, 23:01:17 UTC</span> </a>   <span class="b-leaf-shorttime">15 years ago</span>   </p>   </ul>        </div> </div>  <div class="b-leaf-article"> Nu, ultymatum prosta… :) </div>   </div> </div>    </div><div class=" b-tree-twig  b-tree-twig-3 b-tree-twig-deep-0  " style="margin-left: 60px" data-tid="t257974">    <div id="t257974" class=" b-leaf  b-leaf-collapsed             comment p-comment " data-username="ex_biespart" data-displayname="ex_biespart" data-updated-ts="1195772665"> <div class=" b-leaf-inner svgpreloader svgpreloader-pseudo svgpreloader-16 "> <div class="b-leaf-header"> <div class="b-leaf-userpic"> <a href="https://ex-biespart.livejournal.com/" target="_blank" class="b-leaf-userpic-inner" lj:user="ex_biespart">   <img src="https://l-stat.livejournal.net/img/userpics/userpic-user.png?v=15821" alt="ex_biespart" loading="lazy">  </a> </div> <div class="b-leaf-details">   <p class="b-leaf-username"><span class="b-leaf-username-name"><span class="ljuser  i-ljuser  i-ljuser-deleted  i-ljuser-type-P     " data-ljuser="ex_biespart" lj:user="ex_biespart"><a href="https://ex-biespart.livejournal.com/profile" class="i-ljuser-profile" target="_self"><img class="i-ljuser-userhead" src="https://l-stat.livejournal.net/img/userinfo_v8.svg?v=17080?v=657"></a><a href="https://ex-biespart.livejournal.com/" class="i-ljuser-username" target="_self"><b>ex_biespart</b></a></span> </span>  </p> <p class="b-leaf-meta">   <span class="b-leaf-shorttime">15 years ago</span>   </p>   </ul>    </div> </div>   </div> </div>    </div><div class=" b-tree-twig  b-tree-twig-4 b-tree-twig-deep-0  " style="margin-left: 90px" data-tid="t260278">    <div id="t260278" class=" b-leaf  b-leaf-collapsed        b-leaf-poster       comment p-comment " data-username="dunaj" data-displayname="dunaj" data-updated-ts="1195807536"> <div class=" b-leaf-inner svgpreloader svgpreloader-pseudo svgpreloader-16 "> <div class="b-leaf-header"> <div class="b-leaf-userpic"> <a href="https://dunaj.livejournal.com/" target="_blank" class="b-leaf-userpic-inner" lj:user="dunaj">   <img src="https://l-stat.livejournal.net/img/userpics/userpic-user.png?v=15821" alt="dunaj" loading="lazy">  </a> </div> <div class="b-leaf-details">   <p class="b-leaf-username"><span class="b-leaf-username-name"><span class="ljuser  i-ljuser  i-ljuser-type-P     " data-ljuser="dunaj" lj:user="dunaj"><a href="https://dunaj.livejournal.com/profile" class="i-ljuser-profile" target="_self"><img class="i-ljuser-userhead" src="https://l-stat.livejournal.net/img/userinfo_v8.svg?v=17080?v=657"></a><a href="https://dunaj.livejournal.com/" class="i-ljuser-username" target="_self"><b>dunaj</b></a></span> </span>  </p> <p class="b-leaf-meta">   <span class="b-leaf-shorttime">15 years ago</span>   </p>   </ul>    </div> </div>   </div> </div>    </div><div class=" b-tree-twig  b-tree-twig-5 b-tree-twig-deep-0  " style="margin-left: 120px" data-tid="t261046">    <div id="t261046" class=" b-leaf  b-leaf-collapsed             comment p-comment " data-username="ex_biespart" data-displayname="ex_biespart" data-updated-ts="1195807911"> <div class=" b-leaf-inner svgpreloader svgpreloader-pseudo svgpreloader-16 "> <div class="b-leaf-header"> <div class="b-leaf-userpic"> <a href="https://ex-biespart.livejournal.com/" target="_blank" class="b-leaf-userpic-inner" lj:user="ex_biespart">   <img src="https://l-stat.livejournal.net/img/userpics/userpic-user.png?v=15821" alt="ex_biespart" loading="lazy">  </a> </div> <div class="b-leaf-details">   <p class="b-leaf-username"><span class="b-leaf-username-name"><span class="ljuser  i-ljuser  i-ljuser-deleted  i-ljuser-type-P     " data-ljuser="ex_biespart" lj:user="ex_biespart"><a href="https://ex-biespart.livejournal.com/profile" class="i-ljuser-profile" target="_self"><img class="i-ljuser-userhead" src="https://l-stat.livejournal.net/img/userinfo_v8.svg?v=17080?v=657"></a><a href="https://ex-biespart.livejournal.com/" class="i-ljuser-username" target="_self"><b>ex_biespart</b></a></span> </span>  </p> <p class="b-leaf-meta">   <span class="b-leaf-shorttime">15 years ago</span>   </p>   </ul>    </div> </div>   </div> </div>    </div><div class=" b-tree-twig  b-tree-twig-6 b-tree-twig-deep-0  " style="margin-left: 150px" data-tid="t262838">    <div id="t262838" class=" b-leaf  b-leaf-collapsed        b-leaf-poster       comment p-comment " data-username="dunaj" data-displayname="dunaj" data-updated-ts="1195808546"> <div class=" b-leaf-inner svgpreloader svgpreloader-pseudo svgpreloader-16 "> <div class="b-leaf-header"> <div class="b-leaf-userpic"> <a href="https://dunaj.livejournal.com/" target="_blank" class="b-leaf-userpic-inner" lj:user="dunaj">   <img src="https://l-stat.livejournal.net/img/userpics/userpic-user.png?v=15821" alt="dunaj" loading="lazy">  </a> </div> <div class="b-leaf-details">   <p class="b-leaf-username"><span class="b-leaf-username-name"><span class="ljuser  i-ljuser  i-ljuser-type-P     " data-ljuser="dunaj" lj:user="dunaj"><a href="https://dunaj.livejournal.com/profile" class="i-ljuser-profile" target="_self"><img class="i-ljuser-userhead" src="https://l-stat.livejournal.net/img/userinfo_v8.svg?v=17080?v=657"></a><a href="https://dunaj.livejournal.com/" class="i-ljuser-username" target="_self"><b>dunaj</b></a></span> </span>  </p> <p class="b-leaf-meta">   <span class="b-leaf-shorttime">15 years ago</span>   </p>   </ul>    </div> </div>   </div> </div>    </div><div class=" b-tree-twig  b-tree-twig-7 b-tree-twig-deep-0  " style="margin-left: 180px" data-tid="t263350">    <div id="t263350" class=" b-leaf  b-leaf-collapsed             comment p-comment " data-username="ex_biespart" data-displayname="ex_biespart" data-updated-ts="1195808758"> <div class=" b-leaf-inner svgpreloader svgpreloader-pseudo svgpreloader-16 "> <div class="b-leaf-header"> <div class="b-leaf-userpic"> <a href="https://ex-biespart.livejournal.com/" target="_blank" class="b-leaf-userpic-inner" lj:user="ex_biespart">   <img src="https://l-stat.livejournal.net/img/userpics/userpic-user.png?v=15821" alt="ex_biespart" loading="lazy">  </a> </div> <div class="b-leaf-details">   <p class="b-leaf-username"><span class="b-leaf-username-name"><span class="ljuser  i-ljuser  i-ljuser-deleted  i-ljuser-type-P     " data-ljuser="ex_biespart" lj:user="ex_biespart"><a href="https://ex-biespart.livejournal.com/profile" class="i-ljuser-profile" target="_self"><img class="i-ljuser-userhead" src="https://l-stat.livejournal.net/img/userinfo_v8.svg?v=17080?v=657"></a><a href="https://ex-biespart.livejournal.com/" class="i-ljuser-username" target="_self"><b>ex_biespart</b></a></span> </span>  </p> <p class="b-leaf-meta">   <span class="b-leaf-shorttime">15 years ago</span>   </p>   </ul>    </div> </div>   </div> </div>    </div><div class=" b-tree-twig  b-tree-twig-1 b-tree-twig-deep-0  " style="margin-left: 0px" data-tid="t258230">    <div id="t258230" class=" b-leaf            b-leaf-full   comment p-comment " data-username="nicolaev" data-displayname="nicolaev" data-updated-ts="1195798554" data-full="1"> <div class=" b-leaf-inner svgpreloader svgpreloader-pseudo svgpreloader-16 "> <div class="b-leaf-header"> <div class="b-leaf-userpic"> <a href="https://nicolaev.livejournal.com/" target="_blank" class="b-leaf-userpic-inner" lj:user="nicolaev">   <img src="https://l-userpic.livejournal.com/117371542/7772678" alt="nicolaev" loading="lazy" title="Andrej Ludwik Mikałajeŭ OPs (Wojsza): AndReika Tibet Belarus Bielarus">  </a> </div> <div class="b-leaf-details">   <p class="b-leaf-username"><span class="b-leaf-username-name"><span class="ljuser  i-ljuser  i-ljuser-type-P     " data-ljuser="nicolaev" lj:user="nicolaev"><a href="https://nicolaev.livejournal.com/profile" class="i-ljuser-profile" target="_self"><img class="i-ljuser-userhead" src="https://l-stat.livejournal.net/img/userinfo_v8.svg?v=17080?v=657"></a><a href="https://nicolaev.livejournal.com/" class="i-ljuser-username" target="_self"><b>nicolaev</b></a></span> </span>  </p> <p class="b-leaf-meta">  <a href="https://lacinka.livejournal.com/43702.html?thread=258230#t258230" class="b-leaf-permalink" target="_self"> <span class="b-leaf-createdtime">November 23 2007, 06:15:54 UTC</span> </a>   <span class="b-leaf-shorttime">15 years ago</span>   </p>   </ul>        </div> </div>  <div class="b-leaf-article"> U mianie zapyt inšaha kštałtu:<br>a jakim čynam nabraci na kłavitury litary<br>"Ĺ" dyj adpaviednuju małuju litaru?<br>U jakoj jany jość raskładcy?<br>Niešta nie mahu znajści... </div>   </div> </div>    </div><div class=" b-tree-twig  b-tree-twig-2 b-tree-twig-deep-0  " style="margin-left: 30px" data-tid="t258998">    <div id="t258998" class=" b-leaf            b-leaf-full   comment p-comment " data-username="ex_biespart" data-displayname="ex_biespart" data-updated-ts="1195806298" data-full="1"> <div class=" b-leaf-inner svgpreloader svgpreloader-pseudo svgpreloader-16 "> <div class="b-leaf-header"> <div class="b-leaf-userpic"> <a href="https://ex-biespart.livejournal.com/" target="_blank" class="b-leaf-userpic-inner" lj:user="ex_biespart">   <img src="https://l-stat.livejournal.net/img/userpics/userpic-user.png?v=15821" alt="ex_biespart" loading="lazy">  </a> </div> <div class="b-leaf-details">   <p class="b-leaf-username"><span class="b-leaf-username-name"><span class="ljuser  i-ljuser  i-ljuser-deleted  i-ljuser-type-P     " data-ljuser="ex_biespart" lj:user="ex_biespart"><a href="https://ex-biespart.livejournal.com/profile" class="i-ljuser-profile" target="_self"><img class="i-ljuser-userhead" src="https://l-stat.livejournal.net/img/userinfo_v8.svg?v=17080?v=657"></a><a href="https://ex-biespart.livejournal.com/" class="i-ljuser-username" target="_self"><b>ex_biespart</b></a></span> </span>  </p> <p class="b-leaf-meta">  <a href="https://lacinka.livejournal.com/43702.html?thread=258998#t258998" class="b-leaf-permalink" target="_self"> <span class="b-leaf-createdtime">November 23 2007, 08:24:58 UTC</span> </a>   <span class="b-leaf-shorttime">15 years ago</span>   </p>   </ul>        </div> </div>  <div class="b-leaf-article"> Peŭna, treba zrabić:) Ale štości padobnaje, zdajecca, jość ci to ŭ słavakaŭ... </div>   </div> </div>    </div><div class=" b-tree-twig  b-tree-twig-3 b-tree-twig-deep-0  " style="margin-left: 60px" data-tid="t259254">    <div id="t259254" class=" b-leaf  b-leaf-collapsed         b-leaf-withsubject      comment p-comment " data-username="nicolaev" data-displayname="nicolaev" data-updated-ts="1195806563" data-subject="Reply to your comment..."> <div class=" b-leaf-inner svgpreloader svgpreloader-pseudo svgpreloader-16 "> <div class="b-leaf-header"> <div class="b-leaf-userpic"> <a href="https://nicolaev.livejournal.com/" target="_blank" class="b-leaf-userpic-inner" lj:user="nicolaev">   <img src="https://l-stat.livejournal.net/img/userpics/userpic-user.png?v=15821" alt="nicolaev" loading="lazy">  </a> </div> <div class="b-leaf-details">   <h4 class="b-leaf-subject"><a href="https://lacinka.livejournal.com/43702.html?thread=259254#t259254" class="b-leaf-subject-link" target="_self">Reply to your comment...</a></h4>  <p class="b-leaf-username"><span class="b-leaf-username-name"><span class="ljuser  i-ljuser  i-ljuser-type-P     " data-ljuser="nicolaev" lj:user="nicolaev"><a href="https://nicolaev.livejournal.com/profile" class="i-ljuser-profile" target="_self"><img class="i-ljuser-userhead" src="https://l-stat.livejournal.net/img/userinfo_v8.svg?v=17080?v=657"></a><a href="https://nicolaev.livejournal.com/" class="i-ljuser-username" target="_self"><b>nicolaev</b></a></span> </span>  </p> <p class="b-leaf-meta">   <span class="b-leaf-shorttime">15 years ago</span>   </p>   </ul>    </div> </div>   </div> </div>    </div><div class=" b-tree-twig  b-tree-twig-4 b-tree-twig-deep-0  " style="margin-left: 90px" data-tid="t259766">    <div id="t259766" class=" b-leaf  b-leaf-collapsed         b-leaf-withsubject      comment p-comment " data-username="ex_biespart" data-displayname="ex_biespart" data-updated-ts="1195806912" data-subject="Re: Reply to your comment..."> <div class=" b-leaf-inner svgpreloader svgpreloader-pseudo svgpreloader-16 "> <div class="b-leaf-header"> <div class="b-leaf-userpic"> <a href="https://ex-biespart.livejournal.com/" target="_blank" class="b-leaf-userpic-inner" lj:user="ex_biespart">   <img src="https://l-stat.livejournal.net/img/userpics/userpic-user.png?v=15821" alt="ex_biespart" loading="lazy">  </a> </div> <div class="b-leaf-details">   <h4 class="b-leaf-subject"><a href="https://lacinka.livejournal.com/43702.html?thread=259766#t259766" class="b-leaf-subject-link" target="_self">Re: Reply to your comment...</a></h4>  <p class="b-leaf-username"><span class="b-leaf-username-name"><span class="ljuser  i-ljuser  i-ljuser-deleted  i-ljuser-type-P     " data-ljuser="ex_biespart" lj:user="ex_biespart"><a href="https://ex-biespart.livejournal.com/profile" class="i-ljuser-profile" target="_self"><img class="i-ljuser-userhead" src="https://l-stat.livejournal.net/img/userinfo_v8.svg?v=17080?v=657"></a><a href="https://ex-biespart.livejournal.com/" class="i-ljuser-username" target="_self"><b>ex_biespart</b></a></span> </span>  </p> <p class="b-leaf-meta">   <span class="b-leaf-shorttime">15 years ago</span>   </p>   </ul>    </div> </div>   </div> </div>    </div><div class=" b-tree-twig  b-tree-twig-5 b-tree-twig-deep-0  " style="margin-left: 120px" data-tid="t260022">    <div id="t260022" class=" b-leaf  b-leaf-collapsed         b-leaf-withsubject      comment p-comment " data-username="nicolaev" data-displayname="nicolaev" data-updated-ts="1195807142" data-subject="Reply to your comment..."> <div class=" b-leaf-inner svgpreloader svgpreloader-pseudo svgpreloader-16 "> <div class="b-leaf-header"> <div class="b-leaf-userpic"> <a href="https://nicolaev.livejournal.com/" target="_blank" class="b-leaf-userpic-inner" lj:user="nicolaev">   <img src="https://l-stat.livejournal.net/img/userpics/userpic-user.png?v=15821" alt="nicolaev" loading="lazy">  </a> </div> <div class="b-leaf-details">   <h4 class="b-leaf-subject"><a href="https://lacinka.livejournal.com/43702.html?thread=260022#t260022" class="b-leaf-subject-link" target="_self">Reply to your comment...</a></h4>  <p class="b-leaf-username"><span class="b-leaf-username-name"><span class="ljuser  i-ljuser  i-ljuser-type-P     " data-ljuser="nicolaev" lj:user="nicolaev"><a href="https://nicolaev.livejournal.com/profile" class="i-ljuser-profile" target="_self"><img class="i-ljuser-userhead" src="https://l-stat.livejournal.net/img/userinfo_v8.svg?v=17080?v=657"></a><a href="https://nicolaev.livejournal.com/" class="i-ljuser-username" target="_self"><b>nicolaev</b></a></span> </span>  </p> <p class="b-leaf-meta">   <span class="b-leaf-shorttime">15 years ago</span>   </p>   </ul>    </div> </div>   </div> </div>    </div><div class=" b-tree-twig  b-tree-twig-2 b-tree-twig-deep-0  " style="margin-left: 30px" data-tid="t260534">    <div id="t260534" class=" b-leaf        b-leaf-poster      b-leaf-full   comment p-comment " data-username="dunaj" data-displayname="dunaj" data-updated-ts="1195807676" data-full="1"> <div class=" b-leaf-inner svgpreloader svgpreloader-pseudo svgpreloader-16 "> <div class="b-leaf-header"> <div class="b-leaf-userpic"> <a href="https://dunaj.livejournal.com/" target="_blank" class="b-leaf-userpic-inner" lj:user="dunaj">   <img src="https://l-userpic.livejournal.com/60940800/10057959" alt="dunaj" loading="lazy" title="Paŭluk: sfakusujsia">  </a> </div> <div class="b-leaf-details">   <p class="b-leaf-username"><span class="b-leaf-username-name"><span class="ljuser  i-ljuser  i-ljuser-type-P     " data-ljuser="dunaj" lj:user="dunaj"><a href="https://dunaj.livejournal.com/profile" class="i-ljuser-profile" target="_self"><img class="i-ljuser-userhead" src="https://l-stat.livejournal.net/img/userinfo_v8.svg?v=17080?v=657"></a><a href="https://dunaj.livejournal.com/" class="i-ljuser-username" target="_self"><b>dunaj</b></a></span> </span>  </p> <p class="b-leaf-meta">  <a href="https://lacinka.livejournal.com/43702.html?thread=260534#t260534" class="b-leaf-permalink" target="_self"> <span class="b-leaf-createdtime">November 23 2007, 08:47:56 UTC</span> </a>   <span class="b-leaf-shorttime">15 years ago</span>   </p>   </ul>        </div> </div>  <div class="b-leaf-article"> Hetaja litara jość u słavackaj movie. Ja nabraŭ jaje praz tablicy symbalaŭ – u Windows charmap.exe. </div>   </div> </div>    </div><div class=" b-tree-twig  b-tree-twig-3 b-tree-twig-deep-0  " style="margin-left: 60px" data-tid="t261302">    <div id="t261302" class=" b-leaf  b-leaf-collapsed         b-leaf-withsubject      comment p-comment " data-username="nicolaev" data-displayname="nicolaev" data-updated-ts="1195808185" data-subject="Reply to your comment..."> <div class=" b-leaf-inner svgpreloader svgpreloader-pseudo svgpreloader-16 "> <div class="b-leaf-header"> <div class="b-leaf-userpic"> <a href="https://nicolaev.livejournal.com/" target="_blank" class="b-leaf-userpic-inner" lj:user="nicolaev">   <img src="https://l-stat.livejournal.net/img/userpics/userpic-user.png?v=15821" alt="nicolaev" loading="lazy">  </a> </div> <div class="b-leaf-details">   <h4 class="b-leaf-subject"><a href="https://lacinka.livejournal.com/43702.html?thread=261302#t261302" class="b-leaf-subject-link" target="_self">Reply to your comment...</a></h4>  <p class="b-leaf-username"><span class="b-leaf-username-name"><span class="ljuser  i-ljuser  i-ljuser-type-P     " data-ljuser="nicolaev" lj:user="nicolaev"><a href="https://nicolaev.livejournal.com/profile" class="i-ljuser-profile" target="_self"><img class="i-ljuser-userhead" src="https://l-stat.livejournal.net/img/userinfo_v8.svg?v=17080?v=657"></a><a href="https://nicolaev.livejournal.com/" class="i-ljuser-username" target="_self"><b>nicolaev</b></a></span> </span>  </p> <p class="b-leaf-meta">   <span class="b-leaf-shorttime">15 years ago</span>   </p>   </ul>    </div> </div>   </div> </div>    </div><div class=" b-tree-twig  b-tree-twig-4 b-tree-twig-deep-0  " style="margin-left: 90px" data-tid="t262070">    <div id="t262070" class=" b-leaf  b-leaf-collapsed        b-leaf-poster   b-leaf-withsubject      comment p-comment " data-username="dunaj" data-displayname="dunaj" data-updated-ts="1195808304" data-subject="Re: Reply to your comment..."> <div class=" b-leaf-inner svgpreloader svgpreloader-pseudo svgpreloader-16 "> <div class="b-leaf-header"> <div class="b-leaf-userpic"> <a href="https://dunaj.livejournal.com/" target="_blank" class="b-leaf-userpic-inner" lj:user="dunaj">   <img src="https://l-stat.livejournal.net/img/userpics/userpic-user.png?v=15821" alt="dunaj" loading="lazy">  </a> </div> <div class="b-leaf-details">   <h4 class="b-leaf-subject"><a href="https://lacinka.livejournal.com/43702.html?thread=262070#t262070" class="b-leaf-subject-link" target="_self">Re: Reply to your comment...</a></h4>  <p class="b-leaf-username"><span class="b-leaf-username-name"><span class="ljuser  i-ljuser  i-ljuser-type-P     " data-ljuser="dunaj" lj:user="dunaj"><a href="https://dunaj.livejournal.com/profile" class="i-ljuser-profile" target="_self"><img class="i-ljuser-userhead" src="https://l-stat.livejournal.net/img/userinfo_v8.svg?v=17080?v=657"></a><a href="https://dunaj.livejournal.com/" class="i-ljuser-username" target="_self"><b>dunaj</b></a></span> </span>  </p> <p class="b-leaf-meta">   <span class="b-leaf-shorttime">15 years ago</span>   </p>   </ul>    </div> </div>   </div> </div>    </div><div class=" b-tree-twig  b-tree-twig-5 b-tree-twig-deep-0  " style="margin-left: 120px" data-tid="t262582">    <div id="t262582" class=" b-leaf  b-leaf-collapsed         b-leaf-withsubject      comment p-comment " data-username="ex_biespart" data-displayname="ex_biespart" data-updated-ts="1195808458" data-subject="Re: Reply to your comment..."> <div class=" b-leaf-inner svgpreloader svgpreloader-pseudo svgpreloader-16 "> <div class="b-leaf-header"> <div class="b-leaf-userpic"> <a href="https://ex-biespart.livejournal.com/" target="_blank" class="b-leaf-userpic-inner" lj:user="ex_biespart">   <img src="https://l-stat.livejournal.net/img/userpics/userpic-user.png?v=15821" alt="ex_biespart" loading="lazy">  </a> </div> <div class="b-leaf-details">   <h4 class="b-leaf-subject"><a href="https://lacinka.livejournal.com/43702.html?thread=262582#t262582" class="b-leaf-subject-link" target="_self">Re: Reply to your comment...</a></h4>  <p class="b-leaf-username"><span class="b-leaf-username-name"><span class="ljuser  i-ljuser  i-ljuser-deleted  i-ljuser-type-P     " data-ljuser="ex_biespart" lj:user="ex_biespart"><a href="https://ex-biespart.livejournal.com/profile" class="i-ljuser-profile" target="_self"><img class="i-ljuser-userhead" src="https://l-stat.livejournal.net/img/userinfo_v8.svg?v=17080?v=657"></a><a href="https://ex-biespart.livejournal.com/" class="i-ljuser-username" target="_self"><b>ex_biespart</b></a></span> </span>  </p> <p class="b-leaf-meta">   <span class="b-leaf-shorttime">15 years ago</span>   </p>   </ul>    </div> </div>   </div> </div>    </div><div class=" b-tree-twig  b-tree-twig-6 b-tree-twig-deep-0  " style="margin-left: 150px" data-tid="t263606">    <div id="t263606" class=" b-leaf  b-leaf-collapsed        b-leaf-poster   b-leaf-withsubject      comment p-comment " data-username="dunaj" data-displayname="dunaj" data-updated-ts="1195808793" data-subject="Re: Reply to your comment..."> <div class=" b-leaf-inner svgpreloader svgpreloader-pseudo svgpreloader-16 "> <div class="b-leaf-header"> <div class="b-leaf-userpic"> <a href="https://dunaj.livejournal.com/" target="_blank" class="b-leaf-userpic-inner" lj:user="dunaj">   <img src="https://l-stat.livejournal.net/img/userpics/userpic-user.png?v=15821" alt="dunaj" loading="lazy">  </a> </div> <div class="b-leaf-details">   <h4 class="b-leaf-subject"><a href="https://lacinka.livejournal.com/43702.html?thread=263606#t263606" class="b-leaf-subject-link" target="_self">Re: Reply to your comment...</a></h4>  <p class="b-leaf-username"><span class="b-leaf-username-name"><span class="ljuser  i-ljuser  i-ljuser-type-P     " data-ljuser="dunaj" lj:user="dunaj"><a href="https://dunaj.livejournal.com/profile" class="i-ljuser-profile" target="_self"><img class="i-ljuser-userhead" src="https://l-stat.livejournal.net/img/userinfo_v8.svg?v=17080?v=657"></a><a href="https://dunaj.livejournal.com/" class="i-ljuser-username" target="_self"><b>dunaj</b></a></span> </span>  </p> <p class="b-leaf-meta">   <span class="b-leaf-shorttime">15 years ago</span>   </p>   </ul>    </div> </div>   </div> </div>    </div><div class=" b-tree-twig  b-tree-twig-7 b-tree-twig-deep-0  " style="margin-left: 180px" data-tid="t264118">    <div id="t264118" class=" b-leaf  b-leaf-collapsed         b-leaf-withsubject      comment p-comment " data-username="ex_biespart" data-displayname="ex_biespart" data-updated-ts="1195808903" data-subject="Re: Reply to your comment..."> <div class=" b-leaf-inner svgpreloader svgpreloader-pseudo svgpreloader-16 "> <div class="b-leaf-header"> <div class="b-leaf-userpic"> <a href="https://ex-biespart.livejournal.com/" target="_blank" class="b-leaf-userpic-inner" lj:user="ex_biespart">   <img src="https://l-stat.livejournal.net/img/userpics/userpic-user.png?v=15821" alt="ex_biespart" loading="lazy">  </a> </div> <div class="b-leaf-details">   <h4 class="b-leaf-subject"><a href="https://lacinka.livejournal.com/43702.html?thread=264118#t264118" class="b-leaf-subject-link" target="_self">Re: Reply to your comment...</a></h4>  <p class="b-leaf-username"><span class="b-leaf-username-name"><span class="ljuser  i-ljuser  i-ljuser-deleted  i-ljuser-type-P     " data-ljuser="ex_biespart" lj:user="ex_biespart"><a href="https://ex-biespart.livejournal.com/profile" class="i-ljuser-profile" target="_self"><img class="i-ljuser-userhead" src="https://l-stat.livejournal.net/img/userinfo_v8.svg?v=17080?v=657"></a><a href="https://ex-biespart.livejournal.com/" class="i-ljuser-username" target="_self"><b>ex_biespart</b></a></span> </span>  </p> <p class="b-leaf-meta">   <span class="b-leaf-shorttime">15 years ago</span>   </p>   </ul>    </div> </div>   </div> </div>    </div><div class=" b-tree-twig  b-tree-twig-7 b-tree-twig-deep-0  " style="margin-left: 180px" data-tid="t270518">    <div id="t270518" class=" b-leaf  b-leaf-collapsed             comment p-comment " data-username="nicolaev" data-displayname="nicolaev" data-updated-ts="1196097195"> <div class=" b-leaf-inner svgpreloader svgpreloader-pseudo svgpreloader-16 "> <div class="b-leaf-header"> <div class="b-leaf-userpic"> <a href="https://nicolaev.livejournal.com/" target="_blank" class="b-leaf-userpic-inner" lj:user="nicolaev">   <img src="https://l-stat.livejournal.net/img/userpics/userpic-user.png?v=15821" alt="nicolaev" loading="lazy">  </a> </div> <div class="b-leaf-details">   <p class="b-leaf-username"><span class="b-leaf-username-name"><span class="ljuser  i-ljuser  i-ljuser-type-P     " data-ljuser="nicolaev" lj:user="nicolaev"><a href="https://nicolaev.livejournal.com/profile" class="i-ljuser-profile" target="_self"><img class="i-ljuser-userhead" src="https://l-stat.livejournal.net/img/userinfo_v8.svg?v=17080?v=657"></a><a href="https://nicolaev.livejournal.com/" class="i-ljuser-username" target="_self"><b>nicolaev</b></a></span> </span>  </p> <p class="b-leaf-meta">   <span class="b-leaf-shorttime">15 years ago</span>   </p>   </ul>    </div> </div>   </div> </div>    </div><div class=" b-tree-twig  b-tree-twig-5 b-tree-twig-deep-0  " style="margin-left: 120px" data-tid="t263094">    <div id="t263094" class=" b-leaf  b-leaf-collapsed         b-leaf-withsubject      comment p-comment " data-username="nicolaev" data-displayname="nicolaev" data-updated-ts="1195808746" data-subject="Reply to your comment..."> <div class=" b-leaf-inner svgpreloader svgpreloader-pseudo svgpreloader-16 "> <div class="b-leaf-header"> <div class="b-leaf-userpic"> <a href="https://nicolaev.livejournal.com/" target="_blank" class="b-leaf-userpic-inner" lj:user="nicolaev">   <img src="https://l-stat.livejournal.net/img/userpics/userpic-user.png?v=15821" alt="nicolaev" loading="lazy">  </a> </div> <div class="b-leaf-details">   <h4 class="b-leaf-subject"><a href="https://lacinka.livejournal.com/43702.html?thread=263094#t263094" class="b-leaf-subject-link" target="_self">Reply to your comment...</a></h4>  <p class="b-leaf-username"><span class="b-leaf-username-name"><span class="ljuser  i-ljuser  i-ljuser-type-P     " data-ljuser="nicolaev" lj:user="nicolaev"><a href="https://nicolaev.livejournal.com/profile" class="i-ljuser-profile" target="_self"><img class="i-ljuser-userhead" src="https://l-stat.livejournal.net/img/userinfo_v8.svg?v=17080?v=657"></a><a href="https://nicolaev.livejournal.com/" class="i-ljuser-username" target="_self"><b>nicolaev</b></a></span> </span>  </p> <p class="b-leaf-meta">   <span class="b-leaf-shorttime">15 years ago</span>   </p>   </ul>    </div> </div>   </div> </div>    </div><div class=" b-tree-twig  b-tree-twig-4 b-tree-twig-deep-0  " style="margin-left: 90px" data-tid="t262326">    <div id="t262326" class=" b-leaf  b-leaf-collapsed         b-leaf-withsubject      comment p-comment " data-username="ex_biespart" data-displayname="ex_biespart" data-updated-ts="1195808344" data-subject="Re: Reply to your comment..."> <div class=" b-leaf-inner svgpreloader svgpreloader-pseudo svgpreloader-16 "> <div class="b-leaf-header"> <div class="b-leaf-userpic"> <a href="https://ex-biespart.livejournal.com/" target="_blank" class="b-leaf-userpic-inner" lj:user="ex_biespart">   <img src="https://l-stat.livejournal.net/img/userpics/userpic-user.png?v=15821" alt="ex_biespart" loading="lazy">  </a> </div> <div class="b-leaf-details">   <h4 class="b-leaf-subject"><a href="https://lacinka.livejournal.com/43702.html?thread=262326#t262326" class="b-leaf-subject-link" target="_self">Re: Reply to your comment...</a></h4>  <p class="b-leaf-username"><span class="b-leaf-username-name"><span class="ljuser  i-ljuser  i-ljuser-deleted  i-ljuser-type-P     " data-ljuser="ex_biespart" lj:user="ex_biespart"><a href="https://ex-biespart.livejournal.com/profile" class="i-ljuser-profile" target="_self"><img class="i-ljuser-userhead" src="https://l-stat.livejournal.net/img/userinfo_v8.svg?v=17080?v=657"></a><a href="https://ex-biespart.livejournal.com/" class="i-ljuser-username" target="_self"><b>ex_biespart</b></a></span> </span>  </p> <p class="b-leaf-meta">   <span class="b-leaf-shorttime">15 years ago</span>   </p>   </ul>    </div> </div>   </div> </div>    </div><div class=" b-tree-twig  b-tree-twig-5 b-tree-twig-deep-0  " style="margin-left: 120px" data-tid="t263862">    <div id="t263862" class=" b-leaf  b-leaf-collapsed         b-leaf-withsubject      comment p-comment " data-username="nicolaev" data-displayname="nicolaev" data-updated-ts="1195808838" data-subject="Reply to your comment..."> <div class=" b-leaf-inner svgpreloader svgpreloader-pseudo svgpreloader-16 "> <div class="b-leaf-header"> <div class="b-leaf-userpic"> <a href="https://nicolaev.livejournal.com/" target="_blank" class="b-leaf-userpic-inner" lj:user="nicolaev">   <img src="https://l-stat.livejournal.net/img/userpics/userpic-user.png?v=15821" alt="nicolaev" loading="lazy">  </a> </div> <div class="b-leaf-details">   <h4 class="b-leaf-subject"><a href="https://lacinka.livejournal.com/43702.html?thread=263862#t263862" class="b-leaf-subject-link" target="_self">Reply to your comment...</a></h4>  <p class="b-leaf-username"><span class="b-leaf-username-name"><span class="ljuser  i-ljuser  i-ljuser-type-P     " data-ljuser="nicolaev" lj:user="nicolaev"><a href="https://nicolaev.livejournal.com/profile" class="i-ljuser-profile" target="_self"><img class="i-ljuser-userhead" src="https://l-stat.livejournal.net/img/userinfo_v8.svg?v=17080?v=657"></a><a href="https://nicolaev.livejournal.com/" class="i-ljuser-username" target="_self"><b>nicolaev</b></a></span> </span>  </p> <p class="b-leaf-meta">   <span class="b-leaf-shorttime">15 years ago</span>   </p>   </ul>    </div> </div>   </div> </div>    </div><div class=" b-tree-twig  b-tree-twig-1 b-tree-twig-deep-0  " style="margin-left: 0px" data-tid="t258486">    <div id="t258486" class=" b-leaf         b-leaf-withsubject     b-leaf-full   comment p-comment " data-username="nicolaev" data-displayname="nicolaev" data-updated-ts="1195800741" data-full="1" data-subject="ji ci i"> <div class=" b-leaf-inner svgpreloader svgpreloader-pseudo svgpreloader-16 "> <div class="b-leaf-header"> <div class="b-leaf-userpic"> <a href="https://nicolaev.livejournal.com/" target="_blank" class="b-leaf-userpic-inner" lj:user="nicolaev">   <img src="https://l-userpic.livejournal.com/117371542/7772678" alt="nicolaev" loading="lazy" title="Andrej Ludwik Mikałajeŭ OPs (Wojsza): AndReika Tibet Belarus Bielarus">  </a> </div> <div class="b-leaf-details">   <h4 class="b-leaf-subject"><a href="https://lacinka.livejournal.com/43702.html?thread=258486#t258486" class="b-leaf-subject-link" target="_self">ji ci i</a></h4>  <p class="b-leaf-username"><span class="b-leaf-username-name"><span class="ljuser  i-ljuser  i-ljuser-type-P     " data-ljuser="nicolaev" lj:user="nicolaev"><a href="https://nicolaev.livejournal.com/profile" class="i-ljuser-profile" target="_self"><img class="i-ljuser-userhead" src="https://l-stat.livejournal.net/img/userinfo_v8.svg?v=17080?v=657"></a><a href="https://nicolaev.livejournal.com/" class="i-ljuser-username" target="_self"><b>nicolaev</b></a></span> </span>  </p> <p class="b-leaf-meta">  <a href="https://lacinka.livejournal.com/43702.html?thread=258486#t258486" class="b-leaf-permalink" target="_self"> <span class="b-leaf-createdtime">November 23 2007, 06:52:21 UTC</span> </a>   <span class="b-leaf-shorttime">15 years ago</span>   </p>   </ul>        </div> </div>  <div class="b-leaf-article"> "ci jinšaj"<br>A jak pisaci słušniej tut: "jinšaj" ci "inšaj"?<br>Ja b napisaŭ - "inšaj".<br>I suhodna vyšej aznačanamu dakumentu, taksama - "i" biez varyjantaŭ... </div>   </div> </div>    </div><div class=" b-tree-twig  b-tree-twig-2 b-tree-twig-deep-0  " style="margin-left: 30px" data-tid="t258742">    <div id="t258742" class=" b-leaf         b-leaf-withsubject     b-leaf-full   comment p-comment " data-username="ex_biespart" data-displayname="ex_biespart" data-updated-ts="1195806178" data-full="1" data-subject="Re: ji ci i"> <div class=" b-leaf-inner svgpreloader svgpreloader-pseudo svgpreloader-16 "> <div class="b-leaf-header"> <div class="b-leaf-userpic"> <a href="https://ex-biespart.livejournal.com/" target="_blank" class="b-leaf-userpic-inner" lj:user="ex_biespart">   <img src="https://l-stat.livejournal.net/img/userpics/userpic-user.png?v=15821" alt="ex_biespart" loading="lazy">  </a> </div> <div class="b-leaf-details">   <h4 class="b-leaf-subject"><a href="https://lacinka.livejournal.com/43702.html?thread=258742#t258742" class="b-leaf-subject-link" target="_self">Re: ji ci i</a></h4>  <p class="b-leaf-username"><span class="b-leaf-username-name"><span class="ljuser  i-ljuser  i-ljuser-deleted  i-ljuser-type-P     " data-ljuser="ex_biespart" lj:user="ex_biespart"><a href="https://ex-biespart.livejournal.com/profile" class="i-ljuser-profile" target="_self"><img class="i-ljuser-userhead" src="https://l-stat.livejournal.net/img/userinfo_v8.svg?v=17080?v=657"></a><a href="https://ex-biespart.livejournal.com/" class="i-ljuser-username" target="_self"><b>ex_biespart</b></a></span> </span>  </p> <p class="b-leaf-meta">  <a href="https://lacinka.livejournal.com/43702.html?thread=258742#t258742" class="b-leaf-permalink" target="_self"> <span class="b-leaf-createdtime">November 23 2007, 08:22:58 UTC</span> </a>   <span class="b-leaf-shorttime">15 years ago</span>   </p>   </ul>        </div> </div>  <div class="b-leaf-article"> Łacinka.org trymajecca "i", chacia heta ž nie tatalitarnaje patrabavańnie:) </div>   </div> </div>    </div><div class=" b-tree-twig  b-tree-twig-3 b-tree-twig-deep-0  " style="margin-left: 60px" data-tid="t259510">    <div id="t259510" class=" b-leaf  b-leaf-collapsed         b-leaf-withsubject      comment p-comment " data-username="nicolaev" data-displayname="nicolaev" data-updated-ts="1195806565" data-subject="Re: ji ci i"> <div class=" b-leaf-inner svgpreloader svgpreloader-pseudo svgpreloader-16 "> <div class="b-leaf-header"> <div class="b-leaf-userpic"> <a href="https://nicolaev.livejournal.com/" target="_blank" class="b-leaf-userpic-inner" lj:user="nicolaev">   <img src="https://l-stat.livejournal.net/img/userpics/userpic-user.png?v=15821" alt="nicolaev" loading="lazy">  </a> </div> <div class="b-leaf-details">   <h4 class="b-leaf-subject"><a href="https://lacinka.livejournal.com/43702.html?thread=259510#t259510" class="b-leaf-subject-link" target="_self">Re: ji ci i</a></h4>  <p class="b-leaf-username"><span class="b-leaf-username-name"><span class="ljuser  i-ljuser  i-ljuser-type-P     " data-ljuser="nicolaev" lj:user="nicolaev"><a href="https://nicolaev.livejournal.com/profile" class="i-ljuser-profile" target="_self"><img class="i-ljuser-userhead" src="https://l-stat.livejournal.net/img/userinfo_v8.svg?v=17080?v=657"></a><a href="https://nicolaev.livejournal.com/" class="i-ljuser-username" target="_self"><b>nicolaev</b></a></span> </span>  </p> <p class="b-leaf-meta">   <span class="b-leaf-shorttime">15 years ago</span>   </p>   </ul>    </div> </div>   </div> </div>    </div><div class=" b-tree-twig  b-tree-twig-1 b-tree-twig-deep-0  " style="margin-left: 0px" data-tid="t260790">    <div class=" b-leaf b-leaf-clipped b-leaf-deleted " id="t260790"> <div class=" b-leaf-inner svgpreloader svgpreloader-pseudo svgpreloader-16 "> <div class="b-leaf-cheader"> <p class="b-leaf-status">  Deleted comment  </p>   </div>  </div> </div>    </div><div class=" b-tree-twig  b-tree-twig-2 b-tree-twig-deep-0  " style="margin-left: 30px" data-tid="t261558">    <div id="t261558" class=" b-leaf        b-leaf-poster      b-leaf-full   comment p-comment " data-username="dunaj" data-displayname="dunaj" data-updated-ts="1195808206" data-full="1"> <div class=" b-leaf-inner svgpreloader svgpreloader-pseudo svgpreloader-16 "> <div class="b-leaf-header"> <div class="b-leaf-userpic"> <a href="https://dunaj.livejournal.com/" target="_blank" class="b-leaf-userpic-inner" lj:user="dunaj">   <img src="https://l-userpic.livejournal.com/60940800/10057959" alt="dunaj" loading="lazy" title="Paŭluk: sfakusujsia">  </a> </div> <div class="b-leaf-details">   <p class="b-leaf-username"><span class="b-leaf-username-name"><span class="ljuser  i-ljuser  i-ljuser-type-P     " data-ljuser="dunaj" lj:user="dunaj"><a href="https://dunaj.livejournal.com/profile" class="i-ljuser-profile" target="_self"><img class="i-ljuser-userhead" src="https://l-stat.livejournal.net/img/userinfo_v8.svg?v=17080?v=657"></a><a href="https://dunaj.livejournal.com/" class="i-ljuser-username" target="_self"><b>dunaj</b></a></span> </span>  </p> <p class="b-leaf-meta">  <a href="https://lacinka.livejournal.com/43702.html?thread=261558#t261558" class="b-leaf-permalink" target="_self"> <span class="b-leaf-createdtime">November 23 2007, 08:56:46 UTC</span> </a>   <span class="b-leaf-shorttime">15 years ago</span>   </p>   </ul>        </div> </div>  <div class="b-leaf-article"> Palityka Našaj Nivy tut uvohule niezrazumiełaja. Voś <a href="http://www.nn.by/index.php?c=ar&amp;i=6744" rel="nofollow" target="_self">tut</a> jany abiacali pravieści “abmierkavańnie hetaj prablemy” – u lutym! Ale ci było jano, i što jany naabmiarkoŭvali, jim adnym viadoma. </div>   </div> </div>    </div><div class=" b-tree-twig  b-tree-twig-1 b-tree-twig-deep-0  " style="margin-left: 0px" data-tid="t266678">    <div id="t266678" class=" b-leaf            b-leaf-full   comment p-comment " data-username="ext_33113" data-displayname="Zołak [openid.pl]" data-updated-ts="1195815132" data-full="1"> <div class=" b-leaf-inner svgpreloader svgpreloader-pseudo svgpreloader-16 "> <div class="b-leaf-header"> <div class="b-leaf-userpic"> <a href="https://ext-33113.livejournal.com/" target="_blank" class="b-leaf-userpic-inner" lj:user="ext_33113">   <img src="https://l-stat.livejournal.net/img/userpics/userpic-user.png?v=15821" alt="ext_33113" loading="lazy">  </a> </div> <div class="b-leaf-details">   <p class="b-leaf-username"><span class="b-leaf-username-name"><span class="ljuser  i-ljuser  i-ljuser-deleted  i-ljuser-type-I     " data-ljuser="ext_33113" lj:user="ext_33113"><a href="https://www.livejournal.com/profile?userid=12305238&amp;t=I" class="i-ljuser-profile" target="_self"><img class="i-ljuser-userhead" src="https://l-stat.livejournal.net/img/social-icons/colored/openid.svg?v=5044?v=657"></a><a href="https://ext-33113.livejournal.com/" class="i-ljuser-username" target="_self"><b>ext_33113</b></a></span> </span>  </p> <p class="b-leaf-meta">  <a href="https://lacinka.livejournal.com/43702.html?thread=266678#t266678" class="b-leaf-permalink" target="_self"> <span class="b-leaf-createdtime">November 23 2007, 10:52:12 UTC</span> </a>   <span class="b-leaf-shorttime">15 years ago</span>   </p>   </ul>        </div> </div>  <div class="b-leaf-article"> &gt;Mnie zdajecca, (...) Ci zhodnyja vy?<br><br>Nia viedaju, jak inšyja (i jinšyja), ale ja sucelna zhodny z tym, što tabie heta mienavita zdajecca. </div>   </div> </div>    </div><div class=" b-tree-twig  b-tree-twig-2 b-tree-twig-deep-0  " style="margin-left: 30px" data-tid="t266934">    <div id="t266934" class=" b-leaf        b-leaf-poster      b-leaf-full   comment p-comment " data-username="dunaj" data-displayname="dunaj" data-updated-ts="1195815670" data-full="1"> <div class=" b-leaf-inner svgpreloader svgpreloader-pseudo svgpreloader-16 "> <div class="b-leaf-header"> <div class="b-leaf-userpic"> <a href="https://dunaj.livejournal.com/" target="_blank" class="b-leaf-userpic-inner" lj:user="dunaj">   <img src="https://l-userpic.livejournal.com/60940800/10057959" alt="dunaj" loading="lazy" title="Paŭluk: sfakusujsia">  </a> </div> <div class="b-leaf-details">   <p class="b-leaf-username"><span class="b-leaf-username-name"><span class="ljuser  i-ljuser  i-ljuser-type-P     " data-ljuser="dunaj" lj:user="dunaj"><a href="https://dunaj.livejournal.com/profile" class="i-ljuser-profile" target="_self"><img class="i-ljuser-userhead" src="https://l-stat.livejournal.net/img/userinfo_v8.svg?v=17080?v=657"></a><a href="https://dunaj.livejournal.com/" class="i-ljuser-username" target="_self"><b>dunaj</b></a></span> </span>  </p> <p class="b-leaf-meta">  <a href="https://lacinka.livejournal.com/43702.html?thread=266934#t266934" class="b-leaf-permalink" target="_self"> <span class="b-leaf-createdtime">November 23 2007, 11:01:10 UTC</span> </a>   <span class="b-leaf-shorttime">15 years ago</span>   </p>   </ul>        </div> </div>  <div class="b-leaf-article"> My z taboj na bruderšaft pili ci ty ŭsim tykaješ, o vialiki? </div>   </div> </div>    </div><div class=" b-tree-twig  b-tree-twig-3 b-tree-twig-deep-0  " style="margin-left: 60px" data-tid="t267446">    <div id="t267446" class=" b-leaf  b-leaf-collapsed             comment p-comment " data-username="ext_33113" data-displayname="Zołak [openid.pl]" data-updated-ts="1195823246"> <div class=" b-leaf-inner svgpreloader svgpreloader-pseudo svgpreloader-16 "> <div class="b-leaf-header"> <div class="b-leaf-userpic"> <a href="https://ext-33113.livejournal.com/" target="_blank" class="b-leaf-userpic-inner" lj:user="ext_33113">   <img src="https://l-stat.livejournal.net/img/userpics/userpic-user.png?v=15821" alt="ext_33113" loading="lazy">  </a> </div> <div class="b-leaf-details">   <p class="b-leaf-username"><span class="b-leaf-username-name"><span class="ljuser  i-ljuser  i-ljuser-deleted  i-ljuser-type-I     " data-ljuser="ext_33113" lj:user="ext_33113"><a href="https://www.livejournal.com/profile?userid=12305238&amp;t=I" class="i-ljuser-profile" target="_self"><img class="i-ljuser-userhead" src="https://l-stat.livejournal.net/img/social-icons/colored/openid.svg?v=5044?v=657"></a><a href="https://ext-33113.livejournal.com/" class="i-ljuser-username" target="_self"><b>ext_33113</b></a></span> </span>  </p> <p class="b-leaf-meta">   <span class="b-leaf-shorttime">15 years ago</span>   </p>   </ul>    </div> </div>   </div> </div>    </div><div class=" b-tree-twig  b-tree-twig-4 b-tree-twig-deep-0  " style="margin-left: 90px" data-tid="t267702">    <div id="t267702" class=" b-leaf  b-leaf-collapsed        b-leaf-poster       comment p-comment " data-username="dunaj" data-displayname="dunaj" data-updated-ts="1195824719"> <div class=" b-leaf-inner svgpreloader svgpreloader-pseudo svgpreloader-16 "> <div class="b-leaf-header"> <div class="b-leaf-userpic"> <a href="https://dunaj.livejournal.com/" target="_blank" class="b-leaf-userpic-inner" lj:user="dunaj">   <img src="https://l-stat.livejournal.net/img/userpics/userpic-user.png?v=15821" alt="dunaj" loading="lazy">  </a> </div> <div class="b-leaf-details">   <p class="b-leaf-username"><span class="b-leaf-username-name"><span class="ljuser  i-ljuser  i-ljuser-type-P     " data-ljuser="dunaj" lj:user="dunaj"><a href="https://dunaj.livejournal.com/profile" class="i-ljuser-profile" target="_self"><img class="i-ljuser-userhead" src="https://l-stat.livejournal.net/img/userinfo_v8.svg?v=17080?v=657"></a><a href="https://dunaj.livejournal.com/" class="i-ljuser-username" target="_self"><b>dunaj</b></a></span> </span>  </p> <p class="b-leaf-meta">   <span class="b-leaf-shorttime">15 years ago</span>   </p>   </ul>    </div> </div>   </div> </div>    </div><div class=" b-tree-twig  b-tree-twig-5 b-tree-twig-deep-0  " style="margin-left: 120px" data-tid="t269494">    <div id="t269494" class=" b-leaf  b-leaf-collapsed             comment p-comment " data-username="ext_33113" data-displayname="Zołak [openid.pl]" data-updated-ts="1195834031"> <div class=" b-leaf-inner svgpreloader svgpreloader-pseudo svgpreloader-16 "> <div class="b-leaf-header"> <div class="b-leaf-userpic"> <a href="https://ext-33113.livejournal.com/" target="_blank" class="b-leaf-userpic-inner" lj:user="ext_33113">   <img src="https://l-stat.livejournal.net/img/userpics/userpic-user.png?v=15821" alt="ext_33113" loading="lazy">  </a> </div> <div class="b-leaf-details">   <p class="b-leaf-username"><span class="b-leaf-username-name"><span class="ljuser  i-ljuser  i-ljuser-deleted  i-ljuser-type-I     " data-ljuser="ext_33113" lj:user="ext_33113"><a href="https://www.livejournal.com/profile?userid=12305238&amp;t=I" class="i-ljuser-profile" target="_self"><img class="i-ljuser-userhead" src="https://l-stat.livejournal.net/img/social-icons/colored/openid.svg?v=5044?v=657"></a><a href="https://ext-33113.livejournal.com/" class="i-ljuser-username" target="_self"><b>ext_33113</b></a></span> </span>  </p> <p class="b-leaf-meta">   <span class="b-leaf-shorttime">15 years ago</span>   </p>   </ul>    </div> </div>   </div> </div>    </div><div class=" b-tree-twig  b-tree-twig-1 b-tree-twig-deep-0  " style="margin-left: 0px" data-tid="t268982">    <div id="t268982" class=" b-leaf            b-leaf-full   comment p-comment " data-username="czyk" data-displayname="czyk" data-updated-ts="1195831726" data-full="1"> <div class=" b-leaf-inner svgpreloader svgpreloader-pseudo svgpreloader-16 "> <div class="b-leaf-header"> <div class="b-leaf-userpic"> <a href="https://czyk.livejournal.com/" target="_blank" class="b-leaf-userpic-inner" lj:user="czyk">   <img src="https://l-userpic.livejournal.com/63268369/8108068" alt="czyk" loading="lazy" title="czyk: park">  </a> </div> <div class="b-leaf-details">   <p class="b-leaf-username"><span class="b-leaf-username-name"><span class="ljuser  i-ljuser  i-ljuser-type-P     " data-ljuser="czyk" lj:user="czyk"><a href="https://czyk.livejournal.com/profile" class="i-ljuser-profile" target="_self"><img class="i-ljuser-userhead" src="https://l-stat.livejournal.net/img/userinfo_v8.svg?v=17080?v=657"></a><a href="https://czyk.livejournal.com/" class="i-ljuser-username" target="_self"><b>czyk</b></a></span> </span>  </p> <p class="b-leaf-meta">  <a href="https://lacinka.livejournal.com/43702.html?thread=268982#t268982" class="b-leaf-permalink" target="_self"> <span class="b-leaf-createdtime">November 23 2007, 15:28:46 UTC</span> </a>   <span class="b-leaf-shorttime">15 years ago</span>   </p>   </ul>        </div> </div>  <div class="b-leaf-article"> asabliva mnie spadabaŭsia horad «Jeėsk» =)<br><br>Kali surjozna, heta vieľmi pryjemnaja navina. <br>Adnak vyklikaje pytańni vybar litary Ĺ<br><br>Litara Ľ maje tradycyju abaznačeńnia L-miakkaha ŭ slavianskaj movie, a mienavita ŭ slavackaj movie, tady jak Ĺ maje tamsama funkcyju paznačeńnia L-skladovaha: VĹK (vŭk-voŭk), heta asabliva jaskrava bačna pry napisańni ad ruki, kali skladovaść l tradycyjna paznačajecca dužkaj źvierchu, jak u vypadkach «й» і «ў/ŭ». Kali bielaruskaj lacinskaj hrafikaj budzie pieraniataje hetaje napisańnie, jano budzie vyhliadać niesystemna ŭ paraŭnańni ź jinšymi «miakkimi» zyčnymi (ść…), u advarotnym vypadku daviadziecca prydumliać ulasnuju systemu pieradačy l-miakkaha pry napisańni ad ruki, što varta pryznać niespryjaľnaj dlia vybaru Ĺ akaličnaściu. <br><br>Adnak na hety systemny argument možna zapiarečyć, što faktyčna roznyja značeńni litar nie takaja ŭžo redkaść, jak pryklad - «s»/sz u vuhorskaj movie. <br><br>Razam z tym, realizavana samaje važnaje — navukova paśliadoŭnaja pieradača miakkaści zyčnych hukaŭ, u tym liku «L» + faktyčnaja unifikacyja hrafičnaha ladu z tradycyjnaj lacinkaj. <br><br>Treba mieć na ŭvazie, što zhadanaja systema jość transliteracyjaj, a nia pravilami hrafiki. <br>U pryvatnaści, nie paznačajecca fanetyčnaja miakkaść zyčnych tam, dzie jana nie paznačajecca ŭ aficyjnym kiryličnym napisańni. <br><br>Takim čynam, hetaja pastanova vartaja vitańnia, adnak havaryć pra ŭsieahuľny pierachod na vykarystańnie prapanavanaj systemy transliteracyji ŭ jakaści pravilaŭ lacinki nie vypadaje. Zacikaŭlienaja dyskucija navukoŭcaŭ i karystaľnikaŭ, a taksama raspracoŭka zvodu pravilaŭ — jašče napieradzie.  </div>   </div> </div>    </div><div class=" b-tree-twig  b-tree-twig-2 b-tree-twig-deep-0  " style="margin-left: 30px" data-tid="t269238">    <div id="t269238" class=" b-leaf        b-leaf-poster      b-leaf-full   comment p-comment " data-username="dunaj" data-displayname="dunaj" data-updated-ts="1195832904" data-full="1"> <div class=" b-leaf-inner svgpreloader svgpreloader-pseudo svgpreloader-16 "> <div class="b-leaf-header"> <div class="b-leaf-userpic"> <a href="https://dunaj.livejournal.com/" target="_blank" class="b-leaf-userpic-inner" lj:user="dunaj">   <img src="https://l-userpic.livejournal.com/60940800/10057959" alt="dunaj" loading="lazy" title="Paŭluk: sfakusujsia">  </a> </div> <div class="b-leaf-details">   <p class="b-leaf-username"><span class="b-leaf-username-name"><span class="ljuser  i-ljuser  i-ljuser-type-P     " data-ljuser="dunaj" lj:user="dunaj"><a href="https://dunaj.livejournal.com/profile" class="i-ljuser-profile" target="_self"><img class="i-ljuser-userhead" src="https://l-stat.livejournal.net/img/userinfo_v8.svg?v=17080?v=657"></a><a href="https://dunaj.livejournal.com/" class="i-ljuser-username" target="_self"><b>dunaj</b></a></span> </span>  </p> <p class="b-leaf-meta">  <a href="https://lacinka.livejournal.com/43702.html?thread=269238#t269238" class="b-leaf-permalink" target="_self"> <span class="b-leaf-createdtime">November 23 2007, 15:48:24 UTC</span> </a>   <span class="b-leaf-shorttime">15 years ago</span>   </p>   </ul>        </div> </div>  <div class="b-leaf-article"> Jak vy ličycie, ci nia lepš padychodzić dla systemnaha vykarystańnia ŭ aficyjnaj sfery mienavita taki varyjant: kali dźvie grafičnyja systemy źjaŭlajucca “paralelnymi” – h.zn. kali pakazvajecca akańnie, to akańnie ŭ abiedźviuch systemach, kali paznačajecca asymilacyjnaja miakkaść – to analagična, i h.d. Ja nia maju takoj infarmacyji, ale moža vy viedajecie, jak dźvie systemy sujisnujuć, naprykład, u serbaŭ? </div>   </div> </div>    </div><div class=" b-tree-twig  b-tree-twig-3 b-tree-twig-deep-0  " style="margin-left: 60px" data-tid="t269750">    <div id="t269750" class=" b-leaf  b-leaf-collapsed             comment p-comment " data-username="czyk" data-displayname="czyk" data-updated-ts="1195834139"> <div class=" b-leaf-inner svgpreloader svgpreloader-pseudo svgpreloader-16 "> <div class="b-leaf-header"> <div class="b-leaf-userpic"> <a href="https://czyk.livejournal.com/" target="_blank" class="b-leaf-userpic-inner" lj:user="czyk">   <img src="https://l-stat.livejournal.net/img/userpics/userpic-user.png?v=15821" alt="czyk" loading="lazy">  </a> </div> <div class="b-leaf-details">   <p class="b-leaf-username"><span class="b-leaf-username-name"><span class="ljuser  i-ljuser  i-ljuser-type-P     " data-ljuser="czyk" lj:user="czyk"><a href="https://czyk.livejournal.com/profile" class="i-ljuser-profile" target="_self"><img class="i-ljuser-userhead" src="https://l-stat.livejournal.net/img/userinfo_v8.svg?v=17080?v=657"></a><a href="https://czyk.livejournal.com/" class="i-ljuser-username" target="_self"><b>czyk</b></a></span> </span>  </p> <p class="b-leaf-meta">   <span class="b-leaf-shorttime">15 years ago</span>   </p>   </ul>    </div> </div>   </div> </div>    </div><div class=" b-tree-twig  b-tree-twig-2 b-tree-twig-deep-0  " style="margin-left: 30px" data-tid="t270006">    <div id="t270006" class=" b-leaf        b-leaf-poster      b-leaf-full   comment p-comment " data-username="dunaj" data-displayname="dunaj" data-updated-ts="1195834302" data-full="1"> <div class=" b-leaf-inner svgpreloader svgpreloader-pseudo svgpreloader-16 "> <div class="b-leaf-header"> <div class="b-leaf-userpic"> <a href="https://dunaj.livejournal.com/" target="_blank" class="b-leaf-userpic-inner" lj:user="dunaj">   <img src="https://l-userpic.livejournal.com/60940800/10057959" alt="dunaj" loading="lazy" title="Paŭluk: sfakusujsia">  </a> </div> <div class="b-leaf-details">   <p class="b-leaf-username"><span class="b-leaf-username-name"><span class="ljuser  i-ljuser  i-ljuser-type-P     " data-ljuser="dunaj" lj:user="dunaj"><a href="https://dunaj.livejournal.com/profile" class="i-ljuser-profile" target="_self"><img class="i-ljuser-userhead" src="https://l-stat.livejournal.net/img/userinfo_v8.svg?v=17080?v=657"></a><a href="https://dunaj.livejournal.com/" class="i-ljuser-username" target="_self"><b>dunaj</b></a></span> </span>  </p> <p class="b-leaf-meta">  <a href="https://lacinka.livejournal.com/43702.html?thread=270006#t270006" class="b-leaf-permalink" target="_self"> <span class="b-leaf-createdtime">November 23 2007, 16:11:42 UTC</span> </a>   <span class="b-leaf-shorttime">15 years ago</span>   </p>   </ul>        </div> </div>  <div class="b-leaf-article"> <i>…kali skladovaść l tradycyjna paznačajecca dužkaj źvierchu, jak u vypadkach «й» і «ў/ŭ».</i><br><br>Ja pamylajusia, ci tut usio ž NIE-składovaść, advarotnaje značeńnie hetaha pryznaka? :) </div>   </div> </div>    </div><div class=" b-tree-twig  b-tree-twig-3 b-tree-twig-deep-0  " style="margin-left: 60px" data-tid="t270262">    <div id="t270262" class=" b-leaf  b-leaf-collapsed             comment p-comment " data-username="czyk" data-displayname="czyk" data-updated-ts="1195834689"> <div class=" b-leaf-inner svgpreloader svgpreloader-pseudo svgpreloader-16 "> <div class="b-leaf-header"> <div class="b-leaf-userpic"> <a href="https://czyk.livejournal.com/" target="_blank" class="b-leaf-userpic-inner" lj:user="czyk">   <img src="https://l-stat.livejournal.net/img/userpics/userpic-user.png?v=15821" alt="czyk" loading="lazy">  </a> </div> <div class="b-leaf-details">   <p class="b-leaf-username"><span class="b-leaf-username-name"><span class="ljuser  i-ljuser  i-ljuser-type-P     " data-ljuser="czyk" lj:user="czyk"><a href="https://czyk.livejournal.com/profile" class="i-ljuser-profile" target="_self"><img class="i-ljuser-userhead" src="https://l-stat.livejournal.net/img/userinfo_v8.svg?v=17080?v=657"></a><a href="https://czyk.livejournal.com/" class="i-ljuser-username" target="_self"><b>czyk</b></a></span> </span>  </p> <p class="b-leaf-meta">   <span class="b-leaf-shorttime">15 years ago</span>   </p>   </ul>    </div> </div>   </div> </div>    </div><div class=" b-tree-twig  b-tree-twig-1 b-tree-twig-deep-0  " style="margin-left: 0px" data-tid="t302774">    <div id="t302774" class=" b-leaf            b-leaf-full   comment p-comment " data-username="nicolaev" data-displayname="nicolaev" data-updated-ts="1233405001" data-full="1"> <div class=" b-leaf-inner svgpreloader svgpreloader-pseudo svgpreloader-16 "> <div class="b-leaf-header"> <div class="b-leaf-userpic"> <a href="https://nicolaev.livejournal.com/" target="_blank" class="b-leaf-userpic-inner" lj:user="nicolaev">   <img src="https://l-userpic.livejournal.com/103751540/7772678" alt="nicolaev" loading="lazy" title="Andrej Ludwik Mikałajeŭ OPs (Wojsza): Litwin">  </a> </div> <div class="b-leaf-details">   <p class="b-leaf-username"><span class="b-leaf-username-name"><span class="ljuser  i-ljuser  i-ljuser-type-P     " data-ljuser="nicolaev" lj:user="nicolaev"><a href="https://nicolaev.livejournal.com/profile" class="i-ljuser-profile" target="_self"><img class="i-ljuser-userhead" src="https://l-stat.livejournal.net/img/userinfo_v8.svg?v=17080?v=657"></a><a href="https://nicolaev.livejournal.com/" class="i-ljuser-username" target="_self"><b>nicolaev</b></a></span> </span>  </p> <p class="b-leaf-meta">  <a href="https://lacinka.livejournal.com/43702.html?thread=302774#t302774" class="b-leaf-permalink" target="_self"> <span class="b-leaf-createdtime">January 31 2009, 12:30:01 UTC</span> </a>   <span class="b-leaf-shorttime">14 years ago</span>   </p>   </ul>        </div> </div>  <div class="b-leaf-article"> <p align="left"><strong><font size="6"><a href="http://nicolaev.livejournal.com/1011304.html" rel="nofollow" target="_self">„Jak pisać Łacinkaj?”</a></font></strong></p><p align="left">Далей, пан <span class="ljuser  i-ljuser  i-ljuser-deleted  i-ljuser-type-P     " data-ljuser="denkral" lj:user="denkral"><a href="https://denkral.livejournal.com/profile" target="_self" class="i-ljuser-profile"><img class="i-ljuser-userhead" src="https://l-stat.livejournal.net/img/userinfo_v8.svg?v=17080?v=657"></a><a href="https://denkral.livejournal.com/" class="i-ljuser-username" target="_self"><b>denkral</b></a></span> прапанаваў распісаць вартасьці <strong><a href="http://tonkoblako-9.net/docs/kbdlt-09.html" target="_blank" rel="nofollow">Keyboard Lithuaniae 1009-2009</a></strong> — раскладкі кампутарнай клавіятуры, дзе ў наяўнасьці <u>ўсе літары лаціны, беларускае лацінскае абэцэды, польскае, літоўскае, латгальскае, яцьвяскае, жамойцкае, латыскае, эстонскае, нямецкае моваў і найзначнейшыя тыпаґрафскія сымбалі</u>. Без праблем інсталюецца, як <u>раскладка для літоўскае мовы</u>.</p><p align="left">Распакуйма спампаваны <em>ZIP-архіў</em>, чытайма <em>README.txt</em>. Клац-клац <em>setup.exe</em>, па сканчаньні — перазагрузіце сістэму. Раскладка адлюструецца на моўнай панэлі літарамі <strong>LT</strong>, а сістэмная раскладка <strong>EN</strong> вам наўрад-ці пасьля ўжо спатрэбіцца :)) Бо вось якая бібліятэка маецца ў нашай раскладцы:</p><p align="left"><font size="5"><strong><font size="1">Normal</font></strong><br> ż 1 2 3 4 5 6 7 8 9 0 - = <br><strong><font size="1">Shift +</font></strong><br> Ż ! @ # $ % ^ &amp; * ( ) _ + <br><strong><font size="1">AltGr (Right Alt + Ctrl) +</font></strong><br> ž × © ß € ē ū ü ī ō ö — ≠ <br><strong><font size="1">Shift +AltGr (Right Alt + Ctrl) +</font></strong><br> Ž ÷ ® ẞ £ Ē Ū Ü Ī Ō Ö ― ±</font></p><p align="left"><font size="5"><strong><font size="1">Normal</font></strong><br> q w e r t y u i o p [ ] \<br><strong><font size="1">Shift +</font></strong><br> Q W E R T Y U I O P { } |<br><strong><font size="1">AltGr (Right Alt + Ctrl) +</font></strong><br> ä ā ę ė ų ú ŭ į ó õ ≈ ‚  ⁄<br><strong><font size="1">Shift +AltGr (Right Alt + Ctrl) +</font></strong><br> Ä Ā Ę Ė Ų Ú Ŭ Į Ó Õ ~ ‛ ¦</font></p><p align="left"><font size="5"><strong><font size="1">Normal</font></strong><br> a s d f g h j k l ; ‚ <br><strong><font size="1">Shift +</font></strong><br> A S D F G H J K L : „ <br><strong><font size="1">AltGr (Right Alt + Ctrl) +</font></strong><br> ą ś š æ ģ ļ ņ ķ ł ‘ ’ <br><strong><font size="1">Shift +AltGr (Right Alt + Ctrl) +</font></strong><br> Ą Ś Š Æ Ģ Ļ Ņ Ķ Ł “ ”</font></p><p align="left"><font size="5"><strong><font size="1">Normal</font></strong><br> z x c v b n m , . / <br><strong><font size="1">Shift +</font></strong><br> Z X C V B N M &lt; &gt; ? <br><strong><font size="1">AltGr (Right Alt + Ctrl) +</font></strong><br> ź č ć ĺ ľ ń ‹ « » … <br><strong><font size="1">Shift +AltGr (Right Alt + Ctrl) +</font></strong><br> Ź Č Ć Ĺ Ľ Ń › „ “  ́</font></p><p align="left">Language: <em>Lithuanian (Lithuania)</em><br>KBD: <em>kbdlt-09</em></p><p align="left"><strong><a href="http://tonkoblako-9.net/docs/kbdlt-09.zip" rel="nofollow" target="_self"><font size="3">Download Keyboard Lithuaniae 1009-2009</font></a></strong><font size="3"> (Wojsza)</font></p><p align="left"><em>© 2009 </em><a href="http://nicolaev.livejournal.com/" rel="nofollow" target="_self"><em>Andrej Mikałajeŭ-Paszkiewicz</em></a><em>, </em><a href="http://lm-wkl.livejournal.com/" rel="nofollow" target="_self"><em>Liga Monarchica Magni Ducati Lithuaniae</em></a></p><p align="left"><em>Запрашаем годна сустрэці Перапіс-2009 <br>разам з <span class="ljuser  i-ljuser  i-ljuser-type-C     " data-ljuser="litviny2009" lj:user="litviny2009"><a href="https://litviny2009.livejournal.com/profile" target="_self" class="i-ljuser-profile"><img class="i-ljuser-userhead" src="https://l-stat.livejournal.net/img/community.gif?v=556?v=657"></a><a href="https://litviny2009.livejournal.com/" class="i-ljuser-username" target="_self"><b>litviny2009</b></a></span> і <span class="ljuser  i-ljuser  i-ljuser-type-C     " data-ljuser="lithuaniae2009" lj:user="lithuaniae2009"><a href="https://lithuaniae2009.livejournal.com/profile" target="_self" class="i-ljuser-profile"><img class="i-ljuser-userhead" src="https://l-stat.livejournal.net/img/community.gif?v=556?v=657"></a><a href="https://lithuaniae2009.livejournal.com/" class="i-ljuser-username" target="_self"><b>lithuaniae2009</b></a></span>!</em></p> </div>   </div> </div>    </div></div>     <div prev-next-nav=""></div> <div suggestion-for-unlogged="" class="ng-isolate-scope"><!-- ngIf: directive.isBlockVisible --></div>   </div>         
