---
id: 46799
layout: page
date: 2022-10-16
---


<!-- s-body -->
        <div class="s-body">

            <!-- use header -->
            <!-- /use header -->

            <!-- Content -->
             <article class="b-singlepost hentry h-entry js-emojis  b-singlepost-mobileadaptive  b-singlepost-withbodybanner  ng-scope" role="main" ng-app="Entry"> <div class="b-singlepost-qrcode  ng-isolate-scope" lj-qrcode="https://lacinka.livejournal.com/46799.html" lj-qrcode-width="70" lj-qrcode-height="70"> <canvas width="70" height="70"></canvas></div> <div class="b-singlepost-about"> <dl class=" b-singlepost-author author vcard p-author h-card " ng-non-bindable=""> <dt class=" b-singlepost-author-userpic photo u-photo " lj:user="nicolaev">  <img src="https://l-userpic.livejournal.com/117371542/7772678" width="100" height="100" align="absmiddle" title="Andrej Ludwik Mikałajeŭ OPs (Wojsza): AndReika Tibet Belarus Bielarus" alt="">  </dt> <dd class="b-singlepost-author-userinfo"> <div class="b-singlepost-author-userinfo-screen"> <span class=" b-singlepost-author-user fn p-name "> <span class="b-singlepost-author-user-screen"> Andrej Ludwik Mikałajeŭ OPs (Wojsza) (<span class="ljuser  i-ljuser  i-ljuser-type-P     " data-ljuser="nicolaev" lj:user="nicolaev"><a href="https://nicolaev.livejournal.com/profile" target="_self" class="i-ljuser-profile"><img class="i-ljuser-userhead" src="https://l-stat.livejournal.net/img/userinfo_v8.svg?v=17080?v=657"></a><a href="https://nicolaev.livejournal.com/" class="i-ljuser-username" target="_self"><b>nicolaev</b></a></span>) wrote in <span class="ljuser  i-ljuser  i-ljuser-type-C     " data-ljuser="lacinka" lj:user="lacinka"><a href="https://lacinka.livejournal.com/profile" target="_self" class="i-ljuser-profile"><img class="i-ljuser-userhead" src="https://l-stat.livejournal.net/img/community.gif?v=556?v=657"></a><a href="https://lacinka.livejournal.com/" class="i-ljuser-username" target="_self"><b>lacinka</b></a></span>, </span> </span> <br> <time class=" b-singlepost-author-date published dt-published "><a href="https://lacinka.livejournal.com/2008/" target="_self">2008</a>-<a href="https://lacinka.livejournal.com/2008/01/" target="_self">01</a>-<a href="https://lacinka.livejournal.com/2008/01/24/" target="_self">24</a> 16:41:00</time>   </div> <div class="b-singlepost-author-userinfo-print"> <span class=" b-singlepost-author-user fn p-name "> Andrej Ludwik Mikałajeŭ OPs (Wojsza)<br> <span class="ljuser  i-ljuser  i-ljuser-type-P     " data-ljuser="nicolaev" lj:user="nicolaev"><a href="https://nicolaev.livejournal.com/profile" target="_self" class="i-ljuser-profile"><img class="i-ljuser-userhead" src="https://l-stat.livejournal.net/img/userinfo_v8.svg?v=17080?v=657"></a><a href="https://nicolaev.livejournal.com/" class="i-ljuser-username" target="_self"><b>nicolaev</b></a></span>  <br><span class="ljuser  i-ljuser  i-ljuser-type-C     " data-ljuser="lacinka" lj:user="lacinka"><a href="https://lacinka.livejournal.com/profile" target="_self" class="i-ljuser-profile"><img class="i-ljuser-userhead" src="https://l-stat.livejournal.net/img/community.gif?v=556?v=657"></a><a href="https://lacinka.livejournal.com/" class="i-ljuser-username" target="_self"><b>lacinka</b></a></span>  </span> <br> <time class=" b-singlepost-author-date published dt-published "><a href="https://lacinka.livejournal.com/2008/" target="_self">2008</a>-<a href="https://lacinka.livejournal.com/2008/01/" target="_self">01</a>-<a href="https://lacinka.livejournal.com/2008/01/24/" target="_self">24</a> 16:41:00</time> </div> </dd> </dl>  </div>    <div class="b-singlepost-wrapper">  <h1 class=" b-singlepost-title entry-title p-name " ng-non-bindable="">      Dzień bielaruskaje lacinki  </h1>  <div class="b-singlepost-bodywrapper">  <article class="b-singlepost-body entry-content e-content   ng-scope" lj-sale-entry="" lj-discovery-tags="" lj-embed-resizer=""> <p align="left">Ci jisnuje ŭ nas <strong>Dzień bielaruskaje lacinki</strong>?<br>Prapanuju pryznačyć <strong>21 studzienia</strong><br>Dniom bielaruskaj lacinki,<br>adznačać jaho štohod.</p><p align="left">Padrabiaźniej pra heta, pra lacinku j RS:<br><a href="http://nicolaev.livejournal.com/582535.html" rel="nofollow" target="_self">http://nicolaev.livejournal.com/582535.html</a></p>  <div class="bh1gjh"></div></article> <div lj0sale0height="600" lj0sale0window0min="1200" lj0sale0window0max="9999" lj0sale0hide0cookie="s1_rightbanner_closed" class="ljsale ljsale--empty b-singlepost-bodybanner ng-isolate-scope" lj0sale0not0init="s1_right"><div class="ljsale__inner">

    <div class="allbanners ">

        <!-- ngIf: directive.customId -->
        <div id="">

          <!-- ngIf: directive.type -->
        
        </div>

        <!-- ngIf: directive.close -->

    </div>

    <!-- ngIf: directive.hideble -->

</div>
</div>  </div>    </div> <div class="b-singlepost-video-wrap"> <div data-autoplay-dockable-video-mount=""></div> </div>
<div id="comments" class="b-grove" data-authtoken="c0:1682874000:303:86400:2ZasbCAuF9-0-:d77e7342e4dbb10c1aa9719f692847f5"> <div class=" b-xylem  b-xylem-first  "> <ul class="b-xylem-cells">  <li class=" b-xylem-cell b-xylem-cell-amount ">   <span class="js-amount">  6 comments  </span>   </li>  </ul>  </div> <div class=" b-massaction-top ">  </div>    <div class=" b-tree b-tree-best ">  </div> <div class=" b-tree b-tree-promo " data-currentprice="">  </div>  <div class=" b-tree b-tree-root svgpreloader svgpreloader-pseudo svgpreloader-30 "><div class=" b-tree-twig  b-tree-twig-1 b-tree-twig-deep-0  " style="margin-left: 0px" data-tid="t275663">    <div class=" b-leaf b-leaf-clipped b-leaf-deleted " id="t275663"> <div class=" b-leaf-inner svgpreloader svgpreloader-pseudo svgpreloader-16 "> <div class="b-leaf-cheader"> <p class="b-leaf-status">  Deleted comment  </p>   </div>  </div> </div>    </div><div class=" b-tree-twig  b-tree-twig-2 b-tree-twig-deep-0  " style="margin-left: 30px" data-tid="t275919">    <div id="t275919" class=" b-leaf        b-leaf-poster   b-leaf-withsubject     b-leaf-full   comment p-comment " data-username="nicolaev" data-displayname="nicolaev" data-updated-ts="1201258209" data-full="1" data-subject="Re: +1"> <div class=" b-leaf-inner svgpreloader svgpreloader-pseudo svgpreloader-16 "> <div class="b-leaf-header"> <div class="b-leaf-userpic"> <a href="https://nicolaev.livejournal.com/" target="_blank" class="b-leaf-userpic-inner" lj:user="nicolaev">   <img src="https://l-userpic.livejournal.com/117371542/7772678" alt="nicolaev" loading="lazy" title="Andrej Ludwik Mikałajeŭ OPs (Wojsza): AndReika Tibet Belarus Bielarus">  </a> </div> <div class="b-leaf-details">   <h4 class="b-leaf-subject"><a href="https://lacinka.livejournal.com/46799.html?thread=275919#t275919" class="b-leaf-subject-link" target="_self">Re: +1</a></h4>  <p class="b-leaf-username"><span class="b-leaf-username-name"><span class="ljuser  i-ljuser  i-ljuser-type-P     " data-ljuser="nicolaev" lj:user="nicolaev"><a href="https://nicolaev.livejournal.com/profile" class="i-ljuser-profile" target="_self"><img class="i-ljuser-userhead" src="https://l-stat.livejournal.net/img/userinfo_v8.svg?v=17080?v=657"></a><a href="https://nicolaev.livejournal.com/" class="i-ljuser-username" target="_self"><b>nicolaev</b></a></span> </span>  </p> <p class="b-leaf-meta">  <a href="https://lacinka.livejournal.com/46799.html?thread=275919#t275919" class="b-leaf-permalink" target="_self"> <span class="b-leaf-createdtime">January 25 2008, 10:50:09 UTC</span> </a>   <span class="b-leaf-shorttime">15 years ago</span>   </p>   </ul>        </div> </div>  <div class="b-leaf-article"> :) bačyli praciah? :) <a href="http://nicolaev.livejournal.com/583148.html" target="_self">http://nicolaev.livejournal.com/583148.html</a> </div>   </div> </div>    </div><div class=" b-tree-twig  b-tree-twig-1 b-tree-twig-deep-0  " style="margin-left: 0px" data-tid="t276175">    <div id="t276175" class=" b-leaf            b-leaf-full   comment p-comment " data-username="ext_79799" data-displayname="czyk [blogspot.com]" data-updated-ts="1201369635" data-full="1"> <div class=" b-leaf-inner svgpreloader svgpreloader-pseudo svgpreloader-16 "> <div class="b-leaf-header"> <div class="b-leaf-userpic"> <a href="https://ext-79799.livejournal.com/" target="_blank" class="b-leaf-userpic-inner" lj:user="ext_79799">   <img src="https://l-userpic.livejournal.com/85423165/14718248" alt="ext_79799" loading="lazy" title="czyk: sp">  </a> </div> <div class="b-leaf-details">   <p class="b-leaf-username"><span class="b-leaf-username-name"><span class="ljuser  i-ljuser  i-ljuser-type-I     " data-ljuser="ext_79799" lj:user="ext_79799"><a href="https://www.livejournal.com/profile?userid=14718248&amp;t=I" class="i-ljuser-profile" target="_self"><img class="i-ljuser-userhead" src="https://l-stat.livejournal.net/img/social-icons/colored/openid.svg?v=5044?v=657"></a><a href="https://ext-79799.livejournal.com" class="i-ljuser-username" target="_self"><b>czyk [blogspot.com]</b></a></span> </span>  </p> <p class="b-leaf-meta">  <a href="https://lacinka.livejournal.com/46799.html?thread=276175#t276175" class="b-leaf-permalink" target="_self"> <span class="b-leaf-createdtime">January 26 2008, 17:47:15 UTC</span> </a>   <span class="b-leaf-shorttime">15 years ago</span>   </p>   </ul>        </div> </div>  <div class="b-leaf-article"> http://andrejczyk.blogspot.com/2007/11/dzie-lacinki.html </div>   </div> </div>    </div><div class=" b-tree-twig  b-tree-twig-2 b-tree-twig-deep-0  " style="margin-left: 30px" data-tid="t276431">    <div id="t276431" class=" b-leaf        b-leaf-poster   b-leaf-withsubject     b-leaf-full   comment p-comment " data-username="nicolaev" data-displayname="nicolaev" data-updated-ts="1201502571" data-full="1" data-subject="Reply to your post..."> <div class=" b-leaf-inner svgpreloader svgpreloader-pseudo svgpreloader-16 "> <div class="b-leaf-header"> <div class="b-leaf-userpic"> <a href="https://nicolaev.livejournal.com/" target="_blank" class="b-leaf-userpic-inner" lj:user="nicolaev">   <img src="https://l-userpic.livejournal.com/117371542/7772678" alt="nicolaev" loading="lazy" title="Andrej Ludwik Mikałajeŭ OPs (Wojsza): AndReika Tibet Belarus Bielarus">  </a> </div> <div class="b-leaf-details">   <h4 class="b-leaf-subject"><a href="https://lacinka.livejournal.com/46799.html?thread=276431#t276431" class="b-leaf-subject-link" target="_self">Reply to your post...</a></h4>  <p class="b-leaf-username"><span class="b-leaf-username-name"><span class="ljuser  i-ljuser  i-ljuser-type-P     " data-ljuser="nicolaev" lj:user="nicolaev"><a href="https://nicolaev.livejournal.com/profile" class="i-ljuser-profile" target="_self"><img class="i-ljuser-userhead" src="https://l-stat.livejournal.net/img/userinfo_v8.svg?v=17080?v=657"></a><a href="https://nicolaev.livejournal.com/" class="i-ljuser-username" target="_self"><b>nicolaev</b></a></span> </span>  </p> <p class="b-leaf-meta">  <a href="https://lacinka.livejournal.com/46799.html?thread=276431#t276431" class="b-leaf-permalink" target="_self"> <span class="b-leaf-createdtime">January 28 2008, 06:42:51 UTC</span> </a>   <span class="b-leaf-shorttime">15 years ago</span>   </p>   </ul>        </div> </div>  <div class="b-leaf-article"> Dziakuju!<br>Hliańma pašyrany śpis prapanovaŭ nakont Dniu bielaruskaje lacinki:<br><a href="http://nicolaev.livejournal.com/585958.html" target="_self">http://nicolaev.livejournal.com/585958.html</a> </div>   </div> </div>    </div><div class=" b-tree-twig  b-tree-twig-2 b-tree-twig-deep-0  " style="margin-left: 30px" data-tid="t276687">    <div id="t276687" class=" b-leaf        b-leaf-poster      b-leaf-full   comment p-comment " data-username="nicolaev" data-displayname="nicolaev" data-updated-ts="1201505539" data-full="1"> <div class=" b-leaf-inner svgpreloader svgpreloader-pseudo svgpreloader-16 "> <div class="b-leaf-header"> <div class="b-leaf-userpic"> <a href="https://nicolaev.livejournal.com/" target="_blank" class="b-leaf-userpic-inner" lj:user="nicolaev">   <img src="https://l-userpic.livejournal.com/117371542/7772678" alt="nicolaev" loading="lazy" title="Andrej Ludwik Mikałajeŭ OPs (Wojsza): AndReika Tibet Belarus Bielarus">  </a> </div> <div class="b-leaf-details">   <p class="b-leaf-username"><span class="b-leaf-username-name"><span class="ljuser  i-ljuser  i-ljuser-type-P     " data-ljuser="nicolaev" lj:user="nicolaev"><a href="https://nicolaev.livejournal.com/profile" class="i-ljuser-profile" target="_self"><img class="i-ljuser-userhead" src="https://l-stat.livejournal.net/img/userinfo_v8.svg?v=17080?v=657"></a><a href="https://nicolaev.livejournal.com/" class="i-ljuser-username" target="_self"><b>nicolaev</b></a></span> </span>  </p> <p class="b-leaf-meta">  <a href="https://lacinka.livejournal.com/46799.html?thread=276687#t276687" class="b-leaf-permalink" target="_self"> <span class="b-leaf-createdtime">January 28 2008, 07:32:19 UTC</span> </a>   <span class="b-leaf-shorttime">15 years ago</span>   </p>   </ul>        </div> </div>  <div class="b-leaf-article"> Dziakuj za adkaz!<br>A jak staviśsia da 21 studzienia? </div>   </div> </div>    </div><div class=" b-tree-twig  b-tree-twig-2 b-tree-twig-deep-0  " style="margin-left: 30px" data-tid="t276943">    <div id="t276943" class=" b-leaf        b-leaf-poster      b-leaf-full   comment p-comment " data-username="nicolaev" data-displayname="nicolaev" data-updated-ts="1201506237" data-full="1"> <div class=" b-leaf-inner svgpreloader svgpreloader-pseudo svgpreloader-16 "> <div class="b-leaf-header"> <div class="b-leaf-userpic"> <a href="https://nicolaev.livejournal.com/" target="_blank" class="b-leaf-userpic-inner" lj:user="nicolaev">   <img src="https://l-userpic.livejournal.com/117371542/7772678" alt="nicolaev" loading="lazy" title="Andrej Ludwik Mikałajeŭ OPs (Wojsza): AndReika Tibet Belarus Bielarus">  </a> </div> <div class="b-leaf-details">   <p class="b-leaf-username"><span class="b-leaf-username-name"><span class="ljuser  i-ljuser  i-ljuser-type-P     " data-ljuser="nicolaev" lj:user="nicolaev"><a href="https://nicolaev.livejournal.com/profile" class="i-ljuser-profile" target="_self"><img class="i-ljuser-userhead" src="https://l-stat.livejournal.net/img/userinfo_v8.svg?v=17080?v=657"></a><a href="https://nicolaev.livejournal.com/" class="i-ljuser-username" target="_self"><b>nicolaev</b></a></span> </span>  </p> <p class="b-leaf-meta">  <a href="https://lacinka.livejournal.com/46799.html?thread=276943#t276943" class="b-leaf-permalink" target="_self"> <span class="b-leaf-createdtime">January 28 2008, 07:43:57 UTC</span> </a>   <span class="b-leaf-shorttime">15 years ago</span>   </p>   </ul>        </div> </div>  <div class="b-leaf-article"> Dziakuju! Takim čynam, chto žadaje, <br>moža śviatkavaci da času choć raz, choć dva ci try razy na hod.<br>A daliej - što ŭvajdzie ŭzvyčku, pryžyviecca... </div>   </div> </div>    </div><div class=" b-tree-twig  b-tree-twig-1 b-tree-twig-deep-0  " style="margin-left: 0px" data-tid="t296143">    <div id="t296143" class=" b-leaf        b-leaf-poster      b-leaf-full   comment p-comment " data-username="nicolaev" data-displayname="nicolaev" data-updated-ts="1231755338" data-full="1"> <div class=" b-leaf-inner svgpreloader svgpreloader-pseudo svgpreloader-16 "> <div class="b-leaf-header"> <div class="b-leaf-userpic"> <a href="https://nicolaev.livejournal.com/" target="_blank" class="b-leaf-userpic-inner" lj:user="nicolaev">   <img src="https://l-userpic.livejournal.com/103751540/7772678" alt="nicolaev" loading="lazy" title="Andrej Ludwik Mikałajeŭ OPs (Wojsza): Litwin">  </a> </div> <div class="b-leaf-details">   <p class="b-leaf-username"><span class="b-leaf-username-name"><span class="ljuser  i-ljuser  i-ljuser-type-P     " data-ljuser="nicolaev" lj:user="nicolaev"><a href="https://nicolaev.livejournal.com/profile" class="i-ljuser-profile" target="_self"><img class="i-ljuser-userhead" src="https://l-stat.livejournal.net/img/userinfo_v8.svg?v=17080?v=657"></a><a href="https://nicolaev.livejournal.com/" class="i-ljuser-username" target="_self"><b>nicolaev</b></a></span> </span>  </p> <p class="b-leaf-meta">  <a href="https://lacinka.livejournal.com/46799.html?thread=296143#t296143" class="b-leaf-permalink" target="_self"> <span class="b-leaf-createdtime">January 12 2009, 10:15:38 UTC</span> </a>   <span class="b-leaf-shorttime">14 years ago</span>   </p>   </ul>        </div> </div>  <div class="b-leaf-article"> 21―27 studzienia — Tydzień Łacinki 2009<br><a href="http://community.livejournal.com/lacinka/50926.html" target="_self">http://community.livejournal.com/lacinka/50926.html</a> </div>   </div> </div>    </div></div>     <div prev-next-nav=""></div> <div suggestion-for-unlogged="" class="ng-isolate-scope"><!-- ngIf: directive.isBlockVisible --></div>   </div>         