---
id: 49359
layout: page
date: 2022-10-16
---


<!-- s-body -->
        <div class="s-body">

            <!-- use header -->
            <!-- /use header -->

            <!-- Content -->
             <article class="b-singlepost hentry h-entry js-emojis  b-singlepost-mobileadaptive  b-singlepost-withbodybanner  ng-scope" role="main" ng-app="Entry"> <div class="b-singlepost-qrcode  ng-isolate-scope" lj-qrcode="https://lacinka.livejournal.com/49359.html" lj-qrcode-width="70" lj-qrcode-height="70"> <canvas width="70" height="70"></canvas></div> <div class="b-singlepost-about"> <dl class=" b-singlepost-author author vcard p-author h-card " ng-non-bindable=""> <dt class=" b-singlepost-author-userpic photo u-photo " lj:user="radzimich">  <img src="https://l-userpic.livejournal.com/124639796/11486487" width="99" height="100" align="absmiddle" title="Редкие записки: pic#124639796" alt="">  </dt> <dd class="b-singlepost-author-userinfo"> <div class="b-singlepost-author-userinfo-screen"> <span class=" b-singlepost-author-user fn p-name "> <span class="b-singlepost-author-user-screen"> Редкие записки (<span class="ljuser  i-ljuser  i-ljuser-type-P     " data-ljuser="radzimich" lj:user="radzimich"><a href="https://radzimich.livejournal.com/profile" target="_self" class="i-ljuser-profile"><img class="i-ljuser-userhead" src="https://l-stat.livejournal.net/img/userinfo_v8.svg?v=17080?v=657"></a><a href="https://radzimich.livejournal.com/" class="i-ljuser-username" target="_self"><b>radzimich</b></a></span>) wrote in <span class="ljuser  i-ljuser  i-ljuser-type-C     " data-ljuser="lacinka" lj:user="lacinka"><a href="https://lacinka.livejournal.com/profile" target="_self" class="i-ljuser-profile"><img class="i-ljuser-userhead" src="https://l-stat.livejournal.net/img/community.gif?v=556?v=657"></a><a href="https://lacinka.livejournal.com/" class="i-ljuser-username" target="_self"><b>lacinka</b></a></span>, </span> </span> <br> <time class=" b-singlepost-author-date published dt-published "><a href="https://lacinka.livejournal.com/2008/" target="_self">2008</a>-<a href="https://lacinka.livejournal.com/2008/10/" target="_self">10</a>-<a href="https://lacinka.livejournal.com/2008/10/16/" target="_self">16</a> 01:05:00</time>   </div> <div class="b-singlepost-author-userinfo-print"> <span class=" b-singlepost-author-user fn p-name "> Редкие записки<br> <span class="ljuser  i-ljuser  i-ljuser-type-P     " data-ljuser="radzimich" lj:user="radzimich"><a href="https://radzimich.livejournal.com/profile" target="_self" class="i-ljuser-profile"><img class="i-ljuser-userhead" src="https://l-stat.livejournal.net/img/userinfo_v8.svg?v=17080?v=657"></a><a href="https://radzimich.livejournal.com/" class="i-ljuser-username" target="_self"><b>radzimich</b></a></span>  <br><span class="ljuser  i-ljuser  i-ljuser-type-C     " data-ljuser="lacinka" lj:user="lacinka"><a href="https://lacinka.livejournal.com/profile" target="_self" class="i-ljuser-profile"><img class="i-ljuser-userhead" src="https://l-stat.livejournal.net/img/community.gif?v=556?v=657"></a><a href="https://lacinka.livejournal.com/" class="i-ljuser-username" target="_self"><b>lacinka</b></a></span>  </span> <br> <time class=" b-singlepost-author-date published dt-published "><a href="https://lacinka.livejournal.com/2008/" target="_self">2008</a>-<a href="https://lacinka.livejournal.com/2008/10/" target="_self">10</a>-<a href="https://lacinka.livejournal.com/2008/10/16/" target="_self">16</a> 01:05:00</time> </div> </dd> </dl>  </div>    <div class="b-singlepost-wrapper">  <h1 class=" b-singlepost-title entry-title p-name " ng-non-bindable="">      Заўвагі па профілю  </h1>  <div class="b-singlepost-bodywrapper">  <article class="b-singlepost-body entry-content e-content   ng-scope" lj-sale-entry="" lj-discovery-tags="" lj-embed-resizer=""> Шаноўнае спадарства! <br><br>Заўважыў нядаўна некаторыя недакладнасьці ў расейскае частцы профілю. І што шкада, гэтыя недакладасьці ўжо даюць пра сябе знаць. <a href="http://www.kasparov.ru/material.php?id=478E0C2F48B7D" rel="nofollow" target="_self">Вось напрыклад артыкул, дзе нашую лацінку, завуць не інакш, як "лацынка"</a>. Таму прапаную адмінам зьмяніць у расейскім тэксьце пра лацінку "Лацинка" на больш адпаведнае "Латинка", і таксама выправіць невялічкаю памылку - "Сегодня «Лацинка» широко используется белорусскоязычными, в первую очередь пользователями интернета и <strong>пограммистами (дзесь памылка - "программистами")</strong>."<br><br>З найлепшымі пажаданьнямі!  <div class="4x0m3"></div></article> <div lj0sale0height="600" lj0sale0window0min="1200" lj0sale0window0max="9999" lj0sale0hide0cookie="s1_rightbanner_closed" class="ljsale ljsale--empty b-singlepost-bodybanner ng-isolate-scope" lj0sale0not0init="s1_right"><div class="ljsale__inner">

    <div class="allbanners ">

        <!-- ngIf: directive.customId -->
        <div id="">

          <!-- ngIf: directive.type -->
        
        </div>

        <!-- ngIf: directive.close -->

    </div>

    <!-- ngIf: directive.hideble -->

</div>
</div>  </div>    </div> <div class="b-singlepost-video-wrap"> <div data-autoplay-dockable-video-mount=""></div> </div>
<div id="comments" class="b-grove" data-authtoken="c0:1682874000:310:86400:8E1WtkQHCd-0-:0911cf3208457c1f9e1d9ae7df62c154"> <div class=" b-xylem  b-xylem-first  "> <ul class="b-xylem-cells">  <li class=" b-xylem-cell b-xylem-cell-amount ">   <span class="js-amount">  10 comments  </span>   </li>  </ul>  </div> <div class=" b-massaction-top ">  </div>    <div class=" b-tree b-tree-best ">  </div> <div class=" b-tree b-tree-promo " data-currentprice="">  </div>  <div class=" b-tree b-tree-root svgpreloader svgpreloader-pseudo svgpreloader-30 "><div class=" b-tree-twig  b-tree-twig-1 b-tree-twig-deep-0  " style="margin-left: 0px" data-tid="t290511">    <div id="t290511" class=" b-leaf            b-leaf-full   comment p-comment " data-username="zedlik" data-displayname="zedlik" data-updated-ts="1224112665" data-full="1"> <div class=" b-leaf-inner svgpreloader svgpreloader-pseudo svgpreloader-16 "> <div class="b-leaf-header"> <div class="b-leaf-userpic"> <a href="https://zedlik.livejournal.com/" target="_blank" class="b-leaf-userpic-inner" lj:user="zedlik">   <img src="https://l-userpic.livejournal.com/100856678/3643836" alt="zedlik" loading="lazy" title="zedlik: грын">  </a> </div> <div class="b-leaf-details">   <p class="b-leaf-username"><span class="b-leaf-username-name"><span class="ljuser  i-ljuser  i-ljuser-type-P     " data-ljuser="zedlik" lj:user="zedlik"><a href="https://zedlik.livejournal.com/profile" class="i-ljuser-profile" target="_self"><img class="i-ljuser-userhead" src="https://l-stat.livejournal.net/img/userinfo_v8.svg?v=17080?v=657"></a><a href="https://zedlik.livejournal.com/" class="i-ljuser-username" target="_self"><b>zedlik</b></a></span> </span>  </p> <p class="b-leaf-meta">  <a href="https://lacinka.livejournal.com/49359.html?thread=290511#t290511" class="b-leaf-permalink" target="_self"> <span class="b-leaf-createdtime">October 15 2008, 23:17:45 UTC</span> </a>   <span class="b-leaf-shorttime">14 years ago</span>   </p>   </ul>        </div> </div>  <div class="b-leaf-article"> dziakuj za zaŭvahi! darečy, cikavaja tendencyja.<br><br>pragramistaŭ vypraviŭ, ale nakont «Лацинка»—«Латинка» ja nia ŭpeŭnieny. nia viedaju, adkul pajšła hetaja tradycyja pierakładać biełaruskija nazvy na rasiejskuju, u toj čas jak ź inšych movaŭ — tranśliteravać. polskija słovy ź „ci“ pieradajucca ŭ rasiejskaj movie jak „ци“, tamu absalutna toje samaje i ź biełaruskimi słovami.<br><br>darečy, atrymać ź „Лацинка“ słova „Лацынка“ — heta ŭvohule treba vielmi mocna pastaracca i być dastatkova biazhramatnym, bo ŭ rasiejskaj move ž, zdajecca, abmiežavanaja kolkaść vypadkaŭ užyvańnia kanstrukcyi „цы“, tamu peŭna aŭtar uziaŭ heta słova nieviadoma adkul.<br><br>zrešty, kali budzie abierkavańnie, to možna i vypravić, ale pakul ja nia maju takoha prava, bo nie źjaŭlajusia aŭtaram tekstu. </div>   </div> </div>    </div><div class=" b-tree-twig  b-tree-twig-2 b-tree-twig-deep-0  " style="margin-left: 30px" data-tid="t290767">    <div class=" b-leaf b-leaf-clipped b-leaf-deleted " id="t290767"> <div class=" b-leaf-inner svgpreloader svgpreloader-pseudo svgpreloader-16 "> <div class="b-leaf-cheader"> <p class="b-leaf-status">  Deleted comment  </p>   </div>  </div> </div>    </div><div class=" b-tree-twig  b-tree-twig-3 b-tree-twig-deep-0  " style="margin-left: 60px" data-tid="t291535">    <div id="t291535" class=" b-leaf         b-leaf-withsubject     b-leaf-full   comment p-comment " data-username="zedlik" data-displayname="zedlik" data-updated-ts="1224148298" data-full="1" data-subject="Re: +1"> <div class=" b-leaf-inner svgpreloader svgpreloader-pseudo svgpreloader-16 "> <div class="b-leaf-header"> <div class="b-leaf-userpic"> <a href="https://zedlik.livejournal.com/" target="_blank" class="b-leaf-userpic-inner" lj:user="zedlik">   <img src="https://l-userpic.livejournal.com/100856678/3643836" alt="zedlik" loading="lazy" title="zedlik: грын">  </a> </div> <div class="b-leaf-details">   <h4 class="b-leaf-subject"><a href="https://lacinka.livejournal.com/49359.html?thread=291535#t291535" class="b-leaf-subject-link" target="_self">Re: +1</a></h4>  <p class="b-leaf-username"><span class="b-leaf-username-name"><span class="ljuser  i-ljuser  i-ljuser-type-P     " data-ljuser="zedlik" lj:user="zedlik"><a href="https://zedlik.livejournal.com/profile" class="i-ljuser-profile" target="_self"><img class="i-ljuser-userhead" src="https://l-stat.livejournal.net/img/userinfo_v8.svg?v=17080?v=657"></a><a href="https://zedlik.livejournal.com/" class="i-ljuser-username" target="_self"><b>zedlik</b></a></span> </span>  </p> <p class="b-leaf-meta">  <a href="https://lacinka.livejournal.com/49359.html?thread=291535#t291535" class="b-leaf-permalink" target="_self"> <span class="b-leaf-createdtime">October 16 2008, 09:11:38 UTC</span> </a>   <span class="b-leaf-shorttime">14 years ago</span>   </p>   </ul>        </div> </div>  <div class="b-leaf-article"> zhodny, navat vymaŭleńnie „ці“ i „ті“ ŭ rasiejskaj movie adroźnivajecca, pryčym mnie na karyść apošniaha dla pravilnaj pieradačy hučańnia. </div>   </div> </div>    </div><div class=" b-tree-twig  b-tree-twig-2 b-tree-twig-deep-0  " style="margin-left: 30px" data-tid="t291023">    <div id="t291023" class=" b-leaf        b-leaf-poster      b-leaf-full   comment p-comment " data-username="radzimich" data-displayname="radzimich" data-updated-ts="1224144832" data-full="1"> <div class=" b-leaf-inner svgpreloader svgpreloader-pseudo svgpreloader-16 "> <div class="b-leaf-header"> <div class="b-leaf-userpic"> <a href="https://radzimich.livejournal.com/" target="_blank" class="b-leaf-userpic-inner" lj:user="radzimich">   <img src="https://l-userpic.livejournal.com/124639796/11486487" alt="radzimich" loading="lazy" title="Редкие записки: pic#124639796">  </a> </div> <div class="b-leaf-details">   <p class="b-leaf-username"><span class="b-leaf-username-name"><span class="ljuser  i-ljuser  i-ljuser-type-P     " data-ljuser="radzimich" lj:user="radzimich"><a href="https://radzimich.livejournal.com/profile" class="i-ljuser-profile" target="_self"><img class="i-ljuser-userhead" src="https://l-stat.livejournal.net/img/userinfo_v8.svg?v=17080?v=657"></a><a href="https://radzimich.livejournal.com/" class="i-ljuser-username" target="_self"><b>radzimich</b></a></span> </span>  </p> <p class="b-leaf-meta">  <a href="https://lacinka.livejournal.com/49359.html?thread=291023#t291023" class="b-leaf-permalink" target="_self"> <span class="b-leaf-createdtime">October 16 2008, 08:13:52 UTC</span> </a>   <span class="b-leaf-shorttime">14 years ago</span>   </p>   </ul>        </div> </div>  <div class="b-leaf-article"> Наконт дыскусіі ок, паспрабую прыцягнуць народ, цікава хто што думае. А наконт "лацынкі" - у тэксьце гэта стаіць у двукосьсі, відавочна аўтар лічыць, што менавіта так гэта гучыць па-беларуску (што лягічна, ён жа звык, што "ци" у расейскай чытаецца як "цы"). </div>   </div> </div>    </div><div class=" b-tree-twig  b-tree-twig-3 b-tree-twig-deep-0  " style="margin-left: 60px" data-tid="t291791">    <div id="t291791" class=" b-leaf            b-leaf-full   comment p-comment " data-username="zedlik" data-displayname="zedlik" data-updated-ts="1224148593" data-full="1"> <div class=" b-leaf-inner svgpreloader svgpreloader-pseudo svgpreloader-16 "> <div class="b-leaf-header"> <div class="b-leaf-userpic"> <a href="https://zedlik.livejournal.com/" target="_blank" class="b-leaf-userpic-inner" lj:user="zedlik">   <img src="https://l-userpic.livejournal.com/100856678/3643836" alt="zedlik" loading="lazy" title="zedlik: грын">  </a> </div> <div class="b-leaf-details">   <p class="b-leaf-username"><span class="b-leaf-username-name"><span class="ljuser  i-ljuser  i-ljuser-type-P     " data-ljuser="zedlik" lj:user="zedlik"><a href="https://zedlik.livejournal.com/profile" class="i-ljuser-profile" target="_self"><img class="i-ljuser-userhead" src="https://l-stat.livejournal.net/img/userinfo_v8.svg?v=17080?v=657"></a><a href="https://zedlik.livejournal.com/" class="i-ljuser-username" target="_self"><b>zedlik</b></a></span> </span>  </p> <p class="b-leaf-meta">  <a href="https://lacinka.livejournal.com/49359.html?thread=291791#t291791" class="b-leaf-permalink" target="_self"> <span class="b-leaf-createdtime">October 16 2008, 09:16:33 UTC</span> </a>   <span class="b-leaf-shorttime">14 years ago</span>   </p>   </ul>        </div> </div>  <div class="b-leaf-article"> На маю думку, гэта проста тараканы аўтара. Прасьцей за ўсё будзе спытаць яго, чым ён кіраваўся, калі пісаў. Толькі што паглядзеў у гугле —&nbsp;«лацинка» —&nbsp;141 вынік, «лацынка» — 2 вынікі, «марцин» — 30 800 вынікаў. (яшчэ для параўнаньня: «войтех» — 41 800 вынікаў, «войцех» — 179 000). Тобо атрымліваецца, што праблемы з правільнай перадачай у расейскай мове няма, праблема хутчэй у тым, што хто як хоча, той так і піша... </div>   </div> </div>    </div><div class=" b-tree-twig  b-tree-twig-4 b-tree-twig-deep-0  " style="margin-left: 90px" data-tid="t292047">    <div id="t292047" class=" b-leaf        b-leaf-poster      b-leaf-full   comment p-comment " data-username="radzimich" data-displayname="radzimich" data-updated-ts="1224149223" data-full="1"> <div class=" b-leaf-inner svgpreloader svgpreloader-pseudo svgpreloader-16 "> <div class="b-leaf-header"> <div class="b-leaf-userpic"> <a href="https://radzimich.livejournal.com/" target="_blank" class="b-leaf-userpic-inner" lj:user="radzimich">   <img src="https://l-userpic.livejournal.com/86346106/11486487" alt="radzimich" loading="lazy" title="Редкие записки: Radzimich Nie Tak">  </a> </div> <div class="b-leaf-details">   <p class="b-leaf-username"><span class="b-leaf-username-name"><span class="ljuser  i-ljuser  i-ljuser-type-P     " data-ljuser="radzimich" lj:user="radzimich"><a href="https://radzimich.livejournal.com/profile" class="i-ljuser-profile" target="_self"><img class="i-ljuser-userhead" src="https://l-stat.livejournal.net/img/userinfo_v8.svg?v=17080?v=657"></a><a href="https://radzimich.livejournal.com/" class="i-ljuser-username" target="_self"><b>radzimich</b></a></span> </span>  </p> <p class="b-leaf-meta">  <a href="https://lacinka.livejournal.com/49359.html?thread=292047#t292047" class="b-leaf-permalink" target="_self"> <span class="b-leaf-createdtime">October 16 2008, 09:27:03 UTC</span> </a>   <span class="b-leaf-shorttime">14 years ago</span>   </p>   </ul>        </div> </div>  <div class="b-leaf-article"> Ну ок, зьвярнемся да Google: <br><br>«белорусская латинка» - 653 вынікі,<br>«лацинка» — 60 вынікаў, <br>«лацынка» — 2 вынікі<br><br>P.S. Вынікі на «лацинка» у нас чамусьці адрозьніваюцца. Хаця ўсё адно гэта не прынцыпіальна. </div>   </div> </div>    </div><div class=" b-tree-twig  b-tree-twig-5 b-tree-twig-deep-0  " style="margin-left: 120px" data-tid="t292303">    <div id="t292303" class=" b-leaf            b-leaf-full   comment p-comment " data-username="zedlik" data-displayname="zedlik" data-updated-ts="1224155331" data-full="1"> <div class=" b-leaf-inner svgpreloader svgpreloader-pseudo svgpreloader-16 "> <div class="b-leaf-header"> <div class="b-leaf-userpic"> <a href="https://zedlik.livejournal.com/" target="_blank" class="b-leaf-userpic-inner" lj:user="zedlik">   <img src="https://l-userpic.livejournal.com/100856678/3643836" alt="zedlik" loading="lazy" title="zedlik: грын">  </a> </div> <div class="b-leaf-details">   <p class="b-leaf-username"><span class="b-leaf-username-name"><span class="ljuser  i-ljuser  i-ljuser-type-P     " data-ljuser="zedlik" lj:user="zedlik"><a href="https://zedlik.livejournal.com/profile" class="i-ljuser-profile" target="_self"><img class="i-ljuser-userhead" src="https://l-stat.livejournal.net/img/userinfo_v8.svg?v=17080?v=657"></a><a href="https://zedlik.livejournal.com/" class="i-ljuser-username" target="_self"><b>zedlik</b></a></span> </span>  </p> <p class="b-leaf-meta">  <a href="https://lacinka.livejournal.com/49359.html?thread=292303#t292303" class="b-leaf-permalink" target="_self"> <span class="b-leaf-createdtime">October 16 2008, 11:08:51 UTC</span> </a>   <span class="b-leaf-shorttime">14 years ago</span>   </p>   </ul>        </div> </div>  <div class="b-leaf-article"> не, тое, што «белорусская латинка» без варыянтаў будзе першай гэта было вядома і раней (у мяне зараз 2,580 вынікаў). тыя вынікі я прыводзіў, каб паказаць, што напісаньне «лацинка» ня можа само па сабе быць крыніцай памылак (якой зьяўляецца нешта іншае).<br><br>калі ж размаўляць пра «лацинка»-«латинка», то мне як паспалітаму карыстальніку больш падабаецца першы варыянт, бо ён адлюстроўвае арыгінальнае напісаньне, гучаньне і звычайную перадачу замежных словаў — можна параўнаць з польскай. чаму для беларускай мовы ў расейскай ідзе такое дзіўнае асваеньне, я ня ведаю, але ралі разглядаць іх як 2 асобныя мовы, то гэта зусім незвычайны працэс. <span class="ljuser  i-ljuser  i-ljuser-deleted  i-ljuser-type-P     " data-ljuser="czalex" lj:user="czalex"><a href="https://czalex.livejournal.com/profile" target="_self" class="i-ljuser-profile"><img class="i-ljuser-userhead" src="https://l-stat.livejournal.net/img/userinfo_v8.svg?v=17080?v=657"></a><a href="https://czalex.livejournal.com/" class="i-ljuser-username" target="_self"><b>czalex</b></a></span> вось згодны таксама.<br>таму на маю думку варты проста выпраўляць ненатуральную перадачу словаў зь беларускай мовы ў расейскую, якая засталася яшчэ з савецкіх часоў.<br><br>вынікі ў гугле залежаць шмат ад якіх фактараў (браўзэр, краіна, гісторыя пошукаў), таму іх колькасьць можа адрозьнівацца, гэта нармальна. </div>   </div> </div>    </div><div class=" b-tree-twig  b-tree-twig-6 b-tree-twig-deep-0  " style="margin-left: 150px" data-tid="t292815">    <div id="t292815" class=" b-leaf         b-leaf-withsubject     b-leaf-full   comment p-comment " data-username="ex_biespart" data-displayname="ex_biespart" data-updated-ts="1224183641" data-full="1" data-subject="развагі"> <div class=" b-leaf-inner svgpreloader svgpreloader-pseudo svgpreloader-16 "> <div class="b-leaf-header"> <div class="b-leaf-userpic"> <a href="https://ex-biespart.livejournal.com/" target="_blank" class="b-leaf-userpic-inner" lj:user="ex_biespart">   <img src="https://l-stat.livejournal.net/img/userpics/userpic-user.png?v=15821" alt="ex_biespart" loading="lazy">  </a> </div> <div class="b-leaf-details">   <h4 class="b-leaf-subject"><a href="https://lacinka.livejournal.com/49359.html?thread=292815#t292815" class="b-leaf-subject-link" target="_self">развагі</a></h4>  <p class="b-leaf-username"><span class="b-leaf-username-name"><span class="ljuser  i-ljuser  i-ljuser-deleted  i-ljuser-type-P     " data-ljuser="ex_biespart" lj:user="ex_biespart"><a href="https://ex-biespart.livejournal.com/profile" class="i-ljuser-profile" target="_self"><img class="i-ljuser-userhead" src="https://l-stat.livejournal.net/img/userinfo_v8.svg?v=17080?v=657"></a><a href="https://ex-biespart.livejournal.com/" class="i-ljuser-username" target="_self"><b>ex_biespart</b></a></span> </span>  </p> <p class="b-leaf-meta">  <a href="https://lacinka.livejournal.com/49359.html?thread=292815#t292815" class="b-leaf-permalink" target="_self"> <span class="b-leaf-createdtime">October 16 2008, 19:00:41 UTC</span> </a>   <span class="b-leaf-shorttime">14 years ago</span>   </p>   </ul>        </div> </div>  <div class="b-leaf-article"> &gt; бо ён адлюстроўвае арыгінальнае напісаньне, гучаньне і звычайную перадачу замежных словаў<br>Гучанне ён не адлюстроўвае, хаця б таму што ў рускай мове няма мяккага "ц". Як і няма ў беларускай мяккага "т". Слова "латинка" - гэта форма, якая грунтуецца на этымалогіі паходжання назвы (ад la<b>t</b>in), а руская мова мае пераважна этымалагічны правапіс. З іншага боку, як вы ўжо сказалі, маем у гэтай пазіцыі традыцыйны спосаб перадавання <b>з польскай мовы</b> ў рускую (як Освенцим і падобнае). Спосаб гэты недарэчны, як для польскай, так і для беларускай моваў, бо ані гучання, ані напісання, ані этымалогіі не захоўвае.<br>Таксама за "латинку" кажа тое, што гэтае слова ў рускай мове ўжываецца дзеля азначэння лацінкавых формаў іншых моваў, а значыць яно патэнцыйна зразумелае рускаму чытачу. Лічу, правільна было б проста explicitly называць графіку "белорусской латинкой". </div>   </div> </div>    </div><div class=" b-tree-twig  b-tree-twig-7 b-tree-twig-deep-0  " style="margin-left: 180px" data-tid="t293327">    <div id="t293327" class=" b-leaf         b-leaf-withsubject     b-leaf-full   comment p-comment " data-username="zedlik" data-displayname="zedlik" data-updated-ts="1224190335" data-full="1" data-subject="Re: развагі"> <div class=" b-leaf-inner svgpreloader svgpreloader-pseudo svgpreloader-16 "> <div class="b-leaf-header"> <div class="b-leaf-userpic"> <a href="https://zedlik.livejournal.com/" target="_blank" class="b-leaf-userpic-inner" lj:user="zedlik">   <img src="https://l-userpic.livejournal.com/100856678/3643836" alt="zedlik" loading="lazy" title="zedlik: грын">  </a> </div> <div class="b-leaf-details">   <h4 class="b-leaf-subject"><a href="https://lacinka.livejournal.com/49359.html?thread=293327#t293327" class="b-leaf-subject-link" target="_self">Re: развагі</a></h4>  <p class="b-leaf-username"><span class="b-leaf-username-name"><span class="ljuser  i-ljuser  i-ljuser-type-P     " data-ljuser="zedlik" lj:user="zedlik"><a href="https://zedlik.livejournal.com/profile" class="i-ljuser-profile" target="_self"><img class="i-ljuser-userhead" src="https://l-stat.livejournal.net/img/userinfo_v8.svg?v=17080?v=657"></a><a href="https://zedlik.livejournal.com/" class="i-ljuser-username" target="_self"><b>zedlik</b></a></span> </span>  </p> <p class="b-leaf-meta">  <a href="https://lacinka.livejournal.com/49359.html?thread=293327#t293327" class="b-leaf-permalink" target="_self"> <span class="b-leaf-createdtime">October 16 2008, 20:52:15 UTC</span> </a>   <span class="b-leaf-shorttime">14 years ago</span>   </p>   </ul>        </div> </div>  <div class="b-leaf-article"> у расейскіх словах мяккага «ц» няма, але ж калі ўзьнікае патрэба пазычаньня замежных уласных назваў, то проста бярэцца назва і па літарах перакладаецца. Два прыклады былі вышэй, Вашінгтон (замест асваеньня па гучаньню), яшчэ прыклад —&nbsp;Цюріх (і выдатна ў іх атрымліваецца вымаўляць мяккі «ц»). але калі пачынаецца пазычаньне беларускіх словаў, то зьяўляецца нейкае хітрае перакладаньне, якога я асабіста зразумець не магу. Лацінка — абсалютна нармальная беларуская ўласная назва, па-ангельску яна так і будзе Łacinka, а latin scipt — гэта іншая, агульная назва. ад latin у расейскай утворанае слова «латініца» (зрэшты, я нічога ня маю супраць агульнай назвы «бело/арусская латініца»), але вось калі зь іншых моваў уласныя назвы перадаюцца адным чынам, а зь беларускай — іншым, то гэта ўжо па-за межамі маёй лёгікі. </div>   </div> </div>    </div><div class=" b-tree-twig  b-tree-twig-6 b-tree-twig-deep-0  " style="margin-left: 150px" data-tid="t293071">    <div id="t293071" class=" b-leaf            b-leaf-full   comment p-comment " data-username="ex_biespart" data-displayname="ex_biespart" data-updated-ts="1224183824" data-full="1"> <div class=" b-leaf-inner svgpreloader svgpreloader-pseudo svgpreloader-16 "> <div class="b-leaf-header"> <div class="b-leaf-userpic"> <a href="https://ex-biespart.livejournal.com/" target="_blank" class="b-leaf-userpic-inner" lj:user="ex_biespart">   <img src="https://l-stat.livejournal.net/img/userpics/userpic-user.png?v=15821" alt="ex_biespart" loading="lazy">  </a> </div> <div class="b-leaf-details">   <p class="b-leaf-username"><span class="b-leaf-username-name"><span class="ljuser  i-ljuser  i-ljuser-deleted  i-ljuser-type-P     " data-ljuser="ex_biespart" lj:user="ex_biespart"><a href="https://ex-biespart.livejournal.com/profile" class="i-ljuser-profile" target="_self"><img class="i-ljuser-userhead" src="https://l-stat.livejournal.net/img/userinfo_v8.svg?v=17080?v=657"></a><a href="https://ex-biespart.livejournal.com/" class="i-ljuser-username" target="_self"><b>ex_biespart</b></a></span> </span>  </p> <p class="b-leaf-meta">  <a href="https://lacinka.livejournal.com/49359.html?thread=293071#t293071" class="b-leaf-permalink" target="_self"> <span class="b-leaf-createdtime">October 16 2008, 19:03:44 UTC</span> </a>   <span class="b-leaf-shorttime">14 years ago</span>   </p>   </ul>        </div> </div>  <div class="b-leaf-article"> &gt; вынікі ў гугле залежаць шмат ад якіх фактараў (браўзэр, краіна, гісторыя пошукаў), таму іх колькасьць можа адрозьнівацца, гэта нармальна.<br>Вось як цяпер... Кепска: значыць, гугль мае магчымасць цэнзуравання інфармацыі для пэўных тэрыторый? </div>   </div> </div>    </div><div class=" b-tree-twig  b-tree-twig-7 b-tree-twig-deep-0  " style="margin-left: 180px" data-tid="t293583">    <div id="t293583" class=" b-leaf            b-leaf-full   comment p-comment " data-username="zedlik" data-displayname="zedlik" data-updated-ts="1224190524" data-full="1"> <div class=" b-leaf-inner svgpreloader svgpreloader-pseudo svgpreloader-16 "> <div class="b-leaf-header"> <div class="b-leaf-userpic"> <a href="https://zedlik.livejournal.com/" target="_blank" class="b-leaf-userpic-inner" lj:user="zedlik">   <img src="https://l-userpic.livejournal.com/100856678/3643836" alt="zedlik" loading="lazy" title="zedlik: грын">  </a> </div> <div class="b-leaf-details">   <p class="b-leaf-username"><span class="b-leaf-username-name"><span class="ljuser  i-ljuser  i-ljuser-type-P     " data-ljuser="zedlik" lj:user="zedlik"><a href="https://zedlik.livejournal.com/profile" class="i-ljuser-profile" target="_self"><img class="i-ljuser-userhead" src="https://l-stat.livejournal.net/img/userinfo_v8.svg?v=17080?v=657"></a><a href="https://zedlik.livejournal.com/" class="i-ljuser-username" target="_self"><b>zedlik</b></a></span> </span>  </p> <p class="b-leaf-meta">  <a href="https://lacinka.livejournal.com/49359.html?thread=293583#t293583" class="b-leaf-permalink" target="_self"> <span class="b-leaf-createdtime">October 16 2008, 20:55:24 UTC</span> </a>   <span class="b-leaf-shorttime">14 years ago</span>   </p>   </ul>        </div> </div>  <div class="b-leaf-article"> там не цэнзура, там хутчэй таргетынг з розьніцай у няпоўных супадзеньнях. я толькі што праверыў: па запыце «"белорусская латиница"» рознымі браўзэрамі з айпішнікамі розных краін выдаецца 416 і 414 вынікаў адпаведна. </div>   </div> </div>    </div></div>     <div prev-next-nav=""></div> <div suggestion-for-unlogged="" class="ng-isolate-scope"><!-- ngIf: directive.isBlockVisible --></div>   </div>         
