---
id: 50132
layout: page
date: 2022-10-16
---


<!-- s-body -->
        <div class="s-body">

            <!-- use header -->
            <!-- /use header -->

            <!-- Content -->
             <article class="b-singlepost hentry h-entry js-emojis  b-singlepost-mobileadaptive  b-singlepost-withbodybanner  ng-scope" role="main" ng-app="Entry"> <div class="b-singlepost-qrcode  ng-isolate-scope" lj-qrcode="https://lacinka.livejournal.com/50132.html" lj-qrcode-width="70" lj-qrcode-height="70"> <canvas width="70" height="70"></canvas></div> <div class="b-singlepost-about"> <dl class=" b-singlepost-author author vcard p-author h-card " ng-non-bindable=""> <dt class=" b-singlepost-author-userpic photo u-photo " lj:user="nicolaev">  <img src="https://l-userpic.livejournal.com/103751540/7772678" width="100" height="54" align="absmiddle" title="Andrej Ludwik Mikałajeŭ OPs (Wojsza): Litwin" alt="">  </dt> <dd class="b-singlepost-author-userinfo"> <div class="b-singlepost-author-userinfo-screen"> <span class=" b-singlepost-author-user fn p-name "> <span class="b-singlepost-author-user-screen"> Andrej Ludwik Mikałajeŭ OPs (Wojsza) (<span class="ljuser  i-ljuser  i-ljuser-type-P     " data-ljuser="nicolaev" lj:user="nicolaev"><a href="https://nicolaev.livejournal.com/profile" target="_self" class="i-ljuser-profile"><img class="i-ljuser-userhead" src="https://l-stat.livejournal.net/img/userinfo_v8.svg?v=17080?v=657"></a><a href="https://nicolaev.livejournal.com/" class="i-ljuser-username" target="_self"><b>nicolaev</b></a></span>) wrote in <span class="ljuser  i-ljuser  i-ljuser-type-C     " data-ljuser="lacinka" lj:user="lacinka"><a href="https://lacinka.livejournal.com/profile" target="_self" class="i-ljuser-profile"><img class="i-ljuser-userhead" src="https://l-stat.livejournal.net/img/community.gif?v=556?v=657"></a><a href="https://lacinka.livejournal.com/" class="i-ljuser-username" target="_self"><b>lacinka</b></a></span>, </span> </span> <br> <time class=" b-singlepost-author-date published dt-published "><a href="https://lacinka.livejournal.com/2009/" target="_self">2009</a>-<a href="https://lacinka.livejournal.com/2009/01/" target="_self">01</a>-<a href="https://lacinka.livejournal.com/2009/01/07/" target="_self">07</a> 16:06:00</time>   </div> <div class="b-singlepost-author-userinfo-print"> <span class=" b-singlepost-author-user fn p-name "> Andrej Ludwik Mikałajeŭ OPs (Wojsza)<br> <span class="ljuser  i-ljuser  i-ljuser-type-P     " data-ljuser="nicolaev" lj:user="nicolaev"><a href="https://nicolaev.livejournal.com/profile" target="_self" class="i-ljuser-profile"><img class="i-ljuser-userhead" src="https://l-stat.livejournal.net/img/userinfo_v8.svg?v=17080?v=657"></a><a href="https://nicolaev.livejournal.com/" class="i-ljuser-username" target="_self"><b>nicolaev</b></a></span>  <br><span class="ljuser  i-ljuser  i-ljuser-type-C     " data-ljuser="lacinka" lj:user="lacinka"><a href="https://lacinka.livejournal.com/profile" target="_self" class="i-ljuser-profile"><img class="i-ljuser-userhead" src="https://l-stat.livejournal.net/img/community.gif?v=556?v=657"></a><a href="https://lacinka.livejournal.com/" class="i-ljuser-username" target="_self"><b>lacinka</b></a></span>  </span> <br> <time class=" b-singlepost-author-date published dt-published "><a href="https://lacinka.livejournal.com/2009/" target="_self">2009</a>-<a href="https://lacinka.livejournal.com/2009/01/" target="_self">01</a>-<a href="https://lacinka.livejournal.com/2009/01/07/" target="_self">07</a> 16:06:00</time> </div> </dd> </dl>  </div>    <div class="b-singlepost-wrapper">  <h1 class=" b-singlepost-title entry-title p-name " ng-non-bindable="">      Ŭ  </h1>  <div class="b-singlepost-bodywrapper">  <article class="b-singlepost-body entry-content e-content   ng-scope" lj-sale-entry="" lj-discovery-tags="" lj-embed-resizer=""> <p align="left">Панове, хто ведае, калі й адкуль зьявілася ў Краі літара «Ŭ»? :)<br>Мусіць не тады, калі ў лацінцы беларускай літары «Č», «Š» і «Ž»?<br>Ёсь думкі, што <strong><a href="http://nicolaev.livejournal.com/993348.html" rel="nofollow" target="_self">гэтую літару вынайшаў</a></strong> <br>літвінска-беларускі дзеяч Рыпіньскі.<br>Альбо панславянска-маскоўскі дзеяч Бясонаў.<br>А потым празь літвака Займэнгофа літара патрапіла ў Эсперанта…<br>Дык мо’ маеце якія зьвесткі пра ґенэзіс Ŭ?</p>  <div class="mprgye"></div></article> <div lj0sale0height="600" lj0sale0window0min="1200" lj0sale0window0max="9999" lj0sale0hide0cookie="s1_rightbanner_closed" class="ljsale ljsale--empty b-singlepost-bodybanner ng-isolate-scope" lj0sale0not0init="s1_right"><div class="ljsale__inner">

    <div class="allbanners ">

        <!-- ngIf: directive.customId -->
        <div id="">

          <!-- ngIf: directive.type -->
        
        </div>

        <!-- ngIf: directive.close -->

    </div>

    <!-- ngIf: directive.hideble -->

</div>
</div>  </div>    </div> <div class="b-singlepost-video-wrap"> <div data-autoplay-dockable-video-mount=""></div> </div>
<div id="comments" class="b-grove  b-grove-3comments" data-authtoken="c0:1682874000:313:86400:ZAoByAnlGV-0-:aa90b0f4125e56b919136caaa5e135c2"> <div class=" b-xylem  b-xylem-first  "> <ul class="b-xylem-cells">  <li class=" b-xylem-cell b-xylem-cell-amount ">   <span class="js-amount">  0 comments  </span>   </li>  </ul>  </div> <div class=" b-massaction-top ">  </div>    <div class=" b-tree b-tree-best ">  </div> <div class=" b-tree b-tree-promo " data-currentprice="">  </div>  <div class=" b-tree b-tree-root svgpreloader svgpreloader-pseudo svgpreloader-30 "></div>     <div prev-next-nav=""></div> <div suggestion-for-unlogged="" class="ng-isolate-scope"><!-- ngIf: directive.isBlockVisible --></div>   </div>         