---
id: 50270
layout: page
date: 2022-10-16
---


<!-- s-body -->
        <div class="s-body">

            <!-- use header -->
            <!-- /use header -->

            <!-- Content -->
             <article class="b-singlepost hentry h-entry js-emojis  b-singlepost-mobileadaptive  b-singlepost-withbodybanner  ng-scope" role="main" ng-app="Entry"> <div class="b-singlepost-qrcode  ng-isolate-scope" lj-qrcode="https://lacinka.livejournal.com/50270.html" lj-qrcode-width="70" lj-qrcode-height="70"> <canvas width="70" height="70"></canvas></div> <div class="b-singlepost-about"> <dl class=" b-singlepost-author author vcard p-author h-card " ng-non-bindable=""> <dt class=" b-singlepost-author-userpic photo u-photo " lj:user="devnu11">  <img src="https://l-userpic.livejournal.com/73885913/9964236" width="100" height="55" align="absmiddle" title="Valery Ciareszka: Źianon" alt="">  </dt> <dd class="b-singlepost-author-userinfo"> <div class="b-singlepost-author-userinfo-screen"> <span class=" b-singlepost-author-user fn p-name "> <span class="b-singlepost-author-user-screen"> Valery Ciareszka (<span class="ljuser  i-ljuser  i-ljuser-type-P     " data-ljuser="devnu11" lj:user="devnu11"><a href="https://devnu11.livejournal.com/profile" target="_self" class="i-ljuser-profile"><img class="i-ljuser-userhead" src="https://l-stat.livejournal.net/img/userinfo_v8.svg?v=17080?v=657"></a><a href="https://devnu11.livejournal.com/" class="i-ljuser-username" target="_self"><b>devnu11</b></a></span>) wrote in <span class="ljuser  i-ljuser  i-ljuser-type-C     " data-ljuser="lacinka" lj:user="lacinka"><a href="https://lacinka.livejournal.com/profile" target="_self" class="i-ljuser-profile"><img class="i-ljuser-userhead" src="https://l-stat.livejournal.net/img/community.gif?v=556?v=657"></a><a href="https://lacinka.livejournal.com/" class="i-ljuser-username" target="_self"><b>lacinka</b></a></span>, </span> </span> <br> <time class=" b-singlepost-author-date published dt-published "><a href="https://lacinka.livejournal.com/2009/" target="_self">2009</a>-<a href="https://lacinka.livejournal.com/2009/01/" target="_self">01</a>-<a href="https://lacinka.livejournal.com/2009/01/07/" target="_self">07</a> 18:56:00</time>   </div> <div class="b-singlepost-author-userinfo-print"> <span class=" b-singlepost-author-user fn p-name "> Valery Ciareszka<br> <span class="ljuser  i-ljuser  i-ljuser-type-P     " data-ljuser="devnu11" lj:user="devnu11"><a href="https://devnu11.livejournal.com/profile" target="_self" class="i-ljuser-profile"><img class="i-ljuser-userhead" src="https://l-stat.livejournal.net/img/userinfo_v8.svg?v=17080?v=657"></a><a href="https://devnu11.livejournal.com/" class="i-ljuser-username" target="_self"><b>devnu11</b></a></span>  <br><span class="ljuser  i-ljuser  i-ljuser-type-C     " data-ljuser="lacinka" lj:user="lacinka"><a href="https://lacinka.livejournal.com/profile" target="_self" class="i-ljuser-profile"><img class="i-ljuser-userhead" src="https://l-stat.livejournal.net/img/community.gif?v=556?v=657"></a><a href="https://lacinka.livejournal.com/" class="i-ljuser-username" target="_self"><b>lacinka</b></a></span>  </span> <br> <time class=" b-singlepost-author-date published dt-published "><a href="https://lacinka.livejournal.com/2009/" target="_self">2009</a>-<a href="https://lacinka.livejournal.com/2009/01/" target="_self">01</a>-<a href="https://lacinka.livejournal.com/2009/01/07/" target="_self">07</a> 18:56:00</time> </div> </dd> </dl>  </div>    <div class="b-singlepost-wrapper">  <h1 class=" b-singlepost-title entry-title p-name " ng-non-bindable="">      Ź!  </h1>  <div class="b-singlepost-bodywrapper">  <article class="b-singlepost-body entry-content e-content   ng-scope" lj-sale-entry="" lj-discovery-tags="" lj-embed-resizer=""> Spadarstva, uznikła nastupnaje pytańnie:<br><br>jak liepš skaracić Zianon - Z! ci Ź! ?  <div class="1kslbi"></div></article> <div lj0sale0height="600" lj0sale0window0min="1200" lj0sale0window0max="9999" lj0sale0hide0cookie="s1_rightbanner_closed" class="ljsale ljsale--empty b-singlepost-bodybanner ng-isolate-scope" lj0sale0not0init="s1_right"><div class="ljsale__inner">

    <div class="allbanners ">

        <!-- ngIf: directive.customId -->
        <div id="">

          <!-- ngIf: directive.type -->
        
        </div>

        <!-- ngIf: directive.close -->

    </div>

    <!-- ngIf: directive.hideble -->

</div>
</div>  </div>    </div> <div class="b-singlepost-video-wrap"> <div data-autoplay-dockable-video-mount=""></div> </div>
<div id="comments" class="b-grove" data-authtoken="c0:1682874000:314:86400:243Qcywd3l-0-:1e180469cef835c46fae3cc22b5c97e0"> <div class=" b-xylem  b-xylem-first  "> <ul class="b-xylem-cells">  <li class=" b-xylem-cell b-xylem-cell-amount ">   <span class="js-amount">  6 comments  </span>   </li>  </ul>  </div> <div class=" b-massaction-top ">  </div>    <div class=" b-tree b-tree-best ">  </div> <div class=" b-tree b-tree-promo " data-currentprice="">  </div>  <div class=" b-tree b-tree-root svgpreloader svgpreloader-pseudo svgpreloader-30 "><div class=" b-tree-twig  b-tree-twig-1 b-tree-twig-deep-0  " style="margin-left: 0px" data-tid="t294494">    <div id="t294494" class=" b-leaf            b-leaf-full   comment p-comment " data-username="katechizis" data-displayname="katechizis" data-updated-ts="1231380110" data-full="1"> <div class=" b-leaf-inner svgpreloader svgpreloader-pseudo svgpreloader-16 "> <div class="b-leaf-header"> <div class="b-leaf-userpic"> <a href="https://katechizis.livejournal.com/" target="_blank" class="b-leaf-userpic-inner" lj:user="katechizis">   <img src="https://l-userpic.livejournal.com/112770459/8869062" alt="katechizis" loading="lazy" title="katechizis: Ales">  </a> </div> <div class="b-leaf-details">   <p class="b-leaf-username"><span class="b-leaf-username-name"><span class="ljuser  i-ljuser  i-ljuser-type-P     " data-ljuser="katechizis" lj:user="katechizis"><a href="https://katechizis.livejournal.com/profile" class="i-ljuser-profile" target="_self"><img class="i-ljuser-userhead" src="https://l-stat.livejournal.net/img/userinfo_v8.svg?v=17080?v=657"></a><a href="https://katechizis.livejournal.com/" class="i-ljuser-username" target="_self"><b>katechizis</b></a></span> </span>  </p> <p class="b-leaf-meta">  <a href="https://lacinka.livejournal.com/50270.html?thread=294494#t294494" class="b-leaf-permalink" target="_self"> <span class="b-leaf-createdtime">January 8 2009, 02:01:50 UTC</span> </a>   <span class="b-leaf-shorttime">14 years ago</span>   </p>   </ul>        </div> </div>  <div class="b-leaf-article"> увогуле пішацца Zianon, a nie Źianon </div>   </div> </div>    </div><div class=" b-tree-twig  b-tree-twig-2 b-tree-twig-deep-0  " style="margin-left: 30px" data-tid="t294750">    <div id="t294750" class=" b-leaf        b-leaf-poster      b-leaf-full   comment p-comment " data-username="devnu11" data-displayname="devnu11" data-updated-ts="1231399796" data-full="1"> <div class=" b-leaf-inner svgpreloader svgpreloader-pseudo svgpreloader-16 "> <div class="b-leaf-header"> <div class="b-leaf-userpic"> <a href="https://devnu11.livejournal.com/" target="_blank" class="b-leaf-userpic-inner" lj:user="devnu11">   <img src="https://l-userpic.livejournal.com/51965121/9964236" alt="devnu11" loading="lazy" title="Valery Ciareszka: devnull">  </a> </div> <div class="b-leaf-details">   <p class="b-leaf-username"><span class="b-leaf-username-name"><span class="ljuser  i-ljuser  i-ljuser-type-P     " data-ljuser="devnu11" lj:user="devnu11"><a href="https://devnu11.livejournal.com/profile" class="i-ljuser-profile" target="_self"><img class="i-ljuser-userhead" src="https://l-stat.livejournal.net/img/userinfo_v8.svg?v=17080?v=657"></a><a href="https://devnu11.livejournal.com/" class="i-ljuser-username" target="_self"><b>devnu11</b></a></span> </span>  </p> <p class="b-leaf-meta">  <a href="https://lacinka.livejournal.com/50270.html?thread=294750#t294750" class="b-leaf-permalink" target="_self"> <span class="b-leaf-createdtime">January 8 2009, 07:29:56 UTC</span> </a>   <span class="b-leaf-shorttime">14 years ago</span>   </p>   </ul>        </div> </div>  <div class="b-leaf-article"> так, але гук атрымліваецца мяккім [ź]  </div>   </div> </div>    </div><div class=" b-tree-twig  b-tree-twig-3 b-tree-twig-deep-0  " style="margin-left: 60px" data-tid="t295006">    <div id="t295006" class=" b-leaf            b-leaf-full   comment p-comment " data-username="katechizis" data-displayname="katechizis" data-updated-ts="1231399866" data-full="1"> <div class=" b-leaf-inner svgpreloader svgpreloader-pseudo svgpreloader-16 "> <div class="b-leaf-header"> <div class="b-leaf-userpic"> <a href="https://katechizis.livejournal.com/" target="_blank" class="b-leaf-userpic-inner" lj:user="katechizis">   <img src="https://l-userpic.livejournal.com/112770459/8869062" alt="katechizis" loading="lazy" title="katechizis: Ales">  </a> </div> <div class="b-leaf-details">   <p class="b-leaf-username"><span class="b-leaf-username-name"><span class="ljuser  i-ljuser  i-ljuser-type-P     " data-ljuser="katechizis" lj:user="katechizis"><a href="https://katechizis.livejournal.com/profile" class="i-ljuser-profile" target="_self"><img class="i-ljuser-userhead" src="https://l-stat.livejournal.net/img/userinfo_v8.svg?v=17080?v=657"></a><a href="https://katechizis.livejournal.com/" class="i-ljuser-username" target="_self"><b>katechizis</b></a></span> </span>  </p> <p class="b-leaf-meta">  <a href="https://lacinka.livejournal.com/50270.html?thread=295006#t295006" class="b-leaf-permalink" target="_self"> <span class="b-leaf-createdtime">January 8 2009, 07:31:06 UTC</span> </a>   <span class="b-leaf-shorttime">14 years ago</span>   </p>   </ul>        </div> </div>  <div class="b-leaf-article"> але мяккасьць у дадзеным выпадку перадаецца літара i, а не ź<br> </div>   </div> </div>    </div><div class=" b-tree-twig  b-tree-twig-4 b-tree-twig-deep-0  " style="margin-left: 90px" data-tid="t295518">    <div id="t295518" class=" b-leaf        b-leaf-poster      b-leaf-full   comment p-comment " data-username="devnu11" data-displayname="devnu11" data-updated-ts="1231402263" data-full="1"> <div class=" b-leaf-inner svgpreloader svgpreloader-pseudo svgpreloader-16 "> <div class="b-leaf-header"> <div class="b-leaf-userpic"> <a href="https://devnu11.livejournal.com/" target="_blank" class="b-leaf-userpic-inner" lj:user="devnu11">   <img src="https://l-userpic.livejournal.com/51965121/9964236" alt="devnu11" loading="lazy" title="Valery Ciareszka: devnull">  </a> </div> <div class="b-leaf-details">   <p class="b-leaf-username"><span class="b-leaf-username-name"><span class="ljuser  i-ljuser  i-ljuser-type-P     " data-ljuser="devnu11" lj:user="devnu11"><a href="https://devnu11.livejournal.com/profile" class="i-ljuser-profile" target="_self"><img class="i-ljuser-userhead" src="https://l-stat.livejournal.net/img/userinfo_v8.svg?v=17080?v=657"></a><a href="https://devnu11.livejournal.com/" class="i-ljuser-username" target="_self"><b>devnu11</b></a></span> </span>  </p> <p class="b-leaf-meta">  <a href="https://lacinka.livejournal.com/50270.html?thread=295518#t295518" class="b-leaf-permalink" target="_self"> <span class="b-leaf-createdtime">January 8 2009, 08:11:03 UTC</span> </a>   <span class="b-leaf-shorttime">14 years ago</span>   </p>   </ul>        </div> </div>  <div class="b-leaf-article"> так, але ў выпадку скарачэння ў нас толькі 1 літара. Ці трэба перадаваць яе мяккасць ? </div>   </div> </div>    </div><div class=" b-tree-twig  b-tree-twig-5 b-tree-twig-deep-0  " style="margin-left: 120px" data-tid="t295774">    <div id="t295774" class=" b-leaf            b-leaf-full   comment p-comment " data-username="katechizis" data-displayname="katechizis" data-updated-ts="1231402665" data-full="1"> <div class=" b-leaf-inner svgpreloader svgpreloader-pseudo svgpreloader-16 "> <div class="b-leaf-header"> <div class="b-leaf-userpic"> <a href="https://katechizis.livejournal.com/" target="_blank" class="b-leaf-userpic-inner" lj:user="katechizis">   <img src="https://l-userpic.livejournal.com/112770459/8869062" alt="katechizis" loading="lazy" title="katechizis: Ales">  </a> </div> <div class="b-leaf-details">   <p class="b-leaf-username"><span class="b-leaf-username-name"><span class="ljuser  i-ljuser  i-ljuser-type-P     " data-ljuser="katechizis" lj:user="katechizis"><a href="https://katechizis.livejournal.com/profile" class="i-ljuser-profile" target="_self"><img class="i-ljuser-userhead" src="https://l-stat.livejournal.net/img/userinfo_v8.svg?v=17080?v=657"></a><a href="https://katechizis.livejournal.com/" class="i-ljuser-username" target="_self"><b>katechizis</b></a></span> </span>  </p> <p class="b-leaf-meta">  <a href="https://lacinka.livejournal.com/50270.html?thread=295774#t295774" class="b-leaf-permalink" target="_self"> <span class="b-leaf-createdtime">January 8 2009, 08:17:45 UTC</span> </a>   <span class="b-leaf-shorttime">14 years ago</span>   </p>   </ul>        </div> </div>  <div class="b-leaf-article"> трэба перадаваць зьмест ))<br>Адна літара не павінна перадаваць усёй фанэтычнай нагрузкі. Тым больш, калі ў слове яна такой нагрузкі не нясе.  </div>   </div> </div>    </div><div class=" b-tree-twig  b-tree-twig-1 b-tree-twig-deep-0  " style="margin-left: 0px" data-tid="t295262">    <div id="t295262" class=" b-leaf            b-leaf-full   comment p-comment " data-username="an_anklav" data-displayname="an_anklav" data-updated-ts="1231400384" data-full="1"> <div class=" b-leaf-inner svgpreloader svgpreloader-pseudo svgpreloader-16 "> <div class="b-leaf-header"> <div class="b-leaf-userpic"> <a href="https://an-anklav.livejournal.com/" target="_blank" class="b-leaf-userpic-inner" lj:user="an_anklav">   <img src="https://l-stat.livejournal.net/img/userpics/userpic-user.png?v=15821" alt="an_anklav" loading="lazy">  </a> </div> <div class="b-leaf-details">   <p class="b-leaf-username"><span class="b-leaf-username-name"><span class="ljuser  i-ljuser  i-ljuser-deleted  i-ljuser-type-P     " data-ljuser="an_anklav" lj:user="an_anklav"><a href="https://an-anklav.livejournal.com/profile" class="i-ljuser-profile" target="_self"><img class="i-ljuser-userhead" src="https://l-stat.livejournal.net/img/userinfo_v8.svg?v=17080?v=657"></a><a href="https://an-anklav.livejournal.com/" class="i-ljuser-username" target="_self"><b>an_anklav</b></a></span> </span>  </p> <p class="b-leaf-meta">  <a href="https://lacinka.livejournal.com/50270.html?thread=295262#t295262" class="b-leaf-permalink" target="_self"> <span class="b-leaf-createdtime">January 8 2009, 07:39:44 UTC</span> </a>   <span class="b-leaf-shorttime">14 years ago</span>   </p>   </ul>        </div> </div>  <div class="b-leaf-article"> Jak pa mnie, tak i hetak dobra.  </div>   </div> </div>    </div></div>     <div prev-next-nav=""></div> <div suggestion-for-unlogged="" class="ng-isolate-scope"><!-- ngIf: directive.isBlockVisible --></div>   </div>         