---
id: 53169
layout: page
date: 2022-10-16
---


<!-- s-body -->
        <div class="s-body">

            <!-- use header -->
            <!-- /use header -->

            <!-- Content -->
             <article class="b-singlepost hentry h-entry js-emojis  b-singlepost-mobileadaptive  b-singlepost-withbodybanner  ng-scope" role="main" ng-app="Entry"> <div class="b-singlepost-qrcode  ng-isolate-scope" lj-qrcode="https://lacinka.livejournal.com/53169.html" lj-qrcode-width="70" lj-qrcode-height="70"> <canvas width="70" height="70"></canvas></div> <div class="b-singlepost-about"> <dl class=" b-singlepost-author author vcard p-author h-card " ng-non-bindable=""> <dt class=" b-singlepost-author-userpic photo u-photo " lj:user="bacharevic">  <img src="https://l-userpic.livejournal.com/89449673/12979470" width="99" height="99" align="absmiddle" title="bacharevic: Durch" alt="">  </dt> <dd class="b-singlepost-author-userinfo"> <div class="b-singlepost-author-userinfo-screen"> <span class=" b-singlepost-author-user fn p-name "> <span class="b-singlepost-author-user-screen"> bacharevic (<span class="ljuser  i-ljuser  i-ljuser-type-P     " data-ljuser="bacharevic" lj:user="bacharevic"><a href="https://bacharevic.livejournal.com/profile" target="_self" class="i-ljuser-profile"><img class="i-ljuser-userhead" src="https://l-stat.livejournal.net/img/userinfo_v8.svg?v=17080?v=657"></a><a href="https://bacharevic.livejournal.com/" class="i-ljuser-username" target="_self"><b>bacharevic</b></a></span>) wrote in <span class="ljuser  i-ljuser  i-ljuser-type-C     " data-ljuser="lacinka" lj:user="lacinka"><a href="https://lacinka.livejournal.com/profile" target="_self" class="i-ljuser-profile"><img class="i-ljuser-userhead" src="https://l-stat.livejournal.net/img/community.gif?v=556?v=657"></a><a href="https://lacinka.livejournal.com/" class="i-ljuser-username" target="_self"><b>lacinka</b></a></span>, </span> </span> <br> <time class=" b-singlepost-author-date published dt-published "><a href="https://lacinka.livejournal.com/2009/" target="_self">2009</a>-<a href="https://lacinka.livejournal.com/2009/02/" target="_self">02</a>-<a href="https://lacinka.livejournal.com/2009/02/22/" target="_self">22</a> 13:50:00</time>   </div> <div class="b-singlepost-author-userinfo-print"> <span class=" b-singlepost-author-user fn p-name "> bacharevic<br> <span class="ljuser  i-ljuser  i-ljuser-type-P     " data-ljuser="bacharevic" lj:user="bacharevic"><a href="https://bacharevic.livejournal.com/profile" target="_self" class="i-ljuser-profile"><img class="i-ljuser-userhead" src="https://l-stat.livejournal.net/img/userinfo_v8.svg?v=17080?v=657"></a><a href="https://bacharevic.livejournal.com/" class="i-ljuser-username" target="_self"><b>bacharevic</b></a></span>  <br><span class="ljuser  i-ljuser  i-ljuser-type-C     " data-ljuser="lacinka" lj:user="lacinka"><a href="https://lacinka.livejournal.com/profile" target="_self" class="i-ljuser-profile"><img class="i-ljuser-userhead" src="https://l-stat.livejournal.net/img/community.gif?v=556?v=657"></a><a href="https://lacinka.livejournal.com/" class="i-ljuser-username" target="_self"><b>lacinka</b></a></span>  </span> <br> <time class=" b-singlepost-author-date published dt-published "><a href="https://lacinka.livejournal.com/2009/" target="_self">2009</a>-<a href="https://lacinka.livejournal.com/2009/02/" target="_self">02</a>-<a href="https://lacinka.livejournal.com/2009/02/22/" target="_self">22</a> 13:50:00</time> </div> </dd> </dl>  </div>    <div class="b-singlepost-wrapper">  ¤ <ul class="b-linkbar">  <li class="b-linkbar-item"><a href="https://www.livejournal.com/go.bml?journal=lacinka&amp;itemid=53169&amp;dir=prev" rel="nofollow" title="Previous" class="b-controls b-controls-prev" target="_self"><i class="b-controls-bg"></i>Previous</a></li>  <li class="b-linkbar-item ng-scope" lj-share="{ url: 'https://lacinka.livejournal.com/53169.html', title: '', text: '', hashtags: '', alwaysBottom: true }">
                <a href="javascript:void(0);" rel="nofollow" title="Share" class="b-controls b-controls-share js-lj-share" data-hashtags="" data-title="" data-url="https%3A%2F%2Flacinka.livejournal.com%2F53169.html" target="_self">
                    <i class="b-controls-bg"></i>Share
                </a>
            </li>  <li class="b-linkbar-item"><a href="https://www.livejournal.com/tools/content_flag.bml?user=lacinka&amp;itemid=53169" rel="nofollow" title="Flag" class="b-controls b-controls-flag" target="_self"><i class="b-controls-bg"></i>Flag</a></li>  <li class="b-linkbar-item"><a href="https://www.livejournal.com/go.bml?journal=lacinka&amp;itemid=53169&amp;dir=next" rel="nofollow" title="Next" class="b-controls b-controls-next" target="_self"><i class="b-controls-bg"></i>Next</a></li>  </ul> </div>      <div class="b-singlepost-bodywrapper">  <article class="b-singlepost-body entry-content e-content   ng-scope" lj-sale-entry="" lj-discovery-tags="" lj-embed-resizer=""> <br><strong><em>Paskardžusia trochi spadarstvu:)<br>Daŭ nia tak daŭno interviju adnoj znakamitaj biełaruskaj hazecie. Hutarka vyjšła biez asablivych źmienaŭ, było vykinuta tolki voś heta:<br><br><span style="font-size: x-small">"Adrazu ž skažu: ja – pierakanany prychilnik łacinki. Adnak razumieju, što siońnia ŭ jaje niama nijakich šancaŭ pašyryć sferu svajho ŭžyvańnia. Karžakavatyja śpiny kiryličnych litaraŭ nadziejna zachinajuć biełarusaŭ ad zachodniaha śvietu."<br></span><br>Łacinkaj ja karystajusia - niepaśladoŭna, ale całkam śviadoma i z zadavalnieńniem - hodu tak z 1993. Pisaŭ joj kanspekty padčas vučoby ŭ instytucie, łacinkaj napisanyja niekatoryja čarnaviki maich tekstaŭ, łacinka (ale nia roznyja jaje samarobnyja erzacy!) niezamiennaja ŭ internet-kamunikacyi. I prykra, što hazeta, dziakujučy jakoj ja, ułasna, i adkryŭ dla siabie kaliści biełaruskuju łacinku, tak pastaviłasia da majoj niavinnaj zajavy ŭ 2009. Fakt krasamoŭny: nielha, maŭlaŭ, u taki składany dla Radzimy čas padtrymlivać roznyja tam łacinki, kałhaśnik Kiryła i rabočy Miatod nas nie zrazumiejuć. </em><br></strong>  </article>   </div>    </div> <div class="b-singlepost-video-wrap"> <div data-autoplay-dockable-video-mount=""></div> </div>
<div id="comments" class="b-grove" data-authtoken="c0:1682874000:324:86400:a4Qj9g2ZJD-0-:d95f97084b026806676b7958a759e8f9"> <div class=" b-xylem  b-xylem-first  "> <ul class="b-xylem-cells">  <li class=" b-xylem-cell b-xylem-cell-amount ">   <span class="js-amount">  11 comments  </span>   </li>  </ul>  </div> <div class=" b-massaction-top ">  </div>    <div class=" b-tree b-tree-best ">  </div> <div class=" b-tree b-tree-promo " data-currentprice="">  </div>  <div class=" b-tree b-tree-root svgpreloader svgpreloader-pseudo svgpreloader-30 "><div class=" b-tree-twig  b-tree-twig-1 b-tree-twig-deep-0  " style="margin-left: 0px" data-tid="t309681">    <div id="t309681" class=" b-leaf            b-leaf-full   comment p-comment " data-username="nicolaev" data-displayname="nicolaev" data-updated-ts="1235308573" data-full="1"> <div class=" b-leaf-inner svgpreloader svgpreloader-pseudo svgpreloader-16 "> <div class="b-leaf-header"> <div class="b-leaf-userpic"> <a href="https://nicolaev.livejournal.com/" target="_blank" class="b-leaf-userpic-inner" lj:user="nicolaev">   <img src="https://l-userpic.livejournal.com/103751540/7772678" alt="nicolaev" loading="lazy" title="Andrej Ludwik Mikałajeŭ OPs (Wojsza): Litwin">  </a> </div> <div class="b-leaf-details">   <p class="b-leaf-username"><span class="b-leaf-username-name"><span class="ljuser  i-ljuser  i-ljuser-type-P     " data-ljuser="nicolaev" lj:user="nicolaev"><a href="https://nicolaev.livejournal.com/profile" class="i-ljuser-profile" target="_self"><img class="i-ljuser-userhead" src="https://l-stat.livejournal.net/img/userinfo_v8.svg?v=17080?v=657"></a><a href="https://nicolaev.livejournal.com/" class="i-ljuser-username" target="_self"><b>nicolaev</b></a></span> </span>  </p> <p class="b-leaf-meta">  <a href="https://lacinka.livejournal.com/53169.html?thread=309681#t309681" class="b-leaf-permalink" target="_self"> <span class="b-leaf-createdtime">February 22 2009, 13:16:13 UTC</span> </a>   <span class="b-leaf-shorttime">14 years ago</span>   </p>   </ul>        </div> </div>  <div class="b-leaf-article"> Trymajciesia!<br><br>Dareczy, na 95% upeŭnieny, szto hazeta taja — Nasza Niwa.<br>Sam jaszcze ź miesiac tamu mieŭ admoŭnyja dumki z nahody tamtejszaha staŭleńnia da Łacinki… </div>   </div> </div>    </div><div class=" b-tree-twig  b-tree-twig-2 b-tree-twig-deep-0  " style="margin-left: 30px" data-tid="t309937">    <div id="t309937" class=" b-leaf            b-leaf-full   comment p-comment " data-username="ex_biespart" data-displayname="ex_biespart" data-updated-ts="1235308980" data-full="1"> <div class=" b-leaf-inner svgpreloader svgpreloader-pseudo svgpreloader-16 "> <div class="b-leaf-header"> <div class="b-leaf-userpic"> <a href="https://ex-biespart.livejournal.com/" target="_blank" class="b-leaf-userpic-inner" lj:user="ex_biespart">   <img src="https://l-stat.livejournal.net/img/userpics/userpic-user.png?v=15821" alt="ex_biespart" loading="lazy">  </a> </div> <div class="b-leaf-details">   <p class="b-leaf-username"><span class="b-leaf-username-name"><span class="ljuser  i-ljuser  i-ljuser-deleted  i-ljuser-type-P     " data-ljuser="ex_biespart" lj:user="ex_biespart"><a href="https://ex-biespart.livejournal.com/profile" class="i-ljuser-profile" target="_self"><img class="i-ljuser-userhead" src="https://l-stat.livejournal.net/img/userinfo_v8.svg?v=17080?v=657"></a><a href="https://ex-biespart.livejournal.com/" class="i-ljuser-username" target="_self"><b>ex_biespart</b></a></span> </span>  </p> <p class="b-leaf-meta">  <a href="https://lacinka.livejournal.com/53169.html?thread=309937#t309937" class="b-leaf-permalink" target="_self"> <span class="b-leaf-createdtime">February 22 2009, 13:23:00 UTC</span> </a>   <span class="b-leaf-shorttime">14 years ago</span>   </p>   </ul>        </div> </div>  <div class="b-leaf-article"> Jašče niadaŭna ŭ joj drukavali łacinkaj artykuły. </div>   </div> </div>    </div><div class=" b-tree-twig  b-tree-twig-3 b-tree-twig-deep-0  " style="margin-left: 60px" data-tid="t310193">    <div id="t310193" class=" b-leaf            b-leaf-full   comment p-comment " data-username="nicolaev" data-displayname="nicolaev" data-updated-ts="1235309341" data-full="1"> <div class=" b-leaf-inner svgpreloader svgpreloader-pseudo svgpreloader-16 "> <div class="b-leaf-header"> <div class="b-leaf-userpic"> <a href="https://nicolaev.livejournal.com/" target="_blank" class="b-leaf-userpic-inner" lj:user="nicolaev">   <img src="https://l-userpic.livejournal.com/117371542/7772678" alt="nicolaev" loading="lazy" title="Andrej Ludwik Mikałajeŭ OPs (Wojsza): AndReika Tibet Belarus Bielarus">  </a> </div> <div class="b-leaf-details">   <p class="b-leaf-username"><span class="b-leaf-username-name"><span class="ljuser  i-ljuser  i-ljuser-type-P     " data-ljuser="nicolaev" lj:user="nicolaev"><a href="https://nicolaev.livejournal.com/profile" class="i-ljuser-profile" target="_self"><img class="i-ljuser-userhead" src="https://l-stat.livejournal.net/img/userinfo_v8.svg?v=17080?v=657"></a><a href="https://nicolaev.livejournal.com/" class="i-ljuser-username" target="_self"><b>nicolaev</b></a></span> </span>  </p> <p class="b-leaf-meta">  <a href="https://lacinka.livejournal.com/53169.html?thread=310193#t310193" class="b-leaf-permalink" target="_self"> <span class="b-leaf-createdtime">February 22 2009, 13:29:01 UTC</span> </a>   <span class="b-leaf-shorttime">14 years ago</span>   </p>   </ul>        </div> </div>  <div class="b-leaf-article"> Niešta nia bačyŭ :))<br><br><a href="http://nicolaev.livejournal.com/1005922.html" target="_self">http://nicolaev.livejournal.com/1005922.html</a><br><a href="http://community.livejournal.com/nasaniva/40271.html" target="_self">http://community.livejournal.com/nasaniva/40271.html</a> (kamenty) </div>   </div> </div>    </div><div class=" b-tree-twig  b-tree-twig-2 b-tree-twig-deep-0  " style="margin-left: 30px" data-tid="t311217">    <div id="t311217" class=" b-leaf        b-leaf-poster      b-leaf-full   comment p-comment " data-username="bacharevic" data-displayname="bacharevic" data-updated-ts="1235321475" data-full="1"> <div class=" b-leaf-inner svgpreloader svgpreloader-pseudo svgpreloader-16 "> <div class="b-leaf-header"> <div class="b-leaf-userpic"> <a href="https://bacharevic.livejournal.com/" target="_blank" class="b-leaf-userpic-inner" lj:user="bacharevic">   <img src="https://l-userpic.livejournal.com/89449673/12979470" alt="bacharevic" loading="lazy" title="bacharevic: Durch">  </a> </div> <div class="b-leaf-details">   <p class="b-leaf-username"><span class="b-leaf-username-name"><span class="ljuser  i-ljuser  i-ljuser-type-P     " data-ljuser="bacharevic" lj:user="bacharevic"><a href="https://bacharevic.livejournal.com/profile" class="i-ljuser-profile" target="_self"><img class="i-ljuser-userhead" src="https://l-stat.livejournal.net/img/userinfo_v8.svg?v=17080?v=657"></a><a href="https://bacharevic.livejournal.com/" class="i-ljuser-username" target="_self"><b>bacharevic</b></a></span> </span>  </p> <p class="b-leaf-meta">  <a href="https://lacinka.livejournal.com/53169.html?thread=311217#t311217" class="b-leaf-permalink" target="_self"> <span class="b-leaf-createdtime">February 22 2009, 16:51:15 UTC</span> </a>   <span class="b-leaf-shorttime">14 years ago</span>   </p>   </ul>        </div> </div>  <div class="b-leaf-article"> Dziakuj za padtrymku)<br><br>Ja, darečy, dumaŭ zapościć svaje "skarhi" i ŭ supołku našaniva, ale mnie jana nie padabajecca, tam u staršyni vidavočnyja prablemy z psychikaj.<br> </div>   </div> </div>    </div><div class=" b-tree-twig  b-tree-twig-1 b-tree-twig-deep-0  " style="margin-left: 0px" data-tid="t310449">    <div class=" b-leaf b-leaf-clipped b-leaf-deleted " id="t310449"> <div class=" b-leaf-inner svgpreloader svgpreloader-pseudo svgpreloader-16 "> <div class="b-leaf-cheader"> <p class="b-leaf-status">  Deleted comment  </p>   </div>  </div> </div>    </div><div class=" b-tree-twig  b-tree-twig-2 b-tree-twig-deep-0  " style="margin-left: 30px" data-tid="t311473">    <div id="t311473" class=" b-leaf        b-leaf-poster      b-leaf-full   comment p-comment " data-username="bacharevic" data-displayname="bacharevic" data-updated-ts="1235321917" data-full="1"> <div class=" b-leaf-inner svgpreloader svgpreloader-pseudo svgpreloader-16 "> <div class="b-leaf-header"> <div class="b-leaf-userpic"> <a href="https://bacharevic.livejournal.com/" target="_blank" class="b-leaf-userpic-inner" lj:user="bacharevic">   <img src="https://l-userpic.livejournal.com/89449673/12979470" alt="bacharevic" loading="lazy" title="bacharevic: Durch">  </a> </div> <div class="b-leaf-details">   <p class="b-leaf-username"><span class="b-leaf-username-name"><span class="ljuser  i-ljuser  i-ljuser-type-P     " data-ljuser="bacharevic" lj:user="bacharevic"><a href="https://bacharevic.livejournal.com/profile" class="i-ljuser-profile" target="_self"><img class="i-ljuser-userhead" src="https://l-stat.livejournal.net/img/userinfo_v8.svg?v=17080?v=657"></a><a href="https://bacharevic.livejournal.com/" class="i-ljuser-username" target="_self"><b>bacharevic</b></a></span> </span>  </p> <p class="b-leaf-meta">  <a href="https://lacinka.livejournal.com/53169.html?thread=311473#t311473" class="b-leaf-permalink" target="_self"> <span class="b-leaf-createdtime">February 22 2009, 16:58:37 UTC</span> </a>   <span class="b-leaf-shorttime">14 years ago</span>   </p>   </ul>        </div> </div>  <div class="b-leaf-article"> Nia błytajcie Eŭropu z Eŭraźviazam.<br> </div>   </div> </div>    </div><div class=" b-tree-twig  b-tree-twig-3 b-tree-twig-deep-0  " style="margin-left: 60px" data-tid="t311729">    <div class=" b-leaf b-leaf-clipped b-leaf-deleted " id="t311729"> <div class=" b-leaf-inner svgpreloader svgpreloader-pseudo svgpreloader-16 "> <div class="b-leaf-cheader"> <p class="b-leaf-status">  Deleted comment  </p>   </div>  </div> </div>    </div><div class=" b-tree-twig  b-tree-twig-3 b-tree-twig-deep-0  " style="margin-left: 60px" data-tid="t315569">    <div id="t315569" class=" b-leaf            b-leaf-full   comment p-comment " data-username="ext_207470" data-displayname="lacinka.wordpress.com" data-updated-ts="1253263590" data-full="1"> <div class=" b-leaf-inner svgpreloader svgpreloader-pseudo svgpreloader-16 "> <div class="b-leaf-header"> <div class="b-leaf-userpic"> <a href="https://ext-207470.livejournal.com/" target="_blank" class="b-leaf-userpic-inner" lj:user="ext_207470">   <img src="https://l-stat.livejournal.net/img/userpics/userpic-user.png?v=15821" alt="ext_207470" loading="lazy">  </a> </div> <div class="b-leaf-details">   <p class="b-leaf-username"><span class="b-leaf-username-name"><span class="ljuser  i-ljuser  i-ljuser-deleted  i-ljuser-type-I     " data-ljuser="ext_207470" lj:user="ext_207470"><a href="https://www.livejournal.com/profile?userid=22500663&amp;t=I" class="i-ljuser-profile" target="_self"><img class="i-ljuser-userhead" src="https://l-stat.livejournal.net/img/social-icons/colored/openid.svg?v=5044?v=657"></a><a href="https://ext-207470.livejournal.com/" class="i-ljuser-username" target="_self"><b>ext_207470</b></a></span> </span>  </p> <p class="b-leaf-meta">  <a href="https://lacinka.livejournal.com/53169.html?thread=315569#t315569" class="b-leaf-permalink" target="_self"> <span class="b-leaf-createdtime">September 18 2009, 08:46:30 UTC</span> </a>   <span class="b-leaf-shorttime">13 years ago</span>   </p>   </ul>        </div> </div>  <div class="b-leaf-article"> Jon ich demanstracyjna błytaje. Pa žyćci.  </div>   </div> </div>    </div><div class=" b-tree-twig  b-tree-twig-1 b-tree-twig-deep-0  " style="margin-left: 0px" data-tid="t310705">    <div id="t310705" class=" b-leaf            b-leaf-full   comment p-comment " data-username="zedlik" data-displayname="zedlik" data-updated-ts="1235311670" data-full="1"> <div class=" b-leaf-inner svgpreloader svgpreloader-pseudo svgpreloader-16 "> <div class="b-leaf-header"> <div class="b-leaf-userpic"> <a href="https://zedlik.livejournal.com/" target="_blank" class="b-leaf-userpic-inner" lj:user="zedlik">   <img src="https://l-userpic.livejournal.com/100856678/3643836" alt="zedlik" loading="lazy" title="zedlik: грын">  </a> </div> <div class="b-leaf-details">   <p class="b-leaf-username"><span class="b-leaf-username-name"><span class="ljuser  i-ljuser  i-ljuser-type-P     " data-ljuser="zedlik" lj:user="zedlik"><a href="https://zedlik.livejournal.com/profile" class="i-ljuser-profile" target="_self"><img class="i-ljuser-userhead" src="https://l-stat.livejournal.net/img/userinfo_v8.svg?v=17080?v=657"></a><a href="https://zedlik.livejournal.com/" class="i-ljuser-username" target="_self"><b>zedlik</b></a></span> </span>  </p> <p class="b-leaf-meta">  <a href="https://lacinka.livejournal.com/53169.html?thread=310705#t310705" class="b-leaf-permalink" target="_self"> <span class="b-leaf-createdtime">February 22 2009, 14:07:50 UTC</span> </a>   <span class="b-leaf-shorttime">14 years ago</span>   </p>   </ul>        </div> </div>  <div class="b-leaf-article"> a što kali pasprabavać vydać što-niebudź cikava-nievialikaje nievialikim nakładam u jakaści eksperymentu? naturalna, kali nie škada patracić paru tysiačaŭ be na takija eksperymenty.<br>mahčyma, tolki heta moža stać&nbsp;jakim-kolviek abjektyŭnym pakazčykam aŭtarytetnaści łacinki ŭ sučasnym hramadztvie.<br><br>nu i dumaju nie pamylusia, kali skažu, što prysutnaść łacinki ŭ biełnecie za apošnija hadoŭ piać pašyryłasia na paradak. kaliści navat teksty łacinkaj u kamentary na staronkach nie prałazili. raźvićcio idzie. </div>   </div> </div>    </div><div class=" b-tree-twig  b-tree-twig-2 b-tree-twig-deep-0  " style="margin-left: 30px" data-tid="t310961">    <div id="t310961" class=" b-leaf        b-leaf-poster      b-leaf-full   comment p-comment " data-username="bacharevic" data-displayname="bacharevic" data-updated-ts="1235320462" data-full="1"> <div class=" b-leaf-inner svgpreloader svgpreloader-pseudo svgpreloader-16 "> <div class="b-leaf-header"> <div class="b-leaf-userpic"> <a href="https://bacharevic.livejournal.com/" target="_blank" class="b-leaf-userpic-inner" lj:user="bacharevic">   <img src="https://l-userpic.livejournal.com/89449673/12979470" alt="bacharevic" loading="lazy" title="bacharevic: Durch">  </a> </div> <div class="b-leaf-details">   <p class="b-leaf-username"><span class="b-leaf-username-name"><span class="ljuser  i-ljuser  i-ljuser-type-P     " data-ljuser="bacharevic" lj:user="bacharevic"><a href="https://bacharevic.livejournal.com/profile" class="i-ljuser-profile" target="_self"><img class="i-ljuser-userhead" src="https://l-stat.livejournal.net/img/userinfo_v8.svg?v=17080?v=657"></a><a href="https://bacharevic.livejournal.com/" class="i-ljuser-username" target="_self"><b>bacharevic</b></a></span> </span>  </p> <p class="b-leaf-meta">  <a href="https://lacinka.livejournal.com/53169.html?thread=310961#t310961" class="b-leaf-permalink" target="_self"> <span class="b-leaf-createdtime">February 22 2009, 16:34:22 UTC</span> </a>   <span class="b-leaf-shorttime">14 years ago</span>   </p>   </ul>        </div> </div>  <div class="b-leaf-article"> Zhodny z vami, raźvićcio jość, nasupierak skieptykam)<br><br>Ideja vydać knižku łacinkaj vielmi dobraja, daŭno pra heta dumaju. Znajści b jašče takoha nienarmalnaha vydaŭca:) Bo heta nie brašurka šerańkaja musić być, a sapraŭdnaja kniha.<br> </div>   </div> </div>    </div><div class=" b-tree-twig  b-tree-twig-3 b-tree-twig-deep-0  " style="margin-left: 60px" data-tid="t312497">    <div id="t312497" class=" b-leaf            b-leaf-full   comment p-comment " data-username="zedlik" data-displayname="zedlik" data-updated-ts="1235326785" data-full="1"> <div class=" b-leaf-inner svgpreloader svgpreloader-pseudo svgpreloader-16 "> <div class="b-leaf-header"> <div class="b-leaf-userpic"> <a href="https://zedlik.livejournal.com/" target="_blank" class="b-leaf-userpic-inner" lj:user="zedlik">   <img src="https://l-userpic.livejournal.com/100856678/3643836" alt="zedlik" loading="lazy" title="zedlik: грын">  </a> </div> <div class="b-leaf-details">   <p class="b-leaf-username"><span class="b-leaf-username-name"><span class="ljuser  i-ljuser  i-ljuser-type-P     " data-ljuser="zedlik" lj:user="zedlik"><a href="https://zedlik.livejournal.com/profile" class="i-ljuser-profile" target="_self"><img class="i-ljuser-userhead" src="https://l-stat.livejournal.net/img/userinfo_v8.svg?v=17080?v=657"></a><a href="https://zedlik.livejournal.com/" class="i-ljuser-username" target="_self"><b>zedlik</b></a></span> </span>  </p> <p class="b-leaf-meta">  <a href="https://lacinka.livejournal.com/53169.html?thread=312497#t312497" class="b-leaf-permalink" target="_self"> <span class="b-leaf-createdtime">February 22 2009, 18:19:45 UTC</span> </a>   <span class="b-leaf-shorttime">14 years ago</span>   </p>   </ul>        </div> </div>  <div class="b-leaf-article"> viadoma.<br>tady žadaju pośpechaŭ! ;) </div>   </div> </div>    </div></div>     <div prev-next-nav=""></div> <div suggestion-for-unlogged="" class="ng-isolate-scope"><!-- ngIf: directive.isBlockVisible --></div>   </div>         
