---
id: 53321
layout: page
date: 2022-10-16
---


<!-- s-body -->
        <div class="s-body">

            <!-- use header -->
            <!-- /use header -->

            <!-- Content -->
             <article class="b-singlepost hentry h-entry js-emojis  b-singlepost-mobileadaptive  b-singlepost-withbodybanner  ng-scope" role="main" ng-app="Entry"> <div class="b-singlepost-qrcode  ng-isolate-scope" lj-qrcode="https://lacinka.livejournal.com/53321.html" lj-qrcode-width="70" lj-qrcode-height="70"> <canvas width="70" height="70"></canvas></div> <div class="b-singlepost-about"> <dl class=" b-singlepost-author author vcard p-author h-card " ng-non-bindable=""> <dt class=" b-singlepost-author-userpic photo u-photo " lj:user="ex_trauch275">  <img src="https://l-userpic.livejournal.com/77817915/13637213" width="" height="" align="absmiddle" title="trauch (Ігар Бялуга): pic#77817915" alt="">  </dt> <dd class="b-singlepost-author-userinfo"> <div class="b-singlepost-author-userinfo-screen"> <span class=" b-singlepost-author-user fn p-name "> <span class="b-singlepost-author-user-screen"> trauch (Ігар Бялуга) (<span class="ljuser  i-ljuser  i-ljuser-deleted  i-ljuser-type-P     " data-ljuser="ex_trauch275" lj:user="ex_trauch275"><a href="https://ex-trauch275.livejournal.com/profile" target="_self" class="i-ljuser-profile"><img class="i-ljuser-userhead" src="https://l-stat.livejournal.net/img/userinfo_v8.svg?v=17080?v=657"></a><a href="https://ex-trauch275.livejournal.com/" class="i-ljuser-username" target="_self"><b>ex_trauch275</b></a></span>) wrote in <span class="ljuser  i-ljuser  i-ljuser-type-C     " data-ljuser="lacinka" lj:user="lacinka"><a href="https://lacinka.livejournal.com/profile" target="_self" class="i-ljuser-profile"><img class="i-ljuser-userhead" src="https://l-stat.livejournal.net/img/community.gif?v=556?v=657"></a><a href="https://lacinka.livejournal.com/" class="i-ljuser-username" target="_self"><b>lacinka</b></a></span>, </span> </span> <br> <time class=" b-singlepost-author-date published dt-published "><a href="https://lacinka.livejournal.com/2009/" target="_self">2009</a>-<a href="https://lacinka.livejournal.com/2009/02/" target="_self">02</a>-<a href="https://lacinka.livejournal.com/2009/02/25/" target="_self">25</a> 16:47:00</time>   </div> <div class="b-singlepost-author-userinfo-print"> <span class=" b-singlepost-author-user fn p-name "> trauch (Ігар Бялуга)<br> <span class="ljuser  i-ljuser  i-ljuser-deleted  i-ljuser-type-P     " data-ljuser="ex_trauch275" lj:user="ex_trauch275"><a href="https://ex-trauch275.livejournal.com/profile" target="_self" class="i-ljuser-profile"><img class="i-ljuser-userhead" src="https://l-stat.livejournal.net/img/userinfo_v8.svg?v=17080?v=657"></a><a href="https://ex-trauch275.livejournal.com/" class="i-ljuser-username" target="_self"><b>ex_trauch275</b></a></span>  <br><span class="ljuser  i-ljuser  i-ljuser-type-C     " data-ljuser="lacinka" lj:user="lacinka"><a href="https://lacinka.livejournal.com/profile" target="_self" class="i-ljuser-profile"><img class="i-ljuser-userhead" src="https://l-stat.livejournal.net/img/community.gif?v=556?v=657"></a><a href="https://lacinka.livejournal.com/" class="i-ljuser-username" target="_self"><b>lacinka</b></a></span>  </span> <br> <time class=" b-singlepost-author-date published dt-published "><a href="https://lacinka.livejournal.com/2009/" target="_self">2009</a>-<a href="https://lacinka.livejournal.com/2009/02/" target="_self">02</a>-<a href="https://lacinka.livejournal.com/2009/02/25/" target="_self">25</a> 16:47:00</time> </div> </dd> </dl>  </div>    <div class="b-singlepost-wrapper">  ¤ <ul class="b-linkbar">  <li class="b-linkbar-item"><a href="https://www.livejournal.com/go.bml?journal=lacinka&amp;itemid=53321&amp;dir=prev" rel="nofollow" title="Previous" class="b-controls b-controls-prev" target="_self"><i class="b-controls-bg"></i>Previous</a></li>  <li class="b-linkbar-item ng-scope" lj-share="{ url: 'https://lacinka.livejournal.com/53321.html', title: '', text: '', hashtags: '', alwaysBottom: true }">
                <a href="javascript:void(0);" rel="nofollow" title="Share" class="b-controls b-controls-share js-lj-share" data-hashtags="" data-title="" data-url="https%3A%2F%2Flacinka.livejournal.com%2F53321.html" target="_self">
                    <i class="b-controls-bg"></i>Share
                </a>
            </li>  <li class="b-linkbar-item"><a href="https://www.livejournal.com/tools/content_flag.bml?user=lacinka&amp;itemid=53321" rel="nofollow" title="Flag" class="b-controls b-controls-flag" target="_self"><i class="b-controls-bg"></i>Flag</a></li>  <li class="b-linkbar-item"><a href="https://www.livejournal.com/go.bml?journal=lacinka&amp;itemid=53321&amp;dir=next" rel="nofollow" title="Next" class="b-controls b-controls-next" target="_self"><i class="b-controls-bg"></i>Next</a></li>  </ul> </div>      <div class="b-singlepost-bodywrapper">  <article class="b-singlepost-body entry-content e-content   ng-scope" lj-sale-entry="" lj-discovery-tags="" lj-embed-resizer=""> Дзень добры, шаноўнае спадарства.<br><br>Ёсць наступнае пытаньне. <br><br>Па-руску мае прозвiшча - Белуга.<br>Па-беларуску - Бялуга.<br>Лацiнкай - ?  <div class="ldo61f"></div></article> <div lj0sale0height="600" lj0sale0window0min="1200" lj0sale0window0max="9999" lj0sale0hide0cookie="s1_rightbanner_closed" class="ljsale ljsale--empty b-singlepost-bodybanner ng-isolate-scope" lj0sale0not0init="s1_right"><div class="ljsale__inner">

    <div class="allbanners ">

        <!-- ngIf: directive.customId -->
        <div id="">

          <!-- ngIf: directive.type -->
        
        </div>

        <!-- ngIf: directive.close -->

    </div>

    <!-- ngIf: directive.hideble -->

</div>
</div>  </div>    </div> <div class="b-singlepost-video-wrap"> <div data-autoplay-dockable-video-mount=""></div> </div>
<div id="comments" class="b-grove" data-authtoken="c0:1682874000:325:86400:VZHcf2VfLz-0-:64d9ce9348fdd8b0acc807612340f92c"> <div class=" b-xylem  b-xylem-first  "> <ul class="b-xylem-cells">  <li class=" b-xylem-cell b-xylem-cell-amount ">   <span class="js-amount">  6 comments  </span>   </li>  </ul>  </div> <div class=" b-massaction-top ">  </div>    <div class=" b-tree b-tree-best ">  </div> <div class=" b-tree b-tree-promo " data-currentprice="">  </div>  <div class=" b-tree b-tree-root svgpreloader svgpreloader-pseudo svgpreloader-30 "><div class=" b-tree-twig  b-tree-twig-1 b-tree-twig-deep-0  " style="margin-left: 0px" data-tid="t313161">    <div id="t313161" class=" b-leaf            b-leaf-full   comment p-comment " data-username="edge_by" data-displayname="edge_by" data-updated-ts="1235573875" data-full="1"> <div class=" b-leaf-inner svgpreloader svgpreloader-pseudo svgpreloader-16 "> <div class="b-leaf-header"> <div class="b-leaf-userpic"> <a href="https://edge-by.livejournal.com/" target="_blank" class="b-leaf-userpic-inner" lj:user="edge_by">   <img src="https://l-userpic.livejournal.com/68870537/13236567" alt="edge_by" loading="lazy" title="Edge: Reč Paspalita">  </a> </div> <div class="b-leaf-details">   <p class="b-leaf-username"><span class="b-leaf-username-name"><span class="ljuser  i-ljuser  i-ljuser-type-P     " data-ljuser="edge_by" lj:user="edge_by"><a href="https://edge-by.livejournal.com/profile" class="i-ljuser-profile" target="_self"><img class="i-ljuser-userhead" src="https://l-stat.livejournal.net/img/userinfo_v8.svg?v=17080?v=657"></a><a href="https://edge-by.livejournal.com/" class="i-ljuser-username" target="_self"><b>edge_by</b></a></span> </span>  </p> <p class="b-leaf-meta">  <a href="https://lacinka.livejournal.com/53321.html?thread=313161#t313161" class="b-leaf-permalink" target="_self"> <span class="b-leaf-createdtime">February 25 2009, 14:57:55 UTC</span> </a>   <span class="b-leaf-shorttime">14 years ago</span>   </p>   </ul>        </div> </div>  <div class="b-leaf-article"> варыянт 1 Białuha<br>вараянт 2 Bialuha<br>першы згодна правілаў другі якая та новая стандартызаваная лацінка<br>я бы выкарыстоўваў першы </div>   </div> </div>    </div><div class=" b-tree-twig  b-tree-twig-2 b-tree-twig-deep-0  " style="margin-left: 30px" data-tid="t313673">    <div id="t313673" class=" b-leaf        b-leaf-poster      b-leaf-full   comment p-comment " data-username="ex_trauch275" data-displayname="ex_trauch275" data-updated-ts="1235574167" data-full="1"> <div class=" b-leaf-inner svgpreloader svgpreloader-pseudo svgpreloader-16 "> <div class="b-leaf-header"> <div class="b-leaf-userpic"> <a href="https://ex-trauch275.livejournal.com/" target="_blank" class="b-leaf-userpic-inner" lj:user="ex_trauch275">   <img src="https://l-stat.livejournal.net/img/userpics/userpic-user.png?v=15821" alt="ex_trauch275" loading="lazy">  </a> </div> <div class="b-leaf-details">   <p class="b-leaf-username"><span class="b-leaf-username-name"><span class="ljuser  i-ljuser  i-ljuser-deleted  i-ljuser-type-P     " data-ljuser="ex_trauch275" lj:user="ex_trauch275"><a href="https://ex-trauch275.livejournal.com/profile" class="i-ljuser-profile" target="_self"><img class="i-ljuser-userhead" src="https://l-stat.livejournal.net/img/userinfo_v8.svg?v=17080?v=657"></a><a href="https://ex-trauch275.livejournal.com/" class="i-ljuser-username" target="_self"><b>ex_trauch275</b></a></span> </span>  </p> <p class="b-leaf-meta">  <a href="https://lacinka.livejournal.com/53321.html?thread=313673#t313673" class="b-leaf-permalink" target="_self"> <span class="b-leaf-createdtime">February 25 2009, 15:02:47 UTC</span> </a>   <span class="b-leaf-shorttime">14 years ago</span>   </p>   </ul>        </div> </div>  <div class="b-leaf-article"> дзякуй.  </div>   </div> </div>    </div><div class=" b-tree-twig  b-tree-twig-1 b-tree-twig-deep-0  " style="margin-left: 0px" data-tid="t313417">    <div id="t313417" class=" b-leaf            b-leaf-full   comment p-comment " data-username="___schizoid" data-displayname="___schizoid" data-updated-ts="1235574026" data-full="1"> <div class=" b-leaf-inner svgpreloader svgpreloader-pseudo svgpreloader-16 "> <div class="b-leaf-header"> <div class="b-leaf-userpic"> <a href="https://users.livejournal.com/---schizoid/" target="_blank" class="b-leaf-userpic-inner" lj:user="___schizoid">   <img src="https://l-userpic.livejournal.com/85425435/7037145" alt="___schizoid" loading="lazy" title="___schizoid: kepka">  </a> </div> <div class="b-leaf-details">   <p class="b-leaf-username"><span class="b-leaf-username-name"><span class="ljuser  i-ljuser  i-ljuser-type-P     " data-ljuser="___schizoid" lj:user="___schizoid"><a href="https://users.livejournal.com/---schizoid/profile" class="i-ljuser-profile" target="_self"><img class="i-ljuser-userhead" src="https://l-stat.livejournal.net/img/userinfo_v8.svg?v=17080?v=657"></a><a href="https://users.livejournal.com/---schizoid/" class="i-ljuser-username" target="_self"><b>___schizoid</b></a></span> </span>  </p> <p class="b-leaf-meta">  <a href="https://lacinka.livejournal.com/53321.html?thread=313417#t313417" class="b-leaf-permalink" target="_self"> <span class="b-leaf-createdtime">February 25 2009, 15:00:26 UTC</span> </a>   <span class="b-leaf-shorttime">14 years ago</span>   </p>   </ul>        </div> </div>  <div class="b-leaf-article"> Minavita "Białuha" j budzie. </div>   </div> </div>    </div><div class=" b-tree-twig  b-tree-twig-2 b-tree-twig-deep-0  " style="margin-left: 30px" data-tid="t313929">    <div id="t313929" class=" b-leaf        b-leaf-poster      b-leaf-full   comment p-comment " data-username="ex_trauch275" data-displayname="ex_trauch275" data-updated-ts="1235574302" data-full="1"> <div class=" b-leaf-inner svgpreloader svgpreloader-pseudo svgpreloader-16 "> <div class="b-leaf-header"> <div class="b-leaf-userpic"> <a href="https://ex-trauch275.livejournal.com/" target="_blank" class="b-leaf-userpic-inner" lj:user="ex_trauch275">   <img src="https://l-stat.livejournal.net/img/userpics/userpic-user.png?v=15821" alt="ex_trauch275" loading="lazy">  </a> </div> <div class="b-leaf-details">   <p class="b-leaf-username"><span class="b-leaf-username-name"><span class="ljuser  i-ljuser  i-ljuser-deleted  i-ljuser-type-P     " data-ljuser="ex_trauch275" lj:user="ex_trauch275"><a href="https://ex-trauch275.livejournal.com/profile" class="i-ljuser-profile" target="_self"><img class="i-ljuser-userhead" src="https://l-stat.livejournal.net/img/userinfo_v8.svg?v=17080?v=657"></a><a href="https://ex-trauch275.livejournal.com/" class="i-ljuser-username" target="_self"><b>ex_trauch275</b></a></span> </span>  </p> <p class="b-leaf-meta">  <a href="https://lacinka.livejournal.com/53321.html?thread=313929#t313929" class="b-leaf-permalink" target="_self"> <span class="b-leaf-createdtime">February 25 2009, 15:05:02 UTC</span> </a>   <span class="b-leaf-shorttime">14 years ago</span>   </p>   </ul>        </div> </div>  <div class="b-leaf-article"> дзякуй. </div>   </div> </div>    </div><div class=" b-tree-twig  b-tree-twig-1 b-tree-twig-deep-0  " style="margin-left: 0px" data-tid="t314185">    <div id="t314185" class=" b-leaf            b-leaf-full   comment p-comment " data-username="nicolaev" data-displayname="nicolaev" data-updated-ts="1235574909" data-full="1"> <div class=" b-leaf-inner svgpreloader svgpreloader-pseudo svgpreloader-16 "> <div class="b-leaf-header"> <div class="b-leaf-userpic"> <a href="https://nicolaev.livejournal.com/" target="_blank" class="b-leaf-userpic-inner" lj:user="nicolaev">   <img src="https://l-userpic.livejournal.com/117371542/7772678" alt="nicolaev" loading="lazy" title="Andrej Ludwik Mikałajeŭ OPs (Wojsza): AndReika Tibet Belarus Bielarus">  </a> </div> <div class="b-leaf-details">   <p class="b-leaf-username"><span class="b-leaf-username-name"><span class="ljuser  i-ljuser  i-ljuser-type-P     " data-ljuser="nicolaev" lj:user="nicolaev"><a href="https://nicolaev.livejournal.com/profile" class="i-ljuser-profile" target="_self"><img class="i-ljuser-userhead" src="https://l-stat.livejournal.net/img/userinfo_v8.svg?v=17080?v=657"></a><a href="https://nicolaev.livejournal.com/" class="i-ljuser-username" target="_self"><b>nicolaev</b></a></span> </span>  </p> <p class="b-leaf-meta">  <a href="https://lacinka.livejournal.com/53321.html?thread=314185#t314185" class="b-leaf-permalink" target="_self"> <span class="b-leaf-createdtime">February 25 2009, 15:15:09 UTC</span> </a>   <span class="b-leaf-shorttime">14 years ago</span>   </p>   </ul>        </div> </div>  <div class="b-leaf-article"> Białuha, a калі для пашпарту — Bialuha </div>   </div> </div>    </div><div class=" b-tree-twig  b-tree-twig-2 b-tree-twig-deep-0  " style="margin-left: 30px" data-tid="t314441">    <div id="t314441" class=" b-leaf        b-leaf-poster      b-leaf-full   comment p-comment " data-username="ex_trauch275" data-displayname="ex_trauch275" data-updated-ts="1235575435" data-full="1"> <div class=" b-leaf-inner svgpreloader svgpreloader-pseudo svgpreloader-16 "> <div class="b-leaf-header"> <div class="b-leaf-userpic"> <a href="https://ex-trauch275.livejournal.com/" target="_blank" class="b-leaf-userpic-inner" lj:user="ex_trauch275">   <img src="https://l-stat.livejournal.net/img/userpics/userpic-user.png?v=15821" alt="ex_trauch275" loading="lazy">  </a> </div> <div class="b-leaf-details">   <p class="b-leaf-username"><span class="b-leaf-username-name"><span class="ljuser  i-ljuser  i-ljuser-deleted  i-ljuser-type-P     " data-ljuser="ex_trauch275" lj:user="ex_trauch275"><a href="https://ex-trauch275.livejournal.com/profile" class="i-ljuser-profile" target="_self"><img class="i-ljuser-userhead" src="https://l-stat.livejournal.net/img/userinfo_v8.svg?v=17080?v=657"></a><a href="https://ex-trauch275.livejournal.com/" class="i-ljuser-username" target="_self"><b>ex_trauch275</b></a></span> </span>  </p> <p class="b-leaf-meta">  <a href="https://lacinka.livejournal.com/53321.html?thread=314441#t314441" class="b-leaf-permalink" target="_self"> <span class="b-leaf-createdtime">February 25 2009, 15:23:55 UTC</span> </a>   <span class="b-leaf-shorttime">14 years ago</span>   </p>   </ul>        </div> </div>  <div class="b-leaf-article"> дзякуй </div>   </div> </div>    </div></div>     <div prev-next-nav=""></div> <div suggestion-for-unlogged="" class="ng-isolate-scope"><!-- ngIf: directive.isBlockVisible --></div>   </div>         