---
id: 58495
layout: page
date: 2022-10-16
---


<!-- s-body -->
        <div class="s-body">

            <!-- use header -->
            <!-- /use header -->

            <!-- Content -->
             <article class="b-singlepost hentry h-entry js-emojis  b-singlepost-mobileadaptive  b-singlepost-withbodybanner  ng-scope" role="main" ng-app="Entry"> <div class="b-singlepost-qrcode  ng-isolate-scope" lj-qrcode="https://lacinka.livejournal.com/58495.html" lj-qrcode-width="70" lj-qrcode-height="70"> <canvas width="70" height="70"></canvas></div> <div class="b-singlepost-about"> <dl class=" b-singlepost-author author vcard p-author h-card " ng-non-bindable=""> <dt class=" b-singlepost-author-userpic photo u-photo " lj:user="michal_on">  <img src="https://l-userpic.livejournal.com/114372774/12959611" width="100" height="100" align="absmiddle" title="аналоговые   способы    остановки    времени: pacman" alt="">  </dt> <dd class="b-singlepost-author-userinfo"> <div class="b-singlepost-author-userinfo-screen"> <span class=" b-singlepost-author-user fn p-name "> <span class="b-singlepost-author-user-screen"> аналоговые   способы    остановки    времени (<span class="ljuser  i-ljuser  i-ljuser-type-P     " data-ljuser="michal_on" lj:user="michal_on"><a href="https://michal-on.livejournal.com/profile" target="_self" class="i-ljuser-profile"><img class="i-ljuser-userhead" src="https://l-stat.livejournal.net/img/userinfo_v8.svg?v=17080?v=657"></a><a href="https://michal-on.livejournal.com/" class="i-ljuser-username" target="_self"><b>michal_on</b></a></span>) wrote in <span class="ljuser  i-ljuser  i-ljuser-type-C     " data-ljuser="lacinka" lj:user="lacinka"><a href="https://lacinka.livejournal.com/profile" target="_self" class="i-ljuser-profile"><img class="i-ljuser-userhead" src="https://l-stat.livejournal.net/img/community.gif?v=556?v=657"></a><a href="https://lacinka.livejournal.com/" class="i-ljuser-username" target="_self"><b>lacinka</b></a></span>, </span> </span> <br> <time class=" b-singlepost-author-date published dt-published "><a href="https://lacinka.livejournal.com/2012/" target="_self">2012</a>-<a href="https://lacinka.livejournal.com/2012/06/" target="_self">06</a>-<a href="https://lacinka.livejournal.com/2012/06/01/" target="_self">01</a> 18:43:00</time>   </div> <div class="b-singlepost-author-userinfo-print"> <span class=" b-singlepost-author-user fn p-name "> аналоговые   способы    остановки    времени<br> <span class="ljuser  i-ljuser  i-ljuser-type-P     " data-ljuser="michal_on" lj:user="michal_on"><a href="https://michal-on.livejournal.com/profile" target="_self" class="i-ljuser-profile"><img class="i-ljuser-userhead" src="https://l-stat.livejournal.net/img/userinfo_v8.svg?v=17080?v=657"></a><a href="https://michal-on.livejournal.com/" class="i-ljuser-username" target="_self"><b>michal_on</b></a></span>  <br><span class="ljuser  i-ljuser  i-ljuser-type-C     " data-ljuser="lacinka" lj:user="lacinka"><a href="https://lacinka.livejournal.com/profile" target="_self" class="i-ljuser-profile"><img class="i-ljuser-userhead" src="https://l-stat.livejournal.net/img/community.gif?v=556?v=657"></a><a href="https://lacinka.livejournal.com/" class="i-ljuser-username" target="_self"><b>lacinka</b></a></span>  </span> <br> <time class=" b-singlepost-author-date published dt-published "><a href="https://lacinka.livejournal.com/2012/" target="_self">2012</a>-<a href="https://lacinka.livejournal.com/2012/06/" target="_self">06</a>-<a href="https://lacinka.livejournal.com/2012/06/01/" target="_self">01</a> 18:43:00</time> </div> </dd> </dl>  </div>    <div class="b-singlepost-wrapper">  <h1 class=" b-singlepost-title entry-title p-name " ng-non-bindable="">      беларуская лацінка ў пашпарце  </h1>  <div class="b-singlepost-bodywrapper">  <article class="b-singlepost-body entry-content e-content   ng-scope" lj-sale-entry="" lj-discovery-tags="" lj-embed-resizer=""> Вітаю, спадарства. я паставіў сабе мэту змяніць прозвішча ў пашпарце з трансліту на лацінку. але папярэдне мне адмовілі ў гэтым. падкажыце, калі ласка, на якія арфаграфічныя нормы і дакумэнты рабіць спасылкі, каб даказаць сваю правату (пра інструкцыю па транслітэрацыі геаграфічных назваў ведаю). заўтра паеду ў РАУС - буду удзячны за адказы, тым больш, што можна стварыць прэцэдэнт)  <div class="ncdic3n"></div></article> <div lj0sale0height="600" lj0sale0window0min="1200" lj0sale0window0max="9999" lj0sale0hide0cookie="s1_rightbanner_closed" class="ljsale ljsale--empty b-singlepost-bodybanner ng-isolate-scope" lj0sale0not0init="s1_right"><div class="ljsale__inner">

    <div class="allbanners ">

        <!-- ngIf: directive.customId -->
        <div id="">

          <!-- ngIf: directive.type -->
        
        </div>

        <!-- ngIf: directive.close -->

    </div>

    <!-- ngIf: directive.hideble -->

</div>
</div>  </div>    </div> <div class="b-singlepost-video-wrap"> <div data-autoplay-dockable-video-mount=""></div> </div>
<div id="comments" class="b-grove" data-authtoken="c0:1682874000:347:86400:Wn2qeNf4Nx-0-:99fe50e31bc4faf25a8fd1d525e67834"> <div class=" b-xylem  b-xylem-first  "> <ul class="b-xylem-cells">  <li class=" b-xylem-cell b-xylem-cell-amount ">   <span class="js-amount">  9 comments  </span>   </li>  </ul>  </div> <div class=" b-massaction-top ">  </div>    <div class=" b-tree b-tree-best ">  </div> <div class=" b-tree b-tree-promo " data-currentprice="">  </div>  <div class=" b-tree b-tree-root svgpreloader svgpreloader-pseudo svgpreloader-30 "><div class=" b-tree-twig  b-tree-twig-1 b-tree-twig-deep-0  " style="margin-left: 0px" data-tid="t331135">    <div id="t331135" class=" b-leaf            b-leaf-full   comment p-comment " data-username="nicolaev" data-displayname="nicolaev" data-updated-ts="1338566654" data-full="1"> <div class=" b-leaf-inner svgpreloader svgpreloader-pseudo svgpreloader-16 "> <div class="b-leaf-header"> <div class="b-leaf-userpic"> <a href="https://nicolaev.livejournal.com/" target="_blank" class="b-leaf-userpic-inner" lj:user="nicolaev">   <img src="https://l-userpic.livejournal.com/103919952/7772678" alt="nicolaev" loading="lazy" title="Andrej Ludwik Mikałajeŭ OPs (Wojsza): Wiciaz">  </a> </div> <div class="b-leaf-details">   <p class="b-leaf-username"><span class="b-leaf-username-name"><span class="ljuser  i-ljuser  i-ljuser-type-P     " data-ljuser="nicolaev" lj:user="nicolaev"><a href="https://nicolaev.livejournal.com/profile" class="i-ljuser-profile" target="_self"><img class="i-ljuser-userhead" src="https://l-stat.livejournal.net/img/userinfo_v8.svg?v=17080?v=657"></a><a href="https://nicolaev.livejournal.com/" class="i-ljuser-username" target="_self"><b>nicolaev</b></a></span> </span>  </p> <p class="b-leaf-meta">  <a href="https://lacinka.livejournal.com/58495.html?thread=331135#t331135" class="b-leaf-permalink" target="_self"> <span class="b-leaf-createdtime">June 1 2012, 16:04:14 UTC</span> </a>   <span class="b-leaf-shorttime">10 years ago</span>   </p>   </ul>        </div> </div>  <div class="b-leaf-article"> Mo Wam dapamoża:<br><a href="http://nn.by/?c=ar&amp;i=37625" rel="nofollow" target="_self"><em>«Беларускі пашпарт ды лацінка»</em></a><br><a href="http://community.livejournal.com/lacinka/55598.html" rel="nofollow" target="_self"><em>«biełaruskija pašparty i łacinka»</em></a> </div>   </div> </div>    </div><div class=" b-tree-twig  b-tree-twig-2 b-tree-twig-deep-0  " style="margin-left: 30px" data-tid="t331391">    <div id="t331391" class=" b-leaf        b-leaf-poster      b-leaf-full   comment p-comment " data-username="michal_on" data-displayname="michal_on" data-updated-ts="1338567194" data-full="1"> <div class=" b-leaf-inner svgpreloader svgpreloader-pseudo svgpreloader-16 "> <div class="b-leaf-header"> <div class="b-leaf-userpic"> <a href="https://michal-on.livejournal.com/" target="_blank" class="b-leaf-userpic-inner" lj:user="michal_on">   <img src="https://l-userpic.livejournal.com/114372774/12959611" alt="michal_on" loading="lazy" title="аналоговые   способы    остановки    времени: pacman">  </a> </div> <div class="b-leaf-details">   <p class="b-leaf-username"><span class="b-leaf-username-name"><span class="ljuser  i-ljuser  i-ljuser-type-P     " data-ljuser="michal_on" lj:user="michal_on"><a href="https://michal-on.livejournal.com/profile" class="i-ljuser-profile" target="_self"><img class="i-ljuser-userhead" src="https://l-stat.livejournal.net/img/userinfo_v8.svg?v=17080?v=657"></a><a href="https://michal-on.livejournal.com/" class="i-ljuser-username" target="_self"><b>michal_on</b></a></span> </span>  </p> <p class="b-leaf-meta">  <a href="https://lacinka.livejournal.com/58495.html?thread=331391#t331391" class="b-leaf-permalink" target="_self"> <span class="b-leaf-createdtime">June 1 2012, 16:13:14 UTC</span> </a>   <span class="b-leaf-shorttime">10 years ago</span>   </p>   </ul>        </div> </div>  <div class="b-leaf-article"> dziakuj!!! </div>   </div> </div>    </div><div class=" b-tree-twig  b-tree-twig-3 b-tree-twig-deep-0  " style="margin-left: 60px" data-tid="t331903">    <div id="t331903" class=" b-leaf            b-leaf-full   comment p-comment " data-username="nicolaev" data-displayname="nicolaev" data-updated-ts="1338567370" data-full="1"> <div class=" b-leaf-inner svgpreloader svgpreloader-pseudo svgpreloader-16 "> <div class="b-leaf-header"> <div class="b-leaf-userpic"> <a href="https://nicolaev.livejournal.com/" target="_blank" class="b-leaf-userpic-inner" lj:user="nicolaev">   <img src="https://l-userpic.livejournal.com/103751540/7772678" alt="nicolaev" loading="lazy" title="Andrej Ludwik Mikałajeŭ OPs (Wojsza): Litwin">  </a> </div> <div class="b-leaf-details">   <p class="b-leaf-username"><span class="b-leaf-username-name"><span class="ljuser  i-ljuser  i-ljuser-type-P     " data-ljuser="nicolaev" lj:user="nicolaev"><a href="https://nicolaev.livejournal.com/profile" class="i-ljuser-profile" target="_self"><img class="i-ljuser-userhead" src="https://l-stat.livejournal.net/img/userinfo_v8.svg?v=17080?v=657"></a><a href="https://nicolaev.livejournal.com/" class="i-ljuser-username" target="_self"><b>nicolaev</b></a></span> </span>  </p> <p class="b-leaf-meta">  <a href="https://lacinka.livejournal.com/58495.html?thread=331903#t331903" class="b-leaf-permalink" target="_self"> <span class="b-leaf-createdtime">June 1 2012, 16:16:10 UTC</span> </a>   <span class="b-leaf-shorttime">10 years ago</span>   </p>   </ul>        </div> </div>  <div class="b-leaf-article"> Zirnicie jaszcze ŭ supołcy papiaredni dopis-abwiestku :-) </div>   </div> </div>    </div><div class=" b-tree-twig  b-tree-twig-4 b-tree-twig-deep-0  " style="margin-left: 90px" data-tid="t332159">    <div id="t332159" class=" b-leaf        b-leaf-poster      b-leaf-full   comment p-comment " data-username="michal_on" data-displayname="michal_on" data-updated-ts="1338567703" data-full="1"> <div class=" b-leaf-inner svgpreloader svgpreloader-pseudo svgpreloader-16 "> <div class="b-leaf-header"> <div class="b-leaf-userpic"> <a href="https://michal-on.livejournal.com/" target="_blank" class="b-leaf-userpic-inner" lj:user="michal_on">   <img src="https://l-userpic.livejournal.com/114372774/12959611" alt="michal_on" loading="lazy" title="аналоговые   способы    остановки    времени: pacman">  </a> </div> <div class="b-leaf-details">   <p class="b-leaf-username"><span class="b-leaf-username-name"><span class="ljuser  i-ljuser  i-ljuser-type-P     " data-ljuser="michal_on" lj:user="michal_on"><a href="https://michal-on.livejournal.com/profile" class="i-ljuser-profile" target="_self"><img class="i-ljuser-userhead" src="https://l-stat.livejournal.net/img/userinfo_v8.svg?v=17080?v=657"></a><a href="https://michal-on.livejournal.com/" class="i-ljuser-username" target="_self"><b>michal_on</b></a></span> </span>  </p> <p class="b-leaf-meta">  <a href="https://lacinka.livejournal.com/58495.html?thread=332159#t332159" class="b-leaf-permalink" target="_self"> <span class="b-leaf-createdtime">June 1 2012, 16:21:43 UTC</span> </a>   <span class="b-leaf-shorttime">10 years ago</span>   </p>   </ul>        </div> </div>  <div class="b-leaf-article"> так-так , збіраюся наведаць арт-сядзібу) </div>   </div> </div>    </div><div class=" b-tree-twig  b-tree-twig-1 b-tree-twig-deep-0  " style="margin-left: 0px" data-tid="t331647">    <div id="t331647" class=" b-leaf            b-leaf-full   comment p-comment " data-username="pc" data-displayname="pc" data-updated-ts="1338567340" data-full="1"> <div class=" b-leaf-inner svgpreloader svgpreloader-pseudo svgpreloader-16 "> <div class="b-leaf-header"> <div class="b-leaf-userpic"> <a href="https://pc.livejournal.com/" target="_blank" class="b-leaf-userpic-inner" lj:user="pc">   <img src="https://l-userpic.livejournal.com/120364981/8576997" alt="pc" loading="lazy" title="P.C. Живой дневник: PC">  </a> </div> <div class="b-leaf-details">   <p class="b-leaf-username"><span class="b-leaf-username-name"><span class="ljuser  i-ljuser  i-ljuser-type-P     " data-ljuser="pc" lj:user="pc"><a href="https://pc.livejournal.com/profile" class="i-ljuser-profile" target="_self"><img class="i-ljuser-userhead" src="https://l-stat.livejournal.net/img/userinfo_v8.svg?v=17080?v=657"></a><a href="https://pc.livejournal.com/" class="i-ljuser-username" target="_self"><b>pc</b></a></span> </span>  </p> <p class="b-leaf-meta">  <a href="https://lacinka.livejournal.com/58495.html?thread=331647#t331647" class="b-leaf-permalink" target="_self"> <span class="b-leaf-createdtime">June 1 2012, 16:15:40 UTC</span> </a>   <span class="b-leaf-shorttime">10 years ago</span>   </p>   </ul>        </div> </div>  <div class="b-leaf-article"> адзін раз - змяняюць без пытанняў<br>але ж магчыма, вы хочаце літары з дыякрытыкамі - гэта не магчыма </div>   </div> </div>    </div><div class=" b-tree-twig  b-tree-twig-2 b-tree-twig-deep-0  " style="margin-left: 30px" data-tid="t332415">    <div id="t332415" class=" b-leaf        b-leaf-poster      b-leaf-full   comment p-comment " data-username="michal_on" data-displayname="michal_on" data-updated-ts="1338567738" data-full="1"> <div class=" b-leaf-inner svgpreloader svgpreloader-pseudo svgpreloader-16 "> <div class="b-leaf-header"> <div class="b-leaf-userpic"> <a href="https://michal-on.livejournal.com/" target="_blank" class="b-leaf-userpic-inner" lj:user="michal_on">   <img src="https://l-userpic.livejournal.com/114372774/12959611" alt="michal_on" loading="lazy" title="аналоговые   способы    остановки    времени: pacman">  </a> </div> <div class="b-leaf-details">   <p class="b-leaf-username"><span class="b-leaf-username-name"><span class="ljuser  i-ljuser  i-ljuser-type-P     " data-ljuser="michal_on" lj:user="michal_on"><a href="https://michal-on.livejournal.com/profile" class="i-ljuser-profile" target="_self"><img class="i-ljuser-userhead" src="https://l-stat.livejournal.net/img/userinfo_v8.svg?v=17080?v=657"></a><a href="https://michal-on.livejournal.com/" class="i-ljuser-username" target="_self"><b>michal_on</b></a></span> </span>  </p> <p class="b-leaf-meta">  <a href="https://lacinka.livejournal.com/58495.html?thread=332415#t332415" class="b-leaf-permalink" target="_self"> <span class="b-leaf-createdtime">June 1 2012, 16:22:18 UTC</span> </a>   <span class="b-leaf-shorttime">10 years ago</span>   </p>   </ul>        </div> </div>  <div class="b-leaf-article"> не, сам разумею, што з дыякрытыкамі будуць дадатковыя праблемы) </div>   </div> </div>    </div><div class=" b-tree-twig  b-tree-twig-1 b-tree-twig-deep-0  " style="margin-left: 0px" data-tid="t332671">    <div id="t332671" class=" b-leaf            b-leaf-full   comment p-comment " data-username="zedlik" data-displayname="zedlik" data-updated-ts="1338592755" data-full="1"> <div class=" b-leaf-inner svgpreloader svgpreloader-pseudo svgpreloader-16 "> <div class="b-leaf-header"> <div class="b-leaf-userpic"> <a href="https://zedlik.livejournal.com/" target="_blank" class="b-leaf-userpic-inner" lj:user="zedlik">   <img src="https://l-userpic.livejournal.com/100856678/3643836" alt="zedlik" loading="lazy" title="zedlik: грын">  </a> </div> <div class="b-leaf-details">   <p class="b-leaf-username"><span class="b-leaf-username-name"><span class="ljuser  i-ljuser  i-ljuser-type-P     " data-ljuser="zedlik" lj:user="zedlik"><a href="https://zedlik.livejournal.com/profile" class="i-ljuser-profile" target="_self"><img class="i-ljuser-userhead" src="https://l-stat.livejournal.net/img/userinfo_v8.svg?v=17080?v=657"></a><a href="https://zedlik.livejournal.com/" class="i-ljuser-username" target="_self"><b>zedlik</b></a></span> </span>  </p> <p class="b-leaf-meta">  <a href="https://lacinka.livejournal.com/58495.html?thread=332671#t332671" class="b-leaf-permalink" target="_self"> <span class="b-leaf-createdtime">June 1 2012, 23:19:15 UTC</span> </a>   <span class="b-leaf-shorttime">10 years ago</span>   </p>   </ul>        </div> </div>  <div class="b-leaf-article"> зь якой фармулёўкай адмовілі?<br><br>разам з тым, калі ў заяве на абмен пашпарта ў якасьці прычыны вы пазначылі «недакладная лацінская транскрыпцыя», то пэўна адмовілі правамоцна, бо гэтая прычына не зьяўляецца падставай для замены пашпарта. гугліце «Порядок заполнения заявления о выдаче паспорта». у прыватнасьці, вось сьпіс магчымых прычын:<br><br><i>выезд за мяжу (для несовершеннолетних, не достигших 16-летнего возраста);<br>выезд за мяжу на пастаяннае жыхарства;<br>дасягненне 16-гадовага ўзросту;<br>дасягненне 25-гадовага ўзросту;<br>дасягненне 45-гадовага ўзросту;<br>дасягненне 100-гадовага ўзросту;<br>дасягненне 125-гадовага ўзросту;<br>змена прозвiшча, уласнага iмя, iмя па бацьку;<br>непрыгоднасць для карыстання;<br>выяўленне недакладнасцей у запiсах;<br>карэкцыя, змяненне палавой прыналежнасцi;<br>зрасходаванне лiстоў;<br>абмен;<br>страта;<br>атрыманне грамадзянства;<br>аднаўленне грамадзянства.</i><br><br>у сьпісе ёсьць «абмен», але ў мяне няма пэўнасьці, што гэта проста звычайны абмен без абгрунтаваньня падставаў. </div>   </div> </div>    </div><div class=" b-tree-twig  b-tree-twig-2 b-tree-twig-deep-0  " style="margin-left: 30px" data-tid="t332927">    <div id="t332927" class=" b-leaf        b-leaf-poster      b-leaf-full   comment p-comment " data-username="michal_on" data-displayname="michal_on" data-updated-ts="1338624810" data-full="1"> <div class=" b-leaf-inner svgpreloader svgpreloader-pseudo svgpreloader-16 "> <div class="b-leaf-header"> <div class="b-leaf-userpic"> <a href="https://michal-on.livejournal.com/" target="_blank" class="b-leaf-userpic-inner" lj:user="michal_on">   <img src="https://l-userpic.livejournal.com/114372774/12959611" alt="michal_on" loading="lazy" title="аналоговые   способы    остановки    времени: pacman">  </a> </div> <div class="b-leaf-details">   <p class="b-leaf-username"><span class="b-leaf-username-name"><span class="ljuser  i-ljuser  i-ljuser-type-P     " data-ljuser="michal_on" lj:user="michal_on"><a href="https://michal-on.livejournal.com/profile" class="i-ljuser-profile" target="_self"><img class="i-ljuser-userhead" src="https://l-stat.livejournal.net/img/userinfo_v8.svg?v=17080?v=657"></a><a href="https://michal-on.livejournal.com/" class="i-ljuser-username" target="_self"><b>michal_on</b></a></span> </span>  </p> <p class="b-leaf-meta">  <a href="https://lacinka.livejournal.com/58495.html?thread=332927#t332927" class="b-leaf-permalink" target="_self"> <span class="b-leaf-createdtime">June 2 2012, 08:13:30 UTC</span> </a>   <span class="b-leaf-shorttime">10 years ago</span>   </p>   </ul>        </div> </div>  <div class="b-leaf-article"> дзякую за адказ! </div>   </div> </div>    </div><div class=" b-tree-twig  b-tree-twig-2 b-tree-twig-deep-0  " style="margin-left: 30px" data-tid="t333183">    <div id="t333183" class=" b-leaf        b-leaf-poster      b-leaf-full   comment p-comment " data-username="michal_on" data-displayname="michal_on" data-updated-ts="1338658158" data-full="1"> <div class=" b-leaf-inner svgpreloader svgpreloader-pseudo svgpreloader-16 "> <div class="b-leaf-header"> <div class="b-leaf-userpic"> <a href="https://michal-on.livejournal.com/" target="_blank" class="b-leaf-userpic-inner" lj:user="michal_on">   <img src="https://l-userpic.livejournal.com/114372774/12959611" alt="michal_on" loading="lazy" title="аналоговые   способы    остановки    времени: pacman">  </a> </div> <div class="b-leaf-details">   <p class="b-leaf-username"><span class="b-leaf-username-name"><span class="ljuser  i-ljuser  i-ljuser-type-P     " data-ljuser="michal_on" lj:user="michal_on"><a href="https://michal-on.livejournal.com/profile" class="i-ljuser-profile" target="_self"><img class="i-ljuser-userhead" src="https://l-stat.livejournal.net/img/userinfo_v8.svg?v=17080?v=657"></a><a href="https://michal-on.livejournal.com/" class="i-ljuser-username" target="_self"><b>michal_on</b></a></span> </span>  </p> <p class="b-leaf-meta">  <a href="https://lacinka.livejournal.com/58495.html?thread=333183#t333183" class="b-leaf-permalink" target="_self"> <span class="b-leaf-createdtime">June 2 2012, 17:29:18 UTC</span> </a>   <span class="b-leaf-shorttime">10 years ago</span>   </p>   </ul>        </div> </div>  <div class="b-leaf-article"> дзякую за адказ! </div>   </div> </div>    </div></div>     <div prev-next-nav=""></div> <div suggestion-for-unlogged="" class="ng-isolate-scope"><!-- ngIf: directive.isBlockVisible --></div>   </div>         