---
id: 59230
layout: page
date: 2022-10-16
---


<!-- s-body -->
        <div class="s-body">

            <!-- use header -->
            <!-- /use header -->

            <!-- Content -->
             <article class="b-singlepost hentry h-entry js-emojis  b-singlepost-mobileadaptive  b-singlepost-withbodybanner  ng-scope" role="main" ng-app="Entry"> <div class="b-singlepost-qrcode  ng-isolate-scope" lj-qrcode="https://lacinka.livejournal.com/59230.html" lj-qrcode-width="70" lj-qrcode-height="70"> <canvas width="70" height="70"></canvas></div> <div class="b-singlepost-about"> <dl class=" b-singlepost-author author vcard p-author h-card " ng-non-bindable=""> <dt class=" b-singlepost-author-userpic photo u-photo " lj:user="nicolaev">  <img src="https://l-userpic.livejournal.com/103919952/7772678" width="82" height="100" align="absmiddle" title="Andrej Ludwik Mikałajeŭ OPs (Wojsza): Wiciaz" alt="">  </dt> <dd class="b-singlepost-author-userinfo"> <div class="b-singlepost-author-userinfo-screen"> <span class=" b-singlepost-author-user fn p-name "> <span class="b-singlepost-author-user-screen"> Andrej Ludwik Mikałajeŭ OPs (Wojsza) (<span class="ljuser  i-ljuser  i-ljuser-type-P     " data-ljuser="nicolaev" lj:user="nicolaev"><a href="https://nicolaev.livejournal.com/profile" target="_self" class="i-ljuser-profile"><img class="i-ljuser-userhead" src="https://l-stat.livejournal.net/img/userinfo_v8.svg?v=17080?v=657"></a><a href="https://nicolaev.livejournal.com/" class="i-ljuser-username" target="_self"><b>nicolaev</b></a></span>) wrote in <span class="ljuser  i-ljuser  i-ljuser-type-C     " data-ljuser="lacinka" lj:user="lacinka"><a href="https://lacinka.livejournal.com/profile" target="_self" class="i-ljuser-profile"><img class="i-ljuser-userhead" src="https://l-stat.livejournal.net/img/community.gif?v=556?v=657"></a><a href="https://lacinka.livejournal.com/" class="i-ljuser-username" target="_self"><b>lacinka</b></a></span>, </span> </span> <br> <time class=" b-singlepost-author-date published dt-published "><a href="https://lacinka.livejournal.com/2012/" target="_self">2012</a>-<a href="https://lacinka.livejournal.com/2012/08/" target="_self">08</a>-<a href="https://lacinka.livejournal.com/2012/08/21/" target="_self">21</a> 16:28:00</time>   </div> <div class="b-singlepost-author-userinfo-print"> <span class=" b-singlepost-author-user fn p-name "> Andrej Ludwik Mikałajeŭ OPs (Wojsza)<br> <span class="ljuser  i-ljuser  i-ljuser-type-P     " data-ljuser="nicolaev" lj:user="nicolaev"><a href="https://nicolaev.livejournal.com/profile" target="_self" class="i-ljuser-profile"><img class="i-ljuser-userhead" src="https://l-stat.livejournal.net/img/userinfo_v8.svg?v=17080?v=657"></a><a href="https://nicolaev.livejournal.com/" class="i-ljuser-username" target="_self"><b>nicolaev</b></a></span>  <br><span class="ljuser  i-ljuser  i-ljuser-type-C     " data-ljuser="lacinka" lj:user="lacinka"><a href="https://lacinka.livejournal.com/profile" target="_self" class="i-ljuser-profile"><img class="i-ljuser-userhead" src="https://l-stat.livejournal.net/img/community.gif?v=556?v=657"></a><a href="https://lacinka.livejournal.com/" class="i-ljuser-username" target="_self"><b>lacinka</b></a></span>  </span> <br> <time class=" b-singlepost-author-date published dt-published "><a href="https://lacinka.livejournal.com/2012/" target="_self">2012</a>-<a href="https://lacinka.livejournal.com/2012/08/" target="_self">08</a>-<a href="https://lacinka.livejournal.com/2012/08/21/" target="_self">21</a> 16:28:00</time> </div> </dd> </dl>  </div>    <div class="b-singlepost-wrapper">  <h1 class=" b-singlepost-title entry-title p-name " ng-non-bindable="">      «Śvieciacca vokny dy nіkoha za jіmі»  </h1>  <div class="b-singlepost-bodywrapper">  <article class="b-singlepost-body entry-content e-content   ng-scope" lj-sale-entry="" lj-discovery-tags="" lj-embed-resizer=""> <p align="left"><strong><a href="http://nn.by/?c=ar&amp;i=78709" rel="nofollow" target="_self"><strong>«Śvieciacca vokny dy nіkoha za jіmі»</strong></a></strong></p><blockquote style="MARGIN-RIGHT: 0px" dir="ltr"><p align="left"><em>З марай пра адраджэньне беларускай лацінкі Уладзімір Арлоў новую кнігу паэзіі выдаў адразу ў дзвюх версіях. Побач з вершам на кірыліцы друкуецца варыянт, набраны лацінскімі літарамі...</em></p></blockquote>  <div class="8ml4b"></div></article> <div lj0sale0height="600" lj0sale0window0min="1200" lj0sale0window0max="9999" lj0sale0hide0cookie="s1_rightbanner_closed" class="ljsale ljsale--empty b-singlepost-bodybanner ng-isolate-scope" lj0sale0not0init="s1_right"><div class="ljsale__inner">

    <div class="allbanners ">

        <!-- ngIf: directive.customId -->
        <div id="">

          <!-- ngIf: directive.type -->
        
        </div>

        <!-- ngIf: directive.close -->

    </div>

    <!-- ngIf: directive.hideble -->

</div>
</div>  </div>    </div> <div class="b-singlepost-video-wrap"> <div data-autoplay-dockable-video-mount=""></div> </div>
<div id="comments" class="b-grove" data-authtoken="c0:1682874000:350:86400:0j6gfFNJsz-0-:01bbd885eea2bbeff59f27ea051adffa"> <div class=" b-xylem  b-xylem-first  "> <ul class="b-xylem-cells">  <li class=" b-xylem-cell b-xylem-cell-amount ">   <span class="js-amount">  3 comments  </span>   </li>  </ul>  </div> <div class=" b-massaction-top ">  </div>    <div class=" b-tree b-tree-best ">  </div> <div class=" b-tree b-tree-promo " data-currentprice="">  </div>  <div class=" b-tree b-tree-root svgpreloader svgpreloader-pseudo svgpreloader-30 "><div class=" b-tree-twig  b-tree-twig-1 b-tree-twig-deep-0  " style="margin-left: 0px" data-tid="t334174">    <div id="t334174" class=" b-leaf            b-leaf-full   comment p-comment " data-username="bacharevic" data-displayname="bacharevic" data-updated-ts="1345564365" data-full="1"> <div class=" b-leaf-inner svgpreloader svgpreloader-pseudo svgpreloader-16 "> <div class="b-leaf-header"> <div class="b-leaf-userpic"> <a href="https://bacharevic.livejournal.com/" target="_blank" class="b-leaf-userpic-inner" lj:user="bacharevic">   <img src="https://l-userpic.livejournal.com/89449673/12979470" alt="bacharevic" loading="lazy" title="bacharevic: Durch">  </a> </div> <div class="b-leaf-details">   <p class="b-leaf-username"><span class="b-leaf-username-name"><span class="ljuser  i-ljuser  i-ljuser-type-P     " data-ljuser="bacharevic" lj:user="bacharevic"><a href="https://bacharevic.livejournal.com/profile" class="i-ljuser-profile" target="_self"><img class="i-ljuser-userhead" src="https://l-stat.livejournal.net/img/userinfo_v8.svg?v=17080?v=657"></a><a href="https://bacharevic.livejournal.com/" class="i-ljuser-username" target="_self"><b>bacharevic</b></a></span> </span>  </p> <p class="b-leaf-meta">  <a href="https://lacinka.livejournal.com/59230.html?thread=334174#t334174" class="b-leaf-permalink" target="_self"> <span class="b-leaf-createdtime">August 21 2012, 15:52:45 UTC</span> </a>   <span class="b-leaf-shorttime">10 years ago</span>   </p>   </ul>        </div> </div>  <div class="b-leaf-article"> Pavinšavaŭ aŭtara.<br>I ŭ nas napisaŭ<br><a href="http://lacinkaj.livejournal.com/" target="_self">http://lacinkaj.livejournal.com/</a><br>(dałučajciesia :) </div>   </div> </div>    </div><div class=" b-tree-twig  b-tree-twig-2 b-tree-twig-deep-0  " style="margin-left: 30px" data-tid="t334430">    <div id="t334430" class=" b-leaf        b-leaf-poster      b-leaf-full   comment p-comment " data-username="nicolaev" data-displayname="nicolaev" data-updated-ts="1345565049" data-full="1"> <div class=" b-leaf-inner svgpreloader svgpreloader-pseudo svgpreloader-16 "> <div class="b-leaf-header"> <div class="b-leaf-userpic"> <a href="https://nicolaev.livejournal.com/" target="_blank" class="b-leaf-userpic-inner" lj:user="nicolaev">   <img src="https://l-userpic.livejournal.com/103919952/7772678" alt="nicolaev" loading="lazy" title="Andrej Ludwik Mikałajeŭ OPs (Wojsza): Wiciaz">  </a> </div> <div class="b-leaf-details">   <p class="b-leaf-username"><span class="b-leaf-username-name"><span class="ljuser  i-ljuser  i-ljuser-type-P     " data-ljuser="nicolaev" lj:user="nicolaev"><a href="https://nicolaev.livejournal.com/profile" class="i-ljuser-profile" target="_self"><img class="i-ljuser-userhead" src="https://l-stat.livejournal.net/img/userinfo_v8.svg?v=17080?v=657"></a><a href="https://nicolaev.livejournal.com/" class="i-ljuser-username" target="_self"><b>nicolaev</b></a></span> </span>  </p> <p class="b-leaf-meta">  <a href="https://lacinka.livejournal.com/59230.html?thread=334430#t334430" class="b-leaf-permalink" target="_self"> <span class="b-leaf-createdtime">August 21 2012, 16:04:09 UTC</span> </a>   <span class="b-leaf-shorttime">10 years ago</span>   </p>   </ul>        </div> </div>  <div class="b-leaf-article"> +1 : )) A woś jaszcze link, mo' nia baczyli : )<br><a href="http://mikalajeu.blogspot.com/2011/09/historic-lithuinian-spelling-for.html" rel="nofollow" target="_self">http://mikalajeu.blogspot.com/2011/09/historic-lithuinian-spelling-for.html</a> </div>   </div> </div>    </div><div class=" b-tree-twig  b-tree-twig-3 b-tree-twig-deep-0  " style="margin-left: 60px" data-tid="t334686">    <div id="t334686" class=" b-leaf            b-leaf-full   comment p-comment " data-username="bacharevic" data-displayname="bacharevic" data-updated-ts="1345565624" data-full="1"> <div class=" b-leaf-inner svgpreloader svgpreloader-pseudo svgpreloader-16 "> <div class="b-leaf-header"> <div class="b-leaf-userpic"> <a href="https://bacharevic.livejournal.com/" target="_blank" class="b-leaf-userpic-inner" lj:user="bacharevic">   <img src="https://l-userpic.livejournal.com/89449673/12979470" alt="bacharevic" loading="lazy" title="bacharevic: Durch">  </a> </div> <div class="b-leaf-details">   <p class="b-leaf-username"><span class="b-leaf-username-name"><span class="ljuser  i-ljuser  i-ljuser-type-P     " data-ljuser="bacharevic" lj:user="bacharevic"><a href="https://bacharevic.livejournal.com/profile" class="i-ljuser-profile" target="_self"><img class="i-ljuser-userhead" src="https://l-stat.livejournal.net/img/userinfo_v8.svg?v=17080?v=657"></a><a href="https://bacharevic.livejournal.com/" class="i-ljuser-username" target="_self"><b>bacharevic</b></a></span> </span>  </p> <p class="b-leaf-meta">  <a href="https://lacinka.livejournal.com/59230.html?thread=334686#t334686" class="b-leaf-permalink" target="_self"> <span class="b-leaf-createdtime">August 21 2012, 16:13:44 UTC</span> </a>   <span class="b-leaf-shorttime">10 years ago</span>   </p>   </ul>        </div> </div>  <div class="b-leaf-article"> Dziakuju! </div>   </div> </div>    </div></div>     <div prev-next-nav=""></div> <div suggestion-for-unlogged="" class="ng-isolate-scope"><!-- ngIf: directive.isBlockVisible --></div>   </div>         