---
id: 61003
layout: page
date: 2022-10-16
---


<!-- s-body -->
        <div class="s-body">

            <!-- use header -->
            <!-- /use header -->

            <!-- Content -->
             <article class="b-singlepost hentry h-entry js-emojis  b-singlepost-mobileadaptive  b-singlepost-withbodybanner  ng-scope" role="main" ng-app="Entry"> <div class="b-singlepost-qrcode  ng-isolate-scope" lj-qrcode="https://lacinka.livejournal.com/61003.html" lj-qrcode-width="70" lj-qrcode-height="70"> <canvas width="70" height="70"></canvas></div> <div class="b-singlepost-about"> <dl class=" b-singlepost-author author vcard p-author h-card " ng-non-bindable=""> <dt class=" b-singlepost-author-userpic photo u-photo " lj:user="nicolaev">  <img src="https://l-userpic.livejournal.com/103919952/7772678" width="82" height="100" align="absmiddle" title="Andrej Ludwik Mikałajeŭ OPs (Wojsza): Wiciaz" alt="">  </dt> <dd class="b-singlepost-author-userinfo"> <div class="b-singlepost-author-userinfo-screen"> <span class=" b-singlepost-author-user fn p-name "> <span class="b-singlepost-author-user-screen"> Andrej Ludwik Mikałajeŭ OPs (Wojsza) (<span class="ljuser  i-ljuser  i-ljuser-type-P     " data-ljuser="nicolaev" lj:user="nicolaev"><a href="https://nicolaev.livejournal.com/profile" target="_self" class="i-ljuser-profile"><img class="i-ljuser-userhead" src="https://l-stat.livejournal.net/img/userinfo_v8.svg?v=17080?v=657"></a><a href="https://nicolaev.livejournal.com/" class="i-ljuser-username" target="_self"><b>nicolaev</b></a></span>) wrote in <span class="ljuser  i-ljuser  i-ljuser-type-C     " data-ljuser="lacinka" lj:user="lacinka"><a href="https://lacinka.livejournal.com/profile" target="_self" class="i-ljuser-profile"><img class="i-ljuser-userhead" src="https://l-stat.livejournal.net/img/community.gif?v=556?v=657"></a><a href="https://lacinka.livejournal.com/" class="i-ljuser-username" target="_self"><b>lacinka</b></a></span>, </span> </span> <br> <time class=" b-singlepost-author-date published dt-published "><a href="https://lacinka.livejournal.com/2013/" target="_self">2013</a>-<a href="https://lacinka.livejournal.com/2013/01/" target="_self">01</a>-<a href="https://lacinka.livejournal.com/2013/01/21/" target="_self">21</a> 13:00:00</time>   </div> <div class="b-singlepost-author-userinfo-print"> <span class=" b-singlepost-author-user fn p-name "> Andrej Ludwik Mikałajeŭ OPs (Wojsza)<br> <span class="ljuser  i-ljuser  i-ljuser-type-P     " data-ljuser="nicolaev" lj:user="nicolaev"><a href="https://nicolaev.livejournal.com/profile" target="_self" class="i-ljuser-profile"><img class="i-ljuser-userhead" src="https://l-stat.livejournal.net/img/userinfo_v8.svg?v=17080?v=657"></a><a href="https://nicolaev.livejournal.com/" class="i-ljuser-username" target="_self"><b>nicolaev</b></a></span>  <br><span class="ljuser  i-ljuser  i-ljuser-type-C     " data-ljuser="lacinka" lj:user="lacinka"><a href="https://lacinka.livejournal.com/profile" target="_self" class="i-ljuser-profile"><img class="i-ljuser-userhead" src="https://l-stat.livejournal.net/img/community.gif?v=556?v=657"></a><a href="https://lacinka.livejournal.com/" class="i-ljuser-username" target="_self"><b>lacinka</b></a></span>  </span> <br> <time class=" b-singlepost-author-date published dt-published "><a href="https://lacinka.livejournal.com/2013/" target="_self">2013</a>-<a href="https://lacinka.livejournal.com/2013/01/" target="_self">01</a>-<a href="https://lacinka.livejournal.com/2013/01/21/" target="_self">21</a> 13:00:00</time> </div> </dd> </dl>  </div>    <div class="b-singlepost-wrapper">  <h1 class=" b-singlepost-title entry-title p-name " ng-non-bindable="">      27.01. Ł!  </h1>  <div class="b-singlepost-bodywrapper">  <article class="b-singlepost-body entry-content e-content   ng-scope" lj-sale-entry="" lj-discovery-tags="" lj-embed-resizer=""> <div style="text-align:center"><br><img src="https://l-userpic.livejournal.com/97404725/17438010" width="93" border="0" height="100" title=""><div class="ddq3js"></div></div><p align="center"><strong>27.01. Ł!</strong></p><p align="center">Winszujem admysłoŭcaŭ z Dniom i Tydniem Łacinki!<br>Dałuczajciesia-ż da supolnaha z nami światkawańnia!<br>Vinšujem admysłoŭcaŭ z Dniom i Tydniem Łacinki!<br>Dałučajciesia-ž da supolnaha z nami śviatkavańnia!<br>Vinšujem admysloŭcaŭ z Dniom i Tydniem Lacinki!<br>Dalučajciesia-ž da supoĺnaha z nami śviatkavańnia!</p><p align="center"><strong><a href="http://nicolaev.livejournal.com/1872722.html" rel="nofollow" target="_self"><strong>«21-27 studzienia — Tydzień Łacinki»</strong></a></strong></p>  <div class="ddq3js"></div></article> <div lj0sale0height="600" lj0sale0window0min="1200" lj0sale0window0max="9999" lj0sale0hide0cookie="s1_rightbanner_closed" class="ljsale ljsale--empty b-singlepost-bodybanner ng-isolate-scope" lj0sale0not0init="s1_right"><div class="ljsale__inner">

    <div class="allbanners ">

        <!-- ngIf: directive.customId -->
        <div id="">

          <!-- ngIf: directive.type -->
        
        </div>

        <!-- ngIf: directive.close -->

    </div>

    <!-- ngIf: directive.hideble -->

</div>
</div>  </div>    </div> <div class="b-singlepost-video-wrap"> <div data-autoplay-dockable-video-mount=""></div> </div>
<div id="comments" class="b-grove  b-grove-3comments" data-authtoken="c0:1682874000:358:86400:3ef9yKLH2y-0-:556503a55c395cb5c2194f2ed16eb9db"> <div class=" b-xylem  b-xylem-first  "> <ul class="b-xylem-cells">  <li class=" b-xylem-cell b-xylem-cell-amount ">   <span class="js-amount">  1 comment  </span>   </li>  </ul>  </div> <div class=" b-massaction-top ">  </div>    <div class=" b-tree b-tree-best ">  </div> <div class=" b-tree b-tree-promo " data-currentprice="">  </div>  <div class=" b-tree b-tree-root svgpreloader svgpreloader-pseudo svgpreloader-30 "><div class=" b-tree-twig  b-tree-twig-1 b-tree-twig-deep-0  " style="margin-left: 0px" data-tid="t335947">    <div id="t335947" class=" b-leaf         b-leaf-withsubject     b-leaf-full   comment p-comment " data-username="livejournal" data-displayname="livejournal" data-updated-ts="1358763288" data-full="1" data-subject="Tydzien Lacinki"> <div class=" b-leaf-inner svgpreloader svgpreloader-pseudo svgpreloader-16 "> <div class="b-leaf-header"> <div class="b-leaf-userpic"> <a href="https://livejournal.livejournal.com/" target="_blank" class="b-leaf-userpic-inner" lj:user="livejournal">   <img src="https://l-userpic.livejournal.com/116243443/21331" alt="livejournal" loading="lazy" title="LiveJournal: pingback_bot">  </a> </div> <div class="b-leaf-details">   <h4 class="b-leaf-subject"><a href="https://lacinka.livejournal.com/61003.html?thread=335947#t335947" class="b-leaf-subject-link" target="_self">Tydzien Lacinki</a></h4>  <p class="b-leaf-username"><span class="b-leaf-username-name"><span class="ljuser  i-ljuser  i-ljuser-type-P     " data-ljuser="livejournal" lj:user="livejournal"><a href="https://livejournal.livejournal.com/profile" class="i-ljuser-profile" target="_self"><img class="i-ljuser-userhead" src="https://l-files.livejournal.net/userhead/40?v=1320914051"></a><a href="https://livejournal.livejournal.com/" class="i-ljuser-username" target="_self"><b>livejournal</b></a></span> </span>  </p> <p class="b-leaf-meta">  <a href="https://lacinka.livejournal.com/61003.html?thread=335947#t335947" class="b-leaf-permalink" target="_self"> <span class="b-leaf-createdtime">January 21 2013, 10:14:48 UTC</span> </a>   <span class="b-leaf-shorttime">10 years ago</span>   </p>   </ul>        </div> </div>  <div class="b-leaf-article"> User <span class="ljuser  i-ljuser  i-ljuser-type-P     " data-ljuser="bacharevic" lj:user="bacharevic"><a href="https://bacharevic.livejournal.com/profile" target="_self" class="i-ljuser-profile"><img class="i-ljuser-userhead" src="https://l-stat.livejournal.net/img/userinfo_v8.svg?v=17080?v=657"></a><a href="https://bacharevic.livejournal.com/" class="i-ljuser-username" target="_self"><b>bacharevic</b></a></span> referenced to your post from <a href="http://lacinkaj.livejournal.com/2992.html" target="_self">Tydzien Lacinki</a> saying: [...] ;ujem admysloŭcaŭ z Dniom i Tydniem Lacinki! Dalučajciesia-ž da supoĺnaha z nami śviatkavańnia! [...] </div>   </div> </div>    </div></div>     <div prev-next-nav=""></div> <div suggestion-for-unlogged="" class="ng-isolate-scope"><!-- ngIf: directive.isBlockVisible --></div>   </div>         