---
id: 62229
layout: page
date: 2022-10-16
---


<!-- s-body -->
        <div class="s-body">

            <!-- use header -->
            <!-- /use header -->

            <!-- Content -->
             <article class="b-singlepost hentry h-entry js-emojis  b-singlepost-mobileadaptive  b-singlepost-withbodybanner  ng-scope" role="main" ng-app="Entry"> <div class="b-singlepost-qrcode  ng-isolate-scope" lj-qrcode="https://lacinka.livejournal.com/62229.html" lj-qrcode-width="70" lj-qrcode-height="70"> <canvas width="70" height="70"></canvas></div> <div class="b-singlepost-about"> <dl class=" b-singlepost-author author vcard p-author h-card " ng-non-bindable=""> <dt class=" b-singlepost-author-userpic photo u-photo " lj:user="nicolaev">  <img src="https://l-userpic.livejournal.com/103919952/7772678" width="82" height="100" align="absmiddle" title="Andrej Ludwik Mikałajeŭ OPs (Wojsza): Wiciaz" alt="">  </dt> <dd class="b-singlepost-author-userinfo"> <div class="b-singlepost-author-userinfo-screen"> <span class=" b-singlepost-author-user fn p-name "> <span class="b-singlepost-author-user-screen"> Andrej Ludwik Mikałajeŭ OPs (Wojsza) (<span class="ljuser  i-ljuser  i-ljuser-type-P     " data-ljuser="nicolaev" lj:user="nicolaev"><a href="https://nicolaev.livejournal.com/profile" target="_self" class="i-ljuser-profile"><img class="i-ljuser-userhead" src="https://l-stat.livejournal.net/img/userinfo_v8.svg?v=17080?v=657"></a><a href="https://nicolaev.livejournal.com/" class="i-ljuser-username" target="_self"><b>nicolaev</b></a></span>) wrote in <span class="ljuser  i-ljuser  i-ljuser-type-C     " data-ljuser="lacinka" lj:user="lacinka"><a href="https://lacinka.livejournal.com/profile" target="_self" class="i-ljuser-profile"><img class="i-ljuser-userhead" src="https://l-stat.livejournal.net/img/community.gif?v=556?v=657"></a><a href="https://lacinka.livejournal.com/" class="i-ljuser-username" target="_self"><b>lacinka</b></a></span>, </span> </span> <br> <time class=" b-singlepost-author-date published dt-published "><a href="https://lacinka.livejournal.com/2013/" target="_self">2013</a>-<a href="https://lacinka.livejournal.com/2013/02/" target="_self">02</a>-<a href="https://lacinka.livejournal.com/2013/02/22/" target="_self">22</a> 23:27:00</time>   </div> <div class="b-singlepost-author-userinfo-print"> <span class=" b-singlepost-author-user fn p-name "> Andrej Ludwik Mikałajeŭ OPs (Wojsza)<br> <span class="ljuser  i-ljuser  i-ljuser-type-P     " data-ljuser="nicolaev" lj:user="nicolaev"><a href="https://nicolaev.livejournal.com/profile" target="_self" class="i-ljuser-profile"><img class="i-ljuser-userhead" src="https://l-stat.livejournal.net/img/userinfo_v8.svg?v=17080?v=657"></a><a href="https://nicolaev.livejournal.com/" class="i-ljuser-username" target="_self"><b>nicolaev</b></a></span>  <br><span class="ljuser  i-ljuser  i-ljuser-type-C     " data-ljuser="lacinka" lj:user="lacinka"><a href="https://lacinka.livejournal.com/profile" target="_self" class="i-ljuser-profile"><img class="i-ljuser-userhead" src="https://l-stat.livejournal.net/img/community.gif?v=556?v=657"></a><a href="https://lacinka.livejournal.com/" class="i-ljuser-username" target="_self"><b>lacinka</b></a></span>  </span> <br> <time class=" b-singlepost-author-date published dt-published "><a href="https://lacinka.livejournal.com/2013/" target="_self">2013</a>-<a href="https://lacinka.livejournal.com/2013/02/" target="_self">02</a>-<a href="https://lacinka.livejournal.com/2013/02/22/" target="_self">22</a> 23:27:00</time> </div> </dd> </dl>  </div>    <div class="b-singlepost-wrapper">  <h1 class=" b-singlepost-title entry-title p-name " ng-non-bindable="">      Пеціцыя  </h1>  <div class="b-singlepost-bodywrapper">  <article class="b-singlepost-body entry-content e-content   ng-scope" lj-sale-entry="" lj-discovery-tags="" lj-embed-resizer=""> <p align="left">Я падпісаў зварот да старшыні Мінгарвыканкама: <strong><a href="http://www.change.org/petitions/%D1%81%D1%82%D0%B0%D1%80%D1%88%D1%8B%D0%BD%D1%8F-%D0%BC%D1%96%D0%BD%D0%B3%D0%B0%D1%80%D0%B2%D1%8B%D0%BA%D0%B0%D0%BD%D0%BA%D0%B0%D0%BC%D0%B0-%D0%BD%D0%B5%D0%B0%D0%B1%D1%85%D0%BE%D0%B4%D0%BD%D0%B0-%D0%B7%D0%B0%D1%85%D0%B0%D0%B2%D0%B0%D1%86%D1%8C-%D1%82%D1%80%D0%B0%D0%BD%D1%81%D0%BB%D1%96%D1%82%D0%B0%D1%80%D0%B0%D1%86%D1%8B%D1%8E-%D0%B3%D0%B5%D0%B0%D0%B3%D1%80%D0%B0%D1%84%D1%96%D1%87%D0%BD%D1%8B%D1%85-%D0%BD%D0%B0%D0%B7%D0%B2%D0%B0%D1%9E-%D0%B7-%D0%B1%D0%B5%D0%BB%D0%B0%D1%80%D1%83%D1%81%D0%BA%D0%B0%D0%B9-%D0%BC%D0%BE%D0%B2%D1%8B" rel="nofollow" target="_self"><strong>ТЫЦ</strong></a></strong>.</p>  <div class="09ihoa"></div></article> <div lj0sale0height="600" lj0sale0window0min="1200" lj0sale0window0max="9999" lj0sale0hide0cookie="s1_rightbanner_closed" class="ljsale ljsale--empty b-singlepost-bodybanner ng-isolate-scope" lj0sale0not0init="s1_right"><div class="ljsale__inner">

    <div class="allbanners ">

        <!-- ngIf: directive.customId -->
        <div id="">

          <!-- ngIf: directive.type -->
        
        </div>

        <!-- ngIf: directive.close -->

    </div>

    <!-- ngIf: directive.hideble -->

</div>
</div>  </div>    </div> <div class="b-singlepost-video-wrap"> <div data-autoplay-dockable-video-mount=""></div> </div>
<div id="comments" class="b-grove  b-grove-3comments" data-authtoken="c0:1682874000:364:86400:GTBqCUjHtw-0-:880d68ae4d0750fc3e288947f265fb4a"> <div class=" b-xylem  b-xylem-first  "> <ul class="b-xylem-cells">  <li class=" b-xylem-cell b-xylem-cell-amount ">   <span class="js-amount">  0 comments  </span>   </li>  </ul>  </div> <div class=" b-massaction-top ">  </div>    <div class=" b-tree b-tree-best ">  </div> <div class=" b-tree b-tree-promo " data-currentprice="">  </div>  <div class=" b-tree b-tree-root svgpreloader svgpreloader-pseudo svgpreloader-30 "></div>     <div prev-next-nav=""></div> <div suggestion-for-unlogged="" class="ng-isolate-scope"><!-- ngIf: directive.isBlockVisible --></div>   </div>         