---
id: 62590
layout: page
date: 2022-10-16
---


<!-- s-body -->
        <div class="s-body">

            <!-- use header -->
            <!-- /use header -->

            <!-- Content -->
             <article class="b-singlepost hentry h-entry js-emojis  b-singlepost-mobileadaptive  b-singlepost-withbodybanner  ng-scope" role="main" ng-app="Entry"> <div class="b-singlepost-qrcode  ng-isolate-scope" lj-qrcode="https://lacinka.livejournal.com/62590.html" lj-qrcode-width="70" lj-qrcode-height="70"> <canvas width="70" height="70"></canvas></div> <div class="b-singlepost-about"> <dl class=" b-singlepost-author author vcard p-author h-card " ng-non-bindable=""> <dt class=" b-singlepost-author-userpic photo u-photo " lj:user="dryhva">  <img src="https://l-userpic.livejournal.com/41300288/886024" width="96" height="100" align="absmiddle" title="dryhva: Tara" alt="">  </dt> <dd class="b-singlepost-author-userinfo"> <div class="b-singlepost-author-userinfo-screen"> <span class=" b-singlepost-author-user fn p-name "> <span class="b-singlepost-author-user-screen"> dryhva (<span class="ljuser  i-ljuser  i-ljuser-type-P     " data-ljuser="dryhva" lj:user="dryhva"><a href="https://dryhva.livejournal.com/profile" target="_self" class="i-ljuser-profile"><img class="i-ljuser-userhead" src="https://l-stat.livejournal.net/img/userinfo_v8.svg?v=17080?v=657"></a><a href="https://dryhva.livejournal.com/" class="i-ljuser-username" target="_self"><b>dryhva</b></a></span>) wrote in <span class="ljuser  i-ljuser  i-ljuser-type-C     " data-ljuser="lacinka" lj:user="lacinka"><a href="https://lacinka.livejournal.com/profile" target="_self" class="i-ljuser-profile"><img class="i-ljuser-userhead" src="https://l-stat.livejournal.net/img/community.gif?v=556?v=657"></a><a href="https://lacinka.livejournal.com/" class="i-ljuser-username" target="_self"><b>lacinka</b></a></span>, </span> </span> <br> <time class=" b-singlepost-author-date published dt-published "><a href="https://lacinka.livejournal.com/2016/" target="_self">2016</a>-<a href="https://lacinka.livejournal.com/2016/01/" target="_self">01</a>-<a href="https://lacinka.livejournal.com/2016/01/16/" target="_self">16</a> 16:11:00</time>   </div> <div class="b-singlepost-author-userinfo-print"> <span class=" b-singlepost-author-user fn p-name "> dryhva<br> <span class="ljuser  i-ljuser  i-ljuser-type-P     " data-ljuser="dryhva" lj:user="dryhva"><a href="https://dryhva.livejournal.com/profile" target="_self" class="i-ljuser-profile"><img class="i-ljuser-userhead" src="https://l-stat.livejournal.net/img/userinfo_v8.svg?v=17080?v=657"></a><a href="https://dryhva.livejournal.com/" class="i-ljuser-username" target="_self"><b>dryhva</b></a></span>  <br><span class="ljuser  i-ljuser  i-ljuser-type-C     " data-ljuser="lacinka" lj:user="lacinka"><a href="https://lacinka.livejournal.com/profile" target="_self" class="i-ljuser-profile"><img class="i-ljuser-userhead" src="https://l-stat.livejournal.net/img/community.gif?v=556?v=657"></a><a href="https://lacinka.livejournal.com/" class="i-ljuser-username" target="_self"><b>lacinka</b></a></span>  </span> <br> <time class=" b-singlepost-author-date published dt-published "><a href="https://lacinka.livejournal.com/2016/" target="_self">2016</a>-<a href="https://lacinka.livejournal.com/2016/01/" target="_self">01</a>-<a href="https://lacinka.livejournal.com/2016/01/16/" target="_self">16</a> 16:11:00</time> </div> </dd> </dl>  </div>    <div class="b-singlepost-wrapper">  <h1 class=" b-singlepost-title entry-title p-name " ng-non-bindable="">      Lacinka dla MacOS  </h1>  <div class="b-singlepost-bodywrapper">  <article class="b-singlepost-body entry-content e-content   ng-scope" lj-sale-entry="" lj-discovery-tags="" lj-embed-resizer=""> Спадарства,<br><br>Ці ёсьць у каго раскладка беларускае лацінкі для апэрацыйнай сыстэмы Макінтош?<br><br>Зараньне дзякую.  <div class="bteh"></div></article> <div lj0sale0height="600" lj0sale0window0min="1200" lj0sale0window0max="9999" lj0sale0hide0cookie="s1_rightbanner_closed" class="ljsale ljsale--empty b-singlepost-bodybanner ng-isolate-scope" lj0sale0not0init="s1_right"><div class="ljsale__inner">

    <div class="allbanners ">

        <!-- ngIf: directive.customId -->
        <div id="">

          <!-- ngIf: directive.type -->
        
        </div>

        <!-- ngIf: directive.close -->

    </div>

    <!-- ngIf: directive.hideble -->

</div>
</div>  </div>    </div> <div class="b-singlepost-video-wrap"> <div data-autoplay-dockable-video-mount=""></div> </div>
<div id="comments" class="b-grove" data-authtoken="c0:1682874000:365:86400:gHZLSQkps4-0-:44dbec4d18f4caeee9b7c1df8e59547d"> <div class=" b-xylem  b-xylem-first  "> <ul class="b-xylem-cells">  <li class=" b-xylem-cell b-xylem-cell-amount ">   <span class="js-amount">  3 comments  </span>   </li>  </ul>  </div> <div class=" b-massaction-top ">  </div>    <div class=" b-tree b-tree-best ">  </div> <div class=" b-tree b-tree-promo " data-currentprice="">  </div>  <div class=" b-tree b-tree-root svgpreloader svgpreloader-pseudo svgpreloader-30 "><div class=" b-tree-twig  b-tree-twig-1 b-tree-twig-deep-0  " style="margin-left: 0px" data-tid="t337022">    <div id="t337022" class=" b-leaf            b-leaf-full   comment p-comment " data-username="ext_4401761" data-displayname="Васілій Манкевіч" data-updated-ts="1511800443" data-full="1"> <div class=" b-leaf-inner svgpreloader svgpreloader-pseudo svgpreloader-16 "> <div class="b-leaf-header"> <div class="b-leaf-userpic"> <a href="https://ext-4401761.livejournal.com/" target="_blank" class="b-leaf-userpic-inner" lj:user="ext_4401761">   <img src="https://l-userpic.livejournal.com/128044292/84004097" alt="ext_4401761" loading="lazy" title="Васілій Манкевіч: pic#128044292">  </a> </div> <div class="b-leaf-details">   <p class="b-leaf-username"><span class="b-leaf-username-name"><span class="ljuser  i-ljuser  i-ljuser-type-I     " data-ljuser="ext_4401761" lj:user="ext_4401761"><a href="https://www.livejournal.com/profile?userid=84004097&amp;t=I" class="i-ljuser-profile" target="_self"><img class="i-ljuser-userhead" src="https://l-stat.livejournal.net/img/social-icons/colored/vkontakte.svg?v=29916?v=657"></a><a href="https://ext-4401761.livejournal.com" class="i-ljuser-username" target="_self"><b>Васілій Манкевіч</b></a></span> </span>  </p> <p class="b-leaf-meta">  <a href="https://lacinka.livejournal.com/62590.html?thread=337022#t337022" class="b-leaf-permalink" target="_self"> <span class="b-leaf-createdtime">November 27 2017, 16:34:03 UTC</span> </a>   <span class="b-leaf-shorttime">5 years ago</span>   </p>   </ul>        </div> </div>  <div class="b-leaf-article"> Таксама шукаю раскладку. Атрымалася знайсці? </div>   </div> </div>    </div><div class=" b-tree-twig  b-tree-twig-2 b-tree-twig-deep-0  " style="margin-left: 30px" data-tid="t337278">    <div id="t337278" class=" b-leaf        b-leaf-poster      b-leaf-full   comment p-comment " data-username="dryhva" data-displayname="dryhva" data-updated-ts="1511841399" data-full="1"> <div class=" b-leaf-inner svgpreloader svgpreloader-pseudo svgpreloader-16 "> <div class="b-leaf-header"> <div class="b-leaf-userpic"> <a href="https://dryhva.livejournal.com/" target="_blank" class="b-leaf-userpic-inner" lj:user="dryhva">   <img src="https://l-userpic.livejournal.com/41300288/886024" alt="dryhva" loading="lazy" title="dryhva: Tara">  </a> </div> <div class="b-leaf-details">   <p class="b-leaf-username"><span class="b-leaf-username-name"><span class="ljuser  i-ljuser  i-ljuser-type-P     " data-ljuser="dryhva" lj:user="dryhva"><a href="https://dryhva.livejournal.com/profile" class="i-ljuser-profile" target="_self"><img class="i-ljuser-userhead" src="https://l-stat.livejournal.net/img/userinfo_v8.svg?v=17080?v=657"></a><a href="https://dryhva.livejournal.com/" class="i-ljuser-username" target="_self"><b>dryhva</b></a></span> </span>  </p> <p class="b-leaf-meta">  <a href="https://lacinka.livejournal.com/62590.html?thread=337278#t337278" class="b-leaf-permalink" target="_self"> <span class="b-leaf-createdtime">November 28 2017, 03:56:39 UTC</span> </a>   <span class="b-leaf-shorttime">5 years ago</span>   </p>   </ul>        </div> </div>  <div class="b-leaf-article"> Хтосьці быў даслаў, але нажаль ні захавала. :-( Цяпер па большасьці карыстаюся <i>ABC - Extended</i> раскладкаю; там ёсьць амаль усе літары, акрамя <b>ў</b>. Хутка гэтым метадам ні па друкуеш, але ў мяне патрэбы не вялікія.  </div>   </div> </div>    </div><div class=" b-tree-twig  b-tree-twig-3 b-tree-twig-deep-0  " style="margin-left: 60px" data-tid="t337534">    <div id="t337534" class=" b-leaf            b-leaf-full   comment p-comment " data-username="ext_4401761" data-displayname="Васілій Манкевіч" data-updated-ts="1511899157" data-full="1"> <div class=" b-leaf-inner svgpreloader svgpreloader-pseudo svgpreloader-16 "> <div class="b-leaf-header"> <div class="b-leaf-userpic"> <a href="https://ext-4401761.livejournal.com/" target="_blank" class="b-leaf-userpic-inner" lj:user="ext_4401761">   <img src="https://l-userpic.livejournal.com/128044292/84004097" alt="ext_4401761" loading="lazy" title="Васілій Манкевіч: pic#128044292">  </a> </div> <div class="b-leaf-details">   <p class="b-leaf-username"><span class="b-leaf-username-name"><span class="ljuser  i-ljuser  i-ljuser-type-I     " data-ljuser="ext_4401761" lj:user="ext_4401761"><a href="https://www.livejournal.com/profile?userid=84004097&amp;t=I" class="i-ljuser-profile" target="_self"><img class="i-ljuser-userhead" src="https://l-stat.livejournal.net/img/social-icons/colored/vkontakte.svg?v=29916?v=657"></a><a href="https://ext-4401761.livejournal.com" class="i-ljuser-username" target="_self"><b>Васілій Манкевіч</b></a></span> </span>  </p> <p class="b-leaf-meta">  <a href="https://lacinka.livejournal.com/62590.html?thread=337534#t337534" class="b-leaf-permalink" target="_self"> <span class="b-leaf-createdtime">November 28 2017, 19:59:17 UTC</span> </a>   <span class="b-leaf-shorttime">5 years ago</span>   </p>   </ul>        </div> </div>  <div class="b-leaf-article"> Дзякуй за адказ </div>   </div> </div>    </div></div>     <div prev-next-nav=""></div> <div suggestion-for-unlogged="" class="ng-isolate-scope"><!-- ngIf: directive.isBlockVisible --></div>   </div>         