---
id: 62940
layout: page
date: 2022-10-16
---


<!-- s-body -->
        <div class="s-body">

            <!-- use header -->
            <!-- /use header -->

            <!-- Content -->
             <article class="b-singlepost hentry h-entry js-emojis  b-singlepost-mobileadaptive  b-singlepost-withbodybanner  ng-scope" role="main" ng-app="Entry"> <div class="b-singlepost-qrcode  ng-isolate-scope" lj-qrcode="https://lacinka.livejournal.com/62940.html" lj-qrcode-width="70" lj-qrcode-height="70"> <canvas width="70" height="70"></canvas></div> <div class="b-singlepost-about"> <dl class=" b-singlepost-author author vcard p-author h-card " ng-non-bindable=""> <dt class=" b-singlepost-author-userpic photo u-photo " lj:user="mincxenko">  <img src="https://l-stat.livejournal.net/img/userpics/userpic-user.png?v=15821" alt="">  </dt> <dd class="b-singlepost-author-userinfo"> <div class="b-singlepost-author-userinfo-screen"> <span class=" b-singlepost-author-user fn p-name "> <span class="b-singlepost-author-user-screen"> mincxenko (<span class="ljuser  i-ljuser  i-ljuser-type-P     " data-ljuser="mincxenko" lj:user="mincxenko"><a href="https://mincxenko.livejournal.com/profile" target="_self" class="i-ljuser-profile"><img class="i-ljuser-userhead" src="https://l-stat.livejournal.net/img/userinfo_v8.svg?v=17080?v=657"></a><a href="https://mincxenko.livejournal.com/" class="i-ljuser-username" target="_self"><b>mincxenko</b></a></span>) wrote in <span class="ljuser  i-ljuser  i-ljuser-type-C     " data-ljuser="lacinka" lj:user="lacinka"><a href="https://lacinka.livejournal.com/profile" target="_self" class="i-ljuser-profile"><img class="i-ljuser-userhead" src="https://l-stat.livejournal.net/img/community.gif?v=556?v=657"></a><a href="https://lacinka.livejournal.com/" class="i-ljuser-username" target="_self"><b>lacinka</b></a></span>, </span> </span> <br> <time class=" b-singlepost-author-date published dt-published "><a href="https://lacinka.livejournal.com/2016/" target="_self">2016</a>-<a href="https://lacinka.livejournal.com/2016/01/" target="_self">01</a>-<a href="https://lacinka.livejournal.com/2016/01/25/" target="_self">25</a> 00:04:00</time>   </div> <div class="b-singlepost-author-userinfo-print"> <span class=" b-singlepost-author-user fn p-name "> mincxenko<br> <span class="ljuser  i-ljuser  i-ljuser-type-P     " data-ljuser="mincxenko" lj:user="mincxenko"><a href="https://mincxenko.livejournal.com/profile" target="_self" class="i-ljuser-profile"><img class="i-ljuser-userhead" src="https://l-stat.livejournal.net/img/userinfo_v8.svg?v=17080?v=657"></a><a href="https://mincxenko.livejournal.com/" class="i-ljuser-username" target="_self"><b>mincxenko</b></a></span>  <br><span class="ljuser  i-ljuser  i-ljuser-type-C     " data-ljuser="lacinka" lj:user="lacinka"><a href="https://lacinka.livejournal.com/profile" target="_self" class="i-ljuser-profile"><img class="i-ljuser-userhead" src="https://l-stat.livejournal.net/img/community.gif?v=556?v=657"></a><a href="https://lacinka.livejournal.com/" class="i-ljuser-username" target="_self"><b>lacinka</b></a></span>  </span> <br> <time class=" b-singlepost-author-date published dt-published "><a href="https://lacinka.livejournal.com/2016/" target="_self">2016</a>-<a href="https://lacinka.livejournal.com/2016/01/" target="_self">01</a>-<a href="https://lacinka.livejournal.com/2016/01/25/" target="_self">25</a> 00:04:00</time> </div> </dd> </dl>  </div>    <div class="b-singlepost-wrapper">  <h1 class=" b-singlepost-title entry-title p-name " ng-non-bindable="">      Biezdyjakrytyčnaja biełaruskaja łacinka  </h1>  <div class="b-singlepost-bodywrapper">  <article class="b-singlepost-body entry-content e-content   ng-scope" lj-sale-entry="" lj-discovery-tags="" lj-embed-resizer=""> <table><tbody><tr><td>
<p>&nbsp;&nbsp;&nbsp;&nbsp; Dobraha <abbr title="21-27 studzienia tydzień łacinki">tydnia</abbr>, šanoŭnyja amatary łacinki!</p>
<p>&nbsp;&nbsp;&nbsp;&nbsp; Biełarusam (u adroźnieńnie ad ukrajincaŭ) pašancawala mieć swaju nacyjanaĺnuju łacinku, jakaja dakładna pieradaje asabliwaści wymaŭlieńnia.&nbsp;
Adnak časami bywajuć niedastupnymi tyja 9 litaraŭ (<b>Č,Š,Ž,Ć,Ś,Ź,Ń,Ĺ,Ŭ</b>), jakija zabiaźpiečwajuć nam hetuju dakładnaść<nobr> :-(</nobr></p>
<p>&nbsp;&nbsp;&nbsp;&nbsp; Kali na kamputary nie ŭstaliawany słušny klawijaturny ŭkład ci ŭ šryfcie brakuje znakaŭ, to heta šče paprawima.&nbsp;
A woś kali patrebna stwaryci imia fajła, damiennaje jmia sajta, tańniejšaje pawiedamlieńnie SMS, adras eliaktronnaje pošty, mianušku ŭ kamputarnych huĺniach, łagin u šmatlikich pragramach, identyfikatary źmiennych i padpragramaŭ boĺšaściu moŭ pragramawańnia, to narmaĺnaju łacinkaju my nijak nie napišam<nobr> :-(</nobr></p>
<p>&nbsp;&nbsp;&nbsp;&nbsp; Chtości zhadaŭšyś ab archajičnaj łacincy (ŭžywanaj da 1906 r.) zamiest <b>ŠČ</b> napisza <b>SZCZ</b> i šmat kali hetaha dastakowa, kab abyjści techničnyja abmiežawańni nie parušajučy prawiłaŭ mowy.&nbsp;
A čym iĺha zamianić jinšyja litary?&nbsp;
Prosta prybirać nadradkowyja znački nieĺha, bo tady źmienicca wymowa slowa, zbłytajucca značeńni roznych słowaŭ, naprykład, «žalić» i «zalić».&nbsp;
Otža, nowaja tranślitaracyja z łacinki na łacinku musić:</p><ul>
  <li>pieradawać wymowu jaknajdakładniej,</li>
  <li>zadziejničać toĺki angjeĺski aĺfabet,</li>
  <li>zachoŭwać tradycyjnaść piśma našaha narodu ci chacia‐b susiednich,</li>
  <li>być intuityŭna zrazumiełaju biez nawučeńnia (praz swaju tradycynaść),</li>
  <li>umahčymliwać prosty aĺharytm adnaznačnaha pierakładańnia tudy‐j‐nazad.</li>
 </ul>
<p></p>
<p>&nbsp;&nbsp;&nbsp;&nbsp; <b>Ž</b> možna paznačyć <b>ZS</b>, jak ŭ uhorskaje mowie. Choć jano nie pa‐sławiansku, dyk usio roŭna liepiej, niž pa‐angieĺsku. Dyj u roznych lingwaprajektach, naprykład u Juryja Kryžanyča, hety dyhraf wykarystoŭwajecca.</p>
<p>&nbsp;&nbsp;&nbsp;&nbsp; Adnu faniemu <b>В</b><img draggable="false" class="emoji" alt="↔" src="https://twemoji.maxcdn.com/2/svg/2194.svg"><b>Ў</b><img draggable="false" class="emoji" alt="↔" src="https://twemoji.maxcdn.com/2/svg/2194.svg"><b>У</b> (<b>V</b><img draggable="false" class="emoji" alt="↔" src="https://twemoji.maxcdn.com/2/svg/2194.svg"><b>Ŭ</b><img draggable="false" class="emoji" alt="↔" src="https://twemoji.maxcdn.com/2/svg/2194.svg"><b>U</b>) najliepiej zapiswać jak <b>W</b><img draggable="false" class="emoji" alt="↔" src="https://twemoji.maxcdn.com/2/svg/2194.svg"><b>V</b><img draggable="false" class="emoji" alt="↔" src="https://twemoji.maxcdn.com/2/svg/2194.svg"><b>U</b>.&nbsp;
Mienawita henak, a nie naadwarot, bo litary <b>V</b> dy <b>U</b> rodnasnyja, a huk <b>[ў]</b> blizki da hałosnaha. Padwajeńnie znaka <b>VV</b> uzmacniaje jahonuju wyraznaść. <b>[в]</b> realizujecca ŭ siĺnaj pazycyi, a <b>[ў]</b> — u słabkoj.&nbsp;
Akramia taho, ŭ poĺskaj i niamieckaj mowach <b>W</b> paznačaje <b>[в]</b>.</p>
<p>&nbsp;&nbsp;&nbsp;&nbsp; Miakkaść prad hałosnymi litaraj <b>I</b> paznačaci mahčyma dziakujučy toĺki tamu, što ŭ pazycyji prad hałosnymi huk <b>[i]</b> nie trapliajecca amaĺ nikoli (wyniatak «poli‐etylien»).&nbsp;
Bukwa <b>J</b> rodnasnaja ź <b>I</b>, a huk <b>[j]</b> nikoli nie trapliajecca ni ŭ pazicyji miž zyčnymi, ni ŭ kancy słowa paślia hałosnaj — adtak možam śmieła paznačać jotam miakkaść u henych pazicyjach.&nbsp;
Dyj u <abbr title="charwackaja, serbskaja, čarnahorskaja, baśnijskaja">paŭdniowasławianskich</abbr> łacinkach i <abbr title="Mižnarodny fanietyčny aĺfabet">MFA</abbr> jot tak i ŭžywajecca.&nbsp;
Naprykład, «konj», «sjwinjnia» pračytać niaprawiĺna niemahčyma<nobr> :-)</nobr></p>
<p>&nbsp;&nbsp;&nbsp;&nbsp; Ciapier wy wiedajecie systemu, ŭ jakoj ja pišu SMSy ŭžo try hady, i zawioŭ sabie myła <a href="mailto:Minczenka+Lacinka@Tut.by?subject=Biezdyjakrytyčnaja%20łacinka" rel="nofollow" target="_self">Minczenka+lacinka@tut.by</a>.&nbsp;
Karystajciesia na zdaroŭje, kali laska, i nawučajcie znajomych.</p>
<p>&nbsp;&nbsp;&nbsp;&nbsp; Być moža, znajecie liepšaje rašeńnie prabliemy?&nbsp;
Tady padzialiciesia ŭ kamientaroch.</p>
<p>&nbsp;&nbsp;&nbsp;&nbsp; <small><u><i>Zaŭwahi</i></u>.  Mahčyma, pryhažej było-by pazniačać miakkaść apostrafam, jak časta robiać, alie hety znak zabaronieny ŭ damiennych imionach i šče dzieści.&lt;/br&gt;
Wieĺmi redka zdarajucca takija słowy, jak «francu<u>zs</u>ki», dzie bukwazłučeńnie supadaje z dyhrafam.&nbsp;
Tady možna aĺbo pisać, jak čujecca «francusski», aĺbo raździalici čym-koĺwiek «francuz'ski».</small></p>
<p align="Center">Ni ŭ jakim razie nie zaklikaju pisać biez dyjakrytyki zaŭsiody j paŭsiuĺ, taksama nie prapanuju admowicca ad kirylicy.&nbsp; Hety ŭspamahaĺny prajekt toĺki dlia tych wypadkaŭ, kali jnačaj niemahčyma.</p>
</td><td>
<p>&nbsp;&nbsp;&nbsp;&nbsp; Добрага <abbr title="21-27 студзеня тыдзень лацінкі">тыдня</abbr>, шаноўныя аматары лацінкі!</p>
<p>&nbsp;&nbsp;&nbsp;&nbsp; Беларусам (у адрозьненьне ад українцаў) пашанцавала мець сваю нацыянальную лацінку, якая дакладна перадае асаблівасьці вымаўленьня.&nbsp;
Аднак часамі бываюць недаступнымі тыя 9 літараў (<b>Č,Š,Ž,Ć,Ś,Ź,Ń,Ĺ,Ŭ</b>), якія забязьпечваюць нам гэтую дакладнасьць<nobr> :-(</nobr></p>
<p>&nbsp;&nbsp;&nbsp;&nbsp; Калі на кампутары не ўсталяваны слушны клявіятурны ўклад ці ў шрыфце бракуе знакаў, то гэта шчэ паправіма.&nbsp;
А вось калі патрэбна стварыці імя файла, даменнае ймя сайта, таньнейшае паведамленьне СМС, адрас эляктроннае пошты, мянушку ў кампутарных гульнях, лаґін у шматлікіх праґрамах, ідэнтыфікатары зьменных і падпраґрамаў большасьцю моў праґрамаваньня, то нармальнаю лацінкаю мы ніяк не напішам<nobr> :-(</nobr></p>
<p>&nbsp;&nbsp;&nbsp;&nbsp; Хтосьці згадаўшысь аб архаічнай лацінцы (ўжыванай да 1906 r.) замест <b>ŠČ</b> napisza <b>SZCZ</b> і шмат калі гэтага дастакова, каб абыйсьці тэхнічныя абмежаваньні не парушаючы правілаў мовы.&nbsp;
А чым ільга замяніць іншыя літары?&nbsp;
Проста прыбіраць надрадковыя значкі нельга, бо тады зьменіцца вымова слова, зблытаюцца значэньні розных словаў, напрыклад, «žalić» i «zalić».&nbsp;
Отжа, новая трансьлітарацыя з лацінкі на лацінку мусіць:</p><ul>
  <li>перадаваць вымову якнайдакладней,</li>
  <li>задзейнічаць толькі анґельскі альфабэт,</li>
  <li>захоўваць традыцыйнасьць пісьма нашага народу ці хаця‐б суседніх,</li>
  <li>быць інтуітыўна зразумелаю без навучэньня (праз сваю традыцынасьць),</li>
  <li>умагчымліваць просты альгарытм адназначнага перакладаньня туды‐й‐назад.</li>
 </ul>
<p></p>
<p>&nbsp;&nbsp;&nbsp;&nbsp; <b>Ž</b> можна пазначыць <b>ZS</b>, як ў угорскае мове. Хоць яно не па‐славянску, дык усё роўна лепей, ніж па‐анґельску. Дый у розных лінґвапраектах, напрыклад у Юрыя Крыжаныча, гэты дыграф выкарыстоўваецца.</p>
<p>&nbsp;&nbsp;&nbsp;&nbsp; Адну фанему <b>В</b><img draggable="false" class="emoji" alt="↔" src="https://twemoji.maxcdn.com/2/svg/2194.svg"><b>Ў</b><img draggable="false" class="emoji" alt="↔" src="https://twemoji.maxcdn.com/2/svg/2194.svg"><b>У</b> (<b>V</b><img draggable="false" class="emoji" alt="↔" src="https://twemoji.maxcdn.com/2/svg/2194.svg"><b>Ŭ</b><img draggable="false" class="emoji" alt="↔" src="https://twemoji.maxcdn.com/2/svg/2194.svg"><b>U</b>) найлепей запісваць як <b>W</b><img draggable="false" class="emoji" alt="↔" src="https://twemoji.maxcdn.com/2/svg/2194.svg"><b>V</b><img draggable="false" class="emoji" alt="↔" src="https://twemoji.maxcdn.com/2/svg/2194.svg"><b>U</b>.&nbsp;
Менавіта гэнак, а не наадварот, бо літары <b>V</b> ды <b>U</b> роднасныя, а гук <b>[ў]</b> блізкі да галоснага. Падваеньне знака <b>VV</b> узмацняе ягоную выразнасьць. <b>[в]</b> рэалізуецца ў сільнай пазыцыі, а <b>[ў]</b> — у слабкой.&nbsp;
Акрамя таго, ў польскай і нямецкай мовах <b>W</b> пазначае <b>[в]</b>.</p>
<p>&nbsp;&nbsp;&nbsp;&nbsp; Мяккасьць прад галоснымі літарай <b>I</b> пазначаці магчыма дзякуючы толькі таму, што ў пазыцыі прад галоснымі гук <b>[i]</b> не трапляецца амаль ніколі (вынятак «пол<b><i>і</i></b>этылен»).&nbsp;
Буква <b>J</b> роднасная зь <b>I</b>, а гук <b>[j]</b> ніколі не трапляецца ні ў пазіцыі між зычнымі, ні ў канцы слова пасьля галоснай&nbsp;— адтак можам сьмела пазначаць ётам мяккасьць у гэных пазіцыях.&nbsp;
Дый у <abbr title="харвацкая, сэрбская, чарнагорская, басьнійская">паўднёваславянскіх</abbr> лацінках і <abbr title="Міжнародны фанетычны альфабэт">МФА</abbr> ёт так і ўжываецца.&nbsp;
Напрыклад, «konj», «sjwinjnia» прачытаць няправільна немагчыма<nobr> :-)</nobr></p>
<p>&nbsp;&nbsp;&nbsp;&nbsp; Цяпер вы ведаеце сыстэму, ў якой я пішу СМСы ўжо тры гады, і завёў сабе мыла <a href="mailto:Minczenka+Lacinka@Tut.by?subject=Biezdyjakrytyčnaja%20łacinka" rel="nofollow" target="_self">Minczenka+lacinka@tut.by</a>.&nbsp;
Карыстайцеся на здароўе, калі ласка, і навучайце знаёмых.</p>
<p>&nbsp;&nbsp;&nbsp;&nbsp; Быць можа, знаеце лепшае рашэньне праблемы?&nbsp;
Тады падзяліцеся ў каментарох.</p>
<p>&nbsp;&nbsp;&nbsp;&nbsp; <small><u><i>Заўвагі</i></u>.  Магчыма, прыгажэй было-бы пазнячаць мяккасьць апострафам, як часта робяць, але гэты знак забаронены ў даменных імёнах і шчэ дзесьці.&lt;/br&gt;
Вельмі рэдка здараюцца такія словы, як «францу<u>зс</u>кі», дзе буквазлучэньне супадае з дыграфам.&nbsp;
Тады можна або пісаць, як чуецца «francusski», або разьдзяліці чым-кольвечы «francuz'ski».</small></p>
<p align="Center">Ні ў якім разе не заклікаю пісаць без дыякрытыкі заўсёды й паўсюль, таксама не прапаную адмовіцца ад кірыліцы!&nbsp; Гэты ўспамагальны праект толькі для тых выпадкаў, калі йначай немагчыма.</p>
</td></tr></tbody></table>  <div class="srqja"></div></article> <div lj0sale0height="600" lj0sale0window0min="1200" lj0sale0window0max="9999" lj0sale0hide0cookie="s1_rightbanner_closed" class="ljsale ljsale--empty b-singlepost-bodybanner ng-isolate-scope" lj0sale0not0init="s1_right"><div class="ljsale__inner">

    <div class="allbanners ">

        <!-- ngIf: directive.customId -->
        <div id="">

          <!-- ngIf: directive.type -->
        
        </div>

        <!-- ngIf: directive.close -->

    </div>

    <!-- ngIf: directive.hideble -->

</div>
</div>  </div>    </div> <div class="b-singlepost-video-wrap"> <div data-autoplay-dockable-video-mount=""></div> </div>
<div id="comments" class="b-grove  b-grove-3comments" data-authtoken="c0:1682874000:366:86400:JXVzR9SAc8-0-:7d9378079cc26a1556e6fe9cf8fcc462"> <div class=" b-xylem  b-xylem-first  "> <ul class="b-xylem-cells">  <li class=" b-xylem-cell b-xylem-cell-amount ">   <span class="js-amount">  1 comment  </span>   </li>  </ul>  </div> <div class=" b-massaction-top ">  </div>    <div class=" b-tree b-tree-best ">  </div> <div class=" b-tree b-tree-promo " data-currentprice="">  </div>  <div class=" b-tree b-tree-root svgpreloader svgpreloader-pseudo svgpreloader-30 "><div class=" b-tree-twig  b-tree-twig-1 b-tree-twig-deep-0  " style="margin-left: 0px" data-tid="t336860">    <div id="t336860" class=" b-leaf        b-leaf-poster   b-leaf-withsubject     b-leaf-full   comment p-comment " data-username="mincxenko" data-displayname="mincxenko" data-updated-ts="1453719228" data-full="1" data-subject="Tranślitaratar"> <div class=" b-leaf-inner svgpreloader svgpreloader-pseudo svgpreloader-16 "> <div class="b-leaf-header"> <div class="b-leaf-userpic"> <a href="https://mincxenko.livejournal.com/" target="_blank" class="b-leaf-userpic-inner" lj:user="mincxenko">   <img src="https://l-stat.livejournal.net/img/userpics/userpic-user.png?v=15821" alt="mincxenko" loading="lazy">  </a> </div> <div class="b-leaf-details">   <h4 class="b-leaf-subject"><a href="https://lacinka.livejournal.com/62940.html?thread=336860#t336860" class="b-leaf-subject-link" target="_self">Tranślitaratar</a></h4>  <p class="b-leaf-username"><span class="b-leaf-username-name"><span class="ljuser  i-ljuser  i-ljuser-type-P     " data-ljuser="mincxenko" lj:user="mincxenko"><a href="https://mincxenko.livejournal.com/profile" class="i-ljuser-profile" target="_self"><img class="i-ljuser-userhead" src="https://l-stat.livejournal.net/img/userinfo_v8.svg?v=17080?v=657"></a><a href="https://mincxenko.livejournal.com/" class="i-ljuser-username" target="_self"><b>mincxenko</b></a></span> </span>  </p> <p class="b-leaf-meta">  <a href="https://lacinka.livejournal.com/62940.html?thread=336860#t336860" class="b-leaf-permalink" target="_self"> <span class="b-leaf-createdtime">January 25 2016, 10:53:48 UTC</span> </a>   <span class="b-leaf-shorttime">7 years ago</span>   </p>   </ul>        </div> </div>  <div class="b-leaf-article"> Ja zrabiv pragramu dlia translitaracyji, kab wy mahli pierawierycj, jak pracyje.<br><a href="http://lacinka.96.lt/?cyr=%D0%9F%D1%80%D1%8B%D0%B2%D1%96%D1%82%D0%B0%D0%BD%D1%8C%D0%BD%D0%B5!&amp;lat=Usie%20liudzi%20naradzsajucca%20swabodnymi%20i%20rovnymi%20v%20swajoj%20hodnasjci%20i%20prawach.%20%20Jany%20nadzielieny%20rozumam%20i%20sumlienjniem%20i%20pawinny%20stawicca%20adzin%20da%20adnaho%20v%20duchu%20bractwa." target="Lacinka96lt" rel="nofollow">http://www.lacinka.96.lt/</a><br>Jana mozsa pieratwaryci jak kirylicu, hetak i lacinku v biezdyjakrytycznuju formu, a taksama kanwiartuje v kirylicu. </div>   </div> </div>    </div></div>     <div prev-next-nav=""></div> <div suggestion-for-unlogged="" class="ng-isolate-scope"><!-- ngIf: directive.isBlockVisible --></div>   </div>         