---
id: 63136
layout: page
date: 2022-10-16
---


<!-- s-body -->
        <div class="s-body">

            <!-- use header -->
            <!-- /use header -->

            <!-- Content -->
             <article class="b-singlepost hentry h-entry js-emojis  b-singlepost-mobileadaptive  b-singlepost-withbodybanner  ng-scope" role="main" ng-app="Entry"> <div class="b-singlepost-qrcode  ng-isolate-scope" lj-qrcode="https://lacinka.livejournal.com/63136.html" lj-qrcode-width="70" lj-qrcode-height="70"> <canvas width="70" height="70"></canvas></div> <div class="b-singlepost-about"> <dl class=" b-singlepost-author author vcard p-author h-card " ng-non-bindable=""> <dt class=" b-singlepost-author-userpic photo u-photo " lj:user="mincxenko">  <img src="https://l-stat.livejournal.net/img/userpics/userpic-user.png?v=15821" alt="">  </dt> <dd class="b-singlepost-author-userinfo"> <div class="b-singlepost-author-userinfo-screen"> <span class=" b-singlepost-author-user fn p-name "> <span class="b-singlepost-author-user-screen"> mincxenko (<span class="ljuser  i-ljuser  i-ljuser-type-P     " data-ljuser="mincxenko" lj:user="mincxenko"><a href="https://mincxenko.livejournal.com/profile" target="_self" class="i-ljuser-profile"><img class="i-ljuser-userhead" src="https://l-stat.livejournal.net/img/userinfo_v8.svg?v=17080?v=657"></a><a href="https://mincxenko.livejournal.com/" class="i-ljuser-username" target="_self"><b>mincxenko</b></a></span>) wrote in <span class="ljuser  i-ljuser  i-ljuser-type-C     " data-ljuser="lacinka" lj:user="lacinka"><a href="https://lacinka.livejournal.com/profile" target="_self" class="i-ljuser-profile"><img class="i-ljuser-userhead" src="https://l-stat.livejournal.net/img/community.gif?v=556?v=657"></a><a href="https://lacinka.livejournal.com/" class="i-ljuser-username" target="_self"><b>lacinka</b></a></span>, </span> </span> <br> <time class=" b-singlepost-author-date published dt-published "><a href="https://lacinka.livejournal.com/2017/" target="_self">2017</a>-<a href="https://lacinka.livejournal.com/2017/01/" target="_self">01</a>-<a href="https://lacinka.livejournal.com/2017/01/14/" target="_self">14</a> 23:38:00</time>   </div> <div class="b-singlepost-author-userinfo-print"> <span class=" b-singlepost-author-user fn p-name "> mincxenko<br> <span class="ljuser  i-ljuser  i-ljuser-type-P     " data-ljuser="mincxenko" lj:user="mincxenko"><a href="https://mincxenko.livejournal.com/profile" target="_self" class="i-ljuser-profile"><img class="i-ljuser-userhead" src="https://l-stat.livejournal.net/img/userinfo_v8.svg?v=17080?v=657"></a><a href="https://mincxenko.livejournal.com/" class="i-ljuser-username" target="_self"><b>mincxenko</b></a></span>  <br><span class="ljuser  i-ljuser  i-ljuser-type-C     " data-ljuser="lacinka" lj:user="lacinka"><a href="https://lacinka.livejournal.com/profile" target="_self" class="i-ljuser-profile"><img class="i-ljuser-userhead" src="https://l-stat.livejournal.net/img/community.gif?v=556?v=657"></a><a href="https://lacinka.livejournal.com/" class="i-ljuser-username" target="_self"><b>lacinka</b></a></span>  </span> <br> <time class=" b-singlepost-author-date published dt-published "><a href="https://lacinka.livejournal.com/2017/" target="_self">2017</a>-<a href="https://lacinka.livejournal.com/2017/01/" target="_self">01</a>-<a href="https://lacinka.livejournal.com/2017/01/14/" target="_self">14</a> 23:38:00</time> </div> </dd> </dl>  </div>    <div class="b-singlepost-wrapper">  <h1 class=" b-singlepost-title entry-title p-name " ng-non-bindable="">       Тыдзень лацінкі 21-27 студзеня  </h1>  <div class="b-singlepost-bodywrapper">  <article class="b-singlepost-body entry-content e-content   ng-scope" lj-sale-entry="" lj-discovery-tags="" lj-embed-resizer=""> <b>Будзем сьвяткаваць сёлета, ці не?</b>  <div class="a4cvlq"></div></article> <div lj0sale0height="600" lj0sale0window0min="1200" lj0sale0window0max="9999" lj0sale0hide0cookie="s1_rightbanner_closed" class="ljsale ljsale--empty b-singlepost-bodybanner ng-isolate-scope" lj0sale0not0init="s1_right"><div class="ljsale__inner">

    <div class="allbanners ">

        <!-- ngIf: directive.customId -->
        <div id="">

          <!-- ngIf: directive.type -->
        
        </div>

        <!-- ngIf: directive.close -->

    </div>

    <!-- ngIf: directive.hideble -->

</div>
</div>  </div>    </div> <div class="b-singlepost-video-wrap"> <div data-autoplay-dockable-video-mount=""></div> </div>
<div id="comments" class="b-grove  b-grove-3comments" data-authtoken="c0:1682874000:367:86400:sx272uNWtO-0-:8fc52d08e4fb82c887392b500a8801e9"> <div class=" b-xylem  b-xylem-first  "> <ul class="b-xylem-cells">  <li class=" b-xylem-cell b-xylem-cell-amount ">   <span class="js-amount">  1 comment  </span>   </li>  </ul>  </div> <div class=" b-massaction-top ">  </div>    <div class=" b-tree b-tree-best ">  </div> <div class=" b-tree b-tree-promo " data-currentprice="">  </div>  <div class=" b-tree b-tree-root svgpreloader svgpreloader-pseudo svgpreloader-30 "><div class=" b-tree-twig  b-tree-twig-1 b-tree-twig-deep-0  " style="margin-left: 0px" data-tid="t338080">    <div id="t338080" class=" b-leaf            b-leaf-full   comment p-comment " data-username="ext_5084992" data-displayname="Александр Атаман" data-updated-ts="1555863393" data-full="1"> <div class=" b-leaf-inner svgpreloader svgpreloader-pseudo svgpreloader-16 "> <div class="b-leaf-header"> <div class="b-leaf-userpic"> <a href="https://ext-5084992.livejournal.com/" target="_blank" class="b-leaf-userpic-inner" lj:user="ext_5084992">   <img src="https://l-userpic.livejournal.com/128941252/85613506" alt="ext_5084992" loading="lazy" title="Александр Атаман: pic#128941252">  </a> </div> <div class="b-leaf-details">   <p class="b-leaf-username"><span class="b-leaf-username-name"><span class="ljuser  i-ljuser  i-ljuser-type-I     " data-ljuser="ext_5084992" lj:user="ext_5084992"><a href="https://www.livejournal.com/profile?userid=85613506&amp;t=I" class="i-ljuser-profile" target="_self"><img class="i-ljuser-userhead" src="https://l-stat.livejournal.net/img/social-icons/colored/vkontakte.svg?v=29916?v=657"></a><a href="https://ext-5084992.livejournal.com" class="i-ljuser-username" target="_self"><b>Александр Атаман</b></a></span> </span>  </p> <p class="b-leaf-meta">  <a href="https://lacinka.livejournal.com/63136.html?thread=338080#t338080" class="b-leaf-permalink" target="_self"> <span class="b-leaf-createdtime">April 21 2019, 16:16:33 UTC</span> </a>   <span class="b-leaf-shorttime">4 years ago</span>   </p>   </ul>        </div> </div>  <div class="b-leaf-article"> Moža kamu cikava - moj fota-błoh na łacinkie:<br>instagram com/a_ta_man/ </div>   </div> </div>    </div></div>     <div prev-next-nav=""></div> <div suggestion-for-unlogged="" class="ng-isolate-scope"><!-- ngIf: directive.isBlockVisible --></div>   </div>         