---
id: 6889
layout: page
date: 2022-10-16
---


<!-- s-body -->
        <div class="s-body">

            <!-- use header -->
            <!-- /use header -->

            <!-- Content -->
             <article class="b-singlepost hentry h-entry js-emojis  b-singlepost-mobileadaptive  b-singlepost-withbodybanner  ng-scope" role="main" ng-app="Entry"> <div class="b-singlepost-qrcode  ng-isolate-scope" lj-qrcode="https://lacinka.livejournal.com/6889.html" lj-qrcode-width="70" lj-qrcode-height="70"> <canvas width="70" height="70"></canvas></div> <div class="b-singlepost-about"> <dl class=" b-singlepost-author author vcard p-author h-card " ng-non-bindable=""> <dt class=" b-singlepost-author-userpic photo u-photo " lj:user="ausvald">  <img src="https://l-userpic.livejournal.com/24027510/1048492" width="98" height="98" align="absmiddle" title="Аўсвальд: kalihon" alt="">  </dt> <dd class="b-singlepost-author-userinfo"> <div class="b-singlepost-author-userinfo-screen"> <span class=" b-singlepost-author-user fn p-name "> <span class="b-singlepost-author-user-screen"> Аўсвальд (<span class="ljuser  i-ljuser  i-ljuser-type-P     " data-ljuser="ausvald" lj:user="ausvald"><a href="https://ausvald.livejournal.com/profile" target="_self" class="i-ljuser-profile"><img class="i-ljuser-userhead" src="https://l-stat.livejournal.net/img/userinfo_v8.svg?v=17080?v=657"></a><a href="https://ausvald.livejournal.com/" class="i-ljuser-username" target="_self"><b>ausvald</b></a></span>) wrote in <span class="ljuser  i-ljuser  i-ljuser-type-C     " data-ljuser="lacinka" lj:user="lacinka"><a href="https://lacinka.livejournal.com/profile" target="_self" class="i-ljuser-profile"><img class="i-ljuser-userhead" src="https://l-stat.livejournal.net/img/community.gif?v=556?v=657"></a><a href="https://lacinka.livejournal.com/" class="i-ljuser-username" target="_self"><b>lacinka</b></a></span>, </span> </span> <br> <time class=" b-singlepost-author-date published dt-published "><a href="https://lacinka.livejournal.com/2004/" target="_self">2004</a>-<a href="https://lacinka.livejournal.com/2004/12/" target="_self">12</a>-<a href="https://lacinka.livejournal.com/2004/12/27/" target="_self">27</a> 19:40:00</time>   </div> <div class="b-singlepost-author-userinfo-print"> <span class=" b-singlepost-author-user fn p-name "> Аўсвальд<br> <span class="ljuser  i-ljuser  i-ljuser-type-P     " data-ljuser="ausvald" lj:user="ausvald"><a href="https://ausvald.livejournal.com/profile" target="_self" class="i-ljuser-profile"><img class="i-ljuser-userhead" src="https://l-stat.livejournal.net/img/userinfo_v8.svg?v=17080?v=657"></a><a href="https://ausvald.livejournal.com/" class="i-ljuser-username" target="_self"><b>ausvald</b></a></span>  <br><span class="ljuser  i-ljuser  i-ljuser-type-C     " data-ljuser="lacinka" lj:user="lacinka"><a href="https://lacinka.livejournal.com/profile" target="_self" class="i-ljuser-profile"><img class="i-ljuser-userhead" src="https://l-stat.livejournal.net/img/community.gif?v=556?v=657"></a><a href="https://lacinka.livejournal.com/" class="i-ljuser-username" target="_self"><b>lacinka</b></a></span>  </span> <br> <time class=" b-singlepost-author-date published dt-published "><a href="https://lacinka.livejournal.com/2004/" target="_self">2004</a>-<a href="https://lacinka.livejournal.com/2004/12/" target="_self">12</a>-<a href="https://lacinka.livejournal.com/2004/12/27/" target="_self">27</a> 19:40:00</time> </div> </dd> </dl>  </div>    <div class="b-singlepost-wrapper">  <h1 class=" b-singlepost-title entry-title p-name " ng-non-bindable="">      Nazvy Litarau 2  </h1>  <div class="b-singlepost-bodywrapper">  <article class="b-singlepost-body entry-content e-content   ng-scope" lj-sale-entry="" lj-discovery-tags="" lj-embed-resizer=""> Zhodna z <a href="http://www.livejournal.com/community/lacinka/5264.html?thread=67472#t67472" rel="nofollow" target="_self">hetym</a> dy <a href="http://www.livejournal.com/community/lacinka/5264.html?thread=67984#t67984" rel="nofollow" target="_self">hetym</a><br><br>+ vos szto:<br><br>Kali nazyvac Z "Zed" (jak u niekatorych movach), pry pieraliku atrymlivajem taksama adsutnyja huki dź dy dž:<br><br>Zed Zied Žed -&gt; [zedziedže(t)]<br><br>Prapanuju takuju vos raskladku:<br><br><b>A Be Ce Cie Če De E eF Ge He I Jo Ka eL eŁ eM eN eŃ O Pe eR eS eŚ eŠ Te U aŬ Ve <u>i</u>hrYk Zed Zied Žed</b><br><br><div class="
        ljpoll
        ljpoll-viewanswers
        
        ">

    <div class="ljpoll-meta">

    <div class="ljpoll-meta-poll">
        <a href="https://www.livejournal.com/poll/?id=409138" class="ljpoll-meta-pollid" target="_self"><!--
            --><b>Poll #409138</b><!--
        --></a>

        
            <i class="ljpoll-meta-pollname">Nazvy Lacinskich Litarau</i>
        

        <br>
    <div class="g1054"></div></div>

    

    
        <div class="ljpoll-meta-data"><!--
            --><span class="ljpoll-meta-data-who"><!--
                -->Open to: <b>All</b>, detailed results viewable to: <b>All</b>. <!--
            --></span><!--
            --><span class="ljpoll-meta-data-participants"><!--
                --><!--
                    -->Participants: 10<!--
                --><!--
            --></span>
            <br>
        <div class="g1054"></div></div>
    

    

<div class="g1054"></div></div>

    

    

        <div class="ljpoll-questionbox">

            <p class="ljpoll-question">Vaszaje mierkavannie:</p>

            <div id="LJ_Poll_409138_1" class="
                    b-ljpoll-results
                    ljpoll-items
                    ">

                
                    <div class="ljpoll-answers">
                        <a href="https://www.livejournal.com/poll/?id=409138&amp;qid=1&amp;mode=ans" class="
                                LJ_PollAnswerLink
                                ljpoll-answers-link
                                " lj_posterid="1048492" onclick="return LiveJournal.pollAnswerClick(event, {pollid:409138,pollqid:1,page:0,pagesize:2000})" target="_self">View Answers</a>
                        <br>
                    <div class="g1054"></div></div>
                

                

                <div class="ljpoll-results">

                    

                        

                            <div class="ljpoll-results-item">

                                <div class="ljpoll-results-aswer"><!--
                                    -->Vydatna<!--
                                --><div class="g1054"></div></div>

                                <div class="ljpoll-results-result"><!--

                                    --><!--

                                        --><span class="ljpoll-results-line" style="width:0%;"></span><!--

                                    --><!--

                                    --><b class="ljpoll-results-count">0</b><!--

                                    --><span class="ljpoll-results-leftbracket">(</span><!--

                                        --><span class="ljpoll-results-percents"><!--
                                            --><span class="ljpoll-results-percent">0.0</span><!--
                                            --><span class="ljpoll-results-symbol">%</span><!--
                                        --></span><!--

                                    --><span class="ljpoll-results-rightbracket">)</span><!--

                                    --><!--

                                --><div class="g1054"></div></div><!-- /results-result -->

                            <div class="g1054"></div></div><!-- /results-item -->

                        

                    

                        

                            <div class="ljpoll-results-item">

                                <div class="ljpoll-results-aswer"><!--
                                    -->Dobra<!--
                                --><div class="g1054"></div></div>

                                <div class="ljpoll-results-result"><!--

                                    --><!--

                                        --><span class="ljpoll-results-line" style="width:70%;"></span><!--

                                    --><!--

                                    --><b class="ljpoll-results-count">7</b><!--

                                    --><span class="ljpoll-results-leftbracket">(</span><!--

                                        --><span class="ljpoll-results-percents"><!--
                                            --><span class="ljpoll-results-percent">70.0</span><!--
                                            --><span class="ljpoll-results-symbol">%</span><!--
                                        --></span><!--

                                    --><span class="ljpoll-results-rightbracket">)</span><!--

                                    --><!--

                                --><div class="g1054"></div></div><!-- /results-result -->

                            <div class="g1054"></div></div><!-- /results-item -->

                        

                    

                        

                            <div class="ljpoll-results-item">

                                <div class="ljpoll-results-aswer"><!--
                                    -->Blaha<!--
                                --><div class="g1054"></div></div>

                                <div class="ljpoll-results-result"><!--

                                    --><!--

                                        --><span class="ljpoll-results-line" style="width:30%;"></span><!--

                                    --><!--

                                    --><b class="ljpoll-results-count">3</b><!--

                                    --><span class="ljpoll-results-leftbracket">(</span><!--

                                        --><span class="ljpoll-results-percents"><!--
                                            --><span class="ljpoll-results-percent">30.0</span><!--
                                            --><span class="ljpoll-results-symbol">%</span><!--
                                        --></span><!--

                                    --><span class="ljpoll-results-rightbracket">)</span><!--

                                    --><!--

                                --><div class="g1054"></div></div><!-- /results-result -->

                            <div class="g1054"></div></div><!-- /results-item -->

                        

                    

                        

                            <div class="ljpoll-results-item">

                                <div class="ljpoll-results-aswer"><!--
                                    -->Kiepska<!--
                                --><div class="g1054"></div></div>

                                <div class="ljpoll-results-result"><!--

                                    --><!--

                                        --><span class="ljpoll-results-line" style="width:0%;"></span><!--

                                    --><!--

                                    --><b class="ljpoll-results-count">0</b><!--

                                    --><span class="ljpoll-results-leftbracket">(</span><!--

                                        --><span class="ljpoll-results-percents"><!--
                                            --><span class="ljpoll-results-percent">0.0</span><!--
                                            --><span class="ljpoll-results-symbol">%</span><!--
                                        --></span><!--

                                    --><span class="ljpoll-results-rightbracket">)</span><!--

                                    --><!--

                                --><div class="g1054"></div></div><!-- /results-result -->

                            <div class="g1054"></div></div><!-- /results-item -->

                        

                    

                <div class="g1054"></div></div><!-- /ljpoll-results -->

            <div class="g1054"></div></div><!-- /ljpoll-items -->

        <div class="g1054"></div></div><!-- /questionbox -->

    



<div class="g1054"></div></div><br><br><i>Niekanstruktyunaja krytyka nie vitajecca dy uliczana nia budzie.</i><br><br><small><i>Upd 1:</i> Спрошчаны варыянт:<br><b>A Be Ce De E eF Ge He I Jo Ka eL eM eN O Pe eR eSTe U Ve <u>i</u>hrYk Zed</b><br></small>  <div class="g1054"></div></article> <div lj0sale0height="600" lj0sale0window0min="1200" lj0sale0window0max="9999" lj0sale0hide0cookie="s1_rightbanner_closed" class="ljsale ljsale--empty b-singlepost-bodybanner ng-isolate-scope" lj0sale0not0init="s1_right"><div class="ljsale__inner">

    <div class="allbanners ">

        <!-- ngIf: directive.customId -->
        <div id="">

          <!-- ngIf: directive.type -->
        
        </div>

        <!-- ngIf: directive.close -->

    </div>

    <!-- ngIf: directive.hideble -->

</div>
</div>  </div>    </div> <div class="b-singlepost-video-wrap"> <div data-autoplay-dockable-video-mount=""></div> </div>
<div id="comments" class="b-grove" data-authtoken="c0:1682874000:368:86400:swWE8beBGa-0-:9eb1a49ca9af4c5b138e441ebf4ccc12"> <div class=" b-xylem  b-xylem-first  "> <ul class="b-xylem-cells">  <li class=" b-xylem-cell b-xylem-cell-amount ">   <span class="js-amount">  21 comments  </span>   </li>  </ul>  </div> <div class=" b-massaction-top ">  </div>    <div class=" b-tree b-tree-best ">  </div> <div class=" b-tree b-tree-promo " data-currentprice="">  </div>  <div class=" b-tree b-tree-root svgpreloader svgpreloader-pseudo svgpreloader-30 "><div class=" b-tree-twig  b-tree-twig-1 b-tree-twig-deep-0  " style="margin-left: 0px" data-tid="t68585">    <div id="t68585" class=" b-leaf            b-leaf-full   comment p-comment " data-username="maratyszcza" data-displayname="maratyszcza" data-updated-ts="1104170361" data-full="1"> <div class=" b-leaf-inner svgpreloader svgpreloader-pseudo svgpreloader-16 "> <div class="b-leaf-header"> <div class="b-leaf-userpic"> <a href="https://maratyszcza.livejournal.com/" target="_blank" class="b-leaf-userpic-inner" lj:user="maratyszcza">   <img src="https://l-userpic.livejournal.com/38970488/2695958" alt="maratyszcza" loading="lazy" title="Marat: pic#38970488">  </a> </div> <div class="b-leaf-details">   <p class="b-leaf-username"><span class="b-leaf-username-name"><span class="ljuser  i-ljuser  i-ljuser-type-P     " data-ljuser="maratyszcza" lj:user="maratyszcza"><a href="https://maratyszcza.livejournal.com/profile" class="i-ljuser-profile" target="_self"><img class="i-ljuser-userhead" src="https://l-stat.livejournal.net/img/userinfo_v8.svg?v=17080?v=657"></a><a href="https://maratyszcza.livejournal.com/" class="i-ljuser-username" target="_self"><b>maratyszcza</b></a></span> </span>  </p> <p class="b-leaf-meta">  <a href="https://lacinka.livejournal.com/6889.html?thread=68585#t68585" class="b-leaf-permalink" target="_self"> <span class="b-leaf-createdtime">December 27 2004, 17:59:21 UTC</span> </a>   <span class="b-leaf-shorttime">18 years ago</span>   </p>   </ul>        </div> </div>  <div class="b-leaf-article"> Nie spadabajecca:<br>Ge, He (niejak zanadta padobna hučyć, treba pahladzieć, jak u ŭkrajinskaj)<br>Jo (mo lepej Jot?)<br>eŠ (IMHO blaha hučyć)<br>ihrYk (pačynajecca na I, budzie błytanina, lepš prosta Y)<br>Zed, Zied, Žed (mnie bolš spadabajecca Zet, Ziet, Žet pa analogii z polskaj)<br><br>Darečy, dva hady pry niemcach moj dzied vučyŭsia biełaruskaj movie na łacincy. Ja zapytvaŭsia jaho nakont nazvaŭ litaraŭ, ale jon pryhadaŭ tolki toje, što litary Ć, Ś dy Ź nazyvalisia Ci, Si dy Zi. </div>   </div> </div>    </div><div class=" b-tree-twig  b-tree-twig-2 b-tree-twig-deep-0  " style="margin-left: 30px" data-tid="t69353">    <div id="t69353" class=" b-leaf            b-leaf-full   comment p-comment " data-username="maratyszcza" data-displayname="maratyszcza" data-updated-ts="1104171834" data-full="1"> <div class=" b-leaf-inner svgpreloader svgpreloader-pseudo svgpreloader-16 "> <div class="b-leaf-header"> <div class="b-leaf-userpic"> <a href="https://maratyszcza.livejournal.com/" target="_blank" class="b-leaf-userpic-inner" lj:user="maratyszcza">   <img src="https://l-userpic.livejournal.com/38970488/2695958" alt="maratyszcza" loading="lazy" title="Marat: pic#38970488">  </a> </div> <div class="b-leaf-details">   <p class="b-leaf-username"><span class="b-leaf-username-name"><span class="ljuser  i-ljuser  i-ljuser-type-P     " data-ljuser="maratyszcza" lj:user="maratyszcza"><a href="https://maratyszcza.livejournal.com/profile" class="i-ljuser-profile" target="_self"><img class="i-ljuser-userhead" src="https://l-stat.livejournal.net/img/userinfo_v8.svg?v=17080?v=657"></a><a href="https://maratyszcza.livejournal.com/" class="i-ljuser-username" target="_self"><b>maratyszcza</b></a></span> </span>  </p> <p class="b-leaf-meta">  <a href="https://lacinka.livejournal.com/6889.html?thread=69353#t69353" class="b-leaf-permalink" target="_self"> <span class="b-leaf-createdtime">December 27 2004, 18:23:54 UTC</span> </a>   <span class="b-leaf-shorttime">18 years ago</span>   </p>   </ul>        </div> </div>  <div class="b-leaf-article"> A voś ideja dadać novyja latiry dla hukaŭ dz i dž mnie spadabajecca. U sierbskaj, AFAIK, jość litara Đ dla huka dz. A dla dž možna ŭziać Ď </div>   </div> </div>    </div><div class=" b-tree-twig  b-tree-twig-3 b-tree-twig-deep-0  " style="margin-left: 60px" data-tid="t69865">    <div id="t69865" class=" b-leaf        b-leaf-poster      b-leaf-full   comment p-comment " data-username="ausvald" data-displayname="ausvald" data-updated-ts="1104172115" data-full="1"> <div class=" b-leaf-inner svgpreloader svgpreloader-pseudo svgpreloader-16 "> <div class="b-leaf-header"> <div class="b-leaf-userpic"> <a href="https://ausvald.livejournal.com/" target="_blank" class="b-leaf-userpic-inner" lj:user="ausvald">   <img src="https://l-userpic.livejournal.com/24027510/1048492" alt="ausvald" loading="lazy" title="Аўсвальд: kalihon">  </a> </div> <div class="b-leaf-details">   <p class="b-leaf-username"><span class="b-leaf-username-name"><span class="ljuser  i-ljuser  i-ljuser-type-P     " data-ljuser="ausvald" lj:user="ausvald"><a href="https://ausvald.livejournal.com/profile" class="i-ljuser-profile" target="_self"><img class="i-ljuser-userhead" src="https://l-stat.livejournal.net/img/userinfo_v8.svg?v=17080?v=657"></a><a href="https://ausvald.livejournal.com/" class="i-ljuser-username" target="_self"><b>ausvald</b></a></span> </span>  </p> <p class="b-leaf-meta">  <a href="https://lacinka.livejournal.com/6889.html?thread=69865#t69865" class="b-leaf-permalink" target="_self"> <span class="b-leaf-createdtime">December 27 2004, 18:28:35 UTC</span> </a>   <span class="b-leaf-shorttime">18 years ago</span>   </p>   </ul>        </div> </div>  <div class="b-leaf-article"> Đ - няма як пазначаць мяккасьць<br>Ď - у маленькім варыянце зуб пераўтвараецца ў коску вельмі падоўную на тую, што пазначае мяккасьць. </div>   </div> </div>    </div><div class=" b-tree-twig  b-tree-twig-2 b-tree-twig-deep-0  " style="margin-left: 30px" data-tid="t69609">    <div id="t69609" class=" b-leaf        b-leaf-poster      b-leaf-full   comment p-comment " data-username="ausvald" data-displayname="ausvald" data-updated-ts="1104171999" data-full="1"> <div class=" b-leaf-inner svgpreloader svgpreloader-pseudo svgpreloader-16 "> <div class="b-leaf-header"> <div class="b-leaf-userpic"> <a href="https://ausvald.livejournal.com/" target="_blank" class="b-leaf-userpic-inner" lj:user="ausvald">   <img src="https://l-userpic.livejournal.com/24027510/1048492" alt="ausvald" loading="lazy" title="Аўсвальд: kalihon">  </a> </div> <div class="b-leaf-details">   <p class="b-leaf-username"><span class="b-leaf-username-name"><span class="ljuser  i-ljuser  i-ljuser-type-P     " data-ljuser="ausvald" lj:user="ausvald"><a href="https://ausvald.livejournal.com/profile" class="i-ljuser-profile" target="_self"><img class="i-ljuser-userhead" src="https://l-stat.livejournal.net/img/userinfo_v8.svg?v=17080?v=657"></a><a href="https://ausvald.livejournal.com/" class="i-ljuser-username" target="_self"><b>ausvald</b></a></span> </span>  </p> <p class="b-leaf-meta">  <a href="https://lacinka.livejournal.com/6889.html?thread=69609#t69609" class="b-leaf-permalink" target="_self"> <span class="b-leaf-createdtime">December 27 2004, 18:26:39 UTC</span> </a>   <span class="b-leaf-shorttime">18 years ago</span>   </p>   </ul>        </div> </div>  <div class="b-leaf-article"> 1. Ge, He<br>Украінскай стандартнай лацінкі няма.<br>Ніякай блытаніны ня будзе, павер мне. Калі досыць людзей будуць лацінкаваць, усе прыстацуюцца ды нават забудуцца, што калісь іх блыталі :)<br><br>2. eŠ<br>Чаму?<br><br>ihrYk<br>eR таксама пачынаецца не на R.<br>Блытаніна чаго з чым?<br><br>Zet<br>Я не разумею, калі падабаецца нешта <i>толькі</i> з-за аналёгіі.<br>Завітай па спасылцы ўверсе (падлік галасоў).<br><br>Ci, Si<br>Глядзі заўвагу пра Zet </div>   </div> </div>    </div><div class=" b-tree-twig  b-tree-twig-2 b-tree-twig-deep-0  " style="margin-left: 30px" data-tid="t70377">    <div id="t70377" class=" b-leaf        b-leaf-poster      b-leaf-full   comment p-comment " data-username="ausvald" data-displayname="ausvald" data-updated-ts="1104172295" data-full="1"> <div class=" b-leaf-inner svgpreloader svgpreloader-pseudo svgpreloader-16 "> <div class="b-leaf-header"> <div class="b-leaf-userpic"> <a href="https://ausvald.livejournal.com/" target="_blank" class="b-leaf-userpic-inner" lj:user="ausvald">   <img src="https://l-userpic.livejournal.com/24027510/1048492" alt="ausvald" loading="lazy" title="Аўсвальд: kalihon">  </a> </div> <div class="b-leaf-details">   <p class="b-leaf-username"><span class="b-leaf-username-name"><span class="ljuser  i-ljuser  i-ljuser-type-P     " data-ljuser="ausvald" lj:user="ausvald"><a href="https://ausvald.livejournal.com/profile" class="i-ljuser-profile" target="_self"><img class="i-ljuser-userhead" src="https://l-stat.livejournal.net/img/userinfo_v8.svg?v=17080?v=657"></a><a href="https://ausvald.livejournal.com/" class="i-ljuser-username" target="_self"><b>ausvald</b></a></span> </span>  </p> <p class="b-leaf-meta">  <a href="https://lacinka.livejournal.com/6889.html?thread=70377#t70377" class="b-leaf-permalink" target="_self"> <span class="b-leaf-createdtime">December 27 2004, 18:31:35 UTC</span> </a>   <span class="b-leaf-shorttime">18 years ago</span>   </p>   </ul>        </div> </div>  <div class="b-leaf-article"> Jotu.<br><br>Чаму?<br> </div>   </div> </div>    </div><div class=" b-tree-twig  b-tree-twig-1 b-tree-twig-deep-0  " style="margin-left: 0px" data-tid="t68841">    <div id="t68841" class=" b-leaf            b-leaf-full   comment p-comment " data-username="zolak" data-displayname="zolak" data-updated-ts="1104170472" data-full="1"> <div class=" b-leaf-inner svgpreloader svgpreloader-pseudo svgpreloader-16 "> <div class="b-leaf-header"> <div class="b-leaf-userpic"> <a href="https://zolak.livejournal.com/" target="_blank" class="b-leaf-userpic-inner" lj:user="zolak">   <img src="https://l-stat.livejournal.net/img/userpics/userpic-user.png?v=15821" alt="zolak" loading="lazy">  </a> </div> <div class="b-leaf-details">   <p class="b-leaf-username"><span class="b-leaf-username-name"><span class="ljuser  i-ljuser  i-ljuser-deleted  i-ljuser-type-P     " data-ljuser="zolak" lj:user="zolak"><a href="https://zolak.livejournal.com/profile" class="i-ljuser-profile" target="_self"><img class="i-ljuser-userhead" src="https://l-stat.livejournal.net/img/userinfo_v8.svg?v=17080?v=657"></a><a href="https://zolak.livejournal.com/" class="i-ljuser-username" target="_self"><b>zolak</b></a></span> </span>  </p> <p class="b-leaf-meta">  <a href="https://lacinka.livejournal.com/6889.html?thread=68841#t68841" class="b-leaf-permalink" target="_self"> <span class="b-leaf-createdtime">December 27 2004, 18:01:12 UTC</span> </a>   <span class="b-leaf-shorttime">18 years ago</span>   </p>   </ul>        </div> </div>  <div class="b-leaf-article"> Nu, z hetymi adsutnymi hukami Ty, bacieńka, pierabarščyŭ. Hetkim čynam i tak nie achopiš usich adsutnych hukaŭ, dy j vymaŭleńnie vychodzić chutčej rasiejakaje (huk "d"+huk"ž" zamiest źlitnaha "dž"). Tym nia mienš zaduma aryhinalnaja, i heta DOBRA. </div>   </div> </div>    </div><div class=" b-tree-twig  b-tree-twig-2 b-tree-twig-deep-0  " style="margin-left: 30px" data-tid="t70121">    <div id="t70121" class=" b-leaf        b-leaf-poster      b-leaf-full   comment p-comment " data-username="ausvald" data-displayname="ausvald" data-updated-ts="1104172167" data-full="1"> <div class=" b-leaf-inner svgpreloader svgpreloader-pseudo svgpreloader-16 "> <div class="b-leaf-header"> <div class="b-leaf-userpic"> <a href="https://ausvald.livejournal.com/" target="_blank" class="b-leaf-userpic-inner" lj:user="ausvald">   <img src="https://l-userpic.livejournal.com/24027510/1048492" alt="ausvald" loading="lazy" title="Аўсвальд: kalihon">  </a> </div> <div class="b-leaf-details">   <p class="b-leaf-username"><span class="b-leaf-username-name"><span class="ljuser  i-ljuser  i-ljuser-type-P     " data-ljuser="ausvald" lj:user="ausvald"><a href="https://ausvald.livejournal.com/profile" class="i-ljuser-profile" target="_self"><img class="i-ljuser-userhead" src="https://l-stat.livejournal.net/img/userinfo_v8.svg?v=17080?v=657"></a><a href="https://ausvald.livejournal.com/" class="i-ljuser-username" target="_self"><b>ausvald</b></a></span> </span>  </p> <p class="b-leaf-meta">  <a href="https://lacinka.livejournal.com/6889.html?thread=70121#t70121" class="b-leaf-permalink" target="_self"> <span class="b-leaf-createdtime">December 27 2004, 18:29:27 UTC</span> </a>   <span class="b-leaf-shorttime">18 years ago</span>   </p>   </ul>        </div> </div>  <div class="b-leaf-article"> <i>chutčej rasiejakaje</i><br><br>Калі хуценька балбатнуць, розьніцы няма :) </div>   </div> </div>    </div><div class=" b-tree-twig  b-tree-twig-3 b-tree-twig-deep-0  " style="margin-left: 60px" data-tid="t70633">    <div id="t70633" class=" b-leaf            b-leaf-full   comment p-comment " data-username="zolak" data-displayname="zolak" data-updated-ts="1104172625" data-full="1"> <div class=" b-leaf-inner svgpreloader svgpreloader-pseudo svgpreloader-16 "> <div class="b-leaf-header"> <div class="b-leaf-userpic"> <a href="https://zolak.livejournal.com/" target="_blank" class="b-leaf-userpic-inner" lj:user="zolak">   <img src="https://l-stat.livejournal.net/img/userpics/userpic-user.png?v=15821" alt="zolak" loading="lazy">  </a> </div> <div class="b-leaf-details">   <p class="b-leaf-username"><span class="b-leaf-username-name"><span class="ljuser  i-ljuser  i-ljuser-deleted  i-ljuser-type-P     " data-ljuser="zolak" lj:user="zolak"><a href="https://zolak.livejournal.com/profile" class="i-ljuser-profile" target="_self"><img class="i-ljuser-userhead" src="https://l-stat.livejournal.net/img/userinfo_v8.svg?v=17080?v=657"></a><a href="https://zolak.livejournal.com/" class="i-ljuser-username" target="_self"><b>zolak</b></a></span> </span>  </p> <p class="b-leaf-meta">  <a href="https://lacinka.livejournal.com/6889.html?thread=70633#t70633" class="b-leaf-permalink" target="_self"> <span class="b-leaf-createdtime">December 27 2004, 18:37:05 UTC</span> </a>   <span class="b-leaf-shorttime">18 years ago</span>   </p>   </ul>        </div> </div>  <div class="b-leaf-article"> :) </div>   </div> </div>    </div><div class=" b-tree-twig  b-tree-twig-1 b-tree-twig-deep-0  " style="margin-left: 0px" data-tid="t71913">    <div id="t71913" class=" b-leaf        b-leaf-poster      b-leaf-full   comment p-comment " data-username="ausvald" data-displayname="ausvald" data-updated-ts="1104216690" data-full="1"> <div class=" b-leaf-inner svgpreloader svgpreloader-pseudo svgpreloader-16 "> <div class="b-leaf-header"> <div class="b-leaf-userpic"> <a href="https://ausvald.livejournal.com/" target="_blank" class="b-leaf-userpic-inner" lj:user="ausvald">   <img src="https://l-userpic.livejournal.com/24027510/1048492" alt="ausvald" loading="lazy" title="Аўсвальд: kalihon">  </a> </div> <div class="b-leaf-details">   <p class="b-leaf-username"><span class="b-leaf-username-name"><span class="ljuser  i-ljuser  i-ljuser-type-P     " data-ljuser="ausvald" lj:user="ausvald"><a href="https://ausvald.livejournal.com/profile" class="i-ljuser-profile" target="_self"><img class="i-ljuser-userhead" src="https://l-stat.livejournal.net/img/userinfo_v8.svg?v=17080?v=657"></a><a href="https://ausvald.livejournal.com/" class="i-ljuser-username" target="_self"><b>ausvald</b></a></span> </span>  </p> <p class="b-leaf-meta">  <a href="https://lacinka.livejournal.com/6889.html?thread=71913#t71913" class="b-leaf-permalink" target="_self"> <span class="b-leaf-createdtime">December 28 2004, 06:51:30 UTC</span> </a>   <span class="b-leaf-shorttime">18 years ago</span>   </p>   </ul>        </div> </div>  <div class="b-leaf-article"> <i>Niekanstruktyunaja krytyka nie vitajecca dy uliczana nia budzie.</i><br>Недапамагло <span class="ljuser  i-ljuser  i-ljuser-type-P     " data-ljuser="fevra" lj:user="fevra"><a href="https://fevra.livejournal.com/profile" target="_self" class="i-ljuser-profile"><img class="i-ljuser-userhead" src="https://l-stat.livejournal.net/img/userinfo_v8.svg?v=17080?v=657"></a><a href="https://fevra.livejournal.com/" class="i-ljuser-username" target="_self"><b>fevra</b></a></span>ы. </div>   </div> </div>    </div><div class=" b-tree-twig  b-tree-twig-1 b-tree-twig-deep-0  " style="margin-left: 0px" data-tid="t72169">    <div id="t72169" class=" b-leaf            b-leaf-full   comment p-comment " data-username="zmila" data-displayname="zmila" data-updated-ts="1104223520" data-full="1"> <div class=" b-leaf-inner svgpreloader svgpreloader-pseudo svgpreloader-16 "> <div class="b-leaf-header"> <div class="b-leaf-userpic"> <a href="https://zmila.livejournal.com/" target="_blank" class="b-leaf-userpic-inner" lj:user="zmila">   <img src="https://l-userpic.livejournal.com/59400445/1373896" alt="zmila" loading="lazy" title="Źmicier Łapcönak / Зьміцер Лапцёнак: 3kub">  </a> </div> <div class="b-leaf-details">   <p class="b-leaf-username"><span class="b-leaf-username-name"><span class="ljuser  i-ljuser  i-ljuser-type-P     " data-ljuser="zmila" lj:user="zmila"><a href="https://zmila.livejournal.com/profile" class="i-ljuser-profile" target="_self"><img class="i-ljuser-userhead" src="https://l-stat.livejournal.net/img/userinfo_v8.svg?v=17080?v=657"></a><a href="https://zmila.livejournal.com/" class="i-ljuser-username" target="_self"><b>zmila</b></a></span> </span>  </p> <p class="b-leaf-meta">  <a href="https://lacinka.livejournal.com/6889.html?thread=72169#t72169" class="b-leaf-permalink" target="_self"> <span class="b-leaf-createdtime">December 28 2004, 08:45:20 UTC</span> </a>   <span class="b-leaf-shorttime">18 years ago</span>   </p>   </ul>        </div> </div>  <div class="b-leaf-article"> ihrYk --&gt; Y<br><br>navošta rabić składanuju nazvu kali možna prostuju?<br><br>a kali niexta vielmi xoča "krutuju" nazvu - <b>Ypsyłon</b> </div>   </div> </div>    </div><div class=" b-tree-twig  b-tree-twig-2 b-tree-twig-deep-0  " style="margin-left: 30px" data-tid="t72425">    <div id="t72425" class=" b-leaf        b-leaf-poster      b-leaf-full   comment p-comment " data-username="ausvald" data-displayname="ausvald" data-updated-ts="1104228797" data-full="1"> <div class=" b-leaf-inner svgpreloader svgpreloader-pseudo svgpreloader-16 "> <div class="b-leaf-header"> <div class="b-leaf-userpic"> <a href="https://ausvald.livejournal.com/" target="_blank" class="b-leaf-userpic-inner" lj:user="ausvald">   <img src="https://l-userpic.livejournal.com/24027510/1048492" alt="ausvald" loading="lazy" title="Аўсвальд: kalihon">  </a> </div> <div class="b-leaf-details">   <p class="b-leaf-username"><span class="b-leaf-username-name"><span class="ljuser  i-ljuser  i-ljuser-type-P     " data-ljuser="ausvald" lj:user="ausvald"><a href="https://ausvald.livejournal.com/profile" class="i-ljuser-profile" target="_self"><img class="i-ljuser-userhead" src="https://l-stat.livejournal.net/img/userinfo_v8.svg?v=17080?v=657"></a><a href="https://ausvald.livejournal.com/" class="i-ljuser-username" target="_self"><b>ausvald</b></a></span> </span>  </p> <p class="b-leaf-meta">  <a href="https://lacinka.livejournal.com/6889.html?thread=72425#t72425" class="b-leaf-permalink" target="_self"> <span class="b-leaf-createdtime">December 28 2004, 10:13:17 UTC</span> </a>   <span class="b-leaf-shorttime">18 years ago</span>   </p>   </ul>        </div> </div>  <div class="b-leaf-article"> -&gt; pa spasylkach uviersie. </div>   </div> </div>    </div><div class=" b-tree-twig  b-tree-twig-3 b-tree-twig-deep-0  " style="margin-left: 60px" data-tid="t72681">    <div id="t72681" class=" b-leaf            b-leaf-full   comment p-comment " data-username="zmila" data-displayname="zmila" data-updated-ts="1104230357" data-full="1"> <div class=" b-leaf-inner svgpreloader svgpreloader-pseudo svgpreloader-16 "> <div class="b-leaf-header"> <div class="b-leaf-userpic"> <a href="https://zmila.livejournal.com/" target="_blank" class="b-leaf-userpic-inner" lj:user="zmila">   <img src="https://l-userpic.livejournal.com/59400445/1373896" alt="zmila" loading="lazy" title="Źmicier Łapcönak / Зьміцер Лапцёнак: 3kub">  </a> </div> <div class="b-leaf-details">   <p class="b-leaf-username"><span class="b-leaf-username-name"><span class="ljuser  i-ljuser  i-ljuser-type-P     " data-ljuser="zmila" lj:user="zmila"><a href="https://zmila.livejournal.com/profile" class="i-ljuser-profile" target="_self"><img class="i-ljuser-userhead" src="https://l-stat.livejournal.net/img/userinfo_v8.svg?v=17080?v=657"></a><a href="https://zmila.livejournal.com/" class="i-ljuser-username" target="_self"><b>zmila</b></a></span> </span>  </p> <p class="b-leaf-meta">  <a href="https://lacinka.livejournal.com/6889.html?thread=72681#t72681" class="b-leaf-permalink" target="_self"> <span class="b-leaf-createdtime">December 28 2004, 10:39:17 UTC</span> </a>   <span class="b-leaf-shorttime">18 years ago</span>   </p>   </ul>        </div> </div>  <div class="b-leaf-article"> ды хоць навуковыя працы напішэце і статыстыку на шмат старонак. <br>але не магу зразумець, навошта назва для галоснага? <br><br>адна справа, калі ствараецца мнэманічны код, напрыклад, каб называць літары, як паліцэйскія называюць нумары машын, або праз кепскі канал сувязі перадаюць нейкае слова, і важна каб не пераблытаць ніводнай літары. <br><br>а ў альфабэце навошта вычварацца?<br><br>калі хочацца назваць літару - менавіта лацінскай абэцэды (а не беларускай), <br>дык чаму Ŭ так назвалі, а не "У брэйв" (і іншыя літаркі з гачыкамі). <br><br><br>нешта апошнім часам мяне ад лацінкі адштурхоўваюць менавіта прыхільнікі лацінкі, а не яе праціўнікі. <br> </div>   </div> </div>    </div><div class=" b-tree-twig  b-tree-twig-4 b-tree-twig-deep-0  " style="margin-left: 90px" data-tid="t72937">    <div id="t72937" class=" b-leaf        b-leaf-poster      b-leaf-full   comment p-comment " data-username="ausvald" data-displayname="ausvald" data-updated-ts="1104238369" data-full="1"> <div class=" b-leaf-inner svgpreloader svgpreloader-pseudo svgpreloader-16 "> <div class="b-leaf-header"> <div class="b-leaf-userpic"> <a href="https://ausvald.livejournal.com/" target="_blank" class="b-leaf-userpic-inner" lj:user="ausvald">   <img src="https://l-userpic.livejournal.com/24027510/1048492" alt="ausvald" loading="lazy" title="Аўсвальд: kalihon">  </a> </div> <div class="b-leaf-details">   <p class="b-leaf-username"><span class="b-leaf-username-name"><span class="ljuser  i-ljuser  i-ljuser-type-P     " data-ljuser="ausvald" lj:user="ausvald"><a href="https://ausvald.livejournal.com/profile" class="i-ljuser-profile" target="_self"><img class="i-ljuser-userhead" src="https://l-stat.livejournal.net/img/userinfo_v8.svg?v=17080?v=657"></a><a href="https://ausvald.livejournal.com/" class="i-ljuser-username" target="_self"><b>ausvald</b></a></span> </span>  </p> <p class="b-leaf-meta">  <a href="https://lacinka.livejournal.com/6889.html?thread=72937#t72937" class="b-leaf-permalink" target="_self"> <span class="b-leaf-createdtime">December 28 2004, 12:52:49 UTC</span> </a>   <span class="b-leaf-shorttime">18 years ago</span>   </p>   </ul>        </div> </div>  <div class="b-leaf-article"> <i>навошта назва для галоснага?</i><br><i>а ў альфабэце навошта вычварацца?</i><br>Бо ў галосных ёсьць назвы. Часам яны супадаюць з гукамі, якія пазначаюць.<br><br><i>а ў альфабэце навошта вычварацца?</i><br>ОК, калі ты такі вумны, знайдзі мне каліласка правілы, па якім называюцца літары ў іншых лацінках. І паглядзім хто вычавараецца.<br><br><i>дык чаму Ŭ так назвалі</i><br>бо так зручней вымаўляць.<br><br><i>нешта апошнім часам мяне ад лацінкі адштурхоўваюць менавіта прыхільнікі лацінкі, а не яе праціўнікі.</i><br>Ты сам яе адштурхоўваеш ад сябе.<br><br> </div>   </div> </div>    </div><div class=" b-tree-twig  b-tree-twig-5 b-tree-twig-deep-0  " style="margin-left: 120px" data-tid="t73193">    <div id="t73193" class=" b-leaf            b-leaf-full   comment p-comment " data-username="zmila" data-displayname="zmila" data-updated-ts="1104243945" data-full="1"> <div class=" b-leaf-inner svgpreloader svgpreloader-pseudo svgpreloader-16 "> <div class="b-leaf-header"> <div class="b-leaf-userpic"> <a href="https://zmila.livejournal.com/" target="_blank" class="b-leaf-userpic-inner" lj:user="zmila">   <img src="https://l-userpic.livejournal.com/59400445/1373896" alt="zmila" loading="lazy" title="Źmicier Łapcönak / Зьміцер Лапцёнак: 3kub">  </a> </div> <div class="b-leaf-details">   <p class="b-leaf-username"><span class="b-leaf-username-name"><span class="ljuser  i-ljuser  i-ljuser-type-P     " data-ljuser="zmila" lj:user="zmila"><a href="https://zmila.livejournal.com/profile" class="i-ljuser-profile" target="_self"><img class="i-ljuser-userhead" src="https://l-stat.livejournal.net/img/userinfo_v8.svg?v=17080?v=657"></a><a href="https://zmila.livejournal.com/" class="i-ljuser-username" target="_self"><b>zmila</b></a></span> </span>  </p> <p class="b-leaf-meta">  <a href="https://lacinka.livejournal.com/6889.html?thread=73193#t73193" class="b-leaf-permalink" target="_self"> <span class="b-leaf-createdtime">December 28 2004, 14:25:45 UTC</span> </a>   <span class="b-leaf-shorttime">18 years ago</span>   </p>   </ul>        </div> </div>  <div class="b-leaf-article"> &gt; <i>Бо ў галосных ёсьць назвы. Часам яны супадаюць з гукамі, якія пазначаюць.</i><br><br>у беларускай мове, ці ў нейкіх іншых? <br>у бел.кірыліцы яны заўжды супадаюць. навошта зьмяняць? <br><br>няўжо словы "ігрык/іграк/ігрэк" больш пасуюць беларускай мове, чым проста гук "ы"? <br>няўжо гэта больш традыцыйна? больш проста для запамінаньня, вымаўленьня, напісаньня? <br><br>&gt; <i>правілы, па якім называюцца літары ў іншых лацінках</i><br><br>эспэранта: <br>усе галосныя літары называюцца гукамі, якія яны абазначаюць. <br>усе зычныя літары называюцца гукамі, якія яны абазначаюць + канчатак назоўніка "-o". (а бо цо чо до э фо ґо джо го хо і йо/ё ко ... то ўо во зо)<br> </div>   </div> </div>    </div><div class=" b-tree-twig  b-tree-twig-6 b-tree-twig-deep-0  " style="margin-left: 150px" data-tid="t73449">    <div id="t73449" class=" b-leaf  b-leaf-collapsed        b-leaf-poster       comment p-comment " data-username="ausvald" data-displayname="ausvald" data-updated-ts="1104245317"> <div class=" b-leaf-inner svgpreloader svgpreloader-pseudo svgpreloader-16 "> <div class="b-leaf-header"> <div class="b-leaf-userpic"> <a href="https://ausvald.livejournal.com/" target="_blank" class="b-leaf-userpic-inner" lj:user="ausvald">   <img src="https://l-stat.livejournal.net/img/userpics/userpic-user.png?v=15821" alt="ausvald" loading="lazy">  </a> </div> <div class="b-leaf-details">   <p class="b-leaf-username"><span class="b-leaf-username-name"><span class="ljuser  i-ljuser  i-ljuser-type-P     " data-ljuser="ausvald" lj:user="ausvald"><a href="https://ausvald.livejournal.com/profile" class="i-ljuser-profile" target="_self"><img class="i-ljuser-userhead" src="https://l-stat.livejournal.net/img/userinfo_v8.svg?v=17080?v=657"></a><a href="https://ausvald.livejournal.com/" class="i-ljuser-username" target="_self"><b>ausvald</b></a></span> </span>  </p> <p class="b-leaf-meta">   <span class="b-leaf-shorttime">18 years ago</span>   </p>   </ul>    </div> </div>   </div> </div>    </div><div class=" b-tree-twig  b-tree-twig-7 b-tree-twig-deep-0  " style="margin-left: 180px" data-tid="t73705">    <div id="t73705" class=" b-leaf  b-leaf-collapsed             comment p-comment " data-username="zmila" data-displayname="zmila" data-updated-ts="1104246931"> <div class=" b-leaf-inner svgpreloader svgpreloader-pseudo svgpreloader-16 "> <div class="b-leaf-header"> <div class="b-leaf-userpic"> <a href="https://zmila.livejournal.com/" target="_blank" class="b-leaf-userpic-inner" lj:user="zmila">   <img src="https://l-stat.livejournal.net/img/userpics/userpic-user.png?v=15821" alt="zmila" loading="lazy">  </a> </div> <div class="b-leaf-details">   <p class="b-leaf-username"><span class="b-leaf-username-name"><span class="ljuser  i-ljuser  i-ljuser-type-P     " data-ljuser="zmila" lj:user="zmila"><a href="https://zmila.livejournal.com/profile" class="i-ljuser-profile" target="_self"><img class="i-ljuser-userhead" src="https://l-stat.livejournal.net/img/userinfo_v8.svg?v=17080?v=657"></a><a href="https://zmila.livejournal.com/" class="i-ljuser-username" target="_self"><b>zmila</b></a></span> </span>  </p> <p class="b-leaf-meta">   <span class="b-leaf-shorttime">18 years ago</span>   </p>   </ul>    </div> </div>   </div> </div>    </div><div class=" b-tree-twig  b-tree-twig-8 b-tree-twig-deep-0  " style="margin-left: 210px" data-tid="t74217">    <div id="t74217" class=" b-leaf  b-leaf-collapsed             comment p-comment " data-username="zolak" data-displayname="zolak" data-updated-ts="1104251973"> <div class=" b-leaf-inner svgpreloader svgpreloader-pseudo svgpreloader-16 "> <div class="b-leaf-header"> <div class="b-leaf-userpic"> <a href="https://zolak.livejournal.com/" target="_blank" class="b-leaf-userpic-inner" lj:user="zolak">   <img src="https://l-stat.livejournal.net/img/userpics/userpic-user.png?v=15821" alt="zolak" loading="lazy">  </a> </div> <div class="b-leaf-details">   <p class="b-leaf-username"><span class="b-leaf-username-name"><span class="ljuser  i-ljuser  i-ljuser-deleted  i-ljuser-type-P     " data-ljuser="zolak" lj:user="zolak"><a href="https://zolak.livejournal.com/profile" class="i-ljuser-profile" target="_self"><img class="i-ljuser-userhead" src="https://l-stat.livejournal.net/img/userinfo_v8.svg?v=17080?v=657"></a><a href="https://zolak.livejournal.com/" class="i-ljuser-username" target="_self"><b>zolak</b></a></span> </span>  </p> <p class="b-leaf-meta">   <span class="b-leaf-shorttime">18 years ago</span>   </p>   </ul>    </div> </div>   </div> </div>    </div><div class=" b-tree-twig  b-tree-twig-8 b-tree-twig-deep-0  " style="margin-left: 210px" data-tid="t74473">    <div id="t74473" class=" b-leaf  b-leaf-collapsed        b-leaf-poster       comment p-comment " data-username="ausvald" data-displayname="ausvald" data-updated-ts="1104253647"> <div class=" b-leaf-inner svgpreloader svgpreloader-pseudo svgpreloader-16 "> <div class="b-leaf-header"> <div class="b-leaf-userpic"> <a href="https://ausvald.livejournal.com/" target="_blank" class="b-leaf-userpic-inner" lj:user="ausvald">   <img src="https://l-stat.livejournal.net/img/userpics/userpic-user.png?v=15821" alt="ausvald" loading="lazy">  </a> </div> <div class="b-leaf-details">   <p class="b-leaf-username"><span class="b-leaf-username-name"><span class="ljuser  i-ljuser  i-ljuser-type-P     " data-ljuser="ausvald" lj:user="ausvald"><a href="https://ausvald.livejournal.com/profile" class="i-ljuser-profile" target="_self"><img class="i-ljuser-userhead" src="https://l-stat.livejournal.net/img/userinfo_v8.svg?v=17080?v=657"></a><a href="https://ausvald.livejournal.com/" class="i-ljuser-username" target="_self"><b>ausvald</b></a></span> </span>  </p> <p class="b-leaf-meta">   <span class="b-leaf-shorttime">18 years ago</span>   </p>   </ul>    </div> </div>   </div> </div>    </div><div class=" b-tree-twig  b-tree-twig-7 b-tree-twig-deep-0  " style="margin-left: 180px" data-tid="t73961">    <div id="t73961" class=" b-leaf  b-leaf-collapsed             comment p-comment " data-username="zolak" data-displayname="zolak" data-updated-ts="1104251593"> <div class=" b-leaf-inner svgpreloader svgpreloader-pseudo svgpreloader-16 "> <div class="b-leaf-header"> <div class="b-leaf-userpic"> <a href="https://zolak.livejournal.com/" target="_blank" class="b-leaf-userpic-inner" lj:user="zolak">   <img src="https://l-stat.livejournal.net/img/userpics/userpic-user.png?v=15821" alt="zolak" loading="lazy">  </a> </div> <div class="b-leaf-details">   <p class="b-leaf-username"><span class="b-leaf-username-name"><span class="ljuser  i-ljuser  i-ljuser-deleted  i-ljuser-type-P     " data-ljuser="zolak" lj:user="zolak"><a href="https://zolak.livejournal.com/profile" class="i-ljuser-profile" target="_self"><img class="i-ljuser-userhead" src="https://l-stat.livejournal.net/img/userinfo_v8.svg?v=17080?v=657"></a><a href="https://zolak.livejournal.com/" class="i-ljuser-username" target="_self"><b>zolak</b></a></span> </span>  </p> <p class="b-leaf-meta">   <span class="b-leaf-shorttime">18 years ago</span>   </p>   </ul>    </div> </div>   </div> </div>    </div><div class=" b-tree-twig  b-tree-twig-8 b-tree-twig-deep-0  " style="margin-left: 210px" data-tid="t74729">    <div id="t74729" class=" b-leaf  b-leaf-collapsed        b-leaf-poster       comment p-comment " data-username="ausvald" data-displayname="ausvald" data-updated-ts="1104253678"> <div class=" b-leaf-inner svgpreloader svgpreloader-pseudo svgpreloader-16 "> <div class="b-leaf-header"> <div class="b-leaf-userpic"> <a href="https://ausvald.livejournal.com/" target="_blank" class="b-leaf-userpic-inner" lj:user="ausvald">   <img src="https://l-stat.livejournal.net/img/userpics/userpic-user.png?v=15821" alt="ausvald" loading="lazy">  </a> </div> <div class="b-leaf-details">   <p class="b-leaf-username"><span class="b-leaf-username-name"><span class="ljuser  i-ljuser  i-ljuser-type-P     " data-ljuser="ausvald" lj:user="ausvald"><a href="https://ausvald.livejournal.com/profile" class="i-ljuser-profile" target="_self"><img class="i-ljuser-userhead" src="https://l-stat.livejournal.net/img/userinfo_v8.svg?v=17080?v=657"></a><a href="https://ausvald.livejournal.com/" class="i-ljuser-username" target="_self"><b>ausvald</b></a></span> </span>  </p> <p class="b-leaf-meta">   <span class="b-leaf-shorttime">18 years ago</span>   </p>   </ul>    </div> </div>   </div> </div>    </div><div class=" b-tree-twig  b-tree-twig-1 b-tree-twig-deep-0  " style="margin-left: 0px" data-tid="t74985">    <div id="t74985" class=" b-leaf            b-leaf-full   comment p-comment " data-username="juras14" data-displayname="juras14" data-updated-ts="1104281243" data-full="1"> <div class=" b-leaf-inner svgpreloader svgpreloader-pseudo svgpreloader-16 "> <div class="b-leaf-header"> <div class="b-leaf-userpic"> <a href="https://juras14.livejournal.com/" target="_blank" class="b-leaf-userpic-inner" lj:user="juras14">   <img src="https://l-userpic.livejournal.com/35562195/1515112" alt="juras14" loading="lazy" title="Юрась Міхед: Юзерпик">  </a> </div> <div class="b-leaf-details">   <p class="b-leaf-username"><span class="b-leaf-username-name"><span class="ljuser  i-ljuser  i-ljuser-type-P     " data-ljuser="juras14" lj:user="juras14"><a href="https://juras14.livejournal.com/profile" class="i-ljuser-profile" target="_self"><img class="i-ljuser-userhead" src="https://l-stat.livejournal.net/img/userinfo_v8.svg?v=17080?v=657"></a><a href="https://juras14.livejournal.com/" class="i-ljuser-username" target="_self"><b>juras14</b></a></span> </span>  </p> <p class="b-leaf-meta">  <a href="https://lacinka.livejournal.com/6889.html?thread=74985#t74985" class="b-leaf-permalink" target="_self"> <span class="b-leaf-createdtime">December 29 2004, 00:47:23 UTC</span> </a>   <span class="b-leaf-shorttime">18 years ago</span>   </p>   </ul>        </div> </div>  <div class="b-leaf-article"> Ihryk heta paprostu «ы».<br>Darečy, u łatyskaj movie ŭvohule takoha niama. Tam prosta kažuć:<br><br>[A, Ā, B, C, Č, D, E, Ē, F...]<br><br>Biez usiakaj łutchty.<br>Prapanuju prosta kazać, jak i ŭ kirylicy. </div>   </div> </div>    </div></div>     <div prev-next-nav=""></div> <div suggestion-for-unlogged="" class="ng-isolate-scope"><!-- ngIf: directive.isBlockVisible --></div>   </div>         
