---
id: 8478
layout: page
date: 2022-10-16
---


<!-- s-body -->
        <div class="s-body">

            <!-- use header -->
            <!-- /use header -->

            <!-- Content -->
             <article class="b-singlepost hentry h-entry js-emojis  b-singlepost-mobileadaptive  b-singlepost-withbodybanner  ng-scope" role="main" ng-app="Entry"> <div class="b-singlepost-qrcode  ng-isolate-scope" lj-qrcode="https://lacinka.livejournal.com/8478.html" lj-qrcode-width="70" lj-qrcode-height="70"> <canvas width="70" height="70"></canvas></div> <div class="b-singlepost-about"> <dl class=" b-singlepost-author author vcard p-author h-card " ng-non-bindable=""> <dt class=" b-singlepost-author-userpic photo u-photo " lj:user="zolak">  <img src="https://l-userpic.livejournal.com/56724982/707281" width="" height="" align="absmiddle" title="Zołak: pic#56724982" alt="">  </dt> <dd class="b-singlepost-author-userinfo"> <div class="b-singlepost-author-userinfo-screen"> <span class=" b-singlepost-author-user fn p-name "> <span class="b-singlepost-author-user-screen"> Zołak (<span class="ljuser  i-ljuser  i-ljuser-deleted  i-ljuser-type-P     " data-ljuser="zolak" lj:user="zolak"><a href="https://zolak.livejournal.com/profile" target="_self" class="i-ljuser-profile"><img class="i-ljuser-userhead" src="https://l-stat.livejournal.net/img/userinfo_v8.svg?v=17080?v=657"></a><a href="https://zolak.livejournal.com/" class="i-ljuser-username" target="_self"><b>zolak</b></a></span>) wrote in <span class="ljuser  i-ljuser  i-ljuser-type-C     " data-ljuser="lacinka" lj:user="lacinka"><a href="https://lacinka.livejournal.com/profile" target="_self" class="i-ljuser-profile"><img class="i-ljuser-userhead" src="https://l-stat.livejournal.net/img/community.gif?v=556?v=657"></a><a href="https://lacinka.livejournal.com/" class="i-ljuser-username" target="_self"><b>lacinka</b></a></span>, </span> </span> <br> <time class=" b-singlepost-author-date published dt-published "><a href="https://lacinka.livejournal.com/2005/" target="_self">2005</a>-<a href="https://lacinka.livejournal.com/2005/01/" target="_self">01</a>-<a href="https://lacinka.livejournal.com/2005/01/31/" target="_self">31</a> 16:24:00</time>   </div> <div class="b-singlepost-author-userinfo-print"> <span class=" b-singlepost-author-user fn p-name "> Zołak<br> <span class="ljuser  i-ljuser  i-ljuser-deleted  i-ljuser-type-P     " data-ljuser="zolak" lj:user="zolak"><a href="https://zolak.livejournal.com/profile" target="_self" class="i-ljuser-profile"><img class="i-ljuser-userhead" src="https://l-stat.livejournal.net/img/userinfo_v8.svg?v=17080?v=657"></a><a href="https://zolak.livejournal.com/" class="i-ljuser-username" target="_self"><b>zolak</b></a></span>  <br><span class="ljuser  i-ljuser  i-ljuser-type-C     " data-ljuser="lacinka" lj:user="lacinka"><a href="https://lacinka.livejournal.com/profile" target="_self" class="i-ljuser-profile"><img class="i-ljuser-userhead" src="https://l-stat.livejournal.net/img/community.gif?v=556?v=657"></a><a href="https://lacinka.livejournal.com/" class="i-ljuser-username" target="_self"><b>lacinka</b></a></span>  </span> <br> <time class=" b-singlepost-author-date published dt-published "><a href="https://lacinka.livejournal.com/2005/" target="_self">2005</a>-<a href="https://lacinka.livejournal.com/2005/01/" target="_self">01</a>-<a href="https://lacinka.livejournal.com/2005/01/31/" target="_self">31</a> 16:24:00</time> </div> </dd> </dl>  </div>    <div class="b-singlepost-wrapper">  ¤ <ul class="b-linkbar">  <li class="b-linkbar-item"><a href="https://www.livejournal.com/go.bml?journal=lacinka&amp;itemid=8478&amp;dir=prev" rel="nofollow" title="Previous" class="b-controls b-controls-prev" target="_self"><i class="b-controls-bg"></i>Previous</a></li>  <li class="b-linkbar-item ng-scope" lj-share="{ url: 'https://lacinka.livejournal.com/8478.html', title: '', text: '', hashtags: '', alwaysBottom: true }">
                <a href="javascript:void(0);" rel="nofollow" title="Share" class="b-controls b-controls-share js-lj-share" data-hashtags="" data-title="" data-url="https%3A%2F%2Flacinka.livejournal.com%2F8478.html" target="_self">
                    <i class="b-controls-bg"></i>Share
                </a>
            </li>  <li class="b-linkbar-item"><a href="https://www.livejournal.com/tools/content_flag.bml?user=lacinka&amp;itemid=8478" rel="nofollow" title="Flag" class="b-controls b-controls-flag" target="_self"><i class="b-controls-bg"></i>Flag</a></li>  <li class="b-linkbar-item"><a href="https://www.livejournal.com/go.bml?journal=lacinka&amp;itemid=8478&amp;dir=next" rel="nofollow" title="Next" class="b-controls b-controls-next" target="_self"><i class="b-controls-bg"></i>Next</a></li>  </ul> </div>      <div class="b-singlepost-bodywrapper">  <article class="b-singlepost-body entry-content e-content   ng-scope" lj-sale-entry="" lj-discovery-tags="" lj-embed-resizer=""> Bolšaść biełaruskich sajtaŭ siońnia maje haścioŭni. Bolšaść hetych haścioŭniaŭ nia maje padtrymki dla łacinki. <br>Jak vy dumajecie, ci varta raskručvać niejkuju nehatyŭnuju kampaniju suprać takich sajtaŭ? U sensie - moža naprykład zrabić niejkuju anty-uznaharodu, i pryznavać jaje sajtam kiryličnych šavinistaŭ? ;)<br><br>(Naviejana sajtam žygimont VAZA official website: <br><br><a href="http://www.zygvaza.net/" target="_blank" rel="nofollow"><img src="https://imgprx.livejournal.net/152e05cdf207f91c64936dccfa2f1f75228a9202/rIIafTAA7wdKldd6tDId96pAor-CJvkZ7Jk_Fsjycw0Vkm04E3SOtxUxjbBkfNmBBcnZuF1cfmbmYxVj79I14Q" border="0" width="468" height="60" alt="žygimont VAZA official website" title="žygimont VAZA official website" loading="lazy"></a>  </article>   </div>    </div> <div class="b-singlepost-video-wrap"> <div data-autoplay-dockable-video-mount=""></div> </div>
<div id="comments" class="b-grove" data-authtoken="c0:1682874000:370:86400:zG057FSnTH-0-:2433ad846b03f7b9a73238dbce4f80d7"> <div class=" b-xylem  b-xylem-first  "> <ul class="b-xylem-cells">  <li class=" b-xylem-cell b-xylem-cell-amount ">   <span class="js-amount">  11 comments  </span>   </li>  </ul>  </div> <div class=" b-massaction-top ">  </div>    <div class=" b-tree b-tree-best ">  </div> <div class=" b-tree b-tree-promo " data-currentprice="">  </div>  <div class=" b-tree b-tree-root svgpreloader svgpreloader-pseudo svgpreloader-30 "><div class=" b-tree-twig  b-tree-twig-1 b-tree-twig-deep-0  " style="margin-left: 0px" data-tid="t77086">    <div id="t77086" class=" b-leaf            b-leaf-full   comment p-comment " data-username="redwingedduck" data-displayname="redwingedduck" data-updated-ts="1107185967" data-full="1"> <div class=" b-leaf-inner svgpreloader svgpreloader-pseudo svgpreloader-16 "> <div class="b-leaf-header"> <div class="b-leaf-userpic"> <a href="https://redwingedduck.livejournal.com/" target="_blank" class="b-leaf-userpic-inner" lj:user="redwingedduck">   <img src="https://l-userpic.livejournal.com/33227201/697964" alt="redwingedduck" loading="lazy" title="RWD: che_duck">  </a> </div> <div class="b-leaf-details">   <p class="b-leaf-username"><span class="b-leaf-username-name"><span class="ljuser  i-ljuser  i-ljuser-type-P     " data-ljuser="redwingedduck" lj:user="redwingedduck"><a href="https://redwingedduck.livejournal.com/profile" class="i-ljuser-profile" target="_self"><img class="i-ljuser-userhead" src="https://l-stat.livejournal.net/img/userinfo_v8.svg?v=17080?v=657"></a><a href="https://redwingedduck.livejournal.com/" class="i-ljuser-username" target="_self"><b>redwingedduck</b></a></span> </span>  </p> <p class="b-leaf-meta">  <a href="https://lacinka.livejournal.com/8478.html?thread=77086#t77086" class="b-leaf-permalink" target="_self"> <span class="b-leaf-createdtime">January 31 2005, 15:39:27 UTC</span> </a>   <span class="b-leaf-shorttime">18 years ago</span>   </p>   </ul>        </div> </div>  <div class="b-leaf-article"> Радасна прыму прапанову наконт таго, як лепш зрабіць у гасьцёўні падтрымку лацінкі? :)<br>UTF-8, ці іншыя варыянты? </div>   </div> </div>    </div><div class=" b-tree-twig  b-tree-twig-2 b-tree-twig-deep-0  " style="margin-left: 30px" data-tid="t77342">    <div id="t77342" class=" b-leaf        b-leaf-poster      b-leaf-full   comment p-comment " data-username="zolak" data-displayname="zolak" data-updated-ts="1107187085" data-full="1"> <div class=" b-leaf-inner svgpreloader svgpreloader-pseudo svgpreloader-16 "> <div class="b-leaf-header"> <div class="b-leaf-userpic"> <a href="https://zolak.livejournal.com/" target="_blank" class="b-leaf-userpic-inner" lj:user="zolak">   <img src="https://l-stat.livejournal.net/img/userpics/userpic-user.png?v=15821" alt="zolak" loading="lazy">  </a> </div> <div class="b-leaf-details">   <p class="b-leaf-username"><span class="b-leaf-username-name"><span class="ljuser  i-ljuser  i-ljuser-deleted  i-ljuser-type-P     " data-ljuser="zolak" lj:user="zolak"><a href="https://zolak.livejournal.com/profile" class="i-ljuser-profile" target="_self"><img class="i-ljuser-userhead" src="https://l-stat.livejournal.net/img/userinfo_v8.svg?v=17080?v=657"></a><a href="https://zolak.livejournal.com/" class="i-ljuser-username" target="_self"><b>zolak</b></a></span> </span>  </p> <p class="b-leaf-meta">  <a href="https://lacinka.livejournal.com/8478.html?thread=77342#t77342" class="b-leaf-permalink" target="_self"> <span class="b-leaf-createdtime">January 31 2005, 15:58:05 UTC</span> </a>   <span class="b-leaf-shorttime">18 years ago</span>   </p>   </ul>        </div> </div>  <div class="b-leaf-article"> Utf-8 — vielmi dobraje vyjście dla sajtu, jaki chacieŭ by byc pryjazny dla łacinkavych karystalnikaŭ. Tym bolš, što łacinka jakby — častka image'u ZV.<br><br>Sorry, što vykarystoŭvaju prykład Taboj zroblenaha sajtu, ale ma maju na ŭvazie šyrejšuju źjavu. :) </div>   </div> </div>    </div><div class=" b-tree-twig  b-tree-twig-3 b-tree-twig-deep-0  " style="margin-left: 60px" data-tid="t77854">    <div id="t77854" class=" b-leaf            b-leaf-full   comment p-comment " data-username="redwingedduck" data-displayname="redwingedduck" data-updated-ts="1107187786" data-full="1"> <div class=" b-leaf-inner svgpreloader svgpreloader-pseudo svgpreloader-16 "> <div class="b-leaf-header"> <div class="b-leaf-userpic"> <a href="https://redwingedduck.livejournal.com/" target="_blank" class="b-leaf-userpic-inner" lj:user="redwingedduck">   <img src="https://l-userpic.livejournal.com/33227201/697964" alt="redwingedduck" loading="lazy" title="RWD: che_duck">  </a> </div> <div class="b-leaf-details">   <p class="b-leaf-username"><span class="b-leaf-username-name"><span class="ljuser  i-ljuser  i-ljuser-type-P     " data-ljuser="redwingedduck" lj:user="redwingedduck"><a href="https://redwingedduck.livejournal.com/profile" class="i-ljuser-profile" target="_self"><img class="i-ljuser-userhead" src="https://l-stat.livejournal.net/img/userinfo_v8.svg?v=17080?v=657"></a><a href="https://redwingedduck.livejournal.com/" class="i-ljuser-username" target="_self"><b>redwingedduck</b></a></span> </span>  </p> <p class="b-leaf-meta">  <a href="https://lacinka.livejournal.com/8478.html?thread=77854#t77854" class="b-leaf-permalink" target="_self"> <span class="b-leaf-createdtime">January 31 2005, 16:09:46 UTC</span> </a>   <span class="b-leaf-shorttime">18 years ago</span>   </p>   </ul>        </div> </div>  <div class="b-leaf-article"> Добра, я падумаю над вырашэньнем праблемы. Пераводу ўсяго сайту ў UTF-8 не магу абяцаць, але ў гасьцёўні паспрабую праблему лацінкі вырашыць. Адно толькі ўвадзіць лацінкавыя сымбалі прыдзецца праз іх наўпроставую ўстаўку, ці капіяваньне аднекуль, бо праз entities я іх дазваляць не хачу.<br> </div>   </div> </div>    </div><div class=" b-tree-twig  b-tree-twig-4 b-tree-twig-deep-0  " style="margin-left: 90px" data-tid="t78110">    <div id="t78110" class=" b-leaf        b-leaf-poster      b-leaf-full   comment p-comment " data-username="zolak" data-displayname="zolak" data-updated-ts="1107196085" data-full="1"> <div class=" b-leaf-inner svgpreloader svgpreloader-pseudo svgpreloader-16 "> <div class="b-leaf-header"> <div class="b-leaf-userpic"> <a href="https://zolak.livejournal.com/" target="_blank" class="b-leaf-userpic-inner" lj:user="zolak">   <img src="https://l-stat.livejournal.net/img/userpics/userpic-user.png?v=15821" alt="zolak" loading="lazy">  </a> </div> <div class="b-leaf-details">   <p class="b-leaf-username"><span class="b-leaf-username-name"><span class="ljuser  i-ljuser  i-ljuser-deleted  i-ljuser-type-P     " data-ljuser="zolak" lj:user="zolak"><a href="https://zolak.livejournal.com/profile" class="i-ljuser-profile" target="_self"><img class="i-ljuser-userhead" src="https://l-stat.livejournal.net/img/userinfo_v8.svg?v=17080?v=657"></a><a href="https://zolak.livejournal.com/" class="i-ljuser-username" target="_self"><b>zolak</b></a></span> </span>  </p> <p class="b-leaf-meta">  <a href="https://lacinka.livejournal.com/8478.html?thread=78110#t78110" class="b-leaf-permalink" target="_self"> <span class="b-leaf-createdtime">January 31 2005, 18:28:05 UTC</span> </a>   <span class="b-leaf-shorttime">18 years ago</span>   </p>   </ul>        </div> </div>  <div class="b-leaf-article"> Nasamreč nie abaviazkova kłapacicca, jak chto budzie ŭvodzić znaki. Važna, kab hascioŭnia ich adlustroŭvała. </div>   </div> </div>    </div><div class=" b-tree-twig  b-tree-twig-1 b-tree-twig-deep-0  " style="margin-left: 0px" data-tid="t77598">    <div id="t77598" class=" b-leaf            b-leaf-full   comment p-comment " data-username="zedlik" data-displayname="zedlik" data-updated-ts="1107187759" data-full="1"> <div class=" b-leaf-inner svgpreloader svgpreloader-pseudo svgpreloader-16 "> <div class="b-leaf-header"> <div class="b-leaf-userpic"> <a href="https://zedlik.livejournal.com/" target="_blank" class="b-leaf-userpic-inner" lj:user="zedlik">   <img src="https://l-userpic.livejournal.com/100856678/3643836" alt="zedlik" loading="lazy" title="zedlik: грын">  </a> </div> <div class="b-leaf-details">   <p class="b-leaf-username"><span class="b-leaf-username-name"><span class="ljuser  i-ljuser  i-ljuser-type-P     " data-ljuser="zedlik" lj:user="zedlik"><a href="https://zedlik.livejournal.com/profile" class="i-ljuser-profile" target="_self"><img class="i-ljuser-userhead" src="https://l-stat.livejournal.net/img/userinfo_v8.svg?v=17080?v=657"></a><a href="https://zedlik.livejournal.com/" class="i-ljuser-username" target="_self"><b>zedlik</b></a></span> </span>  </p> <p class="b-leaf-meta">  <a href="https://lacinka.livejournal.com/8478.html?thread=77598#t77598" class="b-leaf-permalink" target="_self"> <span class="b-leaf-createdtime">January 31 2005, 16:09:19 UTC</span> </a>   <span class="b-leaf-shorttime">18 years ago</span>   </p>   </ul>        </div> </div>  <div class="b-leaf-article"> Bolšaść biełaruskich sajtaŭ (prykładna stolki ž, kolki maje haścioŭni) vykarystoŭvajuć kadyroŭku windows-1251 dla svaich veb-staronak. Pry vakarystańni hetaj kadyroŭki prosta niemahčymaje užyvańnie łacinki ŭ haścioŭni biez pačačuju — treba pieravodzić jadro sajtu na Junikod. Tamu kali vebmajstar schilny pieraviarnuć nanoŭ uvieś kod sajtu tolki dla realizacyi padtrymki łacinki ŭ haścioŭni, jon heta zrobić havat kali jamu prosta prapanavać heta, adpraviŭšy list na mejł. Inakš jamu praściej budzie pasłać takija prapanovy razam z tymi, chto ich prapanoŭvaje.<br>Kampaniju raskrucić možna, tolki, dumaju, ničoha ź jaje nie atrymajecca. </div>   </div> </div>    </div><div class=" b-tree-twig  b-tree-twig-2 b-tree-twig-deep-0  " style="margin-left: 30px" data-tid="t78366">    <div id="t78366" class=" b-leaf        b-leaf-poster      b-leaf-full   comment p-comment " data-username="zolak" data-displayname="zolak" data-updated-ts="1107196493" data-full="1"> <div class=" b-leaf-inner svgpreloader svgpreloader-pseudo svgpreloader-16 "> <div class="b-leaf-header"> <div class="b-leaf-userpic"> <a href="https://zolak.livejournal.com/" target="_blank" class="b-leaf-userpic-inner" lj:user="zolak">   <img src="https://l-stat.livejournal.net/img/userpics/userpic-user.png?v=15821" alt="zolak" loading="lazy">  </a> </div> <div class="b-leaf-details">   <p class="b-leaf-username"><span class="b-leaf-username-name"><span class="ljuser  i-ljuser  i-ljuser-deleted  i-ljuser-type-P     " data-ljuser="zolak" lj:user="zolak"><a href="https://zolak.livejournal.com/profile" class="i-ljuser-profile" target="_self"><img class="i-ljuser-userhead" src="https://l-stat.livejournal.net/img/userinfo_v8.svg?v=17080?v=657"></a><a href="https://zolak.livejournal.com/" class="i-ljuser-username" target="_self"><b>zolak</b></a></span> </span>  </p> <p class="b-leaf-meta">  <a href="https://lacinka.livejournal.com/8478.html?thread=78366#t78366" class="b-leaf-permalink" target="_self"> <span class="b-leaf-createdtime">January 31 2005, 18:34:53 UTC</span> </a>   <span class="b-leaf-shorttime">18 years ago</span>   </p>   </ul>        </div> </div>  <div class="b-leaf-article"> Nu, dyk heta jasna, što kali webmajstra nia lubić łacinki, jon raniej ci paźniej pašle takija prapanovy razam z nami na try kiryličnyja litary. Adnak niekatoryja — i vielmi časta tak byvaje — robiać sajty biez padtrymki łacinki całkam nieśviadoma, nie padumaŭšy. Kali ž u webmajstra budzie śviadomaść taho, što łacinka heta važny aspekt, i što nasamreč isnuje ŭžo realnaja mahčymaść dać dla jaje na sajcie padtrymku, jon prynamsi pry rapracoŭcy nastupnaj versii sajtu pra heta budzie pamiatać. Prynamsi možna na heta spadziavacca. A na toje, što chtości zasiadzie i pierakanvertuje ŭvoieś svoj sajt ja niejak asabliva nie spadziajusia. Havorka chutčej pra akcentavańnie peŭnych rečaŭ. </div>   </div> </div>    </div><div class=" b-tree-twig  b-tree-twig-3 b-tree-twig-deep-0  " style="margin-left: 60px" data-tid="t78622">    <div id="t78622" class=" b-leaf            b-leaf-full   comment p-comment " data-username="zedlik" data-displayname="zedlik" data-updated-ts="1107206867" data-full="1"> <div class=" b-leaf-inner svgpreloader svgpreloader-pseudo svgpreloader-16 "> <div class="b-leaf-header"> <div class="b-leaf-userpic"> <a href="https://zedlik.livejournal.com/" target="_blank" class="b-leaf-userpic-inner" lj:user="zedlik">   <img src="https://l-userpic.livejournal.com/100856678/3643836" alt="zedlik" loading="lazy" title="zedlik: грын">  </a> </div> <div class="b-leaf-details">   <p class="b-leaf-username"><span class="b-leaf-username-name"><span class="ljuser  i-ljuser  i-ljuser-type-P     " data-ljuser="zedlik" lj:user="zedlik"><a href="https://zedlik.livejournal.com/profile" class="i-ljuser-profile" target="_self"><img class="i-ljuser-userhead" src="https://l-stat.livejournal.net/img/userinfo_v8.svg?v=17080?v=657"></a><a href="https://zedlik.livejournal.com/" class="i-ljuser-username" target="_self"><b>zedlik</b></a></span> </span>  </p> <p class="b-leaf-meta">  <a href="https://lacinka.livejournal.com/8478.html?thread=78622#t78622" class="b-leaf-permalink" target="_self"> <span class="b-leaf-createdtime">January 31 2005, 21:27:47 UTC</span> </a>   <span class="b-leaf-shorttime">18 years ago</span>   </p>   </ul>        </div> </div>  <div class="b-leaf-article"> Uvohule, kab na sajcie adnačasova padtrymlivalisia i kirylica i łacinka nieabchodna i dastatkova tolki adnaho-adzinaha — kab sajt byŭ u Junikodzie. Faktyčna roznyja UTF-16/32 navat razhladać nia varta, tamu ź Junikodaŭ zastajecca tolki UTF-8. Tobo zrabiŭ sajt u UTF-8, i choba — łacika ŭ haścioŭni ŭžo padtrymlivajecca. Ale ź inšaha boku, što hublajem: 1) niemahčymy naŭprostavy vyvad u patok dadzienuch — patrebnaja pramiežkavaja funkcyja; 2) kali rabić u UTF, to rabić treba ŭžo ŭvieś sajt, bo inakš vielmi niazručna karystacca šablonami; 3) pamier haścioŭni (forumu), jaki jana zajmaje ŭ bazie dadzienych, pavialičvajecca ŭdvaja, što ŭ niekatorych vypadkach źjaulajecca krytyčnym.<br><br>Atrymlivajecca, što padtrymka łacinki ŭ haścioŭni aŭtamatučna ŭklučajecca ŭžyvańniem UTF-8 (i vyklučajecca nieŭžyvańniem), z usimi vytvornymi plusami i minusami.<br>Takim čynam novy słogan: Robiš sajt? Rabi ŭ UTF-8! ;) </div>   </div> </div>    </div><div class=" b-tree-twig  b-tree-twig-4 b-tree-twig-deep-0  " style="margin-left: 90px" data-tid="t78878">    <div id="t78878" class=" b-leaf            b-leaf-full   comment p-comment " data-username="" data-displayname="" data-updated-ts="1107250707" data-full="1"> <div class=" b-leaf-inner svgpreloader svgpreloader-pseudo svgpreloader-16 "> <div class="b-leaf-header"> <div class="b-leaf-userpic"> <a href="" target="_blank" class="b-leaf-userpic-inner" lj:user="">   <img src="https://l-stat.livejournal.net/img/userpics/userpic-anonymous.png?v=15821" alt="" loading="lazy">  </a> </div> <div class="b-leaf-details">   <p class="b-leaf-username"><span class="b-leaf-username-name">Anonymous</span>  </p> <p class="b-leaf-meta">  <a href="https://lacinka.livejournal.com/8478.html?thread=78878#t78878" class="b-leaf-permalink" target="_self"> <span class="b-leaf-createdtime">February 1 2005, 09:38:27 UTC</span> </a>   <span class="b-leaf-shorttime">18 years ago</span>   </p>   </ul>        </div> </div>  <div class="b-leaf-article">  Robiš sajt? Rabi ŭ UTF-8! <br>OK! </div>   </div> </div>    </div><div class=" b-tree-twig  b-tree-twig-4 b-tree-twig-deep-0  " style="margin-left: 90px" data-tid="t79134">    <div id="t79134" class=" b-leaf        b-leaf-poster      b-leaf-full   comment p-comment " data-username="zolak" data-displayname="zolak" data-updated-ts="1107289341" data-full="1"> <div class=" b-leaf-inner svgpreloader svgpreloader-pseudo svgpreloader-16 "> <div class="b-leaf-header"> <div class="b-leaf-userpic"> <a href="https://zolak.livejournal.com/" target="_blank" class="b-leaf-userpic-inner" lj:user="zolak">   <img src="https://l-stat.livejournal.net/img/userpics/userpic-user.png?v=15821" alt="zolak" loading="lazy">  </a> </div> <div class="b-leaf-details">   <p class="b-leaf-username"><span class="b-leaf-username-name"><span class="ljuser  i-ljuser  i-ljuser-deleted  i-ljuser-type-P     " data-ljuser="zolak" lj:user="zolak"><a href="https://zolak.livejournal.com/profile" class="i-ljuser-profile" target="_self"><img class="i-ljuser-userhead" src="https://l-stat.livejournal.net/img/userinfo_v8.svg?v=17080?v=657"></a><a href="https://zolak.livejournal.com/" class="i-ljuser-username" target="_self"><b>zolak</b></a></span> </span>  </p> <p class="b-leaf-meta">  <a href="https://lacinka.livejournal.com/8478.html?thread=79134#t79134" class="b-leaf-permalink" target="_self"> <span class="b-leaf-createdtime">February 1 2005, 20:22:21 UTC</span> </a>   <span class="b-leaf-shorttime">18 years ago</span>   </p>   </ul>        </div> </div>  <div class="b-leaf-article"> Ja - za! </div>   </div> </div>    </div><div class=" b-tree-twig  b-tree-twig-1 b-tree-twig-deep-0  " style="margin-left: 0px" data-tid="t79390">    <div id="t79390" class=" b-leaf            b-leaf-full   comment p-comment " data-username="jaudosia" data-displayname="jaudosia" data-updated-ts="1107373931" data-full="1"> <div class=" b-leaf-inner svgpreloader svgpreloader-pseudo svgpreloader-16 "> <div class="b-leaf-header"> <div class="b-leaf-userpic"> <a href="https://jaudosia.livejournal.com/" target="_blank" class="b-leaf-userpic-inner" lj:user="jaudosia">   <img src="https://l-userpic.livejournal.com/10133378/794431" alt="jaudosia" loading="lazy" title="jaudosia: czyrvonaja dama">  </a> </div> <div class="b-leaf-details">   <p class="b-leaf-username"><span class="b-leaf-username-name"><span class="ljuser  i-ljuser  i-ljuser-type-P     " data-ljuser="jaudosia" lj:user="jaudosia"><a href="https://jaudosia.livejournal.com/profile" class="i-ljuser-profile" target="_self"><img class="i-ljuser-userhead" src="https://l-stat.livejournal.net/img/userinfo_v8.svg?v=17080?v=657"></a><a href="https://jaudosia.livejournal.com/" class="i-ljuser-username" target="_self"><b>jaudosia</b></a></span> </span>  </p> <p class="b-leaf-meta">  <a href="https://lacinka.livejournal.com/8478.html?thread=79390#t79390" class="b-leaf-permalink" target="_self"> <span class="b-leaf-createdtime">February 2 2005, 19:52:11 UTC</span> </a>   <span class="b-leaf-shorttime">18 years ago</span>   </p>   </ul>        </div> </div>  <div class="b-leaf-article"> o raju! <br>A moj kamputar jakraz pierastaw padtrymlivać kirylicu! Szavinist :( </div>   </div> </div>    </div><div class=" b-tree-twig  b-tree-twig-2 b-tree-twig-deep-0  " style="margin-left: 30px" data-tid="t79902">    <div id="t79902" class=" b-leaf        b-leaf-poster      b-leaf-full   comment p-comment " data-username="zolak" data-displayname="zolak" data-updated-ts="1107377209" data-full="1"> <div class=" b-leaf-inner svgpreloader svgpreloader-pseudo svgpreloader-16 "> <div class="b-leaf-header"> <div class="b-leaf-userpic"> <a href="https://zolak.livejournal.com/" target="_blank" class="b-leaf-userpic-inner" lj:user="zolak">   <img src="https://l-stat.livejournal.net/img/userpics/userpic-user.png?v=15821" alt="zolak" loading="lazy">  </a> </div> <div class="b-leaf-details">   <p class="b-leaf-username"><span class="b-leaf-username-name"><span class="ljuser  i-ljuser  i-ljuser-deleted  i-ljuser-type-P     " data-ljuser="zolak" lj:user="zolak"><a href="https://zolak.livejournal.com/profile" class="i-ljuser-profile" target="_self"><img class="i-ljuser-userhead" src="https://l-stat.livejournal.net/img/userinfo_v8.svg?v=17080?v=657"></a><a href="https://zolak.livejournal.com/" class="i-ljuser-username" target="_self"><b>zolak</b></a></span> </span>  </p> <p class="b-leaf-meta">  <a href="https://lacinka.livejournal.com/8478.html?thread=79902#t79902" class="b-leaf-permalink" target="_self"> <span class="b-leaf-createdtime">February 2 2005, 20:46:49 UTC</span> </a>   <span class="b-leaf-shorttime">18 years ago</span>   </p>   </ul>        </div> </div>  <div class="b-leaf-article"> Tak, z kirylicaj u ich niešta apošnim časam nia toje...  </div>   </div> </div>    </div></div>     <div prev-next-nav=""></div> <div suggestion-for-unlogged="" class="ng-isolate-scope"><!-- ngIf: directive.isBlockVisible --></div>   </div>         
