---
id: 9877
layout: page
date: 2022-10-16
---


<!-- s-body -->
        <div class="s-body">

            <!-- use header -->
            <!-- /use header -->

            <!-- Content -->
             <article class="b-singlepost hentry h-entry js-emojis  b-singlepost-mobileadaptive  b-singlepost-withbodybanner  ng-scope" role="main" ng-app="Entry"> <div class="b-singlepost-qrcode  ng-isolate-scope" lj-qrcode="https://lacinka.livejournal.com/9877.html" lj-qrcode-width="70" lj-qrcode-height="70"> <canvas width="70" height="70"></canvas></div> <div class="b-singlepost-about"> <dl class=" b-singlepost-author author vcard p-author h-card " ng-non-bindable=""> <dt class=" b-singlepost-author-userpic photo u-photo " lj:user="zolak">  <img src="https://l-userpic.livejournal.com/56724982/707281" width="" height="" align="absmiddle" title="Zołak: pic#56724982" alt="">  </dt> <dd class="b-singlepost-author-userinfo"> <div class="b-singlepost-author-userinfo-screen"> <span class=" b-singlepost-author-user fn p-name "> <span class="b-singlepost-author-user-screen"> Zołak (<span class="ljuser  i-ljuser  i-ljuser-deleted  i-ljuser-type-P     " data-ljuser="zolak" lj:user="zolak"><a href="https://zolak.livejournal.com/profile" target="_self" class="i-ljuser-profile"><img class="i-ljuser-userhead" src="https://l-stat.livejournal.net/img/userinfo_v8.svg?v=17080?v=657"></a><a href="https://zolak.livejournal.com/" class="i-ljuser-username" target="_self"><b>zolak</b></a></span>) wrote in <span class="ljuser  i-ljuser  i-ljuser-type-C     " data-ljuser="lacinka" lj:user="lacinka"><a href="https://lacinka.livejournal.com/profile" target="_self" class="i-ljuser-profile"><img class="i-ljuser-userhead" src="https://l-stat.livejournal.net/img/community.gif?v=556?v=657"></a><a href="https://lacinka.livejournal.com/" class="i-ljuser-username" target="_self"><b>lacinka</b></a></span>, </span> </span> <br> <time class=" b-singlepost-author-date published dt-published "><a href="https://lacinka.livejournal.com/2005/" target="_self">2005</a>-<a href="https://lacinka.livejournal.com/2005/02/" target="_self">02</a>-<a href="https://lacinka.livejournal.com/2005/02/19/" target="_self">19</a> 01:50:00</time>   </div> <div class="b-singlepost-author-userinfo-print"> <span class=" b-singlepost-author-user fn p-name "> Zołak<br> <span class="ljuser  i-ljuser  i-ljuser-deleted  i-ljuser-type-P     " data-ljuser="zolak" lj:user="zolak"><a href="https://zolak.livejournal.com/profile" target="_self" class="i-ljuser-profile"><img class="i-ljuser-userhead" src="https://l-stat.livejournal.net/img/userinfo_v8.svg?v=17080?v=657"></a><a href="https://zolak.livejournal.com/" class="i-ljuser-username" target="_self"><b>zolak</b></a></span>  <br><span class="ljuser  i-ljuser  i-ljuser-type-C     " data-ljuser="lacinka" lj:user="lacinka"><a href="https://lacinka.livejournal.com/profile" target="_self" class="i-ljuser-profile"><img class="i-ljuser-userhead" src="https://l-stat.livejournal.net/img/community.gif?v=556?v=657"></a><a href="https://lacinka.livejournal.com/" class="i-ljuser-username" target="_self"><b>lacinka</b></a></span>  </span> <br> <time class=" b-singlepost-author-date published dt-published "><a href="https://lacinka.livejournal.com/2005/" target="_self">2005</a>-<a href="https://lacinka.livejournal.com/2005/02/" target="_self">02</a>-<a href="https://lacinka.livejournal.com/2005/02/19/" target="_self">19</a> 01:50:00</time> </div> </dd> </dl>  </div>    <div class="b-singlepost-wrapper">  ¤ <ul class="b-linkbar">  <li class="b-linkbar-item"><a href="https://www.livejournal.com/go.bml?journal=lacinka&amp;itemid=9877&amp;dir=prev" rel="nofollow" title="Previous" class="b-controls b-controls-prev" target="_self"><i class="b-controls-bg"></i>Previous</a></li>  <li class="b-linkbar-item ng-scope" lj-share="{ url: 'https://lacinka.livejournal.com/9877.html', title: '', text: '', hashtags: '', alwaysBottom: true }">
                <a href="javascript:void(0);" rel="nofollow" title="Share" class="b-controls b-controls-share js-lj-share" data-hashtags="" data-title="" data-url="https%3A%2F%2Flacinka.livejournal.com%2F9877.html" target="_self">
                    <i class="b-controls-bg"></i>Share
                </a>
            </li>  <li class="b-linkbar-item"><a href="https://www.livejournal.com/tools/content_flag.bml?user=lacinka&amp;itemid=9877" rel="nofollow" title="Flag" class="b-controls b-controls-flag" target="_self"><i class="b-controls-bg"></i>Flag</a></li>  <li class="b-linkbar-item"><a href="https://www.livejournal.com/go.bml?journal=lacinka&amp;itemid=9877&amp;dir=next" rel="nofollow" title="Next" class="b-controls b-controls-next" target="_self"><i class="b-controls-bg"></i>Next</a></li>  </ul> </div>      <div class="b-singlepost-bodywrapper">  <article class="b-singlepost-body entry-content e-content   ng-scope" lj-sale-entry="" lj-discovery-tags="" lj-embed-resizer=""> Jan Maksimiuk prydumaŭ žycharam Padlašša novuju movu. Dakładniej, hrupu padlaskich havorak prapanuje nazvać movaj. Nazvy jašče niama. Litaratura ŭžo jość. Navat pierakłady jość. I nośbity...  <br><br>Karaciej, heta doŭhi (ja ceły viečar pryśviaciŭ, kab pierakłaści jaho) ale važny artykuł. Mahčyma jon pačynaje niešta novaje. <a href="http://www.lacinka.com" rel="nofollow" target="_self">Va ŭsiakim razie ŭsim abaviazkova raju paznajomicca</a>.<br><br>U mianie nazreła niekalki dumak, ale pačakaju ź ich abnarodvańniem. Cikava było b pačuć i Vašyja mierkavańni.  </article>   </div>    </div> <div class="b-singlepost-video-wrap"> <div data-autoplay-dockable-video-mount=""></div> </div>
<div id="comments" class="b-grove" data-authtoken="c0:1682874000:375:86400:ewbDg0ZgCo-0-:6bfa810b2b269ed0d64bf735046969ba"> <div class=" b-xylem  b-xylem-first  "> <ul class="b-xylem-cells">  <li class=" b-xylem-cell b-xylem-cell-amount ">   <span class="js-amount">  4 comments  </span>   </li>  </ul>  </div> <div class=" b-massaction-top ">  </div>    <div class=" b-tree b-tree-best ">  </div> <div class=" b-tree b-tree-promo " data-currentprice="">  </div>  <div class=" b-tree b-tree-root svgpreloader svgpreloader-pseudo svgpreloader-30 "><div class=" b-tree-twig  b-tree-twig-1 b-tree-twig-deep-0  " style="margin-left: 0px" data-tid="t93333">    <div class=" b-leaf b-leaf-clipped b-leaf-deleted " id="t93333"> <div class=" b-leaf-inner svgpreloader svgpreloader-pseudo svgpreloader-16 "> <div class="b-leaf-cheader"> <p class="b-leaf-status">  Deleted comment  </p>   </div>  </div> </div>    </div><div class=" b-tree-twig  b-tree-twig-2 b-tree-twig-deep-0  " style="margin-left: 30px" data-tid="t93589">    <div id="t93589" class=" b-leaf        b-leaf-poster      b-leaf-full   comment p-comment " data-username="zolak" data-displayname="zolak" data-updated-ts="1108845182" data-full="1"> <div class=" b-leaf-inner svgpreloader svgpreloader-pseudo svgpreloader-16 "> <div class="b-leaf-header"> <div class="b-leaf-userpic"> <a href="https://zolak.livejournal.com/" target="_blank" class="b-leaf-userpic-inner" lj:user="zolak">   <img src="https://l-stat.livejournal.net/img/userpics/userpic-user.png?v=15821" alt="zolak" loading="lazy">  </a> </div> <div class="b-leaf-details">   <p class="b-leaf-username"><span class="b-leaf-username-name"><span class="ljuser  i-ljuser  i-ljuser-deleted  i-ljuser-type-P     " data-ljuser="zolak" lj:user="zolak"><a href="https://zolak.livejournal.com/profile" class="i-ljuser-profile" target="_self"><img class="i-ljuser-userhead" src="https://l-stat.livejournal.net/img/userinfo_v8.svg?v=17080?v=657"></a><a href="https://zolak.livejournal.com/" class="i-ljuser-username" target="_self"><b>zolak</b></a></span> </span>  </p> <p class="b-leaf-meta">  <a href="https://lacinka.livejournal.com/9877.html?thread=93589#t93589" class="b-leaf-permalink" target="_self"> <span class="b-leaf-createdtime">February 19 2005, 20:33:02 UTC</span> </a>   <span class="b-leaf-shorttime">18 years ago</span>   </p>   </ul>        </div> </div>  <div class="b-leaf-article"> Maja pieršaja reakcyja była padobnaj. </div>   </div> </div>    </div><div class=" b-tree-twig  b-tree-twig-2 b-tree-twig-deep-0  " style="margin-left: 30px" data-tid="t94357">    <div id="t94357" class=" b-leaf        b-leaf-poster      b-leaf-full   comment p-comment " data-username="zolak" data-displayname="zolak" data-updated-ts="1108891356" data-full="1"> <div class=" b-leaf-inner svgpreloader svgpreloader-pseudo svgpreloader-16 "> <div class="b-leaf-header"> <div class="b-leaf-userpic"> <a href="https://zolak.livejournal.com/" target="_blank" class="b-leaf-userpic-inner" lj:user="zolak">   <img src="https://l-stat.livejournal.net/img/userpics/userpic-user.png?v=15821" alt="zolak" loading="lazy">  </a> </div> <div class="b-leaf-details">   <p class="b-leaf-username"><span class="b-leaf-username-name"><span class="ljuser  i-ljuser  i-ljuser-deleted  i-ljuser-type-P     " data-ljuser="zolak" lj:user="zolak"><a href="https://zolak.livejournal.com/profile" class="i-ljuser-profile" target="_self"><img class="i-ljuser-userhead" src="https://l-stat.livejournal.net/img/userinfo_v8.svg?v=17080?v=657"></a><a href="https://zolak.livejournal.com/" class="i-ljuser-username" target="_self"><b>zolak</b></a></span> </span>  </p> <p class="b-leaf-meta">  <a href="https://lacinka.livejournal.com/9877.html?thread=94357#t94357" class="b-leaf-permalink" target="_self"> <span class="b-leaf-createdtime">February 20 2005, 09:22:36 UTC</span> </a>   <span class="b-leaf-shorttime">18 years ago</span>   </p>   </ul>        </div> </div>  <div class="b-leaf-article"> <a href="http://www.livejournal.com/community/lacinka/9877.html?replyto=94101" target="_self">http://www.livejournal.com/community/lacinka/9877.html?replyto=94101</a> </div>   </div> </div>    </div><div class=" b-tree-twig  b-tree-twig-1 b-tree-twig-deep-0  " style="margin-left: 0px" data-tid="t93845">    <div class=" b-leaf b-leaf-clipped b-leaf-deleted " id="t93845"> <div class=" b-leaf-inner svgpreloader svgpreloader-pseudo svgpreloader-16 "> <div class="b-leaf-cheader"> <p class="b-leaf-status">  Deleted comment  </p>   </div>  </div> </div>    </div><div class=" b-tree-twig  b-tree-twig-2 b-tree-twig-deep-0  " style="margin-left: 30px" data-tid="t94101">    <div id="t94101" class=" b-leaf        b-leaf-poster      b-leaf-full   comment p-comment " data-username="zolak" data-displayname="zolak" data-updated-ts="1108891332" data-full="1"> <div class=" b-leaf-inner svgpreloader svgpreloader-pseudo svgpreloader-16 "> <div class="b-leaf-header"> <div class="b-leaf-userpic"> <a href="https://zolak.livejournal.com/" target="_blank" class="b-leaf-userpic-inner" lj:user="zolak">   <img src="https://l-stat.livejournal.net/img/userpics/userpic-user.png?v=15821" alt="zolak" loading="lazy">  </a> </div> <div class="b-leaf-details">   <p class="b-leaf-username"><span class="b-leaf-username-name"><span class="ljuser  i-ljuser  i-ljuser-deleted  i-ljuser-type-P     " data-ljuser="zolak" lj:user="zolak"><a href="https://zolak.livejournal.com/profile" class="i-ljuser-profile" target="_self"><img class="i-ljuser-userhead" src="https://l-stat.livejournal.net/img/userinfo_v8.svg?v=17080?v=657"></a><a href="https://zolak.livejournal.com/" class="i-ljuser-username" target="_self"><b>zolak</b></a></span> </span>  </p> <p class="b-leaf-meta">  <a href="https://lacinka.livejournal.com/9877.html?thread=94101#t94101" class="b-leaf-permalink" target="_self"> <span class="b-leaf-createdtime">February 20 2005, 09:22:12 UTC</span> </a>   <span class="b-leaf-shorttime">18 years ago</span>   </p>   </ul>        </div> </div>  <div class="b-leaf-article"> Nu, kirylica j łacinka — tolki hrafičnyja vyjaŭleńni faktu jsnavańnia movy. Nia viedaju, ci z movy moža raźvivcca niejki nacyjanalizm. <br><br>Maja pieršaja reakcyja na hety artykuł była padobnaja da reakcyi <span class="ljuser  i-ljuser  i-ljuser-deleted  i-ljuser-type-P     " data-ljuser="palivac" lj:user="palivac"><a href="https://palivac.livejournal.com/profile" target="_self" class="i-ljuser-profile"><img class="i-ljuser-userhead" src="https://l-stat.livejournal.net/img/userinfo_v8.svg?v=17080?v=657"></a><a href="https://palivac.livejournal.com/" class="i-ljuser-username" target="_self"><b>palivac</b></a></span>a, što heta šlach u nikudy. Na hajnowka.com.pl ja 16 lutaha napisaŭ, što liču hetkaje prydumvańnie movy niečym nakštałt pošuku apraŭdańnia adsutnaści nacyjanalnaj(biełaruskaj) śviadomaści žycharoŭ Padlašša, i što da adradžeńnia biełaruskaści heta nie viadzie.<br><br>Usio heta nibyta j tak, ale padlaskija biełarusy nia schilnyja atajasamlivać siabie ź biełaruskaściu ŭ čystym vyhladzie. Vierahodna ŭ vialikaj stupieni tamu, što hetaj biełaruskaści ŭ čystym vyhladzie prosta niama. A padlaskaja tutejšaść — jość. Jaje nia treba adradžać, jaje nieabchodna zachavać.  Žyvy j namacalny prykład — <span class="ljuser  i-ljuser  i-ljuser-type-P     " data-ljuser="jaudosia" lj:user="jaudosia"><a href="https://jaudosia.livejournal.com/profile" target="_self" class="i-ljuser-profile"><img class="i-ljuser-userhead" src="https://l-stat.livejournal.net/img/userinfo_v8.svg?v=17080?v=657"></a><a href="https://jaudosia.livejournal.com/" class="i-ljuser-username" target="_self"><b>jaudosia</b></a></span> (namacalny ŭ sensie, što my jaje viedajem z lj), jakaja pry ŭsim svaim žadańni nia moža da kanca atajasamlivać siabie z nami, „biełarusami adtul”... I jana nie adna takaja. Zrešty, heta nia dziŭna. Takija fakty. Padzieł na <b>my</b> (tutejšyja, sa svaimi balačkami j vahańniami, kštałku „chto ž my **** takija?”) i <b>jany</b> (tamtejšyja, ź Biełarusi, jakija pryjaždžajuć da nas i chočuć znajści tut reliktavuju, nieskažonuju savieckaściu čystuju biełaruskaść, a jaje ž tut nikoli nie było!) zaŭždy byŭ i jość. Dyk u takoj sytuacyi sproba abjadnać havorki ŭ niešta bolš ci mienš adzinaje vyhladaje jak śmieły ale lahičny ruch. Moža narodu z hetaha j nia budzie. <br><br>Nia vieru ŭ toje, što taki pudlaski narod budzie bližejšy da biełaruskaha. Emansipacyja heta zaŭždy pošuk ułasnaha asobnaha šlachu. Zatoje vieru ŭ toje, što hety praces (a ideja J. Maksimiuka nia vyssanaja z palca, heta ž ahučańnie peŭnaj realnaści) narodzić siarod žycharoŭ Padlašša choć krychu sajuźnikaŭ našaj biełaruskaj łacinki. A heta ŭžo taja vartaść, dziela jakoja ja schilny padtrymać stvareńnie padlaskaj movy. Nadalej nie biaz skryhatu zubami, ale tak. </div>   </div> </div>    </div></div>     <div prev-next-nav=""></div> <div suggestion-for-unlogged="" class="ng-isolate-scope"><!-- ngIf: directive.isBlockVisible --></div>   </div>         