---
layout: default
---

<article class="page">

  <h1>{{ site.data.titles[page.id] }}</h1>
  {% assign author = site.data.authors[page.id] %}
  <img src='{{site.data.authordata[author]["pic"]}}' height="15rem;"> <em>{{ site.data.authordata[author]["readablename"] }} ({{ site.data.authors[page.id] }}) {{ site.data.dates[page.id] }} u {{ site.data.times[page.id]}}</em>

  <div class="entry">
    {{ content }}
  </div>
</article>
